.saltCarousel {
  display: grid;
  grid-row-gap: var(--salt-spacing-100);
  grid-template-areas: "controls" "slider";
  grid-template-rows: auto 1fr;
}

.saltCarousel.saltCarousel-bottom {
  grid-template-areas: "slider" "controls";
  grid-template-rows: 1fr auto;
}
