.saltCarouselSlider {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
}
.saltCarouselSlider-bordered {
  border: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-container-primary-borderColor);
  border-radius: var(--salt-palette-corner, 0);
}
