.saltCarouselControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.saltCarouselControls:last-child {
  margin-left: auto;
}
.saltCarouselControls h2 {
  margin: 0;
}
.saltCarouselControls-controls {
  display: flex;
  gap: var(--salt-spacing-100);
  padding-top: var(--salt-spacing-100);
  padding-bottom: var(--salt-spacing-100);
  align-items: center;
}
