.uitkParentChildItem-slide-top {
  animation: var(--salt-animation-slide-in-top);
}
.uitkParentChildItem-slide-bottom {
  animation: var(--salt-animation-slide-in-bottom);
}
.uitkParentChildItem-slide-left {
  animation: var(--salt-animation-slide-in-left);
}
.uitkParentChildItem-slide-right {
  animation: var(--salt-animation-slide-in-right);
}
