.saltPagination {
  --pagination-button-size: var(--salt-size-base);
  --pagination-fontSize: var(--salt-text-fontSize);

  display: flex;
  flex-direction: row;
}

.saltPagination-arrowButton {
  --saltButton-width: var(--pagination-button-size);
  --saltButton-height: var(--pagination-button-size);
  --saltButton-padding: var(--salt-spacing-100);
  --saltButton-margin: 0;
}

.saltPagination-previousButton {
  --saltButton-margin: 0 var(--salt-spacing-100) 0 0;
}

.saltPagination-nextButton {
  --saltButton-margin: 0 0 0 var(--salt-spacing-100);
}

.saltPagination-pageButton {
  --saltButton-minWidth: var(--pagination-button-size);
  --saltButton-fontWeight: var(--salt-text-fontWeight);
  --saltButton-height: var(--pagination-button-size);
}

.saltPagination-pageButton:hover,
.saltPagination-pageButton:focus-visible {
  --saltButton-background-hover: var(--salt-selectable-background-hover);
  --saltButton-text-color-hover: var(--salt-selectable-foreground);
}

.saltPagination-pageButton.saltPagination-readonly {
  --saltButton-text-color-disabled: var(--salt-selectable-foreground);
  --saltButton-cursor-disabled: var(--salt-editable-cursor-readonly);
}

.saltPagination-pageButtonSelected {
  --saltButton-background: var(--salt-selectable-background-selected);
  --saltButton-text-color: var(--salt-selectable-foreground);
}
.saltPagination-pageButtonSelected:focus-visible {
  --saltButton-background-hover: var(--salt-selectable-background-selected);
  --saltButton-text-color-hover: var(--salt-selectable-foreground);
}

.saltPagination-pageButtonFixed {
  padding: 0;
}

.saltPagination-ellipsis {
  width: var(--pagination-button-size);
  height: var(--pagination-button-size);
  text-align: center;
  line-height: var(--pagination-button-size);
}

.saltPagination-accessibleText {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
}

/* .saltPagination-compactInputField {
} */

.saltPagination-compactInput {
  --saltInput-minWidth: unset;
  --saltInput-paddingLeft: 0;
  --saltInput-paddingRight: 0;
  height: var(--pagination-button-size);
}

.saltPagination-compactInputFixed {
  --saltInput-minWidth: var(--pagination-button-size);
  width: var(--pagination-button-size);
}

.saltPagination-compactSeparator {
  height: var(--pagination-button-size);
  width: var(--pagination-button-size);
  text-align: center;
  font-size: var(--pagination-fontSize);
  line-height: var(--pagination-button-size);
}

.saltPagination-goToInputWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--salt-spacing-100);
  align-items: baseline;
}

.saltPagination-leftGoToInput {
  margin-right: var(--salt-spacing-100);
}

.saltPagination-rightGoToInput {
  margin-left: var(--salt-spacing-100);
}

.saltPagination-goToInput {
  height: var(--pagination-button-size);
  --saltInput-minWidth: unset;
}

.saltPagination-goToInputFixed {
  --saltInput-minWidth: var(--pagination-button-size);
  max-width: var(--pagination-button-size);
  width: var(--pagination-button-size);
}
