.saltPagination {
  --pagination-button-size: var(--salt-size-base);
  --pagination-fontSize: var(--salt-text-fontSize);

  display: flex;
  flex-direction: row;
}

.saltPagination-arrowButton {
  width: var(--pagination-button-size);
  height: var(--pagination-button-size);
}

.saltPagination-previousButton {
  margin-right: var(--salt-size-unit);
}

.saltPagination-nextButton {
  margin-left: var(--salt-size-unit);
}

.saltPagination-pageButton {
  min-width: var(--pagination-button-size);
  height: var(--pagination-button-size);
  --saltButton-fontWeight: var(--salt-text-fontWeight);
}

.saltPagination-pageButtonSelected {
  background: var(--salt-selectable-background-selected);
  color: var(--salt-selectable-cta-foreground-selected);
}

.saltPagination-pageButtonFixed {
  padding: 0;
}

.saltPagination-ellipsis {
  width: var(--pagination-button-size);
  height: var(--pagination-button-size);
  text-align: center;
}

.saltPagination-accessibleText {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
}

.saltPagination-compactInputField {
}

.saltPagination-compactInput {
  height: var(--pagination-button-size);
  min-width: unset;
}

.saltPagination-compactInputFixed {
  min-width: var(--pagination-button-size);
  width: var(--pagination-button-size);
}

.saltPagination-compactSeparator {
  height: var(--pagination-button-size);
  width: var(--pagination-button-size);
  text-align: center;
  font-size: var(--pagination-fontSize);
  line-height: var(--pagination-button-size);
}

.saltPagination-goToInputWrapper {
}

.saltPagination-leftGoToInput {
  margin-right: var(--salt-size-unit);
}

.saltPagination-rightGoToInput {
  margin-left: var(--salt-size-unit);
  min-width: unset;
}

.saltPagination-goToInputField {
}

.saltPagination-goToInput {
  height: var(--pagination-button-size);
  min-width: unset;
}

.saltPagination-goToInputFixed {
  min-width: var(--pagination-button-size);
  width: var(--pagination-button-size);
}
