.root {
  grid-area: header;
  display: flex;
  align-items: center;
  background: var(--salt-container-primary-background);
  height: var(--site-app-header-height);
  border-bottom: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-separable-primary-borderColor);
  position: sticky;
  top: 0;
  z-index: var(--salt-zIndex-appHeader);
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--salt-spacing-300);
  justify-content: space-between;
  padding-inline: var(--salt-spacing-300);
}

.actions {
  display: flex;
  gap: var(--salt-spacing-100);
  justify-content: flex-end;
  width: 100%;
}

@media not screen and (min-width: 960px) {
  .root {
    padding-inline: var(--salt-spacing-100);
  }

  .content {
    padding-right: 0;
    padding-left: var(--salt-spacing-100);
  }

  .actions {
    gap: var(--salt-spacing-100);
  }
}

.itemTitle {
  white-space: nowrap;
}

.logoLink:focus-visible {
  outline: var(--salt-focused-outline);
}

.search {
  max-width: 100%;
}

@media screen and (min-width: 960px) {
  .search {
    max-width: 30%;
  }
}
