.announcementHeading {
  margin: 0;
}

.announcementContent {
  flex: 1 1 50%;
  min-width: 0;
}

.announcementImage {
  flex: 1 1 50%;
  min-width: 0;
  width: 100%;
  display: block;
  object-fit: contain;
  align-self: flex-start;
}
