.BorderBlock-cell {
  width: var(--uitk-size-base);
  height: var(--uitk-size-base);
  justify-self: end;

  border-color: var(--uitk-container-borderColor-medium);
  border-style: var(--uitk-container-borderStyle);
  border-width: var(--uitk-container-borderWidth);
  border-radius: 0;
}
