.docblock-colorpalette > div > div:nth-child(1) {
  flex: none;
  width: 160px;
  -webkit-flex: none;
}

.paletteContainer .docblock-colorpalette > div > div > div:nth-child(2) {
  display: none;
}

.docblock-colorpalette div > span {
  display: none;
}

.docblock-colorpalette div * {
  color: var(--salt-foreground-primary);
}
