.CornerBlock-cell {
  width: var(--salt-size-base);
  height: var(--salt-size-base);
  justify-self: end;

  border-color: var(--salt-container-primary-borderColor);
  border-style: var(--salt-container-borderStyle);
  border-width: var(--salt-size-border);
  border-radius: 0;

  display: flex;
  align-items: center;

  position: relative;
}

.CornerBlock-inner {
  position: absolute;
  bottom: 0;
  left: 0;

  width: calc(var(--salt-size-base) * 3 / 4);
  height: calc(var(--salt-size-base) * 3 / 4);

  border-color: var(--salt-container-primary-borderColor);
  border-style: var(--salt-container-borderStyle);
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-width: var(--salt-size-border);
  border-right-width: var(--salt-size-border);
}
