.uitkDocGrid {
  --doc-grid-gap: var(--uitk-size-unit);
  --doc-grid-paddingBlockStart: var(--uitk-size-unit);
  --doc-grid-paddingBlockEnd: var(--uitk-size-unit);

  --doc-grid-code-fontSize: var(--uitk-text-fontSize);
  --doc-grid-code-text-color: var(--uitk-text-primary-foreground);
}

.uitkDocGrid {
  align-items: center;
  background: var(--uitk-container-background-medium);
  display: grid;
  height: var(--uitkDocGrid-height, unset);
  gap: var(--uitkDocGrid-gap, var(--doc-grid-gap));
  grid-template-columns: repeat(2, auto);
  padding-block-start: var(--uitkDocGrid-paddingBlockStart, var(--doc-grid-paddingBlockStart));
  padding-block-end: var(--uitkDocGrid-paddingBlockEnd, var(--doc-grid-paddingBlockEnd));
  line-height: 1;
  width: var(--uitkDocGrid-width, auto);
}

.uitkDocGrid-textExample {
  width: fit-content;
}
