.uitkDocGrid {
  --doc-grid-gap: var(--uitk-size-unit);
  --doc-grid-padding-block-start: var(--uitk-size-unit);
  --doc-grid-padding-block-end: var(--uitk-size-unit);

  --doc-grid-code-font-size: var(--uitk-text-font-size);
  --doc-grid-code-text-color: var(--uitk-text-primary-color);
}

.uitkDocGrid {
  align-items: center;
  background: var(--uitk-container-background-medium);
  display: grid;
  height: var(--uitkDocGrid-height, unset);
  gap: var(--uitkDocGrid-gap, var(--doc-grid-gap));
  grid-template-columns: repeat(2, auto);
  padding-block-start: var(--doc-grid-padding-block-start);
  padding-block-end: var(--doc-grid-padding-block-end);
  line-height: 1;
  width: var(--uitkDocGrid-width, auto);
}

.uitkDocGrid-textExample {
  width: fit-content;
}
