.saltDocGrid {
  --doc-grid-gap: var(--salt-size-unit);
  --doc-grid-paddingBlockStart: var(--salt-size-unit);
  --doc-grid-paddingBlockEnd: var(--salt-size-unit);

  --doc-grid-code-fontSize: var(--salt-text-fontSize);
  --doc-grid-code-text-color: var(--salt-text-primary-foreground);
}

.saltDocGrid {
  align-items: center;
  background: var(--salt-container-primary-background);
  display: grid;
  height: var(--saltDocGrid-height, unset);
  gap: var(--saltDocGrid-gap, var(--doc-grid-gap));
  grid-template-columns: repeat(2, auto);
  padding-block-start: var(--saltDocGrid-paddingBlockStart, var(--doc-grid-paddingBlockStart));
  padding-block-end: var(--saltDocGrid-paddingBlockEnd, var(--doc-grid-paddingBlockEnd));
  line-height: 1;
  width: var(--saltDocGrid-width, auto);
}

.saltDocGrid-textExample {
  width: fit-content;
}
