.uitkDraggableSnapshot {
  --draggableSnapshot-header-height: 120px;
  --draggableSnapshot-img-height: var(--draggableSnapshot-uitkDraggableSnapshot-img-height, 900px);
  --draggableSnapshot-img-opacity: var(--draggableSnapshot-uitkDraggableSnapshot-opacity, 0.5);
  --draggableSnapshot-img-width: var(--draggableSnapshot-uitkDraggableSnapshot-img-width, 1600px);
  --draggableSnapshot-snapshot-url: var(--draggableSnapshot-uitkDraggableSnapshot-url);
  cursor: grab;
  left: 0;
  position: absolute;
  height: calc(var(--draggableSnapshot-header-height) + var(--draggableSnapshot-img-height));
  outline: none;
  top: 0;
  width: var(--draggableSnapshot-img-width);
  z-index: 1000;
}

.uitkDraggableSnapshot-sliding {
  transition-property: left, top;
  transition-duration: 0.3s;
}

.uitkDraggableSnapshot-header {
  background-color: var(--draggableSnapshot-uitk-container-background-high);
  box-sizing: border-box;
  height: var(--draggableSnapshot-header-height);
  padding: 8px;
}

.uitkDraggableSnapshot-actions {
  display: flex;
  gap: 6px;
}

.uitkDraggableSnapshot-img {
  background: var(--draggableSnapshot-snapshot-url) no-repeat;
  background-size: var(--uitkDraggableSnapshot-background-size, var(--draggableSnapshot-img-width) var(--draggableSnapshot-img-height));
  width: var(--draggableSnapshot-img-width);
  height: var(--draggableSnapshot-img-height);
  opacity: var(--draggableSnapshot-img-opacity);
}
