.FontBlock-cell {
  width: var(--salt-size-base);
  height: var(--salt-size-base);
  justify-self: end;

  color: var(--salt-foreground-primary);

  border-color: var(--salt-container-primary-borderColor);
  border-style: var(--salt-container-borderStyle);
  border-width: var(--salt-size-border);
  border-radius: 0;
}
