.LineBlock-cell {
  width: var(--uitk-size-regular-unit);
  height: var(--uitk-size-regular-unit);
  justify-self: end;

  border-color: var(--uitk-container-low-emphasis-border-color);
  border-style: var(--uitk-container-border-style);
  border-width: var(--uitk-container-border-width);
  border-radius: var(--uitk-container-border-radius);

  display: flex;
  align-items: center;
}

.LineBlock-svg {
  width: 100%;
  height: 100%;

  stroke: var(--uitk-container-low-emphasis-border-color);
}
