.LineBlock-cell {
  width: var(--uitk-size-base);
  height: var(--uitk-size-base);
  justify-self: end;

  border-color: var(--uitk-container-primary-borderColor);
  border-style: var(--uitk-container-borderStyle);
  border-width: var(--uitk-size-border);
  border-radius: 0;

  display: flex;
  align-items: center;
}

.LineBlock-svg {
  width: 100%;
  height: 100%;

  stroke: var(--uitk-container-primary-borderColor);
}
