.NumberBlock-cell {
  width: calc(var(--salt-size-base) * 1.3);
  height: var(--salt-size-base);
  line-height: var(--salt-size-base);
  justify-self: end;

  border-color: var(--salt-container-primary-borderColor);
  border-style: var(--salt-container-borderStyle);
  border-width: var(--salt-size-border);
  border-radius: 0;

  font-size: var(--salt-text-fontSize);
  text-align: center;
}
