.saltQAContainer {
  --qaContainer-cols: 3;
  --qaContainer-height: 900px;
  --qaContainer-width: 1600px;
  --qaContainer-padding: 4px;
  --qaContainer-item-padding: 0px;
  --qaContainer-item-width: unset;
  --qaContainer-mode-cols: 2;
  --qaContainer-inner-width: calc(var(--qaContainer-width) - (2px + (2 * var(--qaContainer-padding))));

  --saltDraggableSnapshot-img-height: var(--qaContainer-height);
  --saltDraggableSnapshot-img-width: var(--qaContainer-width);

  border: solid 1px #ccc;
  height: var(--qaContainer-height);
  line-height: 1;
  margin: 120px 0 0 10px;
  padding: var(--qaContainer-padding);
  position: absolute;
  left: 0;
  top: 0;
  width: var(--qaContainer-width);
  box-sizing: border-box;
}

.saltQAContainer-vertical {
  --qaContainer-mode-cols: 1;
}

.background-block {
  --bgBlock-outer-width: calc(var(--qaContainer-inner-width) / var(--qaContainer-mode-cols));
  --bgBlock-inner-width: calc(var(--bgBlock-outer-width) - (2 * var(--bgBlock-padding)));
  --bgBlock-padding: 6px;
  --bgBlock-gap: 0px;
  display: inline-block;
  padding: var(--bgBlock-padding);
  width: var(--bgBlock-outer-width);
  box-sizing: border-box;
  background: var(--salt-container-primary-background);
}

.saltQAContainer-vertical {
  --qaContainer-mode-cols: 1;
}

.background-item-wrapper {
  --itemWrapper-calculated-item-width: calc(var(--bgBlock-inner-width) / var(--qaContainer-cols) - var(--bgBlock-gap));
  display: inline-flex;
  margin-right: var(--bgBlock-gap);
  padding: var(--qaContainer-item-padding, 0);
  vertical-align: top;
  width: var(--qaContainer-item-width, var(--itemWrapper-calculated-item-width));
  box-sizing: border-box;

  /*
   * This is to make sure Salt components will work ok with UITK
   * https://github.com/jpmorganchase/salt-ds/issues/2671
   */
  font-weight: 400;
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 1.85714286em;
}
