.ShadowBlock {
  grid-column: 1 / 2;

  margin: var(--salt-size-unit);
  padding: var(--salt-size-unit);

  color: var(--salt-content-primary-foreground);

  border-color: var(--salt-container-primary-borderColor);
  border-style: var(--salt-container-borderStyle);
  border-width: var(--salt-size-border);
  border-radius: var(--salt-size-unit);
}

.ShadowBlock-cell {
  width: calc(2 * var(--salt-size-base) + var(--salt-size-unit));
  height: var(--salt-size-base);
  justify-self: end;

  border-color: var(--salt-container-primary-borderColor);
  border-style: var(--salt-container-borderStyle);
  border-width: var(--salt-size-border);
  border-radius: var(--salt-size-unit);
}
