.saltParentChildItem {
  height: 100%;
}

.saltParentChildItem-slide.saltParentChildLayout-parent {
  animation: var(--salt-animation-slide-in-left);
}

.saltParentChildItem-slide.saltParentChildLayout-child {
  animation: var(--salt-animation-slide-in-right);
}
