.saltParentChildLayout {
  display: flex;
}

.saltParentChildLayout-child {
  flex-grow: 1
}


.saltParentChildLayout-collapsed {
  width: 100%;
}


.saltParentChildLayout-childAnimation {
  animation: var(--salt-animation-slide-in-right);
}

.saltParentChildLayout-parentAnimation {
  animation: var(--salt-animation-slide-in-left);
}


/* Check that this is working  */
/* I think reduce animation should be fade in not disableing animation  */
@media (prefers-reduced-motion) {
  .reduced-motion .saltParentChildLayout-parent {
    animation: none;
  }

  .reduced-motion .saltParentChildLayout-child {
    animation: none;
  }
}
