.saltParentChildItem {
  height: 100%;
}

.saltParentChildItem-slide-left {
  animation: var(--salt-animation-slide-in-left);
}

.saltParentChildItem-slide-right {
  animation: var(--salt-animation-slide-in-right);
}
