.uitkInnerFieldLabel {
  font-size: var(--uitk-text-caption-fontSize);
  font-weight: var(--uitk-text-caption-fontWeight);
  color: var(--uitk-text-primary-foreground);
  padding: 2px 0px;
  margin-top: 5px;
}
