.salt-theme[data-mode="light"] {
  --salt-palette-info-background: var(--salt-color-blue-100);
  --salt-palette-info-border: var(--salt-color-blue-500);
  --salt-palette-info-foreground: var(--salt-color-blue-500);
}

.salt-theme[data-mode="dark"] {
  --salt-palette-info-background: var(--salt-color-blue-900);
  --salt-palette-info-border: var(--salt-color-blue-500);
  --salt-palette-info-foreground: var(--salt-color-blue-500);
}
