.salt-theme[data-mode="light"] {
  --salt-palette-interact-background: transparent;
  --salt-palette-interact-background-blurSelected: var(--salt-color-gray-30);
  --salt-palette-interact-background-hover: var(--salt-color-blue-10);
  --salt-palette-interact-background-active: var(--salt-color-blue-30);
  --salt-palette-interact-background-disabled: transparent;
  --salt-palette-interact-background-activeDisabled: var(--salt-color-blue-30-fade-background);
  --salt-palette-interact-border: var(--salt-color-gray-200);
  --salt-palette-interact-border-active: var(--salt-color-blue-600);
  --salt-palette-interact-border-activeDisabled: var(--salt-color-blue-600-fade-fill);
  --salt-palette-interact-border-disabled: var(--salt-color-gray-200-fade-border);
  --salt-palette-interact-border-hover: var(--salt-color-blue-500);
  --salt-palette-interact-border-readonly: var(--salt-color-gray-200-fade-border-readonly);
  --salt-palette-interact-foreground: var(--salt-color-gray-200);
  --salt-palette-interact-foreground-active: var(--salt-color-blue-600);
  --salt-palette-interact-foreground-activeDisabled: var(--salt-color-blue-600-fade-foreground);
  --salt-palette-interact-foreground-disabled: var(--salt-color-gray-200-fade-foreground);
  --salt-palette-interact-foreground-hover: var(--salt-color-blue-500);
  --salt-palette-interact-outline: var(--salt-color-blue-600);

  --salt-palette-interact-cta-background: var(--salt-color-blue-600);
  --salt-palette-interact-cta-background-active: var(--salt-color-blue-700);
  --salt-palette-interact-cta-background-disabled: var(--salt-color-blue-600-fade-background);
  --salt-palette-interact-cta-background-hover: var(--salt-color-blue-500);
  --salt-palette-interact-cta-foreground: var(--salt-color-white);
  --salt-palette-interact-cta-foreground-active: var(--salt-color-white);
  --salt-palette-interact-cta-foreground-disabled: var(--salt-color-white-fade-foreground);
  --salt-palette-interact-cta-foreground-hover: var(--salt-color-white);
  --salt-palette-interact-primary-background: var(--salt-color-gray-60);
  --salt-palette-interact-primary-background-active: var(--salt-color-gray-200);
  --salt-palette-interact-primary-background-activeDisabled: var(--salt-color-gray-200-fade-background);
  --salt-palette-interact-primary-background-disabled: var(--salt-color-gray-60-fade-background);
  --salt-palette-interact-primary-background-hover: var(--salt-color-gray-40);
  --salt-palette-interact-primary-foreground: var(--salt-color-gray-900);
  --salt-palette-interact-primary-foreground-active: var(--salt-color-white);
  --salt-palette-interact-primary-foreground-activeDisabled: var(--salt-color-white-fade-foreground);
  --salt-palette-interact-primary-foreground-disabled: var(--salt-color-gray-900-fade-foreground);
  --salt-palette-interact-primary-foreground-hover: var(--salt-color-gray-900);
  --salt-palette-interact-secondary-background: transparent;
  --salt-palette-interact-secondary-background-active: var(--salt-color-gray-200);
  --salt-palette-interact-secondary-background-activeDisabled: var(--salt-color-gray-200-fade-background);
  --salt-palette-interact-secondary-background-disabled: transparent;
  --salt-palette-interact-secondary-background-hover: var(--salt-color-gray-40);
  --salt-palette-interact-secondary-foreground: var(--salt-color-gray-900);
  --salt-palette-interact-secondary-foreground-active: var(--salt-color-white);
  --salt-palette-interact-secondary-foreground-activeDisabled: var(--salt-color-white-fade-foreground);
  --salt-palette-interact-secondary-foreground-disabled: var(--salt-color-gray-900-fade-foreground);
  --salt-palette-interact-secondary-foreground-hover: var(--salt-color-gray-900);
}

.salt-theme[data-mode="dark"] {
  --salt-palette-interact-background: transparent;
  --salt-palette-interact-background-active: var(--salt-color-blue-700);
  --salt-palette-interact-background-blurSelected: var(--salt-color-gray-600);
  --salt-palette-interact-background-hover: var(--salt-color-blue-800);
  --salt-palette-interact-background-disabled: transparent;
  --salt-palette-interact-background-activeDisabled: var(--salt-color-blue-700-fade-background);
  --salt-palette-interact-border: var(--salt-color-gray-90);
  --salt-palette-interact-border-active: var(--salt-color-blue-100);
  --salt-palette-interact-border-activeDisabled: var(--salt-color-blue-100-fade-fill);
  --salt-palette-interact-border-disabled: var(--salt-color-gray-90-fade-border);
  --salt-palette-interact-border-hover: var(--salt-color-blue-500);
  --salt-palette-interact-border-readonly: var(--salt-color-gray-90-fade-border-readonly);
  --salt-palette-interact-foreground: var(--salt-color-gray-90);
  --salt-palette-interact-foreground-active: var(--salt-color-blue-100);
  --salt-palette-interact-foreground-activeDisabled: var(--salt-color-blue-100-fade-foreground);
  --salt-palette-interact-foreground-disabled: var(--salt-color-gray-90-fade-foreground);
  --salt-palette-interact-foreground-hover: var(--salt-color-blue-500);
  --salt-palette-interact-outline: var(--salt-color-blue-100);

  --salt-palette-interact-cta-background: var(--salt-color-blue-600);
  --salt-palette-interact-cta-background-active: var(--salt-color-blue-700);
  --salt-palette-interact-cta-background-disabled: var(--salt-color-blue-600-fade-background);
  --salt-palette-interact-cta-background-hover: var(--salt-color-blue-500);
  --salt-palette-interact-cta-foreground: var(--salt-color-white);
  --salt-palette-interact-cta-foreground-active: var(--salt-color-white);
  --salt-palette-interact-cta-foreground-disabled: var(--salt-color-white-fade-foreground);
  --salt-palette-interact-cta-foreground-hover: var(--salt-color-white);
  --salt-palette-interact-primary-background: var(--salt-color-gray-300);
  --salt-palette-interact-primary-background-active: var(--salt-color-gray-70);
  --salt-palette-interact-primary-background-activeDisabled: var(--salt-color-gray-70-fade-background);
  --salt-palette-interact-primary-background-disabled: var(--salt-color-gray-300-fade-background);
  --salt-palette-interact-primary-background-hover: var(--salt-color-gray-200);
  --salt-palette-interact-primary-foreground: var(--salt-color-white);
  --salt-palette-interact-primary-foreground-active: var(--salt-color-gray-900);
  --salt-palette-interact-primary-foreground-activeDisabled: var(--salt-color-gray-900-fade-foreground);
  --salt-palette-interact-primary-foreground-disabled: var(--salt-color-white-fade-foreground);
  --salt-palette-interact-primary-foreground-hover: var(--salt-color-white);
  --salt-palette-interact-secondary-background: transparent;
  --salt-palette-interact-secondary-background-active: var(--salt-color-gray-70);
  --salt-palette-interact-secondary-background-activeDisabled: var(--salt-color-gray-70-fade-background);
  --salt-palette-interact-secondary-background-disabled: transparent;
  --salt-palette-interact-secondary-background-hover: var(--salt-color-gray-200);
  --salt-palette-interact-secondary-foreground: var(--salt-color-white);
  --salt-palette-interact-secondary-foreground-active: var(--salt-color-gray-900);
  --salt-palette-interact-secondary-foreground-activeDisabled: var(--salt-color-gray-900-fade-foreground);
  --salt-palette-interact-secondary-foreground-disabled: var(--salt-color-white-fade-foreground);
  --salt-palette-interact-secondary-foreground-hover: var(--salt-color-white);
}
