.salt-theme[data-mode="light"] {
  --salt-palette-negative-backgroud: var(--salt-color-red-100);
  --salt-palette-negative-border: var(--salt-color-red-500);
  --salt-palette-negative-foreground: var(--salt-color-red-500);
}

.salt-theme[data-mode="dark"] {
  --salt-palette-negative-backgroud: var(--salt-color-red-900);
  --salt-palette-negative-border: var(--salt-color-red-500);
  --salt-palette-negative-foreground: var(--salt-color-red-500);
}
