.uitkLogo {
  --logo-color: var(--uitkLogo-color, var(--uitk-palette-neutral-secondary-foreground));
  --logo-divider-color: var(--uitkLogo-pipe-color, var(--uitk-separable-secondary-borderColor));
  --logo-divider-height: var(--uitkLogo-title-height, var(--uitk-size-inlineDivider));
  --logo-divider-margin: 0 calc(var(--uitk-size-unit) * 2);
  --logo-font-size: var(--uitk-text-fontSize);
  --logo-height: var(--uitkLogo-logo-height, var(--uitk-size-logo));
  --logo-line-height: var(--uitk-text-lineHeight);
}

.uitkLogo-compact {
  --logo-pipe-margin: 0 calc(var(--uitk-size-unit) * 1.5);
}

.uitkLogo {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: var(--logo-height);
}

.uitkLogo img {
  max-height: 100%;
}

.uitkLogo-wrapper {
  display: inline-flex;
  position: relative;
  height: var(--logo-height);
}

.uitkLogo-logo {
  fill: var(--logo-color);
  margin: auto;
  stroke: none !important;
  text-align: center;
  font-size: var(--logo-font-size);
  line-height: var(--logo-line-height);
}

.uitkLogo-appTitle {
  align-self: center;
  color: var(--logo-color);
  position: relative;
}

.uitkLogo-titlePipe {
  border-right: 1px solid var(--logo-divider-color);
  margin: var(--logo-divider-margin);
  height: var(--logo-divider-height);
}
