/* Style applied to the root element */
.saltInputNext {
  --inputNext-borderColor: var(--salt-editable-borderColor);
  --inputNext-borderStyle: var(--salt-editable-borderStyle);
  --inputNext-borderColor-focused: var(--salt-editable-borderColor-active);
  --inputNext-outlineColor: var(--salt-focused-outlineColor);
  --inputNext-borderWidth: var(--salt-size-border);
  --inputNext-paddingLeft: var(--salt-size-unit);

  align-items: center;
  background: var(--saltInputNext-background, var(--inputNext-background));
  color: var(--saltInputNext-color, var(--salt-text-primary-foreground));
  display: inline-flex;
  font-family: var(--salt-text-fontFamily);
  font-size: var(--saltInputNext-fontSize, var(--salt-text-fontSize));
  height: var(--saltInputNext-height, var(--salt-size-base));
  line-height: var(--saltInputNext-lineHeight, var(--salt-text-lineHeight));
  min-height: var(--saltInputNext-minHeight, var(--salt-size-base));
  min-width: var(--saltInputNext-minWidth, 4em);
  padding-left: var(--saltInputNext-paddingLeft, var(--inputNext-paddingLeft));
  padding-right: var(--saltInputNext-paddingRight, var(--salt-size-unit));
  position: relative;
  width: 100%;
}

.saltInputNext:hover {
  --inputNext-borderStyle: var(--salt-editable-borderStyle-hover);
  --inputNext-borderColor: var(--salt-editable-borderColor-hover);

  background: var(--saltInputNext-background-hover, var(--inputNext-background-hover));
  cursor: var(--salt-editable-cursor-hover);
}

.saltInputNext:active {
  --inputNext-borderColor: var(--salt-editable-borderColor-active);
  --inputNext-borderStyle: var(--salt-editable-borderStyle-active);
  --inputNext-borderWidth: var(--salt-editable-borderWidth-active);

  background: var(--saltInputNext-background-active, var(--inputNext-background-active));
  cursor: var(--salt-editable-cursor-active);
}

/* Class applied if `variant="primary"` */
.saltInputNext-primary {
  --inputNext-background: var(--salt-editable-primary-background);
  --inputNext-background-active: var(--salt-editable-primary-background-active);
  --inputNext-background-hover: var(--salt-editable-primary-background-hover);
  --inputNext-background-disabled: var(--salt-editable-primary-background-disabled);
  --inputNext-background-readonly: var(--salt-editable-primary-background-readonly);
}

/* Class applied if `variant="secondary"` */
.saltInputNext-secondary {
  --inputNext-background: var(--salt-editable-secondary-background);
  --inputNext-background-active: var(--salt-editable-secondary-background-active);
  --inputNext-background-hover: var(--salt-editable-secondary-background-active);
  --inputNext-background-disabled: var(--salt-editable-secondary-background-disabled);
  --inputNext-background-readonly: var(--salt-editable-secondary-background-readonly);
}

/* Style applied to input if `validationState="error"` */
.saltInputNext-error,
.saltInputNext-error:hover {
  --inputNext-background: var(--salt-status-error-background);
  --inputNext-background-active: var(--salt-status-error-background);
  --inputNext-background-hover: var(--salt-status-error-background);
  --inputNext-borderColor: var(--salt-status-error-borderColor);
  --inputNext-borderColor-active: var(--salt-status-error-borderColor);
  --inputNext-borderColor-hover: var(--salt-status-error-borderColor);
  --inputNext-borderColor-focused: var(--salt-status-error-borderColor);
  --inputNext-outlineColor: var(--salt-status-error-borderColor);
}

/* Style applied to input if `validationState="warning"` */
.saltInputNext-warning,
.saltInputNext-warning:hover {
  --inputNext-background: var(--salt-status-warning-background);
  --inputNext-background-active: var(--salt-status-warning-background);
  --inputNext-background-hover: var(--salt-status-warning-background);
  --inputNext-borderColor: var(--salt-status-warning-borderColor);
  --inputNext-borderColor-active: var(--salt-status-warning-borderColor);
  --inputNext-borderColor-hover: var(--salt-status-warning-borderColor);
  --inputNext-borderColor-focused: var(--salt-status-warning-borderColor);
  --inputNext-outlineColor: var(--salt-status-warning-borderColor);
}

/* Style applied to input if `validationState="success"` */
.saltInputNext-success,
.saltInputNext-success:hover {
  --inputNext-background: var(--salt-status-success-background);
  --inputNext-background-active: var(--salt-status-success-background);
  --inputNext-background-hover: var(--salt-status-success-background);
  --inputNext-borderColor: var(--salt-status-success-borderColor);
  --inputNext-borderColor-active: var(--salt-status-success-borderColor);
  --inputNext-borderColor-hover: var(--salt-status-success-borderColor);
  --inputNext-borderColor-focused: var(--salt-status-success-borderColor);
  --inputNext-outlineColor: var(--salt-status-success-borderColor);
}

/* Style applied to inner input component */
.saltInputNext-input {
  background: none;
  border: none;
  box-sizing: content-box;
  color: inherit;
  cursor: inherit;
  display: block;
  flex: 1;
  font: inherit;
  height: 100%;
  letter-spacing: var(--saltInputNext-letterSpacing, 0);
  margin: 0;
  min-width: 0;
  overflow: hidden;
  padding: 0;
  text-align: var(--saltInputNext-textAlign, left);
  width: 100%;
}

/* Reset in the next class */
.saltInputNext-input:focus {
  outline: none;
}

/* Style applied to selected input */
.saltInputNext-input::selection {
  background: var(--salt-text-background-selected);
}

/* Styling when focused */
.saltInputNext-focused {
  --inputNext-borderColor: var(--inputNext-borderColor-focused);
  --inputNext-borderWidth: var(--salt-editable-borderWidth-active);

  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-color: var(--saltInputNext-outlineColor, var(--inputNext-outlineColor));
  outline-offset: var(--salt-focused-outlineOffset);
}

/* Style applied if `readOnly={true}` */
.saltInputNext.saltInputNext-readOnly {
  --inputNext-borderColor: var(--salt-editable-borderColor-readonly);
  --inputNext-borderStyle: var(--salt-editable-borderStyle-readonly);
  --inputNext-paddingLeft: 0;

  background: var(--inputNext-background-readonly);
  cursor: var(--salt-editable-cursor-readonly);
}

/* Styling when focused if `disabled={true}` or `readOnly={true}` */
.saltInputNext-focused.saltInputNext-readOnly,
.saltInputNext-focused.saltInputNext-disabled {
  --inputNext-borderWidth: var(--salt-size-border);
  outline: none;
}

/* Style applied to selected input if `disabled={true}` */
.saltInputNext-disabled .saltInputNext-input::selection {
  background: none;
}

/* Style applied to input if `disabled={true}` */
.saltInputNext.saltInputNext-disabled,
.saltInputNext.saltInputNext-disabled:hover,
.saltInputNext.saltInputNext-disabled:active {
  --inputNext-borderColor: var(--salt-editable-borderColor-disabled);
  --inputNext-borderStyle: var(--salt-editable-borderStyle-disabled);
  --inputNext-borderWidth: var(--salt-size-border);

  background: var(--inputNext-background-disabled);
  cursor: var(--salt-editable-cursor-disabled);
  color: var(--saltInputNext-color-disabled, var(--salt-text-primary-foreground-disabled));
}
