/* Style applied to the root element */
.saltInputNext {
  --inputNext-borderColor: var(--salt-editable-borderColor);
  --inputNext-borderColor-hover: var(--salt-editable-borderColor-hover);
  --inputNext-borderStyle: var(--salt-editable-borderStyle);

  align-items: center;
  background: var(--saltInputNext-background, var(--inputNext-background));
  border-color: var(--saltInputNext-borderColor, var(--inputNext-borderColor));
  border-width: var(--saltInputNext-borderWidth, 0 0 var(--salt-size-border) 0);
  border-style: var(--saltInputNext-borderStyle, var(--inputNext-borderStyle));
  border-radius: var(--saltInputNext-borderRadius, 0);
  color: var(--saltInputNext-color, var(--salt-text-primary-foreground));
  display: inline-flex;
  font-family: var(--saltInputNext-fontFamily, var(--salt-text-fontFamily));
  font-size: var(--saltInputNext-fontSize, var(--salt-text-fontSize));
  height: var(--saltInputNext-height, var(--salt-size-base));
  line-height: var(--salt-text-lineHeight);
  min-height: var(--saltInputNext-minHeight, var(--salt-size-base));
  min-width: var(--saltInputNext-minWidth, 8em);
  padding: var(--saltInputNext-padding, 0 var(--salt-size-unit));
  position: var(--saltInputNext-position, relative);
  width: 100%;
}

.saltInputNext:hover {
  --inputNext-background: var(--inputNext-background-hover);
  --inputNext-borderColor: var(--inputNext-borderColor-hover);
  --inputNext-borderStyle: var(--salt-editable-borderStyle-hover);
  --inputNext-cursor: var(--salt-editable-cursor-hover);
}

.saltInputNext:active {
  --inputNext-background: var(--inputNext-background-active);
  --inputNext-borderColor: var(--salt-editable-borderColor-active);
  --inputNext-borderStyle: var(--salt-editable-borderStyle-active);
  --inputNext-cursor: var(--salt-editable-cursor-active);
}

/* Class applied if `variant="primary"` */
.saltInputNext-primary {
  --inputNext-background: var(--salt-editable-primary-background);
  --inputNext-background-active: var(--salt-editable-primary-background-active);
  --inputNext-background-hover: var(--salt-editable-primary-background-hover);
  --inputNext-background-disabled: var(--salt-editable-primary-background-disabled);
  --inputNext-background-readonly: var(--salt-editable-primary-background-readonly);
}

/* Class applied if `variant="secondary"` */
.saltInputNext-secondary {
  --inputNext-background: var(--salt-editable-secondary-background);
  --inputNext-background-active: var(--salt-editable-secondary-background-active);
  --inputNext-background-hover: var(--salt-editable-secondary-background-active);
  --inputNext-background-disabled: var(--salt-editable-secondary-background-disabled);
  --inputNext-background-readonly: var(--salt-editable-secondary-background-readonly);
}

/* Style applied to inner input component */
.saltInputNext-input {
  background: none;
  border: none;
  box-sizing: content-box;
  color: inherit;
  cursor: var(--saltInputNext-cursor, var(--inputNext-cursor));
  display: block;
  flex: 1;
  font: inherit;
  height: 100%;
  letter-spacing: var(--saltInputNext-letterSpacing, 0);
  margin: 0;
  min-width: 0;
  overflow: hidden;
  padding: 0;
  text-align: var(--saltInputNext-textAlign, left);
  width: 100%;
}

/* Style applied if `readOnly={true}` */
.saltInputNext.saltInputNext-readOnly {
  --inputNext-background: var(--inputNext-background-readonly);
  --inputNext-background-hover: var(--inputNext-background-readonly);
  --inputNext-borderColor: var(--salt-editable-borderColor-readonly);
  --inputNext-borderColor-hover: var(--salt-editable-borderColor-readonly);
  --inputNext-borderStyle: var(--salt-editable-borderStyle-readonly);
  --inputNext-cursor: var(--salt-editable-cursor-readonly);
}

/* Reset in the next class */
.saltInputNext-input:focus {
  outline: none;
}

/* Styling when focused */
.saltInputNext-focused {
  --inputNext-outlineColor: var(--salt-focused-outlineColor);

  outline-style: var(--saltInputNext-focused-outlineStyle, var(--salt-focused-outlineStyle));
  outline-width: var(--saltInputNext-focused-outlineWidth, var(--salt-focused-outlineWidth));
  outline-color: var(--saltInputNext-focused-outlineColor, var(--inputNext-outlineColor));
  outline-offset: var(--saltInputNext-focused-outlineOffset, var(--salt-focused-outlineOffset));
}

/* Styling when focused if `disabled={true}` or `readOnly={true}` */
.saltInputNext-focused.saltInputNext-readOnly,
.saltInputNext-disabled .saltInputNext-focused {
  outline: none;
}

/* Style applied to selected input */
.saltInputNext-input::selection {
  background: var(--saltInputNext-highlight-color, var(--salt-text-background-selected));
}

/* Style applied to selected input if `disabled={true}` */
.saltInputNext-disabled .saltInputNext-input::selection {
  background: none;
}

/* Style applied to input if `disabled={true}` */
.saltInputNext-disabled .saltInputNext-input,
.saltInputNext.saltInputNext-disabled,
.saltInputNext.saltInputNext-disabled:hover,
.saltInputNext.saltInputNext-disabled:active {
  --inputNext-background: var(--inputNext-background-disabled);
  --inputNext-borderColor: var(--salt-editable-borderColor-disabled);
  --inputNext-borderColor-hover: var(--salt-editable-borderColor-disabled);
  --inputNext-borderStyle: var(--salt-editable-borderStyle-disabled);

  cursor: var(--salt-editable-cursor-disabled);
  color: var(--saltInputNext-text-color-disabled, var(--salt-text-primary-foreground-disabled));
}

/* Style applied to input if `validationState="error"` */
.saltInputNext-error,
.saltInputNext-error:hover {
  --inputNext-background: var(--salt-status-error-background);
  --inputNext-outlineColor: var(--salt-status-error-borderColor);
  --inputNext-borderColor: var(--salt-status-error-borderColor);
  --inputNext-borderColor-hover: var(--salt-status-error-borderColor);
}

/* Style applied to input if `validationState="warning"` */
.saltInputNext-warning,
.saltInputNext-warning:hover {
  --inputNext-background: var(--salt-status-warning-background);
  --inputNext-outlineColor: var(--salt-status-warning-borderColor);
  --inputNext-borderColor: var(--salt-status-warning-borderColor);
  --inputNext-borderColor-hover: var(--salt-status-warning-borderColor);
}

/* Style applied to input if adornment provided */
.saltInputNext-withAdornment {
  padding-right: var(--salt-size-adornmentGap);
}
