/* Component class applied to the root element */
.saltTabList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: transparent;
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  gap: var(--salt-spacing-100);
  max-width: 100%;
  min-width: 0;
  flex: 0 1 auto;
}

.saltTabList-center {
  justify-content: center;
}

.saltTabList-right {
  justify-content: flex-end;
}

.saltTabList-activeColorPrimary {
  --saltTabList-activeColor: var(--salt-container-primary-background);
}

.saltTabList-activeColorSecondary {
  --saltTabList-activeColor: var(--salt-container-secondary-background);
}

.saltTabList-activeColorTertiary {
  --saltTabList-activeColor: var(--salt-container-tertiary-background);
}

.saltTabList-measureContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  white-space: nowrap;
}
