.saltDatePickerOverlay {
  background: var(--salt-container-primary-background);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
  border-radius: var(--salt-palette-corner, 0);
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  z-index: var(--salt-zIndex-flyover);
  box-shadow: var(--salt-overlayable-shadow-popout);
  box-sizing: border-box;
  display: flex;
}

.saltDatePickerPanel-container {
  width: min-content;
  gap: 1px;
}

.saltDatePickerPanel-container > .saltDatePickerPanel-header {
  padding: var(--salt-spacing-100);
}
