.saltDatePickerOverlay {
  background: var(--salt-container-primary-background);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  z-index: var(--salt-zIndex-flyover);
  box-shadow: var(--salt-overlayable-shadow-popout);
  box-sizing: border-box;
  display: flex;
}
