.pre {
  max-width: 60vw;
  position: relative;
}

@media not screen and (min-width: 960px) {
  .pre {
    max-width: 80vw;
  }
}

.copyButton {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.pre:hover .copyButton {
  visibility: visible;
}
