.pre {
  max-width: 100vw;
  position: relative;
}

.pre pre {
  font-family: var(--salt-text-code-fontFamily);
  border-radius: var(--salt-palette-corner-weak);
  padding: var(--salt-spacing-200);
  overflow-x: auto;
  margin: 0;
}

:global([data-mode="light"]) .pre pre,
:global([data-mode="light"]) .pre pre span {
  background-color: var(--salt-container-secondary-background) !important;
}

:global([data-mode="dark"]) .pre pre,
:global([data-mode="dark"]) .pre pre span {
  background-color: var(--shiki-dark-bg) !important;
  color: var(--shiki-dark) !important;
}

.copyButton {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.pre:hover .copyButton {
  visibility: visible;
}
