.saltSegmentedButtonGroup {
  display: flex;
  flex-direction: row;
  background: var(--button-background);
  gap: var(--salt-size-border);
}

.saltSegmentedButtonGroup > .saltButton:not(:last-of-type)::after {
  content: "";
  width: var(--salt-size-border);
  position: absolute;
  background: var(--button-background);
  /* Accomodate button border */
  right: calc(var(--salt-size-border) * -2);
  top: calc(var(--salt-size-border) * -1);
  bottom: calc(var(--salt-size-border) * -1);
}

.saltSegmentedButtonGroup > .saltButton:not(:first-of-type)::before {
  content: "";
  width: var(--salt-size-border);
  position: absolute;
  background: var(--salt-separable-primary-borderColor);
  /* Accomodate button border */
  left: calc(var(--salt-size-border) * -2);
  top: calc(var(--salt-size-border) * -1);
  bottom: calc(var(--salt-size-border) * -1);
}
