.saltGridColumnGhost {
  background: var(--grid-background);
  position: absolute;
  border: solid var(--grid-columnGhost-borderWidth) var(--grid-columnGhost-borderColor);
  box-shadow: var(--grid-columnGhost-boxShadow);
  opacity: 0.85;
}

.saltGridColumnGhost table {
  table-layout: fixed;
}
