.uitkBreadcrumbs-ol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  gap: var(--uitk-size-unit);
}

.uitkBreadcrumbs-li {
  flex: 0 1 auto;
  list-style: none;
}

.uitkBreadcrumbs-separator {
  display: flex;
  user-select: none;
}

.uitkBreadcrumbs-ol-wrap {
  flex-wrap: wrap;
}

/* --- backwards compatible --- */

.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumbs-ol {
  gap: 0;
}
.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumbs-ol-wrap li:not(:last-child) {
  margin-bottom: calc(var(--uitk-size-unit) / 2 - 2px);
}
.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumbs-li {
  padding: 2px;
}
.uitk-density-medium .backwardsCompat.uitkBreadcrumbs .uitkBreadcrumbs-ol li {
  margin-right: 6px;
}
.uitk-density-high .backwardsCompat.uitkBreadcrumbs .uitkBreadcrumbs-ol li {
  margin-right: 2px;
}
.uitk-density-low .backwardsCompat.uitkBreadcrumbs .uitkBreadcrumbs-ol li {
  margin-right: 10px;
}
.uitk-density-touch .backwardsCompat.uitkBreadcrumbs .uitkBreadcrumbs-ol li {
  margin-right: 14px;
}
