.salt-theme[data-mode="light"][data-brand="legacy"] {
  --salt-palette-error-background: var(--salt-color-red-10);
  --salt-palette-error-bold-background: var(--salt-color-red-500);
  --salt-palette-error-background-selected: var(--salt-color-red-20);
  --salt-palette-error-border: var(--salt-color-red-500);
  --salt-palette-error-foreground-decorative: var(--salt-color-red-500);
  --salt-palette-error-foreground-informative: var(--salt-color-red-600);
}

.salt-theme[data-mode="dark"][data-brand="legacy"] {
  --salt-palette-error-background: var(--salt-color-red-900);
  --salt-palette-error-bold-background: var(--salt-color-red-500);
  --salt-palette-error-background-selected: var(--salt-color-red-900);
  --salt-palette-error-border: var(--salt-color-red-400);
  --salt-palette-error-foreground-decorative: var(--salt-color-red-400);
  --salt-palette-error-foreground-informative: var(--salt-color-red-200);
}
