.salt-theme[data-mode="light"][data-brand="legacy"] {
  --salt-palette-success-background: var(--salt-color-green-10);
  --salt-palette-success-bold-background: var(--salt-color-green-500);
  --salt-palette-success-background-selected: var(--salt-color-green-20);
  --salt-palette-success-border: var(--salt-color-green-500);
  --salt-palette-success-foreground-decorative: var(--salt-color-green-500);
  --salt-palette-success-foreground-informative: var(--salt-color-green-600);
}

.salt-theme[data-mode="dark"][data-brand="legacy"] {
  --salt-palette-success-background: var(--salt-color-green-900);
  --salt-palette-success-bold-background: var(--salt-color-green-500);
  --salt-palette-success-background-selected: var(--salt-color-green-900);
  --salt-palette-success-border: var(--salt-color-green-400);
  --salt-palette-success-foreground-decorative: var(--salt-color-green-400);
  --salt-palette-success-foreground-informative: var(--salt-color-green-200);
}
