.accordionWrapper table thead {
  position: inherit;
}

.accordionWrapper :global(.saltIcon) {
  --salt-size-icon-base: var(--salt-size-unit);
}

.accordionWrapper :global(.saltAccordionSummary-icon) {
  right: 0;
}

.accordionWrapper :global(.saltAccordionSection) {
  --accordion-section-padding: 0;
}

.summary {
  font-weight: var(--salt-typography-fontWeight-semiBold);
}
