.uitkColorChooser-overlayButtonSwatch {
  margin-right: 10px;
  height: calc(2 * var(--uitk-size-unit));
  width: calc(2 * var(--uitk-size-unit));
}
.uitk-density-high .uitkColorChooser-overlayButtonSwatch {
  height: calc(3 * var(--uitk-size-unit));
  width: calc(3 * var(--uitk-size-unit));
}

.uitkColorChooser-overlayButtonSwatchWithBorder {
  border: 0.2px solid var(--uitk-editable-borderColor);
}

.uitkColorChooser-overlayButtonSwatchTransparent {
  height: calc(3 * var(--uitk-size-unit) - 2px) !important;
  width: calc(3 * var(--uitk-size-unit) - 2px) !important;
  border: 1px solid var(--uitk-differential-negative-foreground);
  /* RGBA using red-700 */
  background: linear-gradient(
    to top left,
    rgba(166, 21, 11, 0) 0%,
    rgba(166, 21, 11, 0) calc(50% - 0.8px),
    rgba(166, 21, 11, 1) 50%,
    rgba(166, 21, 11, 0) calc(50% + 0.8px),
    rgba(166, 21, 11, 0) 100%
  );
}

.uitkColorChooser-overlayButtonText {
  font-weight: var(--uitk-text-fontWeight);
  font-family: var(--uitkButton-fontFamily, var(--uitk-text-fontFamily));
  font-size: var(--uitk-text-fontSize);
  letter-spacing: normal;
}

.uitkColorChooser-overlayButton {
  background-color: transparent;
  text-transform: none;
  justify-content: flex-start;
}

.uitkColorChooser-overlayButtonHiddenLabel {
  width: calc(var(--uitk-size-unit) * 3);
  display: contents;
}

.uitkColorChooser-overlayButtonClose {
  margin: 5px;
}

.uitkColorChooser-defaultButton {
  float: right;
  background-color: transparent;
  padding: 6px 2px 6px 2px;
  height: var(--uitk-size-stackable);
}

.uitkColorChooser-defaultButton {
  border-bottom: var(--uitk-editable-borderWidth) var(--uitk-editable-borderStyle) var(--uitk-editable-borderColor);
}

.uitkColorChooser-overlayContent {
  max-width: 100%;
}

.uitkColorChooser-refreshIcon {
  padding-right: 5px;
}
