/*TODO: New component; needs complete restyling to use characteristics properly */
.uitkColorChooserSwatches-colorNameTextDiv {
  font-size: var(--uitk-text-fontSize);
  font-weight: var(--uitk-text-fontWeight-strong);
}

.uitkColorChooserSwatches-colorNameTextDiv,
.uitkColorChooserSwatches-colorTextDiv,
.uitkColorChooserSwatches-alphaTextDiv {
  color: var(--uitk-text-secondary-foreground);
}

.uitkColorChooserSwatches-colorTextDiv {
  font-size: var(--uitk-text-fontSize);
  margin-right: var(--uitk-size-unit);
}

.uitkColorChooserSwatches-alphaTextDiv {
  font-size: var(--uitk-text-fontSize);
  margin-right: var(--uitk-size-unit);
}

.uitkColorChooserSwatches-textDiv {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 0px 8px;
}

.uitkColorChooserSwatches-pickerDiv {
  padding-top: calc(2 * var(--uitk-size-unit));
}
