.uitk-newapp {
  --uitk-opacity-background: 0.4;
}

.uitk-newapp.uitk-density-medium {
  --uitkButton-height: 32px;
}

.uitk-light.uitk-newapp {
  /* CTA */
  --uitk-actionable-foreground-cta: var(--uitk-color-white);
  --uitk-actionable-background-cta: linear-gradient(to bottom, var(--uitk-color-blue-500), var(--uitk-color-blue-600));
  --uitk-actionable-foreground-cta: var(--uitk-color-white);
  --uitk-actionable-cta-topline-color: var(--uitk-color-blue-100);
  --uitk-actionable-cta-baseline-color: var(--uitk-color-grey-900);

  --uitk-actionable-foreground-cta-hover: var(--uitk-color-grey-900);
  --uitk-actionable-background-cta-hover: var(--uitk-color-blue-100);
  --uitk-actionable-foreground-cta-hover: var(--uitk-color-grey-900);
  --uitk-actionable-cta-topline-color-hover: var(--uitk-color-white);
  --uitk-actionable-cta-baseline-color-hover: var(--uitk-color-grey-90);

  --uitk-actionable-foreground-cta-active: var(--uitk-color-white);
  --uitk-actionable-background-cta-active: var(--uitk-color-blue-600);
  --uitk-actionable-foreground-cta-active: var(--uitk-color-white);
  --uitk-actionable-cta-topline-color-active: var(--uitk-color-blue-100);
  --uitk-actionable-cta-baseline-color-active: var(--uitk-color-grey-90);

  --uitk-actionable-foreground-cta-disabled: var(--uitk-actionable-foreground-cta);
  --uitk-actionable-foreground-cta-disabled: var(--uitk-actionable-foreground-cta);
  --uitk-actionable-background-cta-disabled: var(--uitk-actionable-background-cta);
  --uitk-actionable-cta-topline-color-disabled: var(--uitk-actionable-cta-topline-color);
  --uitk-actionable-cta-baseline-color-disabled: var(--uitk-actionable-cta-baseline-color);

  /* Primary */
  --uitk-actionable-foreground-primary: var(--uitk-color-grey-900);
  --uitk-actionable-background-primary: linear-gradient(to bottom, var(--uitk-color-grey-60), var(--uitk-color-grey-70));
  --uitk-actionable-foreground-primary: var(--uitk-color-grey-900);
  --uitk-actionable-primary-topline-color: var(--uitk-color-white);
  --uitk-actionable-primary-baseline-color: var(--uitk-color-grey-90);

  --uitk-actionable-foreground-primary-hover: var(--uitk-color-grey-900);
  --uitk-actionable-background-primary-hover: var(--uitk-color-blue-100);
  --uitk-actionable-foreground-primary-hover: var(--uitk-color-grey-900);
  --uitk-actionable-primary-topline-color-hover: var(--uitk-color-white);
  --uitk-actionable-primary-baseline-color-hover: var(--uitk-color-grey-90);

  --uitk-actionable-foreground-primary-active: var(--uitk-color-white);
  --uitk-actionable-background-primary-active: var(--uitk-color-blue-600);
  --uitk-actionable-foreground-primary-active: var(--uitk-color-white);
  --uitk-actionable-primary-topline-color-active: transparent;
  --uitk-actionable-primary-baseline-color-active: transparent;

  --uitk-actionable-foreground-primary-disabled: var(--uitk-actionable-foreground-primary);
  --uitk-actionable-foreground-primary-disabled: var(--uitk-actionable-foreground-primary);
  --uitk-actionable-background-primary-disabled: var(--uitk-actionable-background-primary);
  --uitk-actionable-primary-topline-color-disabled: var(--uitk-actionable-primary-topline-color);
  --uitk-actionable-primary-baseline-color-disabled: var(--uitk-actionable-primary-baseline-color);

  --uitk-actionable-foreground-primary-readonly: var(--uitk-color-grey-900);
  --uitk-actionable-background-primary-readonly: transparent none;
  --uitk-actionable-foreground-primary-readonly: var(--uitk-color-grey-900);
  --uitk-actionable-primary-topline-color-readonly: transparent;
  --uitk-actionable-primary-baseline-color-readonly: var(--uitk-color-grey-40);

  /* Secondary */

  --uitk-actionable-foreground-secondary: var(--uitk-color-grey-900);
  --uitk-actionable-background-secondary: transparent;
  --uitk-actionable-foreground-secondary: var(--uitk-color-grey-900);
  --uitk-actionable-secondary-topline-color: transparent;
  --uitk-actionable-secondary-baseline-color: transparent;

  --uitk-actionable-foreground-secondary-hover: var(--uitk-color-grey-900);
  --uitk-actionable-background-secondary-hover: var(--uitk-color-blue-100);
  --uitk-actionable-foreground-secondary-hover: var(--uitk-color-grey-900);
  --uitk-actionable-secondary-topline-color-hover: transparent;
  --uitk-actionable-secondary-baseline-color-hover: transparent;

  --uitk-actionable-foreground-secondary-active: var(--uitk-color-white);
  --uitk-actionable-background-secondary-active: var(--uitk-color-blue-600);
  --uitk-actionable-foreground-secondary-active: var(--uitk-color-white);
  --uitk-actionable-secondary-topline-color-active: transparent;
  --uitk-actionable-secondary-baseline-color-active: transparent;

  --uitk-actionable-foreground-secondary-disabled: var(--uitk-color-grey-300);
  --uitk-actionable-foreground-secondary-disabled: var(--uitk-color-grey-300);

  --uitk-actionable-foreground-secondary-readonly: var(--uitk-color-grey-900);
  --uitk-actionable-background-secondary-readonly: transparent none;
  --uitk-actionable-foreground-secondary-readonly: var(--uitk-color-grey-900);
  --uitk-actionable-secondary-topline-color-readonly: transparent;
  --uitk-actionable-secondary-baseline-color-readonly: transparent;

  /* Final Execution */
  --uitk-actionable-final-text-color: var(--uitk-color-grey-900);
  --uitk-actionable-final-background: linear-gradient(to bottom, var(--uitk-color-orange-300), var(--uitk-color-orange-500));
  --uitk-actionable-final-icon-color: var(--uitk-color-grey-900);
  --uitk-actionable-final-topline-color: var(--uitk-color-orange-100);
  --uitk-actionable-final-baseline-color: var(--uitk-color-orange-900);

  --uitk-actionable-final-text-color-hover: var(--uitk-color-grey-900);
  --uitk-actionable-final-background-hover: var(--uitk-color-orange-200);
  --uitk-actionable-final-icon-color-hover: var(--uitk-color-grey-900);
  --uitk-actionable-final-topline-color-hover: var(--uitk-color-orange-100);
  --uitk-actionable-final-baseline-color-hover: var(--uitk-color-grey-900);

  --uitk-actionable-final-text-color-active: var(--uitk-color-grey-900);
  --uitk-actionable-final-background-active: var(--uitk-color-orange-600);
  --uitk-actionable-final-icon-color-active: var(--uitk-color-grey-900);
  --uitk-actionable-final-topline-color-active: transparent;
  --uitk-actionable-final-baseline-color-active: transparent;

  --uitk-actionable-final-text-color-disabled: var(--uitk-color-grey-900);
  --uitk-actionable-final-background-disabled: linear-gradient(to bottom, var(--uitk-color-orange-300), var(--uitk-color-orange-500));
  --uitk-actionable-final-icon-color-disabled: var(--uitk-color-grey-900);
  --uitk-actionable-final-topline-color-disabled: var(--uitk-color-orange-100);
  --uitk-actionable-final-baseline-color-disabled: var(--uitk-color-orange-900);

  /* Bid / Buy */
  --uitk-actionable-bid-text-color: var(--uitk-color-grey-900);
  --uitk-actionable-bid-background: linear-gradient(to bottom, var(--uitk-color-blue-50), var(--uitk-color-blue-100));
  --uitk-actionable-bid-icon-color: var(--uitk-color-grey-900);
  --uitk-actionable-bid-topline-color: var(--uitk-color-white);
  --uitk-actionable-bid-baseline-color: var(--uitk-color-blue-300);

  --uitk-actionable-bid-text-color-hover: var(--uitk-color-white);
  --uitk-actionable-bid-background-hover: var(--uitk-color-blue-600);
  --uitk-actionable-bid-icon-color-hover: var(--uitk-color-white);
  --uitk-actionable-bid-topline-color-hover: var(--uitk-color-blue-300);
  --uitk-actionable-bid-baseline-color-hover: var(--uitk-color-grey-900);

  --uitk-actionable-bid-text-color-active: var(--uitk-color-grey-900);
  --uitk-actionable-bid-background-active: var(--uitk-color-blue-50);
  --uitk-actionable-bid-icon-color-active: var(--uitk-color-grey-900);
  --uitk-actionable-bid-topline-color-active: transparent;
  --uitk-actionable-bid-baseline-color-active: transparent;

  --uitk-actionable-bid-text-color-disabled: var(--uitk-color-grey-900);
  --uitk-actionable-bid-background-disabled: linear-gradient(to bottom, var(--uitk-color-blue-50), var(--uitk-color-blue-100));
  --uitk-actionable-bid-icon-color-disabled: var(--uitk-color-grey-900);
  --uitk-actionable-bid-topline-color-disabled: var(--uitk-color-white);
  --uitk-actionable-bid-baseline-color-disabled: var(--uitk-color-blue-300);

  --uitk-actionable-bid-text-color-readonly: var(--uitk-color-blue-600);
  --uitk-actionable-bid-background-readonly: transparent none;
  --uitk-actionable-bid-icon-color-readonly: var(--uitk-color-blue-600);
  --uitk-actionable-bid-topline-color-readonly: transparent;
  --uitk-actionable-bid-baseline-color-readonly: var(--uitk-color-grey-40);

  /* Ask / Sell */
  --uitk-actionable-ask-text-color: var(--uitk-color-grey-900);
  --uitk-actionable-ask-background: linear-gradient(to bottom, var(--uitk-color-red-30), var(--uitk-color-red-50));
  --uitk-actionable-ask-icon-color: var(--uitk-color-grey-900);
  --uitk-actionable-ask-topline-color: var(--uitk-color-white);
  --uitk-actionable-ask-baseline-color: var(--uitk-color-red-300);

  --uitk-actionable-ask-text-color-hover: var(--uitk-color-white);
  --uitk-actionable-ask-background-hover: var(--uitk-color-red-600);
  --uitk-actionable-ask-icon-color-hover: var(--uitk-color-white);
  --uitk-actionable-ask-topline-color-hover: var(--uitk-color-red-300);
  --uitk-actionable-ask-baseline-color-hover: var(--uitk-color-grey-900);

  --uitk-actionable-ask-text-color-active: var(--uitk-color-grey-900);
  --uitk-actionable-ask-background-active: var(--uitk-color-red-40);
  --uitk-actionable-ask-icon-color-active: var(--uitk-color-grey-900);
  --uitk-actionable-ask-topline-color-active: transparent;
  --uitk-actionable-ask-baseline-color-active: transparent;

  --uitk-actionable-ask-text-color-disabled: var(--uitk-color-grey-900);
  --uitk-actionable-ask-background-disabled: linear-gradient(to bottom, var(--uitk-color-red-30), var(--uitk-color-red-50));
  --uitk-actionable-ask-icon-color-disabled: var(--uitk-color-grey-900);
  --uitk-actionable-ask-topline-color-disabled: var(--uitk-color-white);
  --uitk-actionable-ask-baseline-color-disabled: var(--uitk-color-red-300);

  --uitk-actionable-ask-text-color-readonly: var(--uitk-color-red-600);
  --uitk-actionable-ask-background-readonly: transparent none;
  --uitk-actionable-ask-icon-color-readonly: var(--uitk-color-red-600);
  --uitk-actionable-ask-topline-color-readonly: transparent;
  --uitk-actionable-ask-baseline-color-readonly: var(--uitk-color-grey-40);
}

/*
  cheating a bit here to keep the example generation simpler. In reality, we would not
  create a button with both readonly and final-execution classes

*/
.uitk-newapp .uitkButton-cta[data-readonly],
.uitk-newapp .uitkButton-final-execution[data-readonly] {
  visibility: hidden;
}
