.uitk-newapp {
  --uitk-opacity-background: 0.4;
}

.uitk-light.uitk-newapp {
  /* CTA */
  --uitk-actionable-cta-background: linear-gradient(to bottom, var(--uitk-color-blue-500), var(--uitk-color-blue-600));
  --uitk-actionable-cta-foreground: var(--uitk-color-white);
  --uitk-actionable-cta-topline-color: var(--uitk-color-blue-100);
  --uitk-actionable-cta-baseline-color: var(--uitk-color-grey-900);

  --uitk-actionable-cta-foreground-hover: var(--uitk-color-grey-900);
  --uitk-actionable-cta-background-hover: var(--uitk-color-blue-100);
  --uitk-actionable-cta-topline-color-hover: var(--uitk-color-white);
  --uitk-actionable-cta-baseline-color-hover: var(--uitk-color-grey-90);

  --uitk-actionable-cta-foreground-active: var(--uitk-color-white);
  --uitk-actionable-cta-background-active: var(--uitk-color-blue-600);
  --uitk-actionable-cta-topline-color-active: var(--uitk-color-blue-100);
  --uitk-actionable-cta-baseline-color-active: var(--uitk-color-grey-90);

  --uitk-actionable-cta-foreground-disabled: var(--uitk-actionable-cta-foreground);
  --uitk-actionable-cta-background-disabled: var(--uitk-actionable-cta-background);
  --uitk-actionable-cta-topline-color-disabled: var(--uitk-actionable-cta-topline-color);
  --uitk-actionable-cta-baseline-color-disabled: var(--uitk-actionable-cta-baseline-color);

  /* Primary */
  --uitk-actionable-primary-foreground: var(--uitk-color-grey-900);
  --uitk-actionable-primary-background: linear-gradient(to bottom, var(--uitk-color-grey-60), var(--uitk-color-grey-70));
  --uitk-actionable-primary-topline-color: var(--uitk-color-white);
  --uitk-actionable-primary-baseline-color: var(--uitk-color-grey-90);

  --uitk-actionable-primary-foreground-hover: var(--uitk-color-grey-900);
  --uitk-actionable-primary-background-hover: var(--uitk-color-blue-100);
  --uitk-actionable-primary-topline-color-hover: var(--uitk-color-white);
  --uitk-actionable-primary-baseline-color-hover: var(--uitk-color-grey-90);

  --uitk-actionable-primary-foreground-active: var(--uitk-color-white);
  --uitk-actionable-primary-background-active: var(--uitk-color-blue-600);
  --uitk-actionable-primary-topline-color-active: transparent;
  --uitk-actionable-primary-baseline-color-active: transparent;

  --uitk-actionable-primary-foreground-disabled: var(--uitk-actionable-primary-foreground);
  --uitk-actionable-primary-background-disabled: var(--uitk-actionable-primary-background);
  --uitk-actionable-primary-topline-color-disabled: var(--uitk-actionable-primary-topline-color);
  --uitk-actionable-primary-baseline-color-disabled: var(--uitk-actionable-primary-baseline-color);

  --uitk-actionable-primary-foreground-readonly: var(--uitk-color-grey-900);
  --uitk-actionable-primary-background-readonly: transparent none;
  --uitk-actionable-primary-topline-color-readonly: transparent;
  --uitk-actionable-primary-baseline-color-readonly: var(--uitk-color-grey-40);

  /* Secondary */

  --uitk-actionable-secondary-foreground: var(--uitk-color-grey-900);
  --uitk-actionable-secondary-background: transparent;
  --uitk-actionable-secondary-topline-color: transparent;
  --uitk-actionable-secondary-baseline-color: transparent;

  --uitk-actionable-secondary-foreground-hover: var(--uitk-color-grey-900);
  --uitk-actionable-secondary-background-hover: var(--uitk-color-blue-100);
  --uitk-actionable-secondary-topline-color-hover: transparent;
  --uitk-actionable-secondary-baseline-color-hover: transparent;

  --uitk-actionable-secondary-foreground-active: var(--uitk-color-white);
  --uitk-actionable-secondary-background-active: var(--uitk-color-blue-600);
  --uitk-actionable-secondary-topline-color-active: transparent;
  --uitk-actionable-secondary-baseline-color-active: transparent;

  --uitk-actionable-secondary-foreground-disabled: var(--uitk-color-grey-300);

  --uitk-actionable-secondary-foreground-readonly: var(--uitk-color-grey-900);
  --uitk-actionable-secondary-background-readonly: transparent none;
  --uitk-actionable-secondary-topline-color-readonly: transparent;
  --uitk-actionable-secondary-baseline-color-readonly: transparent;

  /* Final Execution */
  --uitk-actionable-final-foreground: var(--uitk-color-grey-900);
  --uitk-actionable-final-background: linear-gradient(to bottom, var(--uitk-color-orange-300), var(--uitk-color-orange-500));
  --uitk-actionable-final-topline-color: var(--uitk-color-orange-100);
  --uitk-actionable-final-baseline-color: var(--uitk-color-orange-900);

  --uitk-actionable-final-foreground-hover: var(--uitk-color-grey-900);
  --uitk-actionable-final-background-hover: var(--uitk-color-orange-200);
  --uitk-actionable-final-topline-color-hover: var(--uitk-color-orange-100);
  --uitk-actionable-final-baseline-color-hover: var(--uitk-color-grey-900);

  --uitk-actionable-final-foreground-active: var(--uitk-color-grey-900);
  --uitk-actionable-final-background-active: var(--uitk-color-orange-600);
  --uitk-actionable-final-topline-color-active: transparent;
  --uitk-actionable-final-baseline-color-active: transparent;

  --uitk-actionable-final-foreground-disabled: var(--uitk-color-grey-900);
  --uitk-actionable-final-background-disabled: linear-gradient(to bottom, var(--uitk-color-orange-300), var(--uitk-color-orange-500));
  --uitk-actionable-final-topline-color-disabled: var(--uitk-color-orange-100);
  --uitk-actionable-final-baseline-color-disabled: var(--uitk-color-orange-900);

  /* Bid / Buy */
  --uitk-actionable-bid-foreground: var(--uitk-color-grey-900);
  --uitk-actionable-bid-background: linear-gradient(to bottom, var(--uitk-color-blue-50), var(--uitk-color-blue-100));
  --uitk-actionable-bid-topline-color: var(--uitk-color-white);
  --uitk-actionable-bid-baseline-color: var(--uitk-color-blue-300);

  --uitk-actionable-bid-foreground-hover: var(--uitk-color-white);
  --uitk-actionable-bid-background-hover: var(--uitk-color-blue-600);
  --uitk-actionable-bid-topline-color-hover: var(--uitk-color-blue-300);
  --uitk-actionable-bid-baseline-color-hover: var(--uitk-color-grey-900);

  --uitk-actionable-bid-foreground-active: var(--uitk-color-grey-900);
  --uitk-actionable-bid-background-active: var(--uitk-color-blue-50);
  --uitk-actionable-bid-topline-color-active: transparent;
  --uitk-actionable-bid-baseline-color-active: transparent;

  --uitk-actionable-bid-foreground-disabled: var(--uitk-color-grey-900);
  --uitk-actionable-bid-background-disabled: linear-gradient(to bottom, var(--uitk-color-blue-50), var(--uitk-color-blue-100));
  --uitk-actionable-bid-topline-color-disabled: var(--uitk-color-white);
  --uitk-actionable-bid-baseline-color-disabled: var(--uitk-color-blue-300);

  --uitk-actionable-bid-foreground-readonly: var(--uitk-color-blue-600);
  --uitk-actionable-bid-background-readonly: transparent none;
  --uitk-actionable-bid-topline-color-readonly: transparent;
  --uitk-actionable-bid-baseline-color-readonly: var(--uitk-color-grey-40);

  /* Ask / Sell */
  --uitk-actionable-ask-foreground: var(--uitk-color-grey-900);
  --uitk-actionable-ask-background: linear-gradient(to bottom, var(--uitk-color-red-30), var(--uitk-color-red-50));
  --uitk-actionable-ask-topline-color: var(--uitk-color-white);
  --uitk-actionable-ask-baseline-color: var(--uitk-color-red-300);

  --uitk-actionable-ask-foreground-hover: var(--uitk-color-white);
  --uitk-actionable-ask-background-hover: var(--uitk-color-red-600);
  --uitk-actionable-ask-topline-color-hover: var(--uitk-color-red-300);
  --uitk-actionable-ask-baseline-color-hover: var(--uitk-color-grey-900);

  --uitk-actionable-ask-foreground-active: var(--uitk-color-grey-900);
  --uitk-actionable-ask-background-active: var(--uitk-color-red-40);
  --uitk-actionable-ask-topline-color-active: transparent;
  --uitk-actionable-ask-baseline-color-active: transparent;

  --uitk-actionable-ask-foreground-disabled: var(--uitk-color-grey-900);
  --uitk-actionable-ask-background-disabled: linear-gradient(to bottom, var(--uitk-color-red-30), var(--uitk-color-red-50));
  --uitk-actionable-ask-topline-color-disabled: var(--uitk-color-white);
  --uitk-actionable-ask-baseline-color-disabled: var(--uitk-color-red-300);

  --uitk-actionable-ask-foreground-readonly: var(--uitk-color-red-600);
  --uitk-actionable-ask-background-readonly: transparent none;
  --uitk-actionable-ask-topline-color-readonly: transparent;
  --uitk-actionable-ask-baseline-color-readonly: var(--uitk-color-grey-40);
}
