/* Component class applied to the root element */
.saltTabListNext {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}

.saltTabListNext [role="tablist"] {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: transparent;
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  gap: var(--salt-spacing-100);
  max-width: 100%;
  width: 100%;
  min-width: 0;
}

.saltTabListNext-center {
  justify-content: center;
}

.saltTabListNext-right {
  justify-content: flex-end;
}

.saltTabListNext-activeColorPrimary {
  --saltTabListNext-activeColor: var(--salt-container-primary-background);
}

.saltTabListNext-activeColorSecondary {
  --saltTabListNext-activeColor: var(--salt-container-secondary-background);
}

.saltTabListNext-activeColorTertiary {
  --saltTabListNext-activeColor: var(--salt-container-tertiary-background);
}

.saltTabListNext-overflowWarning {
  display: none;
}
