/* Class applied to root Tab element */
.saltTabNext {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  gap: var(--salt-spacing-100);
  border: none;
  border-left: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) transparent;
  border-right: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) transparent;
  white-space: pre;
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  min-width: 4em;
  padding: var(--salt-spacing-50) var(--salt-spacing-100);
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  --tabNext-radius: var(--salt-palette-corner-weak, 0);
  border-radius: var(--tab-radius) var(--tab-radius) 0 0;
  overflow: hidden;

  cursor: var(--salt-cursor-hover);
  color: var(--salt-content-primary-foreground);
  font-weight: var(--salt-text-fontWeight);
  font-family: var(--salt-text-fontFamily);
  text-align: var(--salt-text-textAlign);
  letter-spacing: var(--salt-text-letterSpacing);
  line-height: var(--salt-text-lineHeight);
  font-size: var(--salt-text-fontSize);
}

.saltTabNext::after {
  content: "";
  position: absolute;
  left: calc(var(--salt-size-fixed-100) * -1);
  right: calc(var(--salt-size-fixed-100) * -1);
  height: var(--salt-size-indicator);
}

.saltTabListNext-bordered .saltTabNext::after {
  top: 0;
}

.saltTabListNext-transparent .saltTabNext::after {
  bottom: 0;
}

.saltTabNext:hover::after,
.saltTabNext-focusVisible::after {
  background: var(--salt-navigable-accent-indicator-hover);
}

.saltTabNext-disabled:hover::after,
.saltTabNext-disabled.saltTabNext-focusVisible::after {
  background: none;
}

.saltTabNext-focusVisible {
  outline: var(--salt-focused-outline);
}

.saltTabListNext-bordered .saltTabNext.saltTabNext-selected {
  background: var(--saltTabListNext-activeColor);
  border-left: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-separable-secondary-borderColor);
  border-right: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-separable-secondary-borderColor);
}

.saltTabNext.saltTabNext-selected::after {
  background: var(--salt-navigable-accent-indicator-active);
}

.saltTabNext.saltTabNext-disabled {
  cursor: var(--salt-cursor-disabled);
  color: var(--salt-content-primary-foreground-disabled);
}
