/* Class applied to root Tab element */
.saltTabNext {
  align-items: center;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  background: var(--salt-navigable-primary-background);
  gap: var(--salt-spacing-100);
  border: none;
  border-left: var(--salt-size-border) var(--salt-container-borderStyle) transparent;
  border-right: var(--salt-size-border) var(--salt-container-borderStyle) transparent;
  border-radius: 0;
  white-space: pre;
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  min-width: 4em;
  padding: var(--salt-spacing-50) var(--salt-spacing-100);
  position: relative;
  flex-shrink: 0;

  cursor: var(--salt-navigable-cursor-hover);
  color: var(--salt-content-primary-foreground);
  font-weight: var(--salt-navigable-fontWeight);
  font-family: var(--salt-text-fontFamily);
  text-align: var(--salt-text-textAlign);
  letter-spacing: var(--salt-text-letterSpacing);
  line-height: var(--salt-text-lineHeight);
  font-size: var(--salt-text-fontSize);
}

.saltTabNext-primary {
  --tabNext-background-active: var(--salt-container-primary-background);
}

.saltTabNext-secondary {
  --tabNext-background-active: var(--salt-container-secondary-background);
}

.saltTabNext::after {
  content: "";
  position: absolute;
  left: calc(var(--salt-size-border) * -1);
  right: calc(var(--salt-size-border) * -1);
  height: var(--salt-size-indicator);
}

.saltTabNext-main::after {
  top: 0;
}

.saltTabNext-inline::after {
  bottom: 0;
}

.saltTabNext:hover::after,
.saltTabNext:focus-visible::after {
  background: var(--salt-navigable-indicator-hover);
}

.saltTabNext:disabled:hover::after,
.saltTabNext:disabled:focus-visible::after {
  background: none;
}

.saltTabNext:focus-visible {
  outline: var(--salt-focused-outline);
}

.saltTabNext-main[aria-selected="true"] {
  background: var(--tabNext-background-active);
  border-left: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-container-primary-borderColor);
  border-right: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-container-primary-borderColor);
}

.saltTabNext[aria-selected="true"]::after {
  background: var(--salt-navigable-indicator-active);
}

.saltTabNext:disabled {
  cursor: var(--salt-navigable-cursor-disabled);
  color: var(--salt-content-primary-foreground-disabled);
}

.saltTabstripNext-vertical .saltTabNext {
  border: none;
  width: 100%;
  justify-content: flex-start;
}

.saltTabstripNext-vertical .saltTabNext::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: var(--salt-size-border);
  width: var(--salt-size-indicator);
  height: 100%;
}
