.saltTabOverflow {
  position: relative;
}

.saltTabOverflow-list {
  background: var(--salt-container-primary-background);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  box-shadow: var(--salt-overlayable-shadow-popout);
  box-sizing: border-box;
  border-radius: var(--salt-palette-corner, 0);
}

.saltTabOverflow-listContainer {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-fixed-100);
  max-height: inherit;
  min-height: inherit;
}

.saltTabOverflow-list .saltTabNext {
  color: var(--salt-content-primary-foreground);
  background: var(--salt-selectable-background);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding-left: var(--salt-spacing-100);
  padding-right: var(--salt-spacing-100);
  display: flex;
  gap: var(--salt-spacing-100);
  position: relative;
  align-items: center;
  cursor: var(--salt-cursor-hover);
  box-sizing: border-box;
  flex-shrink: 0;
  justify-content: flex-start;
}

@supports selector(:has(*)) {
  .saltTabListNext:has([data-overflowbutton]) .saltTabOverflow-list .saltTabNext {
    max-width: unset;
  }
}

.saltTabOverflow-list .saltTabNext .saltTabNextTrigger {
  justify-content: start;
}

.saltTabOverflow-list .saltTabNext::after {
  display: none;
}

.saltTabOverflow-list .saltTabNext[aria-disabled="true"] {
  color: var(--salt-content-primary-foreground-disabled);
  cursor: var(--salt-cursor-disabled);
}

.saltTabOverflow-list .saltTabNext-focusVisible {
  outline: var(--salt-focused-outline);
  outline-offset: calc(var(--salt-size-fixed-100) * -2);
}

.saltTabOverflow-list .saltTabNext:hover {
  background: var(--salt-selectable-background-hover);
}

.saltTabOverflow-list .saltTabNext:active {
  background: var(--salt-selectable-background-selected);
  box-shadow:
    0 calc(var(--salt-size-fixed-100) * -1) 0 0 var(--salt-selectable-borderColor-selected),
    0 var(--salt-size-fixed-100) 0 0 var(--salt-selectable-borderColor-selected);
}
