/* Component class applied to the root element */
.saltTabstripNext {
  display: flex;
  flex-wrap: nowrap;
  justify-content: var(--tabstripNext-justifyContent);
  align-items: center;
  position: relative;
  background: transparent;
  width: 100%;
  height: 100%;

  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
}

.saltTabstripNext-horizontal {
  padding-left: var(--salt-spacing-300);
  padding-right: var(--salt-spacing-300);
}

.saltTabstripNext-horizontal::before {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: var(--salt-size-border);
  border-bottom: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-container-primary-borderColor);
}

.saltTabstripNext .saltTabNext-wrapper:not(:last-child) {
  padding-right: var(--salt-spacing-100);
}

.saltTabstripNext-vertical {
  flex-direction: column;
  align-items: flex-start;
}
