/* Component class applied to the root element */
.saltTabstripNext {
  display: flex;
  flex-wrap: nowrap;
  justify-content: var(--tabstripNext-justifyContent);
  align-items: center;
  position: relative;
  background: transparent;
  width: 100%;
  overflow: hidden;
  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
}

.saltTabstripNext-main {
  padding-left: var(--salt-spacing-300);
  padding-right: var(--salt-spacing-300);
  box-sizing: border-box;
}

.saltTabstripNext-main::before {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: var(--salt-size-border);
  border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-separable-secondary-borderColor);
}

.saltTabstripNext .saltTabNext-wrapper:not(:last-child) {
  padding-right: var(--salt-spacing-100);
  box-sizing: border-box;
}
