/* Component class applied to the root element */
.saltTabstripNext {
  display: flex;
  flex-wrap: nowrap;
  justify-content: var(--tabstripNext-justifyContent, flex-start);
  align-items: center;
  position: relative;
  background: transparent;
  width: 100%;
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  gap: var(--salt-spacing-100);
}

.saltTabstripNext-main {
  padding-left: var(--salt-spacing-300);
  padding-right: var(--salt-spacing-300);
  box-sizing: border-box;
}

.saltTabstripNext-main::before {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: var(--salt-size-border);
  border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-separable-secondary-borderColor);
}

.saltTabstripNext-activeColorPrimary {
  --saltTabstripNext-activeColor: var(--salt-container-primary-background);
}

.saltTabstripNext-activeColorSecondary {
  --saltTabstripNext-activeColor: var(--salt-container-secondary-background);
}
