/* stylelint-disable salt/correct-theme-token-usage */

.box {
  width: 420px;
  height: 240px;
  border: 1px solid var(--salt-separable-secondary-borderColor);
}

.boxGrey {
  padding: 56px;
  box-sizing: content-box;
  background: var(--salt-container-secondary-background);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: unset;
  overflow: unset;
}

.sidePanel > .saltToggleButtonGroup-vertical {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
}

.saltResizeHandleSecondary {
  --splitHandle-background: var(--salt-container-secondary-background);
}

.saltResizeHandleTertiary {
  --splitHandle-background: var(--salt-container-tertiary-background);
}

.saltResizeHandleTransparent {
  --splitHandle-background: var(--salt-separable-background);
}

.borderTop {
  border-top-width: var(--salt-size-thickness-100, var(--salt-size-border));
  border-top-color: var(--salt-separable-secondary-borderColor);
  border-top-style: var(--salt-separable-borderStyle);
}

.borderBottom {
  border-bottom-width: var(--salt-size-thickness-100, var(--salt-size-border));
  border-bottom-color: var(--salt-separable-secondary-borderColor);
  border-bottom-style: var(--salt-separable-borderStyle);
}

.borderTopBottom {
  border-top-width: var(--salt-size-thickness-100, var(--salt-size-border));
  border-top-color: var(--salt-separable-secondary-borderColor);
  border-top-style: var(--salt-separable-borderStyle);

  border-bottom-width: var(--salt-size-thickness-100, var(--salt-size-border));
  border-bottom-color: var(--salt-separable-secondary-borderColor);
  border-bottom-style: var(--salt-separable-borderStyle);
}

.borderLeft {
  border-left-width: var(--salt-size-thickness-100, var(--salt-size-border));
  border-left-color: var(--salt-separable-secondary-borderColor);
  border-left-style: var(--salt-separable-borderStyle);
}

.borderRight {
  border-right-width: var(--salt-size-thickness-100, var(--salt-size-border));
  border-right-color: var(--salt-separable-secondary-borderColor);
  border-right-style: var(--salt-separable-borderStyle);
}

.borderLeftRight {
  border-left-width: var(--salt-size-thickness-100, var(--salt-size-border));
  border-left-color: var(--salt-separable-secondary-borderColor);
  border-left-style: var(--salt-separable-borderStyle);

  border-right-width: var(--salt-size-thickness-100, var(--salt-size-border));
  border-right-color: var(--salt-separable-secondary-borderColor);
  border-right-style: var(--salt-separable-borderStyle);
}

@supports (container-type: inline-size) {
  .sidePanel {
    container-type: inline-size;
    container-name: side-panel;
  }

  @container side-panel (max-width: 64px) {
    .sidePanel > .saltToggleButtonGroup-vertical > button {
      justify-content: center;
    }

    .sidePanel > .saltToggleButtonGroup-vertical > button > span {
      display: none;
    }
  }
}
