.saltToggleButtonGroup {
  --toggleButtonGroup-borderWidth: var(--salt-size-fixed-100);

  display: flex;
  background: var(--salt-container-primary-background);
  border: var(--toggleButtonGroup-borderWidth) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
  border-radius: var(--salt-palette-corner-weak, 0);
  width: fit-content;
  gap: var(--salt-spacing-50);
  padding: calc(var(--salt-spacing-50) - var(--toggleButtonGroup-borderWidth));
  flex-direction: row;
}

.saltToggleButtonGroup-disabled {
  background: var(--salt-container-primary-background-disabled);
  border-color: var(--salt-container-primary-borderColor-disabled);
  cursor: var(--salt-cursor-disabled);
}

.saltToggleButtonGroup-readOnly {
  background: var(--salt-container-primary-background);
  border-color: var(--salt-container-primary-borderColor);
  cursor: var(--salt-cursor-disabled);
}

.saltToggleButtonGroup .saltToggleButton {
  border-radius: var(--salt-palette-corner-weaker, 0);
}

.saltToggleButtonGroup-horizontal .saltToggleButton {
  height: calc(var(--salt-size-base) - var(--salt-spacing-100));
}

.saltToggleButtonGroup-vertical {
  flex-direction: column;
}

.saltToggleButtonGroup-vertical .saltToggleButton {
  justify-content: start;
}
