.saltFormFieldLabel.saltText {
  align-self: center;
  font-weight: var(--saltFormField-label-fontWeight, var(--salt-text-fontWeight-strong));
  width: 100%;
}

.saltFormFieldLabel:hover + .saltFormField-controls * {
  --input-borderColor: var(--input-borderColor-hover);
}
