/* Styles applied to the root element dependent on density */
.uitk-density-high {
  --formField-withHelperText-marginTop: 2px;
  --formField-withHelperText-marginTop-fullWidth: 3px;

  --formHelperText-background-offset-height: 17px;
}
.uitk-density-medium {
  --formField-withHelperText-marginTop: 2px;
  --formField-withHelperText-marginTop-fullWidth: 3px;
  --formField-helperText-transform: translate(0, 2px);

  --formHelperText-background-offset-height: 19px;
}
.uitk-density-touch {
  --formField-withHelperText-marginTop: 8px;
  --formField-withHelperText-marginTop-fullWidth: 5px;
  --formField-helperText-transform: translate(0, -3px);

  --formHelperText-background-offset-height: 21px;
}
.uitk-density-low {
  --formField-withHelperText-marginTop: 4px;
  --formField-withHelperText-marginTop-fullWidth: 5px;
  --formField-helperText-transform: translate(0, 1px);

  --formHelperText-background-offset-height: 21px;
}

/* Class applied if `fullWidth={true}` */
.uitkFormField-fullWidth {
  --formField-helperText-transform: none;
}

/* Class applied to the helper text container */
.uitkFormFieldHelperText {
  color: var(--uitkFormFieldHelperText-color, var(--formField-helperText-color, var(--uitk-text-secondary-foreground)));
  font-size: var(--uitkFormFieldHelperText-fontSize, var(--uitk-text-help-fontSize));
  font-style: var(--uitkFormFieldHelperText-fontStyle, italic);
  letter-spacing: var(--uitkFormFieldHelperText-letterSpacing, 0);
  line-height: var(--uitkFormFieldHelperText-height, var(--uitk-typography-lineHeight));
  min-height: var(--uitkFormFieldHelperText-minHeight, var(--uitk-text-caption-minHeight));
  margin-bottom: var(--uitkFormFieldHelperText-marginBottom, 0);
  margin-top: var(--uitkFormFieldHelperText-marginTop, var(--formField-helperText-marginTop));
  opacity: var(--uitkFormFieldHelperText-opacity, 1);
  padding-left: var(--uitkFormFieldHelperText-paddingLeft, var(--uitk-size-unit));
  padding-right: var(--uitkFormFieldHelperText-paddingRight, var(--uitk-size-unit));
  transform: var(--uitkFormFieldHelperText-transform, var(--formField-helperText-transform, none));
}
