/* Styles applied to root element */
.uitk-density-touch {
  --formLabel-default-top: 11px;
  --formLabel-left-top: 16px;
  --formLabel-minHeight: 16px;
}
.uitk-density-low {
  --formLabel-default-top: 7px;
  --formLabel-left-top: 12px;
}
.uitk-density-medium {
  --formLabel-default-top: 5px;
  --formLabel-left-top: 8px;
}
.uitk-density-high {
  --formLabel-default-top: 3px;
  --formLabel-left-top: 4px;
}

.uitkFormLabel {
  --formLabel-top: var(--formLabel-default-top);
  --formLabel-width: 100%;
}

.uitkFormField-labelLeft .uitkFormLabel {
  --formLabel-top: var(--formLabel-left-top);
  --formLabel-width: auto;
}

.uitkFormLabel {
  align-items: center;
  box-sizing: border-box;
  color: var(--uitkFormLabel-text-color, var(--uitk-text-secondary-foreground));
  display: block;
  font-size: var(--uitkFormLabel-fontSize, var(--uitk-text-caption-fontSize));
  margin-bottom: var(--uitkFormLabel-margin-Bottom, var(--formLabel-marginBottom));
  min-height: var(--uitkFormLabel-minHeight, var(--formLabel-minHeight, var(--uitk-text-caption-minHeight)));
  margin-top: var(--uitkFormLabel-marginTop, 0px);
  line-height: var(--uitkFormLabel-lineHeight, var(--uitk-text-lineHeight));
  overflow: hidden;
  padding-left: var(--uitkFormLabel-paddingLeft, var(--formLabel-paddingLeft));
  padding-right: var(--uitkFormLabel-paddingRight, var(--formLabel-paddingRight));
  padding-top: var(--uitkFormLabel-paddingTop, 0);
  padding-bottom: var(--uitkFormLabel-paddingBottom, 0);
  text-overflow: ellipsis;
  top: var(--uitkFormLabel-top, var(--formLabel-top));
  transform: translate(var(--uitkFormLabel-transform-x, 0), var(--uitkFormLabel-transform-y, var(--formLabel-top)));
  white-space: nowrap;
  width: var(--uitkFormLabel-width, var(--formLabel-width, 100%));
}

.uitkFormLabel ~ * {
  z-index: 1;
}

/* Styles applied when `disabled={true}` */
.uitkFormLabel-disabled {
  color: var(--uitkFormLabel-text-color-disabled, var(--uitk-text-secondary-foreground-disabled));
  cursor: var(--uitk-editable-cursor-disabled);
}

/* Styles applied when displayedNecessity or necessityText provided */
.uitkFormLabel-necessityIndicator {
  font-style: var(--uitkFormLabel-necessityIndicator-fontStyle, var(--uitk-text-help-fontStyle));
  margin-left: 1ch;
}

/* Styles applied if `hasStatusIndicator={true}` */
.uitkFormLabel-statusIndicator {
  margin-left: 6px;
  vertical-align: top;
}
