.uitk-density-high {
  --formField-focused-outline-bottom: 4px;
  --formLabel-top-marginBottom: 2px;
}
.uitk-density-medium {
  --formField-focused-outline-bottom: 2px;
  --formLabel-top-marginBottom: 2px;
}
.uitk-density-low {
  --formField-focused-outline-bottom: 2px;
  --formLabel-top-marginBottom: 4px;
}
.uitk-density-touch {
  --formField-focused-outline-bottom: 0px;
  --formLabel-top-marginBottom: 8px;
}

/* Style applied to the root element */
.uitkFormField {
  --formField-activationIndicator-color: var(--uitk-editable-borderColor);
  --formField-activationIndicator-size: var(--uitk-editable-borderWidth);
  --formField-activationIndicator-style: var(--uitk-editable-borderStyle);
  --formField-background: var(--uitk-editable-background-medium);
  --formField-focused-outlineColor: var(--uitk-focused-outlineColor);
  --formField-focused-outlineOffset: var(--uitkFormField-focused-outlineOffset, var(--uitk-focused-outlineOffset));
  --formField-focused-outlineStyle: var(--uitkFormField-focused-outlineStyle, var(--uitk-focused-outlineStyle));
  --formField-focused-outlineWidth: var(--uitkFormField-focused-outlineWidth, var(--uitk-focused-outlineWidth));
  --formField-helperText-height: 0px;
}

.uitkEmphasisLow.uitkFormField {
  --formField-background: var(--uitk-editable-background-low);
}

.uitkEmphasisHigh.uitkFormField {
  --formField-background: var(--uitk-editable-background-high);
}

.uitkFormField {
  box-sizing: border-box;
  border: 0;
  display: inline-grid;
  font-size: var(--uitkFormField-fontSize, var(--uitk-text-fontSize));
  margin: var(--uitkFormField-margin, 0);
  padding: 0;
  position: relative;
  min-width: 0;
  vertical-align: top;
  width: var(--uitkFormField-width, auto);
}

/* Class applied to the root element on hover */
.uitkFormField:not(.uitkFormField-readOnly):not(.uitkFormField-warning):not(.uitkFormField-error):not(.uitkFormField-disabled):not(.uitkFormField-focused):hover {
  --formField-activationIndicator-color: var(--uitk-editable-borderColor-hover);
  --formField-activationIndicator-size: var(--uitk-editable-borderWidth-hover);
  --formField-activationIndicator-style: var(--uitk-editable-borderStyle-hover);

  --uitkInput-cursor: var(--uitk-editable-cursor-hover);
}

/* Class applied to the root element on focus */
.uitkFormField-focused,
.uitkFormField-lowFocused {
  --formField-activationIndicator-color: var(--uitk-editable-borderColor-active);
  --formField-activationIndicator-size: var(--uitk-editable-borderWidth-active);
  --formField-activationIndicator-style: var(--uitk-editable-borderStyle-active);

  --uitkInput-cursor: var(--uitk-editable-cursor-active);
}

/* Class applied when helper text is provided */
.uitkFormField-withHelperText {
  --formField-activationIndicator-offsetBottom: calc(var(--formField-withHelperText-marginTop) + var(--uitkFormFieldHelperText-height, var(--formField-helperText-height)));
  --formField-helperText-marginTop: var(--formField-withHelperText-marginTop);
}

.uitkFormField-withHelperText *:after {
  --formField-withHelperText-height: var(--uitk-text-lineHeight);
}

/* Class applied to the root element if `fillWidth={true}` */
.uitkFormField-fullWidth {
  width: 100%;
}

/* Class applied if `fullWidth={true}` and helper text is provided */
.uitkFormField-fullWidth.uitkFormField-withHelperText {
  --formField-helperText-marginTop: var(--formField-withHelperText-marginTop-fullWidth);
  --formField-activationIndicator-offsetBottom: calc(var(--formField-withHelperText-marginTop-fullWidth) + var(--uitkFormFieldHelperText-height, var(--formField-helperText-height)));
}

/* Class applied to the root element if `disabled={true}` */
.uitkFormField-disabled:not(.uitkFormField-warning):not(.uitkFormField-error) {
  --formField-activationIndicator-color: var(--uitk-editable-borderColor-disabled);
  --formField-helperText-color: var(--uitk-text-secondary-foreground-disabled);

  cursor: var(--uitk-editable-cursor-disabled);
}

/* Class applied to the root element on warning state */
.uitkFormField.uitkFormField-warning {
  --formField-focused-outlineColor: var(--uitk-status-warning-borderColor);
  --formField-activationIndicator-color: var(--uitk-status-warning-borderColor);
}

/* Class applied to the root element on error state */
.uitkFormField.uitkFormField-error {
  --formField-focused-outlineColor: var(--uitk-status-error-borderColor);
  --formField-activationIndicator-color: var(--uitk-status-error-borderColor);
}

/* As above when `uitkEmphasisHigh` className passed */
.uitkEmphasisHigh.uitkFormField-error {
  --formField-background: var(--uitk-status-error-background-high);
}

.uitkEmphasisHigh.uitkFormField-warning {
  --formField-background: var(--uitk-status-warning-background-high);
}

/* Class applied to the root element if `labelPlacement="left"` */
.uitkFormField-labelLeft {
  --formLabel-marginTop: var(--uitk-size-unit);
  --formLabel-paddingLeft: 0px;
  --formLabel-paddingRight: calc(0.75 * var(--uitk-size-unit));

  align-self: start;
  grid-template-columns: auto 1fr;
}

/* Class applied to the root element if `labelPlacement="top"` or labelPlacement omitted (default is 'top') */
.uitkFormField-labelTop {
  --formLabel-marginBottom: var(--formLabel-top-marginBottom);
  --formLabel-marginTop: 0;
  --formLabel-paddingLeft: var(--uitk-size-unit);
  --formLabel-paddingRight: var(--uitk-size-unit);
  /* Uses density invariant value unless helper text provided */
  --formField-background-offset-height: calc(var(--formField-helperText-marginTop, 0px) + var(--uitkFormFieldHelperText-height, var(--formField-helperText-height)));

  background: linear-gradient(to top, transparent var(--formField-background-offset-height), var(--uitkFormField-background, var(--formField-background)) var(--formField-background-offset-height));
}

/* Class applied if `labelPlacement="top"` and helper text is provided */
.uitkFormField-labelTop.uitkFormField-withHelperText {
  /* Uses density aware value from FormHelperText */
  --formField-background-offset-height: var(--formHelperText-background-offset-height);
}

.uitkFormField > * {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.uitkFormField-labelLeft > * {
  grid-row-start: 1;
  grid-row-end: 2;
}

.uitkFormField > .uitkFormLabel {
  grid-row-start: 1;
  grid-row-end: 2;
}

.uitkFormField > .uitkFormActivationIndicator {
  grid-row-start: 3;
  grid-row-end: 4;
}

.uitkFormField > .uitkFormFieldHelperText {
  grid-row-start: 4;
  grid-row-end: 5;
}

.uitkFormField-labelLeft > .uitkFormLabel ~ * {
  grid-column-start: 2;
  grid-column-end: 2;
}

/* Class applied if `readOnly={true}"` */
.uitkFormField-readOnly {
  --formField-activationIndicator-color: var(--uitk-editable-borderColor-readonly);
}

/* Class applied on focus with `labelTop={true}` and no helper text provided */
.uitkFormField:not(.uitkFormField-withHelperText):not(.uitkFormField-labelLeft).uitkFormField-focused:after {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--uitkFormFieldHelperText-height, var(--formField-helperText-height, 0px));
  outline-color: var(--uitkFormField-focused-outlineColor, var(--formField-focused-outlineColor));
  outline-style: var(--uitkFormField-focused-outlineStyle, var(--formField-focused-outlineStyle));
  outline-width: var(--uitkFormField-focused-outlineWidth, var(--formField-focused-outlineWidth));
}

/* Class applied on focus with `labelTop={true}` and helper text provided */
.uitkFormField-withHelperText:not(.uitkFormField-labelLeft).uitkFormField-focused:after {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(var(--uitkFormFieldHelperText-height, var(--formField-withHelperText-height, var(--uitk-text-lineHeight))) + var(--formField-withHelperText-focused-outline-bottom, 0px));
  outline-color: var(--uitkFormField-focused-outlineColor, var(--formField-focused-outlineColor));
  outline-style: var(--uitkFormField-focused-outlineStyle, var(--formField-focused-outlineStyle));
  outline-width: var(--uitkFormField-focused-outlineWidth, var(--formField-focused-outlineWidth));
}

.uitkFormField-withHelperText.uitkFormField-focused {
  --formField-withHelperText-focused-outline-bottom: var(--formField-focused-outline-bottom);
}

.uitkFormField-labelLeft.uitkFormField-focused:after {
  content: none;
}

/* Class applied on focus with `labelLeft={true}` */
.uitkFormField-labelLeft.uitkFormField-focused > *:after {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  outline-color: var(--uitkFormField-focused-outlineColor, var(--formField-focused-outlineColor));
  outline-style: var(--uitkFormField-focused-outlineStyle, var(--formField-focused-outlineStyle));
  outline-width: var(--uitkFormField-focused-outlineWidth, var(--formField-focused-outlineWidth));
  z-index: -1;
}

.uitkFormField-labelLeft.uitkFormField-focused > :is(.uitkFormActivationIndicator, .uitkFormFieldHelperText, .uitkFormLabel):after {
  content: none;
}

.uitkFormField-labelLeft.uitkFormField-focused {
  outline: none;
}

.uitkFormField-labelLeft.uitkFormField-focused > :is(.uitkFormField-activationIndicator, .uitkFormField-helperText, .uitkFormLabel):after {
  content: none;
}

.uitkFormField-labelLeft.uitkFormField-focused .uitkFormLabel + * {
  outline: none;
}

.uitkEmphasisLow.uitkFormField.uitkFormField-labelLeft > .uitkFormLabel ~ * {
  background: var(--uitkFormField-background, var(--formField-background));
}

.uitkFormField-labelLeft > .uitkFormLabel ~ :not(.uitkFormFieldHelperText) {
  background: var(--uitkFormField-background, var(--formField-background));
}
