.saltFormFieldControlWrapper {
  align-items: center;
  border: none;
  display: grid;
  grid-auto-columns: minmax(min-content, 1fr);
  grid-auto-flow: column;
  grid-column-gap: var(--salt-size-unit);
  margin: 0;
  padding: 0;
}

.saltFormFieldControlWrapper-secondary .saltInput {
  --saltInput-background: var(--salt-editable-secondary-background);
  --saltInput-background-active: var(--salt-editable-secondary-background-active);
  --saltInput-background-hover: var(--salt-editable-secondary-background-active);
  --saltInput-background-disabled: var(--salt-editable-secondary-background-disabled);
  --saltInput-background-readonly: var(--salt-editable-secondary-background-readonly);
}
