.saltFormFieldHelperText {
  cursor: default;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.saltFormFieldHelperText .saltText {
  font-style: var(--saltFormField-helperText-fontStyle, var(--salt-typography-textDecoration-italic));
}

.saltFormFieldHelperText-withValidation {
  column-gap: var(--salt-spacing-75);
}

.saltFormFieldHelperText .saltFormFieldHelperText-statusIndicator {
  margin-top: calc((var(--salt-text-label-lineHeight) - max(var(--salt-size-icon), 12px)) / 2);
}
