/**
  Deprecated Variables Notice:

  The CSS variables listed below are deprecated and should be replaced with their corresponding SaltStyleContract variables.
  This approach allows us to share contracts that manage style tokens and provide a structured way for users to implement known levels of customization.

  --saltFormField-label-fontWeight
*/

.saltFormFieldLabel.saltText {
  --formFieldLabel-alignSelf: unset;
  --formFieldLabel-color: unset;
  --formFieldLabel-fontSize: unset;
  --formFieldLabel-fontStyle: unset;
  --formFieldLabel-fontWeight: var(--salt-text-fontWeight-strong);
  --formFieldLabel-justifySelf: unset;
  --formFieldLabel-lineHeight: unset;
  --formFieldLabel-paddingTop: unset;
  --formFieldLabel-paddingRight: unset;
  --formFieldLabel-width: 100%;

  align-self: var(--formFieldLabel-alignSelf);
  align-self: var(--formFieldLabel-alignSelf);
  color: var(--formFieldLabel-color);
  font-size: var(--formFieldLabel-fontSize);
  font-style: var(--formFieldLabel-fontStyle);
  font-weight: var(--formFieldLabel-fontWeight);
  justify-self: var(--formFieldLabel-justifySelf);
  padding-top: var(--formFieldLabel-paddingTop);
  padding-right: var(--formFieldLabel-paddingRight);
  width: var(--formFieldLabel-width);
}

.saltFormFieldLabel:hover + .saltFormField-controls * {
  --input-borderColor: var(--input-borderColor-hover);
}

.saltFormField-labelLeft .saltFormFieldLabel.saltText {
  --formFieldLabel-alignSelf: baseline;
  --formFieldLabel-paddingTop: var(--salt-spacing-100);
}

.saltFormFieldLabel-necessityLabel {
  --formFieldLabel-fontStyle: var(--salt-editable-help-fontStyle);
  --formFieldLabel-fontWeight: var(--salt-text-fontWeight);
}

.saltFormFieldLabel-sentence.saltText {
  --formFieldLabel-color: var(--salt-content-primary-foreground);
  --formFieldLabel-fontSize: var(--salt-text-fontSize);
}

.saltFormFieldLabel-left.saltText {
  --formFieldLabel-justifySelf: flex-start;
}

.saltFormFieldLabel-right.saltText {
  --formFieldLabel-justifySelf: flex-end;
  --formFieldLabel-paddingRight: var(--salt-spacing-200);
  --formFieldLabel-width: auto;
}


