.saltFormField {
  display: inline-grid;
  position: relative;
  gap: var(--salt-spacing-100);
  text-align: left;
  width: var(--saltFormField-width, 100%);
}

.saltFormField-labelTop {
  grid-template-areas:
    "label"
    "controls"
    "helperText";
}

.saltFormField-labelLeft {
  align-self: center;
  grid-template-columns: var(--formField-label-width, 40%) 1fr;
  grid-template-areas:
    "label controls"
    "auto helperText";
}

.saltFormField-labelRight {
  align-self: center;
  grid-template-columns: var(--formField-label-width, 40%) 1fr;
  grid-template-areas:
    "label controls"
    "auto helperText";
}

.saltFormField-labelRight .saltFormFieldLabel {
  text-align: right;
}

.saltFormField-controls {
  align-items: center;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-column-gap: var(--salt-spacing-100);
}

.saltFormField > *,
.saltFormFieldControlWrapper {
  grid-area: controls;
}

.saltFormFieldLabel {
  grid-area: label;
}

.saltFormFieldHelperText {
  grid-area: helperText;
}

.saltFormField-disabled {
  --saltInput-outline: none;
  --saltCheckbox-outline: none;
  --saltRadioButton-outline: none;
}
