/* Styles applied to the root element dependent on density */
.uitk-density-high {
  --formField-withHelperText-marginTop: 2px;
  --formField-withHelperText-marginTop-fullWidth: 3px;

  --formHelperText-background-offset-height: 17px;
}
.uitk-density-medium {
  --formField-withHelperText-marginTop: 2px;
  --formField-withHelperText-marginTop-fullWidth: 3px;
  --formField-helperText-transform: translate(0, 2px);

  --formHelperText-background-offset-height: 19px;
}
.uitk-density-touch {
  --formField-withHelperText-marginTop: 8px;
  --formField-withHelperText-marginTop-fullWidth: 5px;
  --formField-helperText-transform: translate(0, -3px);

  --formHelperText-background-offset-height: 21px;
}
.uitk-density-low {
  --formField-withHelperText-marginTop: 4px;
  --formField-withHelperText-marginTop-fullWidth: 5px;
  --formField-helperText-transform: translate(0, 1px);

  --formHelperText-background-offset-height: 21px;
}

/* Class applied if `fullWidth={true}` */
.uitkFormField-fullWidth {
  --formField-helperText-transform: none;
}

/* Class applied to the helper text container */
.uitkFormFieldHelperText {
  color: var(--uitkFormFieldHelperText-color, var(--uitk-text-secondary-foreground));
  font-size: var(--uitkFormFieldHelperText-font-size, var(--uitk-text-help-fontSize));
  font-style: var(--uitkFormFieldHelperText-font-style, var(--uitk-text-help-fontStyle));
  letter-spacing: var(--uitkFormFieldHelperText-letter-spacing, 0);
  line-height: var(--uitkFormFieldHelperText-line-height, var(--uitk-text-help-lineHeight));
  min-height: var(--uitkFormFieldHelperText-min-height, var(--uitk-text-caption-minHeight));
  margin-bottom: var(--uitkFormFieldHelperText-margin-bottom, 0);
  margin-top: var(--uitkFormFieldHelperText-margin-top, var(--form-field-helper-text-margin-top-full-width, var(--form-field-helper-text-margin-top)));
  opacity: var(--uitkFormFieldHelperText-opacity, 1);
  padding-left: var(--uitkFormFieldHelperText-paddingLeft, var(--uitk-size-unit));
  padding-right: var(--uitkFormFieldHelperText-paddingRight, var(--uitk-size-unit));
  transform: var(--uitkFormFieldHelperText-transform, var(--formField-helperText-transform, none));
}
