.saltFormFieldLabel.saltText {
  align-self: center;
  font-weight: var(--saltFormField-label-fontWeight, var(--salt-text-fontWeight-strong));
  width: 100%;
}

.saltFormFieldLabel:hover + .saltFormField-controls * {
  --inputNext-borderColor: var(--inputNext-borderColor-hover);
}
