.saltNavItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: var(--salt-navigable-primary-background);
  gap: var(--salt-spacing-75);
}

.saltNavItem-horizontal {
  min-height: calc(var(--salt-size-stackable) + var(--salt-size-accent) + var(--salt-spacing-100));
  padding: var(--salt-spacing-100);
}

.saltNavItem-vertical {
  min-height: var(--salt-size-stackable);
}

.saltNavItem-label,
.saltNavItem-label:hover {
  color: var(--salt-text-primary-foreground);
  line-height: var(--salt-text-lineHeight);
  font-family: var(--salt-text-fontFamily);
  padding-left: calc(var(--saltNavItem-level, 0) * var(--salt-spacing-150));
  text-decoration: none;
}

.saltNavItem-vertical .saltNavItem-expandButton {
  justify-self: end;
  margin: calc((var(--salt-size-stackable) - var(--salt-size-base)) / 2);
}

.saltNavItem-horizontal {
  padding-top: calc(var(--salt-spacing-100) + var(--salt-size-accent));
}

.saltNavItem-vertical {
  padding-left: calc(var(--salt-spacing-200) + var(--salt-size-accent));
}

.saltNavItem:hover,
.saltNavItem:focus {
  background: var(--salt-navigable-primary-background-hover);
}

.saltNavItem:focus-visible {
  outline: var(--salt-focused-outline);
}

.saltNavItem-active {
  background: var(--salt-navigable-primary-background-active);
}

.saltNavItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.saltNavItem-horizontal::after {
  width: 100%;
  height: var(--salt-size-accent);
}

.saltNavItem-vertical::after {
  width: var(--salt-size-accent);
  height: 100%;
}

.saltNavItem-horizontal:hover::after,
.saltNavItem-horizontal:focus::after {
  background: var(--salt-navigable-indicator-hover);
}

.saltNavItem.saltNavItem-active::after,
.saltNavItem.saltNavItem-active:hover::after,
.saltNavItem.saltNavItem-active:focus::after {
  background: var(--saltNavItem-indicator-color, var(--salt-navigable-indicator-active));
}
