/* Vars applied to root NavItem component */
.saltNavItem {
  --navItem-color: var(--salt-text-secondary-foreground);
  --navItem-fill: var(--salt-text-secondary-foreground);
  --navItem-bar-inset: var(--salt-spacing-25);
  --navItem-bar-size: calc(var(--salt-size-bar) / 2);
  --navItem-indicator-background: var(--salt-navigable-indicator-active);
}

/* Vars applied to NavItem component when active or selected */
.saltNavItem-active,
.saltNavItem-selected {
  --navItem-color: var(--salt-text-primary-foreground);
  --navItem-fill: var(--salt-text-primary-foreground);
}

/* Styles applied to root NavItem component */
.saltNavItem {
  display: flex;
  align-items: center;
  position: relative;
  gap: var(--salt-spacing-100);
  font-weight: var(--salt-text-fontWeight-strong);
  /* Hover off animation */
  transition: all var(--salt-duration-instant) ease-in-out;
}

/* Styles applied to NavItem icon */
.saltNavItem .saltNavItem-icon {
  fill: var(--navItem-fill);
}

/* Styles applied when orientation = "horizontal" */
.saltNavItem-horizontal {
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100) + var(--salt-spacing-100));
  padding: calc(var(--salt-spacing-100) + var(--navItem-bar-inset)) var(--salt-spacing-100) var(--salt-spacing-100) var(--salt-spacing-100);
}

/* Styles applied when orientation = "vertical" */
.saltNavItem-vertical {
  min-height: var(--salt-size-stackable);
  padding-left: calc(var(--salt-spacing-100) + var(--navItem-bar-inset));
}

/* Styles applied to NavItem label on hover */
.saltNavItem-label:hover {
  --link-color-hover: var(--navItem-color);
}

/* Styles applied to NavItem label */
.saltNavItem .saltNavItem-label {
  text-decoration: none;
  color: var(--navItem-color);
  line-height: var(--salt-text-lineHeight);
  font-family: var(--salt-text-fontFamily);
  padding-left: calc(var(--saltNavItem-level, 0) * var(--salt-spacing-100));
  flex: 1;
}

/* Styles applied when level is not 0 */
.saltNavItem-nested {
  padding-left: calc(var(--salt-spacing-250) + (var(--saltNavItem-level, 0) * var(--salt-spacing-100)));
}

/* Styles applied to expand button icon */
.saltNavItem .saltNavItem-expandButton {
  --saltIcon-color: var(--navItem-fill);
  --saltButton-background-hover: none;
  --saltButton-background-active: none;
}

/* Styles applied to NavItem when focus is visible */
.saltNavItem:focus-visible {
  outline: var(--salt-focused-outline);
}

/* Styles applied to activation line */
.saltNavItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

/* Styles applied to activation line when orientation = "horizontal" */
.saltNavItem-horizontal::after {
  width: 100%;
  height: var(--navItem-bar-size);
  top: var(--navItem-bar-inset);
}

/* Styles applied to activation line when orientation = "vertical" */
.saltNavItem-vertical::after {
  width: var(--navItem-bar-size);
  height: 100%;
  left: var(--navItem-bar-inset);
}

/* Styles applied to activation line on hover and on focus */
.saltNavItem:hover::after,
.saltNavItem:focus::after {
  background: var(--salt-navigable-indicator-hover);
  /* Hover on animation */
  transition: all var(--salt-duration-perceptible) ease-in-out;
}

/* Styles applied to activation line when item has active children */
.saltNavItem.saltNavItem-selected::after,
.saltNavItem.saltNavItem-selected:hover::after,
.saltNavItem.saltNavItem-selected:focus::after {
  --navItem-indicator-background: none;
}

/* Styles applied to activation line when item is active */
.saltNavItem.saltNavItem-active::after,
.saltNavItem.saltNavItem-active:hover::after,
.saltNavItem.saltNavItem-active:focus::after {
  background: var(--navItem-indicator-background);
  /* Hover on animation */
  transition: all var(--salt-duration-perceptible) ease-in-out;
}
