.layout-active-content {
  background: var(--uitk-color-grey-40);
  padding: 1rem;
}
.layout-content {
  background: var(--uitk-color-orange-20);
  padding: 1rem;
}
.grid-item {
  padding: 16px;
  height: calc(100% - 32px);
  display: flex;
  align-content: center;
}

.responsive-grid-item {
  min-height: 200px;
  min-width: 200px;
  height: calc(100% - 32px);
}

.border-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-header {
  background-color: var(--uitk-color-orange-20);
}

.border-left {
  background-color: var(--uitk-color-grey-40);
}
.border-right {
  background-color: var(--uitk-color-teal-30);
}

.border-main {
  background-color: var(--uitk-color-red-30);
}

.border-bottom {
  background-color: var(--uitk-color-purple-30);
}

.flow-layout-container {
  padding: calc(var(--uitk-size-unit) * 2) calc(var(--uitk-size-unit) * 3);
  background-color: var(--uitk-container-background-high);
}

.flow-layout-container p,
.flow-layout-container h1 {
  margin: 0;
}

.border-layout-custom-form label {
  min-width: 150px;
  text-align: right;
}

.border-layout-custom-form .uitkFormField-labelLeft {
  width: 70%;
}

.border-layout-custom-form .uitkInput-suffixContainer {
  margin-right: var(--uitk-size-unit);
}

.border-layout-switch-container {
  padding: var(--uitk-size-unit);
}

.border-layout-button-container,
.flow-layout-form-container {
  padding: calc(var(--uitk-size-unit) * 2) calc(var(--uitk-size-unit) * 3);
}

.border-layout-pill {
  margin: calc(var(--uitk-size-unit) * 2) calc(var(--uitk-size-unit) * 3);
  background: var(--uitk-status-success-foreground);
  color: var(--uitk-color-white);
}

.border-layout-form-header,
.border-layout-form-footer {
  background-color: var(--uitk-color-white);
  z-index: 10;
}
.border-layout-form-footer button {
  margin-top: calc(var(--uitk-size-unit) * 2);
  margin-bottom: 16px;
}

.border-layout-form-steps {
  background-color: var(--uitk-container-background-high);
}

.border-layout-contacts {
  padding: calc(var(--uitk-size-unit) * 3) 0 calc(var(--uitk-size-unit) * 3) 0;
}

.border-layout-contacts h2,
.grid-layout-container h2 {
  margin-top: 0;
  margin-bottom: calc(var(--uitk-size-unit) * 3);
}

.border-layout-contacts-footer {
  border-top: 1px solid;
  border-color: var(--uitk-separable-secondary-borderColor);
  padding: calc(var(--uitk-size-unit) * 3) 0 calc(var(--uitk-size-unit) * 2) 0;
}

@media (prefers-reduced-motion) {
  .reduced-motion .uitkParentChildItem-slide-left {
    animation: none;
  }

  .reduced-motion .uitkParentChildItem-slide-right {
    animation: none;
  }
}
