.saltDropdownNext {
  --saltIcon-margin: 2px 0 0 8px;
  --dropdownNext-borderColor: var(--salt-editable-borderColor);
  --dropdownNext-borderStyle: var(--salt-editable-borderStyle);

  border-color: var(--saltDropdownNext-borderColor, var(--dropdownNext-borderColor));
  border-width: var(--saltDropdownNext-borderWidth, 0 0 var(--salt-size-border) 0);
  border-style: var(--saltDropdownNext-borderStyle, var(--dropdownNext-borderStyle));
  border-radius: var(--saltDropdownNext-borderRadius, 0);
  display: inline-block;
  line-height: 0;
  position: relative;
}

.saltDropdownNext-fullWidth {
  width: 100%;
}

.saltDropdownNext-popup {
  background: var(--salt-container-primary-background);
  z-index: calc(var(--salt-zIndex-flyover) - 1);
}
