.saltDropdownNext {
  --dropdownNext-borderColor: var(--salt-editable-borderColor);
  --dropdownNext-color: var(--salt-content-primary-foreground);
  --dropdownNext-cursor: var(--salt-selectable-cursor-hover);
}

.saltDropdownNext {
  all: unset;
  box-sizing: border-box;
  min-width: 4em;
  width: 100%;
  background: var(--dropdownNext-background);
  cursor: var(--dropdownNext-cursor);
  min-height: var(--salt-size-base);
  border-bottom: var(--salt-size-border) var(--salt-editable-borderStyle) var(--dropdownNext-borderColor);
  display: flex;
  align-items: center;
  padding: 0 var(--salt-spacing-100);
  gap: var(--salt-spacing-100);
  color: var(--dropdownNext-color);
  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
}

.saltDropdownNext:hover {
  --dropdownNext-borderColor: var(--salt-editable-borderColor-hover);
}

.saltDropdownNext:focus-visible {
  outline: var(--salt-focused-outline);
  --dropdownNext-borderColor: var(--salt-editable-borderColor-hover);
}

.saltDropdownNext-content {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.saltDropdownNext-placeholder {
  color: var(--salt-content-secondary-foreground);
  font-weight: var(--salt-text-fontWeight-small);
}

.saltDropdownNext-primary {
  --dropdownNext-background: var(--salt-editable-primary-background);
}

.saltDropdownNext-secondary {
  --dropdownNext-background: var(--salt-editable-secondary-background);
}

.saltDropdownNext:disabled {
  --dropdownNext-background: var(--salt-editable-primary-background-disabled);
  --dropdownNext-borderColor: var(--salt-editable-borderColor-disabled);
  --dropdownNext-color: var(--salt-content-primary-foreground-disabled);
  --dropdownNext-cursor: var(--salt-selectable-cursor-disabled);
}

.saltDropdownNext[aria-readonly="true"] {
  --dropdownNext-background: var(--salt-editable-primary-background-readonly);
  --dropdownNext-borderColor: var(--salt-editable-borderColor-readonly);
  --dropdownNext-color: var(--salt-content-primary-foreground);
  --dropdownNext-cursor: var(--salt-selectable-cursor-readonly);
}

.saltDropdownNext-error {
  --dropdownNext-background: var(--salt-status-error-background);
  --dropdownNext-borderColor: var(--salt-status-error-borderColor);
}

.saltDropdownNext-error .saltDropdownNext:focus-visible {
  outline-color: var(--salt-status-error-borderColor);
  --dropdownNext-borderColor: var(--salt-status-error-borderColor);
}

.saltDropdownNext-warning {
  --dropdownNext-background: var(--salt-status-warning-background);
  --dropdownNext-borderColor: var(--salt-status-warning-borderColor);
}

.saltDropdownNext-warning .saltDropdownNext:focus-visible {
  outline-color: var(--salt-status-warning-borderColor);
  --dropdownNext-borderColor: var(--salt-status-warning-borderColor);
}

.saltDropdownNext-success {
  --dropdownNext-background: var(--salt-status-success-background);
  --dropdownNext-borderColor: var(--salt-status-success-borderColor);
}

.saltDropdownNext-success .saltDropdownNext:focus-visible {
  outline-color: var(--salt-status-success-borderColor);
  --dropdownNext-borderColor: var(--salt-status-success-borderColor);
}
