.saltBreadcrumbsNext {
  display: block;
  margin-block: var(--salt-spacing-25);
}

.saltBreadcrumbsNext-ol {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--salt-spacing-100);
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.saltBreadcrumbsNext-ol-wrap {
  flex-wrap: wrap;
}

.saltBreadcrumbsNext-collapseItem {
  align-items: center;
  display: inline-flex;
  flex: 0 1 auto;
  gap: var(--salt-spacing-100);
  list-style: none;
  min-width: 0;
}

.saltBreadcrumbsNext-collapseButton[aria-expanded="true"] {
  --saltButton-background: var(--salt-actionable-subtle-background-active);
  --saltButton-background-hover: var(--salt-actionable-subtle-background-active);
  --saltButton-text-color: var(--salt-actionable-subtle-foreground-active);
  --saltButton-text-color-hover: var(--salt-actionable-subtle-foreground-active);
  --saltButton-borderColor: var(--salt-actionable-subtle-borderColor-active);
  --saltButton-borderColor-hover: var(--salt-actionable-subtle-borderColor-active);
  cursor: var(--salt-cursor-active);
}

.saltBreadcrumbsNext-disclosure {
  background: var(--salt-container-primary-background);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
  overflow: hidden;
  overflow-y: auto;
  min-width: 10em;
  position: relative;
  z-index: var(--salt-zIndex-flyover);
  box-shadow: var(--salt-overlayable-shadow-popout);
  box-sizing: border-box;
  border-radius: var(--salt-palette-corner, 0);
}

.saltBreadcrumbsNext-disclosureList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.saltBreadcrumbsNext-disclosureListItem {
  list-style: none;
  margin: 0;
  padding: 0;
}

.saltBreadcrumbsNext-disclosureItem {
  color: var(--salt-content-primary-foreground);
  background: var(--salt-selectable-background);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  font-family: var(--salt-text-fontFamily);
  line-height: var(--salt-text-lineHeight);
  letter-spacing: var(--salt-text-letterSpacing);
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding: calc(var(--salt-spacing-100) + var(--salt-spacing-25)) var(--salt-spacing-100);
  display: flex;
  gap: var(--salt-spacing-100);
  position: relative;
  cursor: var(--salt-cursor-hover);
  box-sizing: border-box;
  flex-shrink: 0;
  text-decoration: none;
  width: 100%;
}

.saltBreadcrumbsNext-disclosureItem:focus-visible {
  outline: var(--salt-focused-outline);
  outline-offset: calc(var(--salt-size-fixed-100) * -2);
}

.saltBreadcrumbsNext-disclosureItem:hover {
  outline: none;
}

.saltBreadcrumbsNext-disclosureItem:hover,
.saltBreadcrumbsNext-disclosureItem:focus-visible {
  background: var(--salt-selectable-background-hover);
}

.saltBreadcrumbsNext-disclosureItem:active {
  background: var(--salt-selectable-background-selected);
  box-shadow:
    0 calc(var(--salt-size-fixed-100) * -1) 0 0 var(--salt-selectable-borderColor-selected),
    0 var(--salt-size-fixed-100) 0 0 var(--salt-selectable-borderColor-selected);
}

.saltBreadcrumbsNext-disclosureItem[aria-disabled="true"],
.saltBreadcrumbsNext-disclosureItem[aria-disabled="true"]:active {
  background: var(--salt-selectable-background-disabled);
  color: var(--salt-content-primary-foreground-disabled);
  cursor: var(--salt-cursor-disabled);
  box-shadow: none;
}
