.saltSplitPanel {
  box-sizing: border-box;

  background: var(--splitPanel-background);
}

.saltSplitPanel[data-panel-size="0.0"] {
  visibility: hidden;
}

.saltSplitPanel-primary {
  --splitPanel-background: var(--salt-container-primary-background);
}

.saltSplitPanel-secondary {
  --splitPanel-background: var(--salt-container-secondary-background);
}

.saltSplitPanel-tertiary {
  --splitPanel-background: var(--salt-container-tertiary-background);
}

@supports selector(:has(*)) {
  .saltSplitPanel:has(.saltSplitPanel) {
    background: unset;
  }
}
