/* Styles applied to LinkCard */
.saltLinkCard {
  box-shadow: var(--saltCard-boxShadow, var(--salt-overlayable-shadow));
  border-width: var(--saltCard-borderWidth, var(--salt-size-border));
  border-style: var(--saltCard-borderStyle, var(--salt-container-borderStyle));
  border-radius: var(--saltCard-borderRadius, 0);
  display: block;
  padding: var(--saltCard-padding, var(--salt-spacing-200));
  position: relative;
  text-decoration: none;
  transition: box-shadow var(--salt-duration-instant) cubic-bezier(0.4, 0, 0.2, 1);
  --card-accentColor: var(--saltCard-accentColor, var(--salt-selectable-foreground));
}

/* Styles applied to LinkCard when variant="primary" */
.saltLinkCard-primary {
  background: var(--saltCard-background, var(--salt-container-primary-background));
  border-color: var(--salt-container-primary-borderColor);
}

/* Styles applied to LinkCard when variant="secondary" */
.saltLinkCard-secondary {
  background: var(--saltCard-background, var(--salt-container-secondary-background));
  border-color: var(--salt-container-secondary-borderColor);
}

/* Styles applied to create accent */
.saltLinkCard::after {
  content: "";
  position: absolute;
  background-color: var(--card-accentColor);
}

/* Styles applied to LinkCard if `accent="bottom"` (default) */
.saltLinkCard-accentBottom::after {
  left: calc(-1 * var(--salt-size-border));
  bottom: calc(-1 * var(--salt-size-border));
  height: var(--salt-size-accent);
  width: calc(100% + calc(2 * var(--salt-size-border)));
}

/* Styles applied to LinkCard if `accent="left"` */
.saltLinkCard-accentLeft::after {
  left: calc(-1 * var(--salt-size-border));
  top: calc(-1 * var(--salt-size-border));
  height: calc(100% + calc(2 * var(--salt-size-border)));
  width: var(--salt-size-accent);
}

/* Styles applied to LinkCard if `accent="top"` */
.saltLinkCard-accentTop::after {
  left: calc(-1 * var(--salt-size-border));
  top: calc(-1 * var(--salt-size-border));
  height: var(--salt-size-accent);
  width: calc(100% + calc(2 * var(--salt-size-border)));
}

/* Styles applied to LinkCard if `accent="right"` */
.saltLinkCard-accentRight::after {
  right: calc(-1 * var(--salt-size-border));
  top: calc(-1 * var(--salt-size-border));
  height: calc(100% + calc(2 * var(--salt-size-border)));
  width: var(--salt-size-accent);
}

/* Styles applied to LinkCard on focus */
a:focus-visible .saltLinkCard,
.saltLinkCard:focus-visible {
  cursor: var(--saltCard-Link-cursor-focus, var(--salt-selectable-cursor-hover));
  box-shadow: var(--saltCard-Link-shadow-focus, var(--salt-overlayable-shadow-hover));
  color: var(--saltCard-color-focus, var(--salt-content-primary-foreground));
  outline-color: var(--salt-focused-outlineColor);
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-offset: var(--salt-focused-outlineOffset);
  --card-accentColor: var(--saltCard-accentColor-hover, var(--salt-selectable-foreground-hover));
}

a:link .saltLinkCard * {
  text-decoration: none;
}

/* Styles applied on hover state to LinkCard */
.saltLinkCard:hover {
  cursor: var(--saltCard-Link-cursor-hover, var(--salt-selectable-cursor-hover));
  box-shadow: var(--saltCard-Link-shadow-hover, var(--salt-overlayable-shadow-hover));
  --card-accentColor: var(--saltCard-accentColor-hover, var(--salt-selectable-foreground-hover));
}

/* Styles applied on active state to LinkCard */
.saltLinkCard:active,
.saltLinkCard-active {
  cursor: var(--saltCard-Link-cursor-active, var(--salt-selectable-cursor-active));
  border-color: var(--salt-selectable-foreground-selected);
  box-shadow: var(--saltCard-Link-shadow-active, var(--salt-overlayable-shadow));
  --card-accentColor: var(--saltCard-accentColor-active, var(--salt-selectable-foreground-selected));
}
