.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.App-flow {
  flex-grow: 1;
}

.App-preview { 
  padding: 16px;
  display: flex;
  gap: 16px;
}


.App-debug {
  max-height: 100px;
  overflow-y: scroll;
}