.gridItem {
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-secondary-borderColor);
  font-weight: var(--salt-text-fontWeight-small);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--salt-spacing-200);
}

.active {
  background: var(--salt-container-secondary-background);
}
