/* Body emphasis */
.uitkText strong {
  font-weight: var(--uitk-text-weight-strong);
}
.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-weight-small);
}

/* Main css class */
.uitkText {
  --text-lineHeight: var(--uitk-text-lineHeight);

  color: var(--uitk-text-primary-foreground);
  font-size: var(--uitk-text-fontSize);
  line-height: var(--text-lineHeight);
}

.uitkText-lineClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--text-max-rows);
  overflow: hidden;
  word-break: break-word;
}

/* Heading 1 */

h1.uitkText,
.uitkText-h1.uitkText {
  --text-lineHeight: var(--uitk-text-h1-lineHeight);
  font-size: var(--uitk-text-h1-fontSize);
  font-weight: var(--uitk-text-h1-fontWeight);
}

/* H1 emphasis */
h1.uitkText strong,
.uitkText-h1.uitkText strong {
  font-weight: var(--uitk-text-h1-fontWeight-strong);
}
h1.uitkText small,
.uitkText-h1.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h1-fontWeight-small);
}

/* Heading 2 */

h2.uitkText,
.uitkText-h2.uitkText {
  --text-lineHeight: var(--uitk-text-h2-lineHeight);
  font-size: var(--uitk-text-h2-fontSize);
  font-weight: var(--uitk-text-h2-fontWeight);
}

/* H2 emphasis */
h2.uitkText strong,
.uitkText-h2.uitkText strong {
  font-weight: var(--uitk-text-h2-fontWeight-strong);
}
h2.uitkText small,
.uitkText-h2.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h2-fontWeight-small);
}

/* Heading 3 */
h3.uitkText,
.uitkText-h3.uitkText {
  --text-lineHeight: var(--uitk-text-h3-lineHeight);
  font-size: var(--uitk-text-h3-fontSize);
  font-weight: var(--uitk-text-h3-fontWeight);
}

/* H3 emphasis */
h3.uitkText strong,
.uitkText-h3.uitkText strong {
  font-weight: var(--uitk-text-h3-fontWeight-strong);
}
h3.uitkText small,
.uitkText-h3.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h3-fontWeight-small);
}

/* Heading 4 */
h4.uitkText,
.uitkText-h4.uitkText {
  --text-lineHeight: var(--uitk-text-h4-lineHeight);
  font-size: var(--uitk-text-h4-fontSize);
  font-weight: var(--uitk-text-h4-fontWeight);
}

/* H4 emphasis */
h4.uitkText strong,
.uitkText-h4.uitkText strong {
  font-weight: var(--uitk-text-h4-fontWeight-strong);
}
h4.uitkText small,
.uitkText-h4.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h4-fontWeight-small);
}

/* Label-Caption */
label.uitkText,
.uitkText-label {
  --text-lineHeight: var(--uitk-text-caption-lineHeight);
  font-size: var(--uitk-text-caption-fontSize);
}

/* Help text */
.uitkText-helpText.uitkText {
  --text-lineHeight: var(--uitk-text-help-lineHeight);
  color: var(--uitk-text-secondary-foreground);
  font-style: var(--uitk-text-help-fontStyle);
  font-size: var(--uitk-text-help-fontSize);
}

/* Figure 1 */
.uitkText-figure1.uitkText {
  --text-lineHeight: var(--uitk-text-figure1-lineHeight);
  font-size: var(--uitk-text-figure1-fontSize);
  font-weight: var(--uitk-text-figure1-fontWeight);
}

/* Figure 2 */
.uitkText-figure2.uitkText {
  --text-lineHeight: var(--uitk-text-figure2-lineHeight);
  font-size: var(--uitk-text-figure2-fontSize);
  font-weight: var(--uitk-text-figure2-fontWeight);
}

/* Figure 3 */
.uitkText-figure3.uitkText {
  --text-lineHeight: var(--uitk-text-figure3-lineHeight);
  font-size: var(--uitk-text-figure3-fontSize);
  font-weight: var(--uitk-text-figure3-fontWeight);
}

.backwardsCompat .uitkText {
  line-height: 1.3;
}
