/* Body emphasis */
.uitkText strong {
  font-weight: var(--uitk-typography-weight-bold);
}
.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-typography-weight-light);
}

/* Main css class */
.uitkText {
  line-height: var(--uitk-text-lineHeight);
  font-size: var(--uitk-text-fontSize);
}

.uitkText-overflow {
  height: 100%;
  overflow: auto;
}

.uitkText-lineClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--text-max-rows);
  overflow: hidden;
  word-break: break-word;
}

.uitkText-lazy {
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
}

/* Heading 1 */

h1.uitkText,
.uitkText-h1.uitkText {
  font-size: var(--uitk-text-h1-fontSize);
  line-height: var(--uitk-text-h1-lineHeight);
  font-weight: var(--uitk-text-h1-fontWeight);
}

/* H1 emphasis */
h1.uitkText strong,
.uitkText-h1.uitkText strong {
  font-weight: var(--uitk-text-h1-fontWeight-strong);
}
h1.uitkText small,
.uitkText-h1.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h1-fontWeight-small);
}

/* Heading 2 */

h2.uitkText,
.uitkText-h2.uitkText {
  font-size: var(--uitk-text-h2-fontSize);
  line-height: var(--uitk-text-h2-lineHeight);
  font-weight: var(--uitk-text-h2-fontWeight);
}

/* H2 emphasis */
h2.uitkText strong,
.uitkText-h2.uitkText strong {
  font-weight: var(--uitk-text-h2-fontWeight-strong);
}
h2.uitkText small,
.uitkText-h2.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h2-fontWeight-small);
}

/* Heading 3 */
h3.uitkText,
.uitkText-h3.uitkText {
  font-size: var(--uitk-text-h3-fontSize);
  line-height: var(--uitk-text-h3-lineHeight);
  font-weight: var(--uitk-text-h3-fontWeight);
}

/* H3 emphasis */
h3.uitkText strong,
.uitkText-h3.uitkText strong {
  font-weight: var(--uitk-text-h3-fontWeight-strong);
}
h3.uitkText small,
.uitkText-h3.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h3-fontWeight-small);
}

/* Heading 4 */
h4.uitkText,
.uitkText-h4.uitkText {
  font-size: var(--uitk-text-h4-fontSize);
  line-height: var(--uitk-text-h4-lineHeight);
  font-weight: var(--uitk-text-h4-fontWeight);
}

/* H4 emphasis */
h4.uitkText strong,
.uitkText-h4.uitkText strong {
  font-weight: var(--uitk-text-h4-fontWeight-strong);
}
h4.uitkText small,
.uitkText-h4.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h4-fontWeight-small);
}

/* Label-Caption */
label.uitkText,
.uitkText-label {
  font-size: var(--uitk-text-caption-fontSize);
  line-height: var(--uitk-text-caption-lineHeight);
}

/* Help text */
.uitkText-helpText.uitkText {
  font-style: italic;
  color: var(--uitk-text-secondary-foreground);
  font-size: var(--uitk-text-help-fontSize);
  line-height: var(--uitk-text-help-lineHeight);
}

/* Figure 1 */
.uitkText-figure1.uitkText {
  font-size: var(--uitk-text-figure-1-font-size);
  line-height: var(--uitk-text-figure-1-lineHeight);
  font-weight: var(--uitk-typography-weight-semiBold);
}

/* Figure 2 */
.uitkText-figure2.uitkText {
  font-size: var(--uitk-text-figure-2-font-size);
  line-height: var(--uitk-text-figure-2-lineHeight);
  font-weight: var(--uitk-typography-weight-semiBold);
}

/* Figure 3 */
.uitkText-figure3.uitkText {
  font-size: var(--uitk-text-figure-3-font-size);
  line-height: var(--uitk-text-figure-3-lineHeight);
  font-weight: var(--uitk-typography-weight-semiBold);
}
