.saltGridCellFrame {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  white-space: nowrap;
  position: relative;
  font-size: var(--grid-fontSize);
  font-weight: normal;

  outline: 0;
}

.saltGridCellFrame-selected {
  background: var(--grid-cell-background-selected);
}

.saltGridCellFrame-rowSeparator {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--grid-row-borderColor);
}

.saltGridCellFrame-topSeparator {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background-color: transparent;
  display: none;
}

.saltGridTableRow-first .saltGridCellFrame-topSeparator {
  display: unset;
}

.saltGridCellFrame-columnSeparator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--grid-row-background);
}

.saltGrid-columnSeparators .saltGridCellFrame-regularSeparator .saltGridCellFrame-columnSeparator {
  background-color: var(--grid-columnSeparator-color);
}

.saltGrid-columnSeparators .saltGridCellFrame-pinnedSeparator .saltGridCellFrame-columnSeparator {
  background-color: var(--grid-columnSeparator-color);
}

.saltGrid-pinnedSeparators .saltGridCellFrame-pinnedSeparator .saltGridCellFrame-columnSeparator {
  background-color: var(--grid-pinnedSeparator-color);
}

.saltGridTableRow-selected.saltGridTableRow-first .saltGridCellFrame-topSeparator {
  background-color: var(--grid-row-borderColor);
}

.saltGridCellFrame-body {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 1px;
  left: 0;
  background: var(--grid-row-background);
  border-right: solid 1px transparent;
}

.saltGridTableRow-first .saltGridCellFrame-body {
  top: 1px;
}
