.saltGridDropdownCellEditor {
  font-size: var(--grid-fontSize);
}

.saltGridDropdownCellEditor-dropdownContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background: var(--grid-background);
  border-style: dotted;
  border-width: 2px;
  border-color: var(--grid-cursor-borderColor);
  padding: 0;
}

/* TODO this is currently the same as saltGridBaseCell-valueContainer. Update when UX is available. */
.saltGridDropdownCellEditor-currentValue {
  height: calc(var(--grid-row-height) - 4px);
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(var(--grid-row-height) - 4px);

  outline: none;

  padding: 0 calc(var(--grid-padding) - 2px);
}
