.salt-density-touch {
  --grid-row-height-default: 61px;
  --grid-padding-default: 16px;
  --grid-fontSize-default: 16px;
  --grid-header-fontSize-default: 14px;
  --grid-separatorGap-default: 20px;
  --grid-cornerTag-size-default: 14px;
}

.salt-density-low {
  --grid-row-height-default: 49px;
  --grid-padding-default: 12px;
  --grid-fontSize-default: 14px;
  --grid-header-fontSize-default: 12px;
  --grid-separatorGap-default: 16px;
  --grid-cornerTag-size-default: 12px;
}

.salt-density-medium {
  --grid-row-height-default: 37px;
  --grid-padding-default: 8px;
  --grid-fontSize-default: 12px;
  --grid-header-fontSize-default: 11px;
  --grid-separatorGap-default: 12px;
  --grid-cornerTag-size-default: 10px;
}

.salt-density-high {
  --grid-row-height-default: 25px;
  --grid-padding-default: 8px;
  --grid-fontSize-default: 11px;
  --grid-header-fontSize-default: 10px;
  --grid-separatorGap-default: 8px;
  --grid-cornerTag-size-default: 8px;
}

/* Styles applied to the root element */
.saltGrid {
  --grid-row-height: var(--saltGrid-row-height, var(--grid-row-height-default));
  --grid-padding: var(--saltGrid-padding, var(--grid-padding-default));
  --grid-fontSize: var(--saltGrid-fontSize, var(--grid-fontSize-default));
  --grid-separatorGap: var(--saltGrid-separatorGap, var(--grid-separatorGap-default));
  --grid-header-fontSize: var(--saltGrid-header-fontSize, var(--grid-header-fontSize-default));
  --grid-groupHeader-fontSize: var(--saltGrid-groupHeader-fontSize, var(--grid-header-fontSize));
  --grid-groupHeader-fontWeight: var(--saltGrid-groupHeader-fontWeight, var(--salt-text-label-fontWeight-strong));

  --grid-cell-padding: 0 var(--grid-padding);

  --grid-background-primary: var(--saltGrid-background-primary, var(--salt-container-primary-background));
  --grid-background-secondary: var(--saltGrid-background-secondary, var(--salt-container-secondary-background));
  --grid-zebraColor: var(--saltGrid-zebraColor, var(--salt-container-secondary-background));

  --grid-row-background-hover: var(--saltGrid-row-background-hover, var(--salt-selectable-background-hover));
  --grid-row-background-selected: var(--saltGrid-row-background-selected, var(--salt-selectable-background-selected));

  --grid-row-borderColor-selected: var(--saltGrid-row-borderColor-selected, var(--salt-selectable-borderColor-selected));
  --grid-cell-background-selected: var(--saltGrid-cell-background-selected, var(--salt-selectable-background-selected));
  --grid-editableCell-borderColor: var(--saltGrid-editableCell-borderColor, var(--salt-editable-borderColor));
  --grid-editableCell-borderColor-hover: var(--saltGrid-editableCell-borderColor-hover, var(--salt-editable-borderColor-hover));
  --grid-editableCell-background-active: var(--saltGrid-editableCell-background-active, var(--salt-editable-primary-background-active));
  --grid-editableCell-color-active: var(--saltGrid-editableCell-color-active, var(--salt-content-primary-foreground));
  --grid-editableCell-cornerTag-size: var(--saltGrid-editableCell-cornerTag-size, var(--grid-cornerTag-size-default));

  --grid-header-color: var(--saltGrid-header-color, var(--salt-content-secondary-foreground));

  --grid-headerColumnSeparator-color: var(--saltGrid-headerColumnSeparator-color, var(--salt-separable-tertiary-borderColor));
  --grid-headerRowSeparator-color: var(--saltGrid-headerRowSeparator-color, var(--salt-separable-primary-borderColor));
  --grid-headerRowSeparator-gap: var(--saltGrid-headerRowSeparator-gap, var(--salt-spacing-100));
  --grid-headerRowSeparator-height: var(--saltGrid-headerRowSeparator-height, 1px);
  --grid-groupHeaderRowSeparator-color: var(--saltGrid-groupHeaderRowSeparator-color, var(--salt-separable-tertiary-borderColor));

  --grid-groupHeader-color: var(--saltGrid-groupHeader-color, var(--salt-content-secondary-foreground));
  --grid-shadow-color: var(--saltGrid-shadow-color, var(--salt-shadow-100-color));
  --grid-columnDropTarget-color: var(--saltGrid-columnDropTarget-color, var(--salt-container-target-borderColor));
  --grid-cursor-border-style: var(--saltGrid-cursor-borderStyle, var(--salt-focused-outlineStyle));
  --grid-cursor-border-width: var(--saltGrid-cursor-borderWidth, var(--salt-focused-outlineWidth));
  --grid-cursor-borderColor: var(--saltGrid-cursor-borderColor, var(--salt-focused-outlineColor));
  --grid-borderColor: var(--saltGrid-borderColor, var(--salt-container-secondary-borderColor));

  --grid-rowSeparator-width: 1px;
  --grid-rowSeparator-color: var(--saltGrid-rowSeparator-color, var(--salt-separable-tertiary-borderColor));
  --grid-columnSeparator-color: var(--saltGrid-columnSeparator-color, var(--salt-separable-tertiary-borderColor));
  --grid-rowSeparator-color-divided: var(--saltGrid-rowSeparator-color-divided, var(--salt-separable-secondary-borderColor));

  --grid-pinnedSeparator-color: var(--saltGrid-pinnedSeparator-color, var(--salt-separable-primary-borderColor));

  --grid-columnGhost-borderColor: var(--saltGrid-columnGhost-borderColor, var(--salt-palette-interact-border-hover));
  --grid-columnGhost-borderWidth: var(--saltGrid-columnGhost-borderWidth, 1px);
  --grid-columnGhost-boxShadow: var(--saltGrid-columnGhost-boxShadow, var(--salt-overlayable-shadow-drag));

  --grid-mid-body-zIndex: 0;
  --grid-left-body-zIndex: 1;
  --grid-right-body-zIndex: 1;
  --grid-middle-header-zIndex: 2;
  --grid-left-header-zIndex: 3;
  --grid-right-header-zIndex: 3;
}

.saltGrid table {
  border-collapse: separate;
  border-spacing: 0;
}

.saltGrid-framed {
  border: solid 1px var(--grid-borderColor);
}

/* Styles applied to the root element if variant="primary" */
.saltGrid-primaryBackground {
  --grid-background: var(--grid-background-primary);
}

/* Styles applied to the root element if variant="secondary" */
.saltGrid-secondaryBackground {
  --grid-background: var(--grid-background-secondary);
}

.saltGrid {
  position: relative;
  outline: none;
  user-select: none;
  background: var(--grid-background);

  font-family: var(--salt-text-fontFamily);
  font-size: var(--grid-fontSize);
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
}

/* Styles applied to the root element if zebra is enabled */
.saltGrid.saltGrid-zebra {
  --grid-rowSeparator-color: transparent;
}

.saltGrid-hidden {
  visibility: hidden;
}
