.saltGridGroupHeaderCell {
  text-align: left;
  padding: var(--grid-cell-padding);
  position: relative;
  color: var(--grid-groupHeader-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: var(--grid-groupHeader-fontSize);
  font-weight: var(--grid-groupHeader-fontWeight);
}

.saltGridGroupHeaderCell-rowSeparator {
  position: absolute;
  left: var(--grid-headerRowSeparator-gap);
  right: calc(1px + var(--grid-headerRowSeparator-gap));
  bottom: 0;
  height: var(--grid-headerRowSeparator-height);
  background: var(--grid-groupHeaderRowSeparator-color);
}

.saltGridGroupHeaderCell-firstGroupRowSeparator {
  position: absolute;
  left: 0;
  right: 4px;
  bottom: 0;
  height: 1px;
  background: var(--grid-groupHeaderRowSeparator-color);
}

.saltGridGroupHeaderCell-lastGroupRowSeparator {
  position: absolute;
  left: 4px;
  right: 0;
  bottom: 0;
  height: 1px;
  background: var(--grid-groupHeaderRowSeparator-color);
}

.saltGridGroupHeaderCell-columnSeparator,
.saltGridGroupHeaderCell-pinnedSeparator {
  position: absolute;
  right: 0;
  top: 4px;
  bottom: 0;
  width: 1px;
  background: var(--grid-headerColumnSeparator-color);
}

.saltGrid-pinnedSeparators .saltGridGroupHeaderCell-pinnedSeparator {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: var(--grid-pinnedSeparator-color);
}
