.uitkStateIcon {
  --state-warning-icon-color: var(--uitk-status-warning-foreground);
  --state-info-icon-color: var(--uitk-status-info-foreground);
  --state-success-icon-color: var(--uitk-status-success-foreground);
  --state-error-icon-color: var(--uitk-status-error-foreground);
}

.uitkStateIcon-warning {
  fill: var(--state-warning-icon-color);
}

.uitkStateIcon-info {
  fill: var(--state-info-icon-color);
}

.uitkStateIcon-success {
  fill: var(--state-success-icon-color);
}

.uitkStateIcon-error {
  fill: var(--state-error-icon-color);
}
