.saltStepLabel {
  width: 100%;
}

.saltSteppedTracker.saltSteppedTracker-horizontal .saltStepLabel {
}

.saltSteppedTracker.saltSteppedTracker-vertical .saltStepLabel {
  text-align: left;
}

.saltSteppedTracker.saltSteppedTracker-horizontal.saltSteppedTracker-alignLeft .saltStepLabel {
  text-align: left;
}

.saltSteppedTracker.saltSteppedTracker-horizontal.saltSteppedTracker-alignCenter .saltStepLabel {
  text-align: center;
}
