.componentList {
  margin: calc(var(--uitk-size-unit) * 3) 0;
}

.componentList table {
  table-layout: fixed;
}

.componentList a span {
  text-decoration: underline;
}

.componentList td :first-child {
  display: flex;
  align-items: baseline;
  gap: var(--uitk-size-unit);
}

.componentList th svg {
  margin-right: calc(var(--uitk-size-unit) / 2);
}

.componentList th span {
  vertical-align: top;
}

.componentList .status svg {
  --icon-size: 12px;
}

.componentList .status.ready {
  --uitkIcon-color: var(--uitk-status-success-foreground);
}

.componentList .status.progress {
  --uitkIcon-color: var(--uitk-status-warning-foreground);
}

.componentList .status.backlog {
  --uitkIcon-color: var(--uitk-status-error-foreground);
}
