.saltAdmonition {
  background: var(--salt-container-tertiary-background);
}
.saltAdmonition hr {
  margin-bottom: var(--salt-size-unit);
  margin-top: calc(3 * var(--salt-size-unit));
}

.saltAdmonition-info {
  background-color: var(--site-tertiary-accent-teal);
  height: 3px;
}

.saltAdmonition .theme-admonition {
  --ifm-alert-foreground-color: var(--salt-color-gray-900);
  --ifm-alert-background-color: var(--salt-color-white);
  --ifm-alert-shadow: none;
  --ifm-alert-padding-horizontal: 0;
  --ifm-alert-padding-vertical: 0;
  border: none;
}

.saltAdmonition .theme-admonition a {
  text-decoration-color: var(--salt-color-gray-900);
  --ifm-link-hover-color: var(--salt-text-link-foreground-hover);
}

.saltAdmonition .theme-admonition a:hover {
  text-decoration-thickness: 1px;
}

.theme-admonition div:nth-child(1) {
  display: none;
}

.saltAdmonition h4 {
  --ifm-heading-color: var(--site-tertiary-accent-teal);
  margin-top: 0;
}
