.uitkLayerLayout {
  --layerLayout-borderColor: var(--uitkLayerLayout-borderColor, var(--uitk-container-borderColor-medium));
  --layerLayout-boxShadow: var(--uitkLayerLayout-boxShadow, var(--uitk-overlayable-shadow-modal));
  --layerLayout-background: var(--uitkLayerLayout-background, var(--uitk-container-background-medium));
  --layerLayout-borderWidth: var(--uitkLayerLayout-border-color, var(--uitk-container-border-width));
  --layerLayout-padding: var(--uitkLayerLayout-padding, calc(3 * var(--uitk-size-unit)));
  --layerLayout-borderStyle: var(--uitkLayerLayout-borderStyle, var(--uitk-container-borderStyle));
  --layerLayout-margin: var(--uitkLayerLayout-margin, calc(3 * var(--uitk-size-unit)));
}

.uitkLayerLayout {
  background: var(--layerLayout-background);
  border-color: var(--layerLayout-borderColor);
  border-width: var(--layerLayout-borderWidth);
  border-style: var(--layerLayout-borderStyle);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: var(--layerLayout-padding);
  box-shadow: var(--uitkLayerLayout-boxShadow, var(--layerLayout-boxShadow));
  z-index: calc(var(--uitk-zindex-appheader) - 1);
}

.uitkLayerLayout.uitkLayerLayout-fullScreen {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.uitkLayerLayout-center {
  margin: var(--uitkLayerLayout-margin, var(--layerLayout-margin));
}

.uitkLayerLayout-center.uitkLayerLayout-enter-animation,
.uitkLayerLayout-fullScreen.uitkLayerLayout-enter-animation {
  animation: var(--uitk-animation-fade-in-center);
}

.uitkLayerLayout-center.uitkLayerLayout-exit-animation,
.uitkLayerLayout-fullScreen.uitkLayerLayout-exit-animation {
  animation: var(--uitk-animation-fade-out-back);
}

.uitkLayerLayout-anchor {
  position: fixed;
  max-height: 100%;
  top: 0;
}

.uitkLayerLayout-anchor.uitkLayerLayout-top {
  left: 0;
  right: 0;
  bottom: auto;
}

.uitkLayerLayout-anchor.uitkLayerLayout-top.uitkLayerLayout-enter-animation {
  animation: var(--uitk-animation-slide-in-bottom);
}

.uitkLayerLayout-anchor.uitkLayerLayout-top.uitkLayerLayout-exit-animation {
  animation: var(--uitk-animation-slide-out-bottom);
}

.uitkLayerLayout-anchor.uitkLayerLayout-right {
  left: auto;
  right: 0;
  height: 100%;
}

.uitkLayerLayout-anchor.uitkLayerLayout-right.uitkLayerLayout-enter-animation {
  animation: var(--uitk-animation-slide-in-right);
}

.uitkLayerLayout-anchor.uitkLayerLayout-right.uitkLayerLayout-exit-animation {
  animation: var(--uitk-animation-slide-out-right);
}

.uitkLayerLayout-anchor.uitkLayerLayout-left {
  left: 0;
  right: auto;
  height: 100%;
}

.uitkLayerLayout-anchor.uitkLayerLayout-left.uitkLayerLayout-enter-animation {
  animation: var(--uitk-animation-slide-in-left);
}

.uitkLayerLayout-anchor.uitkLayerLayout-left.uitkLayerLayout-exit-animation {
  animation: var(--uitk-animation-slide-out-left);
}

.uitkLayerLayout-anchor.uitkLayerLayout-bottom {
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
}

.uitkLayerLayout-anchor.uitkLayerLayout-bottom.uitkLayerLayout-enter-animation {
  animation: var(--uitk-animation-slide-in-top);
}

.uitkLayerLayout-anchor.uitkLayerLayout-bottom.uitkLayerLayout-exit-animation {
  animation: var(--uitk-animation-slide-out-top);
}
