.saltHeaderBlock {
  --headerBlock-padding: var(--salt-spacing-300);
  padding: var(--headerBlock-padding);
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: var(--salt-spacing-100);
  box-sizing: border-box;
}

.saltHeaderBlock-body {
  flex-grow: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-50);
}

.saltHeaderBlock-withAccent {
  position: relative;
}

.saltHeaderBlock-withAccent::before {
  content: "";
  position: absolute;
  top: var(--headerBlock-padding);
  left: 0;
  bottom: var(--headerBlock-padding);
  width: var(--salt-size-bar);
  background: var(--salt-accent-background);
}

.saltHeaderBlock-error::before {
  background: var(--salt-status-error-borderColor);
}

.saltHeaderBlock-info::before {
  background: var(--salt-status-info-borderColor);
}

.saltHeaderBlock-success::before {
  background: var(--salt-status-success-borderColor);
}

.saltHeaderBlock-warning::before {
  background: var(--salt-status-warning-borderColor);
}

/* Overrides */

.saltDialog .saltHeaderBlock {
  margin-top: calc(0px - var(--salt-spacing-300));
}
.saltDrawer .saltHeaderBlock {
  margin-top: calc(0px - var(--salt-spacing-300));
  margin-left: calc(0px - var(--salt-spacing-300));
  margin-right: calc(0px - var(--salt-spacing-300));
  width: 200px;
}

.saltOverlay .saltHeaderBlock + .saltOverlayPanelContent {
  padding-top: 0;
}
