# dependencies
node_modules
/.yarn

# testing
/cypress/screenshots
/coverage
.nyc_output

# production
dist
site/build
storybook-static
.next
.tmp

/site/snapshots

# Prettier doesn't support MDX v2 yet
site/docs/patterns/*.mdx

# Covered by biome
*.tsx
*.ts
*.mts
*.cts
*.js
*.jsx
*.mjs
*.cjs
*.json
*.jsonc
*.css
