.uitkGridRowSelectionRadioCellValue {
  height: var(--uitkGrid-rowHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uitk-density-medium {
  --grid-rowSelection-radio-size: 14px;
}

.uitk-density-high {
  --grid-rowSelection-radio-size: 12px;
}

.uitk-density-ultrahigh {
  --grid-rowSelection-radio-size: 12px;
}

.uitk-density-low {
  --grid-rowSelection-radio-size: 16px;
}

.uitk-density-touch {
  --grid-rowSelection-radio-size: 18px;
}

.uitkGridRowSelectionRadioHeaderValue {
  height: var(--uitkGrid-rowHeight);
  width: var(--grid-rowSelection-radio-size);
}
