.saltOverlay {
  --overlay-borderColor: var(
    --saltOverlay-borderColor,
    var(--salt-container-primary-borderColor)
  );
  --overlay-background: var(
    --saltOverlay-background,
    var(--salt-container-primary-background)
  );
  --overlay-zindex: var(--saltOverlay-zIndex, var(--salt-zIndex-flyover));
}

.saltOverlay {
  font-family: var(--salt-text-fontFamily);
  font-size: var(--saltOverlay-fontSize, var(--salt-text-fontSize));
  font-weight: var(--saltOverlay-fontWeight, var(--salt-text-fontWeight));
  line-height: var(--saltOverlay-lineHeight, var(--salt-text-lineHeight));

  border-color: var(--overlay-borderColor);
  border-style: var(
    --saltOverlay-borderStyle,
    var(--salt-container-borderStyle)
  );
  border-width: var(--saltOverlay-borderWidth, var(--salt-size-border));

  background: var(--overlay-background);
  box-shadow: var(
    --saltOverlay-boxShadow,
    var(--salt-overlayable-shadow-popout)
  );

  color: var(--saltOverlay-text-color, var(--salt-text-primary-foreground));
  z-index: var(--overlay-zindex);
  position: relative;
  /* overflow: hidden;  */
  /* align-items: flex-start; */
  /* flex-shrink: 0; */
}

.saltOverlay-container {
  display: flex;
  animation: fade-in var(--salt-duration-perceptible) ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.saltOverlay-content {
  padding: var(--salt-spacing-100) 0 var(--salt-spacing-100)
    var(--salt-spacing-100);
  /* order: 2; */
}

/* Close Button */
.saltOverlay-close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--overlay-zindex);
  /* order: 1; */
}
