/* Experimental - Overlay css variable API */
.uitkOverlay {
  --overlay-text-color: var(--uitk-text-primary-foreground);
  --overlay-spacing: var(--uitk-size-unit);
  --overlay-font-size: var(--uitk-text-fontSize);
  --overlay-background: var(--uitk-container-background-medium);
  --overlay-border-color: var(--uitk-container-borderColor-medium);
  /* TODO: z-index audit, provide z index here or rely on popper */
  --overlay-zindex: var(--uitk-zIndex-tooltip);
}

.uitkEmphasisHigh.uitkOverlay {
  --overlay-background: var(--uitk-container-background-high);
  --overlay-border-color: var(--uitk-container-borderColor-high);
}

.uitkOverlay-content {
  display: flex;
  padding: calc(var(--overlay-spacing) * 2);
  font-size: var(--overlay-font-size);

  border: 1px solid var(--overlay-border-color);
  box-shadow: var(--uitk-overlayable-shadow-popout);
  line-height: var(--uitk-text-lineHeight);
  background: var(--overlay-background);
  color: var(--overlay-text-color);
  position: relative;
  font-family: var(--uitk-text-fontFamily);
  opacity: 1;
  overflow: visible;
  z-index: var(--overlay-zindex);
}

.uitkOverlay-arrow,
.uitkOverlay-arrow::after {
  border: 8px solid transparent;
  position: absolute;
  box-sizing: border-box;
}

.uitkOverlay-arrow::after {
  content: "";
}

.uitkOverlay[data-placement^="top"] .uitkOverlay-arrow {
  border-top-color: var(--overlay-border-color);
  bottom: -17px;
}

.uitkOverlay[data-placement^="bottom"] .uitkOverlay-arrow {
  border-bottom-color: var(--overlay-border-color);
  top: -17px;
}

.uitkOverlay[data-placement^="left"] .uitkOverlay-arrow {
  border-left-color: var(--overlay-border-color);
  right: -17px;
}

.uitkOverlay[data-placement^="right"] .uitkOverlay-arrow {
  border-right-color: var(--overlay-border-color);
  left: -17px;
}

.uitkOverlay[data-placement^="top"] .uitkOverlay-arrow::after {
  border-top-color: var(--overlay-background);
  bottom: -7px;
  left: calc(100% - 8px);
}

.uitkOverlay[data-placement^="bottom"] .uitkOverlay-arrow::after {
  border-bottom-color: var(--overlay-background);
  top: -7px;
  left: calc(100% - 8px);
}

.uitkOverlay[data-placement^="left"] .uitkOverlay-arrow::after {
  border-left-color: var(--overlay-background);
  right: -7px;
  top: calc(100% - 8px);
}

.uitkOverlay[data-placement^="right"] .uitkOverlay-arrow::after {
  border-right-color: var(--overlay-background);
  left: -7px;
  top: calc(100% - 8px);
}

/* Close Button */
.uitkOverlay-close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--uitk-zIndex-default);
}
