.saltKbd-primary {
  --kbd-background: var(--salt-container-primary-background);
}

.saltKbd-secondary {
  --kbd-background: var(--salt-container-secondary-background);
}

.saltKbd-tertiary {
  --kbd-background: var(--salt-container-tertiary-background);
}

.saltKbd {
  display: inline-flex;
  box-sizing: border-box;
  width: fit-content;
  border-radius: var(--salt-palette-corner-weaker);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
  background: var(--kbd-background);
  box-shadow: 0 var(--salt-size-fixed-100) 0 0 var(--salt-container-primary-borderColor);
  height: calc(var(--salt-size-base) - var(--salt-spacing-100));
  align-items: center;
  padding: 0 var(--salt-spacing-50);
  text-transform: capitalize;
  color: var(--salt-content-primary-foreground);
  font-family: var(--salt-text-code-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-style: normal;
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
}
