.uitk-density-touch .uitkTooltip {
  --icon-top: 6px;
}

.uitk-density-low .uitkTooltip {
  --icon-top: 4px;
}

.uitk-density-medium .uitkTooltip {
  --icon-top: 1px;
}

.uitk-density-high .uitkTooltip {
  --icon-top: 1px;
}

.uitkTooltip {
  --tooltip-background: var(--uitk-container-background);
  --tooltip-font-size: var(--uitk-text-font-size);
  --tooltip-color: var(--uitk-text-primary-color);
  --tooltip-padding: var(--uitk-spacing-unit);
}

.uitkTooltip {
  background: var(--tooltip-background);
  box-sizing: border-box;
  border: 1px solid var(--tooltip-status-color);
  box-shadow: var(--uitk-overlayable-elevation-4);
  color: var(--tooltip-color);
  font-size: var(--tooltip-font-size);
  line-height: var(--uitk-text-line-height);
  min-height: calc(var(--tooltip-font-size) * var(--uitk-text-line-height));
  padding: var(--tooltip-padding);
  position: relative;
  max-width: 230px;
  text-align: left;
}

.uitkPopper[data-popper-placement^="top"] .uitkTooltip {
  transform-origin: bottom;
  margin-bottom: 8px;
}

.uitkPopper[data-popper-placement^="bottom"] .uitkTooltip {
  transform-origin: top;
  margin-top: 8px;
}

.uitkPopper[data-popper-placement^="left"] .uitkTooltip {
  transform-origin: right;
  margin-right: 8px;
}

.uitkPopper[data-popper-placement^="right"] .uitkTooltip {
  transform-origin: left;
  margin-left: 8px;
}

.uitkTooltip-content {
  display: flex;
  position: relative;
}

.uitkTooltip-body {
  overflow: hidden;
}

.uitkTooltip-icon {
  color: var(--tooltip-status-color);
  fill: var(--tooltip-status-color);
  margin-right: 6px;
  top: var(--icon-top);
  vertical-align: top;
}

.uitkTooltip-arrow,
.uitkTooltip-arrow::after {
  border: 5px solid transparent;
  position: absolute;
  box-sizing: border-box;
}

.uitkTooltip-arrow::after {
  content: "";
}

.uitkPopper[data-popper-placement^="top"] .uitkTooltip-arrow {
  border-top-color: var(--tooltip-status-color);
  bottom: -11px;
}

.uitkPopper[data-popper-placement^="bottom"] .uitkTooltip-arrow {
  border-bottom-color: var(--tooltip-status-color);
  top: -11px;
}

.uitkPopper[data-popper-placement^="left"] .uitkTooltip-arrow {
  border-left-color: var(--tooltip-status-color);
  right: -11px;
}

.uitkPopper[data-popper-placement^="right"] .uitkTooltip-arrow {
  border-right-color: var(--tooltip-status-color);
  left: -11px;
}

.uitkPopper[data-popper-placement^="top"] .uitkTooltip-arrow::after {
  border-top-color: var(--tooltip-background);
  bottom: -4px;
  left: calc(100% - 5px);
}

.uitkPopper[data-popper-placement^="bottom"] .uitkTooltip-arrow::after {
  border-bottom-color: var(--tooltip-background);
  top: -4px;
  left: calc(100% - 5px);
}

.uitkPopper[data-popper-placement^="left"] .uitkTooltip-arrow::after {
  border-left-color: var(--tooltip-background);
  right: -4px;
  top: calc(100% - 5px);
}

.uitkPopper[data-popper-placement^="right"] .uitkTooltip-arrow::after {
  border-right-color: var(--tooltip-background);
  left: -4px;
  top: calc(100% - 5px);
}

.uitkTooltip-info {
  --tooltip-status-color: var(--uitk-status-info-color);
  box-shadow: var(--uitk-shadow-4);
}
.uitkTooltip-error {
  --tooltip-status-color: var(--uitk-status-error-color);
}
.uitkTooltip-warning {
  --tooltip-status-color: var(--uitk-status-warning-color);
}
.uitkTooltip-success {
  --tooltip-status-color: var(--uitk-status-success-color);
}
