.parent-child-layout {
  width: 20vw;
  max-width: 250px;
  height: 200px;
  border: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-container-secondary-borderColor);
}

.parent-content {
  padding: var(--salt-spacing-300);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85px;
  height: 100%;
  /* border-right: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-container-secondary-borderColor); */
  border: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-container-secondary-borderColor);
}

.child-content {
  padding: var(--salt-spacing-300);
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 150px; */
  height: 100%;
  border: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-container-secondary-borderColor);
}

nav {
  position: relative;
  min-width: 160px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.parent-child-composite-container {
  width: 545px;
  min-height: 295px;
  padding: var(--salt-spacing-300);
  border: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-container-secondary-borderColor);
}

.parent-child-composite-container .child {
  padding: var(--salt-spacing-200);
}

.back-button {
  position: absolute;
  top: calc(var(--salt-spacing-100) * -1);
  left: calc(var(--salt-spacing-100) * -1);
}
