.saltDraggable {
  background: transparent;
  box-shadow: var(--salt-overlayable-shadow-drag);
  cursor: var(--salt-draggable-grab-cursor-active);
  position: absolute;
}

.saltDraggable-spacer {
  display: inline-block;
  height: var(--tabs-tabstrip-height);
  transition: width 0.4s ease;
  width: 0;
}
