.uitkDraggable {
  background: transparent;
  box-shadow: var(--uitk-overlayable-shadow-drag);
  cursor: var(--uitk-draggable-grab-cursor-active);
  position: absolute;
}

.uitkDraggable-spacer {
  display: inline-block;
  height: var(--tabstrip-height);
  transition: width 0.4s ease;
  width: 0;
}
