.uitkDataGridRowGrouping {
}

.uitkDataGridRowGrouping-dropdown.uitkDropdown-popup {
  z-index: 10;
}

.uitkDataGridRowGrouping-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  /*border: solid 1px var(--uitk-separable-primary-borderColor);*/
  /*background-color: var(--uitk-color-grey-20);*/
  /*padding: var(--uitk-size-basis-unit);*/
}

.uitkDataGridRowGrouping-row-title {
  width: 70px;
}

.uitkDataGridRowGrouping-row-column {
  margin-right: var(--uitk-size-basis-unit);
  width: 150px;
  flex-shrink: 0;
  /*background-color: var(--uitk-color-white);*/
}

.uitkDataGridRowGrouping-row-delete {
  margin-right: var(--uitk-size-basis-unit);
}
