/* Styles applied to stepper container */
.saltStepperInput {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--salt-spacing-50);
}

/* Styles applied to stepper buttons container */
.saltStepperInput-buttonContainer {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-50);
}

/* Styles applied to stepper buttons */
.saltStepperInput-stepperButton {
  --saltButton-height: calc((var(--salt-size-base) - var(--salt-spacing-50)) * 0.5);
  --saltButton-width: var(--salt-size-base);
}
