/* Styles applied to stepper buttons container */
.saltStepperInput-buttonContainer {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-25);
}

/* Styles applied to stepper buttons */
.saltInput-endAdornmentContainer .saltButton ~ .saltButton.saltStepperInput-stepperButton,
.saltStepperInput-stepperButton {
  --saltButton-height: calc((var(--salt-size-base) - var(--salt-spacing-50) - var(--salt-spacing-25)) * 0.5);
  --saltButton-width: calc(var(--salt-size-base) - var(--salt-spacing-50));
  margin-left: 0;
  margin-right: 0;
}
