.salt-density-medium {
  --stepperInput-adornment-container-top: -2px;
  --stepperInput-button-height: 12px;
  --stepperInput-button-margin: 2px;
  --stepperInput-button-width: 24px;
  --stepperInput-input-maxHeight: 28px;
  --stepperInput-secondary-button-height: 26px;
  --stepperInput-secondary-button-width: 26px;
  --stepperInput-secondary-button-marginRight: 2px;
}

.salt-density-touch {
  --stepperInput-adornment-container-top: 0;
  --stepperInput-button-height: 16px;
  --stepperInput-button-margin: 4px;
  --stepperInput-button-width: 36px;
  --stepperInput-secondary-button-height: 36px;
  --stepperInput-secondary-button-width: 36px;
  --stepperInput-secondary-button-marginRight: 4px;
}

.salt-density-low {
  --stepperInput-adornment-container-top: 0;
  --stepperInput-button-height: 12px;
  --stepperInput-button-margin: 4px;
  --stepperInput-button-width: 28px;
  --stepperInput-secondary-button-height: 28px;
  --stepperInput-secondary-button-width: 28px;
  --stepperInput-secondary-button-marginRight: 4px;
}

.salt-density-high {
  --stepperInput-adornment-container-top: -2px;
  --stepperInput-button-height: 8px;
  --stepperInput-button-margin: 2px;
  --stepperInput-button-width: 16px;
  --stepperInput-input-maxHeight: 20px;
  --stepperInput-secondary-button-height: 18px;
  --stepperInput-secondary-button-width: 18px;
  --stepperInput-secondary-button-marginRight: 2px;
}

/* Styles applied to adornment container */
.saltStepperInput-adornmentContainer {
  display: flex;
  position: relative;
  top: var(--saltStepperInput-adornment-container-top, var(--stepperInput-adornment-container-top));
}

/* Styles applied to refresh button */
.saltStepperInput-secondaryButton {
  --saltButton-height: var(--stepperInput-secondary-button-height);
  --saltButton-margin: var(--stepperInput-button-margin) var(--stepperInput-secondary-button-marginRight) var(--stepperInput-button-margin) var(--stepperInput-button-margin);
  --saltButton-width: var(--stepperInput-secondary-button-width);
}

.saltStepperInput-hideSecondaryButton {
  visibility: hidden;
}

/* Styles applied to stepper buttons container */
.saltStepperInput-buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styles applied to stepper buttons */
.saltStepperInput-stepperButton {
  --saltButton-height: var(--stepperInput-button-height);
  --saltButton-margin: var(--stepperInput-button-margin);
  --saltButton-width: var(--stepperInput-button-width);
}

/* Styles applied to increment button */
.saltStepperInput-increment {
}

/* Styles applied to decrement button */
.saltStepperInput-decrement {
  --saltButton-margin: 0 var(--stepperInput-button-margin) var(--stepperInput-button-margin) var(--stepperInput-button-margin);
}

/* Styles applied to stepper button icon */
.saltStepperInput-stepperButtonIcon {
}

/* Styles applied to input component */
.saltStepperInput-input {
  max-height: var(--saltStepperInput-maxHeight, unset);
}
