.salt-theme {
  --salt-container-primary-background: var(--salt-palette-neutral-primary-background);
  --salt-container-primary-background-disabled: var(--salt-palette-neutral-primary-background-disabled);

  --salt-container-secondary-background: var(--salt-palette-neutral-secondary-background);
  --salt-container-secondary-background-disabled: var(--salt-palette-neutral-secondary-background-disabled);

  --salt-container-tertiary-background: var(--salt-palette-neutral-tertiary-background);
  --salt-container-tertiary-background-disabled: var(--salt-palette-neutral-tertiary-background-disabled);

  --salt-container-ghost-background: var(--salt-palette-alpha-medium);
  --salt-container-ghost-borderColor: var(--salt-palette-alpha-contrast-medium);

  --salt-container-bold-borderColor: var(--salt-palette-neutral-border);
  --salt-container-bold-borderColor-disabled: var(--salt-palette-neutral-border-disabled);
  --salt-container-borderColor: var(--salt-palette-neutral-border);
  --salt-container-subtle-borderColor: var(--salt-palette-neutral-border);
}
