.salt-theme {
  --salt-overlayable-shadow-scroll: 0 1px 3px 0 var(--salt-shadow-100-color);
  --salt-overlayable-shadow-region: 0 2px 4px 0 var(--salt-shadow-200-color);
  --salt-overlayable-shadow: 0 2px 4px 0 var(--salt-shadow-200-color);
  --salt-overlayable-shadow-hover: 0 4px 8px 0 var(--salt-shadow-300-color);
  --salt-overlayable-shadow-popout: 0 6px 10px 0 var(--salt-shadow-400-color);
  --salt-overlayable-shadow-drag: 0 6px 10px 0 var(--salt-shadow-400-color);
  --salt-overlayable-shadow-modal: 0 12px 40px 0 var(--salt-shadow-500-color);

  --salt-overlayable-background: var(--salt-palette-alpha-higher);
  --salt-overlayable-background-hover: var(--salt-palette-alpha-contrast-lowest);
  --salt-overlayable-background-highlight: var(--salt-palette-alpha-contrast-medium);
  --salt-overlayable-background-rangeSelection: var(--salt-palette-alpha-contrast-mediumLow);
}
