/* VARIABLES */
.uitkFlexItem {
  --uitkFlexItem-item-alignment: auto;
  --uitkFlexItem-shrink: 1;
  --uitkFlexItem-grow: 0;
}

.uitkFlexItem {
  position: relative;
  align-self: var(--uitkFlexItem-item-alignment);
  flex-grow: var(--uitkFlexItem-grow);
  flex-shrink: var(--uitkFlexItem-shrink);
}
