.cell {
  height: var(--salt-size-base);
  width: var(--salt-size-base);

  border-color: var(--salt-container-primary-borderColor);
  border-style: var(--salt-borderStyle-solid);
  border-width: var(--salt-size-fixed-100);
  border-radius: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
