.cell {
  width: var(--salt-size-base);
  height: var(--salt-size-base);

  color: var(--salt-content-primary-foreground);

  border-color: var(--salt-container-primary-borderColor);
  border-style: var(--salt-borderStyle-solid);
  border-width: var(--salt-size-fixed-100);
  border-radius: 0;
}
