.uitk-light .uitkOverflowPanel {
  --overflow-menu-background-color: var(--uitk-color-white);
}
.uitk-dark .uitkOverflowPanel {
  --overflow-menu-background-color: var(--uitk-color-grey-600);
}

.uitkOverflowPanel {
  --uitkFormField-margin: 0 var(--uitk-size-unit);
  --large-spacing: calc(1.5 * var(--uitk-size-unit));
  align-items: stretch;
  background-color: var(--overflow-menu-background-color);
  border: 1px solid var(--uitk-color-blue-500);
  box-shadow: var(--uitk-shadow-4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.uitkOverflowPanel > .uitkFormField {
  --uitkFormField-margin: 0 var(--large-spacing) var(--uitk-size-unit) var(--large-spacing);
}

.uitkOverflowPanel > .uitkToolbarButton {
  --uitkFormField-margin: 0 var(--large-spacing) 0 var(--large-spacing);
}

.uitkOverflowPanel > .uitkFormField:first-child {
  --uitkFormField-margin: var(--large-spacing) var(--large-spacing) var(--uitk-size-unit) var(--large-spacing);
}

.uitkOverflowPanel > .uitkFormField:last-child {
  --uitkFormField-margin: 0 var(--large-spacing) var(--large-spacing) var(--large-spacing);
}
