/* Styles applied to InteractableCard */
.saltInteractableCard {
  border-width: var(--saltCard-borderWidth, var(--salt-size-border));
  border-style: var(--saltCard-borderStyle, var(--salt-container-borderStyle));
  border-radius: var(--saltCard-borderRadius, 0);
  display: block;
  padding: var(--saltCard-padding, var(--salt-spacing-200));
  position: relative;
  transition: box-shadow var(--salt-duration-instant) cubic-bezier(0.4, 0, 0.2, 1);
}

/* Styles applied to InteractableCard when variant="primary" */
.saltInteractableCard-primary {
  background: var(--saltCard-background, var(--salt-container-primary-background));
  border-color: var(--salt-container-primary-borderColor);
  --card-accentColor: var(--salt-container-primary-borderColor);
}

/* Styles applied to InteractableCard when variant="secondary" */
.saltInteractableCard-secondary {
  background: var(--saltCard-background, var(--salt-container-secondary-background));
  border-color: var(--salt-container-secondary-borderColor);
  --card-accentColor: var(--salt-container-secondary-borderColor);
}

/* Styles applied to create accent */
.saltInteractableCard-accent::after {
  content: "";
  position: absolute;
  background-color: var(--saltCard-accentColor, var(--card-accentColor));
}

/* Styles applied to InteractableCard if `accent="bottom"` (default) */
.saltInteractableCard-accentBottom::after {
  left: calc(-1 * var(--salt-size-border));
  bottom: calc(-1 * var(--salt-size-border));
  height: var(--salt-size-accent);
  width: calc(100% + calc(2 * var(--salt-size-border)));
}

/* Styles applied to InteractableCard if `accent="left"` */
.saltInteractableCard-accentLeft::after {
  left: calc(-1 * var(--salt-size-border));
  top: calc(-1 * var(--salt-size-border));
  height: calc(100% + calc(2 * var(--salt-size-border)));
  width: var(--salt-size-accent);
}

/* Styles applied to InteractableCard if `accent="top"` */
.saltInteractableCard-accentTop::after {
  left: calc(-1 * var(--salt-size-border));
  top: calc(-1 * var(--salt-size-border));
  height: var(--salt-size-accent);
  width: calc(100% + calc(2 * var(--salt-size-border)));
}

/* Styles applied to InteractableCard if `accent="right"` */
.saltInteractableCard-accentRight::after {
  right: calc(-1 * var(--salt-size-border));
  top: calc(-1 * var(--salt-size-border));
  height: calc(100% + calc(2 * var(--salt-size-border)));
  width: var(--salt-size-accent);
}

/* Styles applied to InteractableCard on focus */
.saltInteractableCard:focus-visible {
  cursor: var(--saltCard-interactable-cursor-focus, var(--salt-selectable-cursor-hover));
  box-shadow: var(--saltCard-interactable-shadow-focus, var(--salt-overlayable-shadow-hover));
  color: var(--saltCard-color-focus, var(--salt-content-primary-foreground));
  outline-color: var(--salt-focused-outlineColor);
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-offset: var(--salt-focused-outlineOffset);
  --card-accentColor: var(--salt-selectable-foreground-hover);
}

/* Styles applied on hover state to InteractableCard */
.saltInteractableCard:hover {
  cursor: var(--saltCard-interactable-cursor-hover, var(--salt-selectable-cursor-hover));
  box-shadow: var(--saltCard-interactable-shadow-hover, var(--salt-overlayable-shadow-hover));
  --card-accentColor: var(--salt-selectable-foreground-hover);
}

/* Styles applied on active state to InteractableCard and if `selected={true}` */
.saltInteractableCard-selected,
.saltInteractableCard:active,
.saltInteractableCard-active {
  cursor: var(--saltCard-interactable-cursor-active, var(--salt-selectable-cursor-active));
  border-color: var(--salt-selectable-borderColor-selected);
  box-shadow: var(--saltCard-interactable-shadow-active, var(--salt-overlayable-shadow));
  --card-accentColor: var(--salt-selectable-foreground-selected);
}

/* Styles applied to InteractableCard if `disabled={true}` */
.saltInteractableCard-disabled,
.saltInteractableCard-disabled:focus,
.saltInteractableCard-disabled:hover,
.saltInteractableCard-disabled:active {
  box-shadow: var(--saltCard-interactable-shadow, var(--salt-overlayable-shadow));
  color: var(--saltCard-color-disabled, var(--salt-content-primary-foreground-disabled));
  cursor: var(--saltCard-interactable-cursor-disabled, var(--salt-selectable-cursor-disabled));
  outline: none;
  --card-accentColor: var(--salt-selectable-foreground-disabled);
}

/* Styles applied to InteractableCard primary variant if `disabled={true}` */
.saltInteractableCard-primary.saltInteractableCard-disabled,
.saltInteractableCard-primary.saltInteractableCard-disabled:focus,
.saltInteractableCard-primary.saltInteractableCard-disabled:hover,
.saltInteractableCard-primary.saltInteractableCard-disabled:active {
  background: var(--saltCard-background-disabled, var(--salt-container-primary-background-disabled));
  border-color: var(--salt-container-primary-borderColor-disabled);
}

/* Styles applied to InteractableCard secondary variant if `disabled={true}` */
.saltInteractableCard-secondary.saltInteractableCard-disabled,
.saltInteractableCard-secondary.saltInteractableCard-disabled:focus,
.saltInteractableCard-secondary.saltInteractableCard-disabled:hover,
.saltInteractableCard-secondary.saltInteractableCard-disabled:active {
  background: var(--saltCard-background-disabled, var(--salt-container-secondary-background));
  border-color: var(--salt-container-secondary-borderColor-disabled);
}

/* Styles applied to InteractableCard if `selected={true}`and `disabled={true}` */
.saltInteractableCard-selected.saltInteractableCard-disabled,
.saltInteractableCard-selected.saltInteractableCard-disabled:focus,
.saltInteractableCard-selected.saltInteractableCard-disabled:hover,
.saltInteractableCard-selected.saltInteractableCard-disabled:active {
  border-color: var(--salt-selectable-borderColor-selectedDisabled);
  --card-accentColor: var(--salt-selectable-foreground-selectedDisabled);
}

/* Styles applied to nested divs in InteractableCard if `disabled={true}` */
.saltInteractableCard-disabled div {
  pointer-events: none;
}
