.saltCascadingMenuItem {
  background: var(--salt-selectable-background);
  display: flex;

  align-items: center;
  justify-content: space-between;

  right: 0;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.saltCascadingMenuItem-menuItemText {
  flex-grow: 2;
  white-space: nowrap;
}

.saltCascadingMenuItem-menuItemEndAdornment {
  margin-left: 8px; /* density */
}

.saltCascadingMenuItem-menuItemStartAdornmentContainer {
  margin-right: var(--salt-size-unit);
  width: 12px;
}

.saltCascadingMenuItem-menuItemAdornmentHidden {
  visibility: hidden;
}

.saltCascadingMenuItem.saltCascadingMenuItem-menuItemDivider {
  border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-separable-secondary-borderColor);
}

.saltCascadingMenuItem-menuItemHover:hover {
  background: var(--salt-selectable-background-hover);
}

/* extra specificity requred to override ListItem selected */
.saltCascadingMenuItem.saltCascadingMenuItem-menuItemBlurSelected {
  background: var(--salt-selectable-background-blurSelected) !important;
}
