.uitkCascadingMenuList-popper {
  background: var(--uitk-container-background-medium);
}

.uitkCascadingMenuList-popper {
  --list-box-content: content-box;
  --list-box-shadow: var(--uitk-shadow-4);
}

.uitkCascadingMenuList {
  --menu-item-background: var(--uitk-selectable-background);
}
