.uitkMenuItem {
  background: var(--uitk-selectable-background);
  box-sizing: border-box;
  display: flex;

  align-items: center;
  justify-content: space-between;

  right: 0;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.uitkMenuItem-menuItemText {
  flex-grow: 2;
  white-space: nowrap;
}

.uitkMenuItem-menuItemEndAdornment {
  padding-left: 8px; /* density */
}

.uitkMenuItem-menuItemStartAdornmentContainer {
  margin-right: var(--uitk-size-unit);
  width: 12px;
}

.uitkMenuItem-menuItemAdornmentHidden {
  visibility: hidden;
}

.uitkMenuItem.uitkMenuItem-menuItemDivider {
  border-bottom: var(--uitk-separable-borderWidth) var(--uitk-separable-borderStyle) var(--uitk-separable-secondary-borderColor);
}

.uitkMenuItem-menuItemHover:hover {
  background: #a4d5f4;
}

/* extra specificity requred to override ListItem selected */
.uitkMenuItem.uitkMenuItem-menuItemBlurSelected {
  background: var(--uitk-selectable-background-blurSelected) !important;
}
