.uitkCascadingMenuList-popper {
  background: var(--uitk-container-background-medium);
}

.uitkCascadingMenuList-popper {
  --list-box-content: content-box;
  --list-box-shadow: var(--uitk-overlayable-shadow-popout);
}
