.uitkCascadingMenuList-popper {
  --uitk-container-border-color: var(--uitk-blue-500);
  background: var(--uitk-container-background);
}

.uitkCascadingMenuList-popper {
  --list-box-content: content-box;
  --list-box-shadow: var(--uitk-shadow-4);
}

.uitkCascadingMenuList {
  --menu-item-background: var(--uitk-selectable-background);
  --menu-item-border-bottom: solid 1px var(--uitk-white);
}
