.saltCascadingMenuItem {
  background: var(--salt-selectable-background);
  display: flex;

  align-items: center;
  justify-content: space-between;

  right: 0;
  cursor: var(--salt-cursor-hover);
  overflow: hidden;
  text-align: left;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-top: var(--salt-size-fixed-100) var(--salt-selectable-borderStyle-selected) transparent;
  border-bottom: var(--salt-size-fixed-100) var(--salt-selectable-borderStyle-selected) transparent;
  box-sizing: border-box;
}

.saltCascadingMenuItem-menuItemText {
  flex-grow: 2;
  white-space: nowrap;
}

.saltCascadingMenuItem-menuItemEndAdornment {
  margin-left: 8px; /* density */
}

.saltCascadingMenuItem-menuItemStartAdornmentContainer {
  margin-right: var(--salt-size-unit);
  width: 12px;
}

.saltCascadingMenuItem-menuItemAdornmentHidden {
  visibility: hidden;
}

.saltCascadingMenuItem.saltCascadingMenuItem-menuItemDivider {
  border-bottom: var(--salt-size-fixed-100) var(--salt-separable-borderStyle) var(--salt-separable-secondary-borderColor);
}

.saltCascadingMenuItem-menuItemHover:hover {
  background: var(--salt-selectable-background-hover);
}

/* extra specificity requred to override ListItem selected */
.saltCascadingMenuItem.saltCascadingMenuItem-menuItemBlurSelected {
  background: var(--salt-selectable-background-selected);
  border-top-color: var(--salt-selectable-borderColor-selected);
  border-bottom-color: var(--salt-selectable-borderColor-selected);
}
