/* Styles applied to root component (ContentStatus) */
.uitkContentStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: var(--uitk-text-textAlign-embedded);
  gap: var(--uitk-size-unit);
}

/* Styles applied to inner content */
.uitkContentStatus-content {
  color: var(--uitkContentStatus-content-color, var(--uitk-text-primary-foreground));
  display: flex;
  flex-direction: column;
  gap: var(--uitk-size-unit);
}

/* Styles applied to status title */
.uitkContentStatus-title {
  font-weight: var(--uitk-typography-fontWeight-semiBold);
}

/* Styles applied to status message */
.uitkContentStatus-message {
}

/* Styles applied to status actions */
.uitkContentStatus-actions {
  margin-top: var(--uitkContentStatus-actions-marginTop, var(--uitk-size-unit));
}
