/* Styles applied to root component (ContentStatus) */
.saltContentStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: var(--salt-text-textAlign-embedded);
  gap: var(--salt-size-unit);
}

/* Styles applied to inner content */
.saltContentStatus-content {
  color: var(--saltContentStatus-content-color, var(--salt-content-primary-foreground));
  display: flex;
  flex-direction: column;
  gap: var(--salt-size-unit);
}

/* Styles applied to status title */
.saltContentStatus-title {
  font-weight: var(--salt-text-display1-fontWeight); /* TODO: Use correct token */
}

/* Styles applied to status message */
.saltContentStatus-message {
}

/* Styles applied to status actions */
.saltContentStatus-actions {
  margin-top: var(--saltContentStatus-actions-marginTop, var(--salt-size-unit));
}
