.uitkStateIcon {
  --state-icon-color-warning: var(--uitk-status-icon-color-warning);
  --state-icon-color-info: var(--uitk-status-icon-color-info);
  --state-icon-color-success: var(--uitk-status-icon-color-success);
  --state-icon-color-error: var(--uitk-status-icon-color-error);
}

.uitkStateIcon-warning {
  fill: var(--state-icon-color-warning);
}

.uitkStateIcon-info {
  fill: var(--state-icon-color-info);
}

.uitkStateIcon-success {
  fill: var(--state-icon-color-success);
}

.uitkStateIcon-error {
  fill: var(--state-icon-color-error);
}
