.item {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridLayout {
  background: lightblue;
}

.flexItem {
  background: lightcyan;
  padding: 1rem;
}

.flexLayout {
  width: 500px;
  background: lightblue;
}

.panelledLayout {
  min-width: 500px;
  background: lightblue;
}

.panelledItem {
  background: lightcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100px;
}
