.layout-active-content {
  background: var(--uitk-color-grey-40);
  padding: 1rem;
}
.layout-content {
  background: var(--uitk-color-orange-20);
  padding: 1rem;
}

.layer-example {
  height: 100%;
}

.layer-container .uitkLayerLayout-center {
  width: 50vw;
}

.layer-container .uitkLayerLayout-right,
.layer-container .uitkLayerLayout-left {
  width: 240px;
}

.layer-container .custom-animation.uitkLayerLayout-fullScreen.uitkLayerLayout-enter-animation {
  animation: var(--uitk-animation-slide-in-top);
}

.layer-container .custom-animation.uitkLayerLayout-fullScreen.uitkLayerLayout-exit-animation {
  animation: var(--uitk-animation-slide-out-top);
}

.carousel-container .uitkCarouselSlide-fixedContainer {
  display: flex;
  justify-content: space-between;
}

.carousel-container .uitkCarouselSlide-fixedContainer .uitkOrderedButton {
  margin-right: 0;
}

@media (prefers-reduced-motion) {
  .reduced-motion .uitkParentChildItem-slide-left {
    animation: none;
  }

  .reduced-motion .uitkParentChildItem-slide-right {
    animation: none;
  }
}

@media (prefers-reduced-motion) {
  .reduced-motion.uitkLayerLayout {
    animation: none;
  }
}
