.salt-theme {
  --salt-accent-background: var(--salt-palette-accent-background);
  --salt-accent-borderColor: var(--salt-palette-accent-border);
  --salt-accent-borderColor-disabled: var(--salt-palette-accent-border-disabled);
  --salt-accent-foreground: var(--salt-palette-accent-foreground);
}
