.uitk-light,
.uitk-dark {
  /*
   These are not really light/dark theme specific.
   Consider theme-invariant .uitk namespace? More around where to put this, keep in mind white-labelling
  */
  --uitk-actionable-font-weight: var(--uitk-typography-weight-bold);
  --uitk-actionable-letter-spacing: 0.6px;
  --uitk-actionable-text-transform: uppercase;
  --uitk-actionable-cursor-hover: pointer;
  --uitk-actionable-cursor-active: pointer;

  /* Below are not in Figma */
  --uitk-actionable-text-align: center;
  --uitk-actionable-border-radius: 0;
}

/* 
  Color naming convention
  - Prefix with --uitk
  - Characteristics name, e.g. -actionable
  - The 'variant', e.g. -primary,
  - The 'property' to apply on, e.g. -text, -background
  - The 'category', e.g. -color (omitted for -background property)
  - The 'state', e.g. -regular, -hover, -active, -disabled. Mapped to CSS Dynamic pseudo-classes


  Figma Style example: Actionable/CTA/Background/Regular
 */

.uitk-light {
  /* TODO: There are no disabled values in Figma - where do these come from? */
  --uitk-actionable-primary-text-color: var(--uitk-grey-900);
  --uitk-actionable-primary-text-color-hover: var(--uitk-grey-900);
  --uitk-actionable-primary-text-color-active: var(--uitk-white);
  --uitk-actionable-primary-text-color-disabled: rgba(22, 22, 22, var(--uitk-disabled-text-opacity));
  --uitk-actionable-primary-background: var(--uitk-grey-60);
  --uitk-actionable-primary-background-hover: var(--uitk-grey-40);
  --uitk-actionable-primary-background-active: var(--uitk-grey-200);
  --uitk-actionable-primary-background-disabled: rgba(197, 201, 208, var(--uitk-disabled-graphical-opacity));
  --uitk-actionable-primary-icon-color-active: var(--uitk-white);
  --uitk-actionable-primary-icon-color: var(--uitk-grey-900);
  --uitk-actionable-primary-icon-color-hover: var(--uitk-grey-900);
  --uitk-actionable-primary-icon-color-disabled: rgba(22, 22, 22, var(--uitk-disabled-graphical-opacity));

  --uitk-actionable-cta-text-color: var(--uitk-white);
  --uitk-actionable-cta-text-color-active: var(--uitk-white);
  --uitk-actionable-cta-text-color-hover: var(--uitk-white);
  --uitk-actionable-cta-text-color-disabled: rgba(255, 255, 255, var(--uitk-disabled-text-opacity));
  --uitk-actionable-cta-background: var(--uitk-blue-600);
  --uitk-actionable-cta-background-hover: var(--uitk-blue-500);
  --uitk-actionable-cta-background-active: var(--uitk-blue-700);
  --uitk-actionable-cta-background-disabled: rgba(21, 92, 147, var(--uitk-disabled-graphical-opacity));
  --uitk-actionable-cta-icon-color: var(--uitk-white);
  --uitk-actionable-cta-icon-color-hover: var(--uitk-white);
  --uitk-actionable-cta-icon-color-active: var(--uitk-white);
  --uitk-actionable-cta-icon-color-disabled: rgba(255, 255, 255, var(--uitk-disabled-graphical-opacity));

  --uitk-actionable-secondary-text-color: var(--uitk-grey-900);
  --uitk-actionable-secondary-text-color-active: var(--uitk-white);
  --uitk-actionable-secondary-text-color-hover: var(--uitk-grey-900);
  --uitk-actionable-secondary-text-color-disabled: rgba(22, 22, 22, var(--uitk-disabled-text-opacity));
  --uitk-actionable-secondary-background: transparent;
  --uitk-actionable-secondary-background-active: var(--uitk-grey-200);
  --uitk-actionable-secondary-background-hover: var(--uitk-grey-40);
  /* TODO: No disabled value here? */
  --uitk-actionable-secondary-icon-color-active: var(--uitk-white);
  --uitk-actionable-secondary-icon-color: var(--uitk-grey-300);
  --uitk-actionable-secondary-icon-color-hover: var(--uitk-grey-900);
  --uitk-actionable-secondary-icon-color-disabled: rgba(22, 22, 22, var(--uitk-disabled-graphical-opacity));
}
.uitk-dark {
  --uitk-actionable-primary-text-color: var(--uitk-white);
  --uitk-actionable-primary-text-color-active: var(--uitk-grey-900);
  --uitk-actionable-primary-text-color-hover: var(--uitk-white);
  --uitk-actionable-primary-text-color-disabled: rgba(255, 255, 255, var(--uitk-disabled-text-opacity));
  --uitk-actionable-primary-background: var(--uitk-grey-300);
  --uitk-actionable-primary-background-active: var(--uitk-grey-80);
  --uitk-actionable-primary-background-hover: var(--uitk-grey-200);
  --uitk-actionable-primary-background-disabled: rgba(76, 80, 91, var(--uitk-disabled-graphical-opacity));
  --uitk-actionable-primary-icon-color: var(--uitk-white);
  --uitk-actionable-primary-icon-color-active: var(--uitk-grey-900);
  --uitk-actionable-primary-icon-color-hover: var(--uitk-white);
  --uitk-actionable-primary-icon-color-disabled: rgba(255, 255, 255, var(--uitk-disabled-graphical-opacity));

  --uitk-actionable-cta-text-color: var(--uitk-white);
  --uitk-actionable-cta-text-color-active: var(--uitk-white);
  --uitk-actionable-cta-text-color-hover: var(--uitk-white);
  --uitk-actionable-cta-text-color-disabled: rgba(255, 255, 255, var(--uitk-disabled-text-opacity));
  --uitk-actionable-cta-background: var(--uitk-blue-600);
  --uitk-actionable-cta-background-active: var(--uitk-blue-700);
  --uitk-actionable-cta-background-hover: var(--uitk-blue-500);
  --uitk-actionable-cta-background-disabled: rgba(21, 92, 147, var(--uitk-disabled-graphical-opacity));
  --uitk-actionable-cta-icon-color: var(--uitk-white);
  --uitk-actionable-cta-icon-color-active: var(--uitk-white);
  --uitk-actionable-cta-icon-color-hover: var(--uitk-white);
  --uitk-actionable-cta-icon-color-disabled: rgba(255, 255, 255, var(--uitk-disabled-graphical-opacity));

  --uitk-actionable-secondary-text-color: var(--uitk-white);
  --uitk-actionable-secondary-text-color-active: var(--uitk-grey-900);
  --uitk-actionable-secondary-text-color-hover: var(--uitk-white);
  --uitk-actionable-secondary-text-color-disabled: rgba(255, 255, 255, var(--uitk-disabled-text-opacity));
  --uitk-actionable-secondary-background: transparent;
  --uitk-actionable-secondary-background-hover: var(--uitk-grey-200);
  --uitk-actionable-secondary-background-active: var(--uitk-grey-80);
  --uitk-actionable-secondary-icon-color: var(--uitk-grey-60);
  --uitk-actionable-secondary-icon-color-active: var(--uitk-grey-900);
  --uitk-actionable-secondary-icon-color-hover: var(--uitk-white);
  --uitk-actionable-secondary-icon-color-disabled: rgba(255, 255, 255, var(--uitk-disabled-graphical-opacity));
}
