.uitk-light,
.uitk-dark {
  --uitk-actionable-cursor-active: pointer;
  --uitk-actionable-cursor-disabled: not-allowed;
  --uitk-actionable-cursor-hover: pointer;

  --uitk-actionable-border-width: 1px; /* Not in Figma */
  --uitk-actionable-border-style: solid; /* Not in Figma */
  --uitk-actionable-border-radius: 0; /* Not in Figma */
  --uitk-actionable-letter-spacing: 0.6px; /* Not in Figma */
  --uitk-actionable-text-transform: uppercase; /* Not in Figma */
  --uitk-actionable-text-align: center; /* Not in Figma */

  /* Note: 'disabled' design tokens not in Figma */

  /* Primary variant */
  --uitk-actionable-primary-foreground: var(--uitk-palette-action-primary-foreground);
  --uitk-actionable-primary-foreground-active: var(--uitk-palette-action-primary-foreground-active);
  --uitk-actionable-primary-foreground-disabled: var(--uitk-palette-action-primary-foreground-disabled);
  --uitk-actionable-primary-foreground-hover: var(--uitk-palette-action-primary-foreground-hover);
  --uitk-actionable-primary-background: var(--uitk-palette-action-primary-background);
  --uitk-actionable-primary-background-active: var(--uitk-palette-action-primary-background-active);
  --uitk-actionable-primary-background-disabled: var(--uitk-palette-action-primary-background-disabled);
  --uitk-actionable-primary-background-hover: var(--uitk-palette-action-primary-background-hover);
  --uitk-actionable-primary-font-weight: var(--uitk-typography-weight-bold);

  /* CTA variant */
  --uitk-actionable-cta-foreground: var(--uitk-palette-action-cta-foreground);
  --uitk-actionable-cta-foreground-active: var(--uitk-palette-action-cta-foreground-active);
  --uitk-actionable-cta-foreground-disabled: var(--uitk-palette-action-cta-foreground-disabled);
  --uitk-actionable-cta-foreground-hover: var(--uitk-palette-action-cta-foreground-hover);
  --uitk-actionable-cta-background: var(--uitk-palette-action-cta-background);
  --uitk-actionable-cta-background-active: var(--uitk-palette-action-cta-background-active);
  --uitk-actionable-cta-background-disabled: var(--uitk-palette-action-cta-background-disabled);
  --uitk-actionable-cta-background-hover: var(--uitk-palette-action-cta-background-hover);
  --uitk-actionable-cta-font-weight: var(--uitk-typography-weight-bold);

  /* Secondary variant */
  --uitk-actionable-secondary-foreground: var(--uitk-palette-action-secondary-foreground);
  --uitk-actionable-secondary-foreground-active: var(--uitk-palette-action-secondary-foreground-active);
  --uitk-actionable-secondary-foreground-disabled: var(--uitk-palette-action-secondary-foreground-disabled);
  --uitk-actionable-secondary-foreground-hover: var(--uitk-palette-action-secondary-foreground-hover);
  --uitk-actionable-secondary-background-active: var(--uitk-palette-action-secondary-background-active);
  --uitk-actionable-secondary-background-hover: var(--uitk-palette-action-secondary-background-hover);
  --uitk-actionable-secondary-font-weight: var(--uitk-typography-weight-semiBold);
}
