.salt-theme {
  --salt-container-borderStyle: solid;

  --salt-container-primary-background: var(--salt-palette-neutral-primary-background);
  --salt-container-primary-background-disabled: var(--salt-palette-neutral-primary-background-disabled);
  --salt-container-primary-borderColor: var(--salt-palette-neutral-primary-border);
  --salt-container-primary-borderColor-disabled: var(--salt-palette-neutral-primary-border-disabled);

  --salt-container-secondary-background: var(--salt-palette-neutral-secondary-background);
  --salt-container-secondary-background-disabled: var(--salt-palette-neutral-secondary-background-disabled);
  --salt-container-secondary-borderColor: var(--salt-palette-neutral-secondary-border);
  --salt-container-secondary-borderColor-disabled: var(--salt-palette-neutral-secondary-border-disabled);

  --salt-container-tertiary-background: transparent;
  --salt-container-tertiary-background-disabled: transparent;
  --salt-container-tertiary-borderColor: transparent;
  --salt-container-tertiary-borderColor-disabled: transparent;
}
