.salt-theme.salt-theme-next {
  --salt-container-primary-background: var(--salt-palette-background-primary);
  --salt-container-primary-background-disabled: var(--salt-palette-background-primary-disabled);
  --salt-container-primary-borderColor: var(--salt-palette-alpha);
  --salt-container-primary-borderColor-disabled: var(--salt-palette-alpha-weaker);

  --salt-container-secondary-background: var(--salt-palette-background-secondary);
  --salt-container-secondary-background-disabled: var(--salt-palette-background-secondary-disabled);
  --salt-container-secondary-borderColor: var(--salt-palette-alpha);
  --salt-container-secondary-borderColor-disabled: var(--salt-palette-alpha-weaker);

  --salt-container-tertiary-background: var(--salt-palette-background-tertiary);
  --salt-container-tertiary-background-disabled: var(--salt-palette-background-tertiary-disabled);
}
