.uitk-theme {
  --salt-draggable-horizontal-cursor-hover: row-resize;
  --salt-draggable-horizontal-cursor-active: row-resize;

  --salt-draggable-vertical-cursor-hover: col-resize;
  --salt-draggable-vertical-cursor-active: col-resize;

  --salt-draggable-grab-cursor-hover: grab;
  --salt-draggable-grab-cursor-active: grabbing;
}
