/* TODO: Characteristics revamp */
.uitk-light,
.uitk-dark {
  --uitk-dropTarget-borderStyle: dashed;
  --uitk-dropTarget-borderStyle-hover: dashed;
  --uitk-dropTarget-borderStyle-disabled: dashed;

  --uitk-dropTarget-borderWidth: 1px;
  --uitk-dropTarget-borderWidth-hover: 1px;
  --uitk-dropTarget-borderWidth-disabled: 1px;

  --uitk-dropTarget-cursor-disabled: not-allowed;

  --uitk-dropTarget-background-hover: var(--uitk-palette-interact-background-hover);
}
