.uitk-light {
  --uitk-droptarget-background: var(--uitk-color-grey-20);
  --uitk-droptarget-background-hover: var(--uitk-color-blue-30);

  --uitk-droptarget-icon-color: var(--uitk-color-grey-200);
  --uitk-droptarget-icon-color-hover: var(--uitk-color-grey-200);

  --uitk-droptarget-border: dashed 1px var(--uitk-color-grey-60);
}

.uitk-dark {
  --uitk-droptarget-background: var(--uitk-color-grey-600);
  --uitk-droptarget-background-hover: var(--uitk-color-blue-2000); /* TODO: Replace with -900 when palette updated */

  --uitk-droptarget-icon-color: var(--uitk-color-grey-60);
  --uitk-droptarget-icon-color-hover: var(--uitk-color-grey-60);

  --uitk-droptarget-border: dashed 1px var(--uitk-color-grey-200);
}
