.uitk-dark,
.uitk-light {
  --uitk-editable-cursor-active: text;
  --uitk-editable-cursor-disabled: not-allowed;
  --uitk-editable-cursor-hover: text;

  --uitk-editable-border-style: solid;

  --uitk-editable-border-width: 1px;
  --uitk-editable-border-width-hover: 1px;
  --uitk-editable-border-width-active: 2px;
  --uitk-editable-border-width-readonly: 1px;

  --uitk-editable-foreground: var(--uitk-palette-action-foreground);
  --uitk-editable-foreground-active: var(--uitk-palette-action-foreground-active);
  --uitk-editable-foreground-hover: var(--uitk-palette-action-foreground-hover);
  --uitk-editable-foreground-readonly: var(--uitk-palette-action-foreground);

  --uitk-editable-border-color: var(--uitk-palette-action-border);
  --uitk-editable-border-color-active: var(--uitk-palette-action-border-selected);
  --uitk-editable-border-color-hover: var(--uitk-palette-action-border-hover);
  --uitk-editable-border-color-readonly: var(--uitk-palette-action-border-readonly);

  --uitk-editable-background-low: transparent;
  --uitk-editable-background-hover-low: transparent;
  --uitk-editable-background-active-low: transparent;
  --uitk-editable-background-readonly-low: transparent;

  --uitk-editable-background-medium: var(--uitk-palette-action-background-medium);
  --uitk-editable-background-hover-medium: var(--uitk-palette-action-background-medium);
  --uitk-editable-background-active-medium: var(--uitk-palette-action-background-medium);
  --uitk-editable-background-readonly-medium: var(--uitk-palette-action-background-medium);

  --uitk-editable-background-high: var(--uitk-palette-action-background-high);
  --uitk-editable-background-hover-high: var(--uitk-palette-action-background-high);
  --uitk-editable-background-active-high: var(--uitk-palette-action-background-high);
  --uitk-editable-background-readonly-high: var(--uitk-palette-action-background-high);
}
