.uitk-theme {
  --uitk-editable-cursor-hover: text;
  --uitk-editable-cursor-active: text;
  --uitk-editable-cursor-disabled: not-allowed;
  --uitk-editable-cursor-readonly: text;

  --uitk-editable-borderStyle: solid;
  --uitk-editable-borderStyle-hover: solid;
  --uitk-editable-borderStyle-active: solid;
  --uitk-editable-borderStyle-disabled: solid;
  --uitk-editable-borderStyle-readonly: solid;
  --uitk-editable-borderWidth-active: 2px;

  --uitk-editable-borderColor: var(--uitk-palette-interact-border);
  --uitk-editable-borderColor-active: var(--uitk-palette-interact-border-active);
  --uitk-editable-borderColor-disabled: var(--uitk-palette-interact-border-disabled);
  --uitk-editable-borderColor-hover: var(--uitk-palette-interact-border-hover);
  --uitk-editable-borderColor-readonly: var(--uitk-palette-interact-border-readonly);

  --uitk-editable-primary-background: var(--uitk-palette-neutral-primary-background);
  --uitk-editable-primary-background-active: var(--uitk-palette-neutral-primary-background);
  --uitk-editable-primary-background-disabled: var(--uitk-palette-neutral-primary-background-disabled);
  --uitk-editable-primary-background-hover: var(--uitk-palette-neutral-primary-background);
  --uitk-editable-primary-background-readonly: var(--uitk-palette-neutral-primary-background);

  --uitk-editable-secondary-background: var(--uitk-palette-neutral-secondary-background);
  --uitk-editable-secondary-background-active: var(--uitk-palette-neutral-secondary-background);
  --uitk-editable-secondary-background-disabled: var(--uitk-palette-neutral-secondary-background-disabled);
  --uitk-editable-secondary-background-hover: var(--uitk-palette-neutral-secondary-background);
  --uitk-editable-secondary-background-readonly: var(--uitk-palette-neutral-secondary-background);

  --uitk-editable-tertiary-background: var(--uitk-palette-neutral-tertiary-background);
  --uitk-editable-tertiary-background-active: var(--uitk-palette-neutral-tertiary-background);
  --uitk-editable-tertiary-background-disabled: var(--uitk-palette-neutral-tertiary-background-disabled);
  --uitk-editable-tertiary-background-hover: var(--uitk-palette-neutral-tertiary-background);
  --uitk-editable-tertiary-background-readonly: var(--uitk-palette-neutral-tertiary-background);

  --uitk-editable-help-fontStyle: italic;
}
