.uitk-light,
.uitk-dark {
  --uitk-focused-color: var(--uitk-palette-info-border);
  --uitk-focused-line-width: 2px;
  --uitk-focused-border-style: solid; /* TODO: Can this be deleted? check for formfield */
  --uitk-focused-outline-style: dotted;
  --uitk-focused-outline-offset: 0;
  --uitk-focused-outline-inset: 0px 0px 0px 0px;
}

.uitkFocusVisible:after,
.focused:focus:after,
.focused:focus-visible:after {
  content: "";
  inset: var(--uitkFocusVisible-inset, var(--uitk-focused-outline-inset));
  position: absolute;
  outline-style: var(--uitk-focused-outline-style);
  outline-width: var(--uitk-focused-line-width);
  outline-offset: var(--uitk-focused-outline-offset);
  outline-color: var(--uitk-focused-color);
}
