.uitk-theme {
  --uitk-focused-outlineColor: var(--uitk-palette-info-border);
  --uitk-focused-outlineStyle: dotted;
  --uitk-focused-outlineWidth: 2px;

  --uitk-focused-outlineInset: 0px 0px 0px 0px; /* Not in Figma */
  --uitk-focused-outlineOffset: 0; /* Not in Figma */
  --uitk-focused-outline: var(--uitk-focused-outlineWidth) var(--uitk-focused-outlineStyle) var(--uitk-focused-outlineColor); /* CSS shortcut token: not in Figma */
}

.uitkFocusVisible:after,
.focused:focus:after,
.focused:focus-visible:after {
  content: "";
  inset: var(--uitk-focused-outlineInset);
  outline-color: var(--uitk-focused-outlineColor);
  outline-offset: var(--uitk-focused-outlineOffset);
  outline-style: var(--uitk-focused-outlineStyle);
  outline-width: var(--uitk-focused-outlineWidth);
  position: absolute;
}
