.uitk-light,
.uitk-dark {
  /* TODO: Font sizes not in Figma, need approving */
  --uitk-measured-fontSize-low: 11px;
  --uitk-measured-fontSize-medium: 14px;
  --uitk-measured-fontSize-high: 16px;

  --uitk-measured-borderColor: var(--uitk-palette-measure-border);
  --uitk-measured-borderStyle: solid;
  --uitk-measured-borderWidth: 1px;

  --uitk-measured-fontWeight: var(--uitk-typography-fontWeight-semiBold);

  --uitk-measured-background: var(--uitk-palette-measure-background);

  --uitk-measured-fill: var(--uitk-palette-measure-fill);
  --uitk-measured-fill-disabled: var(--uitk-palette-measure-fill-disabled);
}

/* TK1 Backwards compatibility */
.uitk-light {
  --backwardsCompat-measure-fill-startColor: var(--uitk-color-teal-500);
  --backwardsCompat-measure-fill-stopColor: var(--uitk-color-blue-500);
}

.uitk-dark {
  --backwardsCompat-measure-fill-startColor: var(--uitk-color-teal-300);
  --backwardsCompat-measure-fill-stopColor: var(--uitk-color-blue-300);
}
