.salt-theme {
  --salt-navigable-cursor-active: pointer;
  --salt-navigable-cursor-hover: pointer;
  --salt-navigable-cursor-disabled: not-allowed;
  --salt-navigable-cursor-edit: text;

  --salt-navigable-fontWeight: var(--salt-typography-fontWeight-regular);
  --salt-navigable-fontWeight-hover: var(--salt-typography-fontWeight-regular);
  --salt-navigable-fontWeight-active: var(--salt-typography-fontWeight-semiBold);
  --salt-navigable-fontWeight-edit: var(--salt-typography-fontWeight-regular);

  --salt-navigable-indicator-hover: var(--salt-palette-navigate-indicator-hover);
  --salt-navigable-indicator-active: var(--salt-palette-navigate-indicator-active);
  --salt-navigable-indicator-activeDisabled: var(--salt-palette-navigate-indicator-activeDisabled);

  --salt-navigable-primary-background: var(--salt-palette-navigate-primary-background);
  --salt-navigable-primary-background-hover: var(--salt-palette-navigate-primary-background-hover);
  --salt-navigable-primary-background-active: var(--salt-palette-navigate-primary-background-active);

  --salt-navigable-secondary-background: var(--salt-palette-navigate-secondary-background);
  --salt-navigable-secondary-background-hover: var(--salt-palette-navigate-secondary-background-hover);
  --salt-navigable-secondary-background-active: var(--salt-palette-navigate-secondary-background-active);

  --salt-navigable-tertiary-background: var(--salt-palette-navigate-tertiary-background);
  --salt-navigable-tertiary-background-hover: var(--salt-palette-navigate-tertiary-background-hover);
  --salt-navigable-tertiary-background-active: var(--salt-palette-navigate-tertiary-background-active);
}
