.uitk-light,
.uitk-dark {
  --uitk-navigable-font-weight-active: var(--uitk-typography-weight-semiBold);
  --uitk-navigable-cursor-hover: pointer;
  --uitk-navigable-cursor-active: pointer;
}

.uitk-light {
  --uitk-navigable-indicator-color-hover: var(--uitk-color-grey-90);
  --uitk-navigable-indicator-color-active: var(--uitk-color-orange-700);

  --uitk-navigable-link-color: var(--uitk-color-grey-400);
  --uitk-navigable-link-color-hover: var(--uitk-color-grey-400);
  --uitk-navigable-link-color-active: var(--uitk-color-grey-900);
}

.uitk-dark {
  --uitk-navigable-indicator-color-hover: var(--uitk-color-grey-90);
  --uitk-navigable-indicator-color-active: var(--uitk-color-orange-500);

  --uitk-navigable-link-color: var(--uitk-color-grey-40);
  --uitk-navigable-link-color-hover: var(--uitk-color-grey-40);
  --uitk-navigable-link-color-active: var(--uitk-color-white);
}

/* Default medium emphasis values */

.uitk-light {
  --uitk-navigable-border: solid 1px var(--uitk-color-grey-60);
  --uitk-navigable-background: none;
  --uitk-navigable-background-hover: var(--uitk-color-grey-20);
  --uitk-navigable-background-active: none;
}

.uitk-dark {
  --uitk-navigable-border: solid 1px var(--uitk-color-grey-400);
  --uitk-navigable-background: none;
  --uitk-navigable-background-hover: var(--uitk-color-grey-600);
  --uitk-navigable-background-active: none;
}

/* High and low emphasis values */

.uitkEmphasisLow .uitk-light .uitkEmphasisLow {
  --uitk-navigable-border: solid 1px transparent;
  --uitk-navigable-background-active: none;
  --uitk-navigable-background: none;
  --uitk-navigable-background-hover: var(--uitk-color-grey-20);
}

.uitk-dark .uitkEmphasisLow {
  --uitk-navigable-border: none;
  --uitk-navigable-background: none;
  --uitk-navigable-background-hover: var(--uitk-color-grey-600);
  --uitk-navigable-background-active: none;
}

.uitk-light .uitkEmphasisHigh {
  --uitk-navigable-border: solid 1px var(--uitk-color-grey-60);
  --uitk-navigable-background: var(--uitk-color-grey-20);
  --uitk-navigable-background-hover: var(--uitk-color-grey-30);
  --uitk-navigable-background-active: var(--uitk-color-grey-20);
}

.uitk-dark .uitkEmphasisHigh {
  --uitk-navigable-border: solid 1px var(--uitk-color-grey-400);
  --uitk-navigable-background: var(--uitk-color-grey-600);
  --uitk-navigable-background-hover: var(--uitk-color-grey-600);
  --uitk-navigable-background-active: var(--uitk-color-grey-600);
}
