.salt-theme.salt-theme-next {
  --salt-navigable-indicator-hover: var(--salt-palette-neutral);
  --salt-navigable-indicator-active: var(--salt-palette-accent);

  --salt-navigable-background: var(--salt-palette-alpha-none);
  --salt-navigable-background-hover: var(--salt-palette-alpha-contrast-lowest);
  --salt-navigable-background-active: var(--salt-palette-accent-weakest);
  --salt-navigable-borderColor-active: var(--salt-palette-interact-border-active);
}
