.uitk-theme {
  --uitk-overlayable-shadow-scroll: var(--uitk-shadow-1);
  --uitk-overlayable-shadow-borderRegion: var(--uitk-shadow-2);
  --uitk-overlayable-shadow: var(--uitk-shadow-2);
  --uitk-overlayable-shadow-hover: var(--uitk-shadow-3);
  --uitk-overlayable-shadow-popout: var(--uitk-shadow-4);
  --uitk-overlayable-shadow-drag: var(--uitk-shadow-4);
  --uitk-overlayable-shadow-modal: var(--uitk-shadow-5);

  --uitk-overlayable-primary-background: var(--uitk-palette-neutral-primary-scrim);
  --uitk-overlayable-secondary-background: var(--uitk-palette-neutral-secondary-scrim);
}
