.uitk-light,
.uitk-dark {
  --uitk-progress-small-font-size: var(--uitk-typography-size-40);
  --uitk-progress-medium-font-size: var(--uitk-typography-size-60);
  --uitk-progress-large-font-size: var(--uitk-typography-size-70);
  --uitk-progress-color: var(--uitk-text-primary-color);
  --uitk-progress-color-active: linear-gradient(0deg, var(--uitk-progress-color-active-start) 0%, var(--uitk-progress-color-active-stop) 100%);
}

.uitk-light {
  --uitk-progress-track-color: var(--uitk-grey-90);
  --uitk-progress-color-active-start: var(--uitk-teal-500);
  --uitk-progress-color-active-stop: var(--uitk-blue-500);
}

.uitk-dark {
  --uitk-progress-track-color: var(--uitk-grey-100);
  --uitk-progress-color-active-start: var(--uitk-teal-300);
  --uitk-progress-color-active-stop: var(--uitk-blue-300);
}
