.uitk-light,
.uitk-dark {
  --uitk-selectable-default-text-align: left;
  --uitk-selectable-background-active: var(--uitk-blue-500);
  --uitk-selectable-text-color-active: var(--uitk-white);
}

.uitk-light {
  --uitk-selectable-text-color: var(--uitk-grey-900);
  --uitk-selectable-background: var(--uitk-white);
  --uitk-selectable-background-hover: var(--uitk-blue-30);
  --uitk-selectable-background-blur-active: var(--uitk-grey-30);
}

.uitk-dark {
  --uitk-selectable-text-color: var(--uitk-white);
  --uitk-selectable-background: var(--uitk-grey-800);
  --uitk-selectable-background-hover: var(--uitk-blue-30);
  --uitk-selectable-background-blur-active: var(--uitk-grey-500);
}
