.salt-theme {
    --salt-sentiment-negative-foreground-informative:  var(--salt-palette-negative-foreground);
    --salt-sentiment-positive-foreground-informative: var(--salt-palette-positive-foreground);

    --salt-sentiment-neutral-track:  var(--salt-palette-neutral-border);
    --salt-sentiment-neutral-track: var(--salt-palette-neutral-border-disabled);
}
