.salt-theme.salt-theme-next {
  --salt-separable-primary-borderColor: var(--salt-palette-alpha-strong);
  --salt-separable-secondary-borderColor: var(--salt-palette-alpha);
  --salt-separable-tertiary-borderColor: var(--salt-palette-alpha-weak);
}
