.uitk-theme {
  --uitk-separable-borderStyle: solid;
  --uitk-separable-borderWidth: 1px;

  --uitk-separable-primary-borderColor: var(--uitk-palette-neutral-primary-separator);
  --uitk-separable-secondary-borderColor: var(--uitk-palette-neutral-secondary-separator);
  --uitk-separable-tertiary-borderColor: var(--uitk-palette-neutral-tertiary-separator);
}
