.uitk-light,
.uitk-dark {
  --uitk-separable-border-width: 1px;
  --uitk-separable-border-style: solid;

  --uitk-separable-border-color-1: var(--uitk-palette-neutral-border-low);
  --uitk-separable-border-color-2: var(--uitk-palette-neutral-border-medium);
  --uitk-separable-border-color-3: var(--uitk-palette-neutral-border-high);
}
