/** 
  Status

  TODO: We're not following the naming convention yet, due to status colors used as background
  (e.g. badge) has contrast issue. We need to fix the colors then find appropriate naming.
**/

.uitk-light {
  --uitk-status-info-color: var(--uitk-blue-500);
  --uitk-status-success-color: var(--uitk-green-500);
  --uitk-status-warning-color: var(--uitk-orange-700);
  --uitk-status-error-color: var(--uitk-red-500);

  --uitk-status-low-emphasis-background: var(--uitk-white);

  --uitk-status-info-med-emphasis-background: var(--uitk-blue-10);
  --uitk-status-success-med-emphasis-background: var(--uitk-green-10);
  --uitk-status-warning-med-emphasis-background: var(--uitk-orange-10);
  --uitk-status-error-med-emphasis-background: var(--uitk-red-10);
}

.uitk-dark {
  --uitk-status-info-color: var(--uitk-blue-400);
  --uitk-status-success-color: var(--uitk-green-400);
  --uitk-status-warning-color: var(--uitk-orange-500);
  --uitk-status-error-color: var(--uitk-red-400);

  --uitk-status-low-emphasis-background: var(--uitk-grey-800);

  /** 
   TODO: These are completely different values v.s. the light theme color tokens -
   decide if we want to change to using the same but with different opacity 
   **/
  --uitk-status-info-med-emphasis-background: var(--uitk-blue-1000);
  --uitk-status-success-med-emphasis-background: var(--uitk-green-1000);
  --uitk-status-warning-med-emphasis-background: var(--uitk-orange-1000);
  --uitk-status-error-med-emphasis-background: var(--uitk-red-1000);
}
