.uitk-theme {
  --uitk-status-info-foreground: var(--uitk-palette-info-foreground);
  --uitk-status-success-foreground: var(--uitk-palette-success-foreground);
  --uitk-status-warning-foreground: var(--uitk-palette-warning-foreground);
  --uitk-status-error-foreground: var(--uitk-palette-error-foreground);

  --uitk-status-info-borderColor: var(--uitk-palette-info-border);
  --uitk-status-success-borderColor: var(--uitk-palette-success-border);
  --uitk-status-warning-borderColor: var(--uitk-palette-warning-border);
  --uitk-status-error-borderColor: var(--uitk-palette-error-border);

  --uitk-status-info-background-emphasize: var(--uitk-palette-info-background-emphasize);
  --uitk-status-success-background-emphasize: var(--uitk-palette-success-background-emphasize);
  --uitk-status-warning-background-emphasize: var(--uitk-palette-warning-background-emphasize);
  --uitk-status-error-background-emphasize: var(--uitk-palette-error-background-emphasize);
}
