.salt-theme,
.salt-theme[data-brand="legacy"] {
  --salt-target-background-hover: var(--salt-palette-interact-background-hover);

  --salt-target-borderColor-hover: var(--salt-palette-interact-border-hover);
  --salt-target-borderStyle: dashed;
  --salt-target-borderStyle-hover: solid;
  --salt-target-borderStyle-disabled: dashed;
}

.salt-theme[data-brand="jpmc"] {
  --salt-target-background-hover: var(--salt-palette-accent-weakest);
  --salt-target-borderColor-hover: var(--salt-palette-accent);
}
