.uitk-light {
  --uitk-text-primary-color: var(--uitk-grey-900);
  --uitk-text-primary-color-disabled: rgba(22, 22, 22, var(--uitk-disabled-text-opacity));

  --uitk-text-secondary-color: var(--uitk-grey-200);
  --uitk-text-secondary-color-disabled: rgba(97, 101, 110, var(--uitk-disabled-text-opacity));

  --uitk-text-growth-indicator-up-color: var(--uitk-green-500);
  --uitk-text-growth-indicator-down-color: var(--uitk-red-500);

  --uitk-text-link-color: var(--uitk-grey-900);
  --uitk-text-link-color-hover: var(--uitk-blue-500);
  --uitk-text-link-color-active: var(--uitk-blue-500);
  --uitk-text-link-color-disabled: var(--uitk-grey-900);
}

.uitk-dark {
  --uitk-text-primary-color: var(--uitk-white);
  --uitk-text-primary-color-disabled: rgba(255, 255, 255, var(--uitk-disabled-text-opacity));

  --uitk-text-secondary-color: var(--uitk-grey-70);
  --uitk-text-secondary-color-disabled: rgba(180, 183, 190, var(--uitk-disabled-text-opacity));

  --uitk-text-growth-indicator-up-color: var(--uitk-green-400);
  --uitk-text-growth-indicator-down-color: var(--uitk-red-400);

  --uitk-text-link-color: var(--uitk-white);
  --uitk-text-link-color-hover: var(--uitk-blue-200);
  --uitk-text-link-color-active: var(--uitk-blue-200);
  --uitk-text-link-color-disabled: var(--uitk-white);
  --uitk-text-link-text-decoration: underline;
}
