.salt-theme {
  --salt-track-borderStyle: solid;
  --salt-track-borderStyle-active: solid;
  --salt-track-borderStyle-complete: solid;
  --salt-track-borderStyle-incomplete: dotted;
  --salt-track-borderWidth: 2px;
  --salt-track-borderWidth-active: 2px;
  --salt-track-borderWidth-complete: 2px;
  --salt-track-borderWidth-incomplete: 2px;

  --salt-track-fontWeight: var(--salt-typography-fontWeight-semiBold);
  --salt-track-textAlign: center;

  /* TODO: Update when confirmed which will come from selectable */
  --salt-track-background: var(--salt-palette-measured-background);
  --salt-track-background-disabled: var(--salt-palette-measured-background-disabled);
  --salt-track-borderColor: var(--salt-palette-measured-border);
  --salt-track-borderColor-disabled: var(--salt-palette-measured-border-disabled);
  --salt-track-fill: var(--salt-palette-measured-fill);
  --salt-track-fill-disabled: var(--salt-palette-measured-fill-disabled);
  --salt-track-foreground: var(--salt-palette-measured-foreground);
  --salt-track-foreground-hover: var(--salt-palette-measured-foreground-active);
  --salt-track-foreground-active: var(--salt-palette-measured-foreground-active);
  --salt-track-foreground-undo: var(--salt-palette-measured-foreground-active);
  --salt-track-foreground-activeDisabled: var(--salt-palette-measured-foreground-activeDisabled);
  --salt-track-foreground-disabled: var(--salt-palette-measured-foreground-disabled);
}
