.container {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-300);
}

.flowLayout {
  min-height: 200px;
}

.radioButtonGroups {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-100);
}
