.CustomDayRender .saltCalendarDay {
  position: relative;
}

.FadeMonthAnimation .saltCalendarCarousel-shouldAnimate {
  transition: none;
}

.FadeMonthAnimation .saltCalendarCarousel-track .saltCalendarCarousel-slide {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.FadeMonthAnimation .saltCalendarCarousel-track .saltCalendarCarousel-slide:nth-child(2) {
  opacity: 1;
}
