/* Styles for Logo */
.saltLogo {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: var(--salt-size-base);
  gap: var(--salt-spacing-100);
}

.saltLogo svg {
  fill: var(--salt-text-secondary-foreground);
  stroke: none;
}
