@import "~ag-grid-community/src/styles/ag-theme-base/sass/ag-theme-base-default-params";

$salt-ag-theme-default-params: (
  row-hover-color: var(--agGrid-row-color-hover),
  row-border-color: var(--agGrid-row-borderColor),
  header-background-color: var(--salt-color-white),
  header-column-separator: true,
  header-column-separator-width: 1px,
  header-column-separator-color: var(--agGrid-header-column-separator-color),
  // Fonts
  font-family:
    (
      "Open Sans",
      sans-serif,
    ),
);

$salt-ag-theme-default-params: map-merge(
  $ag-theme-base-default-params,
  $salt-ag-theme-default-params
);
