@import "~ag-grid-community/src/styles/ag-theme-base/sass/ag-theme-base-default-params";
@import "./salt-ag-theme-font-vars";

$salt-ag-theme-default-params: (
  row-hover-color: var(--agGrid-row-color-hover),
  row-border-color: var(--agGrid-row-borderColor),
  header-column-separator: true,
  header-column-separator-width: 1px,
  header-column-separator-color: var(--agGrid-header-column-separator-color),
  // Fonts
  font-family:
    (
      "Open Sans",
      sans-serif,
    ),
  icon-font-family: $salt-ag-theme-icon-font-family,
  icons-data: $salt-ag-theme-icons-data,
  icons-font-codes: $salt-ag-theme-icons-font-codes,
);

$salt-ag-theme-default-params: map-merge(
  $ag-theme-base-default-params,
  $salt-ag-theme-default-params
);
