@import "~ag-grid-community/src/styles/ag-theme-base/sass/ag-theme-base";
@import "./salt-ag-theme-default-params";

@mixin ag-theme-salt($params: ()) {
  @include ag-allow-color-param-access-with-ag-param(false);

  $params: ag-process-theme-variables($params, $salt-ag-theme-default-params);
  @include ag-theme-base($params);

  .ag-root-wrapper {
    border: none;
  }

  .ag-ltr,
  .ag-rtl {
    .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected),
    .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
    .ag-cell-range-single-cell,
    .ag-cell-range-single-cell.ag-cell-range-handle {
      outline: var(--agGrid-focused-borderWidth)
        var(--agGrid-focused-borderStyle) var(--agGrid-focused-borderColor);
      outline-offset: -2px;
      border: none;
    }
  }
  // Because we are using a different border thickness on focus than default
  // we have to adjust height on various elements either using the line-height or height
  // properties.
  .ag-ltr,
  .ag-rtl {
    .ag-cell-wrapper.ag-row-group {
      align-items: center;
    }
  }

  .ag-ltr,
  .ag-rtl {
    .ag-row-focus .ag-cell-focus .ag-cell-wrapper.ag-row-group,
    .ag-cell-focus .ag-drag-handle.ag-row-drag,
    .ag-cell-focus
      .ag-cell-wrapper
      > :not(.ag-cell-value):not(.ag-group-value) {
      height: calc(
        min(
            var(--ag-internal-calculated-line-height),
            var(--ag-internal-padded-row-height)
          ) + 1px
      );
    }
  }

  .ag-toggle-button-input-wrapper {
    border-radius: 0;
    border-width: 0;
    background-color: var(--agGrid-toggle-button-background);
    height: var(--agGrid-switch-height);
    width: calc(
      var(--agGrid-switch-height) * 2 - var(--agGrid-switch-borderWidth)
    );
    &:focus-within:before {
      border: 2px dotted var(--salt-focused-outlineColor);
    }
    &::before {
      border-radius: 0;
      border-width: var(--agGrid-switch-borderWidth);
      border-color: var(--agGrid-toggle-button-background);
      top: 0;
      left: 0;
      height: var(--agGrid-switch-height);
      width: var(--agGrid-switch-height);
    }
    &.ag-checked {
      border-color: var(--agGrid-toggle-background-checked);
      background-color: var(--agGrid-toggle-background-checked);
      &::before {
        left: calc(
          var(--agGrid-switch-height) - var(--agGrid-switch-borderWidth)
        );
        border-color: var(--agGrid-toggle-background-checked);
        display: flex;
        font-family: jpmuitk-icons;
        font-size: 12px;
        content: "\e95b";
        color: var(--agGrid-toggle-background-checked);
        background-color: white;
        justify-content: center;
        align-items: center;
      }
    }
  }

  /* --- Menu styles --- */

  .ag-menu {
    background-color: var(--agGrid-background);
    padding: var(--salt-spacing-100);
    color: var(--agGrid-menu-color);
  }

  .ag-menu .ag-tabs-body {
    padding: 0;
  }

  .ag-menu .ag-filter-body-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--salt-spacing-50);
  }

  .ag-menu .ag-filter-body-wrapper > * {
    margin: 0;
  }

  .ag-menu-header {
    background-color: var(--agGrid-background);
  }

  .ag-menu-list {
    padding: 0;
  }

  .ag-menu-separator {
    height: var(--salt-size-border);
  }

  .ag-menu-option {
    height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  }

  .ag-column-select-header {
    border: none;
  }

  .ag-menu-column-select-wrapper {
    height: 100%;
  }

  .ag-column-select-list {
    overflow: initial;
    max-height: 256px;
  }

  .ag-picker-field-wrapper {
    border-radius: 0;
  }

  .ag-picker-field-icon {
    margin-right: var(--salt-spacing-100);
  }

  .ag-select .ag-picker-field-display {
    margin: 0;
    padding-left: var(--salt-spacing-100);
  }

  .ag-input-field-input[class^="ag-"][type="text"] {
    font-size: var(--salt-text-fontSize);
    font-family: var(--salt-text-fontFamily);
    padding: 0;
  }

  .ag-menu .ag-input-field-input[type="text"] {
    height: var(--agGrid-input-height);
    min-height: var(--agGrid-input-height);
    line-height: var(--agGrid-input-height);
    padding-left: var(--salt-spacing-100);
    padding-right: var(--salt-spacing-100);
    font-size: inherit;

    &:focus {
      border-color: var(--agGrid-color-focus);
    }
    &::placeholder {
      color: var(--agGrid-placeholder-color);
      opacity: 1;
    }
  }

  .ag-menu .ag-input-field-input[type="text"] {
    font-size: var(--salt-text-fontSize);
    border-bottom: var(--salt-size-border) var(--salt-editable-borderStyle)
      var(--salt-editable-borderColor);
  }

  .ag-set-filter-list {
    padding-top: 1px;
  }

  .ag-set-filter-item {
    margin: 0;
    padding-left: var(--salt-spacing-100);
    padding-right: var(--salt-spacing-100);
  }

  .ag-mini-filter {
    margin: 0;
    padding-left: var(--salt-spacing-50);
    padding-right: var(--salt-spacing-50);
  }

  .ag-menu-option-part {
    height: var(--salt-size-stackable);
    line-height: var(--salt-text-lineHeight);
    padding: 0 var(--salt-spacing-100);
    font-size: var(--salt-text-fontSize);
  }

  .ag-menu-option-text {
    padding-left: var(--salt-spacing-100);
    padding-right: var(--salt-spacing-100);
  }

  .ag-list-item,
  .ag-virtual-list-item {
    height: var(--agGrid-list-item-height);
    font-size: ag-param(font-size);
    color: var(--agGrid-header-foreground);
  }

  .ag-list-item:hover,
  .ag-virtual-list-item:hover {
    background-color: var(--agGrid-list-item-color-hover) !important;
  }

  /* --- Tab styles --- */

  .ag-tabs-header {
    @include ag-border(primary, bottom);
    min-width: 220px;
  }

  .ag-tab {
    margin: 0 var(--salt-spacing-100) 0 0;
    padding: 0 var(--salt-spacing-100);
    transition: color 0.4s;
    flex: 1 1 auto;
    height: var(--salt-size-stackable);
  }

  .ag-tab:only-child {
    margin: 0;
  }

  .ag-tab-selected {
    border-bottom: var(--salt-editable-borderStyle)
      var(--salt-editable-borderWidth-active)
      var(--agGrid-tab-borderColor-active);
  }

  /* --- Status bar styles --- */

  .ag-status-bar {
    color: var(--salt-content-secondary-foreground);
    height: var(--agGrid-row-height-default);
    font-size: var(--salt-text-fontSize);
    font-weight: var(--salt-text-label-fontWeight);
    line-height: var(--salt-text-label-lineHeight);
    padding: 0 var(--salt-spacing-100);
  }

  .ag-status-panel {
    align-items: center;
    color: var(--salt-content-secondary-foreground);
    padding: var(--salt-spacing-100) 0;
  }

  .ag-status-name-value-value {
    color: var(--salt-content-primary-foreground);
    font-weight: var(--salt-text-fontWeight-strong);
  }

  /* --- Header styles --- */

  .ag-header {
    border-color: var(--agGrid-header-borderColor);
  }

  .ag-header-row {
    color: var(--agGrid-header-foreground);
    font-size: var(--agGrid-header-fontSize);
    font-weight: var(--agGrid-header-fontWeight);
  }

  .ag-header-cell:after,
  .ag-header-group-cell:after {
    height: var(--agGrid-column-separator-height);
    top: var(--agGrid-column-separator-top);
  }

  .ag-ltr .ag-header-cell.ag-right-aligned-header .ag-header-label-icon {
    margin-right: auto;
  }

  .ag-ltr .ag-header-cell:not(.ag-right-aligned-header) .ag-header-label-icon {
    margin-left: auto;
  }

  .ag-keyboard-focus .ag-header-cell:focus:after {
    height: auto;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 2px dotted var(--agGrid-color-focus);
  }

  .ag-header-cell,
  .ag-header-group-cell {
    padding: 0px calc(var(--salt-spacing-100));
  }

  /* --- General row styles --- */

  .ag-row {
    color: var(--agGrid-foreground);
  }

  .ag-row-hover {
    background-color: var(--agGrid-row-background-hover);
  }

  .ag-row-selected {
    background-color: var(--agGrid-row-background-selected);
    border-color: var(--agGrid-row-borderColor-selected);
  }

  &.ag-theme-salt-variant-zebra
    .ag-row-even:not(.ag-row-hover, .ag-row-selected) {
    background-color: var(--agGrid-zebraColor);
  }

  &.ag-theme-salt-variant-secondary
    .ag-row:not(.ag-row-hover, .ag-row-selected) {
    background-color: var(--agGrid-row-background-secondary);
  }

  &.ag-theme-salt-variant-secondary .ag-header {
    background-color: var(--agGrid-row-background-secondary);
  }

  .ag-row-selected.ag-row-hover::before,
  .ag-row-selected::before {
    content: "";
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    background-color: var(--agGrid-row-borderColor-selected);
    background-image: none;
    z-index: 1;
  }

  /* --- General cell styles --- */

  .ag-cell {
    border: 0;
    padding-left: var(--salt-spacing-100);
    padding-right: var(--salt-spacing-100);
  }

  .ag-cell-wrapper {
    height: 100%;
  }

  .ag-ltr .ag-cell {
    border: none;
    line-height: calc(
      min(
          var(--ag-internal-calculated-line-height),
          var(--ag-internal-padded-row-height)
        ) + 1px
    );
  }

  .ag-cell-label-container {
    padding: var(--salt-spacing-100) 0;
  }

  .editable-numeric-cell,
  .ag-cell.numeric-cell {
    text-align: right;
    justify-content: flex-end;
  }

  .editable-numeric-cell,
  .ag-cell.editable-cell {
    border: var(--salt-size-border) var(--salt-container-borderStyle)
      var(--agGrid-cell-borderColor-editable);
  }

  .editable-numeric-cell.ag-cell-focus:focus,
  .ag-cell.editable-cell.ag-cell-focus:focus {
    overflow: visible;
    clip-path: inset(0, 0);
  }

  .ag-cell.editable-numeric-cell.ag-cell-focus:focus:before,
  .ag-cell.editable-cell.ag-cell-focus:focus:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 0 solid transparent;
    border-left: var(--agGrid-editableCell-cornerTag-size) solid
      var(--agGrid-focused-borderColor);
    border-bottom: var(--agGrid-editableCell-cornerTag-size) solid transparent;
    z-index: 2;
  }

  .ag-cell-inline-editing.ag-cell-focus {
    background-color: var(--agGrid-background);
  }

  .ag-cell-inline-editing.ag-cell-focus:before {
    opacity: 0;
  }

  .ag-cell.ag-cell-inline-editing {
    padding: 0 !important;
  }

  .ag-cell-editor .ag-input-field-input {
    padding-left: ag-param(cell-horizontal-padding);
    padding-right: ag-param(cell-horizontal-padding);
  }

  /* --- Cell range --- */

  .ag-cell.ag-cell-range-selected:not(
      .ag-cell-range-single-cell
    ).ag-cell-range-left:before {
    border-left: 2px dotted var(--agGrid-range-selection-borderColor);
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .ag-cell.ag-cell-range-selected:not(
      .ag-cell-range-single-cell
    ).ag-cell-range-right:before {
    border-right: 2px dotted var(--agGrid-range-selection-borderColor);
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .ag-cell.ag-cell-range-selected:not(
      .ag-cell-range-single-cell
    ).ag-cell-range-top:after {
    border-top: 2px dotted var(--agGrid-range-selection-borderColor);
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
  }
  .ag-cell.ag-cell-range-selected:not(
      .ag-cell-range-single-cell
    ).ag-cell-range-bottom:after {
    border-bottom: 2px dotted var(--agGrid-range-selection-borderColor);
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
  }

  .ag-cell.ag-cell-range-selected-1:not(.ag-cell-focus),
  .ag-root:not(.ag-context-menu-open)
    .ag-body-viewport:not(.ag-has-focus)
    .ag-cell-range-selected-1:not(.ag-cell-inline-editing) {
    background: var(--agGrid-range-selection-background);
  }
  .ag-cell.ag-cell-highlight {
    color: var(--agGrid-highlight-text-color);
    background: var(--salt-focused-outlineColor) !important;
  }

  /* --- Button styles --- */

  .ag-side-buttons {
    width: var(--salt-size-stackable);
  }

  .ag-standard-button {
    appearance: none;
    -webkit-appearance: none;
    background: var(--salt-actionable-secondary-background);
    border-radius: ag-param(border-radius);
    border: 1px transparent;
    cursor: pointer;
    height: var(--salt-size-base);
    font-weight: 600;
    color: var(--salt-actionable-secondary-foreground);
    text-transform: uppercase;
    font-size: var(--salt-text-fontSize);
    padding: 0 var(--salt-spacing-100);
    &:focus-visible {
      outline-style: var(--salt-focused-outlineStyle);
      outline-width: var(--salt-focused-outlineWidth);
      outline-color: var(--salt-focused-outlineColor);
      outline-offset: var(--salt-focused-outlineOffset);
      background: var(--salt-actionable-secondary-background-hover);
    }
    &:hover {
      background-color: var(--salt-actionable-secondary-background-hover);
    }
    &:active {
      color: var(--salt-actionable-secondary-foreground-active);
      background-color: var(--salt-actionable-secondary-background-active);
    }
  }

  .ag-ltr .ag-side-bar-right .ag-side-button-button {
    &:focus-visible {
      outline: 2px dotted var(--salt-focused-outlineColor);
      outline-offset: -2px;
    }
  }

  .ag-ltr .ag-side-buttons .ag-selected .ag-side-button-button {
    border-left-color: var(--salt-navigable-indicator-active);
    border-left-style: solid !important;
    font-weight: var(--salt-navigable-fontWeight-active);
  }

  button.ag-side-button-button {
    border-bottom: none;
    border-top: none;
  }

  .ag-pivot-mode-panel {
    height: var(--salt-size-stackable);
  }

  /* Checkbox for row selection styles */

  .ag-selection-checkbox {
    height: 100%;
  }

  .ag-checkbox-input-wrapper {
    height: var(--agGrid-checkbox-size);
    width: var(--agGrid-checkbox-size);
    border: var(--agGrid-checkbox-border);
    background: var(--agGrid-checkbox-background);
    border-radius: 0;

    &::after {
      line-height: 1;
      font-weight: 700;
      font-size: calc(var(--agGrid-checkbox-size) - 2px);
      color: var(--agGrid-checkbox-foreground);
    }
  }

  .ag-checkbox-input-wrapper.ag-checked {
    border-color: var(--agGrid-checkbox-borderColor-selected);
    background: var(--agGrid-checkbox-background-selected);

    &::after {
      color: var(--agGrid-checkbox-foreground-selected);
    }
  }

  /* --- Paging styles --- */

  .ag-paging-row-summary-panel {
    display: none;
  }

  .ag-paging-page-summary-panel {
    font-size: var(--agGrid-paging-fontSize);
    margin-top: 5px;
    color: var(--agGrid-button-color);
  }

  .ag-paging-number {
    font-weight: normal;
  }

  .ag-paging-button {
    height: var(--agGrid-paging-button-width);
    width: var(--agGrid-paging-button-width);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: var(--agGrid-paging-fontSize);
    & .ag-icon {
      color: var(--agGrid-pagination-button-color);
    }
    &:hover {
      background-color: var(--agGrid-paging-button-background-hover);
    }
    &.ag-disabled {
      background-color: unset;
      cursor: not-allowed;
      & .ag-icon {
        color: var(--agGrid-pagination-button-color-disabled);
      }
    }
  }

  .ag-keyboard-focus .ag-paging-button:focus::after {
    outline: dotted 2px var(--agGrid-color-focus);
    outline-offset: -2px;
    border: none;
  }

  /* --- Floating filter styles --- */

  .ag-input-field-input {
    border: 0;
  }

  .ag-floating-filter {
    border: var(--salt-size-border) var(--salt-editable-borderStyle)
      var(--salt-separable-tertiary-borderColor);
  }

  .ag-ltr .ag-floating-filter-button {
    margin: 0;
    padding-left: var(--salt-spacing-100);
    padding-right: var(--salt-spacing-100);
  }

  .ag-floating-filter-button-button .ag-icon-filter:before {
    color: var(--salt-content-secondary-foreground);
    content: "\e9ac";
  }

  .ag-floating-filter-input {
    color: var(--salt-content-secondary-foreground);
    padding-left: var(--salt-spacing-100);
  }

  .ag-header-cell.ag-floating-filter {
    padding-left: 0;
    padding-right: 1px;
  }

  .ag-header-cell.ag-floating-filter:after {
    content: none;
  }

  .ag-header-cell.ag-floating-filter:focus-within {
    outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle)
      var(--salt-focused-outlineColor);
    outline-offset: -2px;
  }

  /* We have to fake a border (below) to ensure alignment */
  .ag-pinned-right-header .ag-floating-filter {
    border-left: 0px;
  }

  .ag-pinned-right-header .ag-floating-filter:after {
    background-color: var(--salt-separable-tertiary-borderColor);
    content: "";
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0px;
    width: 1px;
    z-index: 1;
  }

  /* Allows for the above :after to be seen */
  .ag-header-row-column-filter,
  .ag-header-cell.ag-floating-filter,
  .ag-pinned-right-header .ag-header-row {
    overflow: unset;
  }

  /*
    * This react-container class is added as a wrapper for custom components.
    * Adding styling for these components added in the status and tool bars.
    */
  .ag-status-bar .ag-react-container,
  .ag-floating-filter .ag-react-container {
    display: flex;
    align-items: center;
  }
  .ag-tool-panel-wrapper .ag-react-container {
    width: 100%;
  }
}
