$icons: (
  aggregation: "\e974",
  arrows: "\e970",
  asc: "\e940",
  cancel: "\e90e",
  chart: "\e904",
  columns: "\e910",
  contracted: "\e91b",
  copy: "\e90d",
  cross: "\e90e",
  cut: "\e96d",
  csv: "\e915",
  desc: "\e93f",
  excel: "\e91a",
  expanded: "\e950",
  eye-slash: "\e966",
  eye: "\e965",
  filter: "\e922",
  first: "\e934",
  last: "\e951",
  left: "\e933",
  linked: "\e935",
  loading: "\e96f",
  menu: "\e969",
  next: "\e950",
  none: "\e971",
  not-allowed: "\e90e",
  paste: "\e946",
  pin: "\e944",
  pivot: "\e979",
  previous: "\e933",
  right: "\e950",
  save: "\e953",
  small-down: "\e91b",
  small-left: "\e981",
  small-right: "\e980",
  small-up: "\e982",
  tick: "\e95b",
  tree-closed: "\e950",
  tree-open: "\e91b",
  unlinked: "\e95e",
);

@font-face {
  font-family: "jpmuitk-icons";
  src: url("../fonts/jpmuitk-icons.woff") format("woff");
}

@each $name, $glyph in $icons {
  [class^="ag-theme-uitk"] .ag-icon-#{$name} {
    font-family: "jpmuitk-icons";
  }

  [class^="ag-theme-uitk"] .ag-icon-#{$name}::before {
    content: $glyph;
  }
}

[class^="ag-theme-uitk"] .ag-checkbox-input-wrapper::after {
  font-family: "jpmuitk-icons";
  content: "";
}

[class^="ag-theme-uitk"] .ag-checkbox-input-wrapper.ag-checked::after {
  content: "\e95b";
}

[class^="ag-theme-uitk"] .ag-checkbox-input-wrapper.ag-indeterminate::after {
  content: "\e94e";
}
