@import "./odyssey-ag-theme-mixin";

div[class*="ag-theme-odyssey"] {
  --agGrid-background: var(
    --uitkAgGrid-background,
    var(--uitk-container-primary-background)
  );
  --agGrid-foreground: var(
    --uitkAgGrid-foreground,
    var(--uitk-text-primary-foreground)
  );
  --agGrid-foreground-disabled: var(
    --uitkAgGrid-foreground-disabled,
    var(--uitk-text-primary-foreground-disabled)
  );

  --agGrid-menu-color: var(
    --uitkAgGrid-menu-color,
    var(--uitk-text-primary-foreground)
  );

  --agGrid-row-color-hover: var(
    --uitkAgGrid-row-color-hover,
    var(--uitk-selectable-background-hover)
  );

  --agGrid-color-focus: var(
    --uitkAgGrid-color-focus,
    var(--uitk-focused-outlineColor)
  );
}

.ag-theme-odyssey-high-light,
.ag-theme-odyssey-medium-light,
.ag-theme-odyssey-low-light,
.ag-theme-odyssey-touch-light {
  --agGrid-header-foreground: var(
    --uitkAgGrid-header-foreground,
    var(--uitk-container-background-medium)
  );
  --agGrid-row-background-selected: var(
    --uitkAgGrid-row-background-selected,
    var(--uitk-selectable-background-selected)
  );
  --agGrid-row-borderColor-selected: var(
    --uitkAgGrid-row-borderColor-selected,
    var(--uitk-selectable-borderColor-selected)
  );
  --agGrid-row-borderColor: var(
    --uitkAgGrid-row-borderColor,
    var(--uitk-separable-tertiary-borderColor)
  );
  --agGrid-header-column-separator-color: var(
    --uitkAgGrid-header-column-separator-color,
    var(--uitk-separable-tertiary-borderColor)
  );
  --agGrid-cell-borderColor-editable: var(
    --uitkAgGrid-cell-borderColor-editable,
    var(--uitk-editable-borderColor)
  );

  --agGrid-borderColor: var(
    --uitkAgGrid-borderColor,
    var(--separable-tertiary-borderColor)
  );

  --agGrid-tab-borderColor-active: var(
    --uitkAgGrid-tab-borderColor-active,
    #e06519
  );

  --agGrid-button-color: var(--uitkAgGrid-button-color, #161616);
  --agGrid-button-background-hover: var(
    --uitkAgGrid-button-background-hover,
    #d9dde3
  );

  --agGrid-toggle-background-checked: var(
    --uitkAgGrid-toggle-background-checked,
    #2670a9
  );
  --agGrid-header-icon-color: var(--uitkAgGrid-header-icon-color, #61656e);
  --agGrid-menu-header-icon-color: var(
    --uitkAgGrid-menu-header-icon-color,
    #61656e
  );
  --agGrid-icon-color: var(--uitkAgGrid-icon-color, #61656e);
  --agGrid-menu-option-color-hover: var(
    --uitkAgGrid-menu-option-color-hover,
    #f2f4f6
  );
  --agGrid-side-buttons-background: var(
    --uitkAgGrid-side-buttons-background,
    #f2f4f6
  );
  --agGrid-toggle-button-background: var(
    --uitkAgGrid-toggle-button-background,
    var(--uitk-selectable-borderColor)
  );
  --agGrid-filter-borderColor: var(--uitkAgGrid-filter-borderColor, #eaedef);
  --agGrid-filter-apply-button-color: var(
    --uitkAgGrid-filter-apply-button-color,
    #242526
  );
  --agGrid-list-item-color-hover: var(
    --uitkAgGrid-list-item-color-hover,
    var(--uitk-color-blue-10)
  );

  --agGrid-column-drop-cell-horizontal-background: var(
    --uitkAgGrid-column-drop-cell-horizontal-background,
    #eaedef
  );
  --agGrid-pagination-button-color: var(
    --uitkAgGrid-pagination-button-color,
    #4c505b
  );
  --agGrid-pagination-button-color-disabled: var(
    --uitkAgGrid-pagination-button-color-disabled,
    rgba(22, 22, 22, 0.4)
  );

  --agGrid-placeholder-color: var(--uitkAgGrid-placeholder-color, #61656e);
  --agGrid-ghost-icon-color: var(
    --uitkAgGrid-ghost-icon-color,
    rgba(0, 0, 0, 0.87)
  );
}

.ag-theme-odyssey-high-dark,
.ag-theme-odyssey-medium-dark,
.ag-theme-odyssey-low-dark,
.ag-theme-odyssey-touch-dark {
  --agGrid-header-foreground: var(--uitkAgGrid-header-foreground, white);
  --agGrid-row-background-selected: var(
    --uitkAgGrid-row-background-selected,
    var(--uitk-color-blue-800)
  );
  --agGrid-row-borderColor: var(
    --uitkAgGrid-row-borderColor,
    rgba(255, 255, 255, 0.1)
  );
  --agGrid-header-column-separator-color: var(
    --uitkAgGrid-header-column-separator-color,
    white
  );
  --agGrid-cell-borderColor-editable: var(
    --uitkAgGrid-cell-borderColor-editable,
    #74777f
  );

  --agGrid-row-shadow-hover: var(
    --uitkAgGrid-row-shadow-hover,
    0 2px 5px 0 #24252633,
    0 -1px 0 0 #b4b7be
  );
  --agGrid-row-borderColor-selected: var(
    --uitkAgGrid-row-borderColor-selected,
    #2d81bd
  );

  --agGrid-borderColor: var(--uitkAgGrid-borderColor, #e2e2e2);
  --agGrid-tab-borderColor-active: var(
    --uitkAgGrid-tab-borderColor-active,
    #e06519
  );

  --agGrid-button-color: var(--uitkAgGrid-button-color, white);
  --agGrid-button-background-hover: var(
    --uitkAgGrid-button-background-hover,
    #d9dde3
  );

  --agGrid-toggle-background-checked: var(
    --uitkAgGrid-toggle-background-checked,
    var(--uitk-selectable-borderColor-selected)
  );
  --agGrid-header-icon-color: var(--uitkAgGrid-header-icon-color, white);
  --agGrid-menu-header-icon-color: var(
    --uitkAgGrid-menu-header-icon-color,
    white
  );
  --agGrid-icon-color: var(--uitkAgGrid-icon-color, white);
  --agGrid-menu-option-color-hover: var(
    --uitkAgGrid-menu-option-color-hover,
    #2f3136
  );
  --agGrid-side-buttons-background: var(
    --uitkAgGrid-side-buttons-background,
    #2f3136
  );
  --agGrid-toggle-button-background: var(
    --uitkAgGrid-toggle-button-background,
    #84878e
  );

  --agGrid-filter-borderColor: var(--uitkAgGrid-filter-borderColor, #44484f);
  --agGrid-filter-apply-button-color: var(
    --uitkAgGrid-filter-apply-button-color,
    #eaedef
  );
  --agGrid-list-item-color-hover: var(
    --uitkAgGrid-list-item-color-hover,
    var(--uitk-color-blue-900)
  );

  --agGrid-column-drop-cell-horizontal-background: var(
    --uitkAgGrid-column-drop-cell-horizontal-background,
    #3b3f46
  );
  --agGrid-pagination-button-color: var(
    --uitkAgGrid-pagination-button-color,
    #c5c9d0
  );
  --agGrid-pagination-button-color-disabled: var(
    --uitkAgGrid-pagination-button-color-disabled,
    rgba(255, 255, 255, 0.4)
  );

  --agGrid-placeholder-color: var(--uitkAgGrid-placeholder-color, white);
  --agGrid-ghost-icon-color: var(
    --uitkAgGrid-ghost-icon-color,
    rgba(0, 0, 0, 0.87)
  );
}

$ag-theme-odyssey-params-dark: (
  foreground-color: white,
  background-color: #242526,
);

$ag-theme-odyssey-params-light: (
  foreground-color: #2a2c2f,
  background-color: white,
);

$ag-theme-odyssey-params-high: map-merge(
  $odyssey-ag-theme-default-params,
  (
    row-height: 24px,
    header-height: 24,
    font-size: 11px,
    header-column-separator-height: 10px,
    cell-horizontal-padding: 8px,
    list-item-height: 24px,
    icon-size: 12px,
  )
);

$ag-theme-odyssey-params-high-light: map-merge(
  $ag-theme-odyssey-params-high,
  $ag-theme-odyssey-params-light
);

$ag-theme-odyssey-params-high-dark: map-merge(
  $ag-theme-odyssey-params-high,
  $ag-theme-odyssey-params-dark
);

$ag-theme-odyssey-params-medium: map-merge(
  $odyssey-ag-theme-default-params,
  (
    row-height: 36px,
    header-height: 36,
    font-size: 12px,
    header-column-separator-height: 10px,
    cell-horizontal-padding: 8px,
    list-item-height: 36px,
    icon-size: 12px,
  )
);

$ag-theme-odyssey-params-medium-light: map-merge(
  $ag-theme-odyssey-params-medium,
  $ag-theme-odyssey-params-light
);

$ag-theme-odyssey-params-medium-dark: map-merge(
  $ag-theme-odyssey-params-medium,
  $ag-theme-odyssey-params-dark
);

$ag-theme-odyssey-params-low: map-merge(
  $odyssey-ag-theme-default-params,
  (
    row-height: 48px,
    header-height: 48,
    font-size: 14px,
    header-column-separator-height: 10px,
    cell-horizontal-padding: 12px,
    list-item-height: 48px,
    icon-size: 12px,
  )
);

$ag-theme-odyssey-params-low-light: map-merge(
  $ag-theme-odyssey-params-low,
  $ag-theme-odyssey-params-light
);

$ag-theme-odyssey-params-low-dark: map-merge(
  $ag-theme-odyssey-params-low,
  $ag-theme-odyssey-params-dark
);

$ag-theme-odyssey-params-touch: map-merge(
  $odyssey-ag-theme-default-params,
  (
    row-height: 60px,
    header-height: 60,
    font-size: 16px,
    header-column-separator-height: 10px,
    cell-horizontal-padding: 16px,
    list-item-height: 60px,
    icon-size: 12px,
  )
);

$ag-theme-odyssey-params-touch-light: map-merge(
  $ag-theme-odyssey-params-touch,
  $ag-theme-odyssey-params-light
);

$ag-theme-odyssey-params-touch-dark: map-merge(
  $ag-theme-odyssey-params-touch,
  $ag-theme-odyssey-params-dark
);

.ag-theme-odyssey-high-dark,
.ag-theme-odyssey-high-light {
  --agGrid-checkbox-size: var(--uitkAgGrid-checkbox-size, 12px);
  --agGrid-input-padding: var(--uitkAgGrid-input-padding, 4px);
  --agGrid-input-height: var(--uitkAgGrid-input-height, 20px);
  --agGrid-input-fontSize: var(--uitkAgGrid-input-fontSize, 10px);

  --agGrid-button-fontSize: var(--uitkAgGrid-button-fontSize, 11px);
  --agGrid-button-height: var(--uitkAgGrid-button-height, 20px);
  --agGrid-button-padding: var(--uitkAgGrid-button-padding, 4px);

  --agGrid-list-item-fontSize: var(--uitkAgGrid-list-item-fontSize, 13px);

  --agGrid-switch-height: var(--uitkAgGrid-switch-height, 16px);
  --agGrid-switch-borderWidth: var(--uitkAgGrid-switch-borderWidth, 2px);

  --agGrid-header-fontSize: var(--uitkAgGrid-header-fontSize, 10px);

  --agGrid-paging-button-width: var(--uitkAgGrid-paging-button-width, 20px);
  --agGrid-paging-fontSize: var(--uitkAgGrid-paging-fontSize, 11px);

  --agGrid-editableCell-cornerTag-size-default: 10px;
}

.ag-theme-odyssey-high-dark {
  @include ag-theme-odyssey($ag-theme-odyssey-params-high-dark);
}

.ag-theme-odyssey-high-light {
  @include ag-theme-odyssey($ag-theme-odyssey-params-high-light);
}

.ag-theme-odyssey-medium-dark,
.ag-theme-odyssey-medium-light {
  --agGrid-checkbox-size: var(--uitkAgGrid-checkbox-size, 14px);
  --agGrid-input-padding: var(--uitkAgGrid-input-padding, 8px);
  --agGrid-input-height: var(--uitkAgGrid-input-height, 28px);
  --agGrid-input-fontSize: var(--uitkAgGrid-input-fontSize, 12px);

  --agGrid-button-fontSize: var(--uitkAgGrid-button-fontSize, 12px);
  --agGrid-button-height: var(--uitkAgGrid-button-height, 28px);
  --agGrid-button-padding: var(--uitkAgGrid-button-padding, 8px);

  --agGrid-list-item-fontSize: var(--uitkAgGrid-list-item-fontSize, 13px);

  --agGrid-switch-height: var(--uitkAgGrid-switch-height, 18px);
  --agGrid-switch-borderWidth: var(--uitkAgGrid-switch-borderWidth, 2px);

  --agGrid-header-fontSize: var(--uitkAgGrid-header-fontSize, 11px);
  --agGrid-paging-button-width: var(--uitkAgGrid-paging-button-width, 28px);
  --agGrid-paging-fontSize: var(--uitkAgGrid-paging-fontSize, 12px);

  --agGrid-editableCell-cornerTag-size-default: 12px;
}

.ag-theme-odyssey-medium-dark {
  @include ag-theme-odyssey($ag-theme-odyssey-params-medium-dark);
}

.ag-theme-odyssey-medium-light {
  @include ag-theme-odyssey($ag-theme-odyssey-params-medium-light);
}

.ag-theme-odyssey-low-dark,
.ag-theme-odyssey-low-light {
  --agGrid-checkbox-size: var(--uitkAgGrid-checkbox-size, 16px);
  --agGrid-input-padding: var(--uitkAgGrid-input-padding, 12px);
  --agGrid-input-height: var(--uitkAgGrid-input-height, 36px);
  --agGrid-input-fontSize: var(--uitkAgGrid-input-fontSize, 14px);

  --agGrid-button-fontSize: var(--uitkAgGrid-button-fontSize, 14px);
  --agGrid-button-height: var(--uitkAgGrid-button-height, 36px);
  --agGrid-button-padding: var(--uitkAgGrid-button-padding, 12px);

  --agGrid-list-item-fontSize: var(--uitkAgGrid-list-item-fontSize, 13px);

  --agGrid-switch-height: var(--uitkAgGrid-switch-height, 20px);
  --agGrid-switch-borderWidth: var(--uitkAgGrid-switch-borderWidth, 2px);

  --agGrid-header-fontSize: var(--uitkAgGrid-header-fontSize, 12px);
  --agGrid-paging-button-width: var(--uitkAgGrid-paging-button-width, 36px);
  --agGrid-paging-fontSize: var(--uitkAgGrid-paging-fontSize, 14px);

  --agGrid-editableCell-cornerTag-size-default: 14px;
}

.ag-theme-odyssey-low-dark {
  @include ag-theme-odyssey($ag-theme-odyssey-params-low-dark);
}

.ag-theme-odyssey-low-light {
  @include ag-theme-odyssey($ag-theme-odyssey-params-low-light);
}

.ag-theme-odyssey-touch-dark,
.ag-theme-odyssey-touch-light {
  --agGrid-checkbox-size: var(--uitkAgGrid-checkbox-size, 18px);
  --agGrid-input-padding: var(--uitkAgGrid-input-padding, 8px);
  --agGrid-input-height: var(--uitkAgGrid-input-height, 28px);
  --agGrid-input-fontSize: var(--uitkAgGrid-input-fontSize, 14px);

  --agGrid-button-fontSize: var(--uitkAgGrid-button-fontSize, 16px);
  --agGrid-button-height: var(--uitkAgGrid-button-height, 44px);
  --agGrid-button-padding: var(--uitkAgGrid-button-padding, 14px);

  --agGrid-list-item-fontSize: var(--uitkAgGrid-list-item-fontSize, 13px);

  --agGrid-switch-height: var(--uitkAgGrid-switch-height, 24px);
  --agGrid-switch-borderWidth: var(--uitkAgGrid-switch-borderWidth, 3px);

  --agGrid-header-fontSize: var(--uitkAgGrid-header-fontSize, 14px);
  --agGrid-paging-button-width: var(--uitkAgGrid-paging-button-width, 44px);
  --agGrid-paging-fontSize: var(--uitkAgGrid-paging-fontSize, 16px);

  --agGrid-editableCell-cornerTag-size-default: 16px;
}

.ag-theme-odyssey-touch-light {
  @include ag-theme-odyssey($ag-theme-odyssey-params-touch-light);
}

.ag-theme-odyssey-touch-dark {
  @include ag-theme-odyssey($ag-theme-odyssey-params-touch-dark);
}

.ag-theme-odyssey-touch-dark,
.ag-theme-odyssey-touch-light,
.ag-theme-odyssey-low-dark,
.ag-theme-odyssey-low-light,
.ag-theme-odyssey-medium-dark,
.ag-theme-odyssey-medium-light,
.ag-theme-odyssey-high-dark,
.ag-theme-odyssey-high-light {
  --agGrid-checkbox-background: var(
    --uitkAgGrid-checkbox-background,
    var(--uitk-selectable-background)
  );
  --agGrid-checkbox-background-selected: var(
    --uitkAgGrid-checkbox-background-selected,
    var(--uitk-selectable-borderColor-selected)
  );
  --agGrid-checkbox-foreground: var(
    --uitkAgGrid-checkbox-foreground,
    var(--uitk-selectable-foreground)
  );
  --agGrid-checkbox-foreground-selected: var(
    --uitkAgGrid-checkbox-foreground-selected,
    var(--uitk-selectable-primary-foreground-selected)
  );
  --_agGrid-checkbox-border: 1px var(--uitk-selectable-borderStyle)
    var(--uitk-selectable-borderColor);
  --agGrid-checkbox-border: var(
    --uitkAgGrid-checkbox-border,
    var(--_agGrid-checkbox-border)
  );
  --agGrid-checkbox-borderColor-selected: var(
    --uitkAgGrid-checkbox-borderColor-selected,
    var(--uitk-selectable-borderColor-selected)
  );
  --agGrid-list-item-height: var(
    --uitkAgGrid-list-item-height,
    var(--uitk-size-stackable)
  );
  --agGrid-paging-button-background-hover: var(
    --uitk-actionable-secondary-background-hover
  );
  --agGrid-editableCell-cornerTag-size: var(
    --uitkAgGrid-editableCell-cornerTag-size,
    var(--agGrid-editableCell-cornerTag-size-default)
  );
  --agGrid-cursor-borderColor: var(
    --uitkGrid-cursor-borderColor,
    var(--uitk-focused-outlineColor)
  );
}
