@font-face {
  font-family: "salt-icons";
  src: url(../fonts/salt-icons.woff) format("woff");
}

[class*="ag-theme-salt"] {
  --ag-icon-image-display: none;

  --ag-icon-font-family: "salt-icons";

  --ag-icon-font-code-aggregation: "e900";
  --ag-icon-font-code-arrows: "e901";
  --ag-icon-font-code-asc: "e902";
  --ag-icon-font-code-cancel: "e903";
  --ag-icon-font-code-chart: "e904";
  --ag-icon-font-code-checkbox-checked: "e905";
  --ag-icon-font-code-checkbox-indeterminate: "e906";
  --ag-icon-font-code-checkbox-unchecked: "e907";
  --ag-icon-font-code-color-picker: "e908";
  --ag-icon-font-code-columns: "e909";
  --ag-icon-font-code-contracted: "e90a";
  --ag-icon-font-code-copy: "e90b";
  --ag-icon-font-code-cross: "e90c";
  --ag-icon-font-code-csv: "e90d";
  --ag-icon-font-code-cut: "e90e";
  --ag-icon-font-code-desc: "e90f";
  --ag-icon-font-code-down: "e910";
  --ag-icon-font-code-excel: "e911";
  --ag-icon-font-code-expanded: "e912";
  --ag-icon-font-code-eye-slash: "e913";
  --ag-icon-font-code-eye: "e914";
  --ag-icon-font-code-filter-clear: "e915"; /* Backwards compactibility, not longer in latest ag grid icon set */
  --ag-icon-font-code-filter: "e915";
  --ag-icon-font-code-filter-filled: "e916"; /* Salt specific icon */
  --ag-icon-font-code-first: "e917";
  --ag-icon-font-code-grip: "e918";
  --ag-icon-font-code-group: "e919";
  --ag-icon-font-code-last: "e91a";
  --ag-icon-font-code-left: "e91b";
  --ag-icon-font-code-linked: "e91c";
  --ag-icon-font-code-loading: "e91d";
  --ag-icon-font-code-maximize: "e91e";
  --ag-icon-font-code-menu-alt: "e91f";
  --ag-icon-font-code-menu: "e920";
  --ag-icon-font-code-minimize: "e921";
  --ag-icon-font-code-minus: "e922";
  --ag-icon-font-code-next: "e923";
  --ag-icon-font-code-none: "e924";
  --ag-icon-font-code-not-allowed: "e925";
  --ag-icon-font-code-paste: "e926";
  --ag-icon-font-code-pin: "e927";
  --ag-icon-font-code-pivot: "e928";
  --ag-icon-font-code-plus: "e929";
  --ag-icon-font-code-previous: "e92a";
  --ag-icon-font-code-radio-button-off: "e92b";
  --ag-icon-font-code-radio-button-on: "e92c";
  --ag-icon-font-code-right: "e92d";
  --ag-icon-font-code-save: "e92e";
  --ag-icon-font-code-small-down: "e92f";
  --ag-icon-font-code-small-left: "e930";
  --ag-icon-font-code-small-right: "e931";
  --ag-icon-font-code-small-up: "e932";
  --ag-icon-font-code-tick: "e933";
  --ag-icon-font-code-tree-closed: "e934";
  --ag-icon-font-code-tree-indeterminate: "e935";
  --ag-icon-font-code-tree-open: "e936";
  --ag-icon-font-code-unlinked: "e937";
  --ag-icon-font-code-up: "e938";
}
