@use "~ag-grid-community/styles" as ag;
@include ag.grid-styles(
  (
    themes: (
      ag-theme-salt-light: (
        background-color: #fff,
        checkbox-indeterminate-color: var(--salt-color-gray-700),
        extend-theme: material,
        foreground-color: #2a2c2f,
        subheader-background-color: #fff,
      ),
      ag-theme-salt-dark: (
        background-color: #242526,
        border-color: rgba(255, 255, 255, 0.15),
        checkbox-unchecked-color: var(--salt-text-primary-foreground),
        extend-theme: material,
        foreground-color: #fff,
        subheader-background-color: #242526,
      ),
      ag-theme-salt-compact-light: (
        checkbox-indeterminate-color: var(--salt-color-gray-700),
        extend-theme: material,
        font-size: 11px,
        foreground-color: #2a2c2f,
        subheader-background-color: #fff,
      ),
      ag-theme-salt-compact-dark: (
        background-color: #242526,
        border-color: rgba(255, 255, 255, 0.15),
        checkbox-unchecked-color: var(--salt-text-primary-foreground),
        extend-theme: material,
        font-size: 11px,
        foreground-color: #fff,
        subheader-background-color: #242526,
      ),
    ),
    // background-color:var(--salt-palette-neutral-primary-background),
    borders-secondary: 1px solid,
    cell-horizontal-padding: var(--salt-spacing-100),
    checkbox-checked-color: var(--salt-selectable-primary-foreground-selected),
    checkbox-border-radius: 0,
    chip-background-color: var(--salt-taggable-background),
    data-color: var(--salt-text-primary-foreground),
    font-size: var(--salt-text-fontSize),
    font-family: var(--salt-typography-fontFamily),
    grid-size: var(--salt-spacing-50),
    header-background-color: var(--salt-container-primary-background),
    header-cell-hover-background-color: var(--salt-container-primary-background),
    header-column-separator-color:
      var(--salt-palette-neutral-secondary-separator),
    header-column-separator-display: block,
    header-column-separator-height: var(--salt-text-fontSize),
    header-column-separator-width: 1px,
    header-foreground-color: var(--salt-text-primary-foreground),
    icon-size: var(--salt-icon-size-base),
    input-focus-box-shadow: none,
    list-item-height: var(--salt-size-base),
    material-primary-color: var(--salt-editable-borderColor),
    range-selection-border-style: var(--salt-focused-outlineStyle),
    range-selection-border-width: var(--salt-focused-outlineWidth),
    row-group-indent-size:
      calc(var(--ag-grid-size) * 3 + var(--salt-spacing-100)),
    row-hover-color: var(--salt-selectable-background-hover),
    secondary-border-color: var(--salt-palette-neutral-tertiary-separator),
    secondary-foreground-color: var(--salt-text-primary-foreground),
    selected-row-background-color: var(--salt-selectable-background-selected),
    selected-tab-underline-color: var(--salt-navigable-indicator-active),
    widget-container-horizontal-padding: var(--salt-spacing-100),
  )
);

div[class*="ag-theme-salt"] {
  .ag-root-wrapper {
    border: none;
  }

  .ag-header-row {
    color: var(--salt-text-primary-foreground);
    font-size: var(--salt-text-label-fontSize);
    font-weight: var(--salt-typography-fontWeight-semiBold);
  }

  .ag-advanced-filter-header,
  .ag-header {
    border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle)
      var(--salt-separable-primary-borderColor);
  }

  .ag-header-row:not(:first-child)
    .ag-header-cell:not(.ag-header-span-height.ag-header-span-total) {
    border-top-color: var(--salt-palette-neutral-primary-border);
  }

  .ag-header-row:not(:first-child)
    .ag-header-cell:not(.ag-header-span-height.ag-header-span-total):focus,
  .ag-header-row:not(:first-child)
    .ag-header-group-cell.ag-header-group-cell-with-group:focus {
    border: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle)
      var(--salt-focused-outlineColor);
  }

  .ag-menu {
    padding: var(--salt-spacing-100);
    border: 1px solid var(--salt-palette-neutral-primary-border);
  }

  .ag-menu-header {
    border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle)
      var(--salt-palette-neutral-primary-border);
    background-color: var(--salt-container-primary-background);
  }

  .ag-menu-separator {
    height: 1px;
  }

  .ag-menu-list {
    padding: 0;
  }

  .ag-menu-option {
    height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  }

  .ag-ltr .ag-menu-option-icon {
    padding: 0 var(--salt-spacing-100);
  }

  .ag-menu-option-text {
    padding: 0 var(--salt-spacing-100);
  }

  .ag-tabs-body {
    padding: 0;
  }

  .ag-tab {
    height: var(--salt-size-stackable);
  }

  .ag-column-select-header {
    border: none;
  }

  .ag-column-select-virtual-list-item {
    padding: var(--salt-spacing-50) var(--salt-spacing-100);
  }

  .ag-row {
    font-size: var(--salt-text-fontSize);
  }

  .ag-row-selected {
    background-color: var(--ag-selected-row-background-color);
    border-color: var(--salt-selectable-borderColor-selected);
  }

  .ag-row-selected:before {
    background-color: var(--salt-selectable-borderColor-selected);
    background-image: none;
    height: var(--salt-size-border);
    top: -1px;
  }

  .ag-pinned-left-header {
    border-right-color: var(--salt-separable-secondary-borderColor);
  }
  .ag-pinned-right-header {
    border-left-color: var(--salt-separable-secondary-borderColor);
  }

  .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(
      .ag-cell-range-single-cell
    ) {
    border-right-color: var(--salt-separable-secondary-borderColor);
  }

  // CELL

  .ag-ltr .ag-cell {
    border: none;
    line-height: calc(var(--ag-line-height) - 1px);
    padding-left: var(--salt-spacing-100);
    padding-right: var(--salt-spacing-100);
    display: flex;
    align-items: center;
  }

  .ag-ltr,
  .ag-rtl {
    .ag-cell.editable-cell,
    .editable-numeric-cell {
      border: var(--salt-size-border) var(--salt-container-borderStyle)
        var(--salt-editable-borderColor);
      justify-content: flex-end;
    }
    .ag-cell.numeric-cell {
      justify-content: flex-end;
    }
    .ag-has-focus .ag-cell.editable-cell:focus,
    .ag-has-focus .editable-numeric-cell:focus {
      border: var(--salt-size-border) var(--salt-container-borderStyle)
        transparent;
    }
    .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected),
    .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
    .ag-cell-range-single-cell,
    .ag-cell-range-single-cell.ag-cell-range-handle,
    .ag-cell-focus:not(.ag-cell-range-selected):focus-within {
      outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle)
        var(--salt-focused-outlineColor);
      outline-offset: -2px;
      border: none;
    }
  }

  .ag-cell-wrapper.ag-row-group {
    align-items: center;
  }

  .ag-cell.editable-cell.ag-cell-focus:focus,
  .editable-numeric-cell.ag-cell-focus:focus {
    clip-path: inset(0, 0);
    overflow: visible;
  }

  .ag-cell.editable-cell.ag-cell-focus:focus:before,
  .ag-cell.editable-numeric-cell.ag-cell-focus:focus:before {
    border-bottom: calc(var(--salt-size-adornment) + 4px) solid transparent;
    border-left: calc(var(--salt-size-adornment) + 4px) solid
      var(--salt-focused-outlineColor);
    border-top: 0 solid transparent;
    content: "";
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 2;
  }

  .ag-cell.editable-cell,
  .editable-numeric-cell {
    input[class^="ag-"][type="text"] {
      border: var(--salt-size-border) var(--salt-editable-borderStyle)
        transparent;
      padding: 0;
      height: calc(var(--salt-size-base) + var(--salt-spacing-100));
    }

    input[class^="ag-"][type="text"]:focus {
      border: none;
    }
  }

  // INPUT

  .ag-filter,
  .ag-column-select {
    input[class^="ag-"][type="text"],
    input[class^="ag-"][type="number"] {
      border-bottom: var(--salt-size-border) var(--salt-editable-borderStyle)
        var(--salt-editable-borderColor);
      height: calc(var(--salt-size-base) + var(--salt-spacing-100));
      padding: 0 var(--salt-spacing-100);
      &::placeholder {
        color: var(--salt-text-secondary-foreground);
        opacity: 1;
      }
      &:focus {
        outline: var(--salt-focused-outlineWidth)
          var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
        outline-offset: -2px;
      }
    }
  }

  .ag-floating-filter-input {
    input[class^="ag-"][type="text"],
    input[class^="ag-"][type="number"] {
      border: none;
    }
  }

  // HEADERS

  .ag-column-select-header {
    height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  }

  // CHECKBOX

  .ag-checkbox-input-wrapper {
    border: var(--salt-size-border) var(--salt-selectable-borderStyle)
      var(--salt-selectable-borderColor);
    height: var(--salt-size-selectable);
    width: var(--salt-size-selectable);
  }

  .ag-checkbox-input-wrapper.ag-checked {
    background: var(--salt-selectable-borderColor-selected);
    border-color: var(--salt-selectable-borderColor-selected);
  }

  // BUTTON

  .ag-standard-button {
    background: var(--salt-actionable-secondary-background);
    color: var(--salt-actionable-secondary-foreground);
    font-size: var(--salt-text-fontSize);
    font-weight: 600;
    height: var(--salt-size-base);
    padding: 0 var(--salt-spacing-100);
    &:hover {
      background-color: var(--salt-actionable-secondary-background-hover);
    }
  }

  .ag-ltr .ag-filter-apply-panel-button {
    margin-left: 8px;
  }

  .ag-floating-filter {
    border: var(--salt-size-border) var(--salt-editable-borderStyle)
      var(--salt-separable-tertiary-borderColor);
    &:focus-within {
      outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle)
        var(--salt-focused-outlineColor);
      outline-offset: -2px;
    }
  }

  .ag-floating-filter:after {
    width: 0;
  }

  .ag-keyboard-focus .ag-header-cell:focus:after {
    border: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle)
      var(--salt-focused-outlineColor);
  }

  .ag-floating-filter-button-button .ag-icon-filter:before {
    color: var(--salt-text-secondary-foreground);
    content: "\e9ac";
  }

  .ag-icon-filter:before {
    color: var(--salt-text-secondary-foreground);
  }

  .ag-ltr .ag-floating-filter-button {
    margin-left: var(--salt-spacing-100);
  }

  button[class^="ag-"]:focus,
  input[class^="ag-"][type="button"]:focus {
    box-shadow: none;
    border: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle)
      var(--salt-focused-outlineColor);
  }

  .ag-select .ag-picker-field-wrapper {
    border: 1px solid var(--salt-palette-neutral-primary-border);
    border-radius: 0;
  }

  .ag-select .ag-picker-field-icon {
    margin-right: var(--salt-spacing-100);
  }

  .ag-menu .ag-filter-body-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin-top: var(--salt-spacing-100);
  }

  .ag-menu .ag-menu-column-select-wrapper {
    margin-top: var(--salt-spacing-100);
  }

  .ag-simple-filter-body-wrapper > * {
    margin-bottom: var(--salt-spacing-100);
  }

  .ag-mini-filter {
    margin: 0;
    padding-left: var(--salt-spacing-50);
    padding-right: var(--salt-spacing-50);
  }

  .ag-set-filter-item {
    margin: 0;
    padding-left: var(--salt-spacing-100);
    padding-right: var(--salt-spacing-100);
  }

  .ag-status-bar {
    border: none;
    border-top: var(--salt-size-border) var(--salt-separable-borderStyle)
      var(--salt-palette-neutral-primary-border);
    color: var(--salt-text-secondary-foreground);
    font-size: var(--salt-text-fontSize);
    font-weight: var(--salt-text-label-fontWeight);
    line-height: var(--salt-text-label-lineHeight);
    height: var(--salt-size-base);
    padding: 0 var(--salt-spacing-100);
  }
  .ag-status-name-value {
    padding: var(--salt-spacing-100) 0;
    margin: 0 var(--salt-spacing-100);
  }
  .ag-status-name-value-value {
    font-weight: var(--salt-text-fontWeight-strong);
    color: var(--salt-text-primary-foreground);
  }

  .ag-paging-panel {
    height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  }

  .ag-floating-bottom {
    border-color: var(--salt-palette-neutral-primary-border);
  }

  .ag-column-drop-horizontal {
    border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle)
      var(--salt-palette-neutral-primary-border);
    height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  }
  .ag-column-drop-cell {
    border-radius: 0;
  }
}

.ag-theme-salt-variant-secondary {
  .ag-header {
    background-color: var(--salt-container-secondary-background);
  }
  .ag-row {
    background-color: var(--salt-container-secondary-background);
    border-color: var(--salt-palette-neutral-tertiary-separator);
  }
}

.ag-theme-salt-variant-zebra {
  .ag-row-even:not(.ag-row-hover, .ag-row-selected) {
    background-color: var(--salt-container-secondary-background);
  }
  .ag-row {
    border-color: var(--salt-palette-neutral-tertiary-separator);
  }
}

// Import is here so the custom icons are injected after the default ag-grid icons.
@import "./salt-ag-theme-icon-font";

// div[class*="ag-theme-salt-touch"] {
//   --ag-list-item-height: 60px;
//   --agGrid-padding-default: 16px;
//   --agGrid-cornerTag-size-default: 14px;
//   --agGrid-column-separator-height: 20px;
// }

// div[class*="ag-theme-salt-low"] {
//   --ag-list-item-height: 48px;
//   --agGrid-padding-default: 12px;
//   --agGrid-cornerTag-size-default: 12px;
//   --agGrid-column-separator-height: 16px;
// }

// div[class*="ag-theme-salt-medium"] {
//   --ag-list-item-height: 36px;
//   --agGrid-padding-default: 8px;
//   --agGrid-cornerTag-size-default: 10px;
//   --agGrid-column-separator-height: 12px;
// }

// div[class*="ag-theme-salt-high"] {
//   --ag-list-item-height: 24px;
//   --agGrid-padding-default: 8px;
//   --agGrid-cornerTag-size-default: 8px;
//   --agGrid-column-separator-height: 8px;
// }

// div[class*="ag-theme-salt-high-compact"] {
//   --ag-list-item-height: 20px;
//   --salt-size-base: 16px;
//   /**
//    We have to define this because in deprecated.css size-selectable is defined
//    as size-base - (1.5 * size-unit) - (0.5 * size-basis-unit))
//    which doesn't work for HDC- it has to be defined like in size.css
//    for HD as 12px rather than based on a calculation with the new size-base for HDC
//    **/

//   --salt-size-selectable: 12px;

//   --agGrid-column-separator-height: 8px;
//   --agGrid-padding-default: 8px;
//   --agGrid-cornerTag-size-default: 8px;
// }
