div[class*="ag-theme-salt"] {
  --ag-row-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  --ag-header-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  --ag-background-color: var(--salt-container-primary-background);
  --ag-border-color: var(--salt-separable-secondary-borderColor);
  --ag-borders-secondary: var(--salt-size-border) var(--salt-separable-borderStyle);
  --ag-card-radius: var(--salt-palette-corner);
  --ag-cell-horizontal-padding: var(--salt-spacing-100);
  --ag-checkbox-border-radius: 0;
  --ag-checkbox-checked-color: var(--salt-selectable-foreground-selected);
  --ag-checkbox-indeterminate-color: var(--salt-selectable-foreground);
  --ag-checkbox-unchecked-color: var(--salt-selectable-borderColor);
  --ag-chip-background-color: var(--salt-actionable-primary-background);
  --ag-data-color: var(--salt-content-primary-foreground);
  --ag-disabled-foreground-color: var(--salt-content-primary-foreground-disabled);
  --ag-font-family: var(--salt-text-fontFamily);
  --ag-font-size: var(--salt-text-fontSize);
  --ag-foreground-color: var(--salt-content-primary-foreground);
  --ag-grid-size: var(--salt-spacing-50);
  --ag-header-background-color: var(--salt-container-primary-background);
  --ag-header-cell-hover-background-color: var(--salt-container-primary-background);
  --ag-header-column-separator-color: var(--salt-separable-tertiary-borderColor);
  --ag-header-column-separator-display: block;
  --ag-header-column-separator-height: calc(var(--salt-size-base) / 2 - 2 * var(--salt-size-border));
  --ag-header-column-separator-width: var(--salt-size-border);
  --ag-header-foreground-color: var(--salt-content-secondary-foreground);
  --ag-header-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  /* Replicating min size 12px from Icon.css */
  --ag-icon-size: max(var(--salt-size-icon), 12px);
  --ag-input-focus-border-color: var(--salt-editable-borderColor-hover);
  --ag-input-focus-box-shadow: none;
  --ag-invalid-color: var(--salt-status-error-foreground-informative);
  --ag-list-item-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  --ag-material-primary-color: var(--salt-editable-borderColor);
  --ag-modal-overlay-background-color: var(--salt-overlayable-background);
  --ag-popup-shadow: var(--salt-overlayable-shadow-modal);
  --ag-range-selection-background-color: var(--salt-overlayable-rangeSelection);
  --ag-range-selection-border-style: none;
  --ag-range-selection-highlight-color: var(--salt-overlayable-background-highlight);
  --ag-row-group-indent-size: calc(var(--ag-icon-size) + var(--ag-cell-widget-spacing));
  --ag-row-hover-color: var(--salt-selectable-background-hover);
  --ag-secondary-border-color: var(--salt-separable-tertiary-borderColor);
  --ag-secondary-foreground-color: var(--salt-content-primary-foreground);
  --ag-selected-row-background-color: var(--salt-selectable-background-selected);
  --ag-selected-tab-underline-color: var(--salt-navigable-indicator-active);
  --ag-selected-tab-underline-width: var(--salt-size-indicator);
  --ag-subheader-background-color: var(--salt-container-primary-background);
  --ag-toggle-button-off-background-color: var(--salt-container-primary-background);
  --ag-toggle-button-off-border-color: var(--salt-selectable-borderColor);
  --ag-toggle-button-on-background-color: var(--salt-container-primary-background);
  --ag-toggle-button-on-border-color: var(--salt-selectable-borderColor-selected);
  --ag-toggle-button-switch-border-color: var(--salt-container-primary-background); /* Fake a border with bg color */
  --ag-toggle-button-switch-background-color: var(--salt-selectable-foreground);
  --ag-tooltip-background-color: var(--salt-container-primary-background);
  --ag-value-change-delta-down-color: var(--salt-status-negative-foreground);
  --ag-value-change-delta-up-color: var(--salt-status-positive-foreground);
  --ag-widget-container-horizontal-padding: var(--salt-spacing-100);
  /* 
    Use categorical color for below tokens when available
    --ag-advanced-filter-join-pill-color,--ag-advanced-filter-column-pill-color,--ag-advanced-filter-option-pill-color,--ag-advanced-filter-value-pill-color
   */
}

div[class*="ag-theme-salt-compact"] {
  /* 
    Ensures icon / country symbol renders correct height.
    This also means we don't need to touch `--ag-row-height`, which would impact some internal ag grid height calculation like `--ag-internal-padded-row-height` vs `--ag-internal-calculated-line-height`
   */
  --salt-size-base: 16px;
  /* This is a deprecated token, until Salt Checkbox uses a new token, temparily pin it to HD size. */
  --salt-size-selectable: 12px;
}

div[class*="ag-theme-salt"] .ag-root-wrapper {
  border: none;
}

/* HEADER */

div[class*="ag-theme-salt"] .ag-header {
  /* Header icon should be the same as text color, aka secondary color */
  --ag-icon-font-color: var(--ag-header-foreground-color);
}

div[class*="ag-theme-salt"] .ag-advanced-filter-header,
div[class*="ag-theme-salt"] .ag-header {
  border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-separable-primary-borderColor);
}

div[class*="ag-theme-salt"] .ag-header-row {
  font-size: var(--salt-text-label-fontSize);
  font-weight: var(--salt-text-label-fontWeight-strong);
}

div[class*="ag-theme-salt"] .ag-pinned-left-header {
  border-right-color: var(--salt-separable-secondary-borderColor);
}

div[class*="ag-theme-salt"] .ag-pinned-right-header {
  border-left-color: var(--salt-separable-secondary-borderColor);
}

div[class*="ag-theme-salt"] .ag-header-row:not(:first-child) .ag-header-cell:not(.ag-header-span-height.ag-header-span-total) {
  border-top-color: var(--salt-container-primary-borderColor);
}

div[class*="ag-theme-salt"] .ag-header-row:not(:first-child) .ag-header-cell:not(.ag-header-span-height.ag-header-span-total):focus,
div[class*="ag-theme-salt"] .ag-header-row:not(:first-child) .ag-header-group-cell.ag-header-group-cell-with-group:focus {
  border: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}

/** Move sort arrow towards menu icon */
div[class*="ag-theme-salt"] .ag-ltr .ag-header-cell:not(.ag-right-aligned-header) .ag-header-label-icon.ag-hidden + .ag-sort-indicator-container {
  margin-left: auto;
}

div[class*="ag-theme-salt"] .ag-ltr .ag-header-cell.ag-right-aligned-header .ag-header-label-icon.ag-hidden + .ag-sort-indicator-container {
  margin-right: auto;
}

div[class*="ag-theme-salt"] .ag-sort-indicator-container {
  align-items: center;
}

div[class*="ag-theme-salt"] .ag-ltr .ag-header-cell.ag-right-aligned-header .ag-sort-indicator-icon {
  padding-left: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-ltr .ag-header-cell:not(.ag-right-aligned-header) .ag-sort-indicator-icon {
  padding-right: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-ltr .ag-header-cell:not(.ag-right-aligned-header) .ag-header-label-icon {
  margin-left: auto;
  padding-right: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-ltr .ag-header-cell.ag-right-aligned-header .ag-header-label-icon {
  margin-right: auto;
  padding-left: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-header-cell.ag-floating-filter::before {
  /* Remove half height border in most header cells */
  background-color: transparent;
}

div[class*="ag-theme-salt"] .ag-floating-filter input[class^="ag-"][type="number"] {
  /* Avoid floating filter's input clips focus ring */
  height: calc(var(--salt-size-base) + var(--salt-spacing-100) - 4px);
}

div[class*="ag-theme-salt"] .ag-header-cell:not(.ag-column-resizing) + .ag-header-cell.ag-column-menu-visible:not(.ag-column-hover):not(.ag-header-cell-moving):hover,
div[class*="ag-theme-salt"] .ag-header-cell:not(.ag-column-hover):first-of-type:not(.ag-header-cell-moving).ag-column-menu-visible:hover,
div[class*="ag-theme-salt"] .ag-header-cell.ag-column-menu-visible {
  /* When menu is visible, change bg and fg */
  background: var(--salt-actionable-secondary-background-active);
  color: var(--salt-actionable-secondary-foreground-active);
  /* Color for menu / filter icons */
  --ag-icon-font-color: var(--salt-actionable-secondary-foreground-active);
}

div[class*="ag-theme-salt"] .ag-header-cell.ag-column-menu-visible .ag-icon {
  color: var(--salt-actionable-secondary-foreground-active);
}

div[class*="ag-theme-salt"] .ag-cell-label-container {
  /* row height is base size + 50 spacing on top/bottom */
  padding: var(--salt-spacing-50) 0;
}

div[class*="ag-theme-salt"] .ag-list-item:hover,
div[class*="ag-theme-salt"] .ag-virtual-list-item:hover {
  background-color: var(--salt-selectable-background-hover);
  cursor: pointer;
}

div[class*="ag-theme-salt"] .ag-label-align-right .ag-label {
  margin-inline-start: var(--salt-spacing-100);
  margin-inline-end: 0;
}

/* MENU */

div[class*="ag-theme-salt"] .ag-menu {
  padding: 0;
  border: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-selectable-borderColor-selected);
}

div[class*="ag-theme-salt"] .ag-tabs {
  padding: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-popup-child:not(.ag-tooltip-custom) {
  box-shadow: var(--salt-overlayable-shadow-popout);
}

div[class*="ag-theme-salt"] .ag-menu-header {
  border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-container-primary-borderColor);
  background-color: var(--salt-container-primary-background);
}

div[class*="ag-theme-salt"] .ag-menu-body {
  padding: 0;
}

div[class*="ag-theme-salt"] .ag-menu-separator {
  height: var(--salt-size-border);
}

div[class*="ag-theme-salt"] .ag-menu-list {
  padding: 0;
}

div[class*="ag-theme-salt"] .ag-menu-option {
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
}

div[class*="ag-theme-salt"] .ag-menu-option-icon,
div[class*="ag-theme-salt"] .ag-compact-menu-option-icon {
  padding-inline-start: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-tab {
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  flex: 1 1 auto;
}

div[class*="ag-theme-salt"] .ag-column-select-header {
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  border: 0;
}

/* ROW */

div[class*="ag-theme-salt"] .ag-row {
  font-size: var(--salt-text-fontSize);
}

div[class*="ag-theme-salt"] .ag-row-selected {
  background-color: var(--salt-selectable-background-selected);
  border-color: var(--salt-selectable-borderColor-selected);
}

div[class*="ag-theme-salt"] .ag-row-selected:before {
  background-color: var(--salt-selectable-borderColor-selected);
  background-image: none;
  height: var(--salt-size-border);
  top: -1px;
}

/* CELL */

div[class*="ag-theme-salt"] .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
  border-right-color: var(--salt-separable-secondary-borderColor);
}

div[class*="ag-theme-salt"] .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left):not(.ag-cell-range-single-cell) {
  border-left-color: var(--salt-separable-secondary-borderColor);
}

div[class*="ag-theme-salt"] .ag-cell {
  border: none;
  line-height: calc(var(--ag-line-height) - 1px);
  padding-left: var(--salt-spacing-100);
  padding-right: var(--salt-spacing-100);
}

/* This is not restricted to `.editable-cell`, so any custom editor would get the same background treatment */
div[class*="ag-theme-salt"] .ag-cell-inline-editing:focus-within {
  background: var(--salt-container-primary-background);
}

/* This makes sure custom cell editor would start from no padding. Built-in ag grid editor's padding is added below. */
div[class*="ag-theme-salt"] .ag-cell-inline-editing {
  padding: 0;
}

div[class*="ag-theme-salt"] .editable-cell,
div[class*="ag-theme-salt"] .editable-numeric-cell {
  outline: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-editable-borderColor);
  outline-offset: -1px;
  text-align: right;
}

div[class*="ag-theme-salt"] .ag-cell.numeric-cell {
  text-align: right;
}

/* Special case when user finish editing and click out side of the grid. */
div[class*="ag-theme-salt"] .ag-cell.numeric-cell.ag-cell-inline-editing .ag-cell-editor input:not(:focus) {
  text-align: right;
}

div[class*="ag-theme-salt"] .ag-has-focus .ag-cell.ag-cell-focus:not(.ag-cell-range-selected),
div[class*="ag-theme-salt"] .ag-context-menu-open .ag-cell.ag-cell-focus:not(.ag-cell-range-selected),
div[class*="ag-theme-salt"] .ag-cell-range-single-cell,
div[class*="ag-theme-salt"] .ag-cell-range-single-cell.ag-cell-range-handle,
div[class*="ag-theme-salt"] .ag-cell-focus:not(.ag-cell-range-selected):focus-within {
  outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
  outline-offset: -2px;
  border-width: 0;
}

div[class*="ag-theme-salt"] .ag-cell-wrapper.ag-row-group {
  align-items: center;
}

div[class*="ag-theme-salt"] .ag-cell.editable-cell.ag-cell-focus:focus,
div[class*="ag-theme-salt"] .editable-numeric-cell.ag-cell-focus:focus,
div[class*="ag-theme-salt"] .editable-cell.ag-cell-focus:focus-within {
  overflow: visible;
}

div[class*="ag-theme-salt"] .ag-cell.editable-cell.ag-cell-focus:focus:before,
div[class*="ag-theme-salt"] .ag-cell.editable-numeric-cell.ag-cell-focus:focus:before,
div[class*="ag-theme-salt"] .ag-cell.editable-cell.ag-cell-focus:focus-within:before,
div[class*="ag-theme-salt"] .editable-cell.ag-cell-inline-editing:before {
  border-bottom: calc(var(--salt-size-adornment) + 4px) solid transparent;
  border-left: calc(var(--salt-size-adornment) + 4px) solid var(--salt-editable-borderColor-hover);
  border-top: 0 solid transparent;
  content: "";
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 2;
}

div[class*="ag-theme-salt"] .editable-numeric-cell input,
div[class*="ag-theme-salt"] input[class^="ag-"][type="number"] {
  padding: 0 var(--salt-spacing-100);
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
}

div[class*="ag-theme-salt"] .editable-cell input,
div[class*="ag-theme-salt"] .editable-numeric-cell input {
  border: none;
  background-color: transparent;
}

div[class*="ag-theme-salt"] .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-top::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border-top: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}

div[class*="ag-theme-salt"] .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-right::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border-right: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}

div[class*="ag-theme-salt"] .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-bottom::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border-bottom: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}

div[class*="ag-theme-salt"] .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-left::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border-left: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}

/* INPUT */

div[class*="ag-theme-salt"] .ag-filter input[class^="ag-"][type="text"],
div[class*="ag-theme-salt"] .ag-filter input[class^="ag-"][type="number"],
div[class*="ag-theme-salt"] .ag-column-select input[class^="ag-"][type="text"],
div[class*="ag-theme-salt"] .ag-column-select input[class^="ag-"][type="number"] {
  border: none;
  border-bottom: var(--salt-size-border) var(--salt-editable-borderStyle) var(--salt-editable-borderColor);
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding: 0 var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-filter input[class^="ag-"][type="text"]::placeholder,
div[class*="ag-theme-salt"] .ag-filter input[class^="ag-"][type="number"]::placeholder,
div[class*="ag-theme-salt"] .ag-column-select input[class^="ag-"][type="text"]::placeholder,
div[class*="ag-theme-salt"] .ag-column-select input[class^="ag-"][type="number"]::placeholder {
  color: var(--salt-content-secondary-foreground);
  opacity: 1;
}

div[class*="ag-theme-salt"] .ag-filter input[class^="ag-"][type="text"]:focus,
div[class*="ag-theme-salt"] .ag-filter input[class^="ag-"][type="number"]:focus,
div[class*="ag-theme-salt"] .ag-column-select input[class^="ag-"][type="text"]:focus,
div[class*="ag-theme-salt"] .ag-column-select input[class^="ag-"][type="number"]:focus {
  outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
  outline-offset: -2px;
}

div[class*="ag-theme-salt"] .ag-floating-filter-input input[class^="ag-"][type="text"],
div[class*="ag-theme-salt"] .ag-floating-filter-input input[class^="ag-"][type="number"] {
  border: none;
}

/* CHECKBOX */

div[class*="ag-theme-salt"] .ag-checkbox-input-wrapper {
  /* border-radius doesn't work given border is part of the font glyph */
  height: var(--salt-size-selectable);
  width: var(--salt-size-selectable);
  font-size: var(--salt-size-selectable);
  line-height: var(--salt-size-selectable);
}

/* BUTTON */

div[class*="ag-theme-salt"] .ag-standard-button {
  background: var(--salt-actionable-secondary-background);
  border: 0;
  color: var(--salt-actionable-secondary-foreground);
  font-size: var(--salt-text-fontSize);
  font-weight: 600;
  height: var(--salt-size-base);
  padding: 0 var(--salt-spacing-100);
  text-transform: uppercase;
}

div[class*="ag-theme-salt"] .ag-standard-button:hover {
  background-color: var(--salt-actionable-secondary-background-hover);
  color: var(--salt-actionable-secondary-foreground-hover);
}

div[class*="ag-theme-salt"] .ag-ltr .ag-filter-apply-panel-button {
  margin-left: 8px;
}

div[class*="ag-theme-salt"] .ag-standard-button.ag-filter-apply-panel-button[ref="applyFilterButton"] {
  background: var(--salt-actionable-cta-background);
  color: var(--salt-actionable-cta-foreground);
}

div[class*="ag-theme-salt"] .ag-standard-button.ag-filter-apply-panel-button[ref="applyFilterButton"]:hover {
  background: var(--salt-actionable-cta-background-hover);
  color: var(--salt-actionable-cta-foreground-hover);
}

div[class*="ag-theme-salt"] .ag-floating-filter {
  border: var(--salt-size-border) var(--salt-editable-borderStyle) var(--salt-separable-tertiary-borderColor);
}

div[class*="ag-theme-salt"] .ag-floating-filter:focus-within {
  outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
  outline-offset: -2px;
}

div[class*="ag-theme-salt"] .ag-floating-filter:after {
  width: 0;
}

div[class*="ag-theme-salt"] .ag-keyboard-focus .ag-header-cell:focus:after {
  border: 0;
}

div[class*="ag-theme-salt"] .ag-ltr .ag-floating-filter-button {
  margin-left: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] button[class^="ag-"]:focus,
div[class*="ag-theme-salt"] input[class^="ag-"][type="button"]:focus {
  box-shadow: none;
  border: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}

div[class*="ag-theme-salt"] .ag-select .ag-picker-field-wrapper {
  border: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-container-primary-borderColor);
  border-radius: 0;
}

div[class*="ag-theme-salt"] .ag-select .ag-picker-field-icon {
  margin-right: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-menu .ag-filter-body-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin-top: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-menu .ag-menu-column-select-wrapper {
  margin-top: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-simple-filter-body-wrapper > * {
  margin-bottom: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-mini-filter {
  margin: 0;
  padding-left: var(--salt-spacing-50);
  padding-right: var(--salt-spacing-50);
}

div[class*="ag-theme-salt"] .ag-set-filter-item {
  margin: 0;
  padding-left: var(--salt-spacing-100);
  padding-right: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-status-bar {
  border: none;
  border-top: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-container-primary-borderColor);
  color: var(--salt-content-secondary-foreground);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-label-fontWeight);
  /* Center align text vertically, matching height */
  line-height: var(--salt-size-base);
  height: var(--salt-size-base);
  padding: 0 var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-status-name-value {
  padding: 0;
  margin: 0 var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-status-name-value-value {
  font-weight: var(--salt-text-fontWeight-strong);
  color: var(--salt-content-primary-foreground);
}

div[class*="ag-theme-salt"] .ag-paging-panel {
  border-color: var(--salt-separable-secondary-borderColor);
}

div[class*="ag-theme-salt"] .ag-floating-bottom {
  border-color: var(--salt-container-primary-borderColor);
}

div[class*="ag-theme-salt"] .ag-column-drop-horizontal {
  border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-container-primary-borderColor);
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
}

div[class*="ag-theme-salt"] .ag-column-drop-cell {
  border-radius: 0;
}

.ag-theme-salt-variant-secondary .ag-header {
  background-color: var(--salt-container-secondary-background);
}

.ag-theme-salt-variant-secondary .ag-row {
  background-color: var(--salt-container-secondary-background);
  border-color: var(--salt-separable-tertiary-borderColor);
}

.ag-theme-salt-variant-zebra .ag-row-even:not(.ag-row-hover, .ag-row-selected) {
  background-color: var(--salt-container-secondary-background);
}

.ag-theme-salt-variant-zebra .ag-row {
  border-color: var(--salt-separable-tertiary-borderColor);
}

/* Tool Panel */

div[class*="ag-theme-salt"] .ag-tool-panel-wrapper > .ag-react-container {
  width: inherit;
}

div[class*="ag-theme-salt"] .ag-side-buttons {
  min-width: calc(var(--salt-size-base) + var(--salt-spacing-100));
}

div[class*="ag-theme-salt"] button.ag-side-button-button {
  padding: var(--salt-spacing-100) var(--salt-spacing-50);
}

div[class*="ag-theme-salt"] .ag-column-drop-vertical-empty-message {
  padding: var(--salt-spacing-100);
}

div[class*="ag-theme-salt"] .ag-side-button-icon-wrapper {
  margin-bottom: var(--salt-spacing-100);
}

/* Toggle Button */
.ag-toggle-button-input-wrapper::before {
  top: calc(1px - var(--ag-toggle-button-border-width));
  left: calc(1px - var(--ag-toggle-button-border-width));

  height: calc(var(--ag-toggle-button-height) - 2 * var(--ag-toggle-button-border-width));
  width: calc(var(--ag-toggle-button-height) - 2 * var(--ag-toggle-button-border-width));
}
.ag-toggle-button-input-wrapper.ag-checked::before {
  --ag-toggle-button-switch-background-color: var(--salt-selectable-borderColor-selected);
  border-color: var(--ag-toggle-button-switch-border-color);
  left: calc(100% - var(--ag-toggle-button-height) + 2 * var(--ag-toggle-button-border-width));
}

/* Column Drop List */
.ag-column-drop-cell-drag-handle {
  margin-left: 0;
}

.ag-column-drop-cell {
  height: calc(var(--salt-size-base) - var(--salt-spacing-100));
  padding: 0 var(--salt-spacing-50);
}

.ag-column-drop-cell-button {
  min-width: unset;
}
