@import "./uitk-ag-theme-mixin";

div[class*="ag-theme-uitk-high"] {
  --uitk-size-unit: 4px;
}
div[class*="ag-theme-uitk-medium"] {
  --uitk-size-unit: 8px;
}
div[class*="ag-theme-uitk-low"] {
  --uitk-size-unit: 12px;
}
div[class*="ag-theme-uitk-touch"] {
  --uitk-size-unit: 16px;
}
div[class^="ag-theme-uitk"] {
  --uitk-container-spacing: calc(var(--uitk-size-unit) * 2);
}

.ag-theme-uitk-high-light,
.ag-theme-uitk-medium-light,
.ag-theme-uitk-low-light,
.ag-theme-uitk-touch-light,
.ag-theme-uitk-high-compact-light {
  --agGrid-menu-padding: var(--uitk-container-spacing);

  --agGrid-foreground: var(--saltAgGrid-foreground, #2a2c2f);
  --agGrid-foreground-disabled: var(--saltAgGrid-foreground-disabled, #161616);
  --agGrid-header-foreground: var(--saltAgGrid-header-foreground, #61656e);
  --agGrid-background: var(--saltAgGrid-background, white);
  --agGrid-row-background-selected: var(
    --saltAgGrid-row-background-selected,
    #b7def6
  );
  --agGrid-row-color-hover: var(--saltAgGrid-row-color-hover, white);
  --agGrid-row-borderColor: var(--saltAgGrid-row-borderColor, #e2e2e2);
  --agGrid-header-column-separator-color: var(
    --saltAgGrid-header-column-separator-color,
    #c5c9d0
  );
  --agGrid-cell-borderColor-editable: var(
    --saltAgGrid-cell-borderColor-editable,
    #84878e
  );

  --agGrid-row-shadow-hover: var(
    --saltAgGrid-row-shadow-hover,
    0 2px 5px 0 #24252633,
    0 -1px 0 0 #b4b7be
  );
  --agGrid-row-borderColor-selected: var(
    --saltAgGrid-row-borderColor-selected,
    transparent
  );
  --agGrid-color-focus: var(--saltAgGrid-color-focus, #2d81bd);

  --agGrid-borderColor: var(--saltAgGrid-borderColor, #e2e2e2);
  --agGrid-tab-borderColor-active: var(
    --saltAgGrid-tab-borderColor-active,
    #e06519
  );
  --agGrid-checkbox-color: var(--saltAgGrid-checkbox-color, black);

  --agGrid-button-color: var(--saltAgGrid-button-color, #161616);
  --agGrid-button-background-hover: var(
    --saltAgGrid-button-background-hover,
    #d9dde3
  );

  --agGrid-toggle-background-checked: var(
    --saltAgGrid-toggle-background-checked,
    #2670a9
  );
  --agGrid-header-icon-color: var(--saltAgGrid-header-icon-color, #61656e);
  --agGrid-menu-header-icon-color: var(
    --saltAgGrid-menu-header-icon-color,
    #61656e
  );
  --agGrid-icon-color: var(--saltAgGrid-icon-color, #61656e);
  --agGrid-menu-option-color-hover: var(
    --saltAgGrid-menu-option-color-hover,
    #f2f4f6
  );
  --agGrid-side-buttons-background: var(
    --saltAgGrid-side-buttons-background,
    #f2f4f6
  );
  --agGrid-toggle-button-background: var(
    --saltAgGrid-toggle-button-background,
    #84878e
  );
  --agGrid-menu-color: var(--saltAgGrid-menu-color, #61656e);
  --agGrid-filter-borderColor: var(--saltAgGrid-filter-borderColor, #eaedef);
  --agGrid-filter-apply-button-color: var(
    --saltAgGrid-filter-apply-button-color,
    #242526
  );
  --agGrid-list-item-color-hover: var(
    --saltAgGrid-list-item-color-hover,
    #b7def6
  );

  --agGrid-column-drop-cell-horizontal-background: var(
    --saltAgGrid-column-drop-cell-horizontal-background,
    #eaedef
  );
  --agGrid-pagination-button-color: var(
    --saltAgGrid-pagination-button-color,
    #4c505b
  );
  --agGrid-pagination-button-color-disabled: var(
    --saltAgGrid-pagination-button-color-disabled,
    rgba(22, 22, 22, 0.4)
  );

  --agGrid-placeholder-color: var(--saltAgGrid-placeholder-color, #61656e);
  --agGrid-ghost-icon-color: var(
    --saltAgGrid-ghost-icon-color,
    rgba(0, 0, 0, 0.87)
  );
}

.ag-theme-uitk-high-dark,
.ag-theme-uitk-medium-dark,
.ag-theme-uitk-low-dark,
.ag-theme-uitk-touch-dark,
.ag-theme-uitk-high-compact-dark {
  --agGrid-menu-padding: var(--uitk-container-spacing);

  --agGrid-foreground: var(--saltAgGrid-foreground, white);
  --agGrid-foreground-disabled: var(--saltAgGrid-foreground-disabled, white);
  --agGrid-header-foreground: var(--saltAgGrid-header-foreground, white);
  --agGrid-background: var(--saltAgGrid-background, #242526);
  --agGrid-row-background-selected: var(
    --saltAgGrid-row-background-selected,
    #155c93
  );
  --agGrid-row-color-hover: var(--saltAgGrid-row-color-hover, #2f3136);
  --agGrid-row-borderColor: var(--saltAgGrid-row-borderColor, #e2e2e2);
  --agGrid-header-column-separator-color: var(
    --saltAgGrid-header-column-separator-color,
    white
  );
  --agGrid-cell-borderColor-editable: var(
    --saltAgGrid-cell-borderColor-editable,
    #74777f
  );

  --agGrid-row-shadow-hover: var(
    --saltAgGrid-row-shadow-hover,
    0 2px 5px 0 #24252633,
    0 -1px 0 0 #b4b7be
  );
  --agGrid-row-borderColor-selected: var(
    --saltAgGrid-row-borderColor-selected,
    #2d81bd
  );
  --agGrid-color-focus: var(--saltAgGrid-color-focus, #2d81bd);

  --agGrid-borderColor: var(--saltAgGrid-borderColor, #e2e2e2);
  --agGrid-tab-borderColor-active: var(
    --saltAgGrid-tab-borderColor-active,
    #e06519
  );
  --agGrid-checkbox-color: var(--saltAgGrid-checkbox-color, white);

  --agGrid-button-color: var(--saltAgGrid-button-color, white);
  --agGrid-button-background-hover: var(
    --saltAgGrid-button-background-hover,
    #d9dde3
  );

  --agGrid-toggle-background-checked: var(
    --saltAgGrid-toggle-background-checked,
    #2670a9
  );
  --agGrid-header-icon-color: var(--saltAgGrid-header-icon-color, white);
  --agGrid-menu-header-icon-color: var(
    --saltAgGrid-menu-header-icon-color,
    white
  );
  --agGrid-icon-color: var(--saltAgGrid-icon-color, white);
  --agGrid-menu-option-color-hover: var(
    --saltAgGrid-menu-option-color-hover,
    #2f3136
  );
  --agGrid-side-buttons-background: var(
    --saltAgGrid-side-buttons-background,
    #2f3136
  );
  --agGrid-toggle-button-background: var(
    --saltAgGrid-toggle-button-background,
    #84878e
  );

  --agGrid-menu-color: var(--saltAgGrid-menu-color, white);
  --agGrid-filter-borderColor: var(--saltAgGrid-filter-borderColor, #44484f);
  --agGrid-filter-apply-button-color: var(
    --saltAgGrid-filter-apply-button-color,
    #eaedef
  );
  --agGrid-list-item-color-hover: var(
    --saltAgGrid-list-item-color-hover,
    #233645
  );

  --agGrid-column-drop-cell-horizontal-background: var(
    --saltAgGrid-column-drop-cell-horizontal-background,
    #3b3f46
  );
  --agGrid-pagination-button-color: var(
    --saltAgGrid-pagination-button-color,
    #c5c9d0
  );
  --agGrid-pagination-button-color-disabled: var(
    --saltAgGrid-pagination-button-color-disabled,
    rgba(255, 255, 255, 0.4)
  );

  --agGrid-placeholder-color: var(--saltAgGrid-placeholder-color, white);
  --agGrid-ghost-icon-color: var(
    --saltAgGrid-ghost-icon-color,
    rgba(0, 0, 0, 0.87)
  );
}

$ag-theme-uitk-params-dark: (
  foreground-color: white,
  background-color: #242526,
);

$ag-theme-uitk-params-light: (
  foreground-color: #2a2c2f,
  background-color: white,
);

$ag-theme-uitk-params-high: map-merge(
  $uitk-ag-theme-default-params,
  (
    row-height: 20px,
    header-height: 20px,
    font-size: 10px,
    header-column-separator-height: 10px,
    cell-horizontal-padding: 5px,
    list-item-height: 24px,
    icon-size: 12px,
  )
);

$ag-theme-uitk-params-high-light: map-merge(
  $ag-theme-uitk-params-high,
  $ag-theme-uitk-params-light
);

$ag-theme-uitk-params-high-dark: map-merge(
  $ag-theme-uitk-params-high,
  $ag-theme-uitk-params-dark
);

$ag-theme-uitk-params-medium: map-merge(
  $uitk-ag-theme-default-params,
  (
    row-height: 24px,
    header-height: 24px,
    font-size: 12px,
    header-column-separator-height: 10px,
    cell-horizontal-padding: 6px,
    list-item-height: 36px,
    icon-size: 12px,
  )
);

$ag-theme-uitk-params-medium-light: map-merge(
  $ag-theme-uitk-params-medium,
  $ag-theme-uitk-params-light
);

$ag-theme-uitk-params-medium-dark: map-merge(
  $ag-theme-uitk-params-medium,
  $ag-theme-uitk-params-dark
);

$ag-theme-uitk-params-low: map-merge(
  $uitk-ag-theme-default-params,
  (
    row-height: 32px,
    header-height: 32px,
    font-size: 14px,
    header-column-separator-height: 10px,
    cell-horizontal-padding: 6px,
    list-item-height: 48px,
    icon-size: 12px,
  )
);

$ag-theme-uitk-params-low-light: map-merge(
  $ag-theme-uitk-params-low,
  $ag-theme-uitk-params-light
);

$ag-theme-uitk-params-low-dark: map-merge(
  $ag-theme-uitk-params-low,
  $ag-theme-uitk-params-dark
);

$ag-theme-uitk-params-touch: map-merge(
  $uitk-ag-theme-default-params,
  (
    row-height: 32px,
    header-height: 32px,
    font-size: 14px,
    header-column-separator-height: 10px,
    cell-horizontal-padding: 6px,
    list-item-height: 60px,
    icon-size: 12px,
  )
);

$ag-theme-uitk-params-touch-light: map-merge(
  $ag-theme-uitk-params-touch,
  $ag-theme-uitk-params-light
);

$ag-theme-uitk-params-touch-dark: map-merge(
  $ag-theme-uitk-params-touch,
  $ag-theme-uitk-params-dark
);

.ag-theme-uitk-high-dark,
.ag-theme-uitk-high-light,
.ag-theme-uitk-high-compact-light {
  --agGrid-checkbox-size: var(--saltAgGrid-checkbox-size, 14px);
  --agGrid-input-padding: var(--saltAgGrid-input-padding, 4px);
  --agGrid-input-height: var(--saltAgGrid-input-height, 20px);
  --agGrid-input-fontSize: var(--saltAgGrid-input-fontSize, 10px);

  --agGrid-button-fontSize: var(--saltAgGrid-button-fontSize, 11px);
  --agGrid-button-height: var(--saltAgGrid-button-height, 20px);
  --agGrid-button-padding: var(--saltAgGrid-button-padding, 4px);

  --agGrid-list-item-height: var(--saltAgGrid-list-item-height, 32px);
  --agGrid-list-item-fontSize: var(--saltAgGrid-list-item-fontSize, 13px);

  --agGrid-switch-height: var(--saltAgGrid-switch-height, 18px);
  --agGrid-switch-borderWidth: var(--saltAgGrid-switch-borderWidth, 1px);

  --agGrid-header-fontSize: var(--saltAgGrid-header-fontSize, 12px);

  --agGrid-paging-button-width: var(--saltAgGrid-paging-button-width, 20px);
}

.ag-theme-uitk-high-dark {
  @include ag-theme-uitk($ag-theme-uitk-params-high-dark);
}

.ag-theme-uitk-high-light {
  @include ag-theme-uitk($ag-theme-uitk-params-high-light);
}

.ag-theme-uitk-medium-dark,
.ag-theme-uitk-medium-light {
  --agGrid-checkbox-size: var(--saltAgGrid-checkbox-size, 14px);
  --agGrid-input-padding: var(--saltAgGrid-input-padding, 8px);
  --agGrid-input-height: var(--saltAgGrid-input-height, 28px);
  --agGrid-input-fontSize: var(--saltAgGrid-input-fontSize, 12px);

  --agGrid-button-fontSize: var(--saltAgGrid-button-fontSize, 12px);
  --agGrid-button-height: var(--saltAgGrid-button-height, 28px);
  --agGrid-button-padding: var(--saltAgGrid-button-padding, 8px);

  --agGrid-list-item-height: var(--saltAgGrid-list-item-height, 32px);
  --agGrid-list-item-fontSize: var(--saltAgGrid-list-item-fontSize, 13px);

  --agGrid-switch-height: var(--saltAgGrid-switch-height, 18px);
  --agGrid-switch-borderWidth: var(--saltAgGrid-switch-borderWidth, 1px);

  --agGrid-header-fontSize: var(--saltAgGrid-header-fontSize, 12px);
  --agGrid-paging-button-width: var(--saltAgGrid-paging-button-width, 28px);
}

.ag-theme-uitk-medium-dark {
  @include ag-theme-uitk($ag-theme-uitk-params-medium-dark);
}

.ag-theme-uitk-medium-light {
  @include ag-theme-uitk($ag-theme-uitk-params-medium-light);
}

.ag-theme-uitk-low-dark,
.ag-theme-uitk-low-light {
  --agGrid-checkbox-size: var(--saltAgGrid-checkbox-size, 14px);
  --agGrid-input-padding: var(--saltAgGrid-input-padding, 12px);
  --agGrid-input-height: var(--saltAgGrid-input-height, 36px);
  --agGrid-input-fontSize: var(--saltAgGrid-input-fontSize, 14px);

  --agGrid-button-fontSize: var(--saltAgGrid-button-fontSize, 14px);
  --agGrid-button-height: var(--saltAgGrid-button-height, 36px);
  --agGrid-button-padding: var(--saltAgGrid-button-padding, 12px);

  --agGrid-list-item-height: var(--saltAgGrid-list-item-height, 32px);
  --agGrid-list-item-fontSize: var(--saltAgGrid-list-item-fontSize, 13px);

  --agGrid-switch-height: var(--saltAgGrid-switch-height, 18px);
  --agGrid-switch-borderWidth: var(--saltAgGrid-switch-borderWidth, 1px);

  --agGrid-header-fontSize: var(--saltAgGrid-header-fontSize, 12px);
  --agGrid-paging-button-width: var(--saltAgGrid-paging-button-width, 36px);
}

.ag-theme-uitk-low-dark {
  @include ag-theme-uitk($ag-theme-uitk-params-low-dark);
}

.ag-theme-uitk-low-light {
  @include ag-theme-uitk($ag-theme-uitk-params-low-light);
}

.ag-theme-uitk-touch-dark,
.ag-theme-uitk-touch-light {
  --agGrid-checkbox-size: var(--saltAgGrid-checkbox-size, 14px);
  --agGrid-input-padding: var(--saltAgGrid-input-padding, 8px);
  --agGrid-input-height: var(--saltAgGrid-input-height, 28px);
  --agGrid-input-fontSize: var(--saltAgGrid-input-fontSize, 14px);

  --agGrid-button-fontSize: var(--saltAgGrid-button-fontSize, 16px);
  --agGrid-button-height: var(--saltAgGrid-button-height, 44px);
  --agGrid-button-padding: var(--saltAgGrid-button-padding, 14px);

  --agGrid-list-item-height: var(--saltAgGrid-list-item-height, 32px);
  --agGrid-list-item-fontSize: var(--saltAgGrid-list-item-fontSize, 13px);

  --agGrid-switch-height: var(--saltAgGrid-switch-height, 18px);
  --agGrid-switch-borderWidth: var(--saltAgGrid-switch-borderWidth, 1px);

  --agGrid-header-fontSize: var(--saltAgGrid-header-fontSize, 12px);
  --agGrid-paging-button-width: var(--saltAgGrid-paging-button-width, 44px);
}

.ag-theme-uitk-touch-light {
  @include ag-theme-uitk($ag-theme-uitk-params-touch-light);
}

.ag-theme-uitk-touch-dark {
  @include ag-theme-uitk($ag-theme-uitk-params-touch-dark);
}

// Import is here so the custom icons are injected after the default ag-grid icons.
@import "./uitk-ag-theme-icon-font";
