.uitkSplitLayout {
  justify-content: space-between;
}

.uitkSplitLayout-separator {
  --uitkFlexLayout-gap: calc(var(--uitk-size-unit) * var(--uitkFlexLayout-gap-multiplier) + var(--uitkFlexLayout-separator));
}

.uitkSplitLayout-separator > *:first-child::after,
.uitkSplitLayout-separator > *:last-child::before,
.uitkSplitLayout-separator-center::after {
  background-color: var(--uitk-separable-secondary-borderColor);
  width: var(--uitkFlexLayout-separator);
  top: 0;
  height: 100%;
}

.uitkSplitLayout-separator-start > *:first-child::after {
  content: "";
  right: calc(var(--uitkFlexLayout-separator) * -1);
}

.uitkSplitLayout-separator-end > *:last-child::before {
  content: "";
  right: calc(var(--uitkFlexLayout-separator) * -1);
}
.uitkSplitLayout-separator-center {
  position: relative;
}
.uitkSplitLayout-separator-center::after {
  position: absolute;
  content: "";
  right: calc(var(--uitkFlexLayout-separator) * -1);
}
