.uitkFormGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.uitkFormGroup-row {
  gap: var(--uitkFormGroup-row-gap, calc(3 * var(--uitk-size-unit)));
  flex-direction: row;
  float: left;
}
