.saltSteppedTracker {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: var(--salt-spacing-25);
  width: 100%;
}
