.saltSteppedTracker {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  position: relative;
}

.saltSteppedTracker.saltSteppedTracker-horizontal {
  flex-direction: row;
}

.saltSteppedTracker.saltSteppedTracker-vertical {
  flex-direction: column;
}
