.saltStepLabel {
  grid-area: label;
}

.saltSteppedTracker-horizontal .saltStepLabel {
  margin-top: var(--salt-spacing-50);
}

.saltSteppedTracker-vertical .saltStepLabel {
  padding-top: calc((var(--salt-size-base) - var(--salt-text-label-lineHeight)) / 2);
  padding-bottom: calc((var(--salt-size-base) - var(--salt-text-label-lineHeight)) / 2);
  padding-left: calc((var(--saltStep-depth)) * var(--salt-spacing-100));
}

.saltStep-depth-0 > .saltStepLabel {
  font-weight: var(--salt-text-fontWeight-strong) !important;
}

.saltStepLabel-elucidation {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}
