.saltTrackerConnector {
  --trackerConnector-style-default: var(--saltTrackerConnector-style-default, var(--salt-track-borderStyle-incomplete));
  --trackerConnector-style-active: var(--saltTrackerConnector-style-active, var(--salt-track-borderStyle-active));
  --trackerConnector-color: var(--saltTrackerConnector-color, var(--salt-track-borderColor));
  --trackerConnector-thickness: var(--saltTrackerConnector-thickness, var(--salt-size-border-strong));
  --trackerConnector-margin: var(--saltTrackerConnector-margin, var(--salt-spacing-100));
  --trackerConnector-style-border: var(--trackerConnector-style-default);
}

.saltTrackerConnector {
  position: absolute;
}

.saltSteppedTracker.saltSteppedTracker-horizontal .saltTrackerConnector {
  --trackerConnector-indicator-width: calc(var(--trackerStep-icon-size) + (2 * var(--salt-spacing-100)));
  border-top-width: var(--trackerConnector-thickness);
  border-top-style: var(--trackerConnector-style-border);
  border-top-color: var(--trackerConnector-color);
  width: calc(100% - var(--trackerConnector-indicator-width));
  left: calc(50% + (var(--trackerConnector-indicator-width) / 2));
  top: calc(var(--trackerStep-icon-size) / 2);
  transform: translateY(-50%);
  height: 0;
  opacity: 1;
}

.saltSteppedTracker.saltSteppedTracker-vertical .saltTrackerConnector {
  top: var(--salt-size-base);
  left: calc((var(--salt-size-base) / 2) - (var(--trackerConnector-thickness) / 2));
  bottom: 0;
  border-left-width: var(--trackerConnector-thickness);
  border-left-style: var(--trackerConnector-style-border);
  border-left-color: var(--trackerConnector-color);
}

.saltTrackerConnector.saltTrackerConnector-active {
  --trackerConnector-style-border: var(--trackerConnector-style-active);
}

.saltSteppedTracker-nested .saltTrackerStepWrapper:last-child.saltTrackerStepWrapper-collapsed .saltTrackerStep .saltTrackerConnector {
  opacity: 0;
  transition: opacity var(--salt-duration-perceptible) ease-in-out;
}
