.salt-theme[data-mode="light"][data-brand="consumer"] {
  --salt-palette-alpha-none: transparent;
  --salt-palette-alpha-contrast-low: var(--salt-color-black-15a);

  /*
  --salt-palette-alpha-highest: ;
  --salt-palette-alpha-higher: ;
  --salt-palette-alpha-high: ;
  --salt-palette-alpha-mediumHigh: ;
  --salt-palette-alpha-medium: ;
  --salt-palette-alpha-mediumLow:  ;
  --salt-palette-alpha-low: ;
  --salt-palette-alpha-lower: ;
  --salt-palette-alpha-lowest: ;

  --salt-palette-alpha-contrast-highest: ;
  --salt-palette-alpha-contrast-higher: ;
  --salt-palette-alpha-contrast-high: ;
  --salt-palette-alpha-contrast-mediumHigh: ;
  --salt-palette-alpha-contrast-medium: ;
  --salt-palette-alpha-contrast-mediumLow: ;
  --salt-palette-alpha-contrast-lower: ;
  --salt-palette-alpha-contrast-lowest: ;
  */
}

.salt-theme[data-mode="dark"][data-brand="consumer"] {
  --salt-palette-alpha-none: transparent;
  --salt-palette-alpha-contrast-low: var(--salt-color-white-15a);

  /*
  --salt-palette-alpha-highest: ;
  --salt-palette-alpha-higher: ;
  --salt-palette-alpha-high: ;
  --salt-palette-alpha-mediumHigh: ;
  --salt-palette-alpha-medium: ;
  --salt-palette-alpha-mediumLow:  ;
  --salt-palette-alpha-low: ;
  --salt-palette-alpha-lower: ;
  --salt-palette-alpha-lowest: ;

  --salt-palette-alpha-contrast-highest: ;
  --salt-palette-alpha-contrast-higher: ;
  --salt-palette-alpha-contrast-high: ;
  --salt-palette-alpha-contrast-mediumHigh: ;
  --salt-palette-alpha-contrast-medium: ;
  --salt-palette-alpha-contrast-mediumLow: ;
  --salt-palette-alpha-contrast-lower: ;
  --salt-palette-alpha-contrast-lowest: ;
  */
}
