.saltAccordionHeader {
  display: flex;
  gap: var(--salt-spacing-100);
  padding: var(--salt-spacing-50) var(--salt-spacing-100);
  align-items: center;
  border: 0;
  width: 100%;
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  background: var(--salt-actionable-secondary-background);
  font-size: var(--salt-text-fontSize);
  line-height: var(--salt-text-lineHeight);
  font-family: var(--salt-text-fontFamily);
  color: var(--salt-content-primary-foreground);
  font-weight: var(--salt-text-fontWeight-strong);
  text-align: left;
  cursor: var(--salt-actionable-cursor-hover);
}

.saltAccordionHeader:focus-visible {
  outline: var(--salt-focused-outline);
  outline-offset: calc(-1 * var(--salt-focused-outlineWidth));
}

.saltAccordionHeader:disabled {
  background: var(--salt-actionable-secondary-background);
  color: var(--salt-content-primary-foreground-disabled);
  cursor: var(--salt-actionable-cursor-disabled);
}

.saltAccordionHeader-icon {
  transition: transform var(--salt-duration-perceptible) ease-in-out;
}

.saltAccordionHeader[aria-expanded="true"] > .saltAccordionHeader-icon {
  transform: rotate(90deg);
}

.saltAccordionHeader-error {
  background: var(--salt-status-error-background);
}

.saltAccordionHeader-error:focus-visible {
  outline-color: var(--salt-status-error-borderColor);
}

.saltAccordionHeader-warning {
  background: var(--salt-status-warning-background);
}

.saltAccordionHeader-warning:focus-visible {
  outline-color: var(--salt-status-warning-borderColor);
}

.saltAccordionHeader-success {
  background: var(--salt-status-success-background);
}

.saltAccordionHeader-success:focus-visible {
  outline-color: var(--salt-status-error-borderColor);
}

.saltAccordionHeader .saltAccordionHeader-statusIndicator {
  margin-left: auto;
}
