.saltAccordion {
  border-width: var(--salt-size-border) 0 0 0;
  border-style: var(--salt-separable-borderStyle);
  border-color: var(--salt-separable-tertiary-borderColor);
}

.saltAccordion-error {
  border-color: var(--salt-status-error-borderColor);
}

.saltAccordion-warning {
  border-color: var(--salt-status-warning-borderColor);
}

.saltAccordion-success {
  border-color: var(--salt-status-success-borderColor);
}
