.uitkGridBottomRightPart {
  --grid-scrollBar-size: 15px;
}

.uitkGridBottomRightPart {
  position: absolute;
  bottom: var(--grid-scrollBar-size);
  right: var(--grid-scrollBar-size);
  z-index: 2;
}

.uitkGridBottomRightPart table {
  border-spacing: 0;
  table-layout: fixed;
}
