.uitkGridRightPart {
  position: absolute;
  top: 0;
  right: var(--grid-scrollBar-size);
  bottom: var(--grid-scrollBar-size);
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;
}

.uitkGridRightPart-raised {
  box-shadow: -6px 0 4px -4px var(--grid-shadow-color);
}

.uitkGridRightPart-space {
  position: relative;
}

.uitkGridRightPart table {
  border-spacing: 0;
  table-layout: fixed;
  position: absolute;
}
