/* Table: Main css class */
.saltTable {
  --table-header-height: calc(var(--salt-size-base) + var(--salt-spacing-100) + var(--salt-size-fixed-100));
  --table-footer-height: calc(var(--salt-size-base) + var(--salt-spacing-100) + var(--salt-size-fixed-100));
  --table-row-height: calc(var(--salt-size-base) + var(--salt-spacing-100) + var(--salt-size-fixed-100));
}

.saltTable-primary {
  --table-background: var(--salt-container-primary-background);
}

.saltTable-secondary {
  --table-background: var(--salt-container-secondary-background);
}

.saltTable-tertiary {
  --table-background: var(--salt-container-tertiary-background);
}

.saltTable-divider-primary {
  --table-divider-color: var(--salt-separable-primary-borderColor);
}

.saltTable-divider-secondary {
  --table-divider-color: var(--salt-separable-secondary-borderColor);
}

.saltTable-divider-tertiary {
  --table-divider-color: var(--salt-separable-tertiary-borderColor);
}

/* Zebra styling */
table.saltTable-zebra-primary tbody tr:nth-of-type(odd) {
  --table-background: var(--salt-container-primary-background);
}

table.saltTable-zebra-secondary tbody tr:nth-of-type(odd) {
  --table-background: var(--salt-container-secondary-background);
}

table.saltTable-zebra-tertiary tbody tr:nth-of-type(odd) {
  --table-background: var(--salt-container-tertiary-background);
}

table.saltTable {
  border-spacing: 0;
  border-radius: var(--saltTable-borderRadius, var(--salt-palette-corner));
  border-collapse: collapse;
  color: var(--salt-content-primary-foreground);
  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  line-height: var(--salt-text-lineHeight);
  table-layout: fixed;
  width: 100%;
}

/* THead */
table.saltTable thead {
  border-start-start-radius: var(--saltTable-thead-borderRadius-top, var(--salt-palette-corner));
  border-start-end-radius: var(--saltTable-thead-borderRadius-top, var(--salt-palette-corner));
  color: var(--salt-content-secondary-foreground);
  height: var(--table-header-height);
  min-height: var(--table-header-height);
  font-size: var(--salt-text-label-fontSize);
  font-weight: var(--salt-text-label-fontWeight-strong);
  line-height: var(--salt-text-label-lineHeight);
  white-space: nowrap;
}

table.saltTable thead.saltTable-thead-sticky {
  position: sticky;
  top: 0;
}

table.saltTable thead.saltTable-thead-primary tr {
  background: var(--salt-container-primary-background);
}

table.saltTable thead.saltTable-thead-secondary tr {
  background: var(--salt-container-secondary-background);
}

table.saltTable thead.saltTable-thead-tertiary tr {
  background: var(--salt-container-tertiary-background);
}

table.saltTable thead.saltTable-thead tr {
  border-bottom: var(--salt-borderStyle-solid) var(--table-header-divider-color) var(--salt-size-fixed-100);
}

table.saltTable thead.saltTable-thead-divider-primary {
  --table-header-divider-color: var(--salt-separable-primary-borderColor);
}

table.saltTable thead.saltTable-thead-divider-secondary {
  --table-header-divider-color: var(--salt-separable-secondary-borderColor);
}

table.saltTable thead.saltTable-thead-divider-tertiary {
  --table-header-divider-color: var(--salt-separable-tertiary-borderColor);
}

table.saltTable thead.saltTable-thead-divider-none {
  --table-header-divider-color: transparent;
}

/* TFoot */
table.saltTable tfoot {
  border-end-start-radius: var(--saltTable-thead-borderRadius-top, var(--salt-palette-corner));
  border-end-end-radius: var(--saltTable-thead-borderRadius-top, var(--salt-palette-corner));
  color: var(--salt-content-primary-foreground);
  height: var(--table-footer-height);
  min-height: var(--table-footer-height);
  font-size: var(--salt-text-label-fontSize);
  font-weight: var(--salt-text-fontWeight-strong);
  white-space: nowrap;
}

table.saltTable tfoot.saltTable-tfoot-sticky {
  position: sticky;
  bottom: 0;
}

table.saltTable tfoot.saltTable-tfoot tr {
  border-top: var(--salt-separable-borderStyle) var(--table-footer-divider-color) var(--salt-size-fixed-100);
}

table.saltTable tfoot.saltTable-tfoot-primary tr {
  background: var(--salt-container-primary-background);
}

table.saltTable tfoot.saltTable-tfoot-secondary tr {
  background: var(--salt-container-secondary-background);
}

table.saltTable tfoot.saltTable-tfoot-tertiary tr {
  background: var(--salt-container-tertiary-background);
}

table.saltTable tfoot.saltTable-tfoot-divider-primary tr {
  --table-footer-divider-color: var(--salt-separable-primary-borderColor);
}

table.saltTable tfoot.saltTable-tfoot-divider-secondary tr {
  --table-footer-divider-color: var(--salt-separable-secondary-borderColor);
}

table.saltTable tfoot.saltTable-tfoot-divider-tertiary tr {
  --table-footer-divider-color: var(--salt-separable-tertiary-borderColor);
}

table.saltTable tfoot.saltTable-tfoot-divider-none tr {
  --table-footer-divider-color: transparent;
}

/* TH */
table.saltTable th {
  overflow: hidden;
  padding: var(--salt-spacing-100);
  position: relative;
  text-align: start;
}

table.saltTable th + th::before {
  --table-th-separator-height: calc(var(--salt-size-base) / 2 - 2 * var(--salt-size-fixed-100));
  background: var(--salt-separable-tertiary-borderColor);
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  width: var(--salt-size-border);
  height: var(--table-th-separator-height);
  top: calc(50% - var(--table-th-separator-height) * 0.5);
  left: 0;
}

/* TR */
table.saltTable tr {
  background: var(--saltTable-thead-background, var(--table-background));
  height: var(--table-row-height);
  min-height: var(--table-row-height);
}

table.saltTable tbody tr:not(:last-child) {
  border-bottom: var(--salt-separable-borderStyle) var(--table-divider-color) var(--salt-size-fixed-100);
}

table.saltTable-divider-none tbody tr {
  --table-divider-color: transparent;
}

/* TD */
table.saltTable td {
  height: 100%;
  padding: var(--salt-spacing-100);
}
