.saltTrackerStep {
  --trackerStep-icon-active-color: var(--saltTrackerStep-icon-active-color, var(--salt-status-info-foreground));
  --trackerStep-icon-completed-color: var(--saltTrackerStep-icon-completed-color, var(--salt-status-success-foreground));

  --trackerStep-icon-color: var(--saltTrackerStep-icon-color, var(--salt-status-static-foreground));

  --saltIcon-color: var(--trackerStep-icon-color);
  /* We redefine Icon Size so we can use it in calc functions in the trackerConnector */
  --saltIcon-size: var(--saltTrackerStep-icon-size, max(var(--salt-icon-size-base), 12px));
}

.saltTrackerStep {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: var(--trackerStep-width);
  gap: var(--salt-spacing-50);
  color: var(--salt-text-primary-foreground);
}

/* Pseudo-class applied to the root element on focus */
.saltTrackerStep:focus-visible {
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-color: var(--salt-focused-outlineColor);
  outline-offset: var(--salt-focused-outlineOffset);
}

.saltTrackerStep .saltTrackerStep-body {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.saltTrackerStep.saltTrackerStep-active {
  --trackerStep-icon-color: var(--trackerStep-icon-active-color);
}

.saltTrackerStep.saltTrackerStep-completed {
  --trackerStep-icon-color: var(--trackerStep-icon-completed-color);
}
