.saltTrackerStep {
  --trackerStep-icon-color-active: var(--saltTrackerStep-icon-color-active, var(--salt-status-info-foreground-decorative));
  --trackerStep-icon-color-completed: var(--saltTrackerStep-icon-color-completed, var(--salt-status-success-foreground-decorative));
  --trackerStep-icon-color-warning: var(--saltTrackerStep-icon-color-warning, var(--salt-status-warning-foreground-decorative));
  --trackerStep-icon-color-error: var(--saltTrackerStep-icon-color-error, var(--salt-status-error-foreground-decorative));

  --trackerStep-icon-color: var(--saltTrackerStep-icon-color, var(--salt-status-static-foreground));

  --saltIcon-color: var(--trackerStep-icon-color);
}

.saltTrackerStep {
  margin: 0;
  text-indent: 0;
  list-style-type: none;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  width: var(--saltTrackerStep-width, 100%);
  gap: var(--salt-spacing-50);
  color: var(--salt-content-primary-foreground);
  font-size: var(--salt-text-label-fontSize);
  line-height: var(--salt-text-label-lineHeight);
}

.saltSteppedTracker.saltSteppedTracker-horizontal .saltTrackerStep {
  flex-direction: column;
  padding: 0 var(--salt-spacing-25);
}

.saltSteppedTracker.saltSteppedTracker-vertical .saltTrackerStep {
  flex-direction: row;
  min-height: var(--salt-size-base);
  width: 100%;
  align-items: flex-start;
  gap: var(--salt-spacing-100);
  padding-bottom: var(--salt-spacing-300);
}

.saltTrackerStep-indicator {
  flex-shrink: 0;
  flex-grow: 0;
  width: var(--salt-size-base);
  height: var(--salt-size-base);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Pseudo-class applied to the root element on focus */
.saltTrackerStep:focus-visible {
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-color: var(--salt-focused-outlineColor);
  outline-offset: var(--salt-focused-outlineOffset);
}

.saltTrackerStep .saltTrackerStep-body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.saltSteppedTracker-vertical .saltTrackerStep-body {
  width: 100%;
  display: block;
}

.saltTrackerStep.saltTrackerStep-status-warning {
  --trackerStep-icon-color: var(--trackerStep-icon-color-warning);
}

.saltTrackerStep.saltTrackerStep-status-error {
  --trackerStep-icon-color: var(--trackerStep-icon-color-error);
}

.saltTrackerStep.saltTrackerStep-active {
  --trackerStep-icon-color: var(--trackerStep-icon-color-active);
}

.saltTrackerStep.saltTrackerStep-stage-completed {
  --trackerStep-icon-color: var(--trackerStep-icon-color-completed);
}

/* Nested styles (vertical only) */
.saltSteppedTracker.saltSteppedTracker-vertical .saltTrackerStep-depth-1 {
  gap: var(--salt-spacing-200);
}
.saltSteppedTracker.saltSteppedTracker-vertical .saltTrackerStep-depth-2 {
  gap: var(--salt-spacing-300);
}

.saltTrackerStep.saltTrackerStep-inprogress {
  --trackerStep-icon-color: var(--trackerStep-icon-color-active);
}

/* .saltSteppedTracker.saltSteppedTracker-vertical .saltTrackerStep-depth-1 .saltIcon,
.saltSteppedTracker.saltSteppedTracker-vertical .saltTrackerStep-depth-2 .saltIcon {
  width: var(--salt-size-adornment);
  min-width: var(--salt-size-adornment);
} */
