.slot {
  display: flex;
  height: var(--salt-size-base);
  padding: 0 var(--salt-spacing-50);
  justify-content: center;
  align-items: center;
  border: var(--salt-size-fixed-100) dashed var(--salt-category-14-borderColor);
  background: var(--salt-category-14-background);
}

nav > ul {
  list-style: none;
  padding: 0;
}
