.salt-theme[data-brand="salt"] {
  --salt-accent-background: var(--salt-palette-accent);
  --salt-accent-background-disabled: var(--salt-palette-accent-disabled);
  --salt-accent-borderColor: var(--salt-palette-accent);
  --salt-accent-borderColor-disabled: var(--salt-palette-accent-disabled);
  --salt-accent-foreground: var(--salt-palette-foreground-primary-alt);
}
