
.salt-theme[data-brand="salt"] {
  --salt-overlayable-background: var(--salt-palette-alpha-high);
  --salt-overlayable-background-highlight: var(--salt-palette-alpha-contrast-low);
  --salt-overlayable-background-rangeSelection: var(--salt-palette-alpha-contrast-lower);
}
