.salt-theme[data-brand="salt"] {
  --salt-separable-borderStyle: solid;

  --salt-separable-primary-borderColor: var(--salt-palette-alpha-contrast-mediumLow);
  --salt-separable-secondary-borderColor: var(--salt-palette-alpha-contrast-low);
  --salt-separable-tertiary-borderColor: var(--salt-palette-alpha-contrast-lower);

  --salt-separable-foreground: var(--salt-palette-foreground-primary);
  --salt-separable-foreground-hover: var(--salt-palette-foreground-primary);
  --salt-separable-foreground-active: var(--salt-palette-foreground-primary-alt);
  --salt-separable-background: var(--salt-palette-alpha-none);
  --salt-separable-background-hover: var(--salt-palette-alpha-weak);
  --salt-separable-background-active: var(--salt-palette-accent);
}
