div[data-resize-handle] {
  --splitHandle-size: var(--salt-size-thickness-400, calc(var(--salt-size-border) * 4));
  --splitHandle-borderWidth: var(--salt-size-thickness-100, var(--salt-size-border));
  --splitHandle-borderColor: var(--salt-separable-secondary-borderColor);
  --splitHandle-borderStyle: var(--salt-separable-borderStyle);
  --splitHandle-dot-background: var(--salt-separable-foreground);
  --splitHandle-dot-background-hover: var(--salt-separable-foreground-hover);
  --splitHandle-dot-background-active: var(--salt-separable-foreground-active);

  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  box-sizing: content-box;

  background: var(--splitHandle-background);
}

div[data-resize-handle] {
  --splitHandle-background: var(--salt-container-primary-background);
  --splitHandle-background-hover: var(--salt-separable-background-hover);
  --splitHandle-background-active: var(--salt-separable-background-active);
}

div[data-resize-handle][data-salt-variant="secondary"] {
  --splitHandle-background: var(--salt-container-secondary-background);
  --splitHandle-background-hover: var(--salt-separable-background-hover);
  --splitHandle-background-active: var(--salt-separable-background-active);
}

div[data-resize-handle][data-salt-variant="tertiary"] {
  --splitHandle-background: var(--salt-container-tertiary-background);
  --splitHandle-background-hover: var(--salt-separable-background-hover);
  --splitHandle-background-active: var(--salt-separable-background-active);
}

div[data-resize-handle][data-salt-variant="transparent"] {
  --splitHandle-background: var(--salt-separable-background);
  --splitHandle-background-hover: var(--salt-separable-background-hover);
  --splitHandle-background-active: var(--salt-separable-background-active);
}


div[data-resize-handle][data-resize-handle-state="hover"] {
  background: var(--splitHandle-background-hover);
}

div[data-resize-handle][data-resize-handle-state="drag"] {
  --splitHandle-background: var(--splitHandle-background-active);
}

div[data-resize-handle][data-panel-group-direction="horizontal"] {
  flex-direction: column;
  width: var(--splitHandle-size);
}

div[data-resize-handle][data-panel-group-direction="vertical"] {
  flex-direction: row;
  height: var(--splitHandle-size);
}

div[data-resize-handle]::after {
  fill: var(--splitHandle-dot-background);
  background: var(--splitHandle-dot-background);
}

div[data-resize-handle][data-resize-handle-state="hover"]::after {
  fill: var(--splitHandle-dot-background-hover);
  background: var(--splitHandle-dot-background-hover);
}

div[data-resize-handle][data-resize-handle-state="drag"]::after {
  fill: var(--splitHandle-dot-background-active);
  background: var(--splitHandle-dot-background-active);
}


div[data-resize-handle][data-panel-group-direction="horizontal"]::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%3E%3Cpath%20d%3D%22M5%2011V9H7V11H5Z%22%20%2F%3E%3Cpath%20d%3D%22M5%207L5%205H7L7%207H5Z%22%20%2F%3E%3Cpath%20d%3D%22M5%201V3H7V1L5%201Z%22%20%2F%3E%3C%2Fsvg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%3E%3Cpath%20d%3D%22M5%2011V9H7V11H5Z%22%20%2F%3E%3Cpath%20d%3D%22M5%207L5%205H7L7%207H5Z%22%20%2F%3E%3Cpath%20d%3D%22M5%201V3H7V1L5%201Z%22%20%2F%3E%3C%2Fsvg%3E");
  height: max(var(--salt-size-icon, 12px), 12px);
  width: max(var(--salt-size-icon, 12px), 12px);
  align-self: center;
}

div[data-resize-handle][data-panel-group-direction="vertical"]::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%3E%3Cpath%20d%3D%22M5%2011V9H7V11H5Z%22%20%2F%3E%3Cpath%20d%3D%22M5%207L5%205H7L7%207H5Z%22%20%2F%3E%3Cpath%20d%3D%22M5%201V3H7V1L5%201Z%22%20%2F%3E%3C%2Fsvg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%3E%3Cpath%20d%3D%22M5%2011V9H7V11H5Z%22%20%2F%3E%3Cpath%20d%3D%22M5%207L5%205H7L7%207H5Z%22%20%2F%3E%3Cpath%20d%3D%22M5%201V3H7V1L5%201Z%22%20%2F%3E%3C%2Fsvg%3E");
  height: max(var(--salt-size-icon, 12px), 12px);
  width: max(var(--salt-size-icon, 12px), 12px);
  align-self: center;
  justify-self: center;
  rotate: 90deg;
}

div[data-resize-handle]:focus-visible {
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-color: var(--salt-focused-outlineColor);
  outline-offset: var(--salt-focused-outlineOffset);
}

div[data-resize-handle][data-panel-group-direction="vertical"]:not([data-salt-variant="transparent"]) {
  border-top-width: var(--splitHandle-borderWidth);
  border-top-color: var(--splitHandle-borderColor);
  border-top-style: var(--splitHandle-borderStyle);

  border-bottom-width: var(--splitHandle-borderWidth);
  border-bottom-color: var(--splitHandle-borderColor);
  border-bottom-style: var(--splitHandle-borderStyle);
}

div[data-resize-handle][data-panel-group-direction="vertical"][data-salt-border="top"] {
  border-top-width: var(--splitHandle-borderWidth);
  border-top-color: var(--splitHandle-borderColor);
  border-top-style: var(--splitHandle-borderStyle);

  border-bottom-width: var(--splitHandle-borderWidth);
  border-bottom-color: transparent;
  border-bottom-style: var(--splitHandle-borderStyle);
}

div[data-resize-handle][data-panel-group-direction="vertical"][data-salt-border="bottom"] {
  border-top-width: var(--splitHandle-borderWidth);
  border-top-color: transparent;
  border-top-style: var(--splitHandle-borderStyle);

  border-bottom-width: var(--splitHandle-borderWidth);
  border-bottom-color: var(--splitHandle-borderColor);
  border-bottom-style: var(--splitHandle-borderStyle);
}

div[data-resize-handle][data-panel-group-direction="horizontal"]:not([data-salt-variant="transparent"]) {
  border-left-width: var(--splitHandle-borderWidth);
  border-left-color: var(--splitHandle-borderColor);
  border-left-style: var(--splitHandle-borderStyle);

  border-right-width: var(--splitHandle-borderWidth);
  border-right-color: var(--splitHandle-borderColor);
  border-right-style: var(--splitHandle-borderStyle);
}


div[data-resize-handle][data-panel-group-direction="horizontal"][data-salt-border="left"] {
  border-left-width: var(--splitHandle-borderWidth);
  border-left-color: var(--splitHandle-borderColor);
  border-left-style: var(--splitHandle-borderStyle);

  border-right-width: var(--splitHandle-borderWidth);
  border-right-color: transparent;
  border-right-style: var(--splitHandle-borderStyle);
}

div[data-resize-handle][data-panel-group-direction="horizontal"][data-salt-border="right"] {
  border-left-width: var(--splitHandle-borderWidth);
  border-left-color: transparent;
  border-left-style: var(--splitHandle-borderStyle);

  border-right-width: var(--splitHandle-borderWidth);
  border-right-color: var(--splitHandle-borderColor);
  border-right-style: var(--splitHandle-borderStyle);
}

/* two handles touching horizontally */
div[data-resize-handle][data-panel-group-direction="horizontal"] + div[data-panel-size="0.0"] + div[data-resize-handle][data-panel-group-direction="horizontal"] {
  margin-left: -1px;
}

/* two handles touching vertically */
div[data-resize-handle][data-panel-group-direction="vertical"] + div[data-panel-size="0.0"] + div[data-resize-handle][data-panel-group-direction="vertical"] {
  margin-top: -1px;
}

/* handle touching the side of a container */
@supports selector(:has(*)) {
  div[data-resize-handle]:first-of-type[data-panel-size="0.0"] + .saltSplitHandle-bordered[data-panel-group-direction="horizontal"] {
    margin-left: -1px;
  }

  div[data-resize-handle]:first-of-type[data-panel-size="0.0"] + .saltSplitHandle-bordered[data-panel-group-direction="vertical"] {
    margin-top: -1px;
  }

  .saltSplitHandle-bordered[data-panel-group-direction="horizontal"]:has(+ .saltSplitPanel:last-of-type[data-panel-size="0.0"]) {
    margin-right: -1px;
  }

  .saltSplitHandle-bordered[data-panel-group-direction="vertical"]:has(+ .saltSplitPanel:last-of-type[data-panel-size="0.0"]) {
    margin-bottom: -1px;
  }
}

.saltSplitHandle-dot {
  background: var(--splitHandle-dot-background);
}

.saltSplitHandle[data-resize-handle-state="hover"] > .saltSplitHandle-dot {
  background: var(--splitHandle-dot-background-hover);
}

.saltSplitHandle[data-resize-handle-state="drag"] > .saltSplitHandle-dot {
  background: var(--splitHandle-dot-background-active);
}

.saltSplitHandle[data-panel-group-direction="horizontal"] > .saltSplitHandle-dot {
  width: 2px;
  height: 1px;
}

.saltSplitHandle[data-panel-group-direction="vertical"] > .saltSplitHandle-dot {
  height: 2px;
  width: 1px;
}
