.uitkGridLayout {
  --grid-layout-gap: var(--uitk-spacing-unit);
}

.uitkGridLayout {
  display: grid;
  column-gap: calc(var(--grid-layout-gap) * var(--grid-layout-column-gap));
  row-gap: calc(var(--grid-layout-gap) * var(--grid-layout-row-gap));
}
