/* Styles applied to the root element dependent on density */
.uitk-density-touch .uitkInput {
  --input-button-inset: 4px;
}
.uitk-density-low .uitkInput {
  --input-button-inset: 4px;
}
.uitk-density-medium .uitkInput {
  --input-button-inset: 2px;
}
.uitk-density-high .uitkInput {
  --input-button-inset: 2px;
}

/* Style applied to the root element */
.uitkInput {
  align-items: center;
  background: var(--uitkInput-background, none);
  border: var(--uitkInput-border, none);
  border-radius: var(--uitkInput-borderRadius, 0);
  box-sizing: border-box;
  color: var(--uitkInput-text-color, var(--uitk-text-primary-foreground));
  cursor: var(--uitkInput-cursor, default);
  display: inline-flex;
  font-family: var(--uitkInput-fontFamily, var(--uitk-typography-fontFamily));
  font-size: var(--uitkInput-fontSize, var(--uitk-text-fontSize));
  height: var(--uitkInput-height, var(--uitk-size-base));
  letter-spacing: var(--uitkInput-letterSpacing, 0);
  line-height: var(--uitk-typography-lineHeight);
  min-height: var(--uitkInput-minHeight, var(--uitk-size-base));
  min-width: var(--uitkInput-minWidth, 8em);
  padding: var(--uitkInput-padding, 0 var(--uitk-size-unit));
  position: var(--uitkInput-position, relative);
  width: 100%;
}

/* Reset in the next class */
.uitkInput-input:focus {
  outline: none;
}

/* Pseudo-class applied to the root element when focused */
.uitkInput-focused {
  outline-style: var(--uitkInput-focused-outlineStyle, var(--uitk-focused-outlineStyle));
  outline-width: var(--uitkInput-focused-outlineWidth, var(--uitk-focused-outlineWidth));
  outline-color: var(--uitkInput-focused-outlineColor, var(--uitk-focused-outlineColor));
  outline-offset: var(--uitkInput-focused-outlineOffset, var(--uitk-focused-outlineOffset));
}

/* Style applied to selected input */
.uitkInput-input::selection {
  background-color: var(--uitkInput-highlight-color, var(--uitk-text-background-selected));
}

/* Style applied to inner input component */
.uitkInput-input {
  background: var(--uitkInput-background, none);
  border: none;
  box-sizing: content-box;
  color: inherit;
  display: block;
  flex: 1;
  font: inherit;
  letter-spacing: inherit;
  margin: 0;
  min-width: 0;
  overflow: hidden;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Style applied to input if `disabled={true}` */
.uitkInput-disabled .uitkInput-input {
  cursor: var(--uitk-editable-cursor-disabled);
  opacity: var(--uitk-opacity-foreground);
}

/* Style applied to adornment containers */
.uitkInput-suffixContainer,
.uitkInput-prefixContainer {
  display: flex;
  align-items: center;

  height: var(--uitk-size-adornment);
}

/* Style applied to root element with start adornment */
.uitkInput-inputAdornedStart {
  padding-left: var(--uitkInput-adornedStart-padding, 0);
}

/* Style applied to inner input element with start adornment */
.uitkInput-inputAdornedStart .uitkInput-input {
  padding-left: var(--uitkInput-adornedStart-input-padding, var(--uitk-size-unit));
}

/* Style applied to root element with end adornment */
.uitkInput-inputAdornedEnd {
  padding-right: var(--uitkInput-adornedEnd-padding, 0);
}

/* Style applied to inner input element with end adornment */
.uitkInput-inputAdornedEnd .uitkInput-input {
  padding-right: var(--uitkInput-adornedEnd-input-padding, var(--uitk-size-unit));
}

/* Style applied to uitk Button used within Input component adornments */
.uitkInput .uitkInput-suffixContainer > .uitkButton,
.uitkInput .uitkInput-prefixContainer > .uitkButton {
  height: calc(var(--uitkButton-height, var(--uitk-size-base)) - (var(--input-button-inset) * 2));
  margin: var(--input-button-inset);
  padding: 0 calc(var(--uitk-size-unit) - var(--input-button-inset));
}

/* Style applied if `textAlign={"left"}` */
.uitkInput-leftTextAlign .uitkInput-input {
  text-align: left;
}

/* Style applied if `textAlign={"center"}` */
.uitkInput-centerTextAlign .uitkInput-input {
  text-align: center;
}

/* Style applied if `textAlign={"right"}` */
.uitkInput-rightTextAlign .uitkInput-input {
  text-align: right;
}

/* Style applied if `inFormField={true}` */
.uitkInput-formField {
  min-width: var(--uitkFormField-input-min-width, 0px);
  width: 100%;
}
