.saltStaticInputAdornment {
  --input-staticAdornment-padding: var(--salt-size-unit);
}

.saltStaticInputAdornment {
  display: flex;
  align-items: center;
}

.saltInput-prefixContainer .saltStaticInputAdornment {
  padding-left: var(--input-staticAdornment-padding);
}

.saltInput-suffixContainer .saltStaticInputAdornment {
  padding-right: var(--input-staticAdornment-padding);
}
