.salt-density-touch {
  --flexLayout-gap-density-multiplier: 2;
}

/* Default variables applied to the root element */
.saltFlexLayout {
  --flexLayout-gap-multiplier: var(--flexLayout-gap-density-multiplier, 3);
  --flexLayout-layout-display: flex;
  --flexLayout-direction: row;
  --flexLayout-wrap: nowrap;
  --flexLayout-justify: flex-start;
  --flexLayout-align: stretch;
  --flexLayout-gap: calc(var(--salt-size-unit) * var(--flexLayout-gap-multiplier));
}

/* Style applied to the root element */
.saltFlexLayout {
  gap: var(--flexLayout-gap);
  display: var(--flexLayout-layout-display);
  flex-direction: var(--flexLayout-direction);
  flex-wrap: var(--flexLayout-wrap);
  justify-content: var(--flexLayout-justify);
  align-items: var(--flexLayout-align);
}
