.uitkBreadcrumbs-ol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  gap: var(--uitk-size-unit);
}

.uitkBreadcrumbs-li {
  flex: 0 1 auto;
  list-style: none;
}

.uitkBreadcrumbs-separator {
  display: flex;
  user-select: none;
}

.uitkBreadcrumbs-ol-wrap {
  flex-wrap: wrap;
}

.backwardsCompat .uitkBreadcrumbs-ol {
  gap: 0;
}

.backwardsCompat .uitkBreadcrumbs-li {
  padding: 2px;
}

.backwardsCompat .uitkBreadcrumbs-li,
.backwardsCompat .uitkBreadcrumbs-separator {
  margin-right: 6px;
}
