.uitkBreadcrumb {
  --breadcrumbs-color: var(--uitkBreadcrumbs-color, var(--uitk-actionable-primary-foreground));
  --breadcrumbs-color-hover: var(--uitkBreadcrumbs-color-hover, var(--uitk-actionable-primary-foreground-hover));
  --breadcrumbs-color-active: var(--uitkBreadcrumbs-color-active, var(--uitk-actionable-primary-foreground-active));
  --breadcrumbs-icon-color: var(--uitkBreadcrumbs-icon-color, var(--breadcrumbs-color));
}

.uitkBreadcrumb {
  padding: 0px;
}

.uitkBreadcrumb-regular {
  display: flex;
  gap: calc(var(--uitk-size-unit) / 2);
  align-items: center;
  color: var(--breadcrumbs-color);
}

.uitkBreadcrumb-regular:visited {
  color: currentColor;
}

.uitkBreadcrumb-regular:visited .uitkBreadcrumb-icon {
  color: currentColor;
}

.uitkBreadcrumb-regular:hover {
  color: var(--breadcrumbs-color-hover);
}

.uitkBreadcrumb-regular:hover .uitkBreadcrumb-icon {
  color: var(--breadcrumbs-color-hover);
}

.uitkBreadcrumb-regular:active {
  color: var(--breadcrumbs-color-active);
}

.uitkBreadcrumb-regular:active .uitkBreadcrumb-icon {
  color: var(--breadcrumbs-color-active);
}

.uitkBreadcrumb-currentLevel {
  color: var(--breadcrumbs-color);
}

.uitkBreadcrumb-icon {
  color: var(--breadcrumbs-icon-color);
}

.uitkBreadcrumb-justifyContentCenter {
  justify-content: center;
}

.uitkBreadcrumb-text {
  text-decoration: underline;
}

/* --- backwards compatible --- */

.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumb {
  padding: 0px;
}
.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumb-icon {
  margin-left: 1px;
}
.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumb-icon:only-child {
  margin: 0;
}
