.uitkBreadcrumbs-ol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  gap: var(--uitk-size-unit);
}

.uitkBreadcrumbs-li {
  flex: 0 1 auto;
  list-style: none;
}

.uitkBreadcrumbs-separator {
  display: flex;
  user-select: none;
}

.uitkBreadcrumbs-ol-wrap {
  flex-wrap: wrap;
}

/* TK1 backwards compat styling */

.uitk-density-high {
  --backwardsCompat-breadcrumbs-li-marginRight: 2px;
}
.uitk-density-medium {
  --backwardsCompat-breadcrumbs-li-marginRight: 6px;
}
.uitk-density-low {
  --backwardsCompat-breadcrumbs-li-marginRight: 10px;
}
.uitk-density-touch {
  --backwardsCompat-breadcrumbs-li-marginRight: 14px;
}

.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumbs-ol {
  gap: 0;
}
.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumbs-ol-wrap li:not(:last-child) {
  margin-bottom: calc(var(--uitk-size-unit) / 2 - 2px);
}
.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumbs-li {
  padding: 2px;
}
.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumbs-ol li {
  margin-right: var(--backwardsCompat-breadcrumbs-li-marginRight);
}
