.uitkBreadcrumb {
  --breadcrumbs-crumb-color: var(--saltBreadcrumbs-crumb-color, var(--salt-actionable-primary-foreground));
  --breadcrumbs-crumb-color-hover: var(--saltBreadcrumbs-crumb-color-hover, var(--salt-actionable-primary-foreground-hover));
  --breadcrumbs-crumb-color-active: var(--saltBreadcrumbs-crumb-color-active, var(--salt-actionable-primary-foreground-active));
  --breadcrumbs-crumb-icon-color: var(--saltBreadcrumbs-crumb-icon-color, var(--breadcrumbs-crumb-color));
  --breadcrumbs-crumb-marginLeft: 0px;
}

.uitkBreadcrumb {
  padding: 0px;
}

.uitkBreadcrumb-regular {
  display: flex;
  gap: calc(var(--salt-size-unit) / 2);
  align-items: center;
  color: var(--breadcrumbs-crumb-color);
}

.uitkBreadcrumb-regular:visited {
  color: currentColor;
}

.uitkBreadcrumb-regular:visited .uitkBreadcrumb-icon {
  color: currentColor;
}

.uitkBreadcrumb-regular:hover {
  color: var(--breadcrumbs-crumb-color-hover);
}

.uitkBreadcrumb-regular:hover .uitkBreadcrumb-icon {
  color: var(--breadcrumbs-crumb-color-hover);
}

.uitkBreadcrumb-regular:active {
  color: var(--breadcrumbs-crumb-color-active);
}

.uitkBreadcrumb-regular:active .uitkBreadcrumb-icon {
  color: var(--breadcrumbs-crumb-color-active);
}

.uitkBreadcrumb-currentLevel {
  color: var(--breadcrumbs-crumb-color);
}

.uitkBreadcrumb-icon {
  color: var(--breadcrumbs-crumb-icon-color);
  margin-left: var(--saltBreadcrumbs-crumb-marginLeft, var(--breadcrumbs-crumb-marginLeft));
}

.uitkBreadcrumb-justifyContentCenter {
  justify-content: center;
}

.uitkBreadcrumb-text {
  text-decoration: underline;
}
