.uitkBreadcrumb {
  --color: var(--uitkBreadcrumb-color, var(--uitk-actionable-primary-foreground));
  --color-hover: var(--uitkBreadcrumb-color-hover, var(--uitk-actionable-primary-foreground-hover));
  --color-active: var(--uitkBreadcrumb-color-active, var(--uitk-actionable-primary-foreground-active));
  --icon-color: var(--uitkBreadcrumb-icon-color, var(--color));
}

.uitkBreadcrumb {
  padding: 0px;
}

.uitkBreadcrumb-regular {
  display: flex;
  gap: var(--uitk-size-unit);
  align-items: center;
  color: var(--color);
}

.uitkBreadcrumb-regular:visited {
  color: currentColor;
}

.uitkBreadcrumb-regular:visited .uitkBreadcrumb-icon {
  color: currentColor;
}

.uitkBreadcrumb-regular:hover {
  color: var(--color-hover);
}

.uitkBreadcrumb-regular:hover .uitkBreadcrumb-icon {
  color: var(--color-hover);
}

.uitkBreadcrumb-regular:active {
  color: var(--color-active);
}

.uitkBreadcrumb-regular:active .uitkBreadcrumb-icon {
  color: var(--color-active);
}

.uitkBreadcrumb-currentLevel {
  color: var(--color);
}

.uitkBreadcrumb-icon {
  color: var(--icon-color);
}

.uitkBreadcrumb-justifyContentCenter {
  justify-content: center;
}

.uitkBreadcrumb-text {
  text-decoration: underline;
}

/* --- backwards compatible --- */

.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumb {
  padding: 0px;
  gap: 0;
}

.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumb-icon {
  margin: 0 4px 0 1px;
}

.backwardsCompat.uitkBreadcrumbs .uitkBreadcrumb-icon:only-child {
  margin: 0;
}
