.saltSegmentedButtonGroup {
  display: flex;
  flex-direction: row;
  background: var(--button-background);
  gap: var(--salt-size-border);
}

.saltSegmentedButtonGroup > *:not(:last-child)::after {
  content: "";
  width: var(--salt-size-border);
  position: absolute;
  background: var(--button-background);
  right: calc(var(--salt-size-border) * -1);
  height: 100%;
}

.saltSegmentedButtonGroup > *:not(:first-child):before {
  content: "";
  width: var(--salt-size-border);
  position: absolute;
  background: var(--salt-separable-primary-borderColor);
  left: calc(var(--salt-size-border) * -1);
  padding-top: var(--salt-spacing-100);
  padding-bottom: var(--salt-spacing-100);
}
