.uitkGridCell {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;

  white-space: nowrap;
  position: relative;
  font-size: var(--grid-fontSize);
  font-weight: normal;

  outline: 0;
}

.uitkGridCell-selected {
  background: var(--grid-cell-background-selected);
}

.uitkGridCell-rowSeparator {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--grid-row-borderColor);
}

.uitkGridCell-topSeparator {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background-color: transparent;
  display: none;
}

.uitkGridTableRow-first .uitkGridCell-topSeparator {
  display: unset;
}

.uitkGridCell-columnSeparator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--grid-row-background);
}

.uitkGrid-columnSeparators .uitkGridCell-regularSeparator .uitkGridCell-columnSeparator {
  background-color: var(--grid-columnSeparator-color);
}

.uitkGrid-columnSeparators .uitkGridCell-pinnedSeparator .uitkGridCell-columnSeparator {
  background-color: var(--grid-columnSeparator-color);
}

.uitkGrid-pinnedSeparators .uitkGridCell-pinnedSeparator .uitkGridCell-columnSeparator {
  background-color: var(--grid-pinnedSeparator-color);
}

.uitkGridTableRow-selected.uitkGridTableRow-first .uitkGridCell-topSeparator {
  background-color: var(--grid-row-borderColor);
}

.uitkGridCell-body {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 1px;
  left: 0;
  background: var(--grid-row-background);
  border-right: solid 1px transparent;
}

.uitkGridTableRow-first .uitkGridCell-body {
  top: 1px;
}
