.uitkGridColumnDropTarget {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--grid-columnDropTarget-width);
  border: var(--grid-columnDropTarget-color);
  border-width: var(--grid-columnDropTarget-borderWidth);
  border-style: var(--grid-columnDropTarget-style);
}
