.saltGridCursor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

:focus .saltGridCursor {
  border-style: var(--grid-cursor-border-style);
  border-width: var(--grid-cursor-border-width);
  border-color: var(--grid-cursor-borderColor);
}
