.saltGridHeaderRow {
  height: var(--grid-row-height);
}

.saltGridHeaderRow th {
  border-style: solid;
  border-color: var(--grid-headerRowSeparator-color);
  border-width: 0 0 var(--grid-headerRowSeparator-height) 0;
}
