.uitkGridTableRow {
  height: var(--grid-row-height);
  /* Row border doesn't render properly in Chrome on Windows. Applying borders to cells */
  --grid-row-borderColor: var(--grid-rowSeparator-color);
  --grid-row-background: var(--grid-background);
}

.uitkGridTableRow th {
  border-style: solid;
  border-color: var(--grid-row-borderColor);
  border-width: var(--grid-rowSeparator-width) 0 0 0;
}

.uitkGridTableRow-divided {
  --grid-row-borderColor: var(--grid-rowSeparator-color-divided);
}

.uitkGridTableRow-zebra {
  --grid-row-background: var(--grid-zebraColor);
}

.uitkGridTableRow-hover {
  --grid-row-background: var(--grid-row-background-hover);
}

.uitkGridTableRow-selected {
  --grid-row-borderColor: var(--grid-row-borderColor-selected);
}

.uitkGridTableRow-followedBySelected {
  --grid-row-borderColor: var(--grid-row-borderColor-selected);
}

.uitkGridTableRow-zebra.uitkGridTableRow-selected {
  --grid-row-background: var(--grid-row-background-selected);
}

.uitkGridTableRow-zebra.uitkGridTableRow-hover {
  --grid-row-background: var(--grid-row-background-hover);
}

.uitkGridTableRow-zebra.uitkGridTableRow-selected.uitkGridTableRow-hover {
  --grid-row-background: var(--grid-row-background-hover);
}

.uitkGridTableRow-selected.uitkGridTableRow-hover {
  --grid-row-background: var(--grid-row-background-hover);
}
