.saltGridTableRow {
  height: var(--grid-row-height);
  /* Row border doesn't render properly in Chrome on Windows. Applying borders to cells */
  --grid-row-borderColor: var(--grid-rowSeparator-color);
  --grid-row-background: var(--grid-background);
}

.saltGridTableRow-first {
  height: calc(var(--grid-row-height) + 1px);
}

.saltGridTableRow th {
  border-style: solid;
  border-color: var(--grid-row-borderColor);
  border-width: var(--grid-rowSeparator-width) 0 0 0;
}

.saltGridTableRow-divided {
  --grid-row-borderColor: var(--grid-rowSeparator-color-divided);
}

.saltGridTableRow-zebra {
  --grid-row-background: var(--grid-zebraColor);
}

.saltGridTableRow-hover {
  --grid-row-background: var(--grid-row-background-hover);
}

.saltGridTableRow-selected {
  --grid-row-borderColor: var(--grid-row-borderColor-selected);
  --grid-row-background: var(--grid-row-background-selected);
}

.saltGridTableRow-selected .saltGridCell:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--grid-row-borderColor);
  z-index: var(--salt-zIndex-default);
}

.saltGridTableRow-zebra.saltGridTableRow-selected {
  --grid-row-background: var(--grid-row-background-selected);
}

.saltGridTableRow-zebra.saltGridTableRow-hover {
  --grid-row-background: var(--grid-row-background-hover);
}

.saltGridTableRow-zebra.saltGridTableRow-selected.saltGridTableRow-hover {
  --grid-row-background: var(--grid-row-background-hover);
}

.saltGridTableRow-selected.saltGridTableRow-hover {
  --grid-row-background: var(--grid-row-background-hover);
}

.saltGridTableRow-validationStatus-error,
.saltGridTableRow-validationStatus-error.saltGridTableRow-hover {
  --grid-row-background: var(--salt-status-error-background-emphasize);
}
.saltGridTableRow-validationStatus-warning,
.saltGridTableRow-validationStatus-warning.saltGridTableRow-hover {
  --grid-row-background: var(--salt-status-warning-background-emphasize);
}
.saltGridTableRow-validationStatus-success,
.saltGridTableRow-validationStatus-success.saltGridTableRow-hover {
  --grid-row-background: var(--salt-status-success-background-emphasize);
}

.saltGridTableRow-validationStatus-error.saltGridTableRow-selected {
  --grid-row-background: var(--salt-status-error-background-selected);
  --grid-row-borderColor: var(--salt-status-error-borderColor);
}
.saltGridTableRow-validationStatus-warning.saltGridTableRow-selected {
  --grid-row-background: var(--salt-status-warning-background-selected);
  --grid-row-borderColor: var(--salt-status-warning-borderColor);
}
.saltGridTableRow-validationStatus-success.saltGridTableRow-selected {
  --grid-row-background: var(--salt-status-success-background-selected);
  --grid-row-borderColor: var(--salt-status-success-borderColor);
}
