.uitkGridTopRightPart {
  position: absolute;
  top: 0;
  right: var(--grid-scrollBar-width);
  z-index: 2;
}

.uitkGridTopRightPart-raised {
  box-shadow: -6px 0 4px -4px var(--grid-shadow-color);
}

.uitkGridTopRightPart table {
  table-layout: fixed;

  width: var(--grid-rightPart-width);
  height: var(--grid-topPart-height);
}
