.salt-theme[data-mode="light"] {
  --site-tertiary-accent-green: var(--salt-color-green-500);
  --site-tertiary-accent-teal: var(--salt-color-teal-500);
  --site-tertiary-accent-blue: var(--salt-color-blue-500);
  --site-tertiary-accent-purple: var(--salt-color-purple-500);
  --site-tertiary-accent-red: var(--salt-color-red-500);
  --site-tertiary-accent-orange: var(--salt-color-orange-600);
}

.salt-theme[data-mode="dark"] {
  --site-tertiary-accent-green: var(--salt-color-green-20);
  --site-tertiary-accent-teal: var(--salt-color-teal-50);
  --site-tertiary-accent-blue: var(--salt-color-blue-50);
  --site-tertiary-accent-purple: var(--salt-color-purple-50);
  --site-tertiary-accent-red: var(--salt-color-red-50);
  --site-tertiary-accent-orange: var(--salt-color-orange-30);
  --color-dark-neutral-background-regular: var(--salt-palette-interact-primary-foreground-active);
}

.salt-theme[data-mode="light"],
.salt-theme[data-mode="dark"] {
  --salt-palette-text-fontFamily: var(--site-font-family);
  --salt-palette-text-fontFamily-heading: var(--site-font-family);
  --salt-palette-text-fontFamily-action: var(--site-font-family);
  --salt-palette-text-fontFamily-code: var(--site-font-family-code);
}
