.salt-theme[data-mode="light"] {
  --salt-palette-accent-foreground: var(--salt-color-white);
  --salt-palette-accent-foreground-informative: var(--salt-color-blue-600);
  --salt-palette-accent-foreground-informative-disabled: var(--salt-color-blue-600-40a);
}

.salt-theme[data-mode="dark"] {
  --salt-palette-accent-foreground: var(--salt-color-white);
  --salt-palette-accent-foreground-informative: var(--salt-color-blue-200);
  --salt-palette-accent-foreground-informative-disabled: var(--salt-color-blue-200-40a);
}

.salt-theme[data-brand="uitk"][data-mode="light"] {
  --salt-palette-accent: var(--salt-color-blue-500);
  --salt-palette-accent-disabled: var(--salt-color-blue-500-40a);
  --salt-palette-accent-strong: var(--salt-color-blue-600);
  --salt-palette-accent-strong-disabled: var(--salt-color-blue-600-40a);
  --salt-palette-accent-stronger: var(--salt-color-blue-700);
  --salt-palette-accent-stronger-disabled: var(--salt-color-blue-700-40a);
  --salt-palette-accent-strongest: var(--salt-color-blue-800);
  --salt-palette-accent-weak: var(--salt-color-blue-400);
  --salt-palette-accent-weaker: var(--salt-color-blue-200);
  --salt-palette-accent-weaker-disabled: var(--salt-color-blue-200-40a);
  --salt-palette-accent-weakest: var(--salt-color-blue-100);
  --salt-palette-accent-action-hover: var(--salt-color-blue-600);
  --salt-palette-accent-action-active: var(--salt-color-blue-800);
}

.salt-theme[data-brand="uitk"][data-mode="dark"] {
  --salt-palette-accent: var(--salt-color-blue-500);
  --salt-palette-accent-disabled: var(--salt-color-blue-500-40a);
  --salt-palette-accent-strong: var(--salt-color-blue-400);
  --salt-palette-accent-strong-disabled: var(--salt-color-blue-400-40a);
  --salt-palette-accent-stronger: var(--salt-color-blue-300);
  --salt-palette-accent-stronger-disabled: var(--salt-color-blue-300-40a);
  --salt-palette-accent-strongest: var(--salt-color-blue-200);
  --salt-palette-accent-weak: var(--salt-color-blue-600);
  --salt-palette-accent-weaker: var(--salt-color-blue-800);
  --salt-palette-accent-weaker-disabled: var(--salt-color-blue-800-40a);
  --salt-palette-accent-weakest: var(--salt-color-blue-900);
  --salt-palette-accent-action-hover: var(--salt-color-blue-600);
  --salt-palette-accent-action-active: var(--salt-color-blue-800);
}
