.salt-theme,
.salt-theme[data-brand="uitk"] {
  --salt-palette-corner-weaker: var(--salt-curve-0);
  --salt-palette-corner-weak: var(--salt-curve-0);
  --salt-palette-corner: var(--salt-curve-0);
  --salt-palette-corner-strong: var(--salt-curve-0);
  --salt-palette-corner-stronger: var(--salt-curve-0);
  --salt-palette-corner-strongest: var(--salt-curve-999);
}
