.salt-theme[data-heading-font="Open Sans"],
.salt-theme[data-brand="uitk"] {
  --salt-palette-text-fontFamily: var(--salt-typography-fontFamily-openSans);
  --salt-palette-text-fontFamily-heading: var(--salt-typography-fontFamily-openSans);
  --salt-palette-text-fontFamily-code: var(--salt-typography-fontFamily-ptMono);
  --salt-palette-text-fontFamily-action: var(--salt-typography-fontFamily-openSans);

  --salt-palette-text-action-fontWeight: var(--salt-typography-fontWeight-semiBold);
  --salt-palette-text-action-fontWeight-small: var(--salt-typography-fontWeight-regular);
  --salt-palette-text-action-fontWeight-strong: var(--salt-typography-fontWeight-bold);

  --salt-palette-text-display-fontWeight: var(--salt-typography-fontWeight-semiBold);
  --salt-palette-text-display-fontWeight-small: var(--salt-typography-fontWeight-regular);
  --salt-palette-text-display-fontWeight-strong: var(--salt-typography-fontWeight-bold);

  --salt-palette-text-heading-fontWeight: var(--salt-typography-fontWeight-semiBold);
  --salt-palette-text-heading-fontWeight-small: var(--salt-typography-fontWeight-regular);
  --salt-palette-text-heading-fontWeight-strong: var(--salt-typography-fontWeight-bold);

  --salt-palette-text-body-fontWeight: var(--salt-typography-fontWeight-regular);
  --salt-palette-text-body-fontWeight-small: var(--salt-typography-fontWeight-light);
  --salt-palette-text-body-fontWeight-strong: var(--salt-typography-fontWeight-semiBold);

  --salt-palette-text-notation-fontWeight: var(--salt-typography-fontWeight-semiBold);
  --salt-palette-text-notation-fontWeight-small: var(--salt-typography-fontWeight-regular);
  --salt-palette-text-notation-fontWeight-strong: var(--salt-typography-fontWeight-bold);
}

/* Backwards compatibility for SaltProviderNext */
.salt-theme.salt-theme-next[data-heading-font="Amplitude"] {
  --salt-palette-text-fontFamily: var(--salt-typography-fontFamily-openSans);
  --salt-palette-text-fontFamily-heading: var(--salt-typography-fontFamily-amplitude);
  --salt-palette-text-fontFamily-code: var(--salt-typography-fontFamily-ptMono);
  --salt-palette-text-fontFamily-action: var(--salt-typography-fontFamily-amplitude);

  --salt-palette-text-action-fontWeight: var(--salt-typography-fontWeight-medium);
  --salt-palette-text-action-fontWeight-small: var(--salt-typography-fontWeight-regular);
  --salt-palette-text-action-fontWeight-strong: var(--salt-typography-fontWeight-bold);

  --salt-palette-text-display-fontWeight: var(--salt-typography-fontWeight-medium);
  --salt-palette-text-display-fontWeight-strong: var(--salt-typography-fontWeight-bold);
  --salt-palette-text-display-fontWeight-small: var(--salt-typography-fontWeight-regular);

  --salt-palette-text-heading-fontWeight: var(--salt-typography-fontWeight-medium);
  --salt-palette-text-heading-fontWeight-small: var(--salt-typography-fontWeight-regular);
  --salt-palette-text-heading-fontWeight-strong: var(--salt-typography-fontWeight-bold);

  --salt-palette-text-body-fontWeight: var(--salt-typography-fontWeight-regular);
  --salt-palette-text-body-fontWeight-small: var(--salt-typography-fontWeight-light);
  --salt-palette-text-body-fontWeight-strong: var(--salt-typography-fontWeight-semiBold);

  --salt-palette-text-notation-fontWeight: var(--salt-typography-fontWeight-semiBold);
  --salt-palette-text-notation-fontWeight-small: var(--salt-typography-fontWeight-regular);
  --salt-palette-text-notation-fontWeight-strong: var(--salt-typography-fontWeight-bold);
}

/* Backwards compatibility for SaltProviderNext */
.salt-theme.salt-theme-next[data-action-font="Open Sans"] {
  --salt-palette-text-fontFamily-action: var(--salt-typography-fontFamily-openSans);

  --salt-palette-text-action-fontWeight: var(--salt-typography-fontWeight-semiBold);
}

/* Backwards compatibility for SaltProviderNext */
.salt-theme.salt-theme-next[data-action-font="Amplitude"] {
  --salt-palette-text-fontFamily-action: var(--salt-typography-fontFamily-amplitude);

  --salt-palette-text-action-fontWeight: var(--salt-typography-fontWeight-medium);
}