.saltCollapsiblePanel {
  display: grid;
  transition:
    grid-template-rows var(--salt-duration-perceptible) ease-in-out,
    opacity var(--salt-duration-perceptible) ease-in-out,
    visibility var(--salt-duration-perceptible) ease-in-out;
}

.saltCollapsiblePanel[aria-hidden="true"] {
  grid-template-rows: 0fr;
  opacity: 0;
  visibility: hidden;
}

.saltCollapsiblePanel {
  grid-template-rows: 1fr;
  opacity: 1;
  visibility: visible;
}

.saltCollapsiblePanel-inner {
  overflow: hidden;
}
