.saltSliderThumb {
  width: var(--salt-size-indicator);
  height: var(--salt-size-selectable);
  background: var(--slider-selection-color);
}

.saltSliderThumb-selectionArea {
  /* Should the selection area be related to the size of the step ? */
  grid-row: 1;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(-0.5 * var(--salt-size-base));
  margin-left: calc(-0.5 * var(--salt-size-base));
  width: var(--salt-size-base);
  height: var(--salt-size-base);
}

.saltSliderThumb:focus-visible {
  outline-style: var(--slider-handle-outlineStyle);
  outline-width: var(--slider-handle-outlineWidth);
  outline-offset: var(--slider-handle-outlineOffset);
}
