/* the Tabstrip Activation Indicator, uses navigable styles */
.uitkTabstrip-activationIndicator {
  --activation-indicator-transition-duration: 0.2s;
  --activation-indicator-transition-property: var(--tabstrip-activation-indicator-transition-property, left);
  border: var(--uitkTabstrip-activationIndicator-border, var(--uitk-navigable-border));
  border-style: var(--tabstrip-activation-indicator-border-style);
  box-sizing: border-box;
  height: var(--tabstrip-activation-indicator-height, auto);
  inset: var(--tabstrip-activation-indicator-inset);
  position: absolute;
  width: var(--tabstrip-activation-indicator-width, auto);
}

/* the Active Tab indicator, uses navigable styles */
.uitkTabstrip-activationIndicatorThumb {
  inset: var(--tabstrip-activation-thumb-inset);
  position: absolute;
  height: var(--tabstrip-activation-thumb-height, auto);
  background-color: var(--uitk-navigable-indicator-color-active);
  transition: var(--uitkActivationIndicator-transition, var(--activation-indicator-transition-property) var(--activation-indicator-transition-duration) ease);
  width: var(--tabstrip-activation-thumb-width, auto);
  z-index: 1;
}
