.uitkDropdown {
  --saltIcon-margin: 2px 0 0 8px;
  display: inline-block;
  line-height: 0;
  position: relative;
}

.uitkDropdown-fullWidth {
  width: 100%;
}

.uitkDropdown-popup {
  background: var(--salt-container-primary-background);
  z-index: calc(var(--salt-zIndex-flyover) - 1);
}
