.uitkDropdownButton {
  --uitkButton-textTransform: none;
  --uitkButton-secondary-background-hover: var(--uitk-actionable-secondary-background);
  --uitkButton-secondary-background-active: var(--uitk-actionable-secondary-background);
  --uitkButton-secondary-text-color-active: var(--uitk-actionable-secondary-foreground);

  /* Fonts, Text */
  --uitkButton-secondary-font-weight: var(--uitk-typography-weight-medium);
  --uitkButton-textAlign: left;
}

.uitkDropdownButton:active {
  --uitkIcon-color: var(--uitk-actionable-secondary-foreground);
}

.uitkDropdownButton-fullwidth {
  width: 100%;
}

.uitkDropdownButton-icon {
  margin-top: 2px;
  padding-left: 8px;
}

.uitkDropdownButton-content {
  align-items: var(--uitkButton-alignItems, center);
  flex: 1;
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.uitkDropdownButton-buttonLabel {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* refactor to use FormField context to detect and apply focus like input? */
.uitkDropdownButton-formField.uitkButton:focus,
.uitkDropdownButton-formField.uitkButton:focus-visible {
  outline: none;
}

/* Backwards compat styling to match TK1 */
.backwardsCompat .uitkDropdownButton {
  letter-spacing: normal;
}
