.saltDropdownButton {
  --button-background-hover: var(--salt-actionable-secondary-background);
  --button-background-active: var(--salt-actionable-secondary-background);
  font-weight: var(--salt-text-fontWeight-strong); /* TODO: Check with design */
  text-align: left;
  text-transform: none;
  width: 100%;
}

.saltDropdownButton:active {
  --saltIcon-color: var(--salt-actionable-secondary-foreground);
  --button-color-active: var(--salt-actionable-secondary-foreground);
}

.saltDropdownButton-fullwidth {
  width: 100%;
}

.saltDropdownButton-content {
  align-items: center;
  flex: 1;
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.saltDropdownButton-buttonLabel {
  display: inline-block;
  letter-spacing: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.saltDropdownButton-formField.saltButton:focus,
.saltDropdownButton-formField.saltButton:focus-visible {
  outline: none;
}
