
.salt-theme.salt-interim[data-mode="light"] {
  --salt-palette-foreground-primary: var(--salt-color-black);
  --salt-palette-foreground-primary-disabled: var(--salt-color-black-40a);
  --salt-palette-foreground-primary-alt: var(--salt-color-white);
  --salt-palette-foreground-secondary: var(--salt-color-dove-700);
  --salt-palette-foreground-secondary-disabled: var(--salt-color-dove-700-40a);
}

.salt-theme.salt-interim[data-mode="dark"] {
  --salt-palette-foreground-primary: var(--salt-color-white);
  --salt-palette-foreground-primary-disabled: var(--salt-color-white-40a);
  --salt-palette-foreground-primary-alt: var(--salt-color-white);
  --salt-palette-foreground-secondary: var(--salt-color-gray-300);
  --salt-palette-foreground-secondary-disabled: var(--salt-color-gray-300-40a);
}
