.category1 {
  --saltCard-accent-color: var(--salt-category-1-borderColor);
}

.category2 {
  --saltCard-accent-color: var(--salt-category-2-borderColor);
}

.variantContainer {
  width: 100%;
  justify-content: center;
}

.variantCard {
  min-height: 144px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exampleGradient {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--salt-container-primary-background) 0%, var(--salt-container-secondary-background) 100%);
}
