.category1 {
  --saltCard-accentColor: rgb(70, 118, 191);
}

.category1:hover {
  --saltCard-accentColor: rgb(35, 77, 140);
}

.category2 {
  --saltCard-accentColor: rgb(171, 101, 40);
}

.category2:hover {
  --saltCard-accentColor: rgb(133, 72, 20);
}
