.category1 {
  --saltCard-accent-color: rgb(70, 118, 191);
}

.category1:hover {
  --saltCard-accent-color: rgb(35, 77, 140);
}

.category2 {
  --saltCard-accent-color: rgb(171, 101, 40);
}

.category2:hover {
  --saltCard-accent-color: rgb(133, 72, 20);
}

.variantContainer {
  width: 100%;
  justify-content: center;
}

.variantCard {
  height: 144px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alphaCard {
  height: 144px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
