.uitkMenuTrigger {
  --button-open-color: var(--uitkMenuTrigger-button-open-color, var(--uitk-actionable-primary-foreground-active));
  --icon-margin-left: var(--uitkMenuTrigger-icon-margin-left, var(--uitk-size-unit));
}

.uitkMenuTrigger {
  display: inline-flex;
  line-height: 1;
}

.uitkMenuTrigger-buttonOpen {
  background: var(--uitkMenuTrigger-button-open-background, var(--uitk-actionable-primary-background-active));
  color: var(--button-open-color);
}

.uitkMenuTrigger-buttonOpen:not(:hover) .uitkMenuTrigger-caretIcon {
  color: var(--button-open-color);
}

.uitkMenuTrigger-buttonOpen:not(:hover) .uitkMenuTrigger-icon {
  color: var(--button-open-color);
}

.uitkMenuTrigger-icon {
}

.uitkMenuTrigger-caretIcon {
  margin-left: var(--icon-margin-left);
}
