.loadingItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--salt-text-fontWeight-small);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-secondary-borderColor);
  color: var(--salt-content-primary-foreground);
  background-color: var(--salt-container-secondary-background);
}

.loadingItem.loading {
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-secondary-borderColor-disabled);
  color: var(--salt-content-secondary-foreground);
  background-color: initial;
}
.loadingGrid {
  min-width: 300px;
  min-height: 200px;
}
