.uitkMenuButtonTrigger {
  --menuButton-trigger-open-color: var(--saltMenuButton-trigger-open-color, var(--salt-actionable-primary-foreground-active));
}

.uitkMenuButtonTrigger {
  display: inline-flex;
  line-height: 1;
}

.uitkMenuButtonTrigger-buttonOpen {
  background: var(--saltMenuButton-trigger-open-background, var(--salt-actionable-primary-background-active));
  color: var(--menuButton-trigger-open-color);
}

.uitkMenuButtonTrigger-buttonOpen:not(:hover) .uitkMenuButtonTrigger-caretIcon {
  color: var(--menuButton-trigger-open-color);
}

.uitkMenuButtonTrigger-buttonOpen:not(:hover) .uitkMenuButtonTrigger-icon {
  color: var(--menuButton-trigger-open-color);
}

.uitkMenuButtonTrigger-icon {
}

.uitkMenuButtonTrigger-caretIcon {
  --saltIcon-margin: 0 0 0 var(--salt-size-unit);
}
