.uitkDialog {
  --dialog-background: var(--uitkDialog-background, var(--uitk-container-background-medium));
  --dialog-borderBottomWidth: var(--uitkDialog-borderBottomWidth, 2px);
  --dialog-borderColor: var(--uitkDialog-borderColor, var(--uitk-container-borderColor-medium));
  --dialog-borderStyle: var(--uitkDialog-borderStyle, var(--uitk-container-borderStyle));
  --dialog-borderWidth: var(--uitkDialog-borderColor, var(--uitk-container-borderWidth));
  --dialog-boxShadow: var(--uitkDialog-boxShadow, var(--uitk-overlayable-shadow-modal));
  --dialog-margin: var(--uitkDialog-margin, calc(3 * var(--uitk-size-unit)));
  --dialog-padding: var(--uitkDialog-padding, calc(3 * var(--uitk-size-unit)));
}

.uitkDialog {
  background: var(--dialog-background);
  border-color: var(--dialog-borderColor);
  border-width: var(--dialog-borderWidth);
  border-style: var(--dialog-borderStyle);
  border-bottom-width: var(--dialog-borderBottomWidth);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  inset: 0; /* what does this do ? */
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: var(--dialog-padding);
  position: relative;
  box-shadow: var(--uitkDialog-boxShadow, var(--dialog-boxShadow));
  margin: var(--uitkDialog-margin, var(--dialog-margin));
}
