.uitk-density-touch .uitkDialogTitle {
  --dialog-title-fontSize: 26px;
}

.uitk-density-low .uitkDialogTitle {
  --dialog-title-fontSize: 24px;
}

.uitk-density-medium .uitkDialogTitle {
  --dialog-title-fontSize: 22px;
}

.uitk-density-high .uitkDialogTitle {
  --dialog-title-fontSize: 20px;
}

.uitkDialogTitle {
  --dialog-close-button-padding: var(--uitkDialogTitle-close-button-padding, var(--uitk-size-unit));
  --dialog-close-button-offset: var(--uitkDialogTitle-close-button-offset, calc(var(--dialog-padding) * -1));
  --dialog-title-lineHeight: var(--uitkDialogTitle-lineHeight, var(--uitk-text-lineHeight));
  --dialog-title-fontWeight: var(--uitkDialogTitle-fontWeight, var(--uitk-text-fontWeight-strong));
  --dialog-title-icon-marginRight: var(--uitkDialogTitle-icon-marginRight, 8px);
  --dialog-title-color: var(--uitkDialogTitle-color, var(--uitk-text-primary-foreground));
}

.uitkDialogTitle {
  display: flex;
  flex: 0 0 auto;
  font-size: var(--dialog-title-fontSize);
  font-weight: var(--dialog-title-fontWeight);
  min-height: 16px;
  position: relative;
  color: var(--dialog-title-color);
}

.uitkDialogTitle-close {
  position: absolute;
  padding-top: var(--dialog-close-button-padding);
  padding-bottom: var(--dialog-close-button-padding);
  right: var(--dialog-close-button-offset);
  top: var(--dialog-close-button-offset);
}

.uitkDialogTitle-stateIcon {
  margin-right: var(--dialog-title-icon-marginRight);
}
