.salt-density-touch {
  --dialog-title-fontSize: 26px;
}

.salt-density-low {
  --dialog-title-fontSize: 24px;
}

.salt-density-medium {
  --dialog-title-fontSize: 22px;
}

.salt-density-high {
  --dialog-title-fontSize: 20px;
}

.saltDialogTitle {
  --dialog-closeButton-padding: var(--saltDialog-closeButton-padding, var(--salt-size-unit));
  --dialog-closeButton-offset: var(--saltDialog-closeButton-offset, calc(var(--dialog-padding) * -1));

  --dialog-title-lineHeight: var(--saltDialog-title-lineHeight, var(--salt-text-lineHeight));
  --dialog-title-fontWeight: var(--saltDialog-title-fontWeight, var(--salt-text-fontWeight-strong));
  --dialog-title-icon-marginRight: var(--saltDialog-title-icon-marginRight, 8px);
  --dialog-title-color: var(--saltDialog-title-color, var(--salt-text-primary-foreground));
}

.saltDialogTitle {
  display: flex;
  flex: 0 0 auto;
  font-size: var(--dialog-title-fontSize);
  font-weight: var(--dialog-title-fontWeight);
  min-height: 16px;
  position: relative;
  color: var(--dialog-title-color);
}

.saltDialogTitle-close {
  position: absolute;
  padding-top: var(--dialog-closeButton-padding);
  padding-bottom: var(--dialog-closeButton-padding);
  right: var(--dialog-closeButton-offset);
  top: var(--dialog-closeButton-offset);
}

.saltDialogTitle-statusIndicator {
  margin-right: var(--dialog-title-icon-marginRight);
}
