.saltDialog {
  --dialog-background: var(--saltDialog-background, var(--salt-container-primary-background));
  --dialog-borderBottomWidth: var(--saltDialog-borderBottomWidth, 2px);
  --dialog-borderColor: var(--saltDialog-borderColor, var(--salt-container-primary-borderColor));
  --dialog-borderStyle: var(--saltDialog-borderStyle, var(--salt-container-borderStyle));
  --dialog-borderWidth: var(--saltDialog-borderColor, var(--salt-size-border));
  --dialog-boxShadow: var(--saltDialog-boxShadow, var(--salt-overlayable-shadow-modal));
  --dialog-margin: var(--saltDialog-margin, calc(3 * var(--salt-size-unit)));
  --dialog-padding: var(--saltDialog-padding, calc(3 * var(--salt-size-unit)));
}

.saltDialog {
  background: var(--dialog-background);
  border-color: var(--dialog-borderColor);
  border-width: var(--dialog-borderWidth);
  border-style: var(--dialog-borderStyle);
  border-bottom-width: var(--dialog-borderBottomWidth);
  display: flex;
  flex-direction: column;
  inset: 0; /* what does this do ? */
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: var(--dialog-padding);
  position: relative;
  box-shadow: var(--saltDialog-boxShadow, var(--dialog-boxShadow));
  margin: var(--saltDialog-margin, var(--dialog-margin));
}
