.saltDialogContent {
  color: var(--salt-foreground-primary);
  padding-left: var(--salt-spacing-300);
  padding-right: var(--salt-spacing-300);
  flex: 1 1 auto;
  min-height: var(--salt-text-lineHeight);
  font-size: var(--salt-text-fontSize);
  line-height: var(--salt-text-lineHeight);
  overflow-y: auto;
}
