.uitk-dark .uitkDialog {
  --dialog-border-color: var(--uitkDialog-border-color, var(--uitk-color-grey-400));
  --dialog-box-shadow: var(--uitkDialog-box-shadow, rgba(0, 0, 0, 0.65) 0px 12px 40px 5px);
}

.uitk-light .uitkDialog {
  --dialog-border-color: var(--uitkDialog-border-color, var(--uitk-container-border-color-medium));
  --dialog-box-shadow: var(--uitkDialog-box-shadow, rgba(0, 0, 0, 0.3) 0 12px 40px 5px);
}

.uitkDialog {
  --dialog-background-color: var(--uitkDialog-background-color, var(--uitk-container-background-medium));
  --dialog-border-width: var(--uitkDialog-border-color, var(--uitk-container-border-width));
  --dialog-border-bottom-width: var(--uitkDialog-border-bottom-width, 2px);
  --dialog-font-family: var(--uitkDialog-font-family, var(--uitk-typography-font-family));
  --dialog-padding: var(--uitkDialog-padding, calc(3 * var(--uitk-size-unit)));
  --dialog-border-style: var(--uitkDialog-border-style, var(--uitk-container-border-style));
  --dialog-margin: var(--uitkDialog-margin, calc(3 * var(--uitk-size-unit)));
}

.uitkDialog {
  background: var(--dialog-background-color);
  border-color: var(--dialog-border-color);
  border-width: var(--dialog-border-width);
  border-style: var(--dialog-border-style);
  border-bottom-width: var(--dialog-border-bottom-width);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--dialog-font-family);
  inset: 0; /* what does this do ? */
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: var(--dialog-padding);
  position: relative;
  box-shadow: var(--uitkDialog-box-shadow, var(--dialog-box-shadow));
  margin: var(--uitkDialog-margin, var(--dialog-margin));
}
