.uitkDialogContent {
  --dialog-content-fontSize: var(--uitkDialogContent-fontSize, var(--uitk-text-fontSize));
  --dialog-content-lineHeight: var(--uitkDialogContent-lineHeight, var(--uitk-text-lineHeight));
  --dialog-content-paddingTop: var(--uitkDialogContent-paddingTop, calc(var(--uitk-size-unit) * 2));
  --dialog-content-paddingBottom: var(--uitkDialogContent-paddingBottom, calc(var(--uitk-size-unit) * 3));
  --dialog-content-minHeight: var(--uitkDialogContent-minHeight, var(--dialog-content-fontSize));
  --dialog-content-color: var(--uitkDialogContent-color, var(--uitk-text-primary-foreground));
}

.uitkDialogContent {
  flex: 1 1 auto;
  overflow: visible;
  font-weight: var(--uitk-text-fontWeight);
  font-size: var(--dialog-content-fontSize);
  padding-top: var(--dialog-content-paddingTop);
  padding-bottom: var(--dialog-content-paddingBottom);
  min-height: var(--dialog-content-minHeight);
  line-height: var(--dialog-content-lineHeight);
  color: var(--dialog-content-color);
}

.uitkDialogContent-leftGutter {
  padding-left: 32px;
}
