/* Styles applied to root element */
.uitk-density-touch {
  --formLabel-top: 11px;
  --formLabel-minHeight: 16px;
}
.uitk-density-low {
  --formLabel-top: 7px;
}
.uitk-density-medium {
  --formLabel-top: 5px;
}
.uitk-density-high {
  --formLabel-top: 3px;
}

/* Styles applied to root element */
.uitk-density-medium .uitkFormField-labelLeft {
  --formLabel-top: 8px;
}
.uitk-density-touch .uitkFormField-labelLeft {
  --formLabel-top: 16px;
}
.uitk-density-low .uitkFormField-labelLeft {
  --formLabel-top: 12px;
}
.uitk-density-high .uitkFormField-labelLeft {
  --formLabel-top: 4px;
}

.uitkFormLabel {
  align-items: center;
  box-sizing: border-box;
  color: var(--uitkFormLabel-text-color, var(--uitk-text-secondary-foreground));
  display: block;
  font-size: var(--uitkFormLabel-fontSize, var(--uitk-text-caption-fontSize));
  margin-bottom: var(--uitkFormLabel-margin-Bottom, var(--formLabel-marginBottom));
  min-height: var(--uitkFormLabel-minHeight, var(--formLabel-minHeight, var(--uitk-text-caption-minHeight)));
  margin-top: var(--uitkFormLabel-marginTop, 0px);
  line-height: var(--uitkFormLabel-lineHeight, var(--uitk-typography-lineHeight));
  overflow: hidden;
  padding-left: var(--uitkFormLabel-paddingLeft, var(--formLabel-paddingLeft));
  padding-right: var(--uitkFormLabel-paddingRight, var(--formLabel-paddingRight));
  padding-top: var(--uitkFormLabel-paddingTop, 0);
  padding-bottom: var(--uitkFormLabel-paddingBottom, 0);
  text-overflow: ellipsis;
  top: var(--uitkFormLabel-top, var(--formLabel-top));
  transform: translate(var(--uitkFormLabel-transform-x, 0), var(--uitkFormLabel-transform-y, var(--formLabel-top)));
  white-space: nowrap;
  width: 100%;
}

/* Styles applied when `disabled={true}` */
.uitkFormLabel-disabled {
  cursor: var(--uitk-editable-cursor-disabled);
  opacity: var(--uitkFormLabel-opacity-disabled, var(--uitk-opacity-foreground));
}

/* Styles applied when displayedNecessity or necessityText provided */
.uitkFormLabel-necessityIndicator {
  font-style: italic;
  margin-left: 1ch;
}

/* Styles applied if `hasStatusIndicator={true}` */
.uitkFormLabel-statusIndicator {
  margin-left: 6px;
  vertical-align: top;
}
