/* Styles applied to the root element dependent on density */
.uitk-density-touch {
  --form-field-helper-text-margin-top: 8px;
  --form-field-activation-indicator-icon-size: 7px;
}
.uitk-density-low {
  --form-field-helper-text-margin-top: 4px;
  --form-field-activation-indicator-icon-size: 5px;
}
.uitk-density-medium {
  --form-field-helper-text-margin-top: 0px;
  --form-field-activation-indicator-icon-size: 5px;
}
.uitk-density-high {
  --form-field-helper-text-margin-top: 2px;
  --form-field-activation-indicator-icon-size: 3px;
}

/* above, if `fillWidth={true}` */
.uitk-density-touch .uitkFormField-fullWidth {
  --form-field-helper-text-margin-top: 5px;
}
.uitk-density-low .uitkFormField-fullWidth {
  --form-field-helper-text-margin-top: 5px;
}
.uitk-density-medium .uitkFormField-fullWidth {
  --form-field-helper-text-margin-top: 3px;
}
.uitk-density-high .uitkFormField-fullWidth {
  --form-field-helper-text-margin-top: 3px;
}

/* Style applied to the root element */
.uitkFormField {
  --activation-indicator-color: var(--uitkFormField-activation-indicator-color, var(--uitk-editable-border-color));
  --activation-indicator-size: var(--uitkFormField-activation-indicator-size, var(--uitk-editable-border-size));

  --form-field-background: var(--uitkFormField-background, var(--uitk-editable-background));
  --form-field-focus-outline-color: var(--uitkFormField-focus-outline-color, var(--uitk-focused-color));
  --form-field-focus-outline-style: var(--uitkFormField-focus-outline-style, var(--uitk-focused-outline-style));
  --form-field-focus-outline-width: var(--uitkFormField-focus-outline-width, var(--uitk-focused-line-width));
  --form-field-focus-outlineout-offset: var(--uitkFormField-focus-outline-offset, var(--uitk-focused-outline-offset));
  --form-field-font-size: var(--uitkFormField-font-size, var(--uitk-text-caption-font-size));
  --form-field-line-height: var(--uitkFormField-line-height, var(--uitk-text-line-height));

  --helper-text-color: var(--uitkFormField-helper-text-color, var(--uitk-text-secondary-color));
  --helper-text-margin-top: var(--uitkFormField-helper-text-margin-top, var(--form-field-helper-text-margin-top, 2px));
  --helper-text-height: 0px; /* TODO: Check if needed here */

  --form-field-label-padding: 0 8px;
}

.uitkFormField {
  box-sizing: border-box;
  border: 0;
  display: inline-grid;
  margin: var(--uitkFormField-margin, 0);
  padding: 0;
  position: relative;
  min-width: 0;
  vertical-align: top;
  width: var(--uitkFormField-width, auto);
}

/* Class applied to the root element on hover */
.uitkFormField:hover {
  --activation-indicator-color: var(--uitkFormField-activation-indicator-color-hover, var(--uitk-editable-border-color-hover));
}

.uitkFormField-focused,
.uitkFormField-lowFocused {
  --activation-indicator-color: var(--uitkFormField-activation-indicator-color-active, var(--uitk-editable-border-color-active));
  --activation-indicator-size: var(--uitkFormField-activation-indicator-color-active, var(--uitk-editable-border-size-active, 2px));
}

/* Class applied to the root element when helper text is provided */
.uitkFormField-withHelperText {
  --helper-text-height: var(--uitkFormField-helper-text-height, var(--form-field-line-height));
}

/* Class applied to the root element if `disabled={true}` */
.uitkFormField-disabled {
  --activation-indicator-opacity: var(--uitk-disabled-graphical-opacity);
  --activation-indicator-icon-opacity: var(--uitk-disabled-graphical-opacity);
  --helper-text-opacity: var(--uitk-disabled-text-opacity);
  cursor: var(--uitk-disabled-cursor);
}

/* Class applied to the root element on warning state */
.uitkFormField.uitkFormField-warning {
  --activation-indicator-color: var(--uitk-status-warning-color);
  --form-field-focus-outline-color: var(--uitk-status-warning-color);
}

/* Class applied to the root element on error state */
.uitkFormField.uitkFormField-error {
  --activation-indicator-color: var(--uitk-status-error-color);
  --form-field-focus-outline-color: var(--uitk-status-error-color);
}

/* As above when `emphasis="high"` */
.uitkEmphasisHigh.uitkFormField-error {
  --form-field-background: var(--uitk-status-error-background);
}

.uitkEmphasisHigh.uitkFormField-warning {
  --form-field-background: var(--uitk-status-warning-background);
}

/* Class applied to the root element if `labelPlacement="left"` */
.uitkFormField-labelLeft {
  --form-label-top: var(--uitk-spacing-unit);
  --form-label-padding: 0 calc(0.75 * var(--uitk-spacing-unit)) 0 0;
}

/* Class applied to the root element if `labelPlacement="top"` or labelPlacement omitted (default is 'top') */
.uitkFormField-labelTop {
  --form-field-label-root-padding-left: var(--uitk-spacing-unit);
  --form-field-label-root-padding-right: var(--uitk-spacing-unit);
  --form-field-label-margin-top: 0;
}

.uitkFormField > * {
  grid-column-start: 1;
  grid-column-end: 1;
}

.uitkFormField-labelLeft > .uitkFormLabel ~ * {
  grid-column-start: 2;
  grid-column-end: 2;
}

.uitkFormField-labelLeft {
  grid-template-columns: 1fr 1fr;
  transform: translate(0px, var(--uitk-spacing-unit));
}

/* Class applied to the root element if `fillWidth={true}` */
.uitkFormField-fullWidth {
  width: 100%;
}

/* Class applied to the root element when control has focus` */
.uitkFormField-focused:after {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(var(--helper-text-height) - var(--activation-indicator-size) + 1px);
  border-color: var(--form-field-focus-outline-color);
  border-style: var(--form-field-focus-outline-style);
  border-width: var(--form-field-focus-outline-width);
}

.uitkFormField-labelLeft.uitkFormField-focused:after {
  content: none;
}

.uitkFormField-labelLeft.uitkFormField-focused > :is(.uitkFormField-activationIndicator, .uitkFormField-helperText, .uitkFormLabel):after {
  content: none;
}

.uitkFormField-labelLeft.uitkFormField-focused > *:after {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(1px - var(--activation-indicator-size));
  border-color: #2670a9;
  border-style: dotted;
  border-width: 2px;
}

.uitkFormField-labelContainer {
  padding-left: var(--form-field-label-root-padding-left, 0);
  padding-right: var(--form-field-label-root-padding-right);
}

.uitkFormField-controlArea {
  position: relative;
  line-height: 1;
}

.uitkFormField-labelLeft .uitkFormField-labelContainer {
  display: inline-block;
  flex: 0 auto;
  padding-right: calc(0.75 * var(--uitk-spacing-unit));
}

/* Class applied to the helper text container */
.uitkFormField-helperText {
  color: var(--helper-text-color);
  font-size: var(--uitkFormField-help-text-font-size, var(--uitk-text-help-font-size));
  opacity: var(--helper-text-opacity, 1);
  padding-left: var(--uitk-spacing-unit);
  padding-right: var(--uitk-spacing-unit);
  margin-top: var(--helper-text-margin-top);
  line-height: var(--form-field-line-height);
  margin-bottom: 0;
  font-style: var(--helper-text-font-style, italic);
}

.uitkFormField-labelTop {
  background: linear-gradient(to top, transparent var(--helper-text-height), var(--form-field-background) var(--helper-text-height));
}

.uitkFormField-theme.uitkFormField-labelLeft > .uitkFormLabel ~ * {
  background: var(--form-field-background);
}

.uitkFormField-labelLeft > .uitkFormLabel ~ :not(.uitkFormField-helperText) {
  background: var(--form-field-background);
}

/* Class applied to the root element if `readonly={true}` */
.uitkFormField-readOnly {
}

/* Class applied to the root element if `validationState="error"` */
.uitkFormField-error {
}

/* Class applied to the root element if `validationState="warning"` */
.uitkFormField-warning {
}

/* Class applied to the Activation Indicator` */
.uitkFormField-activationIndicator {
}
