/* Styles applied to the root element dependent on density */

.uitk-density-medium {
  --form-field-helper-text-margin-top: 2px;
  --form-field-helper-text-transform: translate(0, 2px);
}
.uitk-density-touch {
  --form-field-helper-text-margin-top: 8px;
  --form-field-helper-text-transform: translate(0, -3px);
}
.uitk-density-low {
  --form-field-helper-text-margin-top: 4px;
  --form-field-helper-text-transform: translate(0, 1px);
}
.uitk-density-high {
  --form-field-helper-text-margin-top: 2px;
}

/* above, if `fillWidth={true}` */
.uitk-density-medium {
  --form-field-helper-text-margin-top-full-width: 3px;
}
.uitk-density-touch {
  --form-field-helper-text-margin-top-full-width: 5px;
}
.uitk-density-low {
  --form-field-helper-text-margin-top-full-width: 5px;
}
.uitk-density-high {
  --form-field-helper-text-margin-top-full-width: 3px;
}

.uitkFormField-fullWidth {
  --form-field-helper-text-transform: none;
}

/* Class applied to the helper text container */
.uitkFormFieldHelperText {
  color: var(--uitkFormFieldHelperText-color, var(--uitk-text-secondary-foreground));
  font-size: var(--uitkFormFieldHelperText-font-size, var(--uitk-text-help-fontSize));
  font-style: var(--uitkFormFieldHelperText-font-style, italic);
  letter-spacing: var(--uitkFormFieldHelperText-letter-spacing, 0);
  line-height: var(--uitkFormFieldHelperText-line-height, var(--uitk-text-caption-lineHeight));
  min-height: var(--uitkFormFieldHelperText-min-height, var(--uitk-text-help-minHeight));
  margin-bottom: var(--uitkFormFieldHelperText-margin-bottom, 0);
  margin-top: var(--uitkFormFieldHelperText-margin-top, var(--form-field-helper-text-margin-top-full-width, var(--form-field-helper-text-margin-top)));
  opacity: var(--uitkFormFieldHelperText-opacity, 1);
  padding-left: var(--uitkFormFieldHelperText-padding-left, var(--uitk-size-unit));
  padding-right: var(--uitkFormFieldHelperText-padding-right, var(--uitk-size-unit));
  transform: var(--uitkFormFieldHelperText-transform, var(--form-field-helper-text-transform, none));
}
