/* Class applied to the helper text container */
.uitkFormFieldHelperText {
  color: var(--uitkFormFieldHelperText-color, var(--uitk-text-secondary-color));
  font-size: var(--uitkFormFieldHelperText-font-size, var(--uitk-text-help-font-size));
  font-style: var(--uitkFormFieldHelperText-font-style, italic);
  line-height: var(--uitkFormField-line-height, var(--uitk-text-line-height));
  margin-bottom: 0;
  margin-top: var(--uitkFormFieldHelperText-margin-top, var(--form-field-helper-text-margin-top));
  opacity: var(--uitkFormFieldHelperText-opacity, 1);
  padding-left: var(--uitkFormFieldHelperText-padding-left, var(--uitk-spacing-unit));
  padding-right: var(--uitkFormFieldHelperText-padding-right, var(--uitk-spacing-unit));
}
