/* Styles applied to the Form Field label element */
.uitk-density-medium .uitkFormLabel {
  --form-label-padding-right: 8px;
  --form-label-margin-bottom: 6px;
  --form-label-transform: translate(0px, 5px);
}
.uitk-density-high .uitkFormLabel {
  --form-label-padding-right: 4px;
  --form-label-margin-bottom: 4px;
  --form-label-transform: translate(0px, 3px);
}
.uitk-density-low .uitkFormLabel {
  --form-label-padding-right: 12px;
  --form-label-margin-bottom: 9px;
  --form-label-transform: translate(0px, 7px);
}
.uitk-density-touch .uitkFormLabel {
  --form-label-padding-right: 16px;
  --form-label-margin-bottom: 12px;
  --form-label-transform: translate(0px, 11px);
}

.uitkFormLabel {
  align-items: center;
  box-sizing: border-box;
  color: var(--uitkFormLabel-text-color, var(--uitk-text-secondary-color));
  display: flex;
  font-size: var(--uitkFormLabel-font-size, var(--uitk-text-caption-font-size));
  margin-bottom: var(--uitkFormLabel-margin-bottom, var(--form-label-margin-bottom));
  margin-top: var(--uitkFormLabel-margin-top, 2px);
  line-height: var(--uitkFormLabel-line-height, var(--uitk-typography-line-height));
  padding-right: var(--uitkFormLabel-padding-right, var(--form-label-padding-right));
  text-overflow: ellipsis;
  transform: var(--uitkFormLabel-transform, var(--form-label-transform));
  white-space: nowrap;
  width: 100%;
}

/* Styles applied when `disabled={true}` */
.uitkFormLabel-disabled {
  cursor: var(--uitk-disabled-cursor);
  opacity: var(--uitk-disabled-text-opacity);
}

/* Styles applied when displayedNecessity or necessityText provided */
.uitkFormLabel-necessityIndicator {
  font-style: italic;
  margin-left: 1ch;
}

/* Styles applied when `hasStatusIndicator={true}` */
.uitkFormLabel-statusIndicator {
  margin-left: var(--uitk-spacing-unit);
}
