/* Style applied to the root element */
.uitkFormField {
  --form-field-background: var(--uitkFormField-background, var(--uitk-editable-background-medium));
  --form-field-focus-outline-color: var(--uitkFormField-focused-outline-color, var(--uitk-focused-outline-color));
  --form-field-focus-outline-offset: var(--uitkFormField-focused-outline-offset, var(--uitk-focused-outline-offset));
  --form-field-focus-outline-style: var(--uitkFormField-focused-outline-style, var(--uitk-focused-outline-style));
  --form-field-focus-outline-width: var(--uitkFormField-focused-outline-width, var(--uitk-focused-outline-width));
  --form-field-label-root-padding-left: 0;
  --form-field-label-root-padding-right: 0;
}

.uitkEmphasisLow.uitkFormField {
  --form-field-background: var(--uitk-editable-background-low);
}

.uitkEmphasisHigh.uitkFormField {
  --form-field-background: var(--uitk-editable-background-high);
}

.uitkFormField {
  box-sizing: border-box;
  border: 0;
  display: inline-grid;
  font-size: var(--uitkFormField-font-size, var(--uitk-text-font-size));
  height: var(--uitkFormField-height, fit-content);
  margin: var(--uitkFormField-margin, 0);
  min-width: var(--uitkFormField-min-width, 0);
  padding: var(--uitkFormField-padding, 0);
  position: relative;
  width: var(--uitkFormField-width, auto);
  vertical-align: top;
}

/* Class applied to the root element on hover
  Setting Activation Indicator API */
.uitkFormField:not(.uitkFormField-readOnly):not(.uitkFormField-disabled):hover {
  --uitkFormActivationIndicator-color: var(--uitk-editable-border-color-hover);
  --uitkFormActivationIndicator-icon-color: var(--uitk-editable-border-color-hover);
  --uitkFormActivationIndicator-width: var(--uitk-editable-border-width-hover);
}

.uitkFormField-focused,
.uitkFormField-lowFocused {
  --uitkFormActivationIndicator-color: var(--uitk-editable-border-color-active);
  --uitkFormActivationIndicator-icon-color: var(--uitk-editable-border-color-active);
  --uitkFormActivationIndicator-width: var(--uitk-editable-border-width-active);
}

/* Class applied to the root element on focus 
   Setting Activation Indicator API */
.uitkFormField:not(.uitkEmphasisLow) .uitkFormField-focused {
  outline-color: var(--form-field-focus-outline-color);
  outline-style: var(--form-field-focus-outline-style);
  outline-width: var(--form-field-focus-outline-width);
  outline-offset: var(--form-field-focus-outline-offset);
}

/* Class applied to the root element if `disabled={true}` */
.uitkFormField-disabled {
  cursor: var(--uitk-editable-cursor-disabled);

  /* Setting Helper Text API */
  --uitkFormFieldHelperText-opacity: var(--uitk-opacity-foreground);

  /* Setting Activation Indicator API */
  --uitkFormActivationIndicator-opacity: var(--uitk-opacity-foreground);
  --uitkFormActivationIndicator-icon-opacity: var(--uitk-opacity-foreground);
}

/* Class applied to the root element on warning state */
.uitkFormField-warning,
.uitkFormField-warning .uitkFormField-focused,
.uitkFormField-warning .uitkFormField-lowFocused {
  --form-field-focus-outline-color: var(--uitkFormField-focus-outline-color-warning, var(--uitk-status-warning-border-color));

  /* Setting Activation Indicator API */
  --uitkFormActivationIndicator-color: var(--uitk-status-warning-foreground);
  --uitkFormActivationIndicator-icon-color: var(--uitk-status-warning-foreground);
}

/* Class applied to the root element on error state */
.uitkFormField-error,
.uitkFormField-error .uitkFormField-focused,
.uitkFormField-error .uitkFormField-lowFocused {
  --form-field-focus-outline-color: var(--uitkFormField-focus-outline-color-error, var(--uitk-status-error-border-color));

  /* Setting Activation Indicator API */
  --uitkFormActivationIndicator-color: var(--uitk-status-error-foreground);
  --uitkFormActivationIndicator-icon-color: var(--uitk-status-error-foreground);
}

/* As above when `uitkEmphasisHigh` className passed */
.uitkEmphasisHigh .uitkFormField-error {
  --form-field-background: var(--uitkFormField-background-error-high, var(--uitk-status-error-background-high));
}

.uitkEmphasisHigh .uitkFormField-warning {
  --form-field-background: var(--uitkFormField-background-warning-high, var(--uitk-status-warning-background-high));
}

/* Class applied to the root element if `labelPlacement="left"` */
.uitkFormField-labelLeft {
  --uitkFormLabel-transform-y: var(--uitk-size-unit);
  --form-label-padding-right: calc(0.75 * var(--uitk-size-unit));
  --form-label-padding-left: 0px;
}

.uitkFormField-labelLeft .uitkFormField-controlWrapper {
  display: flex;
}

.uitkFormField-controlContainer {
  height: fit-content;
  position: relative;
}

.uitkFormField-controlWrapper {
  position: relative;
}

.uitkFormField-controlContainerBackground {
  background: var(--uitkFormField-background, var(--form-field-background));
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.uitkFormField:not(.uitkFormField-labelLeft) .uitkFormField-controlContainerBackground {
  position: absolute;
}

.uitk-density-medium .uitkFormField-labelTop {
  --form-label-margin-bottom: 2px;
}
.uitk-density-touch .uitkFormField-labelTop {
  --form-label-margin-bottom: 8px;
}
.uitk-density-low .uitkFormField-labelTop {
  --form-label-margin-bottom: 4px;
}
.uitk-density-high .uitkFormField-labelTop {
  --form-label-margin-bottom: 2px;
}

.uitkFormField-labelTop {
  --form-label-padding-left: var(--uitk-size-unit);
  --form-label-padding-right: var(--uitk-size-unit);
}

.uitkFormField > * {
  grid-column-start: 1;
  grid-column-end: 1;
}

.uitkFormLabel ~ * {
  z-index: 1;
}

.uitkFormField-labelLeft > .uitkFormLabel ~ * {
  grid-column-start: 2;
  grid-column-end: 2;
}

.uitkFormField-labelLeft {
  grid-template-columns: auto 1fr;
  --uitkFormLabel-position: static;
}

/* Class applied to the root element if `fillWidth={true}` */
.uitkFormField-fullWidth {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.uitkFormField-withHelperText {
  --uitkFormFieldHelperText-line-height: var(--uitk-typography-line-height);
}

.uitkFormField-labelLeft.uitkFormField-focused {
  outline: none;
}

.uitkFormField-labelLeft.uitkFormField-focused > :is(.uitkFormField-activationIndicator, .uitkFormField-helperText, .uitkFormLabel):after {
  content: none;
}

.uitkFormField-labelLeft.uitkFormField-focused .uitkFormLabel + * {
  outline-color: var(--form-field-focus-outline-color);
  outline-style: var(--form-field-focus-outline-style);
  outline-width: var(--form-field-focus-outline-width);
  outline-offset: var(--form-field-focus-outline-offset);
}

.uitkEmphasisLow.uitkFormField-labelLeft > .uitkFormLabel ~ * {
  background: var(--form-field-background);
}

.uitkFormField-labelLeft > .uitkFormLabel ~ :not(.uitkFormFieldHelperText) {
  background: var(--form-field-background);
}

/* Class applied to the root element if `readonly={true}` */
.uitkFormField-readOnly {
  --uitkFormActivationIndicator-color: var(--uitk-editable-border-color-readonly);
  --uitkFormActivationIndicator-border-width: var(--uitk-editable-border-width-readonly);
}

.uitkFormField-readOnly .uitkFormField-focused {
  --uitkFormActivationIndicator-color: var(--uitk-editable-border-color-readonly);
  --uitkFormActivationIndicator-border-width: var(--uitk-editable-border-width-active);
}
