.uitkFormActivationIndicator {
  height: 0px;
  width: 100%;
  position: relative;
}

.uitkFormActivationIndicator-bar {
  bottom: 0px;
  border-color: var(--uitkFormActivationIndicator-color, var(--uitk-editable-borderColor));
  border-bottom-width: var(--uitkFormActivationIndicator-size, var(--uitk-editable-borderWidth));
  border-bottom-style: var(--uitkFormActivationIndicator-style, var(--uitk-editable-borderStyle));
  height: 0;
  opacity: var(--uitkFormActivationIndicator-opacity, 1);
  position: absolute;
  width: 100%;
}

.uitkFormActivationIndicator-icon {
  width: var(--uitkFormActivationIndicator-icon-size, var(--uitk-size-unit));
  height: var(--uitkFormActivationIndicator-icon-size, var(--uitk-size-unit));
  fill: var(--uitkFormActivationIndicator-color, var(--uitk-status-info-iconColor));
  /** 
 * It's only a solid icon showing different color for validation states. 
 * Applying opacity instead of re-defining all colors.
 */
  opacity: var(--uitkFormActivationIndicator-icon-opacity, 1);
  position: absolute;
  bottom: 3px;
  right: 2px;
}
