/* Styles applied to the root element */
.saltCard {
  background: var(--saltCard-background, var(--salt-container-primary-background));
  box-shadow: var(--saltCard-boxShadow, var(--salt-overlayable-shadow));
  border-width: var(--salt-size-border);
  border-style: var(--salt-container-borderStyle);
  border-color: var(--salt-container-primary-borderColor);
  padding: var(--saltCard-padding, var(--salt-spacing-300));
}

/*
 * **Deprecated:** The following styles are deprecated
 *  Use Interactable Card component instead
 *  for interactable styling
 */

/* **Deprecated:** Styles applied if `interactable={true}` */
.saltCard-interactable {
  display: block;
  transition: none;
}

/* **Deprecated:** Styles applied on hover if `interactable={true}` */
a:focus .saltCard-interactable,
.saltCard-interactable:hover {
  box-shadow: var(--saltCard-boxShadow-hover, var(--salt-overlayable-shadow-hover));
  cursor: var(--saltCard-cursor-hover, var(--salt-selectable-cursor-hover));
  position: relative;
}

/* **Deprecated:** Styles applied on active state if `interactable={true}` */
.saltCard-interactable:active {
  box-shadow: var(--saltCard-boxShadow-active, var(--salt-overlayable-shadow-hover));
  outline: var(--salt-focused-outline);
  outline-offset: var(--salt-focused-outlineOffset);
}

/* **Deprecated:** Styles applied on hover if `interactable={true}` and `disabled={true}` */
a:focus .saltCard-interactable.saltCard-disabled,
.saltCard-interactable.saltCard-disabled:hover,
.saltCard-interactable.saltCard-disabled:active {
  box-shadow: var(--saltCard-boxShadow-disabled, var(--salt-overlayable-shadow));
}

/* **Deprecated:** Styles applied if `disabled={true}` */
.saltCard-disabled,
.saltCard-disabled.saltCard-interactable,
a:focus .saltCard-interactable.saltCard-disabled {
  border-color: var(--salt-container-primary-borderColor-disabled);
  color: var(--saltCard-color-disabled, var(--salt-text-primary-foreground-disabled));
  cursor: var(--saltCard-cursor-disabled, var(--salt-selectable-cursor-disabled));
  outline: none;
}

/* **Deprecated:** Styles applied to nested divs if `disabled={true}` */
.saltCard-disabled div {
  pointer-events: none;
}
