/* Style applied to the root element */
.saltInput {
  align-items: center;
  background: var(--saltInput-background, var(--input-background));
  border-radius: var(--salt-palette-corner-weak, 0);
  color: var(--saltInput-color, var(--salt-content-primary-foreground));
  display: inline-flex;
  font-family: var(--salt-text-fontFamily);
  font-size: var(--saltInput-fontSize, var(--salt-text-fontSize));
  line-height: var(--saltInput-lineHeight, var(--salt-text-lineHeight));
  letter-spacing: var(--salt-text-letterSpacing);
  height: var(--saltInput-height, var(--salt-size-base));
  min-height: var(--saltInput-minHeight, var(--salt-size-base));
  min-width: var(--saltInput-minWidth, 4em);
  padding-left: var(--saltInput-paddingLeft, var(--salt-spacing-100));
  padding-right: var(--saltInput-paddingRight, var(--salt-spacing-100));
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.saltInput:hover {
  background: var(--saltInput-background-hover, var(--input-background-hover));
  cursor: var(--salt-cursor-text);
}

/* Style applied if `bordered={true}` */
.saltInput-bordered.saltInput {
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--input-borderColor);
}

.saltInput-bordered.saltInput:hover {
  border-style: var(--salt-borderStyle-solid);
  border-color: var(--input-borderColor-hover);
}

.saltInput-bordered.saltInput-focused,
.saltInput-bordered.saltInput-focused:hover {
  border-style: var(--salt-borderStyle-solid);
  border-color: var(--input-borderColor-active);
}

.saltInput-bordered.saltInput-readOnly,
.saltInput-bordered.saltInput-readOnly:hover {
  border-style: var(--salt-borderStyle-solid);
  border-color: var(--salt-editable-borderColor-readonly);
}

.saltInput-bordered.saltInput-disabled,
.saltInput-bordered.saltInput-disabled:hover {
  border-style: var(--salt-borderStyle-solid);
  border-color: var(--salt-editable-borderColor-disabled);
}

.saltInput-activationIndicator {
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  border-bottom: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--input-borderColor);
}

.saltInput:hover .saltInput-activationIndicator {
  border-bottom-style: var(--salt-borderStyle-solid);
  border-bottom-color: var(--input-borderColor-hover);
}

.saltInput-focused .saltInput-activationIndicator,
.saltInput-focused:hover .saltInput-activationIndicator {
  border-bottom: var(--salt-size-fixed-200) var(--salt-borderStyle-solid) var(--input-borderColor-active);
}

.saltInput-readOnly .saltInput-activationIndicator,
.saltInput-readOnly:hover .saltInput-activationIndicator {
  border-bottom-style: var(--salt-borderStyle-solid);
  border-bottom-color: var(--salt-editable-borderColor-readonly);
}

.saltInput-disabled .saltInput-activationIndicator,
.saltInput-disabled:hover .saltInput-activationIndicator {
  border-bottom-style: var(--salt-borderStyle-solid);
  border-bottom-color: var(--salt-editable-borderColor-disabled);
}

.saltInput-bordered .saltInput-activationIndicator,
.saltInput-bordered.saltInput-readOnly .saltInput-activationIndicator,
.saltInput-bordered.saltInput-disabled:hover .saltInput-activationIndicator {
  border-bottom-width: 0;
}

.saltInput-bordered.saltInput-focused .saltInput-activationIndicator {
  /* Activation indicator width minus the border from the input. */
  border-bottom-width: var(--salt-size-fixed-100);
}

/* Class applied if `variant="primary"` */
.saltInput-primary {
  --input-background: var(--salt-editable-primary-background);
  --input-background-active: var(--salt-editable-primary-background-active);
  --input-background-hover: var(--salt-editable-primary-background-hover);
  --input-background-disabled: var(--salt-editable-primary-background-disabled);
  --input-background-readonly: var(--salt-editable-primary-background-readonly);
  --input-borderColor: var(--salt-editable-borderColor);
  --input-borderColor-active: var(--salt-editable-borderColor-active);
  --input-borderColor-hover: var(--salt-editable-borderColor-hover);
  --input-outlineColor: var(--salt-focused-outlineColor);
}

/* Class applied if `variant="secondary"` */
.saltInput-secondary {
  --input-background: var(--salt-editable-secondary-background);
  --input-background-active: var(--salt-editable-secondary-background-active);
  --input-background-hover: var(--salt-editable-secondary-background-active);
  --input-background-disabled: var(--salt-editable-secondary-background-disabled);
  --input-background-readonly: var(--salt-editable-secondary-background-readonly);
  --input-borderColor: var(--salt-editable-borderColor);
  --input-borderColor-active: var(--salt-editable-borderColor-active);
  --input-borderColor-hover: var(--salt-editable-borderColor-hover);
  --input-outlineColor: var(--salt-focused-outlineColor);
}

/* Style applied to input if `validationState="error"` */
.saltInput-error {
  --input-background: var(--salt-status-error-background);
  --input-background-active: var(--salt-status-error-background);
  --input-background-hover: var(--salt-status-error-background);
  --input-background-readonly: var(--salt-status-error-background);
  --input-borderColor: var(--salt-status-error-borderColor);
  --input-borderColor-active: var(--salt-status-error-borderColor);
  --input-borderColor-hover: var(--salt-status-error-borderColor);
  --input-outlineColor: var(--salt-status-error-borderColor);
}

/* Style applied to input if `validationState="warning"` */
.saltInput-warning {
  --input-background: var(--salt-status-warning-background);
  --input-background-active: var(--salt-status-warning-background);
  --input-background-hover: var(--salt-status-warning-background);
  --input-background-readonly: var(--salt-status-warning-background);
  --input-borderColor: var(--salt-status-warning-borderColor);
  --input-borderColor-active: var(--salt-status-warning-borderColor);
  --input-borderColor-hover: var(--salt-status-warning-borderColor);
  --input-outlineColor: var(--salt-status-warning-borderColor);
}

/* Style applied to input if `validationState="success"` */
.saltInput-success {
  --input-background: var(--salt-status-success-background);
  --input-background-active: var(--salt-status-success-background);
  --input-background-hover: var(--salt-status-success-background);
  --input-background-readonly: var(--salt-status-success-background);
  --input-borderColor: var(--salt-status-success-borderColor);
  --input-borderColor-active: var(--salt-status-success-borderColor);
  --input-borderColor-hover: var(--salt-status-success-borderColor);
  --input-outlineColor: var(--salt-status-success-borderColor);
}

/* Styling when focused */
.saltInput-focused,
.saltInput-focused:hover {
  background: var(--saltInput-background-active, var(--input-background-active));
  cursor: var(--salt-cursor-text);
  outline: var(--saltInput-outline, var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--input-outlineColor));
}

/* Style applied if `readOnly={true}` */
.saltInput.saltInput-readOnly {
  background: var(--input-background-readonly);
  cursor: var(--salt-cursor-readonly);
}

/* Style applied to input if `disabled={true}` */
.saltInput.saltInput-disabled,
.saltInput.saltInput-disabled:hover {
  background: var(--input-background-disabled);
  cursor: var(--salt-cursor-disabled);
  color: var(--saltInput-color-disabled, var(--salt-content-primary-foreground-disabled));
}

/* Style applied to start adornments */
.saltInput-startAdornmentContainer {
  align-items: center;
  display: inline-flex;
  padding-right: var(--salt-spacing-100);
  column-gap: var(--salt-spacing-100);
}

/* Style applied to end adornments */
.saltInput-endAdornmentContainer {
  align-items: center;
  display: inline-flex;
  padding-left: var(--salt-spacing-100);
  column-gap: var(--salt-spacing-100);
}

.saltInput-readOnly .saltInput-startAdornmentContainer {
  margin-left: var(--salt-spacing-50);
}

.saltInput-startAdornmentContainer .saltButton ~ .saltButton {
  margin-left: calc(-1 * var(--salt-spacing-50));
}

.saltInput-endAdornmentContainer .saltButton ~ .saltButton {
  margin-left: calc(-1 * var(--salt-spacing-50));
}

.saltInput-startAdornmentContainer .saltButton:first-child {
  margin-left: calc(var(--salt-spacing-50) * -1);
}

.saltInput-endAdornmentContainer .saltButton:last-child {
  margin-right: calc(var(--salt-spacing-50) * -1);
}

.saltInput-startAdornmentContainer > .saltButton,
.saltInput-endAdornmentContainer > .saltButton {
  --saltButton-padding: calc(var(--salt-spacing-50) - var(--button-borderWidth));
  --saltButton-height: calc(var(--salt-size-base) - var(--salt-spacing-100));
  --saltButton-borderRadius: var(--salt-palette-corner-weaker);
}

/* Style applied to inner input component */
.saltInput-input {
  background: none;
  border: none;
  box-sizing: content-box;
  color: inherit;
  cursor: inherit;
  display: block;
  flex: 1;
  font: inherit;
  height: 100%;
  letter-spacing: var(--saltInput-letterSpacing, 0);
  margin: 0;
  min-width: 0;
  overflow: hidden;
  padding: 0;
  text-align: var(--input-textAlign, left);
  width: 100%;
}

/* Reset in the  class */
.saltInput-input:focus {
  outline: none;
}

/* Style applied to placeholder text */
.saltInput-input::placeholder {
  color: var(--salt-content-secondary-foreground);
  font-weight: var(--salt-text-fontWeight-small);
}

/* Style applied to selected input if `disabled={true}` */
.saltInput-disabled .saltInput-input::selection {
  background: none;
}
