.uitkInputStaticAdornment {
  --adornment-padding: var(--uitk-size-unit);
}

.uitkInputStaticAdornment {
  display: flex;
  align-items: center;
}

.uitkInput-prefixContainer .uitkInputStaticAdornment {
  padding-left: var(--adornment-padding);
}

.uitkInput-suffixContainer .uitkInputStaticAdornment {
  padding-right: var(--adornment-padding);
}
