.saltMultilineInput {
    height: auto;
    padding: var(--salt-size-unit);
}

.saltMultilineInput-fullBorder {
    --saltInputNext-borderWidth: var(--salt-size-border);
    --saltInputNext-paddingLeft: var(--salt-size-unit);
}

.saltMultilineInput .saltInputNext-input {
    resize: none;
    height: unset;
}

.saltMultilineInput .saltStatusAdornment {
    bottom: calc(.5 * var(--salt-size-base));
    position: absolute;
    right: var(--salt-size-unit);
}