.alignButton {
  right: 0;
}

.table {
  width: unset;
}

.tooltip {
  display: none;
}

@media (max-width: 768px) {
  .viewColumn {
    display: none;
  }
  .tooltip {
    display: block;
  }
  .hideView {
    display: none;
  }
}
