.sidebarHeader {
  flex-shrink: 0;
}

/* TODO: remove these once we add our custom LayoutColumns and vertical nav */
.docsWrapper > div > div > div {
  max-width: none;
  padding: 0;
}

/* TODO: remove these once we add our custom LayoutColumns and vertical nav */
.docsWrapper > div > div > div > div {
  padding: 0;
  margin: 0;
}
