.root {
  max-width: 100vw;
  overflow-x: auto;
}

.table {
  display: inline-table;
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin-block: var(--salt-spacing-100);
}

.table tbody td {
  padding-block: var(--salt-spacing-100);
}

.table thead {
  color: var(--salt-content-secondary-foreground);
  font-weight: var(--salt-text-label-fontWeight-strong);
  font-size: var(--salt-text-label-fontSize);
  line-height: var(--salt-text-label-lineHeight);
  text-align: left;
  border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-separable-primary-borderColor);
}

.table tbody tr {
  border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-separable-tertiary-borderColor);
}

.table td,
.table th {
  height: calc(var(--salt-spacing-100) + var(--salt-size-base));
}

.table th,
.table td {
  padding-inline: var(--salt-spacing-100);
  position: relative;
}

.table th {
  white-space: nowrap;
}

.table tr th + th::before {
  content: "";
  height: calc(var(--salt-size-base) / 2 - 2 * var(--salt-size-border));
  border-left: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-separable-tertiary-borderColor);
  left: 0;
  position: absolute;
}
