.table {
  --table-data-padding: 0.75rem;
}

.table {
  display: inline-table;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

.table thead {
  position: sticky;
  top: var(--ifm-navbar-height);
  z-index: 2;
}

.table thead tr {
  border: none;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.table thead tr th {
  text-align: left;
  background: var(--salt-color-white);
}

.table th,
.table td {
  border: none;
  font-size: var(--salt-text-fontSize);
  padding: var(--table-data-padding);
}

.table tr {
  border-bottom: 1px solid var(--salt-separable-tertiary-borderColor);
  border-top: 1px solid var(--salt-separable-tertiary-borderColor);
}

.table th {
  color: var(--salt-foreground-secondary);
  font-weight: var(--salt-text-h4-fontWeight);
}

.table tr td:not(:last-child) {
  border-right: 1px solid var(--salt-separable-tertiary-borderColor);
}

.table tr th + th {
  border-left: 1px solid var(--salt-color-gray-90-fade-border-readonly);
}
