/* TODO check multiline styles */

.saltFormattedInput {
  --formattedInput-mask-color: var(--salt-foreground-secondary);
}

.saltFormattedInput-inputWrapper {
  position: relative;
  width: 100%;
  display: inline-flex;
}

.saltFormattedInput-mask {
  position: absolute;
  color: var(--formattedInput-mask-color);
  pointer-events: none;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}

.saltFormattedInput-mask i {
  color: transparent;
  opacity: 0;
  visibility: hidden;
  font: inherit;
}
