.saltValueEditor {
  width: 90%;
  flex-basis: 25%;
}
.saltValueEditor-input {
  padding: 0px 10px 2px 0px;
  width: 100%;
}

.saltValueEditor-inputWithColumns {
  width: 80px;
}

.saltValueEditor-jumpToFoundation {
  display: flex;
}

.saltValueEditor-jumpToFoundationNotColor {
  display: flex;
  align-items: flex-end;
}

.saltValueEditor-colorInput {
  display: flex;
  align-items: center;
  width: 100%;
}
