.saltCompactPaginator {
  flex-wrap: nowrap;
  display: flex;
  gap: var(--salt-spacing-100);
  align-items: center;
}

.saltCompactPaginator-arrowButton {
  --button-width: var(--salt-size-base);
  --button-height: var(--salt-size-base);
  --button-padding: var(--salt-spacing-100);
}
