.salt-density-high {
  --controlLabel-right-marginLeft: 3px;
  --controlLabel-right-marginRight: 0px;
}
.salt-density-medium {
  --controlLabel-right-marginLeft: 6px;
  --controlLabel-right-marginRight: 0px;
}
.salt-density-low {
  --controlLabel-right-marginLeft: 9px;
  --controlLabel-right-marginRight: 0px;
}
.salt-density-touch {
  --controlLabel-right-marginLeft: 12px;
  --controlLabel-right-marginRight: 0px;
}

/* Styles applied to root component */
.saltControlLabel {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
}

/* Styles applied to label */
.saltControlLabel-label,
.saltControlLabel-labelRight {
  --controlLabel-marginLeft: 0;
  --controlLabel-marginRight: calc(var(--salt-size-unit) / 1.5);

  color: var(--saltControlLabel-color, var(--salt-text-primary-foreground));
  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
  margin-left: var(--saltControlLabel-marginLeft, var(--controlLabel-marginLeft));
  margin-right: var(--saltControlLabel-marginRight, var(--controlLabel-marginRight));
  display: block;
}

/* Overrides on `labelPlacement="right"` */
.saltControlLabel-labelRight {
  --controlLabel-marginLeft: var(--saltControlLabel-right-marginLeft, var(--controlLabel-right-marginLeft));
  --controlLabel-marginRight: var(--saltControlLabel-right-marginRight, var(--controlLabel-right-marginRight));
}

/* Styles applied if `disabled={true}` or nested in FormField where `disabled={true}` */
.saltControlLabel-disabled,
.saltFormFieldLegacy-disabled .saltControlLabel {
  cursor: var(--salt-selectable-cursor-disabled);
}

/* Styles applied to label if `disabled={true}` */
.saltControlLabel-disabled .saltControlLabel-label {
  cursor: var(--salt-selectable-cursor-disabled);
  color: var(--saltControlLabel-color-disabled, var(--salt-text-primary-foreground-disabled));
}
