.uitkControlLabel {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  /* margin-top: var(--label-margin-top, 0);*/
}

.uitkControlLabel-label,
.uitkControlLabel-labelRight {
  color: var(--uitkControlLabel-color, var(--uitk-text-primary-foreground));
  font-family: var(--uitk-typography-fontFamily);
  font-size: var(--uitk-text-fontSize);
  font-weight: var(--uitk-typography-weight-regular);
  line-height: var(--uitk-typography-lineHeight);
  margin-right: calc(var(--uitk-size-unit) / 1.5);
  display: block;
}

.uitkControlLabel-disabled,
.uitkFormField-disabled .uitkControlLabel {
  cursor: var(--uitk-selectable-cursor-disabled);
}

.uitkControlLabel-disabled .uitkControlLabel-label {
  cursor: var(--uitk-selectable-cursor-disabled);
  color: var(--uitkControlLabel-color-disabled, var(--uitk-text-primary-foreground-disabled));
}

.uitk-density-medium .uitkControlLabel-labelRight {
  margin-left: 6px;
  margin-right: 0px;
}
.uitk-density-high .uitkControlLabel-labelRight {
  margin-left: 3px;
  margin-right: 0px;
}
.uitk-density-low .uitkControlLabel-labelRight {
  margin-left: 9px;
  margin-right: 0px;
}
.uitk-density-touch .uitkControlLabel-labelRight {
  margin-left: 12px;
  margin-right: 0px;
}

/* Backwards compatable styling for TK1 */
.uitk-density-medium .backwardsCompat .uitkControlLabel-label {
  margin-right: 6px;
}
.uitk-density-high .backwardsCompat .uitkControlLabel-label {
  margin-right: 4px;
}
.uitk-density-low .backwardsCompat .uitkControlLabel-label {
  margin-right: 9px;
}
.uitk-density-touch .backwardsCompat .uitkControlLabel-label {
  margin-right: 12px;
}

.backwardsCompat .uitkControlLabel-label {
  line-height: 1.3;
}
