.uitk-light .uitkControlLabel {
  --control-label-color: var(--uitk-color-grey-200);
}

.uitk-dark .uitkControlLabel {
  --control-label-color: var(--uitk-color-grey-80); /* TODO: Check color with design */
}

.uitkControlLabel {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  margin-top: var(--label-margin-top, 0);

  font-family: var(--uitk-typography-font-family);
  font-size: var(--uitk-text-font-size);
  font-weight: var(--uitk-typography-weight-regular);

  margin-right: var(--label-margin-right, 4px);
}

.uitkControlLabel-label {
  color: var(--control-label-color);
  line-height: var(--uitk-text-line-height);
  margin-left: var(--uitkControlLabel-margin-left, calc(var(--uitk-spacing-unit) / 2));
}

.uitkControlLabel-labelLeft {
  color: var(--control-label-color);
  line-height: var(--uitk-text-line-height);
  margin-left: 0px;
  margin-right: var(--uitkControlLabel-margin-left, var(--uitk-spacing-unit));
}

.uitkControlLabel-disabled {
  cursor: var(--uitk-disabled-cursor);
}

.uitkControlLabel-disabled .uitkControlLabel-label,
.uitkControlLabel-disabled .uitkControlLabel-labelLeft {
  cursor: var(--uitk-disabled-cursor);
  opacity: var(--uitk-disabled-text-opacity);
}
