.accordionWrapper table thead {
  position: inherit;
}

.accordionWrapper :global(.saltIcon) {
  --salt-size-icon: var(--salt-size-unit);
}

.accordionWrapper :global(.saltAccordion) {
  --accordion-section-padding: 0;
}

.summary {
  font-weight: var(--salt-typography-fontWeight-semiBold);
}
