.saltCircularProgress {
  --circularProgress-progressCircle-radius: calc(var(--salt-size-base) - (var(--salt-size-adornment) * 0.25));
  --circularProgress-progressCircle-circumference: calc(var( --circularProgress-progressCircle-radius) * 2 * PI);
  --circularProgress-railCircle-radius: calc(var(--salt-size-base) - (var(--salt-track-borderWidth) * 0.5));
  --circularProgress-railCircle-circumference: calc(var(--circularProgress-railCircle-radius) * 2 * PI);

  color: var(--salt-text-primary-foreground);
  display: inline-flex;
  position: relative;
}

.saltCircularProgress-disabled .saltCircularProgress-progressValue,
.saltCircularProgress-disabled circle {
  color: var(--salt-text-primary-foreground-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}

.saltCircularProgress-progressValue {
  align-items: center;
  color: var(--salt-text-primary-foreground);
  display: flex;
  font-size: var(--salt-text-label-fontSize);
  font-weight: var(--salt-text-label-fontWeight-strong);
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
}

.saltCircularProgress-disabled .saltCircularProgress-circle {
  stroke: var(--salt-accent-background-disabled);
}

.saltCircularProgress-disabled .saltCircularProgress-railCircle {
  stroke: var(--salt-track-borderColor-disabled);
}

.saltCircularProgress-railCircle {
  stroke: var(--salt-track-borderColor);
  stroke-width: var(--salt-track-borderWidth);
  r: var(--circularProgress-railCircle-radius);
}

.saltCircularProgress-container {
  display: inline-block;
}

.saltCircularProgress-svg {
  height: calc(var(--salt-size-base) * 2);
  width: calc(var(--salt-size-base) * 2);
  fill: var(--salt-accent-background);
  display: block;
}

.saltCircularProgress-circle {
  r: var(--circularProgress-progressCircle-radius);
  stroke-width: calc(var(--salt-size-adornment) * 0.5);
  stroke: var(--salt-accent-background);
  transition: stroke-dashoffset 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
