.saltCircularProgress {
  --circularProgress-gradient-color: var(--salt-measured-fill);

  color: var(--salt-text-primary-foreground);
  display: inline-flex;
  position: relative;
}

.saltCircularProgress-disabled .saltCircularProgress-progressValue,
.saltCircularProgress-disabled circle {
  color: var(--salt-text-primary-foreground-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}

.saltCircularProgress-circle {
  stroke: url("#salt-circular-progress-gradient");
  stroke-width: 2px;
}

.saltCircularProgress-small {
  font-size: 11px;
}

.saltCircularProgress-medium {
  font-size: 14px;
}

.saltCircularProgress-large {
  font-size: 16px;
}

.saltCircularProgress-progressValue {
  align-items: center;
  color: var(--salt-text-primary-foreground);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
}

.saltCircularProgress-disabled {
}

.saltCircularProgress-completed {
}

.saltCircularProgress-railCircle {
  stroke: var(--salt-measured-background);
  stroke-width: 1px;
}

.saltCircularProgress-gradientStart,
.saltCircularProgress-gradientStop {
  stop-color: var(--saltCircularProgress-gradient-color, var(--circularProgress-gradient-color));
}

.saltCircularProgress-container {
  display: inline-block;
}

.saltCircularProgress-static {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.saltCircularProgress-indeterminate {
  animation: circular-rotate 1.4s linear infinite;
}

.saltCircularProgress-svg {
  fill: var(--salt-measured-background);
  display: block;
}

.saltCircularProgress-circle {
  stroke: url("#salt-circular-progress-gradient");
}

.saltCircularProgress-circleStatic {
  transition: stroke-dashoffset 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.saltCircularProgress-circleIndeterminate {
  animation: circular-dash 1.4s ease-in-out infinite;
}

@keyframes circular-rotate {
  0% {
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circular-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}
