.uitkAppHeader {
  --appheader-background: var(--uitk-container-background-medium);
  --appheader-height: var(--uitk-appheader-size, var(--uitk-size-toolbar));
  --appheader-separable-bar: var(--uitk-separable-secondary-borderColor);
  --appheader-shadow: var(--uitk-appheader-shadow, var(--uitk-overlayable-shadow-borderRegion));
  --appheader-padding: calc(var(--uitk-size-unit) * 3);
  --appheader-paddingLeft: 8px;
  --appheader-paddingRight: var(--appheader-padding);

  --uitkTabstrip-height: var(--appheader-height);
  --uitkToolbar-width: auto;
}

.uitkAppHeader {
  align-items: flex-start;
  background-color: var(--appheader-background);
  border-bottom: var(--uitk-container-borderStyle) var(--uitk-container-borderWidth) var(--uitk-container-borderColor-medium);
  box-shadow: var(--appheader-shadow);
  box-sizing: content-box;
  display: flex;
  flex: 0 0 auto;
  height: var(--appheader-height);
  overflow: hidden;
  padding: 0 var(--appheader-paddingRight) 0 var(--appheader-paddingLeft);
  width: 100%;
}

.uitkAppHeader > .Responsive-inner {
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-between; */
  flex: 1;
  min-height: var(--appheader-height);
}

.uitkAppHeader > .Responsive-inner > .responsive-pillar {
  width: 0;
  height: var(--appheader-height);
}

.uitkAppHeader-navMenu {
  margin-right: 12px;
  padding-right: 8px;
}

.uitkAppHeader-navMenu::after {
  top: 0;
  right: 0;
  width: var(--uitk-separable-borderWidth);
  bottom: 0;
  content: "";
  position: absolute;
  background: var(--appheader-separable-bar);
}

.uitkAppHeader .uitkLogo:not(.uitkLogo-compact) {
  margin-left: 16px;
}

.uitkAppHeader > .Responsive-inner > .Tabstrip {
  align-self: flex-end;
  flex: 0 0 auto;
  margin-left: 48px;
}

.uitkAppHeader > .Responsive-inner > [data-pad-end] {
  margin-right: auto;
}

.uitkAppHeader > .Responsive-inner > * {
  flex-shrink: 0;
}

.uitkAppHeader > .Responsive-inner > .Toolbar {
  justify-content: flex-end;
  margin-left: 48px;
}

.uitkAppHeader > .Responsive-inner > [data-pad-start="true"] {
  margin-left: auto;
}

.uitkAppHeader > .Responsive-inner[data-collapsing="true"] {
  flex-wrap: nowrap;
}

.uitkAppHeader > .Responsive-inner > *[data-collapsing="true"] {
  flex-shrink: 1;
}

.uitkAppHeader > .Responsive-inner > *[data-collapsible="dynamic"][data-collapsed="true"] {
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
