/* TODO: Should the outer most container being 'wrapper'? */
.uitkListDeprecated-wrapper {
  /* Color */
  --list-background: var(--uitk-container-background-medium);
  /* Border */
  --list-borderColor: var(--uitk-container-borderColor-medium);
  --list-borderStyle: var(--uitk-container-borderStyle);
  --list-borderWidth: var(--uitk-container-borderWidth);
  --list-borderRadius: var(--uitk-container-borderRadius);

  /* Text, Font */
  /* TODO: Do we necessary want to set this? Should rely on inheritance? */
  /* --list-fontFamily: var(--uitk-typography-fontFamily); */

  /* Misc. */
  --list-boxShadow: none;
  --list-content-box: border-box;
  --list-disabled-cursor: var(--uitk-actionable-cursor-disabled);
}

.uitkListDeprecated-wrapper {
  position: relative;
}

.uitkListDeprecated {
  box-sizing: border-box;
  /* font-family: var(--list-fontFamily); */
  overflow-y: auto;
}
.uitkListDeprecated:focus {
  outline: none;
}

.uitkListDeprecated-wrapper:not(.uitkListDeprecated-borderless) {
  border-color: var(--list-borderColor);
  border-style: var(--list-borderStyle);
  border-width: var(--list-borderWidth);
  border-radius: var(--list-borderRadius);
}
.uitkListDeprecated-wrapper {
  background: var(--list-background);
  box-shadow: var(--list-boxShadow);
  box-sizing: var(--list-content-box);
  position: relative;
}

.uitkListDeprecated-borderless {
  border: none;
}
.uitkListDeprecated-disabled {
  cursor: var(--list-disabled-cursor);
  /* TODO: Design: Check whether we want things behind the list to actually show through opacity */
  /* Or instead of using `opacity` in favor of dedicated color setting, on background, border-color, etc. */
}
