/* TODO: Should the outer most container being 'wrapper'? */
.saltListDeprecated-wrapper {
  /* Color */
  --list-background: var(--salt-container-primary-background);
  /* Border */
  --list-borderColor: var(--salt-container-primary-borderColor);
  --list-borderStyle: var(--salt-borderStyle-solid);
  --list-borderWidth: var(--salt-size-fixed-100);
  --list-borderRadius: 0;

  /* Text, Font */
  /* TODO: Do we necessary want to set this? Should rely on inheritance? */
  /* --list-fontFamily: var(--salt-typography-fontFamily); */

  /* Misc. */
  --list-boxShadow: none;
  --list-disabled-cursor: var(--salt-cursor-disabled);
}

.saltListDeprecated-wrapper {
  position: relative;
}

.saltListDeprecated {
  /* font-family: var(--list-fontFamily); */
  overflow-y: auto;
}
.saltListDeprecated:focus {
  outline: none;
}

.saltListDeprecated-wrapper:not(.saltListDeprecated-borderless) {
  border-color: var(--list-borderColor);
  border-style: var(--list-borderStyle);
  border-width: var(--list-borderWidth);
  border-radius: var(--list-borderRadius);
}
.saltListDeprecated-wrapper {
  background: var(--list-background);
  box-shadow: var(--list-boxShadow);
  position: relative;
}

.saltListDeprecated-borderless {
  border: none;
}
.saltListDeprecated-disabled {
  cursor: var(--list-disabled-cursor);
  /* TODO: Design: Check whether we want things behind the list to actually show through opacity */
  /* Or instead of using `opacity` in favor of dedicated color setting, on background, border-color, etc. */
}
