.uitkStatusIcon {
  --statusIcon-warning-color: var(--uitk-status-warning-foreground);
  --statusIcon-info-color: var(--uitk-status-info-foreground);
  --statusIcon-success-color: var(--uitk-status-success-foreground);
  --statusIcon-error-color: var(--uitk-status-error-foreground);
}

.uitkStatusIcon-error {
  --uitkIcon-color: var(--uitkStatusIcon-color, var(--statusIcon-error-color));
}

.uitkStatusIcon-warning {
  --uitkIcon-color: var(--uitkStatusIcon-color, var(--statusIcon-warning-color));
}

.uitkStatusIcon-success {
  --uitkIcon-color: var(--uitkStatusIcon-color, var(--statusIcon-success-color));
}

.uitkStatusIcon-info {
  --uitkIcon-color: var(--uitkStatusIcon-color, var(--statusIcon-info-color));
}
