.heading {
  margin-bottom: 5%;
  text-align: left;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.heading4 {
  padding-bottom: 5%;
}

.cardContainer:global(.saltGridLayout) {
  margin-top: 50px;
  gap: 20px;
}

.content {
  flex: 1;
  flex-direction: column;
}

.searchInput {
  flex: 1;
  max-width: 400px;
  width: 100%;
}

.date {
  display: inline;
}

.column {
  padding-right: 20px;
}

.cardFuture {
  width: auto;
  min-width: 400px;
  margin-bottom: 15px;
  min-height: unset;
  border-left-color: var(--salt-palette-warning-border);
}

.cardInProgress {
  width: auto;
  min-width: 400px;
  margin-bottom: 15px;
  min-height: unset;
  border-left-color: var(--salt-palette-info-border);
}

.futureIcon {
  color: var(--salt-palette-warning-border);
  margin-right: 10%;
}

.progressIcon {
  color: var(--salt-palette-info-border);
  margin-right: 10%;
}

@media (max-width: 767px) {
  .cardFuture {
    width: fit-content;
  }

  .cardInProgress {
    width: fit-content;
  }
}
