.heading {
  margin-bottom: 5%;
  text-align: left;
}

.heading3 {
  padding-bottom: 5%;
}

.cardContainer:global(.saltGridLayout) {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 20px; /* Adjust the gap between columns */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.searchInput {
  flex: 1;
  max-width: 400px;
  width: 100%;
}

.test {
  width: "400px";
  margin-bottom: " 50px ";
}
.date {
  display: inline;
}

.column {
  padding-right: 20px;
}

.cardFuture {
  width: 400px;
  margin-bottom: 15px;
  min-height: unset;
  border-left-color: var(--salt-palette-warning-border);
}

.cardInProgress {
  width: 408px;
  margin-bottom: 15px;
  min-height: unset;
  border-left-color: var(--salt-palette-info-border);
}

.gridLayout {
  max-width: 1000px;
}

.futureIcon {
  color: var(--salt-palette-warning-border);
}

.progressIcon {
  color: var(--salt-palette-info-border);
}
