.heading {
  margin-bottom: 5%;
  text-align: left;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.heading4 {
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardContainer:global(.saltGridLayout) {
  margin-top: 50px;
  gap: 20px;
}

.content {
  flex: 1;
  flex-direction: column;
}

.searchInput {
  flex: 1;
  max-width: 400px;
  width: 100%;
}

.column {
  padding-right: 20px;
}

.cardFuture {
  width: 400px;
  margin-bottom: 15px;
  min-height: unset;
  border-left-color: var(--salt-status-static-foreground);
}

.cardInProgress {
  width: 400px;
  margin-bottom: 15px;
  min-height: unset;
  border-left-color: var(--salt-status-info-borderColor);
}

.backlogIcon {
  color: var(--salt-status-static-foreground);
  margin-right: 10%;
}

.progressIcon {
  color: var(--salt-status-info-borderColor);
  margin-right: 10%;
}

.loading {
  display: flex;
  margin-left: 50%;
}

@media (max-width: 767px) {
  .cardFuture {
    width: 80%;
  }

  .cardInProgress {
    width: 80%;
  }
  .cardContainer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
