.salt-theme.salt-theme-next {
  --salt-separable-primary-borderColor: var(--salt-palette-alpha-contrast-mediumHigh);
  --salt-separable-secondary-borderColor: var(--salt-palette-alpha-contrast-medium);
  --salt-separable-tertiary-borderColor: var(--salt-palette-alpha-contrast-mediumLow);

  --salt-separable-foreground: var(--salt-palette-foreground-primary);
  --salt-separable-foreground-hover: var(--salt-palette-foreground-primary);
  --salt-separable-foreground-active: var(--salt-palette-foreground-primary-alt);
  --salt-separable-background-hover: var(--salt-palette-alpha-weak);
  --salt-separable-background-active: var(--salt-palette-accent);
}
