.salt-theme.salt-theme-next {
  --salt-status-info-foreground-decorative: var(--salt-palette-info);
  --salt-status-success-foreground-decorative: var(--salt-palette-positive);
  --salt-status-warning-foreground-decorative: var(--salt-palette-warning);
  --salt-status-error-foreground-decorative: var(--salt-palette-negative);

  --salt-status-info-foreground-informative: var(--salt-palette-info-strong);
  --salt-status-success-foreground-informative: var(--salt-palette-positive-strong);
  --salt-status-warning-foreground-informative: var(--salt-palette-warning-strong);
  --salt-status-error-foreground-informative: var(--salt-palette-negative-strong);

  --salt-status-info-borderColor: var(--salt-palette-info);
  --salt-status-success-borderColor: var(--salt-palette-positive);
  --salt-status-warning-borderColor: var(--salt-palette-warning);
  --salt-status-error-borderColor: var(--salt-palette-negative);

  --salt-status-info-background: var(--salt-palette-info-weakest);
  --salt-status-success-background: var(--salt-palette-positive-weakest);
  --salt-status-warning-background: var(--salt-palette-warning-weakest);
  --salt-status-error-background: var(--salt-palette-negative-weakest);

  --salt-status-info-bold-background: var(--salt-palette-info);
  --salt-status-error-bold-background: var(--salt-palette-negative);
  --salt-status-warning-bold-background: var(--salt-palette-warning);
  --salt-status-success-bold-background: var(--salt-palette-positive);

  --salt-status-success-background-selected: var(--salt-palette-positive-weaker);
  --salt-status-warning-background-selected: var(--salt-palette-warning-weaker);
  --salt-status-error-background-selected: var(--salt-palette-negative-weaker);
}
