.supportContributionsCards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--salt-size-container-spacing);
  padding: var(--salt-size-container-spacing) 0;
}

.supportContributionsCards a {
  height: 100%;
}

@media screen and (max-width: 996px) {
  .supportContributionsCards {
    flex-direction: column;
  }

  .supportContributionsCards > a {
    min-width: 200px;
  }
}
