.salt-theme-next /* for backwards compatibility */,
.salt-theme[data-brand="commercial"] {
  --salt-accent-background: var(--salt-palette-accent);
  --salt-accent-background-disabled: var(--salt-palette-accent-disabled);
  --salt-accent-borderColor: var(--salt-palette-accent);
  --salt-accent-borderColor-disabled: var(--salt-palette-accent-disabled);
  --salt-accent-foreground: var(--salt-palette-foreground-primary-alt);
}
