.uitkGridVuuNumericCell {
  position: relative;
}

.uitkGridVuuNumericCell-value {
  position: absolute;
  top: 0;
  right: 0;
}

.uitkGridVuuNumericCell-changeUp {
  color: var(--uitk-text-growth-indicator-up-color);
}

.uitkGridVuuNumericCell-changeUp svg {
  fill: var(--uitk-text-growth-indicator-up-color);
}

.uitkGridVuuNumericCell-changeDown {
  color: var(--uitk-text-growth-indicator-down-color);
}

.uitkGridVuuNumericCell-changeDown svg {
  fill: var(--uitk-text-growth-indicator-down-color);
}

@keyframes ChangeAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.uitkGridVuuNumericCell-runAnimation {
  animation-name: ChangeAnimation;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
