/* CSS Variables for the Skip Link */
.saltSkipLink {
  --skipLink-padding: var(--saltSkipLink-padding, var(--salt-size-unit));
  --skipLink-margin: var(--saltSkipLink-margin, var(--salt-size-unit));
  --skipLink-background: var(--saltSkipLink-background, var(--salt-actionable-primary-background));
  --skipLink-color: var(--saltSkipLink-color, var(--salt-content-primary-foreground));
}

/* Overrides */
.saltSkipLink {
  --saltLink-color-focus: var(--skipLink-color);
}

.saltSkipLink-target {
  --skipLink-target-focus: var(--salt-focused-outline);
}

/*Styles applied when the link is focused to hide the Skip Link when not in focus*/
.saltSkipLink {
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

/* Styles applied when the link is focused to display the Skip Link only when in focus*/
.saltSkipLink:focus {
  opacity: 1;
  width: auto;
  height: auto;
  white-space: nowrap;
  margin: var(--skipLink-margin);
  padding: calc(var(--skipLink-padding) - 1px) var(--skipLink-padding) var(--skipLink-padding);
  background: var(--skipLink-background);
  color: var(--skipLink-color);
  box-shadow: var(--salt-overlayable-shadow-popout);
}

.saltSkipLink {
  font-size: var(--salt-text-fontSize);
  font-family: var(--saltSkipLink-fontFamily, var(--salt-text-fontFamily));
  line-height: var(--saltSkipLink-lineHeight, var(--salt-text-lineHeight));
}

/*Styles applied to the skip link focus target*/
.saltSkipLink-target {
  outline: var(--skipLink-target-focus);
}
