/*Styles applied when the link is focused to hide the Skip Link when not in focus*/
.saltSkipLink {
  top: 0;
  left: 0;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: var(--salt-content-primary-foreground);
  letter-spacing: var(--salt-text-letterSpacing);
  text-decoration: var(--salt-navigable-textDecoration);
  font-family: var(--salt-text-fontFamily);
  white-space: nowrap;
  background: var(--saltSkipLink-background, var(--salt-container-primary-background));
  z-index: calc(var(--salt-zIndex-appHeader) + 1);
}

/* Styles applied when the link is focused to display the Skip Link only when in focus*/
.saltSkipLink:focus {
  opacity: 1;
  width: auto;
  height: calc(var(--salt-size-base) + var(--salt-spacing-200));
  padding: var(--salt-spacing-100) var(--salt-spacing-300);
  outline: var(--salt-focused-outline);
  outline-offset: calc(-1 * var(--salt-focused-outlineWidth));
  box-shadow: var(--salt-overlayable-shadow);
}

@keyframes fade-out-back-outline {
  /* required animation to apply an opacity fade-out-back to outline */
  0% {
    outline-color: var(--salt-focused-outlineColor);
  }
  100% {
    outline-color: transparent;
  }
}

.saltSkipLink-target {
  animation: fade-out-back-outline var(--salt-duration-notable) var(--salt-animation-timing-function) both;
  outline: var(--salt-focused-outline);
}
@media (prefers-reduced-motion: reduce) {
  .saltSkipLink-target {
    animation: none;
  }
}
