.saltDialogContent {
  color: var(--salt-content-primary-foreground);
  min-height: var(--salt-text-lineHeight);
  overflow-y: auto;
  background: var(--salt-container-primary-background);

  margin-left: var(--salt-spacing-200);
  margin-right: var(--salt-spacing-300);
  padding-left: var(--salt-spacing-100);
  /* auto is needed for support on Safari, due to webkit bugs with flex */
  flex: 1 1 auto;
}
.saltDialogContent-overflow {
  padding-right: var(--salt-spacing-100);
}

.saltDialogContent-scroll {
  margin-left: var(--salt-spacing-300);
  margin-right: var(--salt-spacing-300);
  border-bottom: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-separable-tertiary-borderColor);
}
