/* Body emphasis */
.uitkText strong {
  font-weight: var(--uitk-text-fontWeight-strong);
}
.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-fontWeight-small);
}

/* Main css class */
.uitkText {
  color: var(--uitk-text-primary-foreground);
  font-size: var(--uitk-text-fontSize);
  line-height: var(--uitk-text-lineHeight);
}

.uitkText-lineClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--text-max-rows);
  overflow: hidden;
  word-break: break-word;
}

/* Heading 1 */

h1.uitkText,
.uitkText-h1.uitkText {
  font-size: var(--uitk-text-h1-fontSize);
  font-weight: var(--uitk-text-h1-fontWeight);
  line-height: var(--uitk-text-h1-lineHeight);
}

/* H1 emphasis */
h1.uitkText strong,
.uitkText-h1.uitkText strong {
  font-weight: var(--uitk-text-h1-fontWeight-strong);
}
h1.uitkText small,
.uitkText-h1.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h1-fontWeight-small);
}

/* Heading 2 */

h2.uitkText,
.uitkText-h2.uitkText {
  font-size: var(--uitk-text-h2-fontSize);
  font-weight: var(--uitk-text-h2-fontWeight);
  line-height: var(--uitk-text-h2-lineHeight);
}

/* H2 emphasis */
h2.uitkText strong,
.uitkText-h2.uitkText strong {
  font-weight: var(--uitk-text-h2-fontWeight-strong);
}
h2.uitkText small,
.uitkText-h2.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h2-fontWeight-small);
}

/* Heading 3 */
h3.uitkText,
.uitkText-h3.uitkText {
  font-size: var(--uitk-text-h3-fontSize);
  font-weight: var(--uitk-text-h3-fontWeight);
  line-height: var(--uitk-text-h3-lineHeight);
}

/* H3 emphasis */
h3.uitkText strong,
.uitkText-h3.uitkText strong {
  font-weight: var(--uitk-text-h3-fontWeight-strong);
}
h3.uitkText small,
.uitkText-h3.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h3-fontWeight-small);
}

/* Heading 4 */
h4.uitkText,
.uitkText-h4.uitkText {
  font-size: var(--uitk-text-h4-fontSize);
  font-weight: var(--uitk-text-h4-fontWeight);
  line-height: var(--uitk-text-h4-lineHeight);
}

/* H4 emphasis */
h4.uitkText strong,
.uitkText-h4.uitkText strong {
  font-weight: var(--uitk-text-h4-fontWeight-strong);
}
h4.uitkText small,
.uitkText-h4.uitkText small {
  font-size: inherit;
  font-weight: var(--uitk-text-h4-fontWeight-small);
}

/* Label-Caption */
label.uitkText,
.uitkText-label {
  font-size: var(--uitk-text-label-fontSize);
  line-height: var(--uitk-text-label-lineHeight);
}

/* Help text */
.uitkText-helpText.uitkText {
  color: var(--uitk-text-secondary-foreground);
  font-style: var(--uitk-editable-help-fontStyle);
  font-size: var(--uitk-text-help-fontSize);
  line-height: var(--uitk-text-help-lineHeight);
}

/* Display 1 */
.uitkText-display1.uitkText {
  font-size: var(--uitk-text-display1-fontSize);
  font-weight: var(--uitk-text-display1-fontWeight);
  line-height: var(--uitk-text-display1-lineHeight);
}

/* Display 2 */
.uitkText-display2.uitkText {
  font-size: var(--uitk-text-display2-fontSize);
  font-weight: var(--uitk-text-display2-fontWeight);
  line-height: var(--uitk-text-display2-lineHeight);
}

/* Display 3 */
.uitkText-display3.uitkText {
  font-size: var(--uitk-text-display3-fontSize);
  font-weight: var(--uitk-text-display3-fontWeight);
  line-height: var(--uitk-text-display3-lineHeight);
}