.uitk-density-touch {
  --contactDetails-default-primary-fontSize: 30px;
  --contactDetails-default-secondary-fontSize: 16px;
  --contactDetails-compact-primary-fontSize: 16px;
  --contactDetails-compact-secondary-fontSize: 14px;
  --contactDetails-icon-size: 18px;
  --contactDetails-label-width: 80px;
}

.uitk-density-low {
  --contactDetails-compact-primary-fontSize: 14px;
  --contactDetails-default-primary-fontSize: 24px;
  --contactDetails-compact-secondary-fontSize: 14px;
  --contactDetails-default-secondary-fontSize: 14px;
  --contactDetails-label-width: 70px;
  --contactDetails-icon-size: 16px;
}

.uitk-density-medium {
  --contactDetails-compact-primary-fontSize: 12px;
  --contactDetails-default-primary-fontSize: 18px;
  --contactDetails-compact-secondary-fontSize: 12px;
  --contactDetails-default-secondary-fontSize: 12px;
  --contactDetails-label-width: 60px;
  --contactDetails-icon-size: 14px;
}

.uitk-density-high {
  --contactDetails-compact-primary-fontSize: 11px;
  --contactDetails-default-primary-fontSize: 14px;
  --contactDetails-compact-secondary-fontSize: 11px;
  --contactDetails-default-secondary-fontSize: 11px;
  --contactDetails-label-width: 60px;
  --contactDetails-icon-size: 12px;
}

.uitkContactDetails {
  --contactDetails-color: var(--uitk-text-primary-foreground);
  --contactDetails-label-color: var(--uitk-text-secondary-foreground);
  --contactDetails-noAvatar-color: var(--uitk-accent-background);
  --contactDetails-noAvatar-indicator-width: 4px;

  /* TODO: Check below tokens with design */
  --contactDetails-separator-color: var(--uitk-separator-border-2);
  --contactDetails-deselected-icon-color: var(--uitk-ratable-border);
  --contactDetails-deselecting-icon-color: var(--uitk-ratable-border);
  --contactDetails-selected-icon-color: var(--uitk-ratable-background-active);
  --contactDetails-selecting-icon-color: var(--uitk-ratable-background-hover);
}

.uitkContactDetails {
  box-sizing: border-box;
  display: grid;
  padding: var(--uitk-size-unit);
}

.uitkContactDetails.uitkContactDetails-noAvatar {
  padding-left: 0;
}

.uitkContactDetails.uitkContactDetails-embedded {
  padding: 0;
}

.uitkContactDetails-default,
.uitkContactDetails-default-stacked {
  --contactDetails-primary-fontSize: var(--contactDetails-default-primary-fontSize);
  --contactDetails-secondary-fontSize: var(--contactDetails-default-secondary-fontSize);
}

.uitkContactDetails-compact,
.uitkContactDetails-compact-stacked {
  --contactDetails-primary-fontSize: var(--contactDetails-compact-primary-fontSize);
  --contactDetails-secondary-fontSize: var(--contactDetails-compact-secondary-fontSize);
}

.uitkContactDetails-mini,
.uitkContactDetails-mini-stacked {
  --contactDetails-primary-fontSize: var(--contactDetails-compact-primary-fontSize);
  --contactDetails-secondary-fontSize: var(--contactDetails-compact-secondary-fontSize);
}

.uitkContactDetails-default {
  color: var(--contactDetails-color);
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "noAvatar avatar primary favorite"
    "noAvatar avatar secondary secondary"
    "noAvatar avatar tertiary tertiary"
    ". . actions metadataExpander"
    ". . metadata metadata";
}

.uitkContactDetails-default-stacked {
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "noAvatar avatar avatar"
    "noAvatar primary favorite"
    "noAvatar secondary secondary"
    "noAvatar tertiary tertiary"
    ". actions metadataExpander"
    ". metadata metadata";
}

.uitkContactDetails-compact {
  grid-template-columns: auto auto auto 1fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "noAvatar avatar primary primary favorite"
    "noAvatar avatar secondary tertiary tertiary"
    ". . actions actions actions";
}

.uitkContactDetails-compact-stacked {
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "noAvatar avatar primary favorite"
    "noAvatar avatar secondary favorite"
    "noAvatar avatar tertiary tertiary"
    ". . actions actions";
}

.uitkContactDetails-mini,
.uitkContactDetails-mini-stacked {
  grid-template-columns: auto minmax(60px, 1fr) auto;
  grid-template-rows: auto;
  grid-template-areas: "primary secondary favorite";
}

.uitkContactDetails-noAvatar-indicator {
  grid-area: noAvatar;
  width: var(--contactDetails-noAvatar-indicator-width);
  background-color: var(--contactDetails-noAvatar-color);
  margin-right: var(--uitk-size-unit);
}

.uitkContactAvatar {
  grid-area: avatar;
  margin-right: var(--uitk-size-unit);
}

.uitkContactAvatar-stacked {
  margin-bottom: var(--uitk-size-unit);
}

.uitkContactActions {
  grid-area: actions;
  display: flex;
  margin-top: var(--uitk-size-unit);
  margin-left: calc(var(--uitk-size-unit) * -1);
}

.uitkContactPrimaryInfo {
  grid-area: primary;
}

.uitkContactDetails-default .uitkContactPrimaryInfo {
  margin-bottom: calc(var(--uitk-size-unit) * 0.5);
}

.uitkContactSecondaryInfo {
  grid-area: secondary;
}

.uitkContactDetails-mini .uitkContactSecondaryInfo {
  margin-left: calc(var(--uitk-size-unit));
}

/* TODO Mini-stacked does not really look "stacked". Is it a bug? */
.uitkContactDetails-mini-stacked .uitkContactSecondaryInfo {
  margin-left: calc(var(--uitk-size-unit) * 2);
}

.uitkContactSecondaryInfo-icon {
  margin-right: calc(var(--uitk-size-unit) * 0.5);
}

.uitkContactTertiaryInfo {
  grid-area: tertiary;
}

.uitkContactDetails-compact .uitkContactTertiaryInfo {
  margin-left: var(--uitk-size-unit);
}

.uitkContactTertiaryInfo-icon {
  margin-right: calc(var(--uitk-size-unit) * 0.5);
}

.uitkContactMetadata {
  grid-area: metadata;
  display: flex;
  flex-direction: column;
  padding-top: var(--uitk-size-unit);
  padding-bottom: var(--uitk-size-unit);
}

.uitkContactMetadata-expander {
  grid-area: metadataExpander;
  margin-top: var(--uitk-size-unit);
}

.uitkContactMetadata-separator {
  width: 100%;
  height: 1px;
  background: var(--contactDetails-separator-color);
  margin-bottom: var(--uitk-size-unit);
}

.uitkContactMetadataItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: calc(var(--uitk-size-unit) * 0.5);
}

.uitkContactMetadataItem:last-child {
  margin-bottom: unset;
}

.uitkContactMetadata-stacked .uitkContactMetadataItem {
  flex-direction: column;
  align-items: flex-start;
}

.uitkContactMetadataItem-icon {
  margin-right: calc(var(--uitk-size-unit) * 2);
  padding-left: 1px;
}

.uitkContactMetadataItem-label {
  flex-shrink: 0;
  color: var(--contactDetails-label-color);
  margin-right: calc(var(--uitk-size-unit) * 2);
  width: var(--contactDetails-label-width);
}

.uitkContactFavoriteToggle {
  grid-area: favorite;
  justify-self: center;
  align-self: start;
  line-height: var(--contactDetails-primary-fontSize);
}

.uitkContactFavoriteToggle-focusVisible {
  outline: none;
}

.uitkContactFavoriteToggle-focused {
  outline: var(--uitk-focused-outline);
}

.uitkContactFavoriteToggle-deselected {
  fill: var(--contactDetails-deselected-icon-color);
}

.uitkContactFavoriteToggle-selecting {
  fill: var(--contactDetails-selecting-icon-color);
}

.uitkContactFavoriteToggle-selected {
  fill: var(--contactDetails-selected-icon-color);
}

.uitkContactFavoriteToggle-deselecting {
  fill: var(--contactDetails-deselecting-icon-color);
}

.uitkContactFavoriteToggle-svg {
  height: var(--contactDetails-icon-size);
  width: var(--contactDetails-icon-size);
}

/* backwardsCompat */

.uitk-density-touch .backwardsCompat.uitkContactDetails-default .uitkContactPrimaryInfo {
  font-size: 30px;
}
.uitk-density-touch .backwardsCompat.uitkContactDetails-compact .uitkContactSecondaryInfo,
.uitk-density-touch .backwardsCompat.uitkContactDetails-compact .uitkContactTertiaryInfo,
.uitk-density-touch .backwardsCompat.uitkContactDetails-mini .uitkContactSecondaryInfo {
  font-size: 14px;
}
.backwardsCompat.uitkContactDetails-compact .uitkContactTertiaryInfo {
  margin-left: 16px;
}
.backwardsCompat.uitkContactDetails-mini .uitkContactSecondaryInfo,
.backwardsCompat.uitkContactDetails-mini-stacked .uitkContactSecondaryInfo {
  margin-left: var(--uitk-size-unit);
}

.backwardsCompat.uitkContactDetails-default .uitkContactFavoriteToggle {
  margin-right: var(--uitk-size-unit);
  margin-top: calc(var(--uitk-size-unit) * 0.5);
}
.uitk-density-touch .backwardsCompat.uitkContactDetails-default .uitkContactFavoriteToggle {
  margin-right: calc(var(--uitk-size-unit) * 0.65);
  margin-top: calc(var(--uitk-size-unit) * 0.4);
}

.backwardsCompat.uitkContactDetails .uitkContactFavoriteToggle-deselected,
.backwardsCompat.uitkContactDetails .uitkContactFavoriteToggle-selecting,
.backwardsCompat.uitkContactDetails .uitkContactFavoriteToggle-selected,
.backwardsCompat.uitkContactDetails .uitkContactFavoriteToggle-deselecting {
  fill: var(--uitk-text-secondary-foreground);
}
