.uitk-density-touch {
  --contact-details-compact-contact-details-secondary-font-size: 14px;
  --contact-details-compact-primary-font-size: 16px;
  --contact-details-default-primary-font-size: 30px;
  --contact-details-default-contact-details-secondary-font-size: 16px;
  --contact-details-icon-size: 18px;
  --contact-details-label-width: 80px;
  --contact-details-metadata-font-size: 16px;
  --contact-details-title-element-no-avatar-left-spacing: calc(var(--uitk-size-unit) * 1.5);
}

.uitk-density-low {
  --contact-details-compact-primary-font-size: 14px;
  --contact-details-default-primary-font-size: 24px;
  --contact-details-compact-contact-details-secondary-font-size: 14px;
  --contact-details-default-contact-details-secondary-font-size: 14px;
  --contact-details-metadata-font-size: 14px;
  --contact-details-label-width: 70px;
  --contact-details-title-element-no-avatar-left-spacing: calc(var(--uitk-size-unit) * 1.5);
  --contact-details-icon-size: 16px;
}

.uitk-density-medium {
  --contact-details-compact-primary-font-size: 12px;
  --contact-details-default-primary-font-size: 18px;
  --contact-details-compact-contact-details-secondary-font-size: 12px;
  --contact-details-default-contact-details-secondary-font-size: 12px;
  --contact-details-metadata-font-size: 12px;
  --contact-details-label-width: 60px;
  --contact-details-title-element-no-avatar-left-spacing: calc(var(--uitk-size-unit) * 2);
  --contact-details-icon-size: 14px;
}

.uitk-density-high {
  --contact-details-compact-primary-font-size: 11px;
  --contact-details-default-primary-font-size: 14px;
  --contact-details-compact-contact-details-secondary-font-size: 11px;
  --contact-details-default-contact-details-secondary-font-size: 11px;
  --contact-details-metadata-font-size: 11px;
  --contact-details-label-width: 60px;
  --contact-details-title-element-no-avatar-left-spacing: calc(var(--uitk-size-unit) * 2);
  --contact-details-icon-size: 12px;
}

.uitkContactDetails {
  --contact-details-label-color: var(--uitk-text-secondary-foreground);
  --contact-details-line-height: var(--uitk-text-lineHeight);
  --contact-details-no-avatar-color: var(--uitk-accent-background);
  --contact-details-no-avatar-indicator-width: 4px;

  /* TODO: Check below tokens with design */
  --contact-details-separator-color: var(--uitk-separator-border-2);
  --contact-details-deselected-icon-color: var(--uitk-ratable-border);
  --contact-details-deselecting-icon-color: var(--uitk-ratable-border);
  --contact-details-selected-icon-color: var(--uitk-ratable-background-active);
  --contact-details-selecting-icon-color: var(--uitk-ratable-background-hover);

  --contact-details-primary-font-weight: var(--uitk-text-fontWeight-strong);
  --contact-details-secondary-font-weight: var(--uitk-text-fontWeight-strong);
}

.uitkContactDetails {
  box-sizing: border-box;
  display: grid;
  padding: var(--uitk-size-unit);
}

.uitkContactDetails.uitkContactDetails-noAvatar {
  padding-left: 0;
}

.uitkContactDetails.uitkContactDetails-embedded {
  padding: 0;
}

.uitkContactDetails-default,
.uitkContactDetails-default-stacked {
  --contact-details-primary-font-size: var(--contact-details-default-primary-font-size);
  --contact-details-secondary-font-size: var(--contact-details-default-contact-details-secondary-font-size);
}

.uitkContactDetails-compact,
.uitkContactDetails-compact-stacked {
  --contact-details-primary-font-size: var(--contact-details-compact-primary-font-size);
  --contact-details-secondary-font-size: var(--contact-details-compact-contact-details-secondary-font-size);
  --contact-details-secondary-font-weight: var(--uitk-text-fontWeight);
}

.uitkContactDetails-mini,
.uitkContactDetails-mini-stacked {
  --contact-details-primary-font-size: var(--contact-details-compact-primary-font-size);
  --contact-details-secondary-font-size: var(--contact-details-compact-contact-details-secondary-font-size);
  --contact-details-secondary-font-weight: var(--uitk-text-fontWeight);
}

.uitkContactDetails-default {
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "noAvatar avatar primary favorite"
    "noAvatar avatar secondary secondary"
    "noAvatar avatar tertiary tertiary"
    ". . actions metadataExpander"
    ". . metadata metadata";
}

.uitkContactDetails-default-stacked {
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "noAvatar avatar avatar"
    "noAvatar primary favorite"
    "noAvatar secondary secondary"
    "noAvatar tertiary tertiary"
    ". actions metadataExpander"
    ". metadata metadata";
}

.uitkContactDetails-compact {
  grid-template-columns: auto auto auto 1fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "noAvatar avatar primary primary favorite"
    "noAvatar avatar secondary tertiary favorite"
    ". . actions actions actions";
}

.uitkContactDetails-compact-stacked {
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "noAvatar avatar primary favorite"
    "noAvatar avatar secondary favorite"
    "noAvatar avatar tertiary tertiary"
    ". . actions actions";
}

.uitkContactDetails-mini,
.uitkContactDetails-mini-stacked {
  grid-template-columns: auto minmax(60px, 1fr) auto;
  grid-template-rows: auto;
  grid-template-areas: "primary secondary favorite";
}

.uitkContactDetails-noAvatarIndicator {
  grid-area: noAvatar;
  width: var(--contact-details-no-avatar-indicator-width);
  background-color: var(--contact-details-no-avatar-color);
  margin-right: var(--uitk-size-unit);
}

.uitkContactAvatar {
  grid-area: avatar;
  margin-right: var(--uitk-size-unit);
}

.uitkContactAvatar-stacked {
  margin-bottom: var(--uitk-size-unit);
}

.uitkContactActions {
  grid-area: actions;
  display: flex;
  margin-top: var(--uitk-size-unit);
  margin-left: calc(var(--uitk-size-unit) * -1);
}

.uitkContactPrimaryInfo {
  grid-area: primary;
}

.uitkContactDetails-default .uitkContactPrimaryInfo {
  margin-bottom: calc(var(--uitk-size-unit) * 0.5);
}

.uitkContactSecondaryInfo {
  grid-area: secondary;
}

.uitkContactDetails-mini .uitkContactSecondaryInfo {
  margin-left: calc(var(--uitk-size-unit));
}

/* TODO Mini-stacked does not really look "stacked". Is it a bug? */
.uitkContactDetails-mini-stacked .uitkContactSecondaryInfo {
  margin-left: calc(var(--uitk-size-unit) * 2);
}

.uitkContactSecondaryInfo-icon {
  margin-right: calc(var(--uitk-size-unit) * 0.5);
}

.uitkContactTertiaryInfo {
  grid-area: tertiary;
}

.uitkContactDetails-compact .uitkContactTertiaryInfo {
  margin-left: calc(var(--uitk-size-unit) * 2);
}

.uitkContactTertiaryInfo-icon {
  margin-right: calc(var(--uitk-size-unit) * 0.5);
}

.uitkContactMetadata {
  grid-area: metadata;
  display: flex;
  flex-direction: column;
  padding-top: var(--uitk-size-unit);
  padding-bottom: var(--uitk-size-unit);
}

.uitkContactMetadata-expander {
  grid-area: metadataExpander;
  margin-top: var(--uitk-size-unit);
}

.uitkContactMetadata-separator {
  width: 100%;
  height: 1px;
  background: var(--contact-details-separator-color);
  margin-bottom: var(--uitk-size-unit);
}

.uitkContactMetadataItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: calc(var(--uitk-size-unit) * 0.5);
}

.uitkContactMetadataItem:last-child {
  margin-bottom: unset;
}

.uitkContactMetadata-stacked .uitkContactMetadataItem {
  flex-direction: column;
  align-items: flex-start;
}

.uitkContactMetadataItem-icon {
  margin-right: calc(var(--uitk-size-unit) * 2);
  padding-left: 1px;
}

.uitkContactMetadataItem-label {
  flex-shrink: 0;
  color: var(--contact-details-label-color);
  margin-right: calc(var(--uitk-size-unit) * 2);
  width: var(--contact-details-label-width);
}

.uitkContactMetadataItem-value {
  min-width: 0;
}

.uitkContactFavoriteToggle {
  grid-area: favorite;
  justify-self: center;
  align-self: start;
  line-height: var(--contact-details-primary-font-size);
}

.uitkContactFavoriteToggle-focusVisible {
  outline: none;
}

.uitkContactFavoriteToggle-focused {
  outline: var(--uitk-focused-outline);
}

.uitkContactFavoriteToggle-deselected {
  fill: var(--contact-details-deselected-icon-color);
}

.uitkContactFavoriteToggle-selecting {
  fill: var(--contact-details-selecting-icon-color);
}

.uitkContactFavoriteToggle-selected {
  fill: var(--contact-details-selected-icon-color);
}

.uitkContactFavoriteToggle-deselecting {
  fill: var(--contact-details-deselecting-icon-color);
}

.uitkContactFavoriteToggle-svg {
  height: var(--contact-details-icon-size);
  width: var(--contact-details-icon-size);
}
