.salt-density-touch {
  --contactDetails-default-primary-fontSize: 30px;
  --contactDetails-default-secondary-fontSize: 16px;
  --contactDetails-compact-primary-fontSize: 16px;
  --contactDetails-compact-secondary-fontSize: 14px;
  --contactDetails-icon-size: 18px;
  --contactDetails-label-width: 80px;
}

.salt-density-low {
  --contactDetails-compact-primary-fontSize: 14px;
  --contactDetails-default-primary-fontSize: 24px;
  --contactDetails-compact-secondary-fontSize: 14px;
  --contactDetails-default-secondary-fontSize: 14px;
  --contactDetails-label-width: 70px;
  --contactDetails-icon-size: 16px;
}

.salt-density-medium {
  --contactDetails-compact-primary-fontSize: 12px;
  --contactDetails-default-primary-fontSize: 18px;
  --contactDetails-compact-secondary-fontSize: 12px;
  --contactDetails-default-secondary-fontSize: 12px;
  --contactDetails-label-width: 60px;
  --contactDetails-icon-size: 14px;
}

.salt-density-high {
  --contactDetails-compact-primary-fontSize: 11px;
  --contactDetails-default-primary-fontSize: 14px;
  --contactDetails-compact-secondary-fontSize: 11px;
  --contactDetails-default-secondary-fontSize: 11px;
  --contactDetails-label-width: 60px;
  --contactDetails-icon-size: 12px;
}

.saltContactDetails {
  --contactDetails-color: var(--salt-content-primary-foreground);
  --contactDetails-label-color: var(--salt-content-secondary-foreground);
  --contactDetails-noAvatar-color: var(--salt-accent-background);
  --contactDetails-noAvatar-indicator-width: 4px;
  --contactDetails-favoriteToggle-fill: var(--contactDetails-deselected-icon-color);
  --contactDetails-favoriteToggle-marginRight: 0px;
  --contactDetails-favoriteToggle-marginTop: 0px;
  --contactDetails-mini-secondaryInfo-marginLeft: var(--salt-size-unit);
  --contactDetails-mini-stacked-secondaryInfo-marginLeft: calc(var(--salt-size-unit) * 2);
  --contactDetails-compact-tertiaryInfo-marginLeft: var(--salt-size-unit);

  /* TODO: Check below tokens with design */
  --contactDetails-separator-color: var(--salt-separable-secondary-borderColor);
}

.saltContactDetails {
  display: grid;
  padding: var(--salt-size-unit);
}

.saltContactDetails.saltContactDetails-noAvatar {
  padding-left: 0;
}

.saltContactDetails.saltContactDetails-embedded {
  padding: 0;
}

.saltContactDetails-default,
.saltContactDetails-default-stacked {
  --contactDetails-primary-fontSize: var(--contactDetails-default-primary-fontSize);
  --contactDetails-secondary-fontSize: var(--contactDetails-default-secondary-fontSize);
}

.saltContactDetails-compact,
.saltContactDetails-compact-stacked {
  --contactDetails-primary-fontSize: var(--contactDetails-compact-primary-fontSize);
  --contactDetails-secondary-fontSize: var(--contactDetails-compact-secondary-fontSize);
}

.saltContactDetails-mini,
.saltContactDetails-mini-stacked {
  --contactDetails-primary-fontSize: var(--contactDetails-compact-primary-fontSize);
  --contactDetails-secondary-fontSize: var(--contactDetails-compact-secondary-fontSize);
}

.saltContactDetails-default {
  color: var(--contactDetails-color);
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "noAvatar avatar primary favorite"
    "noAvatar avatar secondary secondary"
    "noAvatar avatar tertiary tertiary"
    ". . actions metadataExpander"
    ". . metadata metadata";
}

.saltContactDetails-default-stacked {
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "noAvatar avatar avatar"
    "noAvatar primary favorite"
    "noAvatar secondary secondary"
    "noAvatar tertiary tertiary"
    ". actions metadataExpander"
    ". metadata metadata";
}

.saltContactDetails-compact {
  grid-template-columns: auto auto auto 1fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "noAvatar avatar primary primary favorite"
    "noAvatar avatar secondary tertiary tertiary"
    ". . actions actions actions";
}

.saltContactDetails-compact-stacked {
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "noAvatar avatar primary favorite"
    "noAvatar avatar secondary favorite"
    "noAvatar avatar tertiary tertiary"
    ". . actions actions";
}

.saltContactDetails-mini,
.saltContactDetails-mini-stacked {
  grid-template-columns: auto minmax(60px, 1fr) auto;
  grid-template-rows: auto;
  grid-template-areas: "primary secondary favorite";
}

.saltContactDetails-noAvatar-indicator {
  grid-area: noAvatar;
  width: var(--contactDetails-noAvatar-indicator-width);
  background: var(--contactDetails-noAvatar-color);
  margin-right: var(--salt-size-unit);
}

.saltContactAvatar {
  grid-area: avatar;
  margin-right: var(--salt-size-unit);
}

.saltContactAvatar-stacked {
  margin-bottom: var(--salt-size-unit);
}

.saltContactActions {
  grid-area: actions;
  display: flex;
  margin-top: var(--salt-size-unit);
  margin-left: calc(var(--salt-size-unit) * -1);
}

.saltContactPrimaryInfo {
  grid-area: primary;
}

.saltContactDetails-default .saltContactPrimaryInfo {
  margin-bottom: calc(var(--salt-size-unit) * 0.5);
}

.saltContactSecondaryInfo {
  grid-area: secondary;
}

.saltContactDetails-mini .saltContactSecondaryInfo {
  margin-left: var(--contactDetails-mini-secondaryInfo-marginLeft);
}

/* TODO Mini-stacked does not really look "stacked". Is it a bug? */
.saltContactDetails-mini-stacked .saltContactSecondaryInfo {
  margin-left: var(--contactDetails-mini-stacked-secondaryInfo-marginLeft);
}

.saltContactSecondaryInfo-icon {
  margin-right: calc(var(--salt-size-unit) * 0.5);
}

.saltContactTertiaryInfo {
  grid-area: tertiary;
}

.saltContactDetails-compact .saltContactTertiaryInfo {
  margin-left: var(--contactDetails-compact-tertiaryInfo-marginLeft);
}

.saltContactTertiaryInfo-icon {
  margin-right: calc(var(--salt-size-unit) * 0.5);
}

.saltContactMetadata {
  grid-area: metadata;
  display: flex;
  flex-direction: column;
  padding-top: var(--salt-size-unit);
  padding-bottom: var(--salt-size-unit);
}

.saltContactMetadata-expander {
  grid-area: metadataExpander;
  margin-top: var(--salt-size-unit);
}

.saltContactMetadata-separator {
  width: 100%;
  height: 1px;
  background: var(--contactDetails-separator-color);
  margin-bottom: var(--salt-size-unit);
}

.saltContactMetadataItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: calc(var(--salt-size-unit) * 0.5);
}

.saltContactMetadataItem:last-child {
  margin-bottom: unset;
}

.saltContactMetadata-stacked .saltContactMetadataItem {
  flex-direction: column;
  align-items: flex-start;
}

.saltContactMetadataItem-icon {
  margin-right: calc(var(--salt-size-unit) * 2);
  padding-left: 1px;
}

.saltContactMetadataItem-label {
  flex-shrink: 0;
  color: var(--contactDetails-label-color);
  margin-right: calc(var(--salt-size-unit) * 2);
  width: var(--contactDetails-label-width);
}

.saltContactFavoriteToggle {
  align-self: start;
  grid-area: favorite;
  justify-self: center;
  line-height: var(--contactDetails-primary-fontSize);
  margin-right: var(--contactDetails-favoriteToggle-marginRight);
  margin-top: var(--contactDetails-favoriteToggle-marginTop);
}

.saltContactFavoriteToggle-svg {
  fill: var(--contactDetails-favoriteToggle-fill);
}

.saltContactFavoriteToggle-focusVisible {
  outline: none;
}

.saltContactFavoriteToggle-focused {
  outline: var(--salt-focused-outline);
}

.saltContactFavoriteToggle-deselected {
  --contactDetails-favoriteToggle-fill: var(--salt-accent-borderColor);
}

.saltContactFavoriteToggle-selecting {
  --contactDetails-favoriteToggle-fill: var(--salt-selectable-foreground-hover);
}

.saltContactFavoriteToggle-selected {
  --contactDetails-favoriteToggle-fill: var(--salt-selectable-foreground-selected);
}

.saltContactFavoriteToggle-deselecting {
  --contactDetails-favoriteToggle-fill: var(--salt-selectable-foreground-hover);
}

.saltContactFavoriteToggle-svg {
  height: var(--contactDetails-icon-size);
  width: var(--contactDetails-icon-size);
}
