.uitkLinearProgress {
  align-items: center;
  color: var(--uitk-text-primary-foreground);
  display: flex;
  font-size: var(--uitk-measured-fontSize-medium);
  min-width: 200px;
}

.uitkLinearProgress-large {
  --linear-progress-after-top: 3px;
  --linear-progress-value-padding-left: 12px;
  --linear-progress-height: 7px;
}

.uitkLinearProgress-medium {
  --linear-progress-after-top: 2px;
  --linear-progress-value-padding-left: 8px;
  --linear-progress-height: 5px;
}

.uitkLinearProgress-small {
  --linear-progress-after-top: 1px;
  --linear-progress-value-padding-left: 4px;
  --linear-progress-height: 3px;
}

.uitkLinearProgress-disabled .uitkLinearProgress-bar {
  background: var(--uitk-measured-fill-disabled);
}

.uitkLinearProgress-disabled .uitkLinearProgress-barContainer :after {
  background: var(--uitk-measured-fill-disabled);
}

.uitkLinearProgress-disabled .uitkLinearProgress-progressValue {
  color: var(--uitk-text-primary-foreground-disabled);
  cursor: var(--uitk-selectable-cursor-disabled);
}

.uitkLinearProgress-barContainer {
  background: none;
  position: relative;
  width: calc(100% - 10px);
  overflow: hidden;
  height: var(--linear-progress-height);
}

/* Horizontal line under the progress indicator bar */
.uitkLinearProgress-barContainer:after {
  top: var(--linear-progress-after-top);
  background: var(--uitk-measured-background);
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
}

.uitkLinearProgress-determinate {
}

.uitkLinearProgress-indeterminate {
}

.uitkLinearProgress-query {
  transform: rotate(180deg);
}

.uitkLinearProgress-bar {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition: transform 0.2s linear;
  transform-origin: left;
  background: var(--uitk-measured-fill);
  z-index: 2;
}

.uitkLinearProgress-determinate .uitkLinearProgress-bar1 {
  transition: transform 0.4s linear;
}

.uitkLinearProgress-indeterminate .uitkLinearProgress-bar1 {
  width: auto;
  animation: Indeterminate1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.uitkLinearProgress-query .uitkLinearProgress-bar1 {
  width: auto;
  animation: Indeterminate1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.uitkLinearProgress-bar2 {
  width: auto;
  animation: Indeterminate2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite;
}

.uitkLinearProgress-progressValue {
  color: inherit;
  margin: 0;
  white-space: nowrap;
  padding-left: var(--linear-progress-value-padding-left);
}

@keyframes Indeterminate1 {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes Indeterminate2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
