.saltLinearProgress {
  align-items: center;
  color: var(--salt-text-primary-foreground);
  display: flex;
  min-width: 200px;
  font-size: var(--linearProgress-fontSize);
}

.saltLinearProgress-disabled .saltLinearProgress-bar {
  background: var(--salt-accent-background-disabled);
}

.saltLinearProgress-disabled .saltLinearProgress-barContainer :after {
  background: var(--salt-accent-background-disabled);
}

.saltLinearProgress-disabled .saltLinearProgress-progressValue {
  color: var(--salt-text-primary-foreground-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}

.saltLinearProgress-disabled .saltLinearProgress-barContainer:after {
  background: var(--salt-track-borderColor-disabled);
}


.saltLinearProgress-barContainer {
  background: none;
  position: relative;
  width: calc(100% - 10px);
  overflow: hidden;
  height: var(--salt-size-adornment);
}

/* Horizontal line under the progress indicator bar */
.saltLinearProgress-barContainer:after {
  top: calc((var(--salt-size-adornment) - var(--salt-track-borderWidth)) / 2);
  background: var(--salt-track-borderColor);
  content: "";
  display: block;
  height: var(--salt-track-borderWidth);
  left: 0;
  position: absolute;
  right: 0;
}

.saltLinearProgress-bar {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition: transform 0.2s linear;
  transform-origin: left;
  background: var(--salt-accent-background);
  z-index: 2;
}

.saltLinearProgress-progressValue {
  color: inherit;
  font-size: var(--salt-text-label-fontSize);
  font-weight: var(--salt-text-label-fontWeight-strong);
  margin: 0;
  white-space: nowrap;
  padding-left: var(--salt-spacing-100);
}