.saltToolbarContent {
  display: flex;
  align-items: center;
  gap: var(--salt-spacing-100);
  min-width: 0;
  flex-shrink: 0;
}

.saltToolbarContent[data-position="start"] {
  justify-content: flex-start;
}

.saltToolbarContent[data-position="center"] {
  justify-content: center;
}

.saltToolbarContent[data-position="end"] {
  justify-content: flex-end;
}

.saltToolbarContent[data-implicit] > .saltTooltrayNext[data-align="center"],
.saltToolbarContent[data-implicit] > .saltTooltrayNext[data-align="end"] {
  margin-inline: 0;
}
