.uitk-light .uitkGridRowSelectionCheckboxCellValue {
  --checkbox-outlineColor: var(--uitk-color-grey-90);
  --checkbox-fill: var(--uitk-color-blue-500);
  --checkbox-outlineColor-hover: var(--uitk-color-blue-400);
  --checkbox-tick-color: var(--uitk-color-white);
}

.uitk-dark .uitkGridRowSelectionCheckboxCellValue {
  --checkbox-outlineColor: var(--uitk-color-grey-100);
  --checkbox-fill: var(--uitk-color-blue-400);
  --checkbox-outlineColor-hover: var(--uitk-color-blue-300);
  --checkbox-tick-color: var(--uitk-color-grey-800);
}

.uitk-light .uitkGridRowSelectionCheckboxHeaderValue {
  --checkbox-outlineColor: var(--uitk-color-grey-90);
  --checkbox-fill: var(--uitk-color-blue-500);
  --checkbox-outlineColor-hover: var(--uitk-color-blue-400);
  --checkbox-tick-color: var(--uitk-color-white);
}

.uitk-dark .uitkGridRowSelectionCheckboxHeaderValue {
  --checkbox-outlineColor: var(--uitk-color-grey-100);
  --checkbox-fill: var(--uitk-color-blue-400);
  --checkbox-outlineColor-hover: var(--uitk-color-blue-300);
  --checkbox-tick-color: var(--uitk-color-grey-800);
}

.uitkGridRowSelectionCheckboxCellValue {
  --checkbox-size: 12px;
}

.uitkGridRowSelectionCheckboxCellValue {
  height: var(--uitkGrid-rowHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uitkGridRowSelectionCheckboxCellValue-checkedIcon {
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  stroke: var(--checkbox-outlineColor);
  fill: var(--checkbox-fill);
}

.uitkGridRowSelectionCheckboxCellValue-checkedIcon-tick {
  fill: var(--checkbox-tick-color);
}

.uitkGridRowSelectionCheckboxCellValue-uncheckedIcon {
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  stroke: var(--checkbox-outlineColor);
}

.uitkGridRowSelectionCheckboxHeaderValue {
  --checkbox-size: 12px;
}

.uitkGridRowSelectionCheckboxHeaderValue {
  height: var(--uitkGrid-rowHeight);
  overflow: hidden;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.uitkGridRowSelectionCheckboxHeaderValue-checkedIcon {
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  overflow: visible;
  stroke: var(--checkbox-outlineColor);
  fill: var(--checkbox-fill);
}

.uitkGridRowSelectionCheckboxHeaderValue-checkedIcon-tick {
  fill: var(--checkbox-tick-color);
}

.uitkGridRowSelectionCheckboxHeaderValue-uncheckedIcon {
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  stroke: var(--uitk-color-grey-90);
}
