.saltCircularProgress {
  color: var(--salt-content-primary-foreground);
  display: inline-flex;
  position: relative;
}

.saltCircularProgress-progressLabel {
  align-items: center;
  color: var(--salt-content-primary-foreground);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
}

.saltCircularProgress-track {
  inline-size: calc(var(--salt-size-base) * 3);
  block-size: calc(var(--salt-size-base) * 3);
  border-style: var(--salt-track-borderStyle);
  border-width: var(--salt-size-bar-small);
  border-radius: calc(var(--salt-size-base) * 3);
  border-color: var(--salt-track-borderColor);
  box-sizing: border-box;
}

.saltCircularProgress-bar {
  inline-size: calc(var(--salt-size-base) * 3);
  block-size: calc(var(--salt-size-base) * 3);
  border-style: var(--salt-track-borderStyle);
  border-width: var(--salt-size-bar-strong);
  border-radius: calc(var(--salt-size-base) * 3);
  border-color: var(--salt-accent-background);
  box-sizing: border-box;
}

.saltCircularProgress-bars {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
}

.saltCircularProgress-barOverlayRight,
.saltCircularProgress-barOverlayLeft {
  inline-size: 50%;
  block-size: 100%;
  transform-origin: 100% center;
  transform: rotate(180deg);
  overflow: hidden;
  position: absolute;
}

.saltCircularProgress-barSubOverlayRight,
.saltCircularProgress-barSubOverlayLeft {
  inline-size: 100%;
  block-size: 100%;
  transform-origin: 100% center;
  overflow: hidden;
  transform: rotate(-180deg);
}

.saltCircularProgress-barOverlayLeft {
  transform: rotate(0deg);
}
