.saltCalendarMonth-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(var(--calendar-day-size) * 7 + var(--calendar-gap) * 6);
  text-align: center;
  gap: var(--calendar-gap);
}

.saltCalendarMonth-grid > .saltCalendarMonth-week {
  display: flex;
  justify-content: flex-start;
  gap: var(--calendar-gap);
  width: 100%;
}

.saltCalendarMonth-grid > .saltCalendarMonth-week > .saltCalendarDay:last-child::before {
  right: 0;
}

.saltCalendarMonth-grid > .saltCalendarMonth-week > .saltCalendarDay:first-child::before {
  left: 0;
}

.saltCalendarMonth-grid > .saltCalendarMonth-week > * {
  width: var(--calendar-day-size);
  height: var(--calendar-day-size);
  box-sizing: border-box;
}
