.saltAudioPlayer {
  padding: var(--salt-spacing-100);
  background-color: var(--salt-actionable-primary-background);
}

.saltAudioPlayer-title {
    display: flex;
    justify-content: center;
}

.saltAudioPlayer-sliderContainer {
    display: flex;
    justify-content: center;
}

.saltAudioPlayer-sliderContainer:hover {
  cursor: pointer
}

.saltAudioPlayer-slider {
  position: relative;
  top: -7px;
}

.saltAudioPlayer-buttonBar {
  justify-content: center !important;
}