.root {
  margin-block: var(--salt-spacing-200);
}

.root h4 {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-100);
}

.text p:last-child {
  margin-bottom: 0;
}
