.saltSidePanel {
  overflow: hidden;
  background-color: var(--salt-container-primary-background);
  --saltSidePanel-width: 16rem;
  --saltSidePanel-height: 16rem;
  --saltSidePanel-border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
}

.saltSidePanel.saltSidePanel-left {
  border-right: var(--saltSidePanel-border);
}
.saltSidePanel.saltSidePanel-right {
  border-left: var(--saltSidePanel-border);
}
.saltSidePanel.saltSidePanel-top {
  border-bottom: var(--saltSidePanel-border);
}
.saltSidePanel.saltSidePanel-bottom {
  border-top: var(--saltSidePanel-border);
}

.saltSidePanel.saltSidePanel-left,
.saltSidePanel.saltSidePanel-right {
  width: var(--saltSidePanel-width);
  height: 100%;
}

.saltSidePanel.saltSidePanel-top,
.saltSidePanel.saltSidePanel-bottom {
  height: var(--saltSidePanel-height);
  width: 100%;
}

.saltSidePanel-left.saltSidePanel-enterAnimation,
.saltSidePanel-right.saltSidePanel-enterAnimation {
  animation: saltSidePanel-expandWidth var(--salt-animation-duration) var(--salt-animation-timing-function);
}

.saltSidePanel-left.saltSidePanel-exitAnimation,
.saltSidePanel-right.saltSidePanel-exitAnimation {
  animation: saltSidePanel-collapseWidth var(--salt-animation-duration) var(--salt-animation-timing-function) both;
}

.saltSidePanel-top.saltSidePanel-enterAnimation,
.saltSidePanel-bottom.saltSidePanel-enterAnimation {
  animation: saltSidePanel-expandHeight var(--salt-animation-duration) var(--salt-animation-timing-function);
}

.saltSidePanel-top.saltSidePanel-exitAnimation,
.saltSidePanel-bottom.saltSidePanel-exitAnimation {
  animation: saltSidePanel-collapseHeight var(--salt-animation-duration) var(--salt-animation-timing-function) both;
}

.saltSidePanel-exitAnimation {
  pointer-events: none;
}

.saltSidePanel-inner {
  box-sizing: border-box;
  overflow: auto;
  padding: var(--salt-spacing-300);
}

.saltSidePanel.saltSidePanel-left .saltSidePanel-inner,
.saltSidePanel.saltSidePanel-right .saltSidePanel-inner {
  width: var(--saltSidePanel-width);
  height: 100%;
}

.saltSidePanel.saltSidePanel-top .saltSidePanel-inner,
.saltSidePanel.saltSidePanel-bottom .saltSidePanel-inner {
  height: var(--saltSidePanel-height);
  width: 100%;
}

@keyframes saltSidePanel-expandWidth {
  from {
    width: 0;
  }
}
@keyframes saltSidePanel-collapseWidth {
  to {
    width: 0;
  }
}
@keyframes saltSidePanel-expandHeight {
  from {
    height: 0;
  }
}
@keyframes saltSidePanel-collapseHeight {
  to {
    height: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .saltSidePanel-left.saltSidePanel-enterAnimation,
  .saltSidePanel-right.saltSidePanel-enterAnimation,
  .saltSidePanel-left.saltSidePanel-exitAnimation,
  .saltSidePanel-right.saltSidePanel-exitAnimation,
  .saltSidePanel-top.saltSidePanel-enterAnimation,
  .saltSidePanel-bottom.saltSidePanel-enterAnimation,
  .saltSidePanel-top.saltSidePanel-exitAnimation,
  .saltSidePanel-bottom.saltSidePanel-exitAnimation {
    animation: none;
  }
}
