.saltSidePanelHeader {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: var(--salt-spacing-100);
  padding: var(--salt-spacing-300) var(--salt-spacing-300) 0 var(--salt-spacing-300);
}
