.componentList {
  --table-cell-padding: 0.75rem;
}

.componentList {
  margin: 0 0 calc(var(--salt-size-unit) * 3) 0;
}

.componentList table {
  table-layout: fixed;
}

.componentList td :first-child {
  display: flex;
  align-items: center;
  gap: calc(var(--salt-size-unit) / 2);
}

.componentList th {
  padding: 0;
}

.componentList th button {
  /* Remove button default styles so it's not visible but we retain its functionality for ADA purposes */
  --saltButton-background-hover: transparent;
  --saltButton-background: transparent;
  --saltButton-background-active: transparent;
  --button-text-color-active: var(--button-text-color-hover);
  --saltButton-width: 100%;
  --saltButton-padding: 0;
  --saltButton-text-color: none;
  --saltButton-textTransform: none;
  --saltButton-fontWeight: none;
  --saltButton-letterSpacing: normal;
  --saltButton-height: auto;

  display: inline;
  padding: var(--table-cell-padding);
}

.componentList th button:hover {
  --saltIcon-color: var(--button-text-color-hover);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer span {
  display: flex;
  gap: calc(var(--salt-size-unit) / 2);
}

.status svg {
  --icon-size: 12px;
}

.status.ready svg {
  --saltIcon-color: var(--salt-status-success-foreground);
}

.status.lab svg {
  --saltIcon-color: var(--salt-status-success-foreground);
}

.status.progress svg {
  --saltIcon-color: var(--salt-status-warning-foreground);
}

.status.backlog svg {
  --saltIcon-color: var(--salt-status-error-foreground);
}
