.list {
  width: 200px;
  border-right: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-container-primary-borderColor);
}

.label {
  color: var(--salt-content-secondary-foreground);
  padding: var(--salt-size-unit);
  font-size: var(--salt-text-label-fontSize);
  border-bottom: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-container-primary-borderColor);
}
