.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: calc(var(--salt-size-unit) * 2) 0;
  border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-separable-tertiary-borderColor);
  background-color: var(--salt-container-primary-background);
  position: sticky;
  top: var(--navbar-height);
  z-index: var(--salt-zIndex-default);
  gap: calc(var(--salt-size-unit) * 3);
}

.toggleButtonGroups {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--salt-size-unit) * 3);
}

.density,
.mode {
  display: flex;
  align-items: center;
  gap: var(--salt-size-unit);
}

.smallViewport {
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
