.NumberBlock-cell {
  width: calc(var(--uitk-size-base) * 1.3);
  height: var(--uitk-size-base);
  line-height: var(--uitk-size-base);
  justify-self: end;

  border-color: var(--uitk-container-borderColor-medium);
  border-style: var(--uitk-container-borderStyle);
  border-width: var(--uitk-container-borderWidth);
  border-radius: var(--uitk-container-borderRadius);

  font-size: var(--uitk-text-fontSize);
  text-align: center;
}
