.ShadowBlock {
  grid-column: 1 / 2;

  margin: var(--uitk-size-unit);
  padding: var(--uitk-size-unit);

  color: var(--uitk-text-primary-foreground);

  border-color: var(--uitk-container-borderColor-medium);
  border-style: var(--uitk-container-borderStyle);
  border-width: var(--uitk-container-borderWidth);
  border-radius: var(--uitk-container-borderRadius);
}

.ShadowBlock-cell {
  width: var(--uitk-size-base);
  height: var(--uitk-size-base);
  justify-self: end;

  border-color: var(--uitk-container-borderColor-medium);
  border-style: var(--uitk-container-borderStyle);
  border-width: var(--uitk-container-borderWidth);
  border-radius: var(--uitk-container-borderRadius);
}
