/* Styles applied to root component */
.uitk-density-high {
  --checkbox-size: 12px;
  --checkbox-density-bar-y: 5px;
  --checkbox-density-bar-height: 3px;
}

.uitk-density-medium {
  --checkbox-size: 14px;
  --checkbox-density-bar-y: 6px;
  --checkbox-density-bar-height: 2px;
}

.uitk-density-low {
  --checkbox-size: 16px;
  --checkbox-density-bar-y: 6px;
  --checkbox-density-bar-height: 2px;
}

.uitk-density-touch {
  --checkbox-size: 18px;
  --checkbox-density-bar-y: 6px;
  --checkbox-density-bar-height: 2px;
}

.uitkCheckboxIcon {
  --checkbox-borderWidth: var(--uitk-selectable-borderWidth);
  --checkbox-box-offset: calc(var(--checkbox-borderWidth) / 2);
  --checkbox-height: calc(var(--checkbox-viewbox) - var(--checkbox-borderWidth));
  --checkbox-icon-tick-fill: var(--uitkCheckbox-icon-tick-color, var(--uitk-selectable-primary-foreground-selected));
  --checkbox-viewbox: 14px; /* do not change, matches value in svg viewBox */
  --checkbox-width: calc(var(--checkbox-viewbox) - var(--checkbox-borderWidth));

  fill: var(--uitkCheckbox-icon-fill, var(--uitk-selectable-background));
  height: var(--uitkCheckbox-icon-size, var(--checkbox-size));
  stroke: var(--uitkCheckbox-icon-stroke, var(--uitk-selectable-borderColor));
  stroke-width: var(--uitkCheckbox-icon-strokeWidth, var(--uitk-selectable-borderWidth));
  width: var(--uitkCheckbox-icon-size, var(--checkbox-size));
}

/* Styles applied to root component on hover */
.uitkCheckbox:hover .uitkCheckboxIcon,
.uitkCheckboxIcon:hover {
  stroke: var(--uitkCheckbox-icon-stroke, var(--uitk-selectable-borderColor));
  stroke-width: var(--uitkCheckbox-icon-strokeWidth-hover, var(--uitk-selectable-borderWidth-hover));
}

/* Styles applied if `disabled={true}` */
.uitkCheckboxIcon-disabled {
  stroke: var(--uitkCheckbox-icon-stroke-disabled, var(--uitk-selectable-borderColor-disabled));
  stroke-width: var(--uitkCheckbox-icon-strokeWidth-disabled, var(--uitk-selectable-borderWidth));
}

/* Styles applied if `disabled={true}` on hover */
.uitkCheckboxIcon.uitkCheckboxIcon-disabled:hover, 
.uitkCheckbox.uitkCheckbox-disabled:hover .uitkCheckboxIcon {
  stroke: var(--uitkCheckbox-icon-stroke-disabled, var(--uitk-selectable-borderColor-disabled));
  stroke-width: var(--uitkCheckbox-icon-strokeWidth-disabled, var(--uitk-selectable-borderWidth));
}

/* Styles applied if `checked={true}` */
.uitkCheckboxIcon-checked {
  --checkbox-borderWidth: var(--uitkCheckbox-icon-borderWidth-checked, 0px);

  fill: var(--uitkCheckbox-icon-fill-checked, var(--uitk-selectable-borderColor-selected));
}

/* Styles applied if `checked={true}` and `disabled={true}` */
.uitkCheckboxIcon-checked.uitkCheckboxIcon-disabled {
  fill: var(--uitkCheckbox-icon-fill-disabled, var(--uitk-selectable-borderColor-selectedDisabled));
}

/* Styles applied to box */
.uitkCheckboxIcon-box {
  height: var(--checkbox-height);
  stroke-width: var(--checkbox-borderWidth);
  width: var(--checkbox-width);
  x: var(--checkbox-box-offset);
  y: var(--checkbox-box-offset);
}

/* Styles applied to icon if `indeterminate={true}` */
.uitkCheckboxIcon-indeterminate {
  --checkbox-icon-tick-fill: var(--uitkCheckbox-icon-indeterminate-bar-color, var(--uitk-selectable-foreground-partial));
}

/* Styles applied if `indeterminate={true}` and `disabled={true}` */
.uitkCheckboxIcon-disabled.uitkCheckboxIcon-indeterminate {
  --checkbox-icon-tick-fill: var(--uitkCheckbox-icon-indeterminate-bar-color-disabled, var(--uitk-selectable-foreground-partialDisabled));
}

/* Styles applied to tick */
.uitkCheckboxIcon-tick {
  fill: var(--uitkCheckbox-icon-tick-fill, var(--checkbox-icon-tick-fill));
  stroke-width: 0;
}

/* Styles applied to tick if `indeterminate={true}` */
.uitkCheckboxIcon-indeterminate .uitkCheckboxIcon-tick {
  height: var(--uitkCheckbox-icon-indeterminate-bar-height, var(--checkbox-density-bar-height));
  y: var(--uitkCheckbox-icon-indeterminate-bar-y, var(--checkbox-density-bar-y));
}

/* TK1 backwards compat styling */

.uitk-light {
  --backwardsCompat-checkbox-icon-stroke-hover: var(--uitk-color-blue-400);
  --backwardsCompat-checkbox-icon-stroke-disabled: var(--uitk-color-grey-90-fade-border);
  --backwardsCompat-checkbox-icon-checked-fill: var(--uitk-color-blue-500);
  --backwardsCompat-checkbox-icon-checked-fill-disabled: var(--uitk-color-blue-500);
}
.uitk-dark {
  --backwardsCompat-checkbox-icon-stroke-hover: var(--uitk-color-blue-300);
  --backwardsCompat-checkbox-icon-stroke-disabled: var(--uitk-color-grey-90-fade-border);
  --backwardsCompat-checkbox-icon-checked-fill: var(--uitk-color-blue-400);
  --backwardsCompat-checkbox-icon-checked-fill-disabled: var(--uitk-color-blue-400);
}

.uitkCheckbox.backwardsCompat:hover .uitkCheckboxIcon,
.uitkCheckbox.backwardsCompat .uitkCheckboxIcon:hover {
  stroke: var(--backwardsCompat-checkbox-icon-stroke-hover);
}

.uitkCheckbox.uitkCheckbox-disabled.backwardsCompat:hover .uitkCheckboxIcon,
.uitkCheckbox.backwardsCompat .uitkCheckboxIcon.uitkCheckboxIcon-disabled:hover {
  stroke: var(--backwardsCompat-checkbox-icon-stroke-disabled);
}

.uitkCheckbox.backwardsCompat .uitkCheckboxIcon-checked {
  fill: var(--backwardsCompat-checkbox-icon-checked-fill);
}

.uitkCheckbox.backwardsCompat .uitkCheckboxIcon-checked.uitkCheckboxIcon-disabled {
  fill: var(--backwardsCompat-checkbox-icon-checked-fill-disabled);
}