.saltCheckboxIcon {
  --checkbox-size: var(--salt-size-selectable);
  width: var(--checkbox-size);
  min-width: var(--checkbox-size);
  height: var(--checkbox-size);
  min-height: var(--checkbox-size);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor);
  border-radius: var(--salt-palette-corner-weaker, 0);
  color: var(--salt-selectable-foreground);
  background: var(--salt-container-primary-background);
  position: relative;
  --saltIcon-size: 100%;
  display: flex;
  /* Using overflow:hidden here causes a thin white line */
  clip-path: border-box;
  box-sizing: border-box;
}

.saltCheckboxIcon-checked,
.saltCheckbox:hover .saltCheckboxIcon-checked {
  border-color: var(--salt-selectable-borderColor-selected);
  color: var(--salt-selectable-foreground-selected);
}

.saltCheckbox:hover .saltCheckboxIcon,
.saltCheckbox:hover .saltCheckboxIcon-indeterminate {
  border-color: var(--salt-selectable-borderColor-hover);
  color: var(--salt-selectable-foreground-hover);
}

.saltCheckboxIcon-checked.saltCheckboxIcon-indeterminate {
  border-color: var(--salt-selectable-borderColor);
  color: var(--salt-selectable-foreground);
}

.saltCheckboxIcon-disabled,
.saltCheckbox:hover .saltCheckboxIcon-disabled,
.saltCheckboxIcon-disabled.saltCheckboxIcon-indeterminate,
.saltCheckbox:hover .saltCheckboxIcon-disabled.saltCheckboxIcon-indeterminate {
  border-color: var(--salt-selectable-borderColor-disabled);
  background: var(--salt-container-primary-background-disabled);
  color: var(--salt-selectable-foreground-disabled);
}

.saltCheckboxIcon-checked.saltCheckboxIcon-disabled,
.saltCheckbox:hover .saltCheckboxIcon-checked.saltCheckboxIcon-disabled {
  border-color: var(--salt-selectable-borderColor-selectedDisabled);
  color: var(--salt-selectable-foreground-selectedDisabled);
}

.saltCheckboxIcon-indeterminate::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--checkbox-size) - 6px);
  height: 2px;
  background: currentColor;
  transform: translate(-50%, -50%);
}

.saltCheckboxIcon-error,
.saltCheckbox:hover .saltCheckboxIcon-error {
  color: var(--salt-status-error-foreground-decorative);
  border-color: var(--salt-status-error-borderColor);
  outline-color: var(--salt-status-error-foreground-decorative);
}

.saltCheckboxIcon-warning,
.saltCheckbox:hover .saltCheckboxIcon-warning {
  color: var(--salt-status-warning-foreground-decorative);
  border-color: var(--salt-status-warning-borderColor);
  outline-color: var(--salt-status-warning-foreground-decorative);
}

.saltCheckboxIcon-readOnly,
.saltCheckbox:hover .saltCheckboxIcon-readOnly,
.saltCheckbox-input:focus-visible + .saltCheckboxIcon-readOnly {
  border-color: var(--salt-selectable-borderColor-readonly);
  border-style: var(--salt-borderStyle-dashed);
  color: var(--salt-content-primary-foreground);
}

.saltCheckboxIcon > svg {
  position: absolute;
  /* Ensure a gap doesn't appear when device scaling is used */
  transform: scale(1.01);
}
