/* Styles applied to root component */
.saltCheckboxGroup {
  border: none;
  margin: 0;
  padding: 0;
}

/* Styles applied to root component if `direction={"horizontal"}` */
.saltCheckboxGroup-horizontal {
  display: flex;
  gap: var(--salt-spacing-200);
  flex-direction: row;
  flex-wrap: wrap;
}

/* Styles applied to root component if `direction={"vertical"}` */
.saltCheckboxGroup-vertical {
  display: flex;
  gap: var(--salt-spacing-100);
  flex-direction: column;
}

.saltCheckboxGroup-noWrap {
  flex-wrap: nowrap;
}

.saltCheckboxGroup-noWrap .saltCheckbox {
  white-space: break-spaces;
}

/* Styles applied when checkbox button group is inside a form field with label left or right */
.saltFormField-labelLeft .saltCheckboxGroup,
.saltFormField-labelRight .saltCheckboxGroup {
  padding-top: var(--salt-spacing-100);
}
