.salt-theme.salt-theme-next[data-mode="light"] {
  --salt-palette-categorical-1: var(--salt-color-cobalt-500);
  --salt-palette-categorical-1-strong: var(--salt-color-cobalt-600);
  --salt-palette-categorical-1-weakest: var(--salt-color-cobalt-100);

  --salt-palette-categorical-2: var(--salt-color-cider-500);
  --salt-palette-categorical-2-strong: var(--salt-color-cider-600);
  --salt-palette-categorical-2-weakest: var(--salt-color-cider-100);

  --salt-palette-categorical-3: var(--salt-color-plum-500);
  --salt-palette-categorical-3-strong: var(--salt-color-plum-600);
  --salt-palette-categorical-3-weakest: var(--salt-color-plum-100);

  --salt-palette-categorical-4: var(--salt-color-aqua-500);
  --salt-palette-categorical-4-strong: var(--salt-color-aqua-600);
  --salt-palette-categorical-4-weakest: var(--salt-color-aqua-100);

  --salt-palette-categorical-5: var(--salt-color-slate-500);
  --salt-palette-categorical-5-strong: var(--salt-color-slate-600);
  --salt-palette-categorical-5-weakest: var(--salt-color-slate-100);

  --salt-palette-categorical-6: var(--salt-color-rose-500);
  --salt-palette-categorical-6-strong: var(--salt-color-rose-600);
  --salt-palette-categorical-6-weakest: var(--salt-color-rose-100);

  --salt-palette-categorical-7: var(--salt-color-olive-500);
  --salt-palette-categorical-7-strong: var(--salt-color-olive-600);
  --salt-palette-categorical-7-weakest: var(--salt-color-olive-100);

  --salt-palette-categorical-8: var(--salt-color-salmon-500);
  --salt-palette-categorical-8-strong: var(--salt-color-salmon-600);
  --salt-palette-categorical-8-weakest: var(--salt-color-salmon-100);

  --salt-palette-categorical-9: var(--salt-color-indigo-500);
  --salt-palette-categorical-9-strong: var(--salt-color-indigo-600);
  --salt-palette-categorical-9-weakest: var(--salt-color-indigo-100);

  --salt-palette-categorical-10: var(--salt-color-jade-500);
  --salt-palette-categorical-10-strong: var(--salt-color-jade-600);
  --salt-palette-categorical-10-weakest: var(--salt-color-jade-100);

  --salt-palette-categorical-11: var(--salt-color-citrine-500);
  --salt-palette-categorical-11-strong: var(--salt-color-citrine-600);
  --salt-palette-categorical-11-weakest: var(--salt-color-citrine-100);

  --salt-palette-categorical-12: var(--salt-color-autumn-500);
  --salt-palette-categorical-12-strong: var(--salt-color-autumn-600);
  --salt-palette-categorical-12-weakest: var(--salt-color-autumn-100);

  --salt-palette-categorical-13: var(--salt-color-lavender-500);
  --salt-palette-categorical-13-strong: var(--salt-color-lavender-600);
  --salt-palette-categorical-13-weakest: var(--salt-color-lavender-100);

  --salt-palette-categorical-14: var(--salt-color-ocean-500);
  --salt-palette-categorical-14-strong: var(--salt-color-ocean-600);
  --salt-palette-categorical-14-weakest: var(--salt-color-ocean-100);

  --salt-palette-categorical-15: var(--salt-color-smoke-500);
  --salt-palette-categorical-15-strong: var(--salt-color-smoke-600);
  --salt-palette-categorical-15-weakest: var(--salt-color-smoke-100);

  --salt-palette-categorical-16: var(--salt-color-fuchsia-500);
  --salt-palette-categorical-16-strong: var(--salt-color-fuchsia-600);
  --salt-palette-categorical-16-weakest: var(--salt-color-fuchsia-100);

  --salt-palette-categorical-17: var(--salt-color-lime-500);
  --salt-palette-categorical-17-strong: var(--salt-color-lime-600);
  --salt-palette-categorical-17-weakest: var(--salt-color-lime-100);

  --salt-palette-categorical-18: var(--salt-color-fur-500);
  --salt-palette-categorical-18-strong: var(--salt-color-fur-600);
  --salt-palette-categorical-18-weakest: var(--salt-color-fur-100);

  --salt-palette-categorical-19: var(--salt-color-violet-500);
  --salt-palette-categorical-19-strong: var(--salt-color-violet-600);
  --salt-palette-categorical-19-weakest: var(--salt-color-violet-100);

  --salt-palette-categorical-20: var(--salt-color-forest-500);
  --salt-palette-categorical-20-strong: var(--salt-color-forest-600);
  --salt-palette-categorical-20-weakest: var(--salt-color-forest-100);
}

.salt-theme.salt-theme-next[data-mode="dark"] {
  --salt-palette-categorical-1: var(--salt-color-cobalt-500);
  --salt-palette-categorical-1-strong: var(--salt-color-cobalt-400);
  --salt-palette-categorical-1-weakest: var(--salt-color-cobalt-900);

  --salt-palette-categorical-2: var(--salt-color-cider-500);
  --salt-palette-categorical-2-strong: var(--salt-color-cider-400);
  --salt-palette-categorical-2-weakest: var(--salt-color-cider-900);

  --salt-palette-categorical-3: var(--salt-color-plum-500);
  --salt-palette-categorical-3-strong: var(--salt-color-plum-400);
  --salt-palette-categorical-3-weakest: var(--salt-color-plum-900);

  --salt-palette-categorical-4: var(--salt-color-aqua-500);
  --salt-palette-categorical-4-strong: var(--salt-color-aqua-400);
  --salt-palette-categorical-4-weakest: var(--salt-color-aqua-900);

  --salt-palette-categorical-5: var(--salt-color-slate-500);
  --salt-palette-categorical-5-strong: var(--salt-color-slate-400);
  --salt-palette-categorical-5-weakest: var(--salt-color-slate-900);

  --salt-palette-categorical-6: var(--salt-color-rose-500);
  --salt-palette-categorical-6-strong: var(--salt-color-rose-400);
  --salt-palette-categorical-6-weakest: var(--salt-color-rose-900);

  --salt-palette-categorical-7: var(--salt-color-olive-500);
  --salt-palette-categorical-7-strong: var(--salt-color-olive-400);
  --salt-palette-categorical-7-weakest: var(--salt-color-olive-900);

  --salt-palette-categorical-8: var(--salt-color-salmon-500);
  --salt-palette-categorical-8-strong: var(--salt-color-salmon-400);
  --salt-palette-categorical-8-weakest: var(--salt-color-salmon-900);

  --salt-palette-categorical-9: var(--salt-color-indigo-500);
  --salt-palette-categorical-9-strong: var(--salt-color-indigo-400);
  --salt-palette-categorical-9-weakest: var(--salt-color-indigo-900);

  --salt-palette-categorical-10: var(--salt-color-jade-500);
  --salt-palette-categorical-10-strong: var(--salt-color-jade-400);
  --salt-palette-categorical-10-weakest: var(--salt-color-jade-900);

  --salt-palette-categorical-11: var(--salt-color-citrine-500);
  --salt-palette-categorical-11-strong: var(--salt-color-citrine-400);
  --salt-palette-categorical-11-weakest: var(--salt-color-citrine-900);

  --salt-palette-categorical-12: var(--salt-color-autumn-500);
  --salt-palette-categorical-12-strong: var(--salt-color-autumn-400);
  --salt-palette-categorical-12-weakest: var(--salt-color-autumn-900);

  --salt-palette-categorical-13: var(--salt-color-lavender-500);
  --salt-palette-categorical-13-strong: var(--salt-color-lavender-400);
  --salt-palette-categorical-13-weakest: var(--salt-color-lavender-900);

  --salt-palette-categorical-14: var(--salt-color-ocean-500);
  --salt-palette-categorical-14-strong: var(--salt-color-ocean-400);
  --salt-palette-categorical-14-weakest: var(--salt-color-ocean-900);

  --salt-palette-categorical-15: var(--salt-color-smoke-500);
  --salt-palette-categorical-15-strong: var(--salt-color-smoke-400);
  --salt-palette-categorical-15-weakest: var(--salt-color-smoke-900);

  --salt-palette-categorical-16: var(--salt-color-fuchsia-500);
  --salt-palette-categorical-16-strong: var(--salt-color-fuchsia-400);
  --salt-palette-categorical-16-weakest: var(--salt-color-fuchsia-900);

  --salt-palette-categorical-17: var(--salt-color-lime-500);
  --salt-palette-categorical-17-strong: var(--salt-color-lime-400);
  --salt-palette-categorical-17-weakest: var(--salt-color-lime-900);

  --salt-palette-categorical-18: var(--salt-color-fur-500);
  --salt-palette-categorical-18-strong: var(--salt-color-fur-400);
  --salt-palette-categorical-18-weakest: var(--salt-color-fur-900);

  --salt-palette-categorical-19: var(--salt-color-violet-500);
  --salt-palette-categorical-19-strong: var(--salt-color-violet-400);
  --salt-palette-categorical-19-weakest: var(--salt-color-violet-900);

  --salt-palette-categorical-20: var(--salt-color-forest-500);
  --salt-palette-categorical-20-strong: var(--salt-color-forest-400);
  --salt-palette-categorical-20-weakest: var(--salt-color-forest-900);
}
