.salt-theme.salt-theme-next[data-mode="light"] {
  --salt-palette-positive-stronger: var(--salt-color-green-700);
  --salt-palette-positive-strong: var(--salt-color-green-600);
  --salt-palette-positive: var(--salt-color-green-500);
  --salt-palette-positive-weaker: var(--salt-color-green-200);
  --salt-palette-positive-weakest: var(--salt-color-green-100);

  --salt-palette-positive-action-hover: var(--salt-color-green-100);
}

.salt-theme.salt-theme-next[data-mode="dark"] {
  --salt-palette-positive-stronger: var(--salt-color-green-300);
  --salt-palette-positive-strong: var(--salt-color-green-400);
  --salt-palette-positive: var(--salt-color-green-500);
  --salt-palette-positive-weaker: var(--salt-color-green-800);
  --salt-palette-positive-weakest: var(--salt-color-green-900);

  --salt-palette-positive-action-hover: var(--salt-color-green-900);
}
