.root {
  padding: var(--salt-spacing-200);
  border: var(--salt-size-separator-strokeWidth) var(--salt-container-borderStyle) var(--salt-container-primary-borderColor);
  margin-block: var(--salt-spacing-300);
  position: relative;
}

@media not screen and (min-width: 960px) {
  .root {
    padding: var(--salt-spacing-100);
  }
}

.pill {
  z-index: 1;
  display: inline-flex;
  align-items: center;
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight-strong);
  line-height: var(--salt-text-lineHeight);
  padding: 0 var(--salt-size-unit);
  background-color: var(--salt-container-secondary-background);
  margin-bottom: var(--salt-spacing-200);
}

.positive .pill {
  background-color: var(--salt-status-success-background);
}

.negative .pill {
  background-color: var(--salt-status-error-background);
}

.pillIcon.pillIcon {
  margin-right: var(--salt-size-unit);
}

.positive .pillIcon {
  color: var(--salt-status-positive-foreground);
}

.negative .pillIcon {
  color: var(--salt-status-negative-foreground);
}

.content > :first-child {
  margin-top: 0;
}

.content > :last-child {
  margin-bottom: 0;
}

.content img {
  width: 100%;
  height: auto;
}
