.uitkIcon {
  --icon-color: var(--uitkIcon-color, var(--uitk-text-secondary-foreground));
  --icon-size-multiplier: var(--uitkIcon-size-multiplier, 1);
  --icon-base-size: var(--uitk-size-icon-base, 12px);
  --icon-size: max(calc(var(--icon-base-size) * var(--icon-size-multiplier)), 12px);
}

.uitkIcon {
  fill: var(--uitkIcon-color, var(--icon-color));
  display: inline-block;
  margin: var(--uitkIcon-margin, 0);
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
}

.uitkIcon:hover {
  --icon-color: var(--uitkIcon-color-hover, var(--uitk-text-secondary-foreground));
}

.uitkIcon:active {
  --icon-color: var(--uitkIcon-color-active, var(--uitk-text-secondary-foreground));
}
