.uitkScrim {
  --scrim-background: var(--uitk-overlayable-background-low);
}

.uitkEmphasisMedium.uitkScrim {
  --scrim-background: var(--uitk-overlayable-background-medium);
}

.uitkScrim {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  display: flex;
  z-index: 1199;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: var(--uitkScrim-background, var(--scrim-background));
  -webkit-tap-highlight-color: transparent;
}

.uitkScrim:focus {
  outline: none;
}

.uitkScrim-containerFix {
  position: absolute;
  z-index: calc(var(--uitk-zindex-appheader) - 1);
}
