nav {
  position: relative;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.vertical {
  width: 500px;
  height: 500px;
}

.horizontal,
.vertical {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.nestedGroup {
  display: flex;
  flex-direction: column;
  gap: var(--salt-size-border);
}

.cardList {
  padding: var(--salt-spacing-200);
}

.cardItem {
  padding: var(--salt-spacing-100);
}

.cardItem .saltLink {
  text-decoration: none;
}

.linkCard {
  --saltCard-padding: calc(var(--salt-size-unit) * 2);
  border: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-container-secondary-borderColor);
}

.container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 500px;
}

.container nav {
  z-index: var(--salt-zIndex-appHeader);
}

.content {
  position: relative;
  flex: 1;
}

.content .saltLayerLayout,
.content .saltScrim {
  position: relative;
  width: 80vw;
  align-items: flex-start;
}

.content .saltLayerLayout {
  padding-top: var(--salt-spacing-100);
}

.container .saltScrim {
  z-index: calc(var(--salt-zIndex-appHeader) - 1);
}

.menu {
  list-style: none;
  margin: 0;
  width: 500px;
}

.list {
  height: auto;
  margin-left: var(--salt-spacing-100);
}

.center {
  display: flex;
  justify-content: center;
}

.megaMenu {
  padding: var(--salt-spacing-300);
  display: flex;
  flex-wrap: wrap;
  gap: var(--salt-spacing-300);
}

.megaMenu h3 {
  margin-top: 0;
  margin-bottom: var(--salt-spacing-100);
}

.megaMenu h4 {
  font-weight: var(--salt-text-label-fontWeight-strong);
  color: var(--salt-text-secondary-foreground);
  padding-bottom: var(--salt-spacing-100);
}

.megaMenuList {
  height: auto;
}
