.saltMenuGroup-label {
  background: var(--salt-container-primary-background);
  color: var(--salt-content-secondary-foreground);
  font-size: var(--salt-text-label-fontSize);
  font-weight: var(--salt-text-label-fontWeight-strong);
  font-family: var(--salt-text-label-fontFamily);
  line-height: var(--salt-text-label-lineHeight);
  letter-spacing: var(--salt-text-letterSpacing);
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding: calc(var(--salt-spacing-100) + var(--salt-spacing-25)) var(--salt-spacing-100);
  display: flex;
  box-sizing: border-box;
}

.saltMenuGroup {
  border-top: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-separable-tertiary-borderColor);
}

.saltMenuGroup:first-of-type {
  border-top: 0;
}
