.uitkToggleButtonGroup.uitkToggleButtonGroup-cta {
  --toggle-button-group-border-color: var(--uitk-accent-border-color); /* TODO: Check token */
}

.uitkToggleButtonGroup {
  --toggle-button-group-border-color: var(--uitk-container-border-color-medium); /* TODO: Check token */

  display: inline-flex;
  box-sizing: border-box;
  overflow: hidden;
  padding: 2px;
  border: 1px solid var(--toggle-button-group-border-color);
}

.uitkToggleButtonGroup.uitkToggleButtonGroup-secondary {
  border: none;
}

.uitkToggleButtonGroup-horizontal .uitkToggleButton {
  height: var(--uitk-size-toggle-button);
}

.uitkToggleButtonGroup-horizontal .uitkToggleButton:not(:first-child) {
  margin-left: 2px;
}

.uitkToggleButtonGroup-vertical {
  flex-direction: column;
}

.uitkToggleButtonGroup-vertical .uitkToggleButton:not(:first-child) {
  margin-top: 2px;
}
