.uitk-density-high {
  --toggleButton-group-height: calc(var(--uitk-size-base) - var(--uitk-size-unit) + 2px);
}
.uitk-density-medium {
  --toggleButton-group-height: calc(var(--uitk-size-base) - (var(--uitk-size-unit) * 0.5) + 2px);
}
.uitk-density-low {
  --toggleButton-group-height: calc(var(--uitk-size-base) - (var(--uitk-size-unit) * 2 / 3) + 2px);
}
.uitk-density-touch {
  --toggleButton-group-height: calc(var(--uitk-size-base) - (var(--uitk-size-unit) * 0.5) + 2px);
}

.uitkToggleButtonGroup.uitkToggleButtonGroup-cta {
  --toggleButton-group-borderColor: var(--uitkToggleButton-group-cta-borderColor, var(--uitk-container-borderColor-high));
}
.uitkToggleButtonGroup.uitkToggleButtonGroup-primary {
  --toggleButton-group-borderColor: var(--uitkToggleButton-group-primary-borderColor, var(--uitk-container-borderColor-medium));
}

.uitkToggleButtonGroup {
  --toggleButton-group-borderWidth: var(--uitkToggleButton-group-borderWidth, var(--uitk-size-border));
  --toggleButton-group-borderStyle: var(--uitkToggleButton-group-borderWidth, var(--uitk-container-borderStyle));

  display: inline-flex;
  overflow: hidden;
  padding: 2px;
  border: var(--toggleButton-group-borderWidth) var(--toggleButton-group-borderStyle) var(--toggleButton-group-borderColor);
}

.uitkToggleButtonGroup.uitkToggleButtonGroup-secondary {
  --toggleButton-group-borderColor: var(--uitkToggleButton-group-secondary-borderColor, var(--uitk-container-borderColor-low));
}

.uitkToggleButtonGroup-horizontal .uitkToggleButton {
  height: var(--toggleButton-group-height);
}

.uitkToggleButtonGroup-horizontal .uitkToggleButton:not(:first-child) {
  margin-left: 2px;
}

.uitkToggleButtonGroup-vertical {
  flex-direction: column;
}

.uitkToggleButtonGroup-vertical .uitkToggleButton:not(:first-child) {
  margin-top: 2px;
}
