.salt-density-touch {
  --toggleButton-icon-padding: 11px;
}

.salt-density-low {
  --toggleButton-icon-padding: 7px;
}

.salt-density-medium {
  --toggleButton-icon-padding: 5px;
}

.salt-density-high {
  --toggleButton-icon-padding: 1px;
}

.saltToggleButton-horizontal.saltToggleButton-iconOnly {
  padding: var(--saltToggleButton-icon-padding, var(--toggleButton-icon-padding));
}

/* CTA */
.saltToggleButton-cta {
  --saltButton-background: var(--salt-selectable-background);
  --saltButton-background-hover: var(--salt-selectable-cta-background-hover);
  --saltButton-background-active: var(--salt-selectable-cta-background-selected);
  --saltButton-background-disabled: var(--salt-selectable-background-disabled);

  --saltButton-text-color: var(--salt-selectable-cta-foreground);
  --saltButton-text-color-hover: var(--salt-selectable-cta-foreground-hover);
  --saltButton-text-color-active: var(--salt-selectable-cta-foreground-selected);
  --saltButton-text-color-disabled: var(--salt-selectable-cta-foreground-disabled);

  --saltIcon-color: var(--salt-selectable-cta-foreground);
}
.saltToggleButton-cta.saltToggleButton-disabled.saltButton-disabled {
  --saltButton-background-hover: var(--salt-selectable-background-disabled);
  --saltButton-background-active: var(--salt-selectable-cta-background-disabled);

  --saltButton-text-color-hover: var(--salt-selectable-cta-foreground-disabled);
  --saltButton-text-color-active: var(--salt-selectable-cta-foreground-disabled);

  --saltIcon-color: var(--salt-selectable-cta-foreground-disabled);
}
.saltToggleButton-cta.saltToggleButton-disabled {
  --saltButton-background-active: var(--salt-selectable-cta-background-selectedDisabled);
  --saltButton-text-color-active: var(--salt-selectable-cta-foreground-selectedDisabled);
  --saltIcon-color-active: var(--salt-selectable-cta-foreground-selectedDisabled);
}
.saltToggleButton-cta.saltToggleButton-toggled {
  --saltButton-background: var(--salt-selectable-cta-background-selected);
  --saltButton-background-hover: var(--salt-selectable-cta-background-selected);

  --saltButton-text-color: var(--salt-selectable-cta-foreground-selected);
  --saltButton-text-color-hover: var(--salt-selectable-cta-foreground-selected);

  --saltIcon-color: var(--salt-selectable-cta-foreground-selected);
}
.saltToggleButton-cta.saltToggleButton-toggled.saltToggleButton-disabled {
  --saltButton-background-disabled: var(--salt-selectable-cta-background-selectedDisabled);
  --saltButton-background-hover: var(--salt-selectable-cta-background-selectedDisabled);

  --saltButton-text-color-disabled: var(--salt-selectable-cta-foreground-selectedDisabled);
  --saltButton-text-color-hover: var(--salt-selectable-cta-foreground-selectedDisabled);

  --saltIcon-color: var(--salt-selectable-cta-foreground-selectedDisabled);
}

/* Primary */
.saltToggleButton-primary {
  --saltButton-background: var(--salt-selectable-background);
  --saltButton-background-hover: var(--salt-selectable-primary-background-hover);
  --saltButton-background-active: var(--salt-selectable-primary-background-selected);
  --saltButton-background-disabled: var(--salt-selectable-primary-background-disabled);

  --saltButton-text-color: var(--salt-selectable-primary-foreground);
  --saltButton-text-color-hover: var(--salt-selectable-primary-foreground-hover);
  --saltButton-text-color-active: var(--salt-selectable-primary-foreground-selected);
  --saltButton-text-color-disabled: var(--salt-selectable-primary-foreground-disabled);

  --saltIcon-color: var(--salt-selectable-primary-foreground);
}
.saltToggleButton-primary.saltToggleButton-disabled.saltButton-disabled {
  --saltButton-background-active: var(--salt-selectable-primary-background-disabled);
  --saltButton-background-hover: var(--salt-selectable-background-disabled);

  --saltButton-text-color-hover: var(--salt-selectable-primary-foreground-disabled);
  --saltButton-text-color-active: var(--salt-selectable-primary-foreground-disabled);

  --saltIcon-color: var(--salt-selectable-primary-foreground-disabled);
}
.saltToggleButton-primary.saltToggleButton-disabled.saltButton-active {
  --saltButton-background-active: var(--salt-selectable-primary-background-selectedDisabled);
  --saltButton-text-color-active: var(--salt-selectable-primary-foreground-selectedDisabled);
}
.saltToggleButton-primary.saltToggleButton-toggled {
  --saltButton-background: var(--salt-selectable-primary-background-selected);
  --saltButton-background-hover: var(--salt-selectable-primary-background-selected);

  --saltButton-text-color: var(--salt-selectable-primary-foreground-selected);
  --saltButton-text-color-hover: var(--salt-selectable-primary-foreground-selected);

  --saltIcon-color: var(--salt-selectable-primary-foreground-selected);
}
.saltToggleButton-primary.saltToggleButton-toggled.saltToggleButton-disabled {
  --saltButton-background-disabled: var(--salt-selectable-primary-background-selectedDisabled);
  --saltButton-background-hover: var(--salt-selectable-primary-background-selectedDisabled);

  --saltButton-text-color-disabled: var(--salt-selectable-primary-foreground-selectedDisabled);
  --saltButton-text-color-hover: var(--salt-selectable-primary-foreground-selectedDisabled);

  --saltIcon-color: var(--salt-selectable-primary-foreground-selectedDisabled);
}

/* Secondary */
.saltToggleButton-secondary {
  --saltButton-background: var(--salt-selectable-background);
  --saltButton-background-hover: var(--salt-selectable-secondary-background-hover);
  --saltButton-background-active: var(--salt-selectable-secondary-background-selected);
  --saltButton-background-disabled: var(--salt-selectable-background-disabled);

  --saltButton-text-color: var(--salt-selectable-secondary-foreground);
  --saltButton-text-color-hover: var(--salt-selectable-secondary-foreground-hover);
  --saltButton-text-color-active: var(--salt-selectable-secondary-foreground-selected);
  --saltButton-text-color-disabled: var(--salt-selectable-secondary-foreground-disabled);

  --saltIcon-color: var(--salt-selectable-secondary-foreground);
}
.saltToggleButton-secondary.saltToggleButton-disabled.saltButton-disabled {
  --saltButton-background-active: var(--salt-selectable-secondary-background-disabled);
  --saltButton-background-hover: var(--salt-selectable-background-disabled);

  --saltButton-text-color-active: var(--salt-selectable-secondary-foreground-disabled);
  --saltButton-text-color-hover: var(--salt-selectable-secondary-foreground-disabled);

  --saltIcon-color: var(--salt-selectable-secondary-foreground-disabled);
}
.saltToggleButton-secondary.saltToggleButton-disabled.saltButton-active {
  --saltButton-background-active: var(--salt-selectable-secondary-background-selectedDisabled);
  --saltButton-text-color-active: var(--salt-selectable-secondary-foreground-selectedDisabled);
  --saltIcon-color-active: var(--salt-selectable-secondary-foreground-selectedDisabled);
}
.saltToggleButton-secondary.saltToggleButton-toggled {
  --saltButton-background: var(--salt-selectable-secondary-background-selected);
  --saltButton-background-hover: var(--salt-selectable-secondary-background-selected);

  --saltButton-text-color: var(--salt-selectable-secondary-foreground-selected);
  --saltButton-text-color-hover: var(--salt-selectable-secondary-foreground-selected);

  --saltIcon-color: var(--salt-selectable-secondary-foreground-selected);
}
.saltToggleButton-secondary.saltToggleButton-toggled.saltToggleButton-disabled {
  --saltButton-background-disabled: var(--salt-selectable-secondary-background-selectedDisabled);
  --saltButton-background-hover: var(--salt-selectable-secondary-background-selectedDisabled);
  --saltButton-text-color-disabled: var(--salt-selectable-secondary-foreground-selectedDisabled);
  --saltButton-text-color-hover: var(--salt-selectable-secondary-foreground-selectedDisabled);
  --saltIcon-color: var(--salt-selectable-secondary-foreground-selectedDisabled);
}
