.uitkChildrenValues {
  padding-bottom: 2px;
  flex-wrap: wrap;
  /*justify-content: flex-start;*/
}
.uitkChildrenValues-colorStates {
  padding-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
