.saltStepper {
  grid-area: stepper;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}

.saltStepper-horizontal {
  flex-direction: row;
}

.saltStepper-vertical {
  flex-direction: column;
}
