.saltStepConnector {
  --saltStep-connector-borderWidth: 2px;

  grid-area: track;
  min-height: var(--salt-spacing-300);
  
  transition-duration: inherit;
  transition-timing-function: inherit;
  transition-property: opacity, min-height;
}

.saltStepper-horizontal .saltStepConnector {
  /* Distance between Icon and Track */
  --saltStep-connector-horizontal-gap: var(--salt-spacing-100);

  position: absolute;
  top: calc(var(--icon-size) / 2 - var(--saltStep-connector-borderWidth));
  left: calc(50% + calc(var(--icon-size) / 2 + var(--saltStep-connector-horizontal-gap)));
  right: calc(-50% + calc(var(--icon-size) / 2 + var(--saltStep-connector-horizontal-gap)));

  border-top-width: var(--saltStep-connector-borderWidth);
  border-top-style: var(--salt-track-borderStyle-incomplete);
  border-top-color: var(--salt-track-borderColor);
}

.saltStepper-horizontal .saltStep-stage-completed .saltStepConnector {
  border-top-style: var(--salt-track-borderStyle-complete);
}

.saltStepper-vertical .saltStepConnector {
  height: 100%;
  min-height: 24px;
  justify-self: center;

  border-left-width: var(--saltStep-connector-borderWidth);
  border-left-style: var(--salt-track-borderStyle-incomplete);
  border-left-color: var(--salt-track-borderColor);
}

.saltStepper-vertical .saltStep-stage-completed .saltStepConnector {
  border-left-style: var(--salt-track-borderStyle-complete);
}

.saltStep-depth-0.saltStep:not(.saltStep-expanded):last-child > .saltStep-content > .saltStepConnector {
  opacity: 0;
  min-height: 0;
}

.saltStep-depth-0.saltStep-expanded:last-child .saltStep:not(.saltStep-expanded):last-child .saltStep-content > .saltStepConnector {
  opacity: 0;
  min-height: 0;
}