.saltStep {
  display: flex;
  flex: 1;
}

.saltStep-content {
  /* Copy of size calculations of <Icon /> */
  --icon-base-size: var(--salt-size-icon, 12px);
  --icon-size-multiplier: var(--saltIcon-size-multiplier, 1.5);
  --icon-size: calc(var(--icon-base-size) * var(--icon-size-multiplier));
}

.saltStepper-horizontal .saltStep-content {
  flex: 1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "icon"
    "label"
    "description";
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0 var(--salt-spacing-25);
}

.saltStepper-vertical .saltStep-content {
  display: grid;
  grid-template-columns: var(--icon-size) 1fr min-content;
  grid-template-rows:
    minmax(var(--salt-size-base), min-content)
    0fr
    0fr;
  grid-template-areas:
    "icon      label       expand"
    "track     description ."
    "stepper   stepper     stepper";
  justify-items: start;
  align-items: center;
  gap: 0 var(--salt-spacing-100);
  width: 100%;
  transition-duration: var(--salt-duration-perceptible);
  transition-timing-function: ease-in-out;
  transition-property: grid-template-rows, opacity;
}

.saltStepper-vertical .saltStep-terminal > .saltStep-content {
  grid-template-areas:
    "icon      label       label"
    "track     description description"
    "stepper   stepper     stepper";
}

.saltStepper-vertical .saltStep.saltStep-collapsed > .saltStep-content .saltStep-content {
  opacity: 0;
}

.saltStepper-vertical .saltStep.saltStep-expanded > .saltStep-content {
  opacity: 1;
  
  grid-template-rows:
    var(--salt-size-base)
    min-content
    1fr;
}

.saltStep-label {
  grid-area: label;
}

.saltStepper-horizontal .saltStep-label {
  margin-top: var(--salt-spacing-50);
}

.saltStepper-vertical .saltStep-label {
  padding-left: calc((var(--saltStep-depth) + 1) * var(--salt-spacing-100));
  padding-top: var(--salt-spacing-75);
  padding-bottom: var(--salt-spacing-75);
}

.saltStep-depth-0 > .saltStep-content > .saltStep-label {
  font-weight: var(--salt-text-fontWeight-strong);
}

.saltStep-description {
  grid-area: description;
}

.saltStepper-vertical .saltStep-description {
  padding-bottom: var(--salt-spacing-300);
  padding-left: calc(
    (var(--saltStep-depth) + 1) * var(--salt-spacing-100)
  );
}

.saltStep:not(.saltStep-disabled) .saltStep-label {
  --saltText-color: initial;
}

.saltStep-stage-pending {
  --saltIcon-color: var(--salt-status-static-foreground);
}

.saltStep-stage-inprogress {
  --saltIcon-color: var(--salt-status-info-foreground-decorative);
}

.saltStep-stage-active {
  --saltIcon-color: var(--salt-status-info-foreground-decorative);
}

.saltStep-stage-completed {
  --saltIcon-color: var(--salt-status-success-foreground-decorative);
}

.saltStep-status-warning {
  --saltIcon-color: var(--salt-status-warning-foreground-decorative);
  --saltText-color: var(--salt-status-warning-foreground-informative);
}

.saltStep-status-error {
  --saltIcon-color: var(--salt-status-error-foreground-decorative);
  --saltText-color: var(--salt-status-error-foreground-informative);
}

.saltStep-disabled {
  --saltIcon-color: var(--salt-content-primary-foreground-disabled);
  --saltText-color: var(--salt-content-primary-foreground-disabled);
}