.saltStepper-horizontal .saltStep {
  flex: 1;
  position: relative;  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas: 
    "icon"
    "label"
    "description"
  ;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.saltStepper-vertical .saltStep {
  display: grid;
  grid-template-columns: fit-content 1fr 28px;
  grid-template-rows: 
    fit-content
    minmax(24px, max-content)
    0fr
  ;
  grid-template-areas:
    "icon     label       expand"
    "track    description ."
    "substeps substeps    substeps"
  ;
  justify-items: start;

  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: grid-template-rows opacity;
  gap: 0 8px;
  width: 100%;
}

.saltStepper-vertical .saltStep-expanded {
  grid-template-rows: 
    var(--salt-size-base) /* 28px */
    minmax(24px, max-content)
    1fr
  ;
}

.saltStep > ol {
  grid-area: substeps;
  
  height: 100%;
  padding-left: 0;

  overflow: hidden;
}

.saltStep-stage-pending {
  --saltIcon-color: var(--status-static-foreground);
}

.saltStep-stage-inprogress {
  --saltIcon-color: var(--salt-status-info-foreground-decorative);
}
 
.saltStep-stage-active {
  --saltIcon-color: var(--salt-status-info-foreground-decorative);
}

.saltStep-stage-completed { 
  --saltIcon-color: var(--salt-status-success-foreground-decorative);
}

.saltStep-status-warning {
  --saltIcon-color: var(--salt-status-warning-foreground-decorative);
}

.saltStep-status-error {
  --saltIcon-color: var(--salt-status-error-foreground-decorative);
}

.saltStep-nested-list {
  display: flex;
  flex-direction: inherit;
  padding: 0;

  list-style-type: none;
}

.saltStep-label {
  grid-area: label;
}

.saltStepper-vertical .saltStep-label {
  padding-left: calc((var(--depth) + 1) * var(--salt-spacing-100));
}

.saltStep-description {
  grid-area: description;
}

.saltStepper-vertical .saltStep-description {
  padding-bottom: var(--salt-spacing-300);
  padding-left: calc((var(--depth) + 1) * var(--salt-spacing-100))
}

.saltStep-status-error > .saltStep-description {
  color: var(--salt-status-error-foreground-informative);
}

.saltStep-status-warning > .saltStep-description {
  color: var(--salt-status-warning-foreground-informative);
}
