.saltStepTrack {
  grid-area: track;
}

.saltStepper-horizontal .saltStepTrack {
  /* Copy of size calculations of <Icon /> */
  --icon-base-size: var(--salt-size-icon, 12px);
  --icon-size-multiplier: var(--saltIcon-size-multiplier, 1.5);
  --icon-size: calc(var(--icon-base-size) * var(--icon-size-multiplier));

  /* Distance between Icon and Track */
  --horizontal-offset: var(--salt-spacing-100);

  position: absolute;
  top: calc(var(--icon-size) / 2 - 2px);
  left: calc(50% + calc(var(--icon-size) / 2 + var(--horizontal-offset)));
  right: calc(-50% + calc(var(--icon-size) / 2 + var(--horizontal-offset)));

  border-top: 2px solid var(--salt-track-borderColor);
}

.saltStepper-vertical .saltStepTrack {
  height: 100%;
  justify-self: center;
  border-left: 2px solid var(--salt-track-borderColor);
}

.saltStepper > .saltStep:last-child > .saltStepTrack {
  display: none;
}