.saltStepper {
  grid-area: stepper;
  width: 100%;
  height: 100%;

  padding: 2px;
  margin: -2px;
  list-style-type: none;
  box-sizing: content-box;

  transition-duration: var(--salt-duration-perceptible);
  transition-timing-function: ease-in-out;
  transition-property: opacity, visibility;
}

@media (prefers-reduced-motion) {
  .saltStepper {
    transition-duration: var(--salt-duration-instant);
  }
}

.saltStepper-horizontal {
  display: flex;
  flex-direction: row;
}

.saltStepper-vertical {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.saltStepper-vertical > .saltStep.saltStep-expanded > .saltStepper {
  opacity: 1;
  visibility: visible;
}

.saltStepper-vertical > .saltStep.saltStep-collapsed > .saltStepper {
  opacity: 0;
  visibility: hidden;
}
