/* Style applied to the root element */
.saltBadge {
  display: inline-flex;
  position: relative;
  flex-shrink: 0;
  vertical-align: middle;
}

.saltBadge-badge {
  /* Should this vary according to touch size */
  padding-left: var(--salt-spacing-50);
  padding-right: var(--salt-spacing-50);
  height: var(--salt-text-notation-lineHeight);
  min-width: var(--salt-text-notation-lineHeight);
  border-radius: 9999px;
  white-space: nowrap;
  z-index: var(--salt-zIndex-default);
  box-sizing: border-box;

  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin: auto;

  font-size: var(--salt-text-notation-fontSize);
  font-weight: var(--salt-text-notation-fontWeight);
  font-family: var(--salt-text-fontFamily);
  line-height: var(--salt-text-notation-lineHeight);
  background: var(--salt-accent-background);
  color: var(--salt-accent-foreground);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.saltBadge-topRight {
  position: absolute;
  right: var(--salt-spacing-100);
  transform: translateX(100%);
}
