/* Style applied to the root element */
.saltBadge {
  display: inline-flex;
  position: relative;
  flex-shrink: 0;
  vertical-align: middle;
  --badge-size: var(--salt-text-notation-lineHeight);
}

.saltBadge-badge {
  /* Should this vary according to touch size */
  padding-left: var(--salt-spacing-50);
  padding-right: var(--salt-spacing-50);
  height: var(--badge-size);
  min-width: var(--badge-size);
  border-radius: var(--salt-palette-corner-strongest, 9999px);

  white-space: nowrap;
  z-index: var(--salt-zIndex-default);
  box-sizing: border-box;

  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin: auto;

  font-size: var(--salt-text-notation-fontSize);
  font-weight: var(--salt-text-notation-fontWeight);
  font-family: var(--salt-text-fontFamily);
  line-height: var(--salt-text-notation-lineHeight);
  background: var(--salt-accent-background);
  color: var(--salt-content-bold-foreground);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.saltBadge-topRight {
  position: absolute;
  right: var(--salt-spacing-100);
  transform: translateX(100%) translateY(calc(-1 * (var(--badge-size) / 2)));
}

.saltBadge-dotBadge {
  height: var(--salt-size-adornment);
  min-width: var(--salt-size-adornment);
  padding: 0;
  --badge-size: var(--salt-size-adornment);
}

.saltBadge-dotBadge.saltBadge-topRight {
  right: calc((var(--salt-size-adornment) / 2));
}
