/* Styles applied to root component */
.uitk-light .uitkCheckboxBase {
  --checkbox-outline-color: var(--uitk-color-grey-90);
  --checkbox-solid-color: var(--uitk-color-blue-500);
  --checkbox-outline-color-hover: var(--uitk-color-blue-400);
  --checkbox-tick-color: var(--uitk-color-white);
}

.uitk-dark .uitkCheckboxBase {
  --checkbox-outline-color: var(--uitk-color-grey-100);
  --checkbox-solid-color: var(--uitk-color-blue-400);
  --checkbox-outline-color-hover: var(--uitk-color-blue-300);
  --checkbox-tick-color: var(--uitk-color-grey-800);
}

.uitk-density-medium .uitkCheckboxBase {
  --checkbox-indeterminate-bar-y: 6;
  --checkbox-indeterminate-bar-height: 2px;
  --checkbox-icon-size: 14px;
}

.uitk-density-touch .uitkCheckboxBase {
  --checkbox-indeterminate-bar-y: 6;
  --checkbox-indeterminate-bar-height: 2px;
  --checkbox-icon-size: 18px;
}

.uitk-density-low .uitkCheckboxBase {
  --checkbox-indeterminate-bar-y: 6;
  --checkbox-indeterminate-bar-height: 2px;
  --checkbox-icon-size: 16px;
}

.uitk-density-high .uitkCheckboxBase {
  --checkbox-indeterminate-bar-y: 5;
  --checkbox-indeterminate-bar-height: 3px;
  --checkbox-icon-size: 12px;
}

.uitkCheckboxBase {
  background: var(--uitkCheckbox-background, none);
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative;
}

/* Styles applied to label element */
.uitkCheckboxBase-label {
  display: flex;
}

/* Styles applied if `disabled={true}` */
.uitkCheckboxBase-disabled {
  cursor: var(--uitkCheckbox-disabled-cursor, var(--uitk-disabled-cursor));
}

/* Styles applied on focus state */
.uitkCheckboxBase:focus-visible:before,
.uitkCheckboxBase-focusVisible:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--uitkCheckbox-icon-size, var(--checkbox-icon-size));
  height: var(--uitkCheckbox-icon-size, var(--checkbox-icon-size));
  background: transparent;
  outline: var(--uitkCheckbox-focused-outline, var(--uitk-focused-outline));
}

/* Styles applied to icon */
.uitkCheckboxBase-icon {
  fill: transparent;
  flex-grow: 0;
  height: var(--uitkCheckbox-icon-size, var(--checkbox-icon-size));
  overflow: visible;
  stroke: var(--uitkCheckbox-outline-color, var(--checkbox-outline-color));
  width: var(--uitkCheckbox-icon-size, var(--checkbox-icon-size));
}

/* Styles applied to icon if `checked={true}` or `indeterminate={true}` */
.uitkCheckboxBase-icon-tick {
  fill: var(--uitkCheckbox-tick-color, var(--checkbox-tick-color));
}

/* Styles applied to input element */
.uitkCheckboxBase-input {
  cursor: inherit;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Styles applied to icon if `checked={true}` */
.uitkCheckboxBase-checked .uitkCheckboxBase-icon {
  stroke-width: 0;
  fill: var(--uitkCheckbox-solid-color, var(--checkbox-solid-color));
}

/* Styles applied to icon if `indeterminate={true}` */
.uitkCheckboxBase-indeterminate .uitkCheckboxBase-icon {
  fill: transparent;
}

/* Styles applied to icon tick if `checked={true}` or `indeterminate={true}` */
.uitkCheckboxBase-indeterminate .uitkCheckboxBase-icon-tick {
  fill: var(--uitkCheckbox-solid-color, var(--checkbox-solid-color));
  height: var(--uitkCheckbox-indeterminate-bar-height, var(--checkbox-indeterminate-bar-height));
  y: var(--uitkCheckbox-indeterminate-bar-y, var(--checkbox-indeterminate-bar-y));
}

/* Styles applied to icon on hover state` */
.uitkCheckboxBase:hover .uitkCheckboxBase-icon {
  stroke: var(--uitkCheckbox-outline-color-hover, var(--checkbox-outline-color-hover));
}
