/* Styles applied to root component */
.uitkCheckboxGroup {
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
}

/* Styles applied to root component if `row={true}` */
.uitkCheckboxGroup-horizontal {
  display: block;
}
