/* Styles applied to root component */

.saltCheckbox {
  --checkbox-label-marginTop: calc(var(--salt-size-unit) * var(--checkbox-top-multiplier));
  --checkbox-space-multiplier: var(--saltCheckbox-space-multiplier, 3);
  --checkbox-top-multiplier: var(--saltCheckbox-top-multiplier, 0.75);
  --salt-text-label-fontSize: var(--salt-text-fontSize);
}

.saltCheckbox {
  cursor: var(--salt-selectable-cursor-hover);
  line-height: var(--saltCheckbox-lineHeight, 1);
  background: var(--saltCheckbox-background, none);
  display: flex;
  gap: var(--salt-size-unit);
  margin-top: var(--checkbox-label-marginTop);
  font-size: var(--salt-text-fontSize);
  padding: 1px 0;
  position: relative;
  align-items: flex-start;
}

/* Styles applied to root component if `disabled={true}` */
.saltCheckbox-disabled {
  pointer-events: visible;
  cursor: var(--salt-selectable-cursor-disabled);
}

.saltCheckbox-input:focus-visible + .saltCheckboxIcon {
  inset: var(--salt-focused-outlineInset);
  outline-color: var(--salt-focused-outlineColor);
  outline-offset: var(--salt-focused-outlineOffset);
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
}

/* Styles applied to input element */
.saltCheckbox-input {
  cursor: inherit;
  height: 10px;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 10px;
  z-index: var(--salt-zIndex-default);
}
