/* Styles applied to root component */
.uitk-density-medium .uitkCheckbox {
  --checkbox-font-size: 12px;
}
.uitk-density-touch .uitkCheckbox {
  --checkbox-font-size: 16px;
}
.uitk-density-low .uitkCheckbox {
  --checkbox-font-size: 14px;
}
.uitk-density-high .uitkCheckbox {
  --checkbox-font-size: 11px;
}

.uitkCheckbox {
  --checkbox-label-margin-top: calc(var(--uitk-size-unit) * var(--checkbox-top-multiplier));
  --checkbox-space-multiplier: var(--uitkCheckbox-space-multiplier, 3);
  --checkbox-top-multiplier: var(--uitkCheckbox-top-multiplier, 0.75);
  --checkbox-outline-color: var(--uitk-selectable-borderColor);
  --checkbox-outline-color-hover: var(--uitk-selectable-borderColor-hover);
}

.uitkCheckbox {
  line-height: var(--uitkCheckbox-line-height, 1);
}

/* Styles applied to root component if `disabled={true}` */
.uitkCheckbox-disabled {
  pointer-events: visible;
}

/* Styles applied to label element */
.uitkCheckbox-label {
  align-items: flex-start;
  margin-top: var(--checkbox-label-margin-top);
}

.uitkCheckbox .uitkControlLabel-label {
  vertical-align: baseline;
  min-height: var(--uitkCheckbox-label-min-height, var(--uitk-text-minHeight));
}

/* Styles applied to icon on hover state */
.uitkCheckbox:hover {
  --uitkCheckboxIcon-outline-color: var(--uitkCheckbox-outline-color-hover, var(--uitk-selectable-stroke-hover));
}

.uitkCheckbox:hover .uitkCheckboxIcon-indeterminate {
  --uitkCheckboxIcon-outline-color: var(--uitkCheckbox-outline-color, var(--uitk-selectable-stroke));
}

/* Styles applied to icon on hover state if `disabled={true}` */
.uitkCheckbox-disabled:hover {
  --uitkCheckboxIcon-outline-color: var(--uitkCheckbox-outline-color, var(--uitk-selectable-stroke));
}
