/* Styles applied to root component */
.salt-density-medium {
  --checkbox-fontSize: 12px;
}
.salt-density-touch {
  --checkbox-fontSize: 16px;
}
.salt-density-low {
  --checkbox-fontSize: 14px;
}
.salt-density-high {
  --checkbox-fontSize: 11px;
}

.saltCheckbox {
  --checkbox-label-marginTop: calc(var(--salt-size-unit) * var(--checkbox-top-multiplier));
  --checkbox-space-multiplier: var(--saltCheckbox-space-multiplier, 3);
  --checkbox-top-multiplier: var(--saltCheckbox-top-multiplier, 0.75);
}

.saltCheckbox {
  line-height: var(--saltCheckbox-lineHeight, 1);
}

/* Styles applied to root component if `disabled={true}` */
.saltCheckbox-disabled {
  pointer-events: visible;
}

/* Styles applied to label element */
.saltCheckbox-label {
  align-items: flex-start;
  margin-top: var(--checkbox-label-marginTop);
}

.saltCheckbox .saltControlLabel-label {
  vertical-align: baseline;
  min-height: var(--saltCheckbox-label-minHeight, var(--salt-text-minHeight));
}

.saltCheckbox-disabled {
  --saltControlLabel-color: var(--salt-text-primary-foreground-disabled);
}
