/* Styles applied to root component */
.uitkTooltip {
  --tooltip-background: var(--saltTooltip-background, var(--salt-container-primary-background));
  --tooltip-fontSize: var(--saltTooltip-fontSize, var(--salt-text-fontSize));
  --tooltip-lineHeight: var(--saltTooltip-lineHeight, var(--salt-text-lineHeight));
  --tooltip-zIndex: var(--saltTooltip-zIndex, var(--salt-zIndex-flyover));
}

.uitkTooltip {
  background: var(--tooltip-background);
  border-color: var(--saltTooltip-borderColor, var(--tooltip-status-borderColor));
  border-width: var(--saltTooltip-borderWidth, var(--salt-size-border));
  border-style: var(--saltTooltip-borderStyle, var(--salt-container-borderStyle));
  box-shadow: var(--saltTooltip-shadow, var(--salt-overlayable-shadow-popout));
  color: var(--saltTooltip-text-color, var(--salt-text-primary-foreground));
  font-size: var(--tooltip-fontSize);
  line-height: var(--tooltip-lineHeight);
  max-width: var(--saltTooltip-maxWidth, 230px);
  padding: var(--saltTooltip-padding, var(--salt-size-unit));
  position: relative;
  text-align: var(--saltTooltip-textAlign, left);
  z-index: var(--tooltip-zIndex);
}

.uitkTooltip[data-placement^="top"] {
  transform-origin: bottom;
}

.uitkTooltip[data-placement^="bottom"] {
  transform-origin: top;
}

.uitkTooltip[data-placement^="left"] {
  transform-origin: right;
}

.uitkTooltip[data-placement^="right"] {
  transform-origin: left;
}

/* Styles applied to inner content */
.uitkTooltip-content {
  display: flex;
  align-items: center;
  position: relative;
}

/* Styles applied to body */
.uitkTooltip-body {
  overflow: hidden;
}

/* Styles applied to status indicator */
.uitkTooltip-icon {
  margin-right: var(--saltTooltip-icon-marginRight, 6px);
  vertical-align: top;
}

/* Styles applied to Tooltip arrow */
.uitkTooltip-arrow,
.uitkTooltip-arrow::after {
  border: var(--salt-size-sharktooth-height) solid transparent;
  position: absolute;
}

.uitkTooltip-arrow::after {
  content: "";
}

.uitkTooltip[data-placement^="top"] .uitkTooltip-arrow {
  border-top-color: var(--tooltip-status-borderColor);
  bottom: -11px;
}

.uitkTooltip[data-placement^="bottom"] .uitkTooltip-arrow {
  border-bottom-color: var(--tooltip-status-borderColor);
  top: -11px;
}

.uitkTooltip[data-placement^="left"] .uitkTooltip-arrow {
  border-left-color: var(--tooltip-status-borderColor);
  right: -11px;
}

.uitkTooltip[data-placement^="right"] .uitkTooltip-arrow {
  border-right-color: var(--tooltip-status-borderColor);
  left: -11px;
}

.uitkTooltip[data-placement^="top"] .uitkTooltip-arrow::after {
  border-top-color: var(--tooltip-background);
  bottom: -4px;
  left: calc(100% - var(--salt-size-sharktooth-height));
}

.uitkTooltip[data-placement^="bottom"] .uitkTooltip-arrow::after {
  border-bottom-color: var(--tooltip-background);
  top: -4px;
  left: calc(100% - var(--salt-size-sharktooth-height));
}

.uitkTooltip[data-placement^="left"] .uitkTooltip-arrow::after {
  border-left-color: var(--tooltip-background);
  right: -4px;
  top: calc(100% - var(--salt-size-sharktooth-height));
}

.uitkTooltip[data-placement^="right"] .uitkTooltip-arrow::after {
  border-right-color: var(--tooltip-background);
  left: -4px;
  top: calc(100% - var(--salt-size-sharktooth-height));
}

/* Styles applied when status = "info" */
.uitkTooltip-info {
  --tooltip-status-borderColor: var(--salt-status-info-borderColor);
}

/* Styles applied when status = "error" */
.uitkTooltip-error {
  --tooltip-status-borderColor: var(--salt-status-error-borderColor);
}

/* Styles applied when status = "warning" */
.uitkTooltip-warning {
  --tooltip-status-borderColor: var(--salt-status-warning-borderColor);
}

/* Styles applied when status = "success" */
.uitkTooltip-success {
  --tooltip-status-borderColor: var(--salt-status-success-borderColor);
}
