.saltMetricContent {
  display: flex;
  flex-direction: column;
  margin-top: var(--metric-content-marginTop, 0px);
}

.saltMetricContent-value-container {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: calc(var(--salt-size-unit) / 2);
  margin-top: var(--metric-content-valueContainer-marginTop, 0px);
}

.saltMetric-direction-up .saltMetricContent-indicator {
  fill: var(--salt-sentiment-positive-foreground-informative);
}
.saltMetric-direction-up .saltMetricContent-subvalue {
  color: var(--salt-sentiment-positive-foreground-informative);
}

.saltMetric-direction-down .saltMetricContent-indicator {
  fill: var(--salt-sentiment-negative-foreground-informative);
}
.saltMetric-direction-down .saltMetricContent-subvalue {
  color: var(--salt-sentiment-negative-foreground-informative);
}

.saltMetricContent-subvalue {
  margin-top: var(--metric-content-subvalue-marginTop, 0px);
}

.saltMetric-align-left .saltMetricContent {
  text-align: left;
}

.saltMetric-align-center .saltMetricContent {
  align-items: center;
  text-align: center;
}

.saltMetric-align-right .saltMetricContent {
  align-items: flex-end;
  text-align: right;
}
