.saltMetric {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  color: var(--saltMetric-color, var(--salt-content-primary-foreground));
}

.saltMetric-orientation-horizontal {
  flex-direction: row;
  gap: var(--metric-horizontal-gap, 16px);
  margin-top: var(--metric-horizontal-marginTop, 0px);
}

.saltMetric-orientation-vertical {
  flex-direction: column;
  justify-content: center;
}

.saltMetric-orientation-vertical.saltMetric-align-center {
  align-items: center;
}
.saltMetric-orientation-vertical.saltMetric-align-right {
  align-items: flex-end;
}
