.uitkMetric {
  --metric-text-color: var(--uitk-text-primary-foreground);
  --metric-line-height: var(--uitk-text-lineHeight);

  --metric-horizontal-gap: calc(var(--uitk-size-unit) * 2);
  --metric-vertical-gap: calc(var(--uitk-size-unit) * 0.25);

  --metric-font-family: var(--uitk-text-fontFamily);
}

.uitkMetric {
  font-family: var(--metric-font-family);
  color: var(--metric-text-color);
  display: flex;
  align-items: flex-start;
  padding: 0px;
}

.uitkMetric-orientation-horizontal {
  flex-direction: row;
  gap: 16px;
}

.uitkMetric-orientation-vertical {
  flex-direction: column;
  justify-content: center;
}

.uitkMetric-orientation-vertical.uitkMetric-align-center {
  align-items: center;
}
.uitkMetric-orientation-vertical.uitkMetric-align-right {
  align-items: flex-end;
}

.backwardsCompat.uitkMetric.uitkMetric-size-small {
  margin-top: -5px;
}
.backwardsCompat.uitkMetric.uitkMetric-size-medium {
  margin-top: -9px;
}
.backwardsCompat.uitkMetric.uitkMetric-size-large {
  margin-top: -16px;
}

.backwardsCompat.uitkMetric-orientation-vertical.uitkMetric-size-large {
  margin-top: -14px;
}
