.uitkMetric {
  --metric-text-color: var(--uitk-text-primary-color);
  --metric-line-height: var(--uitk-text-line-height);

  --metric-horizontal-gap: calc(var(--uitk-size-unit) * 2);
  --metric-vertical-gap: calc(var(--uitk-size-unit) * 0.25);

  --metric-font-family: var(--uitk-typography-font-family);
}

.uitkMetric {
  font-family: var(--metric-font-family);
  color: var(--metric-text-color);
}

.uitkMetric-orientation-horizontal {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
}

.uitkMetric-orientation-horizontal > :not(:last-child) {
  margin-right: var(--metric-horizontal-gap);
}

.uitkMetric-orientation-vertical {
  flex-direction: column;
  justify-content: center;
}

.uitkMetric-orientation-vertical > :not(:last-child) {
  margin-bottom: var(--metric-vertical-gap);
}

.uitkMetric-align-left {
  text-align: left;
}

.uitkMetric-align-center {
  text-align: center;
}

.uitkMetric-align-right {
  text-align: right;
}
