.uitkMetricHeader {
  --metric-title-color: var(--uitk-text-primary-color);
  --metric-subtitle-color: var(--uitk-text-secondary-color);

  --metric-header-gap: calc(var(--uitk-size-unit) * 0.25);
}

.uitkMetricHeader {
  display: flex;
  flex-direction: column;
  gap: 2px;
  white-space: nowrap;
}

.uitkMetric-orientation-vertical .uitkMetricHeader {
  margin-bottom: calc(var(--uitk-size-unit) / 4);
}

.uitkMetricHeader-title {
  color: var(--metric-title-color);
  line-height: 1.2;
}

.uitkMetricHeader-subtitle {
  color: var(--metric-subtitle-color);
  font-weight: var(--uitk-typography-weight-regular);
  line-height: 1.17;
}
