.uitkMetricContent {
  /* TODO: Design, dark used to be green 300 for up */
  --metric-direction-up-color: var(--uitk-text-growth-indicator-up-color);
  --metric-direction-down-color: var(--uitk-text-growth-indicator-down-color);
}

.uitkMetricContent {
  white-space: nowrap;
  line-height: var(--metric-line-height);
}

.uitkMetricContent-value {
  font-weight: var(--uitk-typography-weight-semiBold);
  color: var(--uitk-text-primary-color);
}

.uitkMetricContent-indicator {
  line-height: 1;
  bottom: 2px;
}

.uitkMetricContent-directionUp .uitkMetricContent-indicator {
  fill: var(--metric-direction-up-color);
}
.uitkMetricContent-directionUp .uitkMetricContent-subvalue {
  color: var(--metric-direction-up-color);
}

.uitkMetricContent-directionDown .uitkMetricContent-indicator {
  fill: var(--metric-direction-down-color);
}
.uitkMetricContent-directionDown .uitkMetricContent-subvalue {
  color: var(--metric-direction-down-color);
}

.uitkEmphasisHigh.uitkMetricContent-value {
  font-size: 56px;
}

.uitkEmphasisMedium.uitkMetricContent-value {
  font-size: 36px;
}

.uitkEmphasisLow.uitkMetricContent-value {
  font-size: 24px;
}

.uitkMetricContent-horizontal.uitkEmphasisHigh .uitkMetricContent-value {
  line-height: 0.75;
}

.uitkMetricContent-horizontal.uitkEmphasisMedium .uitkMetricContent-value {
  line-height: 0.85;
}

.uitkMetricContent-horizontal.uitkEmphasisLow .uitkMetricContent-value {
  line-height: 0.95;
}

.uitkMetricContent-alignLeft {
  text-align: left;
}

.uitkMetricContent-alignCenter {
  text-align: center;
}

.uitkMetricContent-alignRight {
  text-align: right;
}
