.uitkMetricHeader {
  --metric-title-color: var(--uitk-text-primary-foreground);
  --metric-subtitle-color: var(--uitk-text-secondary-foreground);

  --metric-header-gap: calc(var(--uitk-size-unit) * 0.25);
}

.uitkMetricHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px 0px 0px;
  gap: 2px;
}

.uitkMetric-size-large .uitkMetricHeader {
  padding: 14px 0px 0px;
}
.uitkMetric-size-medium .uitkMetricHeader {
  padding: 8px 0px 0px;
}
.uitkMetric-size-small .uitkMetricHeader {
  padding: 4px 0px 0px;
}

.uitkMetricHeader-title {
  color: var(--metric-title-color);
}

.uitkMetricHeader-subtitle {
  color: var(--metric-subtitle-color);
  font-weight: var(--uitk-text-fontWeight);
}

.uitkMetric-align-center .uitkMetricHeader {
  align-items: center;
}

.uitkMetric-align-right .uitkMetricHeader {
  align-items: flex-end;
}
