.saltTreeNode {
  /* Color */
  --tree-item-text-color: var(--salt-foreground-primary);
  --tree-item-background: var(--salt-selectable-background);
  --tree-item-background-hover: var(--salt-selectable-background-hover);

  --tree-node-height: var(--saltTree-node-height, var(--salt-size-stackable));
  --tree-node-icon-size: 12px;
  --tree-node-icon-transform: none;
  --tree-node-paddingLeft: 6px;

  align-items: flex-start;
  min-height: var(--tree-node-height, auto);
  line-height: var(--salt-text-lineHeight);
  list-style: none;
  position: relative;
  text-align: var(--list-item-textAlign);
}

.saltTreeNode-highlighted {
  --tree-item-background: var(--salt-selectable-background-hover);
}

.saltTreeNode-item[aria-selected="true"] {
  background: var(--salt-selectable-background-selected);
  color: var(--salt-foreground-primary);
  --saltIcon-color: var(--salt-foreground-primary);
}

.saltTreeNode[aria-expanded="true"] {
  --tree-node-icon-transform: rotate(45deg) translate(1px, 1px);
}

.saltTreeNode-item {
  align-items: center;
  background: var(--tree-item-background);
  display: flex;
  height: var(--tree-node-height);
  padding-left: calc(var(--tree-node-paddingLeft) + var(--tree-node-indent));
  position: relative;
}

.saltTreeNode-toggle {
  display: inline-block;
  flex: 0 0 18px;
  height: var(--tree-node-icon-size);
  transform: var(--tree-node-icon-transform);
  transition: transform 0.1s ease;
}

.saltTreeNode-label {
  align-items: center;
  display: inline-flex;
  height: var(--tree-node-height);
}
.saltTreeNode-description {
  align-items: center;
  display: inline-flex;
  height: var(--tree-node-height);
  padding-left: var(--salt-size-unit);
}

/* Leaf node or the div child of a collapsible node */
/* .saltTreeNode:not([aria-expanded="true"]), */
.saltTreeNode[aria-expanded] > .saltTreeNode-label {
  --checkbox-borderColor: black;
  --checkbox-borderWidth: 1px;
  --checkbox-tick: black;
  /* --list-svg-toggle: var(--list-svg-chevron-down); */
  --list-svg-toggle: var(--tree-node-collapse);

  color: var(--list-item-text-color);
  flex-wrap: nowrap;
  line-height: var(--tree-node-height);
  padding: var(--list-item-padding);
  position: relative;
  cursor: default;
  margin: 0;
  white-space: nowrap;
}

.saltTreeNode:not([aria-expanded]) {
  padding-left: calc(var(--tree-node-paddingLeft) + var(--tree-toggle-width) + var(--tree-node-indent));
}

.saltTreeNode[aria-expanded] > .saltTreeNode-label {
  padding-left: calc(var(--tree-node-paddingLeft) + var(--tree-toggle-width) + var(--tree-node-indent));
}

.saltTreeNode[aria-expanded] {
  flex-direction: column;
}

.saltTreeNode[aria-expanded] {
  flex-direction: column;
  height: auto;
}

.saltTreeNode > *[role="group"] {
  padding-left: 0px;
}

[aria-level="2"] {
  --tree-node-indent: 24px;
}
[aria-level="3"] {
  --tree-node-indent: 36px;
}
[aria-level="4"] {
  --tree-node-indent: 48px;
}

.saltTreeNode:not(.focusVisible):not([aria-expanded])[data-highlighted],
.saltTreeNode:not(.focusVisible)[aria-expanded][data-highlighted] > div:first-child {
  background: var(--list-background-highlighted);
}

.saltTree-toggle {
  cursor: pointer;
}

.saltTreeNode[aria-selected="true"] {
  --list-item-header-twisty-color: var(--list-item-selected-color);
}

.saltTreeNode:not(.focusVisible):focus {
  background: rgba(0, 0, 0, 0.1);
}

.saltTreeNode:not([aria-expanded]).focusVisible:before,
.saltTreeNode[aria-expanded].focusVisible > div:first-child:before {
  content: "";
  position: absolute;
  top: 0px;
  left: var(--tree-offset-left-focusVisible, 0px);
  right: 0;
  bottom: 0px;
  border: dotted rgb(141, 154, 179) 2px; /* FIXME: Needs checking */
  background: var(--list-background-highlighted);
}

/* .saltTreeNode[aria-level='2'] {
    --tree-offset-left-focusVisible: -13px;
  }

  .saltTreeNode[aria-level='3'] {
    --tree-offset-left-focusVisible: -24px;
  }

  .saltTreeNode[aria-level='4'] {
    --tree-offset-left-focusVisible: -36px;
  } */

.saltTreeNode[aria-expanded="false"] > *:first-child:after {
  --list-svg-toggle: var(--tree-node-expand);
}

.saltTreeNode[aria-expanded="true"] > *:first-child:after {
  transform: var(--tree-node-expanded-transform);
}

/* Selection */

.saltTree:not(.checkbox-only) .saltTreeNode:not([aria-expanded])[aria-selected="true"],
.saltTree:not(.checkbox-only) .saltTreeNode[aria-expanded][aria-selected="true"] > div:first-child {
  --checkbox-borderColor: var(--list-item-selected-color);
  --checkbox-tick: var(--list-item-selected-color);
  --tree-borderColor-focusVisible: var(--list-item-selected-color);
  background: var(--list-item-background-active);
  color: var(--list-item-selected-color);
}

.with-checkbox .saltTreeNode {
  padding-left: 28px;
}

.with-checkbox .saltTreeNode:before {
  border-style: solid;
  border-width: var(--checkbox-borderWidth);
  border-color: var(--checkbox-borderColor);
  content: "";
  height: 12px;
  left: 3px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  width: 12px;
}
