/* A temp structure currently used to layout Tabs examples */
.Flexbox {
  border: solid 1px lightgrey;
  display: flex;
  flex-direction: column;
}

.Flexbox > .saltAppHeader ~ *,
.Flexbox > [role="tablist"] ~ * {
  display: none;
}

.Flexbox .saltAppHeader ~ [aria-hidden="false"],
.Flexbox [role="tablist"] ~ [aria-hidden="false"] {
  display: block;
  flex: 1 1 0;
}
