.uitkGridMiddlePart {
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: var(--uitkGrid-scrollBar-size);
  bottom: var(--uitkGrid-scrollBar-size);
  left: 0;
}

.uitkGridMiddlePart-space {
  position: relative;
}

.uitkGridMiddlePart table {
  border-spacing: 0;
  table-layout: fixed;
  position: absolute;
  top: 0;
}
