.uitkDeckItem {
  display: inline-block;
}

.uitkDeckLayout-slide-vertical .uitkDeckItem {
  display: block;
}

.uitkDeckItem-fade-previous,
.uitkDeckItem-fade-next,
.uitkDeckItem-static-previous,
.uitkDeckItem-static-next {
  display: none;
}

.uitkDeckItem-fade-in {
  animation: var(--salt-animation-fade-in-center);
}
.uitkDeckItem-fade-out {
  animation: var(--salt-animation-fade-out-back);
}
