.saltTokenizedInput {
  height: 100%;
}

/* Styles applied to container of pills */
.saltTokenizedInput-pillGroup {
  overflow: hidden;
  display: flex;
  flex: 1;
  gap: var(--salt-spacing-100);
  flex-wrap: wrap;
  min-height: var(--tokenizedInput-height);
  padding: var(--salt-spacing-100) 0;
}

.saltTokenizedInput-pillGroup,
.saltTokenizedInput .saltInputPill .saltPillNext-action,
.saltTokenizedInput .saltMultilineInput-startAdornmentContainer {
  max-width: 100%;
}

.saltTokenizedInput .saltTokenizedInput-expanded-pill.saltInputPill .saltPillNext-action {
  max-width: calc(100% - (var(--salt-size-base) - var(--salt-spacing-100)));
}

/* Styles applied to a Pill if `expanded={false} && index >= firstHiddenIndex` */
.saltTokenizedInput-hidden,
.saltTokenizedInput .saltInputPill.saltInputPill-hidden {
  display: none;
}

.saltTokenizedInput .saltMultilineInput-startAdornmentContainer .saltPillNext-close-button {
  /* TODO: a bit nuclear, should this be in pillNext? */
  --saltButton-height: calc(var(--salt-size-base) - var(--salt-spacing-100));
  --saltButton-width: calc(var(--salt-size-base) - var(--salt-spacing-100));
}

/* Styles applied to a Pill when active */
.saltTokenizedInput .saltInputPill-pillHighlighted {
  /* TODO: design Q: what happens on hover? (uitk doesnt change)*/
  --saltButton-text-color: var(--saltTokenizedInput-pill-delete-button-color-active, var(--salt-actionable-cta-foreground-hover));
  --saltButton-background: var(--saltTokenizedInput-pill-delete-button-background-active, var(--salt-actionable-cta-background-hover));
}

.saltTokenizedInput .saltInputPill-pillHighlighted .saltPillNext-action {
  --pillNext-background: var(--saltTokenizedInput-pill-background-active, var(--salt-selectable-background-hover));
}

/* Styles applied to a Pills delete icon */
.saltTokenizedInput .saltInputPill-pillHighlighted .saltIcon {
  --saltIcon-color: var(--saltTokenizedInput-pill-delete-icon-color, var(--salt-actionable-cta-foreground-hover));
}
