/* Styles applied to container of pills */
.saltTokenizedInput-pillGroup {
  overflow: hidden;
  display: flex;
  flex: 1;
  gap: var(--salt-spacing-50);
  flex-wrap: wrap;
  min-height: var(--tokenizedInput-height);
  padding: var(--salt-spacing-100) 0;
}

.saltTokenizedInput-pillGroup,
.saltTokenizedInput .saltInputPill .saltPillNext-action,
.saltTokenizedInput .saltMultilineInput-startAdornmentContainer {
  max-width: 100%;
}

.saltTokenizedInput .saltTokenizedInput-expanded-pill.saltInputPill .saltPillNext-action {
  max-width: calc(100% - (var(--salt-size-base) - var(--salt-spacing-100)));
}

/* Styles applied to a Pill if `expanded={false} && index >= firstHiddenIndex` */
.saltTokenizedInput-hidden,
.saltTokenizedInput .saltInputPill.saltInputPill-hidden {
  display: none;
}

.saltTokenizedInput .saltMultilineInput-startAdornmentContainer .saltPillNext-close-button {
  /* FIXME: a bit nuclear, should this be in pillNext? */
  /*--saltButton-height: calc(var(--salt-size-base) - var(--salt-spacing-100));*/
  /*--saltButton-width: calc(var(--salt-size-base) - var(--salt-spacing-100));*/
}

/* Styles applied to a Pill when active */
.saltInputPill:hover,
.saltInputPill:hover .saltPillNext-clickable {
  --saltButton-background: var(--salt-selectable-background-hover);
  --saltButton-background-hover: var(--salt-selectable-background-hover);
  --pillNext-background: var(--salt-selectable-background-hover);
  --pillNext-background-hover: var(--salt-selectable-background-hover);
}

.saltInputPill-pillHighlighted {
  --saltButton-background: var(--salt-selectable-background-hover);
}

.saltInputPill-pillHighlighted .saltPillNext-action {
  --pillNext-background: var(--salt-selectable-background-hover);
}
