.saltBasicListItem {
  /* Color */
  --list-item-text-color: var(--salt-text-primary-foreground);
  --list-item-height: var(--salt-size-stackable);
  --list-item-background: var(--saltBasicList-item-background, none);
}

.saltBasicListItem {
  color: var(--list-item-text-color);
  background: var(--saltBasicList-item-background, var(--list-item-background));
  height: var(--saltBasicList-item-height, var(--list-item-height, auto));
  padding-inline: var(--salt-size-unit);
  display: flex;
  gap: var(--salt-size-unit);
  position: relative;
  align-items: center;
  white-space: nowrap;
  --saltCheckbox-icon-stroke: var(--salt-selectable-foreground);
  /*  TODO: should min-width take into account the space for the right tick?*/
}

.saltBasicListItem:hover, .saltBasicListItem:focus-visible {
  --list-item-background: var(--salt-selectable-background-hover);
  --saltCheckbox-icon-stroke: var(--salt-selectable-foreground-hover);
  --saltCheckbox-icon-fill: var(--salt-selectable-background-hover);
  cursor: var(--saltBasicList-item-cursor, var(--salt-selectable-cursor-hover));
}

.saltBasicListItem[aria-selected="true"]:not(.saltBasicListItem-checkbox) {
  --list-item-background: var(--salt-selectable-background-selected);
  --saltIcon-color: var(--salt-selectable-foreground-selected);
}

.saltBasicListItem-disabled:hover, .saltBasicListItem-disabled:focus-visible {
  --list-item-background: var(--salt-selectable-background-disabled);
  --saltCheckbox-icon-fill: var(--salt-selectable-background-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}

.saltBasicListItem-textWrapper {
  flex: 1;
  /* TODO: check if we need to add stuff for truncation/ limited width*/
}
