.salt-theme[data-mode="light"] {
	--salt-palette-accent: var(--salt-color-blue-500);
	--salt-palette-accent-disabled: var(--salt-color-blue-500-40a);
	--salt-palette-accent-strong: var(--salt-color-blue-600);
	--salt-palette-accent-strong-disabled: var(--salt-color-blue-600-40a);
	--salt-palette-accent-stronger: var(--salt-color-blue-700);
	--salt-palette-accent-stronger-disabled: var(--salt-color-blue-700-40a);
	--salt-palette-accent-strongest: var(--salt-color-blue-800);
	--salt-palette-accent-weak: var(--salt-color-blue-400);
	--salt-palette-accent-weaker: var(--salt-color-blue-200);
	--salt-palette-accent-weaker-disabled: var(--salt-color-blue-200-40a);
	--salt-palette-accent-weakest: var(--salt-color-blue-100);
	--salt-palette-accent-action-hover: var(--salt-color-blue-600);
	--salt-palette-accent-action-active: var(--salt-color-blue-800);
	--salt-palette-background-primary: var(--salt-color-background-snow);
	--salt-palette-background-primary-disabled: var(--salt-color-background-snow-40a);
	--salt-palette-background-secondary: var(--salt-color-background-marble);
	--salt-palette-background-secondary-disabled: var(--salt-color-background-marble-40a);
	--salt-palette-background-tertiary: var(--salt-color-background-limestone);
	--salt-palette-background-tertiary-disabled: var(--salt-color-background-limestone-40a);
	--salt-palette-foreground-primary: var(--salt-color-black);
	--salt-palette-foreground-primary-disabled: var(--salt-color-black-40a);
	--salt-palette-foreground-primary-alt: var(--salt-color-white);
	--salt-palette-foreground-primary-alt-disabled: var(--salt-color-white-40a);
	--salt-palette-foreground-secondary: var(--salt-color-gray-700);
	--salt-palette-foreground-secondary-disabled: var(--salt-color-gray-700-40a);
	--salt-palette-foreground-visited: var(--salt-color-purple-800);
	--salt-palette-info: var(--salt-color-blue-500);
	--salt-palette-info-strong: var(--salt-color-blue-600);
	--salt-palette-info-weak: var(--salt-color-blue-100);
	--salt-palette-negative: var(--salt-color-red-500);
	--salt-palette-negative-strong: var(--salt-color-red-600);
	--salt-palette-negative-strong-disabled: var(--salt-color-red-600-40a);
	--salt-palette-negative-weak: var(--salt-color-red-100);
	--salt-palette-negative-action-hover: var(--salt-color-red-600);
	--salt-palette-negative-action-active: var(--salt-color-red-800);
	--salt-palette-negative-disabled: var(--salt-color-red-500-40a);
	--salt-palette-neutral: var(--salt-color-gray-500);
	--salt-palette-neutral-disabled: var(--salt-color-gray-500-40a);
	--salt-palette-neutral-readonly: var(--salt-color-gray-500-10a);
	--salt-palette-neutral-strong: var(--salt-color-gray-600);
	--salt-palette-neutral-strong-disabled: var(--salt-color-gray-600-40a);
	--salt-palette-neutral-stronger: var(--salt-color-gray-700);
	--salt-palette-neutral-strongest: var(--salt-color-gray-800);
	--salt-palette-neutral-weak: var(--salt-color-gray-400);
	--salt-palette-neutral-weak-disabled: var(--salt-color-gray-400-40a);
	--salt-palette-neutral-weaker: var(--salt-color-gray-300);
	--salt-palette-neutral-weaker-disabled: var(--salt-color-gray-300-40a);
	--salt-palette-neutral-weaker-readonly: var(--salt-color-gray-300-10a);
	--salt-palette-neutral-weakest: var(--salt-color-gray-200);
	--salt-palette-neutral-action-hover: var(--salt-color-gray-600);
	--salt-palette-neutral-action-active: var(--salt-color-gray-800);
	--salt-palette-positive: var(--salt-color-green-500);
	--salt-palette-positive-strong: var(--salt-color-green-600);
	--salt-palette-positive-strong-disabled: var(--salt-color-green-600-40a);
	--salt-palette-positive-weak: var(--salt-color-green-100);
	--salt-palette-positive-action-hover: var(--salt-color-green-600);
	--salt-palette-positive-action-active: var(--salt-color-green-800);
	--salt-palette-positive-disabled: var(--salt-color-green-500-40a);
	--salt-palette-warning: var(--salt-color-orange-500);
	--salt-palette-warning-disabled: var(--salt-color-orange-500-40a);
	--salt-palette-warning-strong: var(--salt-color-orange-600);
	--salt-palette-warning-strong-disabled: var(--salt-color-orange-600-40a);
	--salt-palette-warning-weak: var(--salt-color-orange-100);
	--salt-palette-warning-action-hover: var(--salt-color-orange-600);
	--salt-palette-warning-action-active: var(--salt-color-orange-800);
	--salt-shadow-100-color: rgb(0, 0, 1);
	--salt-shadow-200-color: rgb(0, 0, 1);
	--salt-shadow-300-color: rgb(0, 0, 2);
	--salt-shadow-400-color: rgb(0, 0, 3);
	--salt-shadow-500-color: rgb(0, 0, 4); 
}

.salt-theme[data-mode="dark"] {
	--salt-palette-accent: var(--salt-color-blue-500);
	--salt-palette-accent-disabled: var(--salt-color-blue-500-40a);
	--salt-palette-accent-strong: var(--salt-color-blue-400);
	--salt-palette-accent-strong-disabled: var(--salt-color-blue-400-40a);
	--salt-palette-accent-stronger: var(--salt-color-blue-300);
	--salt-palette-accent-stronger-disabled: var(--salt-color-blue-300-40a);
	--salt-palette-accent-strongest: var(--salt-color-blue-200);
	--salt-palette-accent-weak: var(--salt-color-blue-600);
	--salt-palette-accent-weaker: var(--salt-color-blue-800);
	--salt-palette-accent-weaker-disabled: var(--salt-color-blue-800-40a);
	--salt-palette-accent-weakest: var(--salt-color-blue-900);
	--salt-palette-accent-action-hover: var(--salt-color-blue-600);
	--salt-palette-accent-action-active: var(--salt-color-blue-800);
	--salt-palette-background-primary: var(--salt-color-background-jet);
	--salt-palette-background-primary-disabled: var(--salt-color-background-jet-40a);
	--salt-palette-background-secondary: var(--salt-color-background-granite);
	--salt-palette-background-secondary-disabled: var(--salt-color-background-granite-40a);
	--salt-palette-background-tertiary: var(--salt-color-background-leather);
	--salt-palette-background-tertiary-disabled: var(--salt-color-background-leather-40a);
	--salt-palette-foreground-primary: var(--salt-color-white);
	--salt-palette-foreground-primary-disabled: var(--salt-color-white-40a);
	--salt-palette-foreground-primary-alt: var(--salt-color-white);
	--salt-palette-foreground-primary-alt-disabled: var(--salt-color-white-40a);
	--salt-palette-foreground-secondary: var(--salt-color-gray-300);
	--salt-palette-foreground-secondary-disabled: var(--salt-color-gray-300-40a);
	--salt-palette-foreground-visited: var(--salt-color-purple-200);
	--salt-palette-info: var(--salt-color-blue-500);
	--salt-palette-info-strong: var(--salt-color-blue-400);
	--salt-palette-info-weak: var(--salt-color-blue-900);
	--salt-palette-negative: var(--salt-color-red-500);
	--salt-palette-negative-strong: var(--salt-color-red-400);
	--salt-palette-negative-strong-disabled: var(--salt-color-red-400-40a);
	--salt-palette-negative-weak: var(--salt-color-red-900);
	--salt-palette-negative-action-hover: var(--salt-color-red-600);
	--salt-palette-negative-action-active: var(--salt-color-red-800);
	--salt-palette-negative-disabled: var(--salt-color-red-500-40a);
	--salt-palette-neutral: var(--salt-color-gray-500);
	--salt-palette-neutral-disabled: var(--salt-color-gray-500-40a);
	--salt-palette-neutral-readonly: var(--salt-color-gray-500-10a);
	--salt-palette-neutral-strong: var(--salt-color-gray-400);
	--salt-palette-neutral-strong-disabled: var(--salt-color-gray-400-40a);
	--salt-palette-neutral-stronger: var(--salt-color-gray-300);
	--salt-palette-neutral-strongest: var(--salt-color-gray-200);
	--salt-palette-neutral-weak: var(--salt-color-gray-600);
	--salt-palette-neutral-weak-disabled: var(--salt-color-gray-600-40a);
	--salt-palette-neutral-weaker: var(--salt-color-gray-700);
	--salt-palette-neutral-weaker-disabled: var(--salt-color-gray-700-40a);
	--salt-palette-neutral-weaker-readonly: var(--salt-color-gray-700-10a);
	--salt-palette-neutral-weakest: var(--salt-color-gray-800);
	--salt-palette-neutral-action-hover: var(--salt-color-gray-600);
	--salt-palette-neutral-action-active: var(--salt-color-gray-800);
	--salt-palette-positive: var(--salt-color-green-500);
	--salt-palette-positive-strong: var(--salt-color-green-400);
	--salt-palette-positive-strong-disabled: var(--salt-color-green-400-40a);
	--salt-palette-positive-weak: var(--salt-color-green-900);
	--salt-palette-positive-action-hover: var(--salt-color-green-600);
	--salt-palette-positive-action-active: var(--salt-color-green-800);
	--salt-palette-positive-disabled: var(--salt-color-green-500-40a);
	--salt-palette-warning: var(--salt-color-orange-500);
	--salt-palette-warning-disabled: var(--salt-color-orange-500-40a);
	--salt-palette-warning-strong: var(--salt-color-orange-400);
	--salt-palette-warning-strong-disabled: var(--salt-color-orange-400-40a);
	--salt-palette-warning-weak: var(--salt-color-orange-900);
	--salt-palette-warning-action-hover: var(--salt-color-orange-600);
	--salt-palette-warning-action-active: var(--salt-color-orange-800);
	--salt-shadow-100-color: rgb(0, 0, 7);
	--salt-shadow-200-color: rgb(0, 0, 7);
	--salt-shadow-300-color: rgb(0, 0, 8);
	--salt-shadow-400-color: rgb(0, 0, 8);
	--salt-shadow-500-color: rgb(0, 0, 10); 
}

.salt-density-high {
	--salt-curve-0: 0;
	--salt-curve-50: 1px;
	--salt-curve-100: 2px;
	--salt-curve-150: 3px;
	--salt-curve-200: 4px;
	--salt-curve-250: 5px;
	--salt-curve-999: 999px;
	--salt-size-adornment: 6px;
	--salt-size-bar: 2px;
	--salt-size-base: 20px;
	--salt-size-border: 1px;
	--salt-size-icon: 10px;
	--salt-size-indicator: 2px;
	--salt-size-selectable: 12px;
	--salt-size-bar-strong: 4px;
	--salt-size-bar-small: 2px;
	--salt-size-border-strong: 2px;
	--salt-spacing-100: 4px;
	--salt-zIndex-default: 1;
	--salt-zIndex-popout: 1000;
	--salt-zIndex-appHeader: 1100;
	--salt-zIndex-drawer: 1200;
	--salt-zIndex-modal: 1300;
	--salt-zIndex-notification: 1400;
	--salt-zIndex-dragObject: 1420;
	--salt-zIndex-contextMenu: 1450;
	--salt-zIndex-flyover: 1500; 
}

.salt-density-medium {
	--salt-curve-0: 0;
	--salt-curve-50: 2px;
	--salt-curve-100: 4px;
	--salt-curve-150: 6px;
	--salt-curve-200: 8px;
	--salt-curve-250: 10px;
	--salt-curve-999: 999px;
	--salt-size-adornment: 8px;
	--salt-size-bar: 4px;
	--salt-size-base: 28px;
	--salt-size-border: 1px;
	--salt-size-icon: 12px;
	--salt-size-indicator: 3px;
	--salt-size-selectable: 14px;
	--salt-size-bar-strong: 8px;
	--salt-size-bar-small: 2px;
	--salt-size-border-strong: 2px;
	--salt-spacing-100: 8px;
	--salt-zIndex-default: 1;
	--salt-zIndex-popout: 1000;
	--salt-zIndex-appHeader: 1100;
	--salt-zIndex-drawer: 1200;
	--salt-zIndex-modal: 1300;
	--salt-zIndex-notification: 1400;
	--salt-zIndex-dragObject: 1420;
	--salt-zIndex-contextMenu: 1450;
	--salt-zIndex-flyover: 1500; 
}

.salt-density-low {
	--salt-curve-0: 0;
	--salt-curve-50: 3px;
	--salt-curve-100: 6px;
	--salt-curve-150: 9px;
	--salt-curve-200: 12px;
	--salt-curve-250: 15px;
	--salt-curve-999: 999px;
	--salt-size-adornment: 10px;
	--salt-size-bar: 6px;
	--salt-size-base: 36px;
	--salt-size-border: 1px;
	--salt-size-icon: 14px;
	--salt-size-indicator: 4px;
	--salt-size-selectable: 16px;
	--salt-size-bar-strong: 12px;
	--salt-size-bar-small: 2px;
	--salt-size-border-strong: 2px;
	--salt-spacing-100: 12px;
	--salt-zIndex-default: 1;
	--salt-zIndex-popout: 1000;
	--salt-zIndex-appHeader: 1100;
	--salt-zIndex-drawer: 1200;
	--salt-zIndex-modal: 1300;
	--salt-zIndex-notification: 1400;
	--salt-zIndex-dragObject: 1420;
	--salt-zIndex-contextMenu: 1450;
	--salt-zIndex-flyover: 1500; 
}

.salt-density-touch {
	--salt-curve-0: 0;
	--salt-curve-50: 4px;
	--salt-curve-100: 8px;
	--salt-curve-150: 12px;
	--salt-curve-200: 16px;
	--salt-curve-250: 20px;
	--salt-curve-999: 999px;
	--salt-size-adornment: 12px;
	--salt-size-bar: 8px;
	--salt-size-base: 44px;
	--salt-size-border: 1px;
	--salt-size-icon: 16px;
	--salt-size-indicator: 5px;
	--salt-size-selectable: 18px;
	--salt-size-bar-strong: 16px;
	--salt-size-bar-small: 2px;
	--salt-size-border-strong: 2px;
	--salt-spacing-100: 16px;
	--salt-zIndex-default: 1;
	--salt-zIndex-popout: 1000;
	--salt-zIndex-appHeader: 1100;
	--salt-zIndex-drawer: 1200;
	--salt-zIndex-modal: 1300;
	--salt-zIndex-notification: 1400;
	--salt-zIndex-dragObject: 1420;
	--salt-zIndex-contextMenu: 1450;
	--salt-zIndex-flyover: 1500; 
}

.salt-theme {
	--salt-shadow-100: 0 1px 3px 0 var(--salt-shadow-100-color);
	--salt-shadow-200: 0 2px 4px 0 var(--salt-shadow-200-color);
	--salt-shadow-300: 0 4px 8px 0 var(--salt-shadow-300-color);
	--salt-shadow-400: 0 6px 10px 0 var(--salt-shadow-400-color);
	--salt-shadow-500: 0 12px 40px 0 var(--salt-shadow-500-color);
	--salt-color-blue-200-40a: var(--salt-color-blue-200-rgb);
	--salt-color-blue-300-40a: var(--salt-color-blue-300-rgb);
	--salt-color-blue-400-40a: var(--salt-color-blue-400-rgb);
	--salt-color-blue-500-40a: var(--salt-color-blue-500-rgb);
	--salt-color-blue-600-40a: var(--salt-color-blue-600-rgb);
	--salt-color-blue-700-40a: var(--salt-color-blue-700-rgb);
	--salt-color-blue-800-40a: var(--salt-color-blue-800-rgb);
	--salt-color-gray-300-10a: var(--salt-color-gray-300-rgb);
	--salt-color-gray-300-40a: var(--salt-color-gray-300-rgb);
	--salt-color-gray-400-40a: var(--salt-color-gray-400-rgb);
	--salt-color-gray-500-10a: var(--salt-color-gray-500-rgb);
	--salt-color-gray-500-40a: var(--salt-color-gray-500-rgb);
	--salt-color-gray-600-40a: var(--salt-color-gray-600-rgb);
	--salt-color-gray-700-10a: var(--salt-color-gray-700-rgb);
	--salt-color-gray-700-40a: var(--salt-color-gray-700-rgb);
	--salt-color-green-400-40a: var(--salt-color-green-400-rgb);
	--salt-color-green-500-40a: var(--salt-color-green-500-rgb);
	--salt-color-green-600-40a: var(--salt-color-green-600-rgb);
	--salt-color-orange-400-40a: var(--salt-color-orange-400-rgb);
	--salt-color-orange-500-40a: var(--salt-color-orange-500-rgb);
	--salt-color-orange-600-40a: var(--salt-color-orange-600-rgb);
	--salt-color-red-400-40a: var(--salt-color-red-400-rgb);
	--salt-color-red-500-40a: var(--salt-color-red-500-rgb);
	--salt-color-red-600-40a: var(--salt-color-red-600-rgb);
	--salt-color-teal-200-40a: var(--salt-color-teal-200-rgb);
	--salt-color-teal-300-40a: var(--salt-color-teal-300-rgb);
	--salt-color-teal-400-40a: var(--salt-color-teal-400-rgb);
	--salt-color-teal-500-40a: var(--salt-color-teal-500-rgb);
	--salt-color-teal-600-40a: var(--salt-color-teal-600-rgb);
	--salt-color-teal-700-40a: var(--salt-color-teal-700-rgb);
	--salt-color-teal-800-40a: var(--salt-color-teal-800-rgb);
	--salt-color-background-snow-40a: var(--salt-color-background-snow-rgb);
	--salt-color-background-marble-40a: var(--salt-color-background-marble-rgb);
	--salt-color-background-limestone-40a: var(--salt-color-background-limestone-rgb);
	--salt-color-background-granite-40a: var(--salt-color-background-granite-rgb);
	--salt-color-background-jet-40a: var(--salt-color-background-jet-rgb);
	--salt-color-background-leather-40a: var(--salt-color-background-leather-rgb);
	--salt-color-white-rgb: rgb(255, 255, 15);
	--salt-color-gray-100-rgb: rgb(95, 127, 8);
	--salt-color-gray-200-rgb: rgb(61, 93, 8);
	--salt-color-gray-300-rgb: rgb(27, 91, 9);
	--salt-color-gray-400-rgb: rgb(25, 89, 10);
	--salt-color-gray-500-rgb: rgb(39, 119, 13);
	--salt-color-gray-600-rgb: rgb(246, 70, 10);
	--salt-color-gray-700-rgb: rgb(197, 21, 7);
	--salt-color-gray-800-rgb: rgb(163, 244, 4);
	--salt-color-gray-900-rgb: rgb(146, 227, 3);
	--salt-color-black-rgb: rgb(0, 0, 0);
	--salt-color-blue-100-rgb: rgb(175, 111, 15);
	--salt-color-blue-200-rgb: rgb(125, 239, 15);
	--salt-color-blue-300-rgb: rgb(171, 223, 5);
	--salt-color-blue-400-rgb: rgb(105, 206, 8);
	--salt-color-blue-500-rgb: rgb(7, 140, 15);
	--salt-color-blue-600-rgb: rgb(5, 234, 6);
	--salt-color-blue-700-rgb: rgb(4, 87, 14);
	--salt-color-blue-800-rgb: rgb(2, 213, 9);
	--salt-color-blue-900-rgb: rgb(1, 115, 6);
	--salt-color-green-100-rgb: rgb(175, 95, 2);
	--salt-color-green-200-rgb: rgb(142, 93, 1);
	--salt-color-green-300-rgb: rgb(156, 202, 13);
	--salt-color-green-400-rgb: rgb(59, 8, 7);
	--salt-color-green-500-rgb: rgb(8, 117, 13);
	--salt-color-green-600-rgb: rgb(6, 180, 8);
	--salt-color-green-700-rgb: rgb(5, 99, 7);
	--salt-color-green-800-rgb: rgb(3, 242, 5);
	--salt-color-green-900-rgb: rgb(2, 145, 5);
	--salt-color-teal-100-rgb: rgb(191, 95, 7);
	--salt-color-teal-200-rgb: rgb(254, 14, 13);
	--salt-color-teal-300-rgb: rgb(60, 13, 6);
	--salt-color-teal-400-rgb: rgb(202, 28, 2);
	--salt-color-teal-500-rgb: rgb(183, 249, 14);
	--salt-color-teal-600-rgb: rgb(38, 71, 14);
	--salt-color-teal-700-rgb: rgb(148, 166, 0);
	--salt-color-teal-800-rgb: rgb(51, 20, 2);
	--salt-color-teal-900-rgb: rgb(1, 178, 9);
	--salt-color-orange-100-rgb: rgb(254, 205, 9);
	--salt-color-orange-200-rgb: rgb(252, 106, 1);
	--salt-color-orange-300-rgb: rgb(122, 6, 10);
	--salt-color-orange-400-rgb: rgb(135, 163, 8);
	--salt-color-orange-500-rgb: rgb(117, 48, 0);
	--salt-color-orange-600-rgb: rgb(52, 64, 0);
	--salt-color-orange-700-rgb: rgb(19, 96, 0);
	--salt-color-orange-800-rgb: rgb(18, 144, 0);
	--salt-color-orange-900-rgb: rgb(34, 0, 0);
	--salt-color-red-100-rgb: rgb(254, 206, 10);
	--salt-color-red-200-rgb: rgb(252, 27, 10);
	--salt-color-red-300-rgb: rgb(249, 56, 10);
	--salt-color-red-400-rgb: rgb(245, 213, 7);
	--salt-color-red-500-rgb: rgb(82, 19, 5);
	--salt-color-red-600-rgb: rgb(161, 114, 9);
	--salt-color-red-700-rgb: rgb(16, 209, 14);
	--salt-color-red-800-rgb: rgb(144, 65, 3);
	--salt-color-red-900-rgb: rgb(80, 0, 2);
	--salt-color-purple-100-rgb: rgb(111, 15, 10);
	--salt-color-purple-200-rgb: rgb(13, 111, 5);
	--salt-color-purple-300-rgb: rgb(170, 254, 0);
	--salt-color-purple-400-rgb: rgb(56, 140, 12);
	--salt-color-purple-500-rgb: rgb(37, 186, 13);
	--salt-color-purple-600-rgb: rgb(84, 56, 15);
	--salt-color-purple-700-rgb: rgb(130, 215, 1);
	--salt-color-purple-800-rgb: rgb(145, 85, 2);
	--salt-color-purple-900-rgb: rgb(48, 3, 11);
	--salt-color-background-snow-rgb: rgb(255, 255, 15);
	--salt-color-background-marble-rgb: rgb(95, 127, 8);
	--salt-color-background-limestone-rgb: rgb(175, 143, 2);
	--salt-color-background-titanium-rgb: rgb(46, 78, 5);
	--salt-color-background-jet-rgb: rgb(1, 130, 0);
	--salt-color-background-granite-rgb: rgb(162, 34, 9);
	--salt-color-background-leather-rgb: rgb(98, 146, 11);
	--salt-color-logo-brown-rgb: rgb(162, 32, 6);
	--salt-color-white: var(--salt-color-white-rgb);
	--salt-color-gray-100: var(--salt-color-gray-100-rgb);
	--salt-color-gray-200: var(--salt-color-gray-200-rgb);
	--salt-color-gray-300: var(--salt-color-gray-300-rgb);
	--salt-color-gray-400: var(--salt-color-gray-400-rgb);
	--salt-color-gray-500: var(--salt-color-gray-500-rgb);
	--salt-color-gray-600: var(--salt-color-gray-600-rgb);
	--salt-color-gray-700: var(--salt-color-gray-700-rgb);
	--salt-color-gray-800: var(--salt-color-gray-800-rgb);
	--salt-color-gray-900: var(--salt-color-gray-900-rgb);
	--salt-color-black: var(--salt-color-black-rgb);
	--salt-color-blue-100: var(--salt-color-blue-100-rgb);
	--salt-color-blue-200: var(--salt-color-blue-200-rgb);
	--salt-color-blue-300: var(--salt-color-blue-300-rgb);
	--salt-color-blue-400: var(--salt-color-blue-400-rgb);
	--salt-color-blue-500: var(--salt-color-blue-500-rgb);
	--salt-color-blue-600: var(--salt-color-blue-600-rgb);
	--salt-color-blue-700: var(--salt-color-blue-700-rgb);
	--salt-color-blue-800: var(--salt-color-blue-800-rgb);
	--salt-color-blue-900: var(--salt-color-blue-900-rgb);
	--salt-color-green-100: var(--salt-color-green-100-rgb);
	--salt-color-green-200: var(--salt-color-green-200-rgb);
	--salt-color-green-300: var(--salt-color-green-300-rgb);
	--salt-color-green-400: var(--salt-color-green-400-rgb);
	--salt-color-green-500: var(--salt-color-green-500-rgb);
	--salt-color-green-600: var(--salt-color-green-600-rgb);
	--salt-color-green-700: var(--salt-color-green-700-rgb);
	--salt-color-green-800: var(--salt-color-green-800-rgb);
	--salt-color-green-900: var(--salt-color-green-900-rgb);
	--salt-color-teal-100: var(--salt-color-teal-100-rgb);
	--salt-color-teal-200: var(--salt-color-teal-200-rgb);
	--salt-color-teal-300: var(--salt-color-teal-300-rgb);
	--salt-color-teal-400: var(--salt-color-teal-400-rgb);
	--salt-color-teal-500: var(--salt-color-teal-500-rgb);
	--salt-color-teal-600: var(--salt-color-teal-600-rgb);
	--salt-color-teal-700: var(--salt-color-teal-700-rgb);
	--salt-color-teal-800: var(--salt-color-teal-800-rgb);
	--salt-color-teal-900: var(--salt-color-teal-900-rgb);
	--salt-color-orange-100: var(--salt-color-orange-100-rgb);
	--salt-color-orange-200: var(--salt-color-orange-200-rgb);
	--salt-color-orange-300: var(--salt-color-orange-300-rgb);
	--salt-color-orange-400: var(--salt-color-orange-400-rgb);
	--salt-color-orange-500: var(--salt-color-orange-500-rgb);
	--salt-color-orange-600: var(--salt-color-orange-600-rgb);
	--salt-color-orange-700: var(--salt-color-orange-700-rgb);
	--salt-color-orange-800: var(--salt-color-orange-800-rgb);
	--salt-color-orange-900: var(--salt-color-orange-900-rgb);
	--salt-color-red-100: var(--salt-color-red-100-rgb);
	--salt-color-red-200: var(--salt-color-red-200-rgb);
	--salt-color-red-300: var(--salt-color-red-300-rgb);
	--salt-color-red-400: var(--salt-color-red-400-rgb);
	--salt-color-red-500: var(--salt-color-red-500-rgb);
	--salt-color-red-600: var(--salt-color-red-600-rgb);
	--salt-color-red-700: var(--salt-color-red-700-rgb);
	--salt-color-red-800: var(--salt-color-red-800-rgb);
	--salt-color-red-900: var(--salt-color-red-900-rgb);
	--salt-color-purple-100: var(--salt-color-purple-100-rgb);
	--salt-color-purple-200: var(--salt-color-purple-200-rgb);
	--salt-color-purple-300: var(--salt-color-purple-300-rgb);
	--salt-color-purple-400: var(--salt-color-purple-400-rgb);
	--salt-color-purple-500: var(--salt-color-purple-500-rgb);
	--salt-color-purple-600: var(--salt-color-purple-600-rgb);
	--salt-color-purple-700: var(--salt-color-purple-700-rgb);
	--salt-color-purple-800: var(--salt-color-purple-800-rgb);
	--salt-color-purple-900: var(--salt-color-purple-900-rgb);
	--salt-color-background-snow: var(--salt-color-background-snow-rgb);
	--salt-color-background-marble: var(--salt-color-background-marble-rgb);
	--salt-color-background-limestone: var(--salt-color-background-limestone-rgb);
	--salt-color-background-titanium: var(--salt-color-background-titanium-rgb);
	--salt-color-background-jet: var(--salt-color-background-jet-rgb);
	--salt-color-background-granite: var(--salt-color-background-granite-rgb);
	--salt-color-background-leather: var(--salt-color-background-leather-rgb);
	--salt-color-logo-brown: var(--salt-color-logo-brown-rgb);
	--salt-duration-instant: 0ms;
	--salt-duration-perceptible: 300ms;
	--salt-duration-notable: 1000ms;
	--salt-duration-cutoff: 10000ms;
	--salt-typography-fontFamily-openSans: "Open Sans";
	--salt-typography-fontFamily-amplitude: "Amplitude";
	--salt-typography-fontFamily-ptMono: "PT Mono";
	--salt-typography-fontWeight-light: 300;
	--salt-typography-fontWeight-regular: 400;
	--salt-typography-fontWeight-medium: 500;
	--salt-typography-fontWeight-semiBold: 600;
	--salt-typography-fontWeight-bold: 700;
	--salt-typography-fontWeight-extraBold: 800;
	--salt-typography-textDecoration-none: none;
	--salt-typography-textDecoration-underline: underline; 
}

