.salt-theme[data-mode="light"] {
	--salt-palette-accent-background: var(--salt-color-blue-500);
	--salt-palette-accent-border: var(--salt-color-blue-500);
	--salt-palette-accent-foreground: var(--salt-color-white);
	--salt-palette-error-background: var(--salt-color-red-10);
	--salt-palette-error-background-selected: var(--salt-color-red-20);
	--salt-palette-error-border: var(--salt-color-red-500);
	--salt-palette-error-foreground: var(--salt-color-red-500);
	--salt-palette-info-background: var(--salt-color-blue-10);
	--salt-palette-info-border: var(--salt-color-blue-500);
	--salt-palette-info-foreground: var(--salt-color-blue-500);
	--salt-palette-interact-background: transparent;
	--salt-palette-interact-background-blurSelected: var(--salt-color-gray-30);
	--salt-palette-interact-background-hover: var(--salt-color-blue-10);
	--salt-palette-interact-background-active: var(--salt-color-blue-30);
	--salt-palette-interact-background-disabled: transparent;
	--salt-palette-interact-background-activeDisabled: var(--salt-color-blue-30-fade-background);
	--salt-palette-interact-border: var(--salt-color-gray-200);
	--salt-palette-interact-border-active: var(--salt-color-blue-600);
	--salt-palette-interact-border-activeDisabled: var(--salt-color-blue-600-fade-fill);
	--salt-palette-interact-border-disabled: var(--salt-color-gray-200-fade-border);
	--salt-palette-interact-border-hover: var(--salt-color-blue-500);
	--salt-palette-interact-border-readonly: var(--salt-color-gray-200-fade-border-readonly);
	--salt-palette-interact-foreground: var(--salt-color-gray-200);
	--salt-palette-interact-foreground-active: var(--salt-color-blue-600);
	--salt-palette-interact-foreground-activeDisabled: var(--salt-color-blue-600-fade-foreground);
	--salt-palette-interact-foreground-disabled: var(--salt-color-gray-200-fade-foreground);
	--salt-palette-interact-foreground-hover: var(--salt-color-blue-500);
	--salt-palette-interact-outline: var(--salt-color-blue-600);
	--salt-palette-interact-cta-background: var(--salt-color-blue-600);
	--salt-palette-interact-cta-background-active: var(--salt-color-blue-700);
	--salt-palette-interact-cta-background-disabled: var(--salt-color-blue-600-fade-background);
	--salt-palette-interact-cta-background-hover: var(--salt-color-blue-500);
	--salt-palette-interact-cta-foreground: var(--salt-color-white);
	--salt-palette-interact-cta-foreground-active: var(--salt-color-white);
	--salt-palette-interact-cta-foreground-disabled: var(--salt-color-white-fade-foreground);
	--salt-palette-interact-cta-foreground-hover: var(--salt-color-white);
	--salt-palette-interact-primary-background: var(--salt-color-gray-60);
	--salt-palette-interact-primary-background-active: var(--salt-color-gray-200);
	--salt-palette-interact-primary-background-disabled: var(--salt-color-gray-60-fade-background);
	--salt-palette-interact-primary-background-hover: var(--salt-color-gray-40);
	--salt-palette-interact-primary-foreground: var(--salt-color-gray-900);
	--salt-palette-interact-primary-foreground-active: var(--salt-color-white);
	--salt-palette-interact-primary-foreground-disabled: var(--salt-color-gray-900-fade-foreground);
	--salt-palette-interact-primary-foreground-hover: var(--salt-color-gray-900);
	--salt-palette-interact-secondary-background: transparent;
	--salt-palette-interact-secondary-background-active: var(--salt-color-gray-200);
	--salt-palette-interact-secondary-background-disabled: transparent;
	--salt-palette-interact-secondary-background-hover: var(--salt-color-gray-40);
	--salt-palette-interact-secondary-foreground: var(--salt-color-gray-900);
	--salt-palette-interact-secondary-foreground-active: var(--salt-color-white);
	--salt-palette-interact-secondary-foreground-disabled: var(--salt-color-gray-900-fade-foreground);
	--salt-palette-interact-secondary-foreground-hover: var(--salt-color-gray-900);
	--salt-palette-navigate-background-hover: var(--salt-color-black-fade-background-hover);
	--salt-palette-navigate-foreground-hover: var(--salt-color-blue-600);
	--salt-palette-navigate-foreground-active: var(--salt-color-blue-700);
	--salt-palette-navigate-foreground-visited: var(--salt-color-purple-800);
	--salt-palette-navigate-indicator-hover: var(--salt-color-gray-90);
	--salt-palette-navigate-indicator-active: var(--salt-color-orange-600);
	--salt-palette-negative-foreground: var(--salt-color-red-700);
	--salt-palette-neutral-primary-background: var(--salt-color-white);
	--salt-palette-neutral-primary-background-disabled: var(--salt-color-white-fade-background);
	--salt-palette-neutral-primary-background-readonly: var(--salt-color-white-fade-background-readonly);
	--salt-palette-neutral-primary-foreground: var(--salt-color-gray-900);
	--salt-palette-neutral-primary-foreground-disabled: var(--salt-color-gray-900-fade-foreground);
	--salt-palette-neutral-primary-separator: var(--salt-color-black-fade-separatorOpacity-primary);
	--salt-palette-neutral-primary-border: var(--salt-color-gray-50);
	--salt-palette-neutral-primary-border-disabled: var(--salt-color-gray-50-fade-border);
	--salt-palette-neutral-secondary-background: var(--salt-color-gray-20);
	--salt-palette-neutral-secondary-background-disabled: var(--salt-color-gray-20-fade-background);
	--salt-palette-neutral-secondary-background-readonly: var(--salt-color-gray-20-fade-background-readonly);
	--salt-palette-neutral-secondary-border: var(--salt-color-gray-50);
	--salt-palette-neutral-secondary-border-disabled: var(--salt-color-gray-50-fade-border);
	--salt-palette-neutral-secondary-foreground: var(--salt-color-gray-200);
	--salt-palette-neutral-secondary-foreground-disabled: var(--salt-color-gray-200-fade-foreground);
	--salt-palette-neutral-backdrop: var(--salt-color-white-fade-backdrop);
	--salt-palette-neutral-secondary-separator: var(--salt-color-black-fade-separatorOpacity-secondary);
	--salt-palette-neutral-tertiary-separator: var(--salt-color-black-fade-separatorOpacity-tertiary);
	--salt-palette-positive-foreground: var(--salt-color-green-700);
	--salt-palette-success-background: var(--salt-color-green-10);
	--salt-palette-success-background-selected: var(--salt-color-green-20);
	--salt-palette-success-border: var(--salt-color-green-500);
	--salt-palette-success-foreground: var(--salt-color-green-500);
	--salt-palette-warning-background: var(--salt-color-orange-10);
	--salt-palette-warning-background-selected: var(--salt-color-orange-20);
	--salt-palette-warning-border: var(--salt-color-orange-700);
	--salt-palette-warning-foreground: var(--salt-color-orange-700);
	--salt-shadow-100-color: rgb(0, 0, 0);
	--salt-shadow-200-color: rgb(0, 0, 0);
	--salt-shadow-300-color: rgb(0, 0, 0);
	--salt-shadow-400-color: rgb(0, 0, 0);
	--salt-shadow-500-color: rgb(0, 0, 0); 
}

.salt-theme[data-mode="dark"] {
	--salt-palette-accent-background: var(--salt-color-blue-500);
	--salt-palette-accent-border: var(--salt-color-blue-500);
	--salt-palette-accent-foreground: var(--salt-color-white);
	--salt-palette-error-background: var(--salt-color-red-900);
	--salt-palette-error-background-selected: var(--salt-color-red-900);
	--salt-palette-error-border: var(--salt-color-red-500);
	--salt-palette-error-foreground: var(--salt-color-red-500);
	--salt-palette-info-background: var(--salt-color-blue-900);
	--salt-palette-info-border: var(--salt-color-blue-500);
	--salt-palette-info-foreground: var(--salt-color-blue-500);
	--salt-palette-interact-background: transparent;
	--salt-palette-interact-background-blurSelected: var(--salt-color-gray-600);
	--salt-palette-interact-background-hover: var(--salt-color-blue-800);
	--salt-palette-interact-background-active: var(--salt-color-blue-700);
	--salt-palette-interact-background-disabled: transparent;
	--salt-palette-interact-background-activeDisabled: var(--salt-color-blue-700-fade-background);
	--salt-palette-interact-border: var(--salt-color-gray-90);
	--salt-palette-interact-border-active: var(--salt-color-blue-100);
	--salt-palette-interact-border-activeDisabled: var(--salt-color-blue-100-fade-fill);
	--salt-palette-interact-border-disabled: var(--salt-color-gray-90-fade-border);
	--salt-palette-interact-border-hover: var(--salt-color-blue-500);
	--salt-palette-interact-border-readonly: var(--salt-color-gray-90-fade-border-readonly);
	--salt-palette-interact-foreground: var(--salt-color-gray-90);
	--salt-palette-interact-foreground-active: var(--salt-color-blue-100);
	--salt-palette-interact-foreground-activeDisabled: var(--salt-color-blue-100-fade-foreground);
	--salt-palette-interact-foreground-disabled: var(--salt-color-gray-90-fade-foreground);
	--salt-palette-interact-foreground-hover: var(--salt-color-blue-500);
	--salt-palette-interact-outline: var(--salt-color-blue-100);
	--salt-palette-interact-cta-background: var(--salt-color-blue-600);
	--salt-palette-interact-cta-background-active: var(--salt-color-blue-700);
	--salt-palette-interact-cta-background-disabled: var(--salt-color-blue-600-fade-background);
	--salt-palette-interact-cta-background-hover: var(--salt-color-blue-500);
	--salt-palette-interact-cta-foreground: var(--salt-color-white);
	--salt-palette-interact-cta-foreground-active: var(--salt-color-white);
	--salt-palette-interact-cta-foreground-disabled: var(--salt-color-white-fade-foreground);
	--salt-palette-interact-cta-foreground-hover: var(--salt-color-white);
	--salt-palette-interact-primary-background: var(--salt-color-gray-300);
	--salt-palette-interact-primary-background-active: var(--salt-color-gray-70);
	--salt-palette-interact-primary-background-disabled: var(--salt-color-gray-300-fade-background);
	--salt-palette-interact-primary-background-hover: var(--salt-color-gray-200);
	--salt-palette-interact-primary-foreground: var(--salt-color-white);
	--salt-palette-interact-primary-foreground-active: var(--salt-color-gray-900);
	--salt-palette-interact-primary-foreground-disabled: var(--salt-color-white-fade-foreground);
	--salt-palette-interact-primary-foreground-hover: var(--salt-color-white);
	--salt-palette-interact-secondary-background: transparent;
	--salt-palette-interact-secondary-background-active: var(--salt-color-gray-70);
	--salt-palette-interact-secondary-background-disabled: transparent;
	--salt-palette-interact-secondary-background-hover: var(--salt-color-gray-200);
	--salt-palette-interact-secondary-foreground: var(--salt-color-white);
	--salt-palette-interact-secondary-foreground-active: var(--salt-color-gray-900);
	--salt-palette-interact-secondary-foreground-disabled: var(--salt-color-white-fade-foreground);
	--salt-palette-interact-secondary-foreground-hover: var(--salt-color-white);
	--salt-palette-navigate-background-hover: var(--salt-color-white-fade-background-hover);
	--salt-palette-navigate-foreground-hover: var(--salt-color-blue-200);
	--salt-palette-navigate-foreground-active: var(--salt-color-blue-300);
	--salt-palette-navigate-foreground-visited: var(--salt-color-purple-100);
	--salt-palette-navigate-indicator-hover: var(--salt-color-gray-90);
	--salt-palette-navigate-indicator-active: var(--salt-color-orange-400);
	--salt-palette-negative-foreground: var(--salt-color-red-300);
	--salt-palette-neutral-primary-background: var(--salt-color-gray-800);
	--salt-palette-neutral-primary-background-disabled: var(--salt-color-gray-800-fade-background);
	--salt-palette-neutral-primary-background-readonly: var(--salt-color-gray-800-fade-background-readonly);
	--salt-palette-neutral-primary-foreground: var(--salt-color-white);
	--salt-palette-neutral-primary-foreground-disabled: var(--salt-color-white-fade-foreground);
	--salt-palette-neutral-primary-separator: var(--salt-color-white-fade-separatorOpacity-primary);
	--salt-palette-neutral-primary-border: var(--salt-color-gray-300);
	--salt-palette-neutral-primary-border-disabled: var(--salt-color-gray-300-fade-border);
	--salt-palette-neutral-secondary-background: var(--salt-color-gray-600);
	--salt-palette-neutral-secondary-background-disabled: var(--salt-color-gray-600-fade-background);
	--salt-palette-neutral-secondary-background-readonly: var(--salt-color-gray-600-fade-background-readonly);
	--salt-palette-neutral-secondary-border: var(--salt-color-gray-300);
	--salt-palette-neutral-secondary-border-disabled: var(--salt-color-gray-300-fade-border);
	--salt-palette-neutral-secondary-foreground: var(--salt-color-gray-70);
	--salt-palette-neutral-secondary-foreground-disabled: var(--salt-color-gray-70-fade-foreground);
	--salt-palette-neutral-backdrop: var(--salt-color-black-fade-backdrop);
	--salt-palette-neutral-secondary-separator: var(--salt-color-white-fade-separatorOpacity-secondary);
	--salt-palette-neutral-tertiary-separator: var(--salt-color-white-fade-separatorOpacity-tertiary);
	--salt-palette-positive-foreground: var(--salt-color-green-300);
	--salt-palette-success-background: var(--salt-color-green-900);
	--salt-palette-success-background-selected: var(--salt-color-green-900);
	--salt-palette-success-border: var(--salt-color-green-400);
	--salt-palette-success-foreground: var(--salt-color-green-400);
	--salt-palette-warning-background: var(--salt-color-orange-900);
	--salt-palette-warning-background-selected: var(--salt-color-orange-900);
	--salt-palette-warning-border: var(--salt-color-orange-500);
	--salt-palette-warning-foreground: var(--salt-color-orange-500);
	--salt-shadow-100-color: rgb(0, 0, 0);
	--salt-shadow-200-color: rgb(0, 0, 0);
	--salt-shadow-300-color: rgb(0, 0, 0);
	--salt-shadow-400-color: rgb(0, 0, 0);
	--salt-shadow-500-color: rgb(0, 0, 0); 
}

.salt-density-high {
	--salt-curve-0: 0;
	--salt-curve-50: 1px;
	--salt-curve-100: 2px;
	--salt-curve-150: 3px;
	--salt-curve-999: 999px;
	--salt-size-adornment: 6px;
	--salt-size-bar: 2px;
	--salt-size-base: 20px;
	--salt-size-border: 1px;
	--salt-size-icon: 10px;
	--salt-size-indicator: 1px;
	--salt-size-selectable: 12px;
	--salt-size-bar-strong: 4px;
	--salt-size-bar-small: 2px;
	--salt-size-border-strong: 2px;
	--salt-spacing-100: 4px;
	--salt-zIndex-default: 1;
	--salt-zIndex-popout: 1000;
	--salt-zIndex-appHeader: 1100;
	--salt-zIndex-drawer: 1200;
	--salt-zIndex-modal: 1300;
	--salt-zIndex-notification: 1400;
	--salt-zIndex-dragObject: 1420;
	--salt-zIndex-contextMenu: 1450;
	--salt-zIndex-flyover: 1500; 
}

.salt-density-medium {
	--salt-curve-0: 0;
	--salt-curve-50: 2px;
	--salt-curve-100: 4px;
	--salt-curve-150: 6px;
	--salt-curve-999: 999px;
	--salt-size-adornment: 8px;
	--salt-size-bar: 4px;
	--salt-size-base: 28px;
	--salt-size-border: 1px;
	--salt-size-icon: 12px;
	--salt-size-indicator: 2px;
	--salt-size-selectable: 14px;
	--salt-size-bar-strong: 8px;
	--salt-size-bar-small: 2px;
	--salt-size-border-strong: 2px;
	--salt-spacing-100: 8px;
	--salt-zIndex-default: 1;
	--salt-zIndex-popout: 1000;
	--salt-zIndex-appHeader: 1100;
	--salt-zIndex-drawer: 1200;
	--salt-zIndex-modal: 1300;
	--salt-zIndex-notification: 1400;
	--salt-zIndex-dragObject: 1420;
	--salt-zIndex-contextMenu: 1450;
	--salt-zIndex-flyover: 1500; 
}

.salt-density-low {
	--salt-curve-0: 0;
	--salt-curve-50: 3px;
	--salt-curve-100: 6px;
	--salt-curve-150: 9px;
	--salt-curve-999: 999px;
	--salt-size-adornment: 10px;
	--salt-size-bar: 6px;
	--salt-size-base: 36px;
	--salt-size-border: 1px;
	--salt-size-icon: 14px;
	--salt-size-indicator: 3px;
	--salt-size-selectable: 16px;
	--salt-size-bar-strong: 12px;
	--salt-size-bar-small: 2px;
	--salt-size-border-strong: 2px;
	--salt-spacing-100: 12px;
	--salt-zIndex-default: 1;
	--salt-zIndex-popout: 1000;
	--salt-zIndex-appHeader: 1100;
	--salt-zIndex-drawer: 1200;
	--salt-zIndex-modal: 1300;
	--salt-zIndex-notification: 1400;
	--salt-zIndex-dragObject: 1420;
	--salt-zIndex-contextMenu: 1450;
	--salt-zIndex-flyover: 1500; 
}

.salt-density-touch {
	--salt-curve-0: 0;
	--salt-curve-50: 4px;
	--salt-curve-100: 8px;
	--salt-curve-150: 12px;
	--salt-curve-999: 999px;
	--salt-size-adornment: 12px;
	--salt-size-bar: 8px;
	--salt-size-base: 44px;
	--salt-size-border: 1px;
	--salt-size-icon: 16px;
	--salt-size-indicator: 4px;
	--salt-size-selectable: 18px;
	--salt-size-bar-strong: 16px;
	--salt-size-bar-small: 2px;
	--salt-size-border-strong: 2px;
	--salt-spacing-100: 16px;
	--salt-zIndex-default: 1;
	--salt-zIndex-popout: 1000;
	--salt-zIndex-appHeader: 1100;
	--salt-zIndex-drawer: 1200;
	--salt-zIndex-modal: 1300;
	--salt-zIndex-notification: 1400;
	--salt-zIndex-dragObject: 1420;
	--salt-zIndex-contextMenu: 1450;
	--salt-zIndex-flyover: 1500; 
}

.salt-theme {
	--salt-palette-opacity-backdrop: var(--salt-opacity-70);
	--salt-palette-opacity-disabled: var(--salt-opacity-40);
	--salt-palette-opacity-background-readonly: var(--salt-opacity-0);
	--salt-palette-opacity-border-readonly: var(--salt-opacity-15);
	--salt-palette-opacity-primary-border: var(--salt-opacity-40);
	--salt-palette-opacity-secondary-border: var(--salt-opacity-25);
	--salt-palette-opacity-tertiary-border: var(--salt-opacity-15);
	--salt-shadow-100: 0 1px 3px 0 var(--salt-shadow-100-color);
	--salt-shadow-200: 0 2px 4px 0 var(--salt-shadow-200-color);
	--salt-shadow-300: 0 4px 8px 0 var(--salt-shadow-300-color);
	--salt-shadow-400: 0 6px 10px 0 var(--salt-shadow-400-color);
	--salt-shadow-500: 0 12px 40px 0 var(--salt-shadow-500-color);
	--salt-color-white: rgb(255, 255, 15);
	--salt-color-black: rgb(0, 0, 0);
	--salt-color-red-10: rgb(254, 62, 0);
	--salt-color-red-20: rgb(252, 252, 9);
	--salt-color-red-30: rgb(251, 187, 2);
	--salt-color-red-40: rgb(250, 121, 12);
	--salt-color-red-50: rgb(249, 72, 5);
	--salt-color-red-100: rgb(248, 6, 15);
	--salt-color-red-200: rgb(246, 197, 8);
	--salt-color-red-300: rgb(245, 148, 2);
	--salt-color-red-400: rgb(212, 18, 10);
	--salt-color-red-500: rgb(50, 177, 6);
	--salt-color-red-600: rgb(66, 1, 0);
	--salt-color-red-700: rgb(97, 80, 11);
	--salt-color-red-800: rgb(128, 160, 5);
	--salt-color-red-900: rgb(18, 82, 2);
	--salt-color-orange-10: rgb(254, 139, 15);
	--salt-color-orange-20: rgb(237, 250, 6);
	--salt-color-orange-30: rgb(237, 104, 14);
	--salt-color-orange-40: rgb(236, 215, 6);
	--salt-color-orange-50: rgb(236, 85, 14);
	--salt-color-orange-100: rgb(171, 85, 1);
	--salt-color-orange-200: rgb(106, 84, 4);
	--salt-color-orange-300: rgb(41, 83, 8);
	--salt-color-orange-400: rgb(232, 82, 11);
	--salt-color-orange-500: rgb(167, 49, 9);
	--salt-color-orange-600: rgb(6, 81, 9);
	--salt-color-orange-700: rgb(101, 81, 3);
	--salt-color-orange-800: rgb(196, 64, 13);
	--salt-color-orange-900: rgb(98, 194, 4);
	--salt-color-green-10: rgb(31, 76, 9);
	--salt-color-green-20: rgb(142, 139, 6);
	--salt-color-green-30: rgb(13, 218, 4);
	--salt-color-green-40: rgb(141, 41, 1);
	--salt-color-green-50: rgb(12, 119, 15);
	--salt-color-green-100: rgb(219, 215, 4);
	--salt-color-green-200: rgb(219, 70, 9);
	--salt-color-green-300: rgb(202, 182, 0);
	--salt-color-green-400: rgb(9, 197, 10);
	--salt-color-green-500: rgb(72, 116, 11);
	--salt-color-green-600: rgb(135, 35, 13);
	--salt-color-green-700: rgb(197, 210, 14);
	--salt-color-green-800: rgb(20, 146, 0);
	--salt-color-green-900: rgb(51, 66, 11);
	--salt-color-teal-10: rgb(175, 15, 0);
	--salt-color-teal-20: rgb(126, 142, 8);
	--salt-color-teal-30: rgb(78, 14, 1);
	--salt-color-teal-40: rgb(45, 157, 10);
	--salt-color-teal-50: rgb(220, 221, 1);
	--salt-color-teal-100: rgb(188, 28, 8);
	--salt-color-teal-200: rgb(59, 92, 0);
	--salt-color-teal-300: rgb(154, 10, 12);
	--salt-color-teal-400: rgb(9, 90, 6);
	--salt-color-teal-500: rgb(8, 41, 7);
	--salt-color-teal-600: rgb(182, 184, 5);
	--salt-color-teal-700: rgb(5, 87, 1);
	--salt-color-teal-800: rgb(20, 21, 6);
	--salt-color-teal-900: rgb(3, 20, 12);
	--salt-color-blue-10: rgb(190, 127, 9);
	--salt-color-blue-20: rgb(125, 239, 6);
	--salt-color-blue-30: rgb(77, 95, 4);
	--salt-color-blue-40: rgb(12, 207, 2);
	--salt-color-blue-50: rgb(220, 63, 0);
	--salt-color-blue-100: rgb(75, 30, 4);
	--salt-color-blue-200: rgb(185, 253, 8);
	--salt-color-blue-300: rgb(56, 220, 13);
	--salt-color-blue-400: rgb(232, 76, 6);
	--salt-color-blue-500: rgb(103, 10, 9);
	--salt-color-blue-600: rgb(85, 201, 3);
	--salt-color-blue-700: rgb(4, 119, 11);
	--salt-color-blue-800: rgb(115, 196, 13);
	--salt-color-blue-900: rgb(50, 243, 8);
	--salt-color-purple-10: rgb(158, 15, 7);
	--salt-color-purple-20: rgb(125, 79, 4);
	--salt-color-purple-30: rgb(92, 159, 1);
	--salt-color-purple-40: rgb(59, 222, 14);
	--salt-color-purple-50: rgb(27, 46, 11);
	--salt-color-purple-100: rgb(249, 206, 1);
	--salt-color-purple-200: rgb(216, 125, 7);
	--salt-color-purple-300: rgb(7, 76, 11);
	--salt-color-purple-400: rgb(150, 27, 5);
	--salt-color-purple-500: rgb(100, 234, 2);
	--salt-color-purple-600: rgb(19, 200, 13);
	--salt-color-purple-700: rgb(114, 231, 10);
	--salt-color-purple-800: rgb(50, 86, 13);
	--salt-color-purple-900: rgb(177, 5, 4);
	--salt-color-gray-10: rgb(47, 79, 6);
	--salt-color-gray-20: rgb(174, 222, 15);
	--salt-color-gray-30: rgb(14, 78, 9);
	--salt-color-gray-40: rgb(157, 222, 3);
	--salt-color-gray-50: rgb(237, 45, 9);
	--salt-color-gray-60: rgb(92, 157, 0);
	--salt-color-gray-70: rgb(75, 123, 14);
	--salt-color-gray-80: rgb(250, 58, 10);
	--salt-color-gray-90: rgb(72, 120, 14);
	--salt-color-gray-100: rgb(71, 119, 15);
	--salt-color-gray-200: rgb(22, 86, 14);
	--salt-color-gray-300: rgb(197, 5, 11);
	--salt-color-gray-400: rgb(68, 132, 15);
	--salt-color-gray-500: rgb(179, 244, 6);
	--salt-color-gray-600: rgb(243, 19, 6);
	--salt-color-gray-700: rgb(162, 194, 15);
	--salt-color-gray-800: rgb(66, 82, 6);
	--salt-color-gray-900: rgb(97, 97, 6);
	--salt-color-blue-100-fade-foreground: rgba(75, 30, 4, var(--salt-palette-opacity-disabled));
	--salt-color-blue-500-fade-foreground: rgba(103, 10, 9, var(--salt-palette-opacity-disabled));
	--salt-color-blue-600-fade-foreground: rgba(85, 201, 3, var(--salt-palette-opacity-disabled));
	--salt-color-gray-200-fade-foreground: rgba(22, 86, 14, var(--salt-palette-opacity-disabled));
	--salt-color-gray-70-fade-foreground: rgba(75, 123, 14, var(--salt-palette-opacity-disabled));
	--salt-color-gray-90-fade-foreground: rgba(72, 120, 14, var(--salt-palette-opacity-disabled));
	--salt-color-gray-900-fade-foreground: rgba(97, 97, 6, var(--salt-palette-opacity-disabled));
	--salt-color-green-300-fade-foreground: rgba(202, 182, 0, var(--salt-palette-opacity-disabled));
	--salt-color-green-400-fade-foreground: rgba(9, 197, 10, var(--salt-palette-opacity-disabled));
	--salt-color-green-500-fade-foreground: rgba(72, 116, 11, var(--salt-palette-opacity-disabled));
	--salt-color-green-700-fade-foreground: rgba(197, 210, 14, var(--salt-palette-opacity-disabled));
	--salt-color-red-300-fade-foreground: rgba(245, 148, 2, var(--salt-palette-opacity-disabled));
	--salt-color-red-500-fade-foreground: rgba(50, 177, 6, var(--salt-palette-opacity-disabled));
	--salt-color-red-700-fade-foreground: rgba(97, 80, 11, var(--salt-palette-opacity-disabled));
	--salt-color-white-fade-foreground: rgba(255, 255, 15, var(--salt-palette-opacity-disabled));
	--salt-color-blue-500-fade-border: rgba(103, 10, 9, var(--salt-palette-opacity-disabled));
	--salt-color-gray-50-fade-border: rgba(237, 45, 9, var(--salt-palette-opacity-disabled));
	--salt-color-gray-60-fade-border: rgba(92, 157, 0, var(--salt-palette-opacity-disabled));
	--salt-color-gray-90-fade-border: rgba(72, 120, 14, var(--salt-palette-opacity-disabled));
	--salt-color-gray-200-fade-border: rgba(22, 86, 14, var(--salt-palette-opacity-disabled));
	--salt-color-gray-300-fade-border: rgba(197, 5, 11, var(--salt-palette-opacity-disabled));
	--salt-color-green-400-fade-border: rgba(9, 197, 10, var(--salt-palette-opacity-disabled));
	--salt-color-green-500-fade-border: rgba(72, 116, 11, var(--salt-palette-opacity-disabled));
	--salt-color-orange-400-fade-border: rgba(232, 82, 11, var(--salt-palette-opacity-disabled));
	--salt-color-orange-500-fade-border: rgba(167, 49, 9, var(--salt-palette-opacity-disabled));
	--salt-color-orange-600-fade-border: rgba(6, 81, 9, var(--salt-palette-opacity-disabled));
	--salt-color-orange-700-fade-border: rgba(101, 81, 3, var(--salt-palette-opacity-disabled));
	--salt-color-red-500-fade-border: rgba(50, 177, 6, var(--salt-palette-opacity-disabled));
	--salt-color-gray-90-fade-border-readonly: rgba(72, 120, 14, var(--salt-palette-opacity-border-readonly));
	--salt-color-gray-200-fade-border-readonly: rgba(22, 86, 14, var(--salt-palette-opacity-border-readonly));
	--salt-color-blue-30-fade-background: rgba(77, 95, 4, var(--salt-palette-opacity-disabled));
	--salt-color-blue-500-fade-background: rgba(103, 10, 9, var(--salt-palette-opacity-disabled));
	--salt-color-blue-600-fade-background: rgba(85, 201, 3, var(--salt-palette-opacity-disabled));
	--salt-color-blue-700-fade-background: rgba(4, 119, 11, var(--salt-palette-opacity-disabled));
	--salt-color-gray-20-fade-background: rgba(174, 222, 15, var(--salt-palette-opacity-disabled));
	--salt-color-gray-60-fade-background: rgba(92, 157, 0, var(--salt-palette-opacity-disabled));
	--salt-color-gray-70-fade-background: rgba(75, 123, 14, var(--salt-palette-opacity-disabled));
	--salt-color-gray-200-fade-background: rgba(22, 86, 14, var(--salt-palette-opacity-disabled));
	--salt-color-gray-300-fade-background: rgba(197, 5, 11, var(--salt-palette-opacity-disabled));
	--salt-color-gray-600-fade-background: rgba(243, 19, 6, var(--salt-palette-opacity-disabled));
	--salt-color-gray-800-fade-background: rgba(66, 82, 6, var(--salt-palette-opacity-disabled));
	--salt-color-white-fade-background: rgba(255, 255, 15, var(--salt-palette-opacity-disabled));
	--salt-color-white-fade-background-readonly: rgba(255, 255, 15, var(--salt-palette-opacity-background-readonly));
	--salt-color-gray-20-fade-background-readonly: rgba(174, 222, 15, var(--salt-palette-opacity-background-readonly));
	--salt-color-gray-600-fade-background-readonly: rgba(243, 19, 6, var(--salt-palette-opacity-background-readonly));
	--salt-color-gray-800-fade-background-readonly: rgba(66, 82, 6, var(--salt-palette-opacity-background-readonly));
	--salt-color-white-fade-backdrop: rgba(255, 255, 15, var(--salt-palette-opacity-backdrop));
	--salt-color-black-fade-backdrop: rgba(0, 0, 0, var(--salt-palette-opacity-backdrop));
	--salt-color-blue-100-fade-fill: rgba(75, 30, 4, var(--salt-palette-opacity-disabled));
	--salt-color-blue-600-fade-fill: rgba(85, 201, 3, var(--salt-palette-opacity-disabled));
	--salt-color-white-fade-separatorOpacity-primary: rgba(255, 255, 15, var(--salt-palette-opacity-primary-border));
	--salt-color-white-fade-separatorOpacity-secondary: rgba(255, 255, 15, var(--salt-palette-opacity-secondary-border));
	--salt-color-white-fade-separatorOpacity-tertiary: rgba(255, 255, 15, var(--salt-palette-opacity-tertiary-border));
	--salt-color-black-fade-separatorOpacity-primary: rgba(0, 0, 0, var(--salt-palette-opacity-primary-border));
	--salt-color-black-fade-separatorOpacity-secondary: rgba(0, 0, 0, var(--salt-palette-opacity-secondary-border));
	--salt-color-black-fade-separatorOpacity-tertiary: rgba(0, 0, 0, var(--salt-palette-opacity-tertiary-border));
	--salt-color-black-fade-background-hover: rgba(0, 0, 0, var(--salt-opacity-8));
	--salt-color-white-fade-background-hover: rgba(255, 255, 15, var(--salt-opacity-8));
	--salt-duration-instant: 0ms;
	--salt-duration-perceptible: 300ms;
	--salt-duration-notable: 1000ms;
	--salt-duration-cutoff: 10000ms;
	--salt-opacity-0: 0;
	--salt-opacity-8: 0.08;
	--salt-opacity-15: 0.15;
	--salt-opacity-25: 0.25;
	--salt-opacity-40: 0.4;
	--salt-opacity-70: 0.7;
	--salt-typography-fontFamily: "Open Sans";
	--salt-typography-fontFamily-code: "PT Mono";
	--salt-typography-fontWeight-light: 300;
	--salt-typography-fontWeight-regular: 400;
	--salt-typography-fontWeight-medium: 500;
	--salt-typography-fontWeight-semiBold: 600;
	--salt-typography-fontWeight-bold: 700;
	--salt-typography-fontWeight-extraBold: 800; 
}

