.themeEditorFileHandler {
  background-color: var(--salt-container-primary-background);
  color: var(--salt-foreground-primary);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 20px 0px;
  padding: 20px;
}

.themeEditorFileHandler > span {
  font-size: 14px;
  margin: 20px 0px;
}

.themeEditorButtons {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
}
