.footer {
  grid-area: footer;
  border-top: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-separable-tertiary-borderColor);
  background-color: var(--salt-container-primary-background);
  padding: var(--salt-spacing-100) var(--salt-spacing-300);
  color: var(--salt-content-secondary-foreground);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--salt-spacing-100);
}

.saltMessage {
  display: flex;
  gap: var(--salt-spacing-50);
}

.copyrightContainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--salt-spacing-25);
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--salt-spacing-100);
}

.links > *:not(:last-child):after {
  width: var(--salt-size-fixed-100);
  content: "";
  background-color: var(--salt-separable-secondary-borderColor);
  height: var(--salt-text-lineHeight);
  align-self: center;
}

.linkContainer {
  display: contents;
}

.linkContainer a:global(.saltLink) {
  --link-color-visited: var(--link-color);
}

@media not screen and (min-width: 960px) {
  .footer {
    padding-inline: var(--salt-spacing-100);
  }

  .container {
    gap: var(--salt-spacing-50);
  }
}

@media not screen and (min-width: 599px) {
  .copyrightContainer {
    flex-direction: column;
    gap: var(--salt-spacing-50);
  }
}
