.footer {
  --footer-items-separator-height: 16px;
  --footer-padding-horizontal: calc(var(--salt-size-unit) * 3);
  --footer-padding-vertical: var(--salt-size-unit);
}

.footer {
  background-color: var(--salt-color-gray-900);
  padding: var(--footer-padding-vertical) var(--footer-padding-horizontal);
  color: var(--salt-content-secondary-foreground);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--salt-size-unit);
}

.links > *:not(:last-child):after {
  width: var(--salt-size-border);
  content: "";
  background-color: var(--salt-separable-secondary-borderColor);
  height: var(--footer-items-separator-height);
  align-self: center;
}

.linkContainer {
  display: contents;
}

.linkContainer a {
  --link-color: var(--salt-content-secondary-foreground);
}
@media screen and (max-width: 1280px) {
  .footer {
    --footer-padding-horizontal: var(--salt-size-unit);
    --footer-padding-vertical: var(--salt-size-unit);
  }
}

@media (max-width: 996px) {
  .footer {
    --footer-padding-horizontal: var(--salt-size-unit);
    --footer-padding-vertical: var(--salt-size-unit);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    --footer-padding-horizontal: var(--salt-size-unit);
    --footer-padding-vertical: var(--salt-size-unit);
  }

  .container {
    gap: calc(var(--salt-size-unit) / 2);
  }
}
