.docsWrapper {
  --toc-width: 282px;
}

.sidebar {
  --toc-padding-vertical: 0.5rem;
  --toc-padding-horizontal: 0.5rem;
}

.sidebar li {
  --mosaic-color-dark-navigable-selectableLink-selected: var(--salt-navigable-indicator-active);
  --mosaic-color-dark-navigable-selectableLink-unselected: transparent;
  --mosaic-color-dark-navigable-selectableLink-unselectedLabel: var(--salt-foreground-secondary);
  --mosaic-color-dark-neutral-background-emphasis: transparent;
  --mosaic-color-dark-navigable-selectableLink-hover: transparent;
  --mosaic-border-width-medium: 3px;
}

.primarySidebar :global(.ps-menu-button),
.primarySidebar :global(.ps-menuitem-root) {
  --mosaic-color-dark-neutral-background-emphasis: var(--salt-palette-navigate-primary-background-hover);
  --mosaic-color-dark-navigable-selectableLink-unselectedLabel: var(--salt-foreground-secondary);
}

.primarySidebar :global(.ps-active) {
  --mosaic-color-dark-navigable-selectableLink-unselectedLabel: var(--salt-palette-interact-foreground);
}

.primarySidebar :global(a.ps-menu-button) {
  color: var(--salt-foreground-secondary);
}

.primarySidebar :global(.ps-menu-label) {
  font-weight: var(--salt-navigable-fontWeight);
  padding-left: var(--salt-size-unit);
}

.primarySidebar :global(a.ps-menu-button:hover) {
  background-color: var(--color-dark-neutral-background-emphasis);
}

.primarySidebar :global(a.ps-active),
.primarySidebar :global(.ps-menu-button.ps-active) {
  border-left: 4px solid var(--site-tertiary-accent-orange);
  background-color: var(--color-dark-neutral-background-emphasis);
  color: var(--salt-foreground-primary);
  font-weight: var(--salt-navigable-fontWeight);
}

.docsPageContent {
  width: calc(100% - var(--toc-width));
}

.sidebar {
  display: contents;
}

.sidebarHeader {
  flex-shrink: 0;
}

.sidebar aside {
  align-self: flex-start;
  position: sticky;
  top: var(--navbar-height);
  width: var(--toc-width);
  padding-top: calc(3 * var(--salt-size-unit));
  padding-left: calc(5 * var(--salt-size-unit));
  margin-top: 0;
}

.sidebar aside nav > p {
  font-size: var(--salt-text-h4-fontSize);
  font-weight: var(--salt-text-h4-fontWeight);
}

.sidebar aside ul {
  margin: 0;
  padding: var(--toc-padding-vertical) 0 var(--toc-padding-vertical) var(--toc-padding-horizontal);
  font-size: 0.8rem;
}

.sidebar li {
  height: 36px;
}

.sidebar li:hover {
  color: var(--salt-navigable-foreground-hover);
  text-decoration: underline;
}

.sidebar li[aria-checked="true"] {
  color: var(--salt-foreground-primary);
  font-weight: var(--salt-navigable-fontWeight-active);
}

.primarySidebar {
  display: contents;
}

.primarySidebar aside {
  background-color: var(--salt-accent-foreground);
}

.primarySidebar aside svg {
  margin-right: var(--salt-size-unit);
}

@media screen and (max-width: 768px) {
  .docsPageContent {
    width: 100%;
  }

  .sidebar {
    display: none;
  }
}

.docPaginator {
  background-color: var(--card-background);
  padding: 0 calc(var(--salt-size-unit) * 3);
}

/* TODO: remove these once we add a theme contract */
.docPaginator > div {
  margin-top: 0;
}

.docPaginator * {
  text-decoration: none;
  text-align: left;
}

.docsWrapper .docPaginator *:not([data-selected="true"]):not(:hover),
.docsWrapper .docPaginator *:not([data-selected="true"]):hover {
  border: none;
  box-shadow: none;
}

.headingContainer {
  display: flex;
  align-items: center;
  gap: var(--salt-size-unit);
  /*
    Mosaic's still using Salt 1.1, so --salt-spacing-100 etc is not available yet.

    TODO: Replace line below with the commented-out one underneath once we upgrade Mosaic
  */
  margin: calc(var(--salt-size-unit) * 8) calc(3 * var(--salt-size-unit)) calc(var(--salt-size-unit) * 2) calc(3 * var(--salt-size-unit));
  /* margin: var(--salt-spacing-800) var(--salt-spacing-300) var(--salt-spacing-200) var(--salt-spacing-300); */
}

.headingContainer h1 {
  font-size: var(--salt-text-display2-fontSize);
  font-weight: var(--salt-text-display2-fontWeight);
  line-height: var(--salt-text-display2-lineHeight);
}

.docPaginator a[role="link"]:hover {
  background-color: var(--salt-color-teal-900);
}

.docPaginator a[role="link"] span:hover {
  color: var(--salt-color-white);
}

.docPaginator a[role="link"] p:first-of-type {
  font-size: var(--salt-text-h2-fontSize);
  font-weight: var(--salt-text-h2-fontWeight-small);
  margin-bottom: var(--salt-size-unit);
}

.docPaginator a[role="link"] p:last-of-type {
  font-size: var(--salt-text-h3-fontSize);
  font-weight: var(--salt-text-h3-fontWeight-small);
  margin-bottom: 0;
}

.docPaginator a[role="link"] svg {
  /* Hide arrows */
  display: none;
}
.docPaginator a[role="link"] {
  padding: calc(var(--salt-size-unit) * 3);
}

@media screen and (max-width: 768px) {
  .docPaginator {
    padding: 0 calc(var(--salt-size-unit) * 2);
  }

  .docPaginator a[role="link"] {
    padding: calc(var(--salt-size-unit) * 2);
  }

  .docPaginator a[role="link"] p:first-of-type {
    font-size: var(--salt-text-h3-fontSize);
    font-weight: var(--salt-text-h3-fontWeight-small);
    margin-bottom: 0;
  }

  .docPaginator a[role="link"] p:last-of-type {
    font-size: var(--salt-text-h4-fontSize);
    font-weight: var(--salt-text-h4-fontWeight-small);
  }
}
