.alignButton {
  right: 0;
}

.cellContainer {
  position: relative;
}

.table {
  width: unset;
}

.tooltip {
  display: none;
}

.description {
  margin-bottom: 5%;
  font-size: 15px;
}

.loading {
  display: flex;
  margin-left: 50%;
}

.usageAccordion {
  margin-top: var(--salt-spacing-300);
}

@media (max-width: 768px) {
  .viewColumn {
    display: none;
  }
  .tooltip {
    display: block;
  }
  .hideView {
    display: none;
  }
}
