.overviewCards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--salt-size-container-spacing);
  margin: var(--salt-size-container-spacing) 0;
}

@media screen and (max-width: 996px) {
  .overviewCards {
    flex-direction: column;
  }
}
