.saltListBox {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-fixed-100);
  background: var(--salt-container-primary-background);
  overflow: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  box-sizing: border-box;
  isolation: isolate;
  position: relative;
  max-height: inherit;
}

.saltListBox-bordered {
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
  border-radius: var(--salt-palette-corner, 0);
}

.saltListBox:focus-visible {
  outline: none;
}
