.saltThemeHeader {
  display: flex;
  flex: 0 0 auto;
  height: 93px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 20px;
}

.ThemeTitleBar {
  display: flex;
  height: 28px;
  justify-content: space-between;
  align-items: center;
}

.ThemeTitle {
  font-weight: 600;
  font-size: var(--salt-text-h3-fontSize);
  color: var(--salt-foreground-primary);
}

.themeSelector {
  border-bottom: 1px solid var(--salt-editable-borderColor);
}

.ThemeHeaderMicroMenu {
  width: 28px;
}

.ThemeHeaderMicroMenu .saltDropdownButton {
  width: 100% !important;
}

.ThemeHeaderMicroMenu .saltDropdownButton-buttonLabel {
  display: none;
}
