.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: calc(var(--uitk-size-unit) * 4);
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.imgContainer {
  padding: var(--uitk-size-unit);
  border: 1px solid var(--image-border);
}

.imgContainer > img {
  width: 100%;
}

.textContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--uitk-size-unit);
}

@media screen and (max-width: 996px) {
  .row {
    flex-direction: column;
  }
}
