.assetsTable {
  table-layout: fixed;
}

.assetsTable svg {
  margin-right: calc(var(--salt-size-unit) / 2);
}

.strong {
  font-weight: bold;
}

.colored {
  color: var(--site-tertiary-accent-purple);
}
