.accordionWrapper hr {
  --ifm-hr-margin-vertical: 0;
  --ifm-hr-background-color: var(--salt-separable-secondary-borderColor);
}

.accordionWrapper table thead {
  position: inherit;
}

.accordionWrapper :global(.saltIcon) {
  --salt-size-icon-base: var(--salt-size-unit);
}

.accordionWrapper :global(.saltAccordionSummary-icon) {
  right: 0;
}

.accordionWrapper :global(.saltAccordionSection) {
  --accordion-section-padding: 0;
}

.summary {
  font-weight: 600;
}
