.uitkListItem {
  /* Color */
  --list-item-text-color: var(--salt-text-primary-foreground);
  --list-item-background: var(--saltList-item-background, var(--salt-selectable-background));
  --list-item-selected-focus-outlineColor: var(--salt-color-white); /* TODO: Check token with design */
  --list-item-text-color-active: var(--salt-text-primary-foreground);
  --list-item-background-active: var(--salt-selectable-background-selected);
  --list-item-alignItems: center;
}

.uitkListItem.uitkHighlighted {
  --saltCheckbox-icon-stroke: var(--salt-selectable-borderColor-hover);
  --list-item-background: var(--salt-selectable-background-hover);
}

.uitkListItemHeader {
  font-weight: var(--salt-typography-fontWeight-bold);
}

.uitkListItemHeader[data-sticky] {
  position: sticky;
  top: 0;
  z-index: 1;
}

.uitkListItem {
  color: var(--list-item-text-color);
  cursor: var(--saltList-item-cursor, pointer);
  background: var(--saltList-item-background, var(--list-item-background));
  font-size: var(--salt-text-fontSize);
  text-align: var(--salt-text-textAlign);
  line-height: var(--salt-text-lineHeight);
  height: var(--saltList-item-height, var(--list-item-height, auto));
  /* Replaced border-bottom with margin. In design spec, the height of the items should not include gap */
  margin-bottom: var(--list-item-gap);
  padding: 0 var(--salt-size-unit);
  left: 0;
  right: 0;
  display: flex;
  position: relative;
  align-items: var(--list-item-alignItems);
  white-space: nowrap;
}

.uitkListItem:last-child {
  margin-bottom: 0px;
}

.uitkListItem-checkbox {
  --list-item-background-active: var(--salt-selectable-background);
  --list-item-text-color-active: var(--salt-text-primary-foreground);
  --list-item-text-padding: 0 0 0 var(--salt-size-unit);
}

.uitkListItem[aria-selected="true"]:not(.uitkListItem-checkbox) {
  --list-item-background: var(--list-item-background-active);
  color: var(--list-item-text-color-active);
}

.uitkListItem.uitkDisabled {
  --list-item-text-color: var(--salt-text-primary-foreground-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}

.uitkListItem.uitkFocusVisible {
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-offset: -2px;
  outline-color: var(--salt-focused-outlineColor);
}

.uitkListItem.uitkFocusVisible:after {
  content: none;
}

.uitkListItem[aria-selected="true"]:not(.uitkListItem-checkbox).uitkFocusVisible {
  outline-color: var(--list-item-selected-focus-outlineColor);
}

.uitkListItem-textWrapper {
  flex: 1;
  overflow: hidden;
  padding: var(--list-item-text-padding, 0px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.uitkListItem-proxy {
  position: absolute !important;
  visibility: hidden;
}
