/* TODO: Should the outer most container being 'wrapper'? */
.uitkList-wrapper {
  /* Color */
  --list-background: var(--uitk-container-background-medium);
  /* Border */
  --list-border-color: var(--uitk-container-borderColor-medium);
  --list-border-style: var(--uitk-container-borderStyle);
  --list-border-width: var(--uitk-container-borderWidth);
  --list-border-radius: var(--uitk-container-borderRadius);

  /* Misc. */
  --list-box-shadow: none;
  --list-content-box: border-box;
  --list-disabled-cursor: var(--uitk-actionable-cursor-disabled);
}

.uitkList-wrapper {
  position: relative;
}

.uitkList {
  box-sizing: border-box;
  /* font-family: var(--list-font-family); */
  overflow-y: auto;
}
.uitkList:focus {
  outline: none;
}

.uitkList-wrapper:not(.uitkList-borderless) {
  border-color: var(--list-border-color);
  border-style: var(--list-border-style);
  border-width: var(--list-border-width);
  border-radius: var(--list-border-radius);
}
.uitkList-wrapper {
  background: var(--list-background);
  box-shadow: var(--list-box-shadow);
  box-sizing: var(--list-content-box);
  position: relative;
}

.uitkList-borderless {
  border: none;
}
.uitkList-disabled {
  cursor: var(--list-disabled-cursor);
  /* TODO: Design: Check whether we want things behind the list to actually show through opacity */
  /* Or instead of using `opacity` in favor of dedicated color setting, on background, border-color, etc. */
}
