.drawer-close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.drawer-article-container {
  width: min-content;
}

.drawer-article-image {
  min-width: 350px;
  width: 100%;
  height: 140px;
  background-color: var(--salt-color-gray-40);
}

@media (prefers-reduced-motion) {
  .reduced-motion.saltDrawer {
    animation: none;
  }
}
