.uitk-light,
.uitk-dark {
  --uitk-actionable-font-weight-primary: var(--uitk-typography-weight-bold);
  --uitk-actionable-letter-spacing: 0.6px;
  --uitk-actionable-text-transform: uppercase;
  --uitk-actionable-text-align: center;
  --uitk-actionable-border-radius: 0;
}

h1 {
  font-size: 1500px !important;
}

.uitk-light {
  --uitk-actionable-foreground-primary: var(--uitk-color-grey-900);
  --uitk-actionable-foreground-primary-active: var(--uitk-color-white);
  --uitk-actionable-foreground-primary-hover: var(--uitk-color-grey-900);
  --uitk-actionable-foreground-primary-disabled: rgba(22, 22, 22, var(--uitk-opacity-text));
  --uitk-actionable-background-primary: var(--uitk-color-grey-60);
  --uitk-actionable-background-primary-active: var(--uitk-color-grey-200);
  --uitk-actionable-background-primary-hover: var(--uitk-color-grey-40);
  --uitk-actionable-background-primary-disabled: rgba(197, 201, 208, var(--uitk-opacity-background));
  --uitk-actionable-foreground-primary: var(--uitk-color-grey-900);
  --uitk-actionable-foreground-primary-active: var(--uitk-color-white);
  --uitk-actionable-foreground-primary-hover: var(--uitk-color-grey-900);
  --uitk-actionable-foreground-primary-disabled: rgba(22, 22, 22, var(--uitk-opacity-graphical));
  --uitk-actionable-foreground-cta: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-active: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-hover: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-disabled: rgba(255, 255, 255, var(--uitk-opacity-text));
  --uitk-actionable-background-cta: var(--uitk-color-blue-600);
  --uitk-actionable-background-cta-active: var(--uitk-color-blue-700);
  --uitk-actionable-background-cta-hover: var(--uitk-color-blue-500);
  --uitk-actionable-background-cta-disabled: rgba(21, 92, 147, var(--uitk-opacity-background));
  --uitk-actionable-foreground-cta: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-active: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-hover: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-disabled: rgba(255, 255, 255, var(--uitk-opacity-graphical));
  --uitk-actionable-foreground-secondary: var(--uitk-color-grey-900);
  --uitk-actionable-foreground-secondary-active: var(--uitk-color-white);
  --uitk-actionable-foreground-secondary-hover: var(--uitk-color-grey-900);
  --uitk-actionable-foreground-secondary-disabled: rgba(22, 22, 22, var(--uitk-opacity-text));
  --uitk-actionable-background-secondary: transparent;
  --uitk-actionable-background-secondary-active: var(--uitk-color-grey-200);
  --uitk-actionable-background-secondary-hover: var(--uitk-color-grey-40);
  --uitk-actionable-foreground-secondary: var(--uitk-color-grey-300);
  --uitk-actionable-foreground-secondary-active: var(--uitk-color-white);
  --uitk-actionable-foreground-secondary-hover: var(--uitk-color-grey-900);
  --uitk-actionable-foreground-secondary-disabled: rgba(22, 22, 22, var(--uitk-opacity-graphical));
}

.uitk-dark {
  --uitk-actionable-foreground-primary: var(--uitk-color-white);
  --uitk-actionable-foreground-primary-active: var(--uitk-color-grey-900);
  --uitk-actionable-foreground-primary-hover: var(--uitk-color-white);
  --uitk-actionable-foreground-primary-disabled: rgba(255, 255, 255, var(--uitk-opacity-text));
  --uitk-actionable-background-primary: var(--uitk-color-grey-300);
  --uitk-actionable-background-primary-active: var(--uitk-color-grey-80);
  --uitk-actionable-background-primary-hover: var(--uitk-color-grey-200);
  --uitk-actionable-background-primary-disabled: rgba(76, 80, 91, var(--uitk-opacity-background));
  --uitk-actionable-foreground-primary: var(--uitk-color-white);
  --uitk-actionable-foreground-primary-active: var(--uitk-color-grey-900);
  --uitk-actionable-foreground-primary-hover: var(--uitk-color-white);
  --uitk-actionable-foreground-primary-disabled: rgba(255, 255, 255, var(--uitk-opacity-graphical));
  --uitk-actionable-foreground-cta: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-active: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-hover: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-disabled: rgba(255, 255, 255, var(--uitk-opacity-text));
  --uitk-actionable-background-cta: var(--uitk-color-blue-600);
  --uitk-actionable-background-cta-active: var(--uitk-color-blue-700);
  --uitk-actionable-background-cta-hover: var(--uitk-color-blue-500);
  --uitk-actionable-background-cta-disabled: rgba(21, 92, 147, var(--uitk-opacity-background));
  --uitk-actionable-foreground-cta: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-active: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-hover: var(--uitk-color-white);
  --uitk-actionable-foreground-cta-disabled: rgba(255, 255, 255, var(--uitk-opacity-graphical));
  --uitk-actionable-foreground-secondary: var(--uitk-color-white);
  --uitk-actionable-foreground-secondary-active: var(--uitk-color-grey-900);
  --uitk-actionable-foreground-secondary-hover: var(--uitk-color-white);
  --uitk-actionable-foreground-secondary-disabled: rgba(255, 255, 255, var(--uitk-opacity-text));
  --uitk-actionable-background-secondary: transparent;
  --uitk-actionable-background-secondary-active: var(--uitk-color-grey-80);
  --uitk-actionable-background-secondary-hover: var(--uitk-color-grey-200);
  --uitk-actionable-foreground-secondary: var(--uitk-color-grey-60);
  --uitk-actionable-foreground-secondary-active: var(--uitk-color-grey-900);
  --uitk-actionable-foreground-secondary-hover: var(--uitk-color-white);
  --uitk-actionable-foreground-secondary-disabled: rgba(255, 255, 255, var(--uitk-opacity-graphical));
}
