.saltDialogNextBody {
  display: flex;
}

.saltDialogNextBody-withStatus {
  padding-left: var(--salt-spacing-300);
}

.saltDialogNextBody-inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: flex-start;
  gap: var(--salt-spacing-200);
  padding-block: var(--salt-spacing-300);
}

.saltDialogNextBody-withStatus .saltDialogNextBody-inner {
  margin-left: calc(var(--salt-spacing-200) * -1);
}

.saltDialogNextBody > .saltStatusIndicator {
  margin-top: calc(var(--salt-spacing-50) + var(--salt-spacing-300));
}
