.saltBreadcrumb {
  align-items: center;
  display: inline-flex;
  flex: 0 1 auto;
  gap: var(--salt-spacing-100);
  list-style: none;
  min-width: 0;
}

.saltBreadcrumb-current,
.saltBreadcrumb-label,
.saltBreadcrumb-link,
.saltBreadcrumb-trigger {
  min-width: 0;
}

.saltBreadcrumb-trigger {
  align-items: center;
  color: var(--salt-content-primary-foreground);
  display: inline-flex;
  font-family: var(--salt-text-label-fontFamily);
  font-size: var(--salt-text-label-fontSize);
  font-weight: var(--salt-text-fontWeight);
  gap: var(--salt-spacing-50);
  letter-spacing: var(--salt-text-letterSpacing);
  line-height: var(--salt-text-label-lineHeight);
  max-width: 100%;
  text-decoration: var(--salt-typography-textDecoration-none);
}

.saltBreadcrumb-link:not(.saltBreadcrumb-current) {
  text-decoration: var(--salt-typography-textDecoration-underline);
}

.saltBreadcrumb-link:not(.saltBreadcrumb-current):hover {
  text-decoration: var(--salt-typography-textDecoration-none);
}

.saltBreadcrumb-link:not(.saltBreadcrumb-current):active {
  text-decoration: var(--salt-typography-textDecoration-underline);
}

.saltBreadcrumb-trigger:focus {
  outline: var(--salt-focused-outline);
  text-decoration: var(--salt-typography-textDecoration-none);
}

.saltBreadcrumb-current {
  cursor: var(--salt-cursor-text);
}

.saltBreadcrumb-separator {
  --saltIcon-color: var(--salt-content-secondary-foreground);
  --saltIcon-size: var(--salt-size-icon);

  flex: 0 0 auto;
}
