/* TODO: Characteristics revamp */
.uitk-light,
.uitk-dark {
  --uitk-draggable-horizontal-cursor-hover: row-resize;
  --uitk-draggable-horizontal-cursor-hover: row-resize;
  --uitk-draggable-vertical-cursor-active: col-resize;
  --uitk-draggable-vertical-cursor-hover: col-resize;
  --uitk-draggable-grab-cursor-hover: grab;
  --uitk-draggable-grab-cursor-active: grabbing;
}
