.saltDivider-horizontal {
  border-bottom: var(--salt-size-border) var(--salt-separable-borderStyle);
  width: 100%;
}

.saltDivider-vertical {
  border-right: var(--salt-size-border) var(--salt-separable-borderStyle);
  height: auto;
}

.saltDivider-primary {
  border-color: var(--salt-separable-primary-borderColor);
}

.saltDivider-secondary {
  border-color: var(--salt-separable-secondary-borderColor);
}

.saltDivider-tertiary {
  border-color: var(--salt-separable-tertiary-borderColor);
}
