.buttonWithDot {
  width: 100%;
  border: none;
}

.dot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background-color: var(--salt-category-2-bold-background);
  color: var(--salt-category-2-bold-foreground);
  margin-bottom: var(--salt-size-indicator);
}

.today > span:last-of-type::after {
  bottom: var(--salt-spacing-25);
  background-color: var(--salt-category-2-bold-background);
}

.calendar-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  gap: var(--salt-spacing-fixed-100);
}
