.navList {
  list-style: none;
  padding: 0;
}

.menuItemAdornment {
  margin-left: auto;
}

.customRegionWrapper {
  width: 100%;
}

.customRegionContent {
  flex: 1;
}

.linkFooterSpacing {
  padding: 0 0 var(--salt-spacing-300) var(--salt-spacing-300);
  width: fit-content;
}

.withLinkMenuContainer {
  flex-direction: column;
}

.smallViewportContainer {
  --saltMegaMenuPanel-inlineSize: 320px;
  --saltMegaMenuPanel-maxInlineSize: 320px;
}

.smallViewportSection {
  max-inline-size: 100%;
  grid-template-columns: 1fr;
  width: 100%;
  box-sizing: border-box;
}

.smallViewportSection > * {
  flex: initial;
  inline-size: auto;
}

.customRegionNoContainerPadding {
  padding: 0;
}

.customRegionRightDescription {
  max-inline-size: 240px;
}

.customRegionImage {
  width: 100%;
  height: auto;
  display: block;
}

.linkSection {
  padding-top: 0;
}
