.saltAvatarGroup {
  --avatarGroup-overlap: var(--saltAvatarGroup-overlap, calc(var(--salt-size-base) * 0.25));
  display: flex;
}

.saltAvatarGroup .saltAvatar:not(:first-child) {
  margin-left: calc(-1 * var(--avatarGroup-overlap));
}
