.uitk-density-high {
  --radioButton-icon-size: 12px;
}

.uitk-density-medium {
  --radioButton-icon-size: 14px;
}

.uitk-density-low {
  --radioButton-icon-size: 16px;
}

.uitk-density-touch {
  --radioButton-icon-size: 18px;
}

/* Styles applied to root component */
.uitkRadioButtonIcon {
  --radioButton-icon-fill: transparent;
  --radioButton-icon-fill-checked: var(--uitk-selectable-borderColor-selected);
  --radioButton-icon-fill-checked-disabled: var(--uitk-selectable-borderColor-selectedDisabled);

  --radioButton-icon-strokeColor: var(--uitk-selectable-borderColor);
  --radioButton-icon-strokeColor-disabled: var(--uitk-selectable-borderColor-disabled);
  --radioButton-icon-strokeColor-hover: var(--uitk-selectable-borderColor-hover);
  --radioButton-icon-strokeColor-checked: var(--uitk-selectable-borderColor-selected);
  --radioButton-icon-strokeColor-checked-disabled: var(--uitk-selectable-borderColor-selectedDisabled);

  --radioButton-icon-strokeWidth: var(--uitk-size-border);
  --radioButton-icon-strokeWidth-hover: var(--uitk-size-border);
  --radioButton-icon-strokeWidth-checked: var(--uitk-size-border);

  width: var(--uitkRadioButton-icon-svg-size, var(--radioButton-icon-size));
  height: var(--uitkRadioButton-icon-svg-size, var(--radioButton-icon-size));
}

/* Styles applied to RadioButtonIcon border */
.uitkRadioButtonIcon-border {
  fill: var(--uitkRadioButton-icon-fill, var(--radioButton-icon-fill));
  stroke: var(--uitkRadioButton-icon-strokeColor, var(--radioButton-icon-strokeColor));
  stroke-width: var(--uitkRadioButton-icon-strokeWidth, var(--radioButton-icon-strokeWidth));
}

/* Styles applied to RadioButtonIcon border if `checked={true}` */
.uitkRadioButtonIcon-checked .uitkRadioButtonIcon-border {
  fill: var(--uitkRadioButton-icon-fill-checked, var(--radioButton-icon-fill-checked));
  stroke: var(--uitkRadioButton-icon-strokeColor-checked, var(--radioButton-icon-strokeColor-checked));
  stroke-width: var(--uitkRadioButton-icon-strokeWidth-checked, var(--radioButton-icon-strokeWidth-checked));
}

/* Styles applied to RadioButtonIcon border on hover */
.uitkRadioButton:hover .uitkRadioButtonIcon-border {
  fill: var(--uitkRadioButton-icon-fill-hover, var(--radioButton-icon-fill));
  stroke: var(--uitkRadioButton-icon-strokeColor-hover, var(--radioButton-icon-strokeColor-hover));
}

/* Styles applied to RadioButtonIcon border on hover if `checked={true}` */
.uitkRadioButton:hover .uitkRadioButtonIcon-checked .uitkRadioButtonIcon-border {
  fill: var(--uitkRadioButton-icon-fill-checked-hover, var(--radioButton-icon-fill-checked));
  stroke: var(--uitkRadioButton-icon-strokeColor-checked-hover, var(--radioButton-icon-strokeColor-checked));
}

/* Styles applied to RadioButtonIcon border if `disabled={true}` or in a disabled FormField */
.uitkRadioButton-disabled .uitkRadioButtonIcon-border,
.uitkFormField-disabled .uitkRadioButton .uitkRadioButtonIcon-border,
.uitkRadioButton-disabled:hover .uitkRadioButtonIcon-border,
.uitkFormField-disabled .uitkRadioButton:hover .uitkRadioButtonIcon-border {
  fill: var(--uitkRadioButton-icon-fill-disabled, var(--radioButton-icon-fill));
  stroke: var(--uitkRadioButton-icon-strokeColor-disabled, var(--radioButton-icon-strokeColor-disabled));
}

/* Styles applied to RadioButtonIcon border if `checked={true}` when `disabled={true}` or in a disabled FormField  */
.uitkFormField-disabled .uitkRadioButton .uitkRadioButtonIcon-checked .uitkRadioButtonIcon-border,
.uitkFormField-disabled .uitkRadioButton:hover .uitkRadioButtonIcon-checked .uitkRadioButtonIcon-border,
.uitkRadioButton-disabled .uitkRadioButtonIcon-checked .uitkRadioButtonIcon-border,
.uitkRadioButton-disabled:hover .uitkRadioButtonIcon-checked .uitkRadioButtonIcon-border {
  fill: var(--uitkRadioButton-icon-fill-checked-disabled, var(--radioButton-icon-fill-checked-disabled));
  stroke: var(--uitkRadioButton-icon-strokeColor-checked-disabled, transparent);
}

/* Styles applied to inner circle when `checked={true}` */
.uitkRadioButtonIcon-inner-checked {
  fill: var(--uitkRadioButton-icon-inner-fill, var(--uitk-selectable-primary-foreground-selected));
}
