/* Styles applied to radio button icon */
.saltRadioButtonIcon {
  --radioButton-size: var(--salt-size-selectable);
  width: var(--radioButton-size);
  height: var(--radioButton-size);
  min-width: var(--radioButton-size);
  min-height: var(--radioButton-size);
  border-radius: 50%;
  position: relative;
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor);
  color: var(--salt-selectable-foreground);
  background: var(--salt-container-primary-background);
  --saltIcon-size: 100%;
  display: flex;
  /* Using overflow:hidden here causes a thin white line */
  clip-path: border-box;
  box-sizing: border-box;
}

.saltRadioButton:hover .saltRadioButtonIcon {
  border-color: var(--salt-selectable-borderColor-hover);
  color: var(--salt-selectable-foreground-hover);
}

.saltRadioButtonIcon-checked,
.saltRadioButton:hover .saltRadioButtonIcon-checked {
  border-color: var(--salt-selectable-borderColor-selected);
  color: var(--salt-selectable-foreground-selected);
}

.saltRadioButtonIcon-disabled,
.saltRadioButton:hover .saltRadioButtonIcon-disabled {
  border-color: var(--salt-selectable-borderColor-disabled);
  background: var(--salt-container-primary-background-disabled);
  color: var(--salt-selectable-foreground-disabled);
}

.saltRadioButtonIcon-checked.saltRadioButtonIcon-disabled,
.saltRadioButton:hover .saltRadioButtonIcon-checked.saltRadioButtonIcon-disabled {
  border-color: var(--salt-selectable-borderColor-selectedDisabled);
  color: var(--salt-selectable-foreground-selectedDisabled);
}

.saltRadioButtonIcon-error,
.saltRadioButton:hover .saltRadioButtonIcon-error {
  color: var(--salt-status-error-foreground-decorative);
  border-color: var(--salt-status-error-borderColor);
  outline-color: var(--salt-status-error-foreground-decorative);
}

.saltRadioButtonIcon-warning,
.saltRadioButton:hover .saltRadioButtonIcon-warning {
  color: var(--salt-status-warning-foreground-decorative);
  border-color: var(--salt-status-warning-borderColor);
  outline-color: var(--salt-status-warning-foreground-decorative);
}

.saltRadioButtonIcon-readOnly,
.saltRadioButton:hover .saltRadioButtonIcon-readOnly {
  border-color: var(--salt-selectable-borderColor-readonly);
  color: var(--salt-content-primary-foreground);
}

.saltRadioButtonIcon > svg {
  position: absolute;
  /* Ensure a gap doesn't appear when device scaling is used */
  transform: scale(1.01);
}
