/* Styles applied to root element */
.saltRadioButtonGroup {
  border: none;
  margin: 0;
  padding: 0;
}

/* Styles applied when direction is vertical */
.saltRadioButtonGroup-vertical {
  display: flex;
  gap: var(--salt-spacing-100);
  flex-direction: column;
}

/* Styles applied when direction is horizontal */
.saltRadioButtonGroup-horizontal {
  display: flex;
  gap: var(--salt-spacing-200);
  flex-direction: row;
  flex-wrap: wrap;
}

.saltRadioButtonGroup-noWrap {
  flex-wrap: nowrap;
}
.saltRadioButtonGroup-noWrap .saltRadioButton {
  white-space: break-spaces;
}
