.uitk-density-high {
  --radioIcon-size: 12px;
}

.uitk-density-medium {
  --radioIcon-size: 14px;
}

.uitk-density-low {
  --radioIcon-size: 16px;
}

.uitk-density-touch {
  --radioIcon-size: 18px;
}
/* Styles applied to root component */
.uitkRadioIcon {
  --radioIcon-fill: transparent;
  --radioIcon-strokeWidth: var(--uitk-selectable-borderWidth);
  --radioIcon-strokeColor: var(--uitk-selectable-borderColor);

  --radioIcon-fill-checked: var(--uitk-selectable-borderColor-selected);
  --radioIcon-strokeWidth-checked: var(--uitk-selectable-borderWidth-selected);
  --radioIcon-strokeColor-checked: var(--uitk-selectable-borderColor-selected);

  --radioIcon-strokeWidth-hover: var(--uitk-selectable-borderWidth-hover);
  --radioIcon-strokeColor-hover: var(--uitk-selectable-borderColor-hover);

  width: var(--uitkRadioIcon-svg-size, var(--radioIcon-size));
  height: var(--uitkRadioIcon-svg-size, var(--radioIcon-size));
}

/* Styles applied to RadioIcon border */
.uitkRadioIcon-border {
  fill: var(--uitkRadioIcon-fill, var(--radioIcon-fill));
  stroke: var(--uitkRadioIcon-strokeColor, var(--radioIcon-strokeColor));
  stroke-width: var(--uitkRadioIcon-strokeWidth, var(--radioIcon-strokeWidth));
}

/* Styles applied to RadioIcon border when `checked={true}` */
.uitkRadioIcon-checked .uitkRadioIcon-border {
  fill: var(--uitkRadioIcon-fill-checked, var(--radioIcon-fill-checked));
  stroke: var(--uitkRadioIcon-strokeColor-checked, var(--radioIcon-strokeColor-checked));
  stroke-width: var(--uitkRadioIcon-strokeWidth-checked, var(--radioIcon-strokeWidth-checked));
}

/* Styles applied to RadioIcon border on hover */
*:not(.uitkFormField-disabled).uitkRadio:not(.uitkRadioIcon-checked):not(.uitkRadio-disabled):hover .uitkRadioIcon-border {
  fill: var(--uitkRadioIcon-fill-hover, var(--radioIcon-fill));
  stroke: var(--uitkRadioIcon-strokeColor-hover, var(--radioIcon-strokeColor-hover));
  stroke-width: var(--uitkRadioIcon-strokeWidth-hover, var(--radioIcon-strokeWidth-hover));
}

/* Styles applied to RadioIcon border on hover */
*:not(.uitkFormField-disabled).uitkRadio:not(.uitkRadio-disabled):hover .uitkRadioIcon-checked .uitkRadioIcon-border {
  fill: var(--uitkRadioIcon-fill-checked-hover, var(--radioIcon-fill-checked));
  stroke: var(--uitkRadioIcon-strokeColor-checked-hover, var(--radioIcon-strokeColor-checked));
  stroke-width: var(--uitkRadioIcon-strokeWidth-checked-hover, var(--radioIcon-strokeWidth-checked));
}

/* Styles applied to RadioIcon border on hover if `disabled={true}` */
.uitkRadio-disabled:hover .uitkRadioIcon-border,
.uitkRadioButton-disabled:hover .uitkRadioIcon-border {
  stroke: var(--uitkRadioIcon-stroke, var(--radioIcon-strokeColor));
}

/* Styles applied to inner circle when `checked={true}` */
.uitkRadioIcon-inner-checked {
  fill: var(--uitkRadioIcon-inner-fill, var(--uitk-selectable-primary-foreground-selected));
}

.uitk-dark .backwardsCompat.uitkRadioButton .uitkRadioIcon-border,
.uitk-dark .backwardsCompat.uitkRadioButtonGroup .uitkRadioIcon-border {
  fill: var(--radioIcon-fill);
}

.uitk-dark .backwardsCompat.uitkRadioButton .uitkRadioIcon-inner-checked,
.uitk-dark .backwardsCompat.uitkRadioButtonGroup .uitkRadioIcon-inner-checked {
  fill: var(--radioIcon-fill-checked);
}
