/* Styles applied to radio button icon */
.saltRadioButtonIcon {
  width: var(--salt-size-selectable);
  height: var(--salt-size-selectable);
  border-radius: 50%;
  flex: none;
  margin-top: var(--salt-size-border);
}

/* Styles applied to radio button icon circle */
.saltRadioButtonIcon-circle {
  fill: var(--saltRadioButton-icon-fill, var(--salt-container-primary-background));
  stroke: var(--saltRadioButton-icon-stroke, var(--salt-selectable-foreground));
  stroke-width: var(--salt-size-border);
}

/* Styles applied to radio button icon on hover */
.saltRadioButton:hover .saltRadioButtonIcon-circle {
  fill: var(--saltRadioButton-icon-hover-fill, var(--salt-selectable-background-hover));
  stroke: var(--saltRadioButton-icon-stroke-hover, var(--salt-selectable-foreground-hover));
}

/* Styles applied to radio button icon if checked */
.saltRadioButtonIcon-checked .saltRadioButtonIcon-circle,
.saltRadioButton:hover .saltRadioButtonIcon-checked .saltRadioButtonIcon-circle {
  fill: var(--saltRadioButton-icon-checked-fill, var(--salt-selectable-foreground-selected));
  stroke: var(--saltRadioButton-icon-checked-stroke, var(--salt-selectable-foreground-selected));
}

/* Styles applied to radio button icon if disabled */
.saltRadioButtonIcon-disabled .saltRadioButtonIcon-circle,
.saltRadioButton:hover .saltRadioButtonIcon-disabled .saltRadioButtonIcon-circle {
  fill: var(--saltRadioButton-icon-disabled-fill, var(--salt-selectable-background));
  stroke: var(--saltRadioButton-icon-disabled-stroke, var(--salt-selectable-foreground-disabled));
}

/* Styles applied to radio button icon if checked and disabled */
.saltRadioButtonIcon-disabled.saltRadioButtonIcon-checked .saltRadioButtonIcon-circle,
.saltRadioButton:hover .saltRadioButtonIcon-disabled.saltRadioButtonIcon-checked .saltRadioButtonIcon-circle {
  fill: var(--saltRadioButton-icon-checked-disabled-fill, var(--salt-container-primary-background-disabled));
  stroke: var(--saltRadioButton-icon-checked-disabled-stroke, var(--salt-selectable-foreground-selectedDisabled));
  stroke-width: calc(var(--salt-size-border) * 6.5);
}

/* Styles applied to radio button icon with error */
.saltRadioButtonIcon-error .saltRadioButtonIcon-circle,
.saltRadioButton:hover .saltRadioButtonIcon-error .saltRadioButtonIcon-circle {
  stroke: var(--saltRadioButton-icon-error-stroke, var(--salt-status-error-foreground));
}

.saltRadioButton:hover .saltRadioButtonIcon-error .saltRadioButtonIcon-circle {
  fill: var(--saltRadioButton-icon-error-hover-fill, var(--salt-status-error-background));
}

/* Styles applied to radio button icon when checked and with error */
.saltRadioButtonIcon-checked.saltRadioButtonIcon-error .saltRadioButtonIcon-circle,
.saltRadioButton:hover .saltRadioButtonIcon-checked.saltRadioButtonIcon-error .saltRadioButtonIcon-circle {
  fill: var(--saltRadioButton-icon-error-fill, var(--salt-status-error-foreground));
  stroke: var(--saltRadioButton-icon-error-stroke, var(--salt-status-error-foreground));
}

/* Styles applied to checked inner circle */
.saltRadioButtonIcon-checked-circle {
  fill: var(--saltRadioButton-icon-inner-fill, var(--salt-container-primary-background));
}

/* Styles applied to checked inner circle when disabled */
.saltRadioButtonIcon-disabled .saltRadioButtonIcon-checked-circle {
  fill: var(--saltRadioButton-icon-inner-disabled-fill, var(--salt-container-primary-background-disabled));
}
