/* Styles applied to root component (RadioButton) */
.uitk-density-high {
  --radioButtonGroup-vertical-label-marginBottom: 4px;
  --radioButtonGroup-legend-minHeight: 14px;
  --radioButtonGroup-legend-paddingRight: 16px;
  --radioButtonGroup-horizontal-legend-marginTop: 2px;
  --radioButtonGroup-horizontal-legend-marginRight: 12px;
  --radioButtonGroup-horizontal-legend-paddingRight: 4px;
  --radioButtonGroup-horizontal-legend-marginBottom: 0px;
  --radioButtonGroup-vertical-formLabel-paddingRight: 4px;
  --radioButtonGroup-vertical-formLabel-marginBottom: 4px;
  --radioButtonGroup-vertical-formLabel-transform: translate(0px, 3px);
  --radioButtonGroup-formLabel-transform: translate(0px, 3px);
}

.uitk-density-medium {
  --radioButtonGroup-vertical-label-marginBottom: 6px;
  --radioButtonGroup-legend-minHeight: 14px;
  --radioButtonGroup-legend-paddingRight: 16px;
  --radioButtonGroup-horizontal-legend-marginTop: 1px;
  --radioButtonGroup-horizontal-legend-marginRight: 24px;
  --radioButtonGroup-horizontal-legend-paddingRight: 8px;
  --radioButtonGroup-horizontal-legend-marginBottom: 0px;
  --radioButtonGroup-vertical-formLabel-paddingRight: 8px;
  --radioButtonGroup-vertical-formLabel-marginBottom: 6px;
  --radioButtonGroup-vertical-formLabel-transform: translate(0px, 5px);
  --radioButtonGroup-formLabel-transform: translate(0px, 5px);
}

.uitk-density-low {
  --radioButtonGroup-vertical-label-marginBottom: 9px;
  --radioButtonGroup-legend-minHeight: 14px;
  --radioButtonGroup-legend-paddingRight: 16px;
  --radioButtonGroup-horizontal-legend-marginTop: 4px;
  --radioButtonGroup-horizontal-legend-marginRight: 36px;
  --radioButtonGroup-horizontal-legend-paddingRight: 12px;
  --radioButtonGroup-horizontal-legend-marginBottom: 0px;
  --radioButtonGroup-vertical-formLabel-paddingRight: 12px;
  --radioButtonGroup-vertical-formLabel-marginBottom: 9px;
  --radioButtonGroup-vertical-formLabel-transform: translate(0px, 7px);
  --radioButtonGroup-formLabel-transform: translate(0px, 7px);
}

.uitk-density-touch {
  --radioButtonGroup-vertical-label-marginBottom: 12px;
  --radioButtonGroup-legend-minHeight: 16px;
  --radioButtonGroup-legend-paddingRight: 16px;
  --radioButtonGroup-horizontal-legend-marginTop: 4px;
  --radioButtonGroup-horizontal-legend-marginRight: 48px;
  --radioButtonGroup-horizontal-legend-paddingRight: 16px;
  --radioButtonGroup-horizontal-legend-marginBottom: 0px;
  --radioButtonGroup-vertical-formLabel-paddingRight: 16px;
  --radioButtonGroup-vertical-formLabel-marginBottom: 12px;
  --radioButtonGroup-vertical-formLabel-transform: translate(0px, 11px);
  --radioButtonGroup-formLabel-transform: translate(0px, 11px);
}

/* Styles applied to root element */
.uitkRadioButtonGroup {
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
}

/* Styles applied when `row=false OR undefined` */
.uitkRadioButtonGroup-vertical .uitkRadioButtonGroup-legend.uitkFormLabel {
  margin-bottom: var(--uitkRadioButtonGroup-vertical-label-marginBottom, var(--radioButtonGroup-vertical-label-marginBottom));
  margin-top: var(--uitkRadioButtonGroup-vertical-label-marginTop, 0px);

  --uitkFormLabel-paddingRight: var(--radioButtonGroup-vertical-formLabel-paddingRight);
  --uitkFormLabel-marginBottom: var(--radioButtonGroup-vertical-formLabel-marginBottom);
  --uitkFormLabel-transform: var(--radioButtonGroup-vertical-formLabel-transform);
}

/* Styles applied to the FormField FormLabel component */
.uitkRadioButtonGroup-legend.uitkFormLabel {
  --uitkFormLabel-transform: var(--radioButtonGroup-formLabel-transform);
}

/* Styles applied to the Form Field FormLabel component if `row={true}` */
.uitkRadioButtonGroup-horizontal .uitkRadioButtonGroup-legend.uitkFormLabel {
  --formLabel-width: auto;
  float: left;
}

/* Styles applied to the Form Field FormLabel component */
.uitkRadioButtonGroup-legend.uitkFormLabel {
  padding-left: var(--uitkRadioButtonGroup-formLabel-padding-left, 0px);
}

/* Styles applied  to legend if `row={true}` */
.uitkRadioButtonGroup-horizontal .uitkRadioButtonGroup-legend {
  margin-bottom: var(--uitkRadioButtonGroup-horizontal-legend-marginBottom, var(--radioButtonGroup-horizontal-legend-marginBottom));
  margin-right: var(--uitkRadioButtonGroup-horizontal-legend-marginRight, var(--radioButtonGroup-horizontal-legend-marginRight));
  margin-top: var(--uitkRadioButtonGroup-horizontal-legend-marginTop, var(--radioButtonGroup-horizontal-legend-marginTop));
  padding-right: var(--uitkRadioButtonGroup-horizontal-legend-paddingRight, var(--radioButtonGroup-horizontal-legend-paddingRight));
}

/* Styles applied to legend */
.uitkRadioButtonGroup-legend {
  margin-bottom: var(--uitkRadioButtonGroup-legend-marginBottom, 4px);
  min-height: var(--uitkRadioButtonGroup-legend-minHeight, var(--radioButtonGroup-legend-minHeight));
  padding-right: var(--uitkRadioButtonGroup-legend-paddingRight, var(--radioButtonGroup-legend-paddingRight));
  transition: none;
  width: auto;
}

/* fieldset specific styles */
fieldset.uitkRadioButtonGroup.uitkRadioButtonGroup-vertical {
  line-height: 1;
}

fieldset.uitkRadioButtonGroup.uitkRadioButtonGroup-horizontal {
  display: block;
  padding-left: 0px;
  min-inline-size: max-content;
}
