.square {
  background: var(--salt-container-primary-background);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-secondary-borderColor);
  aspect-ratio: 1;
  width: 50px;
}

.squares {
  margin-top: var(--salt-spacing-100);
}
