.saltGridBaseCell-valueContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(var(--grid-row-height) - 2px);
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  --grid-cell-padding: 0 calc(var(--grid-padding) - 1px);
}

.saltGridCell-editable .saltGridBaseCell-valueContainer {
  border-style: solid;
  border-width: 1px;
  border-color: var(--grid-editableCell-borderColor);
}

.saltGridCell-editable:hover .saltGridBaseCell-valueContainer {
  border-color: var(--grid-editableCell-borderColor-hover);
}

.saltGridCell-editable:focus .saltGridBaseCell-valueContainer {
  border-color: transparent;
}
