/* Styles applied to the cell element */
.uitkGridBaseCell {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;

  border-style: solid;
  border-bottom-color: var(--grid-row-borderColor);
  border-width: 0 0 1px 0;

  white-space: nowrap;
  position: relative;
  font-size: var(--grid-fontSize);
  font-weight: normal;

  outline: 0;
}

.uitkGridBaseCell-body {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border-style: solid;
  background: var(--grid-row-background);
  border-width: 0 1px 0 0;
  border-color: var(--grid-row-background);
}

.uitkGrid-columnSeparators .uitkGridBaseCell-regularSeparator .uitkGridBaseCell-body {
  border-color: var(--grid-columnSeparator-color);
}

.uitkGrid-columnSeparators .uitkGridBaseCell-pinnedSeparator .uitkGridBaseCell-body {
  border-color: var(--grid-columnSeparator-color);
}

.uitkGrid-pinnedSeparators .uitkGridBaseCell-pinnedSeparator .uitkGridBaseCell-body {
  border-color: var(--grid-pinnedSeparator-color);
}

.uitkGridBaseCell-selected .uitkGridBaseCell-body {
  background: var(--grid-cell-background-selected);
}

.uitkGridBaseCell-valueContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(var(--grid-row-height) - 2px);
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  --grid-cell-padding: 0 calc(var(--grid-padding) - 1px);
}

.uitkGridBaseCell-editable .uitkGridBaseCell-valueContainer {
  border-style: solid;
  border-width: 1px;
  border-color: var(--grid-editableCell-borderColor);
}

.uitkGridBaseCell-editable:hover .uitkGridBaseCell-valueContainer {
  border-color: var(--grid-editableCell-borderColor-hover);
}

.uitkGridBaseCell-cornerTag {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-left: var(--grid-editableCell-cornerTag-size) solid var(--grid-cursor-borderColor);
  border-bottom: var(--grid-editableCell-cornerTag-size) solid transparent;
  /*z-index: 10;*/
}
