.saltGridBaseCell-valueContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(var(--grid-row-height) - 2px);
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  --grid-cell-padding: 0 calc(var(--grid-padding) - 1px);
}

.saltGridCell-editable .saltGridBaseCell-valueContainer {
  border-style: solid;
  border-width: 1px;
  border-color: var(--grid-editableCell-borderColor);
}

.saltGridCell-editable:hover .saltGridBaseCell-valueContainer {
  border-color: var(--grid-editableCell-borderColor-hover);
}

.saltGridCell-editable:focus .saltGridBaseCell-valueContainer {
  border-color: transparent;
}

.saltGridCell-editable .saltGridBaseCell-valueContainer-status-error,
.saltGridBaseCell-valueContainer-status-error {
  border-color: var(--salt-status-error-borderColor);
}

.saltGridCell-editable .saltGridBaseCell-valueContainer-status-warning,
.saltGridBaseCell-valueContainer-status-warning {
  border-color: var(--salt-status-warning-borderColor);
}

.salt-density-touch {
  --grid-statusIndicator-size: 8px;
}

.salt-density-low {
  --grid-statusIndicator-size: 10px;
}

.salt-density-medium {
  --grid-statusIndicator-size: 12px;
}

.salt-density-high {
  --grid-statusIndicator-size: 14px;
}

.saltGridBaseCell-statusContainer {
  font-size: var(--saltGrid-statusIndicator-size, var(--grid-statusIndicator-size));
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.saltGridBaseCell-statusContainer svg {
  display: block;
}

.saltGridBaseCell-statusContainer-status-warning svg {
  fill: var(--salt-status-warning-borderColor);
}

.saltGridBaseCell-statusContainer-status-error svg {
  fill: var(--salt-status-error-borderColor);
}

.saltGridBaseCell-statusContainer.saltGridBaseCell-statusContainer-align-right {
  right: auto;
  left: 4px;
}
