.uitk-density-touch {
  --grid-row-height-default: 61px;
  --grid-padding-default: 16px;
  --grid-fontSize-default: 16px;
  --grid-header-fontSize-default: 14px;
  --grid-separatorGap-default: 20px;
  --grid-cornerTag-size-default: 14px;
}

.uitk-density-low {
  --grid-row-height-default: 49px;
  --grid-padding-default: 12px;
  --grid-fontSize-default: 14px;
  --grid-header-fontSize-default: 12px;
  --grid-separatorGap-default: 16px;
  --grid-cornerTag-size-default: 12px;
}

.uitk-density-medium {
  --grid-row-height-default: 37px;
  --grid-padding-default: 8px;
  --grid-fontSize-default: 12px;
  --grid-header-fontSize-default: 11px;
  --grid-separatorGap-default: 12px;
  --grid-cornerTag-size-default: 10px;
}

.uitk-density-high {
  --grid-row-height-default: 25px;
  --grid-padding-default: 8px;
  --grid-fontSize-default: 11px;
  --grid-header-fontSize-default: 10px;
  --grid-separatorGap-default: 8px;
  --grid-cornerTag-size-default: 8px;
}

/* Styles applied to the root element */
.uitkGrid {
  --grid-row-height: var(--uitkGrid-row-height, var(--grid-row-height-default));
  --grid-padding: var(--uitkGrid-padding, var(--grid-padding-default));
  --grid-fontSize: var(--uitkGrid-fontSize, var(--grid-fontSize-default));
  --grid-separatorGap: var(--uitkGrid-separatorGap, var(--grid-separatorGap-default));
  --grid-header-fontSize: var(--uitkGrid-header-fontSize, var(--grid-header-fontSize-default));
  --grid-groupHeader-fontSize: var(--uitkGrid-groupHeader-fontSize, var(--grid-header-fontSize));
  --grid-groupHeader-fontWeight: var(--uitkGrid-groupHeader-fontWeight, var(--uitk-text-label-fontWeight-strong));

  --grid-cell-padding: 0 var(--grid-padding);

  --grid-background-primary: var(--uitkGrid-background-primary, var(--uitk-container-primary-background));
  --grid-background-secondary: var(--uitkGrid-background-secondary, var(--uitk-container-secondary-background));
  --grid-zebraColor: var(--uitkGrid-zebraColor, var(--uitk-container-secondary-background));

  --grid-row-background-hover: var(--uitkGrid-row-background-hover, var(--uitk-selectable-background-hover));
  --grid-row-background-selected: var(--uitkGrid-row-background-selected, var(--uitk-selectable-background-selected));

  --grid-row-borderColor-selected: var(--uitkGrid-row-borderColor-selected, var(--uitk-selectable-borderColor-selected));
  --grid-cell-background-selected: var(--uitkGrid-cell-background-selected, var(--uitk-selectable-background-selected));
  --grid-editableCell-borderColor: var(--uitkGrid-editableCell-borderColor, var(--uitk-editable-borderColor));
  --grid-editableCell-borderColor-hover: var(--uitkGrid-editableCell-borderColor-hover, var(--uitk-editable-borderColor-hover));
  --grid-editableCell-background-active: var(--uitkGrid-editableCell-background-active, var(--uitk-editable-primary-background-active));
  --grid-editableCell-color-active: var(--uitkGrid-editableCell-color-active, var(--uitk-text-primary-foreground));
  --grid-editableCell-cornerTag-size: var(--uitkGrid-editableCell-cornerTag-size, var(--grid-cornerTag-size-default));

  --grid-header-color: var(--uitkGrid-header-color, var(--uitk-text-secondary-foreground));

  --grid-headerColumnSeparator-color: var(--uitkGrid-headerColumnSeparator-color, var(--uitk-separable-tertiary-borderColor));
  --grid-headerRowSeparator-color: var(--uitkGrid-headerRowSeparator-color, var(--uitk-separable-primary-borderColor));
  --grid-headerRowSeparator-gap: var(--uitkGrid-headerRowSeparator-gap, var(--uitk-size-unit));
  --grid-headerRowSeparator-height: var(--uitkGrid-headerRowSeparator-height, 1px);
  --grid-groupHeaderRowSeparator-color: var(--uitkGrid-groupHeaderRowSeparator-color, var(--uitk-separable-tertiary-borderColor));

  --grid-groupHeader-color: var(--uitkGrid-groupHeader-color, var(--uitk-text-secondary-foreground));
  --grid-shadow-color: var(--uitkGrid-shadow-color, var(--uitk-overlayable-shadow-scroll));
  --grid-columnDropTarget-color: var(--uitkGrid-columnDropTarget-color, var(--uitk-target-borderColor-hover));
  --grid-cursor-border-style: var(--uitkGrid-cursor-borderStyle, var(--uitk-focused-outlineStyle));
  --grid-cursor-border-width: var(--uitkGrid-cursor-borderWidth, var(--uitk-focused-outlineWidth));
  --grid-cursor-borderColor: var(--uitkGrid-cursor-borderColor, var(--uitk-focused-outlineColor));
  --grid-borderColor: var(--uitkGrid-borderColor, var(--uitk-container-secondary-borderColor));

  --grid-rowSeparator-width: 1px;
  --grid-rowSeparator-color: var(--uitkGrid-rowSeparator-color, var(--uitk-separable-tertiary-borderColor));
  --grid-columnSeparator-color: var(--uitkGrid-columnSeparator-color, var(--uitk-separable-tertiary-borderColor));
  --grid-rowSeparator-color-divided: var(--uitkGrid-rowSeparator-color-divided, var(--uitk-separable-secondary-borderColor));

  --grid-pinnedSeparator-color: var(--uitkGrid-pinnedSeparator-color, var(--uitk-separable-primary-borderColor));

  --grid-columnGhost-borderColor: var(--uitkGrid-columnGhost-borderColor, var(--uitk-palette-interact-border-hover));
  --grid-columnGhost-borderWidth: var(--uitkGrid-columnGhost-borderWidth, 1px);
  --grid-columnGhost-boxShadow: var(--uitkGrid-columnGhost-boxShadow, var(--uitk-overlayable-shadow-drag));
}

.uitkGrid-columnSeparators {
}

.uitkGrid table {
  border-collapse: separate;
  border-spacing: 0;
}

.uitkGrid-framed {
  border: solid 1px var(--grid-borderColor);
}

/* Styles applied to the root element if variant="primary" */
.uitkGrid-primaryBackground {
  --grid-background: var(--grid-background-primary);
}

/* Styles applied to the root element if variant="secondary" */
.uitkGrid-secondaryBackground {
  --grid-background: var(--grid-background-secondary);
}

.uitkGrid {
  position: relative;
  outline: none;
  user-select: none;
  background: var(--grid-background);
}

/* Styles applied to the root element if zebra is enabled */
.uitkGrid.uitkGrid-zebra {
  --grid-rowSeparator-color: transparent;
}

.uitkGrid-hidden {
  visibility: hidden;
}
