.saltGridHeaderCell {
  text-align: left;
  font-size: var(--grid-header-fontSize);
  font-weight: var(--salt-text-label-fontWeight-strong);
  line-height: var(--grid-row-height);
  position: relative;
  box-sizing: border-box;
  color: var(--grid-header-color);
  white-space: nowrap;
  outline: 0;
}

.saltGridHeaderCell-valueContainer {
  line-height: var(--grid-row-height);
  padding: var(--grid-cell-padding);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.saltGridHeaderCell-alignRight {
  text-align: right;
}

.saltGridHeaderCell-alignRightWithSortOrder {
  margin-left: calc(var(--salt-size-unit) * 2);
}

.saltGridHeaderCell-alignLeftWithSortOrder {
  margin-right: calc(var(--salt-size-unit) * 2);
}

.saltGridHeaderCell-autosizeContainer {
  line-height: var(--grid-row-height);
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.saltGridHeaderCell-measuredContent {
  height: 100%;
  display: inline-block;
  padding: var(--grid-cell-padding);
}

.saltGridHeaderCell-text {
  color: var(--grid-header-color);
  overflow: hidden;
}

.saltGridHeaderCell-regularSeparator {
  background: var(--grid-headerColumnSeparator-color);
  width: 1px;
  height: auto;
  position: absolute;
  right: 0;
  top: var(--grid-separatorGap);
  bottom: var(--grid-separatorGap);
}

.saltGridHeaderCell-groupEdgeSeparator,
.saltGridHeaderCell-pinnedSeparator {
  background: var(--grid-headerColumnSeparator-color);
  width: 1px;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: var(--grid-separatorGap);
}

.saltGrid-pinnedSeparators .saltGridHeaderCell-pinnedSeparator {
  background: var(--grid-pinnedSeparator-color);
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.saltGridHeaderCell-resizeHandle {
  position: absolute;
  right: -8px;
  top: 0;
  bottom: 0;
  width: 16px;
  background: transparent;
  cursor: col-resize;
  z-index: 2;
}

.saltGridHeaderCell-sortable {
  cursor: pointer;
}

.saltGridHeaderCell-sortingIcon {
  display: flex;
  margin: 0 var(--salt-size-unit);
}

.saltGridHeaderCell-sortingIconStart {
  justify-content: start;
}

.saltGridHeaderCell-sortingIconEnd {
  justify-content: end;
}
