.uitkGridHeaderCell {
  text-align: left;
  font-size: var(--grid-fontSize);
  font-weight: normal;
  line-height: var(--grid-row-height);
  position: relative;
  box-sizing: border-box;
  color: var(--grid-header-color);
  white-space: nowrap;
}

.uitkGridHeaderCell-valueContainer {
  line-height: var(--grid-row-height);
  padding: var(--grid-cell-padding);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.uitkGridHeaderCell-alignRight {
  text-align: right;
}

.uitkGridHeaderCell-autosizeContainer {
  line-height: var(--grid-row-height);
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.uitkGridHeaderCell-measuredContent {
  height: 100%;
  display: inline-block;
  padding: var(--grid-cell-padding);
}

.uitkGridHeaderCell-text {
}

.uitkGridHeaderCell-regularSeparator {
  background-color: var(--grid-headerColumnSeparator-color);
  width: 1px;
  height: auto;
  position: absolute;
  right: 0;
  top: var(--grid-dividerGap);
  bottom: var(--grid-dividerGap);
}

.uitkGridHeaderCell-edgeSeparator {
  background-color: var(--grid-headerColumnSeparator-color);
  width: 1px;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: var(--grid-dividerGap);
}

.uitkGridHeaderCell-resizeHandle {
  position: absolute;
  right: -8px;
  top: 0;
  bottom: 0;
  width: 16px;
  background-color: transparent;
  cursor: col-resize;
  z-index: 2;
}

.uitkGridHeaderCell-moveHandle {
  position: absolute;
  right: 32px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  cursor: move;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
