.saltGridTextCellEditor {
}

.saltGridTextCellEditor-inputContainer {
  background: var(--grid-background);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border-style: var(--grid-cursor-border-style);
  border-width: var(--grid-cursor-border-width);
  border-color: var(--grid-cursor-borderColor);
  padding: 0;
}

.saltGridTextCellEditor input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  outline: none;
  border: none;
  padding: 0 calc(var(--grid-padding) - 2px);
  font-size: var(--grid-fontSize);
  font-family: inherit;
  background: var(--grid-editableCell-background-active);
  color: var(--grid-editableCell-color-active);
}
