/* Style applied to the root element */
.uitkGridItem {
  justify-self: var(--gridItem-justifySelf);
  align-self: var(--gridItem-alignSelf);
  grid-row-start: var(--gridItem-gridRowStart);
  grid-column-start: var(--gridItem-gridColumnStart);
  grid-row-end: var(--gridItem-gridRowEnd);
  grid-column-end: var(--gridItem-gridColumnEnd);
}

.uitkGridItem-area {
  grid-area: var(--gridItem-gridArea);
}
