.saltCalendarWeekHeader {
  display: flex;
  text-align: center;
  align-items: center;
  height: var(--salt-size-base);
  gap: var(--calendar-gap);
}

.saltCalendarWeekHeader-dayOfWeek {
  width: var(--calendar-day-size);
  color: var(--salt-content-secondary-foreground);
  font-family: var(--salt-text-fontFamily);
  font-weight: var(--salt-text-fontWeight);
  font-size: var(--salt-text-fontSize);
  line-height: var(--salt-text-lineHeight);
}
