.uitk-density-high {
  --slider-clickable-padding-top: var(--uitkSlider-clickable-padding-top, 2px);
  --slider-clickable-padding-bottom: var(--uitkSlider-clickable-padding-bottom, 2px);
  --slider-padding-top: var(--uitkSlider-padding-top, 3px);
  --slider-padding-bottom: var(--uitkSlider-padding-bottom, 0);
}

.uitk-density-medium {
  --slider-clickable-padding-top: var(--uitkSlider-clickable-padding-top, 4px);
  --slider-clickable-padding-bottom: var(--uitkSlider-clickable-padding-bottom, 4px);
  --slider-padding-top: var(--uitkSlider-padding-top, 6px);
  --slider-padding-bottom: var(--uitkSlider-padding-bottom, 0);
}

.uitk-density-low {
  --slider-clickable-padding-top: var(--uitkSlider-clickable-padding-top, 8px);
  --slider-clickable-padding-bottom: var(--uitkSlider-clickable-padding-bottom, 8px);
  --slider-padding-top: var(--uitkSlider-padding-top, 9px);
  --slider-padding-bottom: var(--uitkSlider-padding-bottom, 0);
}

.uitk-density-touch {
  --slider-clickable-padding-top: var(--uitkSlider-clickable-padding-top, 12px);
  --slider-clickable-padding-bottom: var(--uitkSlider-clickable-padding-bottom, 12px);
  --slider-padding-top: var(--uitkSlider-padding-top, 12px);
  --slider-padding-bottom: var(--uitkSlider-padding-bottom, 0);
}

.uitkSlider {
  --slider-rail-height: var(--uitkSlider-rail-height, 8px);
  --slider-rail-color: var(--uitkSlider-rail-color, var(--uitk-measured-borderColor));

  --slider-rail-mark-height: var(--uitkSlider-rail-mark-height, 7px);
  --slider-rail-mark-color: var(--uitkSlider-rail-mark-color, var(--slider-rail-color));

  --slider-selection-color: var(--uitkSlider-selection-color, var(--uitk-measured-fill-stopColor));
  --slider-selection-height: var(--uitkSlider-selection-height, 2px);

  --slider-handle-size: var(--uitkSlider-handle-size, calc(var(--uitk-size-base) * 0.5));
  --slider-handle-outline-style: var(--uitkSlider-handle-outline-style, var(--uitk-focused-outlineStyle));
  --slider-handle-outline-width: var(--uitkSlider-handle-outline-width, var(--uitk-focused-outlineWidth));
  --slider-handle-outline-color: var(--uitkSlider-handle-outline-color, var(--uitk-focused-outlineColor));
  --slider-handle-outline-offset: var(--uitkSlider-handle-outline-offset, var(--uitk-focused-outlineOffset));

  --slider-arrow-height: var(--uitkSlider-arrow-height, 6px);
  --slider-arrow-width: var(--uitkSlider-arrow-width, 8px);
  --slider-arrow-color: var(--uitkSlider-arrow-color, var(--slider-selection-color));

  --slider-border-style: var(--uitkSlider-border-style, none);
  --slider-border-width: var(--uitkSlider-border-width, 0);
  --slider-border-color: var(--uitkSlider-border-color, transparent);
  --slider-width: var(--uitkSlider-width, 300px);

  --slider-clickable-padding-left: var(--uitkSlider-clickable-padding-left, calc(var(--uitk-size-base) * 0.5));
  --slider-clickable-padding-right: var(--uitkSlider-clickable-padding-right, calc(var(--uitk-size-base) * 0.5));

  --slider-label-fontSize: var(--uitkSlider-label-fontSize, var(--uitk-text-caption-fontSize));
  --slider-label-padding-left: var(--uitlSlider-label-padding-left, 0);
  --slider-label-padding-right: var(--uitkSlider-label-padding-right, 0);
}

.uitkSlider {
  width: var(--slider-width);
  border-style: var(--slider-border-style);
  border-width: var(--slider-border-width);
  border-color: var(--slider-border-color);

  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding-top: var(--slider-padding-top);
  padding-bottom: var(--slider-padding-bottom);
}

.uitkSlider-disabled {
}

.uitkSlider-clickable {
  padding: var(--slider-clickable-padding-top) var(--slider-clickable-padding-right) var(--slider-clickable-padding-bottom) var(--slider-clickable-padding-left);
  margin-right: calc(-1 * var(--slider-clickable-padding-right));
  margin-left: calc(-1 * var(--slider-clickable-padding-left));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
}

.uitkSlider-track {
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: end;
  grid-template-columns: auto auto auto;
  row-gap: 0;
  transition: grid-template-columns 100ms ease;
}

.uitkSliderRail {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  height: var(--slider-rail-height);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: var(--slider-rail-color);
}

.uitkSliderRailMarks {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  /*height: var(--markedRail-height);*/
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto;
}

.uitkSliderRailMarks-mark {
  grid-row: 1;
  width: 0;
  height: var(--slider-rail-mark-height);
  border-left: 1px solid var(--slider-rail-mark-color);
}

.uitkSliderRailMarks-max {
  margin-left: -1px;
}

.uitkSliderMarkLabels {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: -1;

  display: grid;
  grid-template-rows: auto;
  justify-items: center;
}

.uitkSliderMarkLabels-label {
  color: var(--uitkSlider-label-text-color, var(--uitk-text-secondary-foreground));
  font-size: var(--slider-label-fontSize);
  margin-top: var(--uitkSlider-label-margin-top);
  line-height: var(--uitkSlider-label-line-height, var(--uitk-text-lineHeight));

  white-space: nowrap;
}

.uitkSliderSelection {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: -2;
  height: var(--slider-selection-height);
  background-color: var(--slider-selection-color);
}

.uitkSliderSelection-range {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: -2;
  height: var(--slider-selection-height);
  background-color: var(--slider-selection-color);
}

.uitkSliderHandle-box {
  position: absolute;
  top: calc((var(--slider-arrow-height) - var(--slider-handle-size)) * 0.5);
  left: calc(var(--slider-handle-size) * -0.5);
  height: var(--slider-handle-size);
  width: var(--slider-handle-size);
  box-sizing: border-box;
}

.uitkSliderHandle-box:focus-visible {
  outline-style: var(--slider-handle-outline-style);
  outline-width: var(--slider-handle-outline-width);
  outline-color: var(--slider-handle-outline-color);
  outline-offset: var(--slider-handle-outline-offset);
}

.uitkSliderHandle {
  margin-left: calc(var(--slider-arrow-width) * -0.5);
  grid-row: 1;
  width: 0;
  height: 0;
  border-left: calc(var(--slider-arrow-width) * 0.5) solid transparent;
  border-right: calc(var(--slider-arrow-width) * 0.5) solid transparent;
  border-bottom: calc(var(--slider-arrow-height)) solid var(--slider-arrow-color);
  position: relative;
}

.uitkSliderHandle-min {
  border-left: none;
  margin-left: 0;
}

.uitkSliderHandle-max {
  border-right: none;
}

.uitkSlider-label {
  color: var(--uitkSlider-label-text-color, var(--uitk-text-secondary-foreground));
  font-size: var(--slider-label-fontSize);
  margin-top: var(--uitkSlider-label-margin-top);
  line-height: var(--uitkSlider-label-line-height, var(--uitk-text-lineHeight));

  padding-left: var(--slider-label-padding-left);
  padding-right: var(--slider-label-padding-right);
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.backwardsCompat.uitkSlider {
  --slider-label-fontSize: var(--backwardsCompat-text-caption-fontSize);
}
