.saltSlider {
  display: grid;
  gap: var(--salt-spacing-100);
}

.saltSlider-labelMinBottom {
  grid-row: 2;
  grid-column-start: 1;
}

.saltSlider-labelMaxBottom {
  grid-row: 2;
  grid-column-start: 1;
  justify-self: end;
}

.saltSlider-labelMinInline {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: start;
  background: pink;
}

.saltSlider-labelMaxInline {
  grid-row: 1;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
  background: blue;
}

.saltSlider-trackInline {
  grid-column-start: 2;
  grid-column-end: 3;
}

.saltSliderTrack {
  display: grid;
  grid-row: 1;
  cursor: pointer;
  height: var(--salt-size-bar);
  background: var(--salt-track-borderColor);
  transition: grid-template-columns 100ms ease;
  width: 100%;
}

.saltSliderTrack-container {
  height: var(--salt-size-selectable);
  display: flex;
  align-items: center;
}

.saltSliderTrack:active {
  cursor: grabbing;
}

.saltSliderThumb {
  width: var(--salt-size-indicator);
  height: var(--salt-size-selectable);
  background: var(--salt-accent-borderColor);
}

.saltSliderThumb-selectionArea {
  grid-row: 1;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--salt-size-base);
  height: var(--salt-size-base);
  transform: translate(-50%, -50%);
  margin-top: calc(0.5 * var(--salt-size-bar));
}

.saltSliderThumb:focus-visible {
  outline-style: var(--slider-handle-outlineStyle);
  outline-width: var(--slider-handle-outlineWidth);
  outline-offset: var(--slider-handle-outlineOffset);
}

.saltSliderSelection {
  height: var(--salt-size-bar);
  background: var(--salt-accent-borderColor);
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.saltSliderMarks {
  position: relative;
}

.saltSliderMarks-mark {
  position: absolute;
  transform: translate(-50%);
}
