.uitkThemeEditorApp {
  display: flex;
  inset: 0;
  position: absolute;
}

.uitkThemeEditorAppOutput {
  color: var(--salt-text-secondary-foreground);
  background-color: var(--salt-container-primary-background);
}

.uitkThemeEditorApp-leftPane {
  flex: 0 0 240px;
  overflow: hidden;
}

.uitkThemeEditorApp-Spinner {
  width: 100%;
  top: 30%;
}
