.uitkDataGridSort {
}

.uitkDataGridSort-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /*border: solid 1px black;*/
  /*background-color: var(--uitk-color-grey-20);*/
  /*padding: var(--uitk-size-basis-unit);*/
}

.uitkDataGridSort-item-title {
  width: 50px;
}

.uitkDataGridSort-item-column {
  margin-right: var(--uitk-size-basis-unit);
  width: 150px;
  flex-shrink: 0;
  /*background-color: var(--uitk-color-white);*/
}

.uitkDataGridSort-item-order {
  margin-right: var(--uitk-size-basis-unit);
  /*width: 150px;*/
  flex-shrink: 0;
  /*background-color: var(--uitk-color-white);*/
}

.uitkDataGridSort-dropdown.uitkDropdown-popup {
  z-index: 10;
}
