/* Styles applied to Drawer component */
.saltDrawer {
  background: var(--drawer-background);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: var(--salt-spacing-300);
  box-shadow: var(--salt-overlayable-shadow-modal);
  z-index: var(--salt-zIndex-drawer);
  position: fixed;
  top: 0;
}

/* Styles applied when variant = "primary" */
.saltDrawer-primary {
  --drawer-background: var(--salt-container-primary-background);
}

/* Styles applied when variant = "secondary" */
.saltDrawer-secondary {
  --drawer-background: var(--salt-container-secondary-background);
}

/* Styles applied when position = "top" */
.saltDrawer-top {
  left: 0;
  right: 0;
  bottom: auto;
}

/* Styles applied when position = "top" and the component mounts */
.saltDrawer-top.saltDrawer-enterAnimation {
  animation: slide-in-bottom var(--salt-duration-perceptible) ease-in-out;
}

/* Styles applied when position = "top" and the component unmounts */
.saltDrawer-top.saltDrawer-exitAnimation {
  animation: slide-out-bottom var(--salt-duration-perceptible) ease-in-out both;
}

/* Styles applied when position = "right" */
.saltDrawer-right {
  left: auto;
  right: 0;
  height: 100%;
}

/* Styles applied when position = "right" and the component mounts */
.saltDrawer-right.saltDrawer-enterAnimation {
  animation: slide-in-right var(--salt-duration-perceptible) ease-in-out;
}

/* Styles applied when position = "right" and the component unmounts */
.saltDrawer-right.saltDrawer-exitAnimation {
  animation: slide-out-right var(--salt-duration-perceptible) ease-in-out both;
}

/* Styles applied when position = "left" */
.saltDrawer-left {
  left: 0;
  right: auto;
  height: 100%;
}

/* Styles applied when position = "left" and the component mounts */
.saltDrawer-left.saltDrawer-enterAnimation {
  animation: slide-in-left var(--salt-duration-perceptible) ease-in-out;
}

/* Styles applied when position = "left" and the component unmounts */
.saltDrawer-left.saltDrawer-exitAnimation {
  animation: slide-out-left var(--salt-duration-perceptible) ease-in-out both;
}

/* Styles applied when position = "bottom" */
.saltDrawer-bottom {
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
}

/* Styles applied when position = "bottom" and the component mounts */
.saltDrawer-bottom.saltDrawer-enterAnimation {
  animation: slide-in-top var(--salt-duration-perceptible) ease-in-out;
}

/* Styles applied when position = "bottom" and the component unmounts */
.saltDrawer-bottom.saltDrawer-exitAnimation {
  animation: slide-out-top var(--salt-duration-perceptible) ease-in-out both;
}
