.uitkPill-checkbox {
  --pill-checkbox-stroke: var(--uitkPill-checkbox-stroke, var(--uitk-taggable-stroke));
  --pill-checkbox-tick: var(--uitkPill-checkbox-tick, var(--uitk-taggable-foreground));
}

.uitkPill-checkbox-icon {
  fill: none;
  stroke: var(--pill-checkbox-stroke);
  stroke-width: 1px;
}

.uitkPill-checkbox-icon-checked {
  fill: none;
  stroke: var(--pill-checkbox-stroke);
  stroke-width: 2px;
}

.uitkPill-checkbox-icon-checked-tick {
  fill: var(--pill-checkbox-tick);
  stroke-width: 0;
}

.uitkPill-disabled .uitkPill-checkbox,
.uitkPill-disabled .uitkPill-checkbox-icon {
  stroke: var(--uitkPill-checkbox-stroke-disabled, var(--uitk-taggable-stroke-disabled));
}

.uitkPill-disabled .uitkPill-checkbox-icon-checked-tick {
  fill: var(--uitkPill-checkbox-tick-disabled, var(--uitk-taggable-foreground-disabled));
  stroke-width: 0;
}
