/* Styles applied to the Pill checkbox icon */
.uitkPill-checkbox-icon {
  fill: none;
  stroke: var(--pill-checkbox-stroke);
  stroke-width: 1px;
}

/* Styles applied to the Pill checkbox if `checked={true}` */
.uitkPill-checkbox-icon-checked {
  fill: none;
  stroke: var(--pill-checkbox-stroke);
  stroke-width: 2px;
}

/* Styles applied to the Pill checkbox if `checked={true}` and `disabled={false}` on hover */
.uitkPill:not(.uitkPill-disabled) .uitkPill-checkbox-icon-checked:hover {
  stroke: var(--uitkPill-checkbox-stroke-hover, var(--uitk-selectable-borderColor-hover));
}

/* Styles applied to the Pill Checkbox component when ticked */
.uitkPill-checkbox-icon-checked-tick {
  fill: var(--pill-checkbox-tick);
  stroke-width: 0;
}

/* Styles applied to the Pill checkbox and icon if `disabled={false}` */
.uitkPill-disabled .uitkPill-checkbox,
.uitkPill-disabled .uitkPill-checkbox-icon {
  stroke: var(--uitkPill-checkbox-stroke-disabled, var(--uitk-selectable-borderColor-disabled));
}

/* Styles applied to the Pill Checkbox component when ticked if `disabled={true}` */
.uitkPill-disabled .uitkPill-checkbox-icon-checked-tick {
  fill: var(--uitkPill-checkbox-tick-disabled, var(--uitk-taggable-foreground-disabled));
  stroke-width: 0;
}
