.uitk-light .uitkPill {
  --pill-background: var(--uitk-grey-40);
  --pill-color: var(--uitk-grey-900);
  --pill-background-active: var(--uitk-grey-200);
  --pill-color-active: var(--uitk-white);
  --pill-icon-color: var(--uitk-grey-300);
}

.uitk-dark .uitkPill {
  --pill-background: var(--uitk-grey-80);
  --pill-background-active: var(--uitk-grey-80);
  --pill-color: var(--uitk-white);
  --pill-color-active: var(--uitk-grey-900);
  --pill-icon-color: var(--uitk-grey-60);
}

.uitk-density-touch .uitkPill {
  --checkbox-size: calc(var(--uitk-size-icon-small) + 6px);
  --delete-left: 4px;
  --padding: calc(var(--uitk-spacing-touch) * 0.75);
  --pill-spacing: calc(var(--uitk-spacing-touch) * 0.5);
}

.uitk-density-low .uitkPill {
  --checkbox-size: calc(var(--uitk-size-icon-small) + 4px);
  --delete-left: 3px;
  --padding: calc(var(--uitk-spacing-low) * 0.75);
  --pill-spacing: calc(var(--uitk-spacing-low) * 0.5);
}

.uitk-density-medium .uitkPill {
  --checkbox-size: calc(var(--uitk-size-icon-small) + 2px);
  --delete-left: 2px;
  --padding: calc(var(--uitk-spacing-medium) * 0.75);
  --pill-spacing: calc(var(--uitk-spacing-medium) * 0.5);
}

.uitk-density-high .uitkPill {
  --checkbox-size: var(--uitk-size-icon-small);
  --delete-left: 1px;
  --padding: calc(var(--uitk-spacing-high) * 0.75);
  --pill-spacing: calc(var(--uitk-spacing-high) * 0.5);
}

.uitkPill {
  --pill-font-size: var(--uitk-text-help-font-size);
  --pill-font-weight: normal;
  /* TODO: What's the best way to expose pill specific css var, but also override button's default */
  --button-font-weight: normal;
  --button-padding: 0;
  --button-text-transform: unset;
}

.uitkPill {
  align-items: center;
  background: var(--pill-background);
  color: var(--pill-color);
  display: inline-flex;
  font-size: var(--pill-font-size);
  /* TODO: Check whether we should define font family here or rely on theme */
  font-family: var(--uitk-typography-font-family);
  height: calc(var(--checkbox-size) + 2px);
  letter-spacing: 0;
  line-height: var(--uitk-text-line-height);
  max-width: 160px;
  min-width: 40px;
  position: relative;
  outline: 0;
}

.uitkPill:focus {
  outline-color: #2670a9;
  outline-style: dotted;
  outline-width: 2px;
  outline-offset: 0;
}

.uitkPill-label {
  flex-grow: 1;
  line-height: calc(var(--checkbox-size) + 2px);
  padding: 0 var(--padding);
  overflow: hidden;
  pointer-events: none;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: var(--pill-font-weight);
}

.uitkPill-disabled {
  cursor: not-allowed;
  opacity: 1;
  background: rgba(217, 221, 227, 0.4);
  pointer-events: none;
}

.uitkPill-disabled .uitkPill-label {
  opacity: 0.7;
}

.uitkPill-clickable {
  cursor: pointer;
  user-select: none;
}

.uitkPill-deletable .uitkPill-label {
  padding-right: 0;
}

.uitkPill:not(.uitkPill-deletable):not(.uitkPill-selectable):active,
.uitkPill:not(.uitkPill-deletable):not(.uitkPill-selectable).uitkPill-active {
  background: var(--pill-background-active);
  color: var(--pill-color-active);
}

.uitkPill-checkbox {
  height: var(--checkbox-size);
  margin-left: 1px;
  padding-right: 0;
  width: var(--checkbox-size);
}

.uitkPill-deleteButton {
  height: calc(var(--checkbox-size) + 2px);
  padding-left: var(--pill-spacing);
  padding-right: var(--pill-spacing);
}

.uitkPill-deleteButton .uitkButton-label {
  justify-content: center;
}

.uitkPill .uitkPill-icon {
  color: var(--pill-icon-color);
  margin-left: var(--padding);
  margin-right: var(--pill-spacing);
}

.uitkPill:not(.uitkPill-deletable) .uitkPill-icon + .uitkPill-label {
  padding-left: 0;
}
