.uitk-density-high {
  --pill-icon-offset: 1px;
}

.uitk-density-medium {
  --pill-icon-offset: 2px;
}

.uitk-density-low {
  --pill-icon-offset: 3px;
}

.uitk-density-touch {
  --pill-icon-offset: 4px;
}

/* Styles applied to the root element */
.uitkPill {
  --pill-background: var(--uitkPill-background, var(--uitk-taggable-background));
  --pill-background-active: var(--uitkPill-background-active, var(--uitk-taggable-background-active));
  --pill-background-disabled: var(--uitkPill-background-disabled, var(--uitk-taggable-background-disabled));
  --pill-background-hover: var(--uitkPill-background-hover, var(--uitk-taggable-background));
  --pill-checkbox-size: var(--uitkPill-checkbox-size, calc(var(--uitk-size-pill) - 2px));
  --pill-icon-color: var(--uitkPill-icon-color, var(--uitk-taggable-foreground));
  --pill-icon-color-active: var(--uitkPill-icon-color-active, var(--uitk-taggable-foreground-active));
  --pill-icon-color-hover: var(--uitkPill-icon-color-hover, var(--uitk-taggable-foreground-hover));
  --pill-text-color: var(--uitkPill-text-color, var(--uitk-taggable-foreground));
  --pill-text-color-active: var(--uitkPill-text-color-active, var(--uitk-taggable-foreground-active));
  --pill-text-color-hover: var(--uitkPill-text-color-hover, var(--uitk-taggable-foreground-hover));
}

/* Button Component API - reset to default state so they don't interfere with Pill styling */
.uitkPill {
  --uitkButton-background-active: var(--pill-background);
  --uitkButton-textColor-active: var(--pill-text-color);
  --uitkButton-background-hover: var(--pill-background);
  --uitkButton-textColor-hover: var(--pill-text-color);
  --uitkButton-font-weight: var(--uitkPill-button-font-weight, var(--uitk-typography-weight-regular));
  --uitkButton-padding: var(--uitkPill-button-padding, 0);
  --uitkButton-textTransform: var(--uitkPill-button-text-transform, unset);
  --uitkButton-cursor: normal;
}

.uitkPill {
  align-items: center;
  background: var(--pill-background);
  border-radius: var(--uitkPill-border-radius, 0);
  color: var(--pill-text-color);
  display: inline-flex;
  font-size: var(--uitkPill-font-size, var(--uitk-text-help-fontSize));
  height: var(--uitkPill-height, var(--pill-checkbox-size));
  letter-spacing: var(--uitkPill-letter-spacing, 0);
  line-height: var(--uitkPill-line-height, var(--uitk-typography-lineHeight));
  max-width: var(--uitkPill-max-width, 160px);
  min-width: var(--uitkPill-min-width, 40px);
  min-height: var(--uitkPill-min-height, var(--uitk-text-minHeight));
  outline: var(--uitkPill-outline, 0);
  position: relative;
}

.uitkPill:focus {
  outline-color: var(--uitkPill-focused-outline-color, var(--uitk-focused-outlineColor));
  outline-style: var(--uitkPill-focused-outline-style, var(--uitk-focused-outlineStyle));
  outline-style: dotted;
  outline-width: var(--uitk-focused-outlineWidth);
  outline-offset: var(--uitk-focused-outlineOffset);
}

/* Style applied to Pill label */
.uitkPill-label {
  display: inline;
  flex-grow: 1;
  font-weight: var(--uitkPill-font-weight, var(--uitk-typography-weight-regular));
  overflow: hidden;
  padding-left: var(--uitkPill-label-padding-left, calc(var(--uitk-size-unit) * 0.75));
  pointer-events: none;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Style applied to Pill label inner text */
.uitkPill-innerLabel {
  vertical-align: top;
  line-height: calc(var(--pill-checkbox-size) + 2px);
}

/* Style applied to Pill label when `deletable={false}` */
.uitkPill:not(.uitkPill-deletable) .uitkPill-label {
  padding-right: var(--uitkPill-label-padding-right, calc(var(--uitk-size-unit) * 0.75));
}

/* Style applied to Pill when `disabled={false}` on hover state if not active */
.uitkPill:not(.uitkPill-disabled):hover:not(:active) {
  background: var(--pill-background-hover);
  color: var(--pill-text-color-hover);

  --uitkIcon-color: var(--pill-icon-color);
  --uitkIcon-color-hover: var(--pill-icon-color-hover);
}

/* Style applied to Pill root when `disabled={true}` */
.uitkPill-disabled {
  --uitkButton-background-hover: var(--uitk-taggable-background-disabled);
  --uitkButton-background-active: var(--uitk-taggable-background-disabled);

  background: var(--pill-background-disabled);
  cursor: var(--uitk-selectable-cursor-disabled);
}

/* Style applied to Pill label and icon when `disabled={true}` */
.uitkPill-disabled .uitkPill-label,
.uitkPill-disabled .uitkIcon {
  cursor: var(--uitk-selectable-cursor-disabled);
  opacity: var(--uitk-opacity-foreground);

  --uitkIcon-color: var(--pill-icon-color);
  --uitkIcon-color-hover: var(--pill-icon-color);
}

/* Style applied to Pill delete button */
.uitkPill-deleteButton {
  --uitkButton-cursor: pointer;
  --uitkIcon-color: var(--uitk-actionable-secondary-foreground);

  flex-shrink: 0;
  height: var(--pill-checkbox-size);
  margin-left: calc(var(--uitk-size-unit) / 2);
  min-height: var(--uitkPill-min-height, var(--uitk-text-minHeight));
  padding-right: calc(var(--uitk-size-unit) / 2);
}

/* Style applied to Pill delete button if `disabled={true}` */
.uitkPill-disabled .uitkPill-deleteButton {
  --uitkButton-padding: 8px;
}

/* Style applied to Pill label when delete button present */
.uitkPill-deleteButton .uitkButton-label {
  justify-content: center;
}

/* Style applied to Pill delete button on hover if `disabled={false}` */
.uitkPill-deleteButton:hover:not(.uitkPill-disabled):not(.uitkPill-deleteButton-disabled) {
  background: var(--uitkPill-delete-button-background-hover, var(--pill-background));
}

/* Style applied to Pill delete button on hover if `disabled={false}` and `selectable={false}` when active */
.uitkPill-deleteButton:active:not(.uitkPill-deleteButton-disabled):not(.uitkPill-disabled):not(.uitkPill-selectable) {
  background: var(--uitkPill-delete-button-background-active, var(--pill-background-active));
}

/* Style applied to Pill delete button icon if `disabled={false}`  */
.uitkPill-deleteButton:not(.uitkPill-deleteButton-disabled):not(.uitkPill-disabled) .uitkPill-deleteIcon {
  color: var(--uitkPill-delete-button-color, var(--pill-background));
  left: var(--uitkPill-delete-button-left, var(--pill-icon-offset));
  position: relative;
}

/* Style applied to Pill icon */
.uitkPill .uitkPill-icon {
  fill: var(--pill-icon-color);
  height: var(--uitk-size-graphic-small);
  margin-left: calc(var(--uitk-size-unit) * 0.75);
  margin-right: calc(var(--uitk-size-unit) * 0.5);
}

/* Style applied to Pill icon on active state */
.uitkPill:active .uitkPill-icon,
.uitkPill-active .uitkPill-icon,
.uitkPill-icon:active {
  fill: var(--pill-icon-color-active);
}

.uitkPill:not(.uitkPill-deletable) .uitkPill-icon + .uitkPill-label {
  padding-left: 0;
}

/* Style applied to Pill icon if `clickable={true}` */
.uitkPill-clickable:not(.uitkPill-disabled) {
  cursor: pointer;
  user-select: none;
}

/* Style applied to Pill when active if `deletable={false}`, `selectable={false}`, and `disabled={false}` */
.uitkPill:not(.uitkPill-deletable):not(.uitkPill-selectable):not(.uitkPill-disabled):active,
.uitkPill:not(.uitkPill-deletable):not(.uitkPill-selectable):not(.uitkPill-disabled).uitkPill-active {
  background: var(--pill-background-active);
  color: var(--pill-text-color-active);
}

/* Styles applied to the Pill checkbox */
.uitkPill-checkbox {
  --pill-checkbox-stroke: var(--uitkPill-checkbox-stroke, var(--uitk-selectable-borderColor));
  --pill-checkbox-tick: var(--uitkPill-checkbox-tick, var(--uitk-taggable-foreground));

  height: var(--pill-checkbox-size);
  margin-left: 1px;
  padding-right: 0;
  width: var(--pill-checkbox-size);
}
