.saltQueryInput {
}

.saltQueryInputBody {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.saltQueryInputBody > .saltIcon {
  padding: var(--salt-size-unit);
  align-self: start;
}

.saltQueryInputBody-separator {
  width: 1px;
  background: var(--salt-separable-secondary-borderColor);
  margin: 0 var(--salt-size-unit);
  align-self: stretch;
}

.saltQueryInputBody-buttonGroup {
  flex-shrink: 0;
  align-self: start;
  margin-bottom: var(--salt-size-unit);
}

.saltQueryInputBody-input {
  flex-grow: 1;
}

.saltQueryInputValueSelector {
}

.saltQueryInputValueSelector-content {
  display: flex;
  flex-direction: row;
}

.saltCategoryList-categoryWidthMeasure {
  position: fixed;
  left: -1000px;
  top: 0;
  border: solid 1px black;
}

.saltCategoryList-category {
  font-size: var(--salt-text-fontSize);
}

.saltCategoryListItem-text {
  flex-shrink: 0;
  margin-right: calc(var(--salt-size-unit) * 1.5);
}

.saltCategoryListItem-valuesContainer {
  font-style: italic;
  color: var(--salt-foreground-secondary);
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.saltCategoryListItem-values {
  overflow: hidden;
  text-overflow: ellipsis;
}

.saltCategoryListItem-chevron {
  flex-shrink: 0;
  margin-left: var(--salt-size-unit);
}

.saltListItem-selected .saltIcon {
  fill: var(--list-item-text-color-active);
}

.saltQueryInputValueList {
  border: solid 1px var(--salt-container-primary-borderColor);
}

.saltQueryInputValueList-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px var(--salt-separable-secondary-borderColor);
  cursor: pointer;
}

.saltQueryInputValueList-back .saltIcon {
  margin-right: var(--salt-size-unit);
}

.saltQueryInputValueList-category {
  font-size: var(--salt-text-fontSize);
  flex-grow: 1;
}

.saltQueryInputSearchList {
}

.saltQueryInputSearchList-group {
}

.saltQueryInputSearchList-addKeyword {
  border-top: solid 1px var(--salt-separable-secondary-borderColor);
}

.saltQueryInputSearchList-categoryTitle {
  color: var(--salt-foreground-primary);
  background: var(--salt-container-primary-background);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight-strong);
  display: flex;
  align-items: center;
  padding: 0 var(--salt-size-unit);
  position: sticky;
  top: 0;
  z-index: var(--salt-zIndex-default);
}

.saltQueryInputSearchList-value {
}
