.uitkQueryInput {
}

.uitkQueryInputBody {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uitkQueryInputBody > .uitkIcon {
  padding: var(--uitk-size-unit);
  align-self: start;
}

.uitkQueryInputBody-separator {
  width: 1px;
  background-color: var(--uitk-separable-secondary-borderColor);
  margin: 0 var(--uitk-size-unit);
  align-self: stretch;
}

.uitkQueryInputBody-buttonGroup {
  flex-shrink: 0;
  align-self: start;
  margin-bottom: var(--uitk-size-unit);
}

.uitkQueryInputBody-input {
  flex-grow: 1;
}

.uitkQueryInputValueSelector {
}

.uitkQueryInputValueSelector-content {
  display: flex;
  flex-direction: row;
}

.uitkCategoryList-categoryWidthMeasure {
  position: fixed;
  left: -1000px;
  top: 0;
  border: solid 1px black;
  box-sizing: border-box;
}

.uitkCategoryList-category {
  font-size: var(--uitk-text-fontSize);
}

.uitkCategoryListItem-text {
  flex-shrink: 0;
  margin-right: calc(var(--uitk-size-unit) * 1.5);
}

.uitkCategoryListItem-valuesContainer {
  font-style: italic;
  color: var(--uitk-text-secondary-foreground);
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.uitkCategoryListItem-values {
  overflow: hidden;
  text-overflow: ellipsis;
}

.uitkCategoryListItem-chevron {
  flex-shrink: 0;
  margin-left: var(--uitk-size-unit);
}

.uitkListItem-selected .uitkIcon {
  fill: var(--list-item-text-color-active);
}

.uitkQueryInputValueList {
  border: solid 1px var(--uitk-container-borderColor-medium);
}

.uitkQueryInputValueList-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px var(--uitk-separable-secondary-borderColor);
  cursor: pointer;
}

.uitkQueryInputValueList-back .uitkIcon {
  margin-right: var(--uitk-size-unit);
}

.uitkQueryInputValueList-category {
  font-size: var(--uitk-text-fontSize);
  flex-grow: 1;
}

.uitkQueryInputSearchList {
}

.uitkQueryInputSearchList-group {
}

.uitkQueryInputSearchList-addKeyword {
  border-top: solid 1px var(--uitk-separable-secondary-borderColor);
}

.uitkQueryInputSearchList-categoryTitle {
  color: var(--uitk-text-primary-foreground);
  background: var(--uitk-container-background-medium);
  font-size: var(--uitk-text-fontSize);
  font-weight: var(--uitk-typography-weight-bold);
  display: flex;
  align-items: center;
  padding: 0 var(--uitk-size-unit);
  position: sticky;
  top: 0;
  z-index: var(--uitk-zIndex-default);
}

.uitkQueryInputSearchList-value {
}
