.saltStep {
  /* Copy of size calculations of <Icon /> */
  --step-icon-base-size: var(--salt-size-icon);
  --step-icon-size-multiplier: var(--saltIcon-size-multiplier, 1.5);
  --step-icon-size: calc(var(--step-icon-base-size) * var(--step-icon-size-multiplier));
  --step-depth: var(--saltStep-depth, 0);
}

.saltStepper-horizontal .saltStep {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "icon"
    "label"
    "description";
  justify-items: center;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 0 var(--salt-spacing-25);
}

.saltStepper-vertical .saltStep {
  display: grid;
  grid-template-columns: var(--step-icon-size) 1fr min-content;
  grid-template-areas:
    "icon            label           expand"
    "connector       description     ."
    "stepper         stepper         stepper";
  justify-items: start;
  align-items: start;
  gap: 0 var(--salt-spacing-100);
  width: 100%;
  transition-duration: inherit;
  transition-timing-function: inherit;
  transition-property: grid-template-rows;
}

.saltStepper-vertical .saltStep-terminal {
  grid-template-areas:
    "icon            label           label"
    "connector       description     description"
    "stepper         stepper         stepper";
}

.saltStepper-vertical > .saltStep.saltStep-expanded {
  grid-template-rows:
    var(--salt-size-base)
    min-content
    1fr;
}

.saltStepper-vertical > .saltStep.saltStep-collapsed {
  grid-template-rows:
    var(--salt-size-base)
    min-content
    0fr;
}
