.link.link {
  display: block;
  text-decoration: none;
}

.link:focus-visible {
  outline: var(--salt-focused-outline);
}

.link:hover .badgeContainer,
.link:focus-visible .badgeContainer {
  visibility: visible;
}

.badgeContainer {
  visibility: hidden;
  padding-left: var(--salt-spacing-50);
  text-decoration: underline;
  color: var(--salt-content-accent-foreground);
}

.root:first-child :is(h2, h3, h4) {
  margin-top: 0;
}

.root :is(h2, h3, h4) {
  scroll-margin-top: var(--salt-spacing-600);
}
