/* Bump up `.link` so color set by mosaic-theme will have lower priority */
.root .link.link,
.root .link.link:hover,
.root .link.link:visited {
  color: inherit;
}

.badgeContainer {
  padding-left: 0.5rem;
  text-decoration: underline;
  color: var(--salt-content-foreground-hover);
}
