.uitkAccordion {
  --accordion-border-style: var(--uitkAccordion-border-style, none);
  --accordion-border-color: var(--uitkAccordion-border-color, transparent);
  --accordion-border-width: var(--uitkAccordion-border-width, 0);
  --accordion-border-radius: var(--uitkAccordion-border-radius, 0);
  --accordion-padding: var(--uitkAccordion-padding, 0);
  --accordion-margin: var(--uitkAccordion-margin, 0);
}

.uitkAccordion {
  border-style: var(--accordion-border-style);
  border-color: var(--accordion-border-color);
  border-width: var(--accordion-border-width);
  padding: var(--accordion-padding);
  margin: var(--accordion-margin);
  border-radius: var(--accordion-border-radius);
}

.uitk-density-high .uitkAccordionSection {
  --accordion-summary-padding-left: 20px;
  --accordion-details-padding: 3px 4px 5px 20px;
}

.uitk-density-medium .uitkAccordionSection {
  --accordion-summary-padding-left: 28px;
  --accordion-details-padding: 8px 8px 9px 28px;
}

.uitk-density-low .uitkAccordionSection {
  --accordion-summary-padding-left: 36px;
  --accordion-details-padding: 12px 12px 13px 38px;
}

.uitk-density-touch .uitkAccordionSection {
  --accordion-summary-padding-left: 44px;
  --accordion-details-padding: 18px 16px 17px 44px;
}

.uitkAccordionSection {
  --accordion-summary-height: var(--uitkAccordionSummary-height, var(--uitk-size-stackable));
  --accordion-summary-fontWeight: var(--uitkAccordionSummary-fontWeight, initial);

  --accordion-summary-background: var(--uitkAccordionSummary-background, var(--uitk-container-background-medium));
  --accordion-summary-background-active: var(--uitkAccordionSummary-background-active, var(--uitk-container-background-medium));
  --accordion-summary-background-disabled: var(--uitkAccordionSummary-background-disabled, var(--uitk-container-background-medium));
  --accordion-summary-background-hover: var(--uitkAccordionSummary-background-hover, var(--uitk-actionable-primary-background-hover));

  --accordion-summary-text-color: var(--uitkAccordionSummary-text-color, var(--uitk-text-primary-foreground));
  --accordion-summary-text-color-active: var(--uitkAccordionSummary-text-color-active, var(--uitk-text-primary-foreground));
  --accordion-summary-text-color-disabled: var(--uitkAccordionSummary-text-color-disabled, var(--uitk-text-primary-foreground-disabled));
  --accordion-summary-text-color-hover: var(--uitkAccordionSummary-text-color-hover, var(--uitk-text-primary-foreground));

  --accordion-summary-focus-outline-style: var(--uitk-focused-outlineStyle);
  --accordion-summary-focus-outline-width: var(--uitk-focused-outlineWidth);
  --accordion-summary-focus-outline-color: var(--uitk-focused-outlineColor);
  --accordion-summary-focus-outline-offset: var(--uitk-focused-outlineOffset);

  --accordion-summary-icon-transition-default: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --accordion-summary-icon-transform: var(--uitkAccordionSummary-icon-expand-transform, rotate(90deg));
  --accordion-summary-icon-transition: var(--uitkAccordionSummary-icon-transition, var(--accordion-summary-icon-transition-default));
}

.uitkAccordionSection {
  border-color: var(--uitkAccordionSection-border-color, var(--uitk-separable-secondary-borderColor));
  border-style: var(--uitkAccordionSection-border-style, var(--uitk-container-borderStyle));
  border-width: var(--uitkAccordionSection-border-width, 0 0 1px 0);
  margin: var(--uitkAccordionSection-margin, 0);
  position: relative;
}

.uitkAccordionSection:focus-within {
  z-index: var(--uitk-zIndex-default);
}

.uitkAccordionSection-expanded {
}

.uitkAccordionSection-disabled {
}

.uitkAccordionSummary {
  height: var(--accordion-summary-height);
  line-height: var(--accordion-summary-height);
  font-weight: var(--accordion-summary-fontWeight);
  background: var(--accordion-summary-background);
  color: var(--accordion-summary-text-color);
  font-size: var(--uitkAccordionSummary-font-size, var(--uitk-text-fontSize));
  font-family: var(--uitkAccordionSummary-font-family, var(--uitk-text-fontFamily));
  padding-left: var(--accordion-summary-padding-left);
  position: relative;
}

.uitkAccordionSummary:focus-visible {
  outline-style: var(--accordion-summary-focus-outline-style);
  outline-width: var(--accordion-summary-focus-outline-width);
  outline-color: var(--accordion-summary-focus-outline-color);
  outline-offset: var(--accordion-summary-focus-outline-offset);
}

.uitkAccordionSummary:hover:not(.uitkAccordionSummary-disabled) {
  background: var(--accordion-summary-background-hover);
  color: var(--accordion-summary-text-color-hover);
  cursor: pointer;
}

.uitkAccordionSummary-expanded {
  background: var(--accordion-summary-background-active);
  color: var(--accordion-summary-text-color-active);
}

.uitkAccordionSummary-disabled {
  background: var(--accordion-summary-background-disabled);
  color: var(--accordion-summary-text-color-disabled);
}

.uitkAccordionSummary-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--accordion-summary-padding-left);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: var(--accordion-summary-icon-transition);
}

.uitkAccordionSummary-expanded .uitkAccordionSummary-icon {
  transform: var(--accordion-summary-icon-transform);
}

.uitkAccordionDetails {
  transition: height 150ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.uitkAccordionDetails-content {
  padding: var(--uitkAccordionDetails-padding, var(--accordion-details-padding));
}

.uitkAccordionDetails-disabled {
}

.uitkAccordionDetails-dummy {
  position: fixed;
  top: -10000px;
  left: 0;
}
