.uitk-density-high {
  --accordionSummary-paddingLeft: 20px;
  --accordionDetails-padding: 3px 4px 5px 20px;
}

.uitk-density-medium {
  --accordionSummary-paddingLeft: 28px;
  --accordionDetails-padding: 8px 8px 9px 28px;
}

.uitk-density-low {
  --accordionSummary-paddingLeft: 36px;
  --accordionDetails-padding: 12px 12px 13px 38px;
}

.uitk-density-touch {
  --accordionSummary-paddingLeft: 44px;
  --accordionDetails-padding: 18px 16px 17px 44px;
}

.uitkAccordion {
  border-color: var(--uitkAccordion-borderColor, transparent);
  border-radius: var(--uitkAccordion-borderRadius, 0);
  border-style: var(--uitkAccordion-borderStyle, none);
  border-width: var(--uitkAccordion-borderWidth, 0);
  padding: var(--uitkAccordion-padding, 0);
  margin: var(--uitkAccordion-margin, 0);
}

.uitkAccordionSection {
  --accordionSummary-height: var(--uitkAccordionSummary-height, var(--uitk-size-stackable));
}

.uitkAccordionSection {
  border-color: var(--uitkAccordionSection-borderColor, var(--uitk-separable-secondary-borderColor));
  border-style: var(--uitkAccordionSection-borderStyle, var(--uitk-container-borderStyle));
  border-width: var(--uitkAccordionSection-borderWidth, 0 0 1px 0);
  margin: var(--uitkAccordionSection-margin, 0);
  position: relative;
}

.uitkAccordionSection:focus-within {
  z-index: var(--uitk-zIndex-default);
}

.uitkAccordionSection-expanded {
}

.uitkAccordionSection-disabled {
}

.uitkAccordionSummary {
  height: var(--accordionSummary-height);
  line-height: var(--accordionSummary-height);
  font-weight: var(--uitkAccordionSummary-fontWeight, initial);
  background: var(--uitkAccordionSummary-background, var(--uitk-container-background-medium));
  color: var(--uitkAccordionSummary-text-color, var(--uitk-text-primary-foreground));
  font-size: var(--uitkAccordionSummary-fontSize, var(--uitk-text-fontSize));
  font-family: var(--uitkAccordionSummary-fontFamily, var(--uitk-text-fontFamily));
  padding-left: var(--accordionSummary-paddingLeft);
  position: relative;
}

.uitkAccordionSummary:focus-visible {
  outline-style: var(--uitkAccordionSummary-focus-outlineStyle, var(--uitk-focused-outlineStyle));
  outline-width: var(--uitkAccordionSummary-focus-outlineWidth, var(--uitk-focused-outlineWidth));
  outline-color: var(--uitkAccordionSummary-focus-outlineColor, var(--uitk-focused-outlineColor));
  outline-offset: var(--uitkAccordionSummary-focus-outlineOffset, var(--uitk-focused-outlineOffset));
}

.uitkAccordionSummary:hover:not(.uitkAccordionSummary-disabled) {
  background: var(--uitkAccordionSummary-background-hover, var(--uitk-actionable-primary-background-hover));
  color: var(--uitkAccordionSummary-text-color-hover, var(--uitk-text-primary-foreground));
  cursor: pointer;
}

.uitkAccordionSummary-expanded {
  background: var(--uitkAccordionSummary-background-active, var(--uitk-container-background-medium));
  color: var(--uitkAccordionSummary-text-color-active, var(--uitk-text-primary-foreground));
}

.uitkAccordionSummary-disabled {
  background: var(--uitkAccordionSummary-background-disabled, var(--uitk-container-background-medium));
  color: var(--uitkAccordionSummary-text-color-disabled, var(--uitk-text-primary-foreground-disabled));
}

.uitkAccordionSummary-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--accordionSummary-paddingLeft);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: var(--uitkAccordionSummary-icon-transition, transform 150ms cubic-bezier(0.4, 0, 0.2, 1));
}

.uitkAccordionSummary-expanded .uitkAccordionSummary-icon {
  transform: var(--uitkAccordionSummary-icon-expand-transform, rotate(90deg));
}

.uitkAccordionDetails {
  transition: height 150ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.uitkAccordionDetails-content {
  padding: var(--uitkAccordionDetails-padding, var(--accordionDetails-padding));
}

.uitkAccordionDetails-disabled {
}

.uitkAccordionDetails-dummy {
  position: fixed;
  top: -10000px;
  left: 0;
}
