.uitkAccordion {
  --accordion-borderStyle: var(--uitkAccordion-borderStyle, none);
  --accordion-borderColor: var(--uitkAccordion-borderColor, transparent);
  --accordion-borderWidth: var(--uitkAccordion-borderWidth, 0);
  --accordion-borderRadius: var(--uitkAccordion-borderRadius, 0);
  --accordion-padding: var(--uitkAccordion-padding, 0);
  --accordion-margin: var(--uitkAccordion-margin, 0);
}

.uitkAccordion {
  border-style: var(--accordion-borderStyle);
  border-color: var(--accordion-borderColor);
  border-width: var(--accordion-borderWidth);
  padding: var(--accordion-padding);
  margin: var(--accordion-margin);
  border-radius: var(--accordion-borderRadius);
}

.uitk-density-high {
  --accordion-summary-paddingLeft: 20px;
  --accordion-details-padding: 3px 4px 5px 20px;
}

.uitk-density-medium {
  --accordion-summary-paddingLeft: 28px;
  --accordion-details-padding: 8px 8px 9px 28px;
}

.uitk-density-low {
  --accordion-summary-paddingLeft: 36px;
  --accordion-details-padding: 12px 12px 13px 38px;
}

.uitk-density-touch {
  --accordion-summary-paddingLeft: 44px;
  --accordion-details-padding: 18px 16px 17px 44px;
}

.uitkAccordionSection {
  --accordion-summary-height: var(--uitkAccordion-summary-height, var(--uitk-size-stackable));
  --accordion-summary-fontWeight: var(--uitkAccordion-summary-fontWeight, initial);

  --accordion-summary-background: var(--uitkAccordion-summary-background, var(--uitk-container-background-medium));
  --accordion-summary-background-active: var(--uitkAccordion-summary-background-active, var(--uitk-container-background-medium));
  --accordion-summary-background-disabled: var(--uitkAccordion-summary-background-disabled, var(--uitk-container-background-medium));
  --accordion-summary-background-hover: var(--uitkAccordion-summary-background-hover, var(--uitk-actionable-primary-background-hover));

  --accordion-summary-text-color: var(--uitkAccordion-summary-text-color, var(--uitk-text-primary-foreground));
  --accordion-summary-text-color-active: var(--uitkAccordion-summary-text-color-active, var(--uitk-text-primary-foreground));
  --accordion-summary-text-color-disabled: var(--uitkAccordion-summary-text-color-disabled, var(--uitk-text-primary-foreground-disabled));
  --accordion-summary-text-color-hover: var(--uitkAccordion-summary-text-color-hover, var(--uitk-text-primary-foreground));

  --accordion-summary-icon-transition-default: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --accordion-summary-icon-transform: var(--uitkAccordion-summary-icon-expand-transform, rotate(90deg));
  --accordion-summary-icon-transition: var(--uitkAccordion-summary-icon-transition, var(--accordion-summary-icon-transition-default));
}

.uitkAccordionSection {
  border-color: var(--uitkAccordion-section-borderColor, var(--uitk-separable-secondary-borderColor));
  border-style: var(--uitkAccordion-section-borderStyle, var(--uitk-container-borderStyle));
  border-width: var(--uitkAccordion-section-borderWidth, 0 0 1px 0);
  margin: var(--uitkAccordion-section-margin, 0);
  position: relative;
}

.uitkAccordionSection:focus-within {
  z-index: var(--uitk-zIndex-default);
}

.uitkAccordionSection-expanded {
}

.uitkAccordionSection-disabled {
}

.uitkAccordionSummary {
  height: var(--accordion-summary-height);
  line-height: var(--accordion-summary-height);
  font-weight: var(--accordion-summary-fontWeight);
  background: var(--accordion-summary-background);
  color: var(--accordion-summary-text-color);
  font-size: var(--uitkAccordion-summary-fontSize, var(--uitk-text-fontSize));
  font-family: var(--uitkAccordion-summary-fontFamily, var(--uitk-text-fontFamily));
  padding-left: var(--accordion-summary-paddingLeft);
  position: relative;
}

.uitkAccordionSummary:focus-visible {
  outline-style: var(--uitk-focused-outlineStyle);
  outline-width: var(--uitk-focused-outlineWidth);
  outline-color: var(--uitk-focused-outlineColor);
  outline-offset: var(--uitk-focused-outlineOffset);
}

.uitkAccordionSummary:hover:not(.uitkAccordionSummary-disabled) {
  background: var(--accordion-summary-background-hover);
  color: var(--accordion-summary-text-color-hover);
  cursor: pointer;
}

.uitkAccordionSummary-expanded {
  background: var(--accordion-summary-background-active);
  color: var(--accordion-summary-text-color-active);
}

.uitkAccordionSummary-disabled {
  background: var(--accordion-summary-background-disabled);
  color: var(--accordion-summary-text-color-disabled);
}

.uitkAccordionSummary-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--accordion-summary-paddingLeft);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: var(--accordion-summary-icon-transition);
}

.uitkAccordionSummary-expanded .uitkAccordionSummary-icon {
  transform: var(--accordion-summary-icon-transform);
}

.uitkAccordionDetails {
  transition: height 150ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.uitkAccordionDetails-content {
  padding: var(--uitkAccordion-details-padding, var(--accordion-details-padding));
}

.uitkAccordionDetails-disabled {
}

.uitkAccordionDetails-dummy {
  position: fixed;
  top: -10000px;
  left: 0;
}
