.featuresContainerWrapper {
  background-color: var(--salt-color-teal-900);
  padding-top: calc(var(--salt-size-unit) * 6);
  padding-bottom: calc(var(--salt-size-unit) * 6);
  padding-left: calc(var(--salt-size-unit) * 5);
  padding-right: var(--salt-size-container-spacing);
  max-width: 75vw;
}

.featuresContainer {
  max-width: var(--max-container-width);
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  gap: calc(var(--salt-size-unit) * 5);
}

.listItems {
  padding: 0;
}

.listItem {
  margin-bottom: var(--salt-size-unit);
  display: flex;
  align-items: baseline;
}

.listItem > svg {
  top: 2px;
  margin-right: var(--salt-size-unit);
}

@media screen and (max-width: 960px) {
  .featuresContainerWrapper {
    max-width: none;
    margin-top: var(--salt-size-container-spacing);
    padding: var(--salt-size-container-spacing) calc(var(--salt-size-unit) * 2);
  }
}

@media screen and (max-width: 1280px) {
  .featuresContainer {
    gap: 0;
    flex-direction: column;
  }

  .featuresContainer h2 {
    margin-bottom: calc(var(--salt-size-unit) * 2);
  }
}
