.uitkInnerFieldLabel {
  color: var(--uitk-text-primary-color);
  padding: 2px 0px;
  margin-top: 5px;
}

.uitkInnerFieldLabel-large {
  font-size: var(--uitk-typography-size-50);
  font-weight: var(--uitk-typography-weight-semiBold);
}

.uitkInnerFieldLabel-medium {
  font-size: var(--uitk-typography-size-40);
  font-weight: var(--uitk-typography-weight-regular);
}

.uitkInnerFieldLabel-small {
  font-size: var(--uitk-typography-size-30);
  font-weight: var(--uitk-typography-weight-light);
}
