.saltInnerFieldLabel {
  font-size: var(--salt-text-caption-fontSize);
  font-weight: var(--salt-text-caption-fontWeight);
  color: var(--salt-foreground-primary);
  padding: 2px 0px;
  margin-top: 5px;
}
