.uitkInnerFieldLabel {
  color: var(--uitk-text-primary-color);
  padding: 2px 0px;
  margin-top: 5px;
}

/* TODO: Make font size adjust to density */
.uitkInnerFieldLabel-large {
  font-size: 12px;
  font-weight: var(--uitk-typography-weight-semiBold);
}

.uitkInnerFieldLabel-medium {
  font-size: 11px;
  font-weight: var(--uitk-typography-weight-regular);
}

.uitkInnerFieldLabel-small {
  font-size: 10px;
  font-weight: var(--uitk-typography-weight-light);
}
