.uitkOverflowLayoutPanel {
  --overflow-layout-panel-background-color: var(--uitk-container-background-medium); /* TODO: Check token */
  --overflow-layout-panel-large-spacing: calc(1.5 * var(--uitk-size-unit));
  align-items: stretch;
  background-color: var(--overflow-layout-panel-background-color);
  border: 1px solid var(--uitk-accent-border);
  box-shadow: var(--uitk-overlayable-shadow-popout);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2px;

  /* FormField CSS API */
  --uitkFormField-margin: 0 var(--uitk-size-unit);
}

.uitkOverflowLayoutPanel > .uitkFormField {
  --uitkFormField-margin: 0 var(--overflow-layout-panel-large-spacing) var(--uitk-size-unit) var(--overflow-layout-panel-large-spacing);
}

.uitkOverflowLayoutPanel > .uitkToolbarButton {
  --uitkFormField-margin: 0 var(--overflow-layout-panel-large-spacing) 0 var(--overflow-layout-panel-large-spacing);
}

.uitkOverflowLayoutPanel > .uitkFormField:first-child {
  --uitkFormField-margin: var(--overflow-layout-panel-large-spacing) var(--overflow-layout-panel-large-spacing) var(--uitk-size-unit) var(--overflow-layout-panel-large-spacing);
}

.uitkOverflowLayoutPanel > .uitkFormField:last-child {
  --uitkFormField-margin: 0 var(--overflow-layout-panel-large-spacing) var(--overflow-layout-panel-large-spacing) var(--overflow-layout-panel-large-spacing);
}
