.parent-child-layout {
  width: 500px;
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-secondary-borderColor);
}

.parent-content {
  padding: var(--salt-spacing-300);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85px;
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-secondary-borderColor);
}

.child-content {
  padding: var(--salt-spacing-300);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-secondary-borderColor);
}

nav {
  position: relative;
  min-width: 160px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h2 {
  margin: 0;
}

.preferences-layout-container {
  width: 100%;
}

.preferences-layout-parent-view {
  width: 160px;
}

.preferences-layout-child-view {
  padding-right: var(--salt-spacing-300);
}
