/* Style applied to the root element */
.saltPillInput {
  align-items: center;
  background: var(--saltPillInput-background, var(--pillInput-background));
  border-radius: var(--salt-palette-corner-weak, 0);
  color: var(--saltPillInput-color, var(--salt-content-primary-foreground));
  display: inline-flex;
  font-family: var(--salt-text-fontFamily);
  font-size: var(--saltPillInput-fontSize, var(--salt-text-fontSize));
  line-height: var(--saltPillInput-lineHeight, var(--salt-text-lineHeight));
  letter-spacing: var(--salt-text-letterSpacing);
  min-height: var(--saltPillInput-minHeight, var(--salt-size-base));
  min-width: var(--saltPillInput-minWidth, 4em);
  padding-left: var(--saltPillInput-paddingLeft, var(--salt-spacing-100));
  padding-right: var(--saltPillInput-paddingRight, var(--salt-spacing-100));
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.saltPillInput-truncate {
  height: var(--salt-size-base);
}

.saltPillInput-truncate .saltPillInput-inputWrapper {
  flex-wrap: nowrap;
}

.saltPillInput:hover {
  cursor: var(--salt-cursor-text);
}

/* Style applied if `bordered={true}` */
.saltPillInput-bordered.saltPillInput {
  --pillInput-borderWidth: var(--salt-size-fixed-100);
  border: var(--pillInput-borderWidth) var(--salt-borderStyle-solid) var(--pillInput-borderColor);
}

.saltPillInput-bordered.saltPillInput:hover {
  border-style: var(--salt-borderStyle-solid);
  border-color: var(--pillInput-borderColor-hover);
}

/* Style applied if focused or active when `bordered={true}` */
.saltPillInput-bordered.saltPillInput-focused,
.saltPillInput-bordered.saltPillInput-focused:hover {
  border-style: var(--salt-borderStyle-solid);
  border-color: var(--pillInput-borderColor-active);
}

.saltPillInput-bordered.saltPillInput-readOnly,
.saltPillInput-bordered.saltPillInput-readOnly:hover {
  border-style: var(--salt-borderStyle-solid);
  border-color: var(--salt-editable-borderColor-readonly);
}

.saltPillInput-bordered.saltPillInput-disabled,
.saltPillInput-bordered.saltPillInput-disabled:hover {
  border-style: var(--salt-borderStyle-solid);
  border-color: var(--salt-editable-borderColor-disabled);
}

.saltPillInput-activationIndicator {
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  border-bottom: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--pillInput-borderColor);
}

.saltPillInput:hover .saltPillInput-activationIndicator {
  border-bottom-style: var(--salt-borderStyle-solid);
  border-bottom-color: var(--pillInput-borderColor-hover);
}

.saltPillInput-focused .saltPillInput-activationIndicator,
.saltPillInput-focused:hover .saltPillInput-activationIndicator {
  border-bottom: var(--salt-size-fixed-200) var(--salt-borderStyle-solid) var(--pillInput-borderColor-active);
}

.saltPillInput-readOnly .saltPillInput-activationIndicator,
.saltPillInput-readOnly:hover .saltPillInput-activationIndicator {
  border-bottom-style: var(--salt-borderStyle-solid);
  border-bottom-color: var(--salt-editable-borderColor-readonly);
}

.saltPillInput-disabled .saltPillInput-activationIndicator,
.saltPillInput-disabled:hover .saltPillInput-activationIndicator {
  border-bottom-style: var(--salt-borderStyle-solid);
  border-bottom-color: var(--salt-editable-borderColor-disabled);
}

.saltPillInput-bordered .saltPillInput-activationIndicator,
.saltPillInput-bordered.saltPillInput-readOnly .saltPillInput-activationIndicator,
.saltPillInput-bordered.saltPillInput-disabled:hover .saltPillInput-activationIndicator {
  border-bottom-width: 0;
}

.saltPillInput-bordered.saltPillInput-focused .saltPillInput-activationIndicator {
  border-bottom-width: calc(var(--salt-size-fixed-200) - var(--pillInput-borderWidth));
}

/* Class applied if `variant="primary"` */
.saltPillInput-primary {
  --pillInput-background: var(--salt-editable-primary-background);
  --pillInput-background-disabled: var(--salt-editable-primary-background-disabled);
  --pillInput-background-readonly: var(--salt-editable-background-readonly);
  --pillInput-borderColor: var(--salt-editable-borderColor);
  --pillInput-borderColor-active: var(--salt-editable-borderColor-active);
  --pillInput-borderColor-hover: var(--salt-editable-borderColor-hover);
  --pillInput-outlineColor: var(--salt-focused-outlineColor);
}

/* Class applied if `variant="secondary"` */
.saltPillInput-secondary {
  --pillInput-background: var(--salt-editable-secondary-background);
  --pillInput-background-disabled: var(--salt-editable-secondary-background-disabled);
  --pillInput-background-readonly: var(--salt-editable-background-readonly);
  --pillInput-borderColor: var(--salt-editable-borderColor);
  --pillInput-borderColor-active: var(--salt-editable-borderColor-active);
  --pillInput-borderColor-hover: var(--salt-editable-borderColor-hover);
  --pillInput-outlineColor: var(--salt-focused-outlineColor);
}

/* Class applied if `variant="tertiary"` */
.saltPillInput-tertiary {
  --pillInput-background: var(--salt-editable-tertiary-background);
  --pillInput-background-readonly: var(--salt-editable-background-readonly);
  --pillInput-borderColor: var(--salt-editable-borderColor);
  --pillInput-borderColor-active: var(--salt-editable-borderColor-active);
  --pillInput-borderColor-hover: var(--salt-editable-borderColor-hover);
  --pillInput-outlineColor: var(--salt-focused-outlineColor);
}

/* Style applied to input if `validationState="error"` */
.saltPillInput-error {
  --pillInput-background: var(--salt-status-error-background);
  --pillInput-background-readonly: var(--salt-status-error-background);
  --pillInput-borderColor: var(--salt-status-error-borderColor);
  --pillInput-borderColor-active: var(--salt-status-error-borderColor);
  --pillInput-borderColor-hover: var(--salt-status-error-borderColor);
  --pillInput-outlineColor: var(--salt-status-error-borderColor);
}

/* Style applied to input if `validationState="warning"` */
.saltPillInput-warning {
  --pillInput-background: var(--salt-status-warning-background);
  --pillInput-background-readonly: var(--salt-status-warning-background);
  --pillInput-borderColor: var(--salt-status-warning-borderColor);
  --pillInput-borderColor-active: var(--salt-status-warning-borderColor);
  --pillInput-borderColor-hover: var(--salt-status-warning-borderColor);
  --pillInput-outlineColor: var(--salt-status-warning-borderColor);
}

/* Style applied to input if `validationState="success"` */
.saltPillInput-success {
  --pillInput-background: var(--salt-status-success-background);
  --pillInput-background-readonly: var(--salt-status-success-background);
  --pillInput-borderColor: var(--salt-status-success-borderColor);
  --pillInput-borderColor-active: var(--salt-status-success-borderColor);
  --pillInput-borderColor-hover: var(--salt-status-success-borderColor);
  --pillInput-outlineColor: var(--salt-status-success-borderColor);
}

/* Styling when focused */
.saltPillInput-focused,
.saltPillInput-focused:hover {
  cursor: var(--salt-cursor-text);
  outline: var(--saltPillInput-outline, var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--pillInput-outlineColor));
}

/* Style applied if `readOnly={true}` */
.saltPillInput.saltPillInput-readOnly {
  background: var(--pillInput-background-readonly);
  cursor: var(--salt-cursor-readonly);
}

/* Styling when focused if `disabled={true}` */
.saltPillInput-disabled,
.saltPillInput-disabled:hover {
  background: var(--pillInput-background-disabled);
  cursor: var(--salt-cursor-disabled);
  color: var(--saltPillInput-color-disabled, var(--salt-content-primary-foreground-disabled));
}

/* Style applied to start adornments */
.saltPillInput-startAdornmentContainer {
  align-items: center;
  display: inline-flex;
  padding-right: var(--salt-spacing-100);
  column-gap: var(--salt-spacing-100);
}

/* Style applied to end adornments */
.saltPillInput-endAdornmentContainer {
  align-items: center;
  display: inline-flex;
  padding-left: var(--salt-spacing-50);
  padding-top: var(--salt-spacing-50);
  column-gap: var(--salt-spacing-100);
  align-self: flex-start;
}

.saltPillInput-statusAdornmentContainer {
  align-self: flex-start;
  display: inline-flex;
  align-items: center;
  height: var(--salt-size-base);
}

.saltPillInput-readOnly .saltPillInput-startAdornmentContainer {
  margin-left: var(--salt-spacing-50);
}

.saltPillInput-startAdornmentContainer .saltButton ~ .saltButton {
  margin-left: calc(-1 * var(--salt-spacing-50));
}

.saltPillInput-endAdornmentContainer .saltButton ~ .saltButton {
  margin-left: calc(-1 * var(--salt-spacing-50));
}

.saltPillInput-startAdornmentContainer .saltButton:first-child {
  margin-left: calc(var(--salt-spacing-50) * -1);
}

.saltPillInput-endAdornmentContainer .saltButton:last-child {
  margin-right: calc(var(--salt-spacing-50) * -1);
}

.saltPillInput-startAdornmentContainer > .saltButton,
.saltPillInput-endAdornmentContainer > .saltButton {
  --saltButton-padding: calc(var(--salt-spacing-50) - var(--button-borderWidth));
  --saltButton-height: calc(var(--salt-size-base) - var(--salt-spacing-100));
  --saltButton-borderRadius: var(--salt-palette-corner-weaker);
}

.saltPillInput-inputWrapper {
  display: flex;
  gap: var(--salt-spacing-50);
  align-items: center;
  flex: 1;
  padding: var(--salt-spacing-50) 0;
  flex-wrap: wrap;
  max-height: inherit;
  height: inherit;
  overflow-y: auto;
  box-sizing: border-box;
}

.saltPillInput-bordered > .saltPillInput-endAdornmentContainer {
  padding-top: calc(var(--salt-spacing-50) - var(--pillInput-borderWidth));
}

.saltPillInput-bordered > .saltPillInput-inputWrapper {
  padding: calc(var(--salt-spacing-50) - var(--pillInput-borderWidth)) 0;
}

.saltPillInput-pillList {
  display: contents;
}

.saltPillInput-pillList div[role="listitem"] {
  display: inline;
}

.saltPillInput-overflowIndicator {
  width: calc(var(--salt-size-base) - var(--salt-spacing-100));
  height: calc(var(--salt-size-base) - var(--salt-spacing-100));
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style applied to inner input component */
.saltPillInput-input {
  background: none;
  border: none;
  box-sizing: content-box;
  color: inherit;
  cursor: inherit;
  display: block;
  flex: 1;
  font: inherit;
  height: 100%;
  letter-spacing: var(--saltPillInput-letterSpacing, 0);
  margin: 0;
  min-width: 0;
  overflow: hidden;
  padding: 0;
  text-align: var(--pillInput-textAlign, left);
  width: 100%;
}

/* Reset in the  class */
.saltPillInput-input:focus {
  outline: none;
}

/* Style applied to selected input if `disabled={true}` */
.saltPillInput-disabled .saltPillInput-input::selection {
  background: none;
}

/* Style applied to placeholder text */
.saltPillInput-input::placeholder {
  color: var(--salt-content-secondary-foreground);
  font-weight: var(--salt-text-fontWeight-small);
}
