.saltLink {
  --link-color: "inherit";
  --link-color-hover: "inherit";
  --link-color-active: "inherit";
  --link-color-visited: var(--salt-content-foreground-visited);
  --link-color-focus: "inherit";
  --link-focus-outlineColor: currentColor;

  --link-fontFamily: var(--salt-text-fontFamily);
}

.saltLink-underlineLink {
  --link-textDecoration: var(--salt-typography-textDecoration-underline);
  --link-textDecoration-hover: var(--salt-typography-textDecoration-none);
  /* Active takes default */
  --link-textDecoration-active: var(--link-textDecoration);
  /* Focus takes hover */
  --link-textDecoration-focus: var(--link-textDecoration-hover);
  /* Visited takes default */
  --link-textDecoration-visited: var(--link-textDecoration);
}

.saltLink-underlineHover {
  --link-textDecoration: var(--salt-typography-textDecoration-none);
  --link-textDecoration-hover: var(--salt-typography-textDecoration-underline);
  --link-textDecoration-focus: var(--salt-typography-textDecoration-none);
}

/* Main css class */
.saltLink.saltText {
  color: var(--link-color);
  letter-spacing: var(--salt-text-letterSpacing);
  text-decoration: var(--link-textDecoration);
  font-family: var(--link-fontFamily);
}

/* Primary variant */
.saltLink-primary {
  --link-color: var(--salt-content-primary-foreground);
  --link-color-hover: var(--salt-content-primary-foreground);
  --link-color-active: var(--salt-content-primary-foreground);
  --link-color-focus: var(--salt-content-primary-foreground);
  --link-focus-outlineColor: var(--salt-focused-outlineColor);
  --link-color-visited: var(--salt-content-foreground-visited);
}

/* Secondary variant */
.saltLink-secondary {
  --link-color: var(--salt-content-secondary-foreground);
  --link-color-hover: var(--salt-content-secondary-foreground);
  --link-color-active: var(--salt-content-secondary-foreground);
  --link-color-focus: var(--salt-content-secondary-foreground);
  --link-focus-outlineColor: var(--salt-focused-outlineColor);
  --link-color-visited: var(--salt-content-foreground-visited);
}

.saltLink-accent {
  --link-color: var(--salt-content-accent-foreground);
  --link-color-hover: var(--salt-content-accent-foreground);
  --link-color-active: var(--salt-content-accent-foreground);
  --link-color-focus: var(--salt-content-accent-foreground);
  --link-focus-outlineColor: var(--salt-focused-outlineColor);
  --link-color-visited: var(--salt-content-foreground-visited);
}

/* External link's icon */
.saltLink .saltLink-icon {
  margin-left: var(--salt-spacing-75);
  margin-bottom: -2px;
}

/* Set color for visited link */
.saltLink:visited {
  color: var(--saltLink-color-visited, var(--link-color-visited));
  text-decoration: var(--link-textDecoration-visited);
}

/* Set color for hovered link */
.saltLink:hover {
  color: var(--saltLink-color-hover, var(--link-color-hover));
  text-decoration: var(--link-textDecoration-hover);
}

/* Set color for active link */
.saltLink:active {
  color: var(--saltLink-color-active, var(--link-color-active));
  text-decoration: var(--link-textDecoration-active);
}

/* Set color for focused link */
.saltLink:focus {
  color: var(--saltLink-color-focus, var(--link-color-focus));
  outline: var(--salt-focused-outline);
  outline-color: var(--link-focus-outlineColor);
  text-decoration: var(--link-textDecoration-focus);
}

/* Class for ADA content */
.saltLink-externalLinkADA {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: 0px;
  left: 0px;
  opacity: 0;
}
