.uitkLink {
  --link-color: var(--uitkLink-color, var(--uitk-text-link-foreground));
  --link-color-hover: var(--uitkLink-color-hover, var(--uitk-text-link-foreground-hover));
  --link-color-active: var(--uitkLink-color-active, var(--uitk-text-link-foreground-active));
  /* Awaiting the characteristic for visited links */
  --link-color-visited: var(--uitkLink-color-visited, var(--uitk-text-link-foreground-visited));
  /* When focused, we also want hover style */
  --link-color-focus: var(--uitkLink-color-focus, var(--link-color-hover));
  --link-color-disabled: var(--uitkLink-color-disabled, var(--uitk-text-link-foreground-disabled));

  --link-textDecoration: var(--uitk-text-link-textDecoration);

  --link-fontFamily: var(--uitk-text-fontFamily);
  --link-focus-outline: var(--uitk-focused-outline);
}

.uitkLink {
  color: var(--link-color);
  letter-spacing: 0px;
  text-decoration: var(--link-textDecoration);
  font-family: var(--link-fontFamily);
}

.uitkLink-icon {
  margin-left: calc(var(--uitk-size-unit) * 0.75);
}

.uitkLink:visited,
.uitkLink:visited .uitkLink-icon {
  color: var(--link-color-visited);
}

.uitkLink:hover,
.uitkLink:hover .uitkLink-icon {
  color: var(--link-color-hover);
}

.uitkLink:active,
.uitkLink:active .uitkLink-icon {
  color: var(--link-color-active);
}

.uitkLink:focus {
  outline: var(--link-focus-outline);
  color: var(--link-color-focus);
}

.uitkLink-disabled,
.uitkLink-disabled:hover {
  cursor: var(--uitk-actionable-cursor-disabled);
  color: var(--link-color-disabled);
}
