.saltLink {
  --link-color-hover: var(--saltLink-color-hover, var(--salt-content-foreground-hover));
  --link-color-active: var(--saltLink-color-active, var(--salt-content-foreground-active));
  --link-color-visited: var(--saltLink-color-visited, var(--salt-content-foreground-visited));
  /* When focused, we also want hover style */
  --link-color-focus: var(--saltLink-color-focus, var(--link-color-hover));

  --link-textDecoration: var(--salt-navigable-textDecoration);
  --link-textDecoration-hover: var(--salt-navigable-textDecoration-hover);

  --link-fontFamily: var(--salt-text-fontFamily);
  --link-focus-outline: var(--salt-focused-outline);
}

/* Main css class */
.saltLink {
  color: var(--link-color);
  letter-spacing: var(--salt-text-letterSpacing);
  text-decoration: var(--link-textDecoration);
  font-family: var(--link-fontFamily);
}

/* Primary variant */
.saltText-primary {
  --link-color: var(--salt-content-primary-foreground);
}

/* Secondary variant */
.saltText-secondary {
  --link-color: var(--salt-content-secondary-foreground);
}

/* External link's icon */
.saltLink .saltLink-icon {
  margin-left: var(--salt-spacing-75);
  margin-bottom: -2px;
}

/* Set color for visited link */
.saltLink:visited {
  color: var(--link-color-visited);
}

/* Set color for hovered link */
.saltLink:hover {
  color: var(--link-color-hover);
  text-decoration: var(--link-textDecoration-hover);
}

/* Set color for active link */
.saltLink:active {
  color: var(--link-color-active);
}

/* Set color for focused link */
.saltLink:focus {
  outline: var(--link-focus-outline);
  color: var(--link-color-focus);
  text-decoration: var(--link-textDecoration-hover);
}

/* Class for ADA content */
.saltLink-externalLinkADA {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: 0px;
  left: 0px;
  opacity: 0;
}
