.salt-density-high {
  --pill-icon-offset: 1px;
}

.salt-density-medium {
  --pill-icon-offset: 2px;
}

.salt-density-low {
  --pill-icon-offset: 3px;
}

.salt-density-touch {
  --pill-icon-offset: 4px;
}

/* Styles applied to the root element */
.saltPill {
  --pill-background: var(--saltPill-background, var(--salt-actionable-primary-background));
  --pill-background-active: var(--saltPill-background-active, var(--salt-actionable-primary-background-active));
  --pill-background-disabled: var(--saltPill-background-disabled, var(--salt-actionable-primary-background-disabled));
  --pill-background-hover: var(--saltPill-background-hover, var(--salt-actionable-primary-background-hover));
  --pill-checkbox-size: var(--saltPill-checkbox-size, calc(var(--pill-height) - 2px));
  --pill-fontSize: var(--saltPill-fontSize, var(--salt-text-label-fontSize));
  --pill-height: calc(var(--salt-size-base) - (var(--salt-size-unit) * 1.5));
  --pill-icon-color: var(--saltPill-icon-color, var(--salt-actionable-primary-foreground));
  --pill-icon-color-active: var(--saltPill-icon-color-active, var(--salt-actionable-primary-foreground-active));
  --pill-icon-color-hover: var(--saltPill-icon-color-hover, var(--salt-actionable-primary-foreground-hover));
  --pill-icon-color-disabled: var(--saltPill-icon-color-disabled, var(--salt-actionable-primary-foreground-disabled));
  --pill-text-color: var(--saltPill-text-color, var(--salt-actionable-primary-foreground));
  --pill-text-color-active: var(--saltPill-text-color-active, var(--salt-actionable-primary-foreground-active));
  --pill-text-color-hover: var(--saltPill-text-color-hover, var(--salt-actionable-primary-foreground-hover));
  --pill-text-color-disabled: var(--saltPill-text-color-disabled, var(--salt-actionable-primary-foreground-disabled));

  /* Button API */
  --saltButton-fontWeight: var(--saltPill-button-fontWeight, var(--salt-text-fontWeight));
  --saltButton-padding: var(--saltPill-button-padding, 0);
  --saltButton-textTransform: var(--saltPill-button-textTransform, unset);
  --saltButton-cursor: normal;
  --saltButton-height: var(--saltPill-height, var(--pill-checkbox-size)); /* TODO: Check with design vs checkbox height */
  --saltButton-background: var(--pill-background);
  --saltButton-color: var(--pill-text-color);
  --saltButton-fontSize: var(--pill-fontSize);
  --saltButton-letterSpacing: var(--saltPill-letterSpacing, 0);
  --saltButton-lineHeight: var(--saltPill-lineHeight, var(--salt-text-label-lineHeight));
  --saltButton-minWidth: var(--saltPill-minWidth, 40px);
}

.saltPill {
  align-items: center;
  border-radius: var(--saltPill-borderRadius, 0);
  display: inline-flex;
  max-width: var(--saltPill-maxWidth, 160px);
  min-height: var(--saltPill-minHeight, var(--salt-text-minHeight));
  outline: var(--saltPill-outline, 0);
  position: relative;
  gap: 0;
}

.saltPill:hover {
  --saltButton-background-active: var(--pill-background-active);
  --saltButton-background-hover: var(--pill-background-hover);

  --saltIcon-color: var(--pill-icon-color);
  --saltIcon-color-hover: var(--pill-icon-color-hover);

  background: var(--pill-background-hover);
}

/* Style applied to Pill when active */
.saltPill:active,
.saltPill-active {
  --saltButton-background-active: var(--pill-background-active);
}

/* Style applied to Pill on focus */
.saltPill:focus {
  outline-color: var(--saltPill-focused-outlineColor, var(--salt-focused-outlineColor));
  outline-style: var(--saltPill-focused-outlineStyle, var(--salt-focused-outlineStyle));
  outline-width: var(--salt-focused-outlineWidth);
  outline-offset: var(--salt-focused-outlineOffset);
}

/* Style applied to Pill icon if `clickable={true}`  */
.saltPill-clickable {
  --saltButton-background-active: var(--pill-background);
  --saltButton-background-hover: var(--pill-background);

  cursor: var(--salt-selectable-cursor-hover);
  user-select: none;
}

/* Style applied to Pill when `deletable={true}` */
.saltPill-deletable {
  --saltButton-background-active: var(--pill-background);
  --saltButton-background-hover: var(--pill-background);
}

.saltPill-selectable:hover,
.saltPill-deletable:hover {
  --saltButton-background-active: var(--pill-background);
  --saltButton-background-hover: var(--pill-background);
}

/* Style applied to Pill when active if `selectable={true}` */
.saltPill-selectable:active,
.saltPill-active.saltPill-selectable {
  --saltButton-background-active: var(--pill-background);
}

/* Style applied to Pill when disabled */
.saltPill-disabled,
.saltPill-disabled:hover,
.saltPill-disabled:active {
  --saltButton-background-active: var(--pill-background-disabled);
  --saltButton-background-hover: var(--pill-background-disabled);
  --saltButton-text-color-active: var(--pill-text-color);
  --saltButton-text-color-hover: var(--pill-text-color);
  --saltCheckbox-icon-tick-color: var(--salt-actionable-primary-foreground-disabled);
  --saltCheckbox-icon-stroke-hover: var(--salt-selectable-borderColor-disabled);

  background: var(--pill-background-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}

/* Checkbox styles for selectable Pill when `disabled={true}` */
.saltPill-disabled .saltPill-checkbox {
  --saltCheckbox-icon-tick-color: var(--salt-actionable-primary-foreground-disabled);
  --saltCheckbox-icon-stroke: var(--salt-selectable-borderColor-disabled);
  --saltCheckbox-icon-stroke-hover: var(--salt-selectable-borderColor-disabled);
}

/* Style applied to Pill label */
.saltPill-label {
  color: var(--saltPill-text-color, var(--pill-text-color));
  display: inline;
  flex-grow: 1;
  font-weight: var(--saltPill-fontWeight, var(--salt-text-fontWeight));
  overflow: hidden;
  padding-left: var(--saltPill-label-paddingLeft, var(--salt-size-adornmentGap));
  padding-right: var(--saltPill-label-paddingRight, var(--salt-size-adornmentGap));
  pointer-events: none;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Style applied to Pill label when `deletable={true}` */
.saltPill-deletable .saltPill-label {
  padding-right: 0px;
}

/* Style applied to Pill label inner text */
.saltPill-innerLabel {
  vertical-align: top;
  line-height: var(--pill-height);
}

/* Style applied to Pill label and icon when `disabled={true}` */
.saltPill-disabled .saltPill-label,
.saltPill-disabled .saltIcon {
  cursor: var(--salt-selectable-cursor-disabled);
  opacity: var(--salt-palette-opacity-disabled);

  --saltIcon-color: var(--pill-icon-color-disabled);
  --saltIcon-color-hover: var(--pill-icon-color-disabled);
}

/* Style applied to Pill delete button */
.saltPill-deleteButton {
  --saltButton-background-hover: var(--pill-background-hover);
  --saltButton-background-active: var(--pill-background-active);
  --saltButton-cursor: pointer;

  flex-shrink: 0;
  height: var(--pill-checkbox-size);
  margin-left: calc(var(--salt-size-unit) / 2);
  min-height: var(--saltPill-minHeight, var(--salt-text-minHeight));
  padding-right: calc(var(--salt-size-unit) / 2);
}

/* Style applied to Pill delete button if `disabled={true}` */
.saltPill-deleteButton-disabled {
  --saltButton-background-hover: var(--pill-background-disabled);
  --saltButton-background-active: var(--pill-background-disabled);
  --saltButton-background-disabled: initial;
}

/* Style applied to Pill delete button icon  */
.saltPill-deleteButton .saltPill-deleteIcon {
  left: var(--saltPill-deleteButton-left, var(--pill-icon-offset));
  position: relative;
}

/* Style applied to Pill delete button icon on active state  */
.saltPill-deleteButton:active .saltPill-deleteIcon {
  --saltIcon-color: var(--saltPill-deleteButton-color-active, var(--pill-icon-color-active));
}

/* Style applied to Pill delete button icon if `disabled={true}` on active state  */
.saltPill-disabled:active .saltPill-deleteIcon {
  --saltButton-background-active: var(--pill-background-disabled);
  --saltIcon-color: var(--saltPill-deleteButton-color-disabled, var(--pill-icon-color));
}

/* Style applied to Pill icon */
.saltPill .saltPill-icon {
  fill: var(--pill-icon-color);
  height: 12px; /* TODO: Replace with updated size */
  margin-left: var(--salt-size-adornmentGap);
  margin-right: calc(var(--salt-size-unit) * 0.5);
}

/* Style applied to Pill icon on active state */
.saltPill:active .saltPill-icon,
.saltPill-active .saltPill-icon {
  fill: var(--pill-icon-color-active);
}

.saltPill:not(.saltPill-deletable) .saltPill-icon + .saltPill-label {
  padding-left: 0;
}

/* Pill label styles on hover */
.saltPill:hover .saltPill-label {
  color: var(--pill-text-color-hover);
}

/* Pill label styles on active state */
.saltPill:active .saltPill-label {
  color: var(--pill-text-color-active);
}

/* Pill label styles when `selectable={true}` or `deletable={true}` */
.saltPill-selectable .saltPill-label,
.saltPill-selectable:active .saltPill-label,
.saltPill-deletable .saltPill-label,
.saltPill-deletable:active .saltPill-label {
  background: var(--pill-background);
  color: var(--pill-text-color);
}

/* Pill label styles when  `disabled={true}` */
.saltPill-disabled .saltPill-label,
.saltPill-disabled:active .saltPill-label {
  background: initial;
  color: var(--pill-text-color-disabled);
}
