/* Styles applied to the root element */
.saltPill {
  --pill-background: var(--saltPill-background, var(--salt-actionable-primary-background));
  --pill-background-active: var(--saltPill-background-active, var(--salt-actionable-primary-background-active));
  --pill-background-disabled: var(--saltPill-background-disabled, var(--salt-actionable-primary-background-disabled));
  --pill-background-hover: var(--saltPill-background-hover, var(--salt-actionable-primary-background-hover));
  --pill-fontSize: var(--saltPill-fontSize, var(--salt-text-fontSize));
  --pill-height: calc(var(--salt-size-base) - var(--salt-size-unit));
  --pill-text-color: var(--saltPill-text-color, var(--salt-actionable-primary-foreground));
  --pill-text-color-active: var(--saltPill-text-color-active, var(--salt-actionable-primary-foreground-active));
  --pill-text-color-hover: var(--saltPill-text-color-hover, var(--salt-actionable-primary-foreground-hover));
  --pill-text-color-disabled: var(--saltPill-text-color-disabled, var(--salt-actionable-primary-foreground-disabled));
}

.saltPill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--pill-background);
  border-radius: var(--saltPill-borderRadius, 0);
  height: var(--saltPill-height, var(--pill-height));
  /* max-width: var(--saltPill-maxWidth, 10em); */
  min-width: var(--saltPill-minWidth, 4em);
  min-height: var(--saltPill-minHeight, var(--salt-text-minHeight));
  outline: var(--saltPill-outline, 0);
  position: relative;
  gap: var(--saltPill-gap, var(--salt-spacing-50));
  padding-inline: var(--salt-spacing-50);
  color: var(--saltPill-text-color, var(--pill-text-color));
  font-size: var(--pill-fontSize);
  font-weight: var(--saltPill-fontWeight, var(--salt-text-fontWeight));
  letter-spacing: var(--saltPill-letterSpacing, 0);
  line-height: var(--saltPill-lineHeight, var(--salt-text-label-lineHeight));
}

.saltPill-label {
  min-width: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.saltPill .saltIcon {
  --saltIcon-color: currentColor;
}

/* Style applied to Pill if `onClick` prop is provided  */
.saltPill-clickable {
  cursor: var(--salt-selectable-cursor-hover);
  user-select: none;
}

.saltPill-clickable:hover {
  color: var(--pill-text-color-hover);
  background: var(--pill-background-hover);
}

.saltPill-clickable[aria-disabled]:hover,
.saltPill-nestedHover:hover {
  color: var(--pill-text-color);
  background: var(--pill-background);
}

.saltPill-clickable.saltPill-active,
.saltPill-clickable:active {
  background: var(--pill-background-active);
  color: var(--pill-text-color-active);
}

.saltPill-clickable[aria-disabled].saltPill-active,
.saltPill-clickable[aria-disabled]:active,
.saltPill-clickable.saltPill-nestedHover.saltPill-active,
.saltPill-clickable.saltPill-nestedHover:active {
  background: var(--pill-background);
  color: var(--pill-text-color);
}

/* Style applied to Pill on focus */
.saltPill:focus-visible {
  outline: var(--salt-focused-outline);
}

/* Style applied to Pill when disabled */
.saltPill[aria-disabled],
.saltPill[aria-disabled]:hover,
.saltPill[aria-disabled]:active {
  color: var(--pill-text-color-disabled);
  background: var(--pill-background-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}
