.saltVerticalNavigationItem {
  --verticalNavigationItem-depth-counter-2: calc(var(--verticalNavigationItem-depth-counter-1) + 1);
  --verticalNavigationItem-depth: min(var(--verticalNavigationItem-depth-counter-1), var(--verticalNavigationItem-depth-counter-2));
  --verticalNavigationItem-parent-has-icon-count: calc(var(--verticalNavigationItem-parent-has-icon) + 1);
  --icon-count: min(var(--verticalNavigationItem-parent-has-icon), var(--verticalNavigationItem-parent-has-icon-count));
}

.saltVerticalNavigation {
  --verticalNavigationItem-parent-has-icon: 0;
}

.saltVerticalNavigationItem:has(> .saltVerticalNavigationItemContent .saltIcon:first-child) .saltVerticalNavigationSubMenu {
  --verticalNavigationItem-parent-has-icon: calc(var(--verticalNavigationItem-parent-has-icon-count));
}
