@import "~ag-grid-community/src/styles/ag-theme-base/sass/ag-theme-base-default-params";
@import "./uitk-ag-theme-font-vars";

$uitk-ag-theme-default-params: (
  grid-size: 8px,
  icon-size: 18px,
  header-height: ag-derived(grid-size, $times: 7),
  row-height: ag-derived(grid-size, $times: 6),
  cell-horizontal-padding: ag-derived(grid-size, $times: 3),
  list-item-height: ag-derived(grid-size, $times: 4),
  row-group-indent-size: ag-derived(grid-size, $times: 3, $plus: icon-size),
  filter-tool-panel-sub-level-row-height: ag-derived(grid-size, $times: 4),
  checkbox-border-radius: 2px,
  toggle-button-switch-border-width: 2px,
  toggle-button-height: ag-derived(icon-size),
  widget-container-vertical-padding: ag-derived(grid-size, $times: 2),
  widget-vertical-spacing: ag-derived(grid-size, $times: 1.75),
  selected-tab-underline-width: 2px,
  full-width-tabs: true,
  data-color: ag-derived(foreground-color),
  secondary-foreground-color: ag-derived(foreground-color),
  header-foreground-color: var(--agGrid-header-foreground),
  disabled-foreground-color: var(--agGrid-foreground-disabled),
  header-background-color: null,
  subheader-background-color: null,
  subheader-toolbar-background-color: null,
  control-panel-background-color: null,
  selected-row-background-color: var(--agGrid-row-background-selected),
  odd-row-background-color: null,
  row-hover-color: var(--agGrid-row-color-hover),
  column-hover-color: null,
  range-selection-highlight-color: ag-derived(range-selection-border-color),
  selected-tab-underline-color: ag-derived(range-selection-border-color),
  selected-tab-underline-transition-speed: null,
  header-cell-hover-background-color: null,
  header-cell-moving-background-color:
    ag-derived(header-cell-hover-background-color),
  chip-background-color: null,
  suppress-css-var-overrides: false,
  // BORDERS
  borders: false,
  borders-critical: true,
  borders-secondary: true,
  borders-side-button: true,
  side-bar-panel-width: 200px,
  border-radius: 0px,
  border-color: var(--agGrid-borderColor),
  secondary-border-color: var(--agGrid-borderColor),
  row-border-color: var(--agGrid-row-borderColor),
  cell-horizontal-border: solid transparent,
  header-column-separator: true,
  header-column-separator-width: 1px,
  header-column-separator-color: var(--agGrid-header-column-separator-color),
  header-column-resize-handle: false,
  header-column-resize-handle-height: 100%,
  header-column-resize-handle-width: 1px,
  header-column-resize-handle-color: var(--uitk-color-grey-90),
  // INPUTS
  suppress-native-widget-styling: false,
  input-border-color: null,
  input-disabled-border-color: ag-derived(input-border-color, $opacity: 0.3),
  input-disabled-background-color: null,
  checkbox-background-color: null,
  // checkbox-border-radius: ag-derived(border-radius),
  checkbox-checked-color: ag-derived(background-color),
  checkbox-unchecked-color: ag-derived(foreground-color),
  checkbox-indeterminate-color: ag-derived(checkbox-unchecked-color),
  toggle-button-off-border-color: ag-derived(checkbox-unchecked-color),
  toggle-button-off-background-color: ag-derived(checkbox-unchecked-color),
  toggle-button-on-border-color: ag-derived(checkbox-checked-color),
  toggle-button-on-background-color: ag-derived(checkbox-checked-color),
  toggle-button-switch-background-color: ag-derived(background-color),
  toggle-button-switch-border-color: ag-derived(toggle-button-off-border-color),
  toggle-button-border-width: 1px,
  input-focus-box-shadow: null,
  input-focus-border-color: null,
  // CHART SETTINGS
  minichart-selected-chart-color: ag-derived(checkbox-checked-color),
  minichart-selected-page-color: ag-derived(checkbox-checked-color),
  // Fonts
  font-family:
    (
      "uitk-sans",
      sans-serif,
    ),
  icon-font-family: $uitk-ag-theme-icon-font-family,
  icons-data: $uitk-ag-theme-icons-data,
  icons-font-codes: $uitk-ag-theme-icons-font-codes,
  card-radius: ag-derived(border-radius),
  card-shadow: none,
  popup-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
);

$uitk-ag-theme-default-params: map-merge(
  $ag-theme-base-default-params,
  $uitk-ag-theme-default-params
);
