/* Styles applied to the root element */
.uitkPanel {
  background: var(--uitkPanel-background, var(--uitk-container-background-medium));
  box-sizing: border-box;
  color: var(--uitkPanel-color, var(--uitk-text-primary-foreground));
  height: var(--uitkPanel-height, auto);
  overflow: auto;
  padding: var(--uitkPanel-padding, calc(var(--uitk-size-unit) * 3));
  width: var(--uitkPanel-width, 100%);
}

.uitkEmphasisHigh.uitkPanel {
  background: var(--uitkPanel-background, var(--uitk-container-background-high));
}
