/* Styles applied to the root element */
.saltPanel {
  background: var(--saltPanel-background, var(--salt-container-primary-background));
  height: var(--saltPanel-height, 100%);
  overflow: auto;
  padding: var(--saltPanel-padding, calc(var(--salt-size-unit) * 3));
  width: var(--saltPanel-width, 100%);
}

/* Styles applied to the root element when variant="secondary" */
.saltPanel-secondary.saltPanel {
  background: var(--saltPanel-background, var(--salt-container-secondary-background));
}
