/* Styles applied to the root element when variant="primary" */
.saltPanel-primary.saltPanel {
  --panel-background: var(--salt-container-primary-background);
}

/* Styles applied to the root element when variant="secondary" */
.saltPanel-secondary.saltPanel {
  --panel-background: var(--salt-container-secondary-background);
}

/* Styles applied to the root element */
.saltPanel {
  background: var(--saltPanel-background, var(--panel-background));
  color: var(--saltPanel-color, initial);
  height: var(--saltPanel-height, 100%);
  overflow: auto;
  padding: var(--saltPanel-padding, var(--salt-size-container-spacing));
  width: var(--saltPanel-width, 100%);

  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
}
