.salt-theme[data-brand="consumer"] /* WARNING: Copied from commercial theme, needs checking */ {
  --salt-focused-outlineColor: var(--salt-palette-accent-stronger);
  --salt-focused-outlineStyle: dotted;
  --salt-focused-outlineWidth: var(--salt-size-fixed-200);
  --salt-focused-outlineInset: 0;
  --salt-focused-outlineOffset: 0;

  --salt-focused-outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor); /* CSS shortcut token: not in Figma */
}
