.saltStepConnector {
  grid-area: connector;

  transition-duration: inherit;
  transition-timing-function: inherit;
  transition-property: opacity, min-height;
}

.saltStepper-horizontal .saltStepConnector {
  position: absolute;
  transform: translateY(-100%);
  top: calc(var(--step-icon-size) / 2);
  left: calc(50% + calc(var(--step-icon-size) / 2 + var(--salt-spacing-100)));
  right: calc(-50% + calc(var(--step-icon-size) / 2 + var(--salt-spacing-100)));

  border-top-width: var(--salt-size-fixed-200);
  border-top-style: var(--salt-borderStyle-dotted);
  border-top-color: var(--salt-track-borderColor);
}

.saltStepper-horizontal .saltStep-stage-completed > .saltStepConnector,
.saltStepper-horizontal .saltStep-stage-inprogress > .saltStepConnector {
  border-top-style: var(--salt-borderStyle-solid);
}

.saltStepper-vertical .saltStepConnector {
  min-height: var(--salt-size-base);
  align-self: stretch;
  justify-self: center;

  border-left-width: var(--salt-size-fixed-200);
  border-left-style: var(--salt-borderStyle-dotted);
  border-left-color: var(--salt-track-borderColor);
}

.saltStepper-vertical .saltStep-stage-completed > .saltStepConnector,
.saltStepper-vertical .saltStep-stage-inprogress > .saltStepConnector {
  border-left-style: var(--salt-borderStyle-solid);
}

.saltStep-depth-0.saltStep:not(.saltStep-expanded):last-child > .saltStepConnector {
  opacity: 0;
  min-height: 0;
}

.saltStep-depth-0.saltStep-expanded:last-child .saltStep:not(.saltStep-expanded):last-child .saltStepConnector {
  opacity: 0;
  min-height: 0;
}
