.saltStepIcon {
  grid-area: icon;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.saltStepper-vertical .saltStepIcon {
  height: var(--salt-size-base);
}

.saltStep-stage-pending > .saltStepIcon,
.saltStep-stage-locked > .saltStepIcon {
  --saltIcon-color: var(--salt-content-secondary-foreground);
}

.saltStep-stage-inprogress > .saltStepIcon,
.saltStep-stage-active > .saltStepIcon {
  --saltIcon-color: var(--salt-status-info-foreground-decorative);
}

.saltStep-stage-completed > .saltStepIcon {
  --saltIcon-color: var(--salt-status-success-foreground-decorative);
}

.saltStep-status-warning > .saltStepIcon {
  --saltIcon-color: var(--salt-status-warning-foreground-decorative);
}

.saltStep-status-error > .saltStepIcon {
  --saltIcon-color: var(--salt-status-error-foreground-decorative);
}
