.saltStatusIndicator {
  --statusIndicator-warning-color: var(--salt-status-warning-foreground);
  --statusIndicator-info-color: var(--salt-status-info-foreground);
  --statusIndicator-success-color: var(--salt-status-success-foreground);
  --statusIndicator-error-color: var(--salt-status-error-foreground);
  color: var(--saltStatusIndicator-color, var(--statusIndicator-Color));
}

.saltStatusIndicator-error {
  --statusIndicator-Color: var(--statusIndicator-error-color);
}

.saltStatusIndicator-warning {
  --statusIndicator-Color: var(--statusIndicator-warning-color);
}

.saltStatusIndicator-success {
  --statusIndicator-Color: var(--statusIndicator-success-color);
}

.saltStatusIndicator-info {
  --statusIndicator-Color: var(--statusIndicator-info-color);
}
