.uitkCircularProgress {
  color: var(--uitk-text-primary-foreground);
  display: inline-flex;
  position: relative;
}

.uitkCircularProgress-disabled .uitkCircularProgress-progressValue,
.uitkCircularProgress-disabled circle {
  color: var(--uitk-text-primary-foreground-disabled);
  cursor: var(--uitk-selectable-cursor-disabled);
}

.uitkCircularProgress-circle {
  stroke: url("#uitk-circular-progress-gradient");
  stroke-width: 2px;
}

.uitkCircularProgress-small {
  font-size: 11px;
}

.uitkCircularProgress-medium {
  font-size: 14px;
}

.uitkCircularProgress-large {
  font-size: 16px;
}

.uitkCircularProgress-progressValue {
  align-items: center;
  color: var(--uitk-text-primary-foreground);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
}

.uitkCircularProgress-disabled {
}

.uitkCircularProgress-completed {
}

.uitkCircularProgress-railCircle {
  stroke: var(--uitk-measured-background);
  stroke-width: 1px;
}

.uitkCircularProgress-gradientStart {
  stop-color: var(--uitk-measured-fill-startColor);
}

.uitkCircularProgress-gradientStop {
  stop-color: var(--uitk-measured-fill-stopColor);
}

.uitkCircularProgress-container {
  display: inline-block;
}

.uitkCircularProgress-static {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.uitkCircularProgress-indeterminate {
  animation: circular-rotate 1.4s linear infinite;
}

.uitkCircularProgress-svg {
  fill: var(--uitk-measured-background);
  display: block;
}

.uitkCircularProgress-circle {
  stroke: url("#uitk-circular-progress-gradient");
}

.uitkCircularProgress-circleStatic {
  transition: stroke-dashoffset 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.uitkCircularProgress-circleIndeterminate {
  animation: circular-dash 1.4s ease-in-out infinite;
}

@keyframes circular-rotate {
  0% {
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circular-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}
