.table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: calc(100% - 2rem);
  height: 100%;
}
.row {
  display: flex;
  width: 100%;
}
.table-cell {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1;
  height: 18px;
  justify-content: center;
  align-items: center;
}

.uitk-density-touch .table-cell {
  height: 22px;
}
