.saltMenuPanel {
  background: var(--salt-container-primary-background);
  border: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-container-primary-borderColor);
  overflow: hidden;
  overflow-y: auto;
  min-width: 10em;
  z-index: var(--salt-zIndex-popout);
}
