.saltMenuItem {
  color: var(--salt-content-primary-foreground);
  background: var(--salt-selectable-background);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding-left: var(--salt-spacing-100);
  padding-right: var(--salt-spacing-100);
  display: flex;
  gap: var(--salt-spacing-100);
  position: relative;
  align-items: center;
  cursor: var(--salt-selectable-cursor-hover);
  box-sizing: border-box;
}

.saltMenuItem:focus-visible {
  outline: var(--salt-focused-outline);
  outline-offset: calc(var(--salt-size-border) * -2);
}

.saltMenuItem:hover, .saltMenuItem:focus-visible {
  background: var(--salt-selectable-background-hover);
}

.saltMenuItem:active {
  background: var(--salt-selectable-background-selected);
}

.saltMenuItem:active::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  width: 100%;
}

.saltMenuItem:active::before {
  border-top: var(--salt-size-border) var(--salt-selectable-borderStyle-selected) var(--salt-selectable-borderColor-selected);
  border-bottom: var(--salt-size-border) var(--salt-selectable-borderStyle-selected) var(--salt-selectable-borderColor-selected);
}

.saltMenuItem:active.saltMenuItem-first::before {
  border-top: unset;
  top: 0;
}
.saltMenuItem:active.saltMenuItem-last::before {
  border-bottom: unset;
  bottom: 0;
}

.saltMenuItem[aria-disabled="true"] {
  color: var(--salt-text-primary-foreground-disabled);
}

.saltMenuItem-blurActive {
  background: var(--salt-selectable-background-selected);
}

.saltMenuItem-blurActive::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  width: 100%;
}

.saltMenuItem-blurActive::before {
  border-top: var(--salt-size-border) var(--salt-selectable-borderStyle-selected) var(--salt-selectable-borderColor-selected);
  border-bottom: var(--salt-size-border) var(--salt-selectable-borderStyle-selected) var(--salt-selectable-borderColor-selected);
}

.saltMenuItem-blurActive.saltMenuItem-first::before {
  border-top: unset;
  top: 0;
}
.saltMenuItem-blurActive.saltMenuItem-last::before {
  border-bottom: unset;
  bottom: 0;
}

.saltMenuItem-expandIcon.saltIcon {
  margin-left: auto;
}
