.saltMenuItem {
  color: var(--salt-text-primary-foreground);
  background: var(--salt-selectable-background);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding-left: var(--salt-spacing-100);
  padding-right: var(--salt-spacing-100);
  display: flex;
  gap: var(--salt-spacing-100);
  position: relative;
  align-items: center;
  margin-top: var(--salt-size-border);
  margin-bottom: var(--salt-size-border);
  border: var(--salt-size-border) var(--salt-container-borderStyle) transparent;
  cursor: var(--salt-selectable-cursor-hover);
}

.saltMenuItem-active {
  background: var(--salt-selectable-background-hover);
}

.saltMenuItem-focusVisible {
  outline: var(--salt-focused-outline);
  outline-offset: calc(var(--salt-size-border) * -2);
}

.saltMenuItem:hover {
  background: var(--salt-selectable-background-hover);
}

.saltMenuItem[aria-selected="true"] {
  background: var(--salt-selectable-background-selected);
  border-color: var(--salt-selectable-borderColor-selected);
}

.saltMenuItem[aria-disabled="true"] {
  color: var(--salt-text-primary-foreground-disabled);
}

.saltMenuItem-expandIcon {
  margin-left: auto;
}
