.saltDrawerCloseButton-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.saltButton-secondary.saltDrawerCloseButton {
  position: fixed;
  margin-top: calc(var(--salt-spacing-300) * -1);
  margin-right: calc(var(--salt-spacing-300) * -1);
}
