/* Styles applied to Drawer component */
.saltDrawer {
  background: var(--drawer-background);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: var(--salt-spacing-300);
  box-shadow: var(--salt-overlayable-shadow-modal);
  z-index: var(--salt-zIndex-drawer);
  position: fixed;
  top: 0;
  box-sizing: border-box;
}

/* Styles applied when variant = "primary" */
.saltDrawer-primary {
  --drawer-background: var(--salt-container-primary-background);
}

/* Styles applied when variant = "secondary" */
.saltDrawer-secondary {
  --drawer-background: var(--salt-container-secondary-background);
}

/* Styles applied when variant = "tertiary" */
.saltDrawer-tertiary {
  --drawer-background: var(--salt-container-tertiary-background);
}

/* Styles applied when position = "top" */
.saltDrawer-top {
  left: 0;
  right: 0;
  bottom: auto;
}

/* Styles applied when position = "top" and the component mounts */
.saltDrawer-top.saltDrawer-enterAnimation {
  animation: var(--salt-animation-slide-in-bottom);
}

/* Styles applied when position = "top" and the component unmounts */
.saltDrawer-top.saltDrawer-exitAnimation {
  animation: var(--salt-animation-slide-out-bottom);
}

/* Styles applied when position = "right" */
.saltDrawer-right {
  left: auto;
  right: 0;
  height: 100%;
}

/* Styles applied when position = "right" and the component mounts */
.saltDrawer-right.saltDrawer-enterAnimation {
  animation: var(--salt-animation-slide-in-right);
}

/* Styles applied when position = "right" and the component unmounts */
.saltDrawer-right.saltDrawer-exitAnimation {
  animation: var(--salt-animation-slide-out-right);
}

/* Styles applied when position = "left" */
.saltDrawer-left {
  left: 0;
  right: auto;
  height: 100%;
}

/* Styles applied when position = "left" and the component mounts */
.saltDrawer-left.saltDrawer-enterAnimation {
  animation: var(--salt-animation-slide-in-left);
}

/* Styles applied when position = "left" and the component unmounts */
.saltDrawer-left.saltDrawer-exitAnimation {
  animation: var(--salt-animation-slide-out-left);
}

/* Styles applied when position = "bottom" */
.saltDrawer-bottom {
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
}

/* Styles applied when position = "bottom" and the component mounts */
.saltDrawer-bottom.saltDrawer-enterAnimation {
  animation: var(--salt-animation-slide-in-top);
}

/* Styles applied when position = "bottom" and the component unmounts */
.saltDrawer-bottom.saltDrawer-exitAnimation {
  animation: var(--salt-animation-slide-out-top);
}
