.saltStaticListItem {
  list-style-type: none;
  color: var(--salt-content-primary-foreground);
  display: flex;
  gap: var(--salt-spacing-100);
  box-sizing: border-box;
  padding: var(--salt-spacing-50) var(--salt-spacing-100);
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
}

.saltStaticListItem .saltIcon {
  min-height: var(--salt-size-base);
}
