.saltStaticList {
  --staticList-height: auto;

  all: unset;
  display: flex;
  flex-direction: column;
  height: var(--saltStaticList-height, var(--staticList-height));
  width: var(--saltStaticList-width, auto);
  overflow-y: auto;
  padding-top: var(--salt-size-border);
}
