.saltStaticListItem {
  --static-list-item-text-color: var(--salt-content-primary-foreground);

  list-style: none;
  all: unset;
  color: var(--static-list-item-text-color);
  display: flex;
  gap: var(--salt-spacing-100);
  align-items: baseline;
  height: var(--saltStaticList-item-height, auto);
  box-sizing: border-box;
  padding: calc(var(--salt-spacing-100) + var(--salt-spacing-25)) var(--salt-spacing-100);
  text-align: left;
  position: relative;
  width: var(--saltStaticList-item-width, 100%);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  font-family: var(--salt-text-fontFamily);
  line-height: var(--salt-text-lineHeight);
}
