.saltStaticListItemContent {
  flex: 1 0;
  margin: var(--salt-spacing-75) 0;
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  font-family: var(--salt-text-fontFamily);
  line-height: var(--salt-text-lineHeight);
}
