.salt-theme {
  --salt-navigable-indicator-active: var(--salt-palette-accent);

  --salt-selectable-background-blurSelected: var(--salt-palette-neutral-weakest);

  --salt-status-static-foreground: var(--salt-palette-foreground-secondary); /* Use --salt-content-secondary-foreground */

  --salt-status-negative-foreground: var(--salt-palette-negative); /* Use ---salt-sentiment-negative-foreground-decorative */
  --salt-status-positive-foreground: var(--salt-palette-positive); /* Use ---salt-sentiment-positive-foreground-decorative */

  --salt-track-borderColor: var(--salt-palette-alpha-contrast-high); /* Use --salt-sentiment-neutral-track */
  --salt-track-borderColor-disabled: var(--salt-palette-alpha-contrast-lower); /* Use --salt-sentiment-neutral-track-disabled */
}
