.salt-theme {
  /* Differential */
  --salt-differential-positive-foreground: var(--salt-palette-positive-foreground);
  --salt-differential-negative-foreground: var(--salt-palette-negative-foreground);

  /* Editable */
  --salt-editable-tertiary-background: var(--salt-palette-neutral-tertiary-background);
  --salt-editable-tertiary-background-active: var(--salt-palette-neutral-tertiary-background);
  --salt-editable-tertiary-background-disabled: var(--salt-palette-neutral-tertiary-background-disabled);
  --salt-editable-tertiary-background-hover: var(--salt-palette-neutral-tertiary-background);
  --salt-editable-tertiary-background-readonly: var(--salt-palette-neutral-tertiary-background-readonly);

  /* Measured */
  --salt-measured-borderStyle: solid;
  --salt-measured-borderStyle-active: solid;
  --salt-measured-borderStyle-complete: solid;
  --salt-measured-borderStyle-incomplete: dotted;
  --salt-measured-borderWidth: 2px;
  --salt-measured-borderWidth-active: 2px;
  --salt-measured-borderWidth-complete: 2px;
  --salt-measured-borderWidth-incomplete: 2px;

  --salt-measured-fontWeight: var(--salt-typography-fontWeight-semiBold);
  --salt-measured-textAlign: center;

  --salt-measured-background: var(--salt-palette-measured-background);
  --salt-measured-background-disabled: var(--salt-palette-measured-background-disabled);
  --salt-measured-borderColor: var(--salt-palette-measured-border);
  --salt-measured-borderColor-disabled: var(--salt-palette-measured-border-disabled);
  --salt-measured-fill: var(--salt-palette-measured-fill);
  --salt-measured-fill-disabled: var(--salt-palette-measured-fill-disabled);
  --salt-measured-foreground: var(--salt-palette-measured-foreground);
  --salt-measured-foreground-hover: var(--salt-palette-measured-foreground-active);
  --salt-measured-foreground-active: var(--salt-palette-measured-foreground-active);
  --salt-measured-foreground-undo: var(--salt-palette-measured-foreground-active);
  --salt-measured-foreground-activeDisabled: var(--salt-palette-measured-foreground-activeDisabled);
  --salt-measured-foreground-disabled: var(--salt-palette-measured-foreground-disabled);

  /* Overlayable */
  --salt-overlayable-shadow-scroll-color: var(--salt-shadow-1-color);
  --salt-overlayable-shadow-borderRegion: var(--salt-shadow-2);

  /* Selectable */
  --salt-selectable-foreground-partial: var(--salt-palette-interact-foreground-partial);
  --salt-selectable-foreground-partialDisabled: var(--salt-palette-interact-foreground-partialDisabled);

  --salt-selectable-cta-foreground: var(--salt-palette-interact-foreground);
  --salt-selectable-cta-foreground-disabled: var(--salt-palette-interact-foreground-disabled);
  --salt-selectable-primary-foreground: var(--salt-palette-interact-foreground);
  --salt-selectable-primary-foreground-disabled: var(--salt-palette-interact-foreground-disabled);
  --salt-selectable-secondary-foreground: var(--salt-palette-interact-foreground);
  --salt-selectable-secondary-foreground-disabled: var(--salt-palette-interact-foreground-disabled);

  /* Status */
  --salt-status-info-background-emphasize: var(--salt-status-info-background);
  --salt-status-success-background-emphasize: var(--salt-status-success-background);
  --salt-status-warning-background-emphasize: var(--salt-status-warning-background);
  --salt-status-error-background-emphasize: var(--salt-status-error-background);

  --salt-status-info-foreground-disabled: var(--salt-palette-info-foreground-disabled);
  --salt-status-success-foreground-disabled: var(--salt-palette-success-foreground-disabled);
  --salt-status-warning-foreground-disabled: var(--salt-palette-warning-foreground-disabled);
  --salt-status-error-foreground-disabled: var(--salt-palette-error-foreground-disabled);
  --salt-status-static-foreground-disabled: var(--salt-palette-neutral-secondary-foreground-disabled);
  --salt-status-negative-foreground-disabled: var(--salt-palette-negative-foreground-disabled);
  --salt-status-positive-foreground-disabled: var(--salt-palette-positive-foreground-disabled);

  --salt-status-info-borderColor-disabled: var(--salt-palette-info-border-disabled);
  --salt-status-success-borderColor-disabled: var(--salt-palette-success-border-disabled);
  --salt-status-warning-borderColor-disabled: var(--salt-palette-warning-border-disabled);
  --salt-status-error-borderColor-disabled: var(--salt-palette-error-border-disabled);

  /* Actionable */
  --salt-actionable-letterSpacing: 0.6px;
  --salt-actionable-textTransform: uppercase;
  --salt-actionable-primary-fontWeight: var(--salt-typography-fontWeight-bold);
  --salt-actionable-cta-fontWeight: var(--salt-typography-fontWeight-bold);
  --salt-actionable-secondary-fontWeight: var(--salt-typography-fontWeight-semiBold);

  /* Text */
  --salt-text-link-foreground-hover: var(--salt-palette-navigate-foreground-hover);
  --salt-text-link-foreground-active: var(--salt-palette-navigate-foreground-active);
  --salt-text-link-foreground-visited: var(--salt-palette-navigate-foreground-visited);
  --salt-text-link-textDecoration: underline;
  --salt-text-link-textDecoration-hover: none;
  --salt-text-link-textDecoration-selected: underline;
  --salt-text-primary-foreground: var(--salt-palette-neutral-primary-foreground);
  --salt-text-primary-foreground-disabled: var(--salt-palette-neutral-primary-foreground-disabled);
  --salt-text-secondary-foreground: var(--salt-palette-neutral-secondary-foreground);
  --salt-text-secondary-foreground-disabled: var(--salt-palette-neutral-secondary-foreground-disabled);
}
