.salt-theme[data-mode="light"] {
  --salt-palette-foreground-active: var(--salt-color-blue-700);
  --salt-palette-foreground-hover: var(--salt-color-blue-600);

  --salt-palette-warning-weak: var(--salt-color-orange-100);
  --salt-palette-positive-weak: var(--salt-color-green-100);
  --salt-palette-info-weak: var(--salt-color-blue-100);
  --salt-palette-negative-weak: var(--salt-color-red-100);
}

.salt-theme[data-mode="dark"] {
  --salt-palette-foreground-active: var(--salt-color-blue-300);
  --salt-palette-foreground-hover: var(--salt-color-blue-400);

  --salt-palette-warning-weak: var(--salt-color-orange-900);
  --salt-palette-positive-weak: var(--salt-color-green-900);
  --salt-palette-info-weak: var(--salt-color-blue-900);
  --salt-palette-negative-weak: var(--salt-color-red-900);
}
