.saltSliderThumb {
  /* display: flex;
  align-items: center;
  width: min-content; 
  border: 1px 1px 1px 1px;
  border-style: solid;
  border-color: var(--slider-selection-color); */
  
  width: var(--salt-size-indicator);
  height: var(--salt-size-selectable);
  background: var(--slider-selection-color);
  grid-row: 1;
  grid-column-start: 2;
  z-index: 1;
  /* How do we feel about this, the alternative is to have SliderRail as a separate component  */
  margin-top: calc(-0.5 * var(--salt-size-selectable));
}

.saltSliderThumb-min {
  border-left: none;
  margin-left: 0;
}

.saltSliderThumb-max {
  border-right: none;
}

.saltSliderThumb-box:focus-visible {
  outline-style: var(--slider-handle-outlineStyle);
  outline-width: var(--slider-handle-outlineWidth);
  outline-color: var(--slider-handle-outlineColor);
  outline-offset: var(--slider-handle-outlineOffset);
}



