/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.homepageContainer {
  background-color: var(--uitk-color-grey-900);
  background-image: url(@site/static/img/background_gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroBanner {
  --ifm-hero-text-color: var(--uitk-color-white);
}

.heroBanner {
  flex: 2;
  padding: calc(var(--uitk-size-unit) * 5);
}

.heroContainer {
  display: flex;
  padding: 0 calc(var(--uitk-size-unit) * 5);
}

.heroImage {
  max-width: 100%;
  flex: 2;
}

.heroTitle {
  font-size: 60px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--uitk-size-unit) * 4);
  padding: calc(var(--uitk-size-unit) * 6) calc(var(--uitk-size-unit) * 4);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: var(--uitk-size-unit);
    flex: 1;
  }

  .heroContainer {
    flex-flow: column-reverse;
  }

  .heroImage {
    flex: 1;
  }
}

@media screen and (max-width: 960px) {
  /* TODO: use odyssey breakpoints? */
  .cardContainer {
    flex-direction: column;
  }
}
