/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.homepageContainer {
  background-color: var(--uitk-color-gray-900);
  background-image: url(@site/static/img/background_gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroBanner {
  --ifm-hero-text-color: var(--uitk-color-white);
  --ifm-hero-background-color: none;
  --ifm-h1-font-size: var(--uitk-text-display1-fontSize);
  --ifm-heading-font-weight: var(--uitk-text-display1-fontWeight);
  --ifm-heading-line-height: var(--uitk-text-display1-lineHeight);
}

.heroBanner {
  flex: 2;
  padding: calc(var(--uitk-size-unit) * 5);
}

.heroContainer {
  display: flex;
  padding: 0 calc(var(--uitk-size-unit) * 5);
}

.heroImage {
  max-width: 100%;
  flex: 2;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--uitk-size-unit) * 4);
  padding: calc(var(--uitk-size-unit) * 5) calc(var(--uitk-size-unit) * 4);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: var(--uitk-size-unit) 0;
    flex: 1;
  }

  .heroContainer {
    padding: var(--uitk-size-unit);
    flex-flow: column-reverse;
  }

  .heroImage {
    flex: 1;
  }

  .cardContainer {
    flex-direction: column;
    padding: calc(var(--uitk-size-unit) * 3) calc(var(--uitk-size-unit) * 2);
    gap: calc(var(--uitk-size-unit) * 2);
  }
}

@media screen and (max-width: 1280px) {
  .heroTitle {
    --ifm-heading-line-height: var(--uitk-text-h1-lineHeight);
    --ifm-h1-font-size: var(--uitk-text-h1-fontSize);
  }
}
