.docs-page-content table {
  display: inline-table;
  width: 100%;
}

.docs-page-content table thead {
  position: sticky;
  top: var(--ifm-navbar-height);
  z-index: 2;
}

.docs-page-content table thead tr {
  border: none;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.docs-page-content table thead tr th {
  text-align: left;
  background: var(--salt-color-white);
}

.docs-page-content table th,
.docs-page-content table td {
  border: none;
}

.docs-page-content table tr {
  border-bottom: 1px solid var(--salt-separable-tertiary-borderColor);
  border-top: 1px solid var(--salt-separable-tertiary-borderColor);
}

.docs-page-content table th {
  color: var(--salt-text-secondary-foreground);
  font-weight: var(--salt-text-h4-fontWeight);
}

.docs-page-content table tr td:not(:last-child) {
  border-right: 1px solid var(--salt-separable-tertiary-borderColor);
}

.docs-page-content table tr th + th {
  border-left: 1px solid var(--salt-color-gray-90-fade-border-readonly);
}
