/* Style applied to the root element */
.saltPillInput {
  --input-borderColor: var(--salt-editable-borderColor);
  --input-borderStyle: var(--salt-editable-borderStyle);
  --input-outlineColor: var(--salt-focused-outlineColor);
  --input-borderWidth: var(--salt-size-border);

  align-items: center;
  background: var(--saltInput-background, var(--input-background));
  color: var(--saltInput-color, var(--salt-content-primary-foreground));
  display: inline-flex;
  font-family: var(--salt-text-fontFamily);
  font-size: var(--saltInput-fontSize, var(--salt-text-fontSize));
  line-height: var(--saltInput-lineHeight, var(--salt-text-lineHeight));
  min-height: var(--saltInput-minHeight, var(--salt-size-base));
  min-width: var(--saltInput-minWidth, 4em);
  padding-left: var(--saltInput-paddingLeft, var(--salt-spacing-50));
  padding-right: var(--saltInput-paddingRight, var(--salt-spacing-100));
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.saltPillInput-truncate {
  height: var(--salt-size-base);
}

.saltPillInput-truncate .saltPillInput-inputWrapper {
  flex-wrap: nowrap;
}

.saltPillInput:hover {
  --input-borderStyle: var(--salt-editable-borderStyle-hover);
  --input-borderColor: var(--salt-editable-borderColor-hover);

  background: var(--saltInput-background-hover, var(--input-background-hover));
  cursor: var(--salt-editable-cursor-hover);
}

.saltPillInput:active {
  --input-borderColor: var(--salt-editable-borderColor-active);
  --input-borderStyle: var(--salt-editable-borderStyle-active);
  --input-borderWidth: var(--salt-editable-borderWidth-active);

  background: var(--saltInput-background-active, var(--input-background-active));
  cursor: var(--salt-editable-cursor-active);
}

/* Class applied if `variant="primary"` */
.saltPillInput-primary {
  --input-background: var(--salt-editable-primary-background);
  --input-background-active: var(--salt-editable-primary-background-active);
  --input-background-hover: var(--salt-editable-primary-background-hover);
  --input-background-disabled: var(--salt-editable-primary-background-disabled);
  --input-background-readonly: var(--salt-editable-primary-background-readonly);
}

/* Class applied if `variant="secondary"` */
.saltPillInput-secondary {
  --input-background: var(--salt-editable-secondary-background);
  --input-background-active: var(--salt-editable-secondary-background-active);
  --input-background-hover: var(--salt-editable-secondary-background-active);
  --input-background-disabled: var(--salt-editable-secondary-background-disabled);
  --input-background-readonly: var(--salt-editable-secondary-background-readonly);
}

/* Style applied to input if `validationState="error"` */
.saltPillInput-error,
.saltPillInput-error:hover {
  --input-background: var(--salt-status-error-background);
  --input-background-active: var(--salt-status-error-background);
  --input-background-hover: var(--salt-status-error-background);
  --input-borderColor: var(--salt-status-error-borderColor);
  --input-outlineColor: var(--salt-status-error-borderColor);
}

/* Style applied to input if `validationState="warning"` */
.saltPillInput-warning,
.saltPillInput-warning:hover {
  --input-background: var(--salt-status-warning-background);
  --input-background-active: var(--salt-status-warning-background);
  --input-background-hover: var(--salt-status-warning-background);
  --input-borderColor: var(--salt-status-warning-borderColor);
  --input-outlineColor: var(--salt-status-warning-borderColor);
}

/* Style applied to input if `validationState="success"` */
.saltPillInput-success,
.saltPillInput-success:hover {
  --input-background: var(--salt-status-success-background);
  --input-background-active: var(--salt-status-success-background);
  --input-background-hover: var(--salt-status-success-background);
  --input-borderColor: var(--salt-status-success-borderColor);
  --input-outlineColor: var(--salt-status-success-borderColor);
}

/* Style applied to inner input component */
.saltPillInput-input {
  background: none;
  border: none;
  box-sizing: content-box;
  color: inherit;
  cursor: inherit;
  display: block;
  flex: 1;
  font: inherit;
  height: 100%;
  letter-spacing: var(--saltInput-letterSpacing, 0);
  margin: 0;
  min-width: 0;
  overflow: hidden;
  padding: 0;
  text-align: var(--input-textAlign);
  width: 100%;
}

/* Reset in the  class */
.saltPillInput-input:focus {
  outline: none;
}

/* Style applied to selected input */
.saltPillInput-input::selection {
  background: var(--salt-content-foreground-highlight);
}

/* Style applied to placeholder text */
.saltPillInput-input::placeholder {
  color: var(--salt-content-secondary-foreground);
  font-weight: var(--salt-text-fontWeight-small);
}

/* Styling when focused */
.saltPillInput-focused {
  --input-borderColor: var(--input-outlineColor);
  --input-borderWidth: var(--salt-editable-borderWidth-active);

  outline: var(--saltInput-outline, var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--input-outlineColor));
}

/* Style applied if `readOnly={true}` */
.saltPillInput.saltPillInput-readOnly {
  --input-borderColor: var(--salt-editable-borderColor-readonly);
  --input-borderStyle: var(--salt-editable-borderStyle-readonly);
  --input-borderWidth: var(--salt-size-border);

  background: var(--input-background-readonly);
  cursor: var(--salt-editable-cursor-readonly);
}

/* Styling when focused if `disabled={true}` */
.saltPillInput-focused.saltPillInput-disabled {
  --input-borderWidth: var(--salt-size-border);
  outline: none;
}

/* Styling when focused if `readOnly={true}` */
.saltPillInput-focused.saltPillInput-readOnly {
  --input-borderWidth: var(--salt-size-border);
}

/* Style applied to selected input if `disabled={true}` */
.saltPillInput-disabled .saltPillInput-input::selection {
  background: none;
}

/* Style applied to input if `disabled={true}` */
.saltPillInput.saltPillInput-disabled,
.saltPillInput.saltPillInput-disabled:hover,
.saltPillInput.saltPillInput-disabled:active {
  --input-borderColor: var(--salt-editable-borderColor-disabled);
  --input-borderStyle: var(--salt-editable-borderStyle-disabled);
  --input-borderWidth: var(--salt-size-border);

  background: var(--input-background-disabled);
  cursor: var(--salt-editable-cursor-disabled);
  color: var(--saltInput-color-disabled, var(--salt-content-primary-foreground-disabled));
}

.saltPillInput-activationIndicator {
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  border-bottom: var(--input-borderWidth) var(--input-borderStyle) var(--input-borderColor);
}

/* Style applied to start adornments */
.saltPillInput-startAdornmentContainer {
  align-items: center;
  display: inline-flex;
  padding-right: var(--salt-spacing-100);
  column-gap: var(--salt-spacing-100);
}

/* Style applied to end adornments */
.saltPillInput-endAdornmentContainer {
  align-items: center;
  display: inline-flex;
  padding-left: var(--salt-spacing-100);
  padding-top: var(--salt-spacing-50);
  column-gap: var(--salt-spacing-100);
  align-self: flex-start;
}

.saltPillInput-readOnly .saltPillInput-startAdornmentContainer {
  margin-left: var(--salt-spacing-50);
}

.saltPillInput-startAdornmentContainer .saltButton ~ .saltButton {
  margin-left: calc(-1 * var(--salt-spacing-50));
}
.saltPillInput-endAdornmentContainer .saltButton ~ .saltButton {
  margin-left: calc(-1 * var(--salt-spacing-50));
}

.saltPillInput-startAdornmentContainer .saltButton:first-child {
  margin-left: calc(var(--salt-spacing-50) * -1);
}
.saltPillInput-endAdornmentContainer .saltButton:last-child {
  margin-right: calc(var(--salt-spacing-50) * -1);
}

.saltPillInput-startAdornmentContainer > .saltButton,
.saltPillInput-endAdornmentContainer > .saltButton {
  --saltButton-padding: var(--salt-spacing-50);
  --saltButton-height: calc(var(--salt-size-base) - var(--salt-spacing-100));
}

.saltPillInput-inputWrapper {
  display: flex;
  gap: var(--salt-spacing-50);
  align-items: center;
  flex: 1;
  padding: var(--salt-spacing-50) 0;
  flex-wrap: wrap;
  max-height: inherit;
  height: inherit;
  overflow-y: auto;
  box-sizing: border-box;
}

.saltPillInput-pillList {
  display: contents;
}

.saltPillInput .saltPill:focus-visible {
  background: var(--salt-selectable-background-hover);
  outline: none;
}

.saltPillInput .saltPill:hover {
  background: var(--salt-selectable-background-hover);
}

.saltPillInput .saltPill:active {
  background: var(--salt-actionable-primary-background-active);
  --saltPill-color: var(--salt-actionable-primary-foreground-active);
  --saltIcon-color: var(--salt-actionable-primary-foreground-active);
}

div[role="listitem"] {
  display: inline;
}

.saltPillInput-overflowIndicator {
  width: calc(var(--salt-size-base) - var(--salt-spacing-100));
  height: calc(var(--salt-size-base) - var(--salt-spacing-100));
  display: flex;
  align-items: center;
  justify-content: center;
}
