.saltPillCheckIcon {
  --checkbox-size: var(--salt-size-selectable);
  width: var(--checkbox-size);
  min-width: var(--checkbox-size);
  height: var(--checkbox-size);
  min-height: var(--checkbox-size);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid);
  border-radius: var(--salt-palette-corner-weaker, 0);
  position: relative;
  --saltIcon-size: 100%;
  display: flex;
  pointer-events: none;
  /* Using overflow:hidden here causes a thin white line */
  clip-path: border-box;
  box-sizing: border-box;
}

.saltPillCheckIcon > svg {
  pointer-events: none;
  position: absolute;
  /* Ensure a gap doesn't appear when device scaling is used */
  transform: scale(1.01);
}
