.saltPillCheckIcon {
  --checkbox-size: var(--salt-size-selectable);
  width: var(--checkbox-size);
  min-width: var(--checkbox-size);
  height: var(--checkbox-size);
  min-height: var(--checkbox-size);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-content-bold-foreground);
  border-radius: var(--salt-palette-corner-weaker, 0);
  color: var(--salt-selectable-foreground);
  /* background: var(--salt-container-primary-background); */
  position: relative;
  --saltIcon-size: 100%;
  display: flex;
  /* Using overflow:hidden here causes a thin white line */
  clip-path: border-box;
  box-sizing: border-box;
}

.saltPillCheckIcon-checked,
.saltCheckbox:hover .saltPillCheckIcon-checked {
  border-color: var(--salt-selectable-borderColor-selected);
  color: var(--salt-selectable-foreground-selected);
}

.saltCheckbox:hover .saltPillCheckIcon {
  border-color: var(--salt-selectable-borderColor-hover);
  color: var(--salt-selectable-foreground-hover);
}

.saltPillCheckIcon-disabled,
.saltCheckbox:hover .saltPillCheckIcon-disabled,
.saltPillCheckIcon-disabled.saltPillCheckIcon-indeterminate,
.saltCheckbox:hover .saltPillCheckIcon-disabled.saltPillCheckIcon-indeterminate {
  border-color: var(--salt-selectable-borderColor-disabled);
  background: var(--salt-container-primary-background-disabled);
  color: var(--salt-selectable-foreground-disabled);
}

.saltPillCheckIcon-checked.saltPillCheckIcon-disabled,
.saltCheckbox:hover .saltPillCheckIcon-checked.saltPillCheckIcon-disabled {
  border-color: var(--salt-selectable-borderColor-selectedDisabled);
  color: var(--salt-selectable-foreground-selectedDisabled);
}

.saltPillCheckIcon > svg {
  position: absolute;
  /* Ensure a gap doesn't appear when device scaling is used */
  transform: scale(1.01);
}
