/* Styles applied to the root element */
.saltPill {
  --pill-borderWidth: var(--salt-size-fixed-100);

  appearance: none;
  display: inline-flex;
  align-items: center;
  background: var(--saltPill-background, var(--pill-background));
  border-radius: var(--salt-palette-corner-weaker, 0);
  border-style: solid;
  border-width: var(--pill-borderWidth);
  border-color: var(--pill-borderColor);
  height: calc(var(--salt-size-base) - var(--salt-spacing-100));
  min-height: var(--salt-text-minHeight);
  position: relative;
  gap: var(--salt-spacing-50);
  padding: 0 calc(var(--salt-spacing-50) - var(--pill-borderWidth));
  color: var(--saltPill-color, var(--pill-color));
  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
  letter-spacing: var(--salt-text-letterSpacing);
  overflow: hidden;
  white-space: nowrap;
}

/* Style applied to Pill if pill is clickable  */
.saltPill-clickable {
  --pill-background: var(--salt-actionable-bold-background);
  --pill-color: var(--salt-actionable-bold-foreground);
  --pill-borderColor: var(--salt-actionable-bold-borderColor);
  cursor: var(--salt-cursor-hover);
}

.saltPill-clickable:hover,
.saltPill-clickable:focus-visible {
  --pill-color: var(--salt-actionable-bold-foreground-hover);
  --pill-background: var(--salt-actionable-bold-background-hover);
  --pill-borderColor: var(--salt-actionable-bold-borderColor-hover);
}

.saltPill-clickable.saltPill-active,
.saltPill-clickable:active {
  --pill-color: var(--salt-actionable-bold-foreground-active);
  --pill-background: var(--salt-actionable-bold-background-active);
  --pill-borderColor: var(--salt-actionable-bold-borderColor-active);
}

/* Style applied to Pill on focus */
.saltPill:focus-visible {
  outline: var(--salt-focused-outline);
}

/* Styles applied when the pill triggers a menu */
.saltPill[aria-expanded="true"][aria-haspopup="menu"] {
  --pill-color: var(--salt-actionable-bold-foreground-active);
  --pill-background: var(--salt-actionable-bold-background-active);
  --pill-borderColor: var(--salt-actionable-bold-borderColor-active);
}

/* Style applied to Pill when disabled */
.saltPill:disabled,
.saltPill:disabled:hover {
  --pill-color: var(--salt-actionable-bold-foreground);
  --pill-background: var(--salt-actionable-bold-background);
  --pill-borderColor: var(--salt-actionable-bold-borderColor);
  cursor: var(--salt-cursor-disabled);

  opacity: 0.4;
}
