.saltMegaMenuContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--salt-spacing-300);
  padding: var(--salt-spacing-300);
  max-height: calc(100vh - var(--salt-spacing-600));
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: var(--salt-palette-corner);
  border: var(--salt-size-fixed-100) solid var(--salt-container-primary-borderColor);
  background: var(--salt-container-primary-background);
  box-shadow: var(--salt-overlayable-shadow-popout);
}
