.saltMegaMenuItem {
  display: flex;
  padding: var(--salt-spacing-50) var(--salt-spacing-100);
  align-items: center;
  color: var(--salt-content-primary-foreground);
  background: var(--salt-selectable-background);
  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
  cursor: var(--salt-cursor-hover);
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  box-sizing: border-box;
  gap: var(--salt-spacing-100);
  position: relative;
  list-style: none;
  border-radius: var(--salt-palette-corner-weak);
}

.saltMegaMenuItem:focus-visible {
  outline: var(--salt-focused-outline);
  outline-offset: calc(var(--salt-size-fixed-100) * -2);
}

.saltMegaMenuItem:hover {
  outline: none;
  background: var(--salt-navigable-background-hover);
}

.saltMegaMenuItem:active,
.saltMegaMenuItem-active,
.saltMegaMenuItem-active:hover {
  background: var(--salt-navigable-accent-background-active);
}

.saltMegaMenuItem:active::before,
.saltMegaMenuItem-active::before {
  content: "";
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  border-radius: inherit;
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-navigable-accent-borderColor-active);
  pointer-events: none;
}
