.saltMegaMenuItemList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--salt-spacing-fixed-100);
  flex-direction: column;
}

.saltMegaMenuItemList-item {
  list-style: none;
  display: flex;
  flex-direction: column;
}
