/* Default variables applied to the root element */
.uitkBadge {
  /* Colors */
  --badge-content-text-color: var(--uitkBadge-content-text-color, var(--uitk-accent-foreground));
  --badge-content-icon-color: var(--uitkBadge-content-icon-color, var(--uitk-accent-background));
  /* Font, Typography */
  --badge-content-borderRadius: 16px;
  --badge-content-lineHeight: 15px;
  --badge-content-padding: 0px 4px;

  /* Derived */
  /* Same as content padding in x */
  --badge-offset-inline: -4px;

  --badge-sequence-gap: var(--uitk-size-unit);
}

/* Style applied to the root element */
.uitkBadge {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-flex;
  position: relative;
  flex-shrink: 0;
  vertical-align: middle;
  font-family: var(--uitk-text-fontFamily);
  line-height: var(--uitk-text-lineHeight);
  font-size: var(--uitk-text-fontSize);
}

/* Give automatic margin when they sit next to each other */
.uitkBadge + .uitkBadge {
  margin-left: var(--badge-sequence-gap);
}

/* Style applied to the badge in the corner of the node */
.uitkBadge-badge {
  color: var(--badge-content-text-color);
  box-sizing: border-box;
  display: inline-block;
  font-weight: var(--uitk-typography-weight-bold);
  font-size: var(--uitk-text-caption-fontSize);
  /* default small type */
  width: auto;
  min-width: 15px;
  line-height: var(--badge-content-lineHeight);
  border-radius: var(--badge-content-borderRadius);
  text-align: center;

  transform: translate(var(--badge-offset-inline), -50%);
  transform-origin: 100% 0%;
  /*
    We want offset the next inline element to be strictly next to the badge.
    This negative margin makes sure this node "appears" to be narrower.
   */
  margin-right: var(--badge-offset-inline);

  padding: var(--badge-content-padding);
  background: var(--badge-content-icon-color);

  position: relative;

  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}
