.saltCalendarDateGrid-grid {
  display: grid;
  grid-auto-flow: column;
}

.saltCalendarDateGrid-grid > * {
  position: absolute;
  left: 0;
  width: 100%;
}

.saltCalendarDateGrid-grid > :nth-child(2) {
  position: relative;
}
