.saltCalendarGrid-grid {
  display: grid;
  grid-auto-flow: column;
}

.saltCalendarGrid-grid > * {
  position: absolute;
  left: 0;
  width: 100%;
}

.saltCalendarGrid-grid > :nth-child(2) {
  position: relative;
}
