/* Local CSS variables for Panel */
.uitkPanel {
  --panel-width: var(--uitkPanel-width, 100%);
  /* should the default height for Panel really be 100%, I would have thought auto */
  --panel-height: var(--uitkPanel-height, 100%);
  --panel-padding: var(--uitkPanel-padding, calc(var(--uitk-spacing-unit) * 3));
  --panel-background-medium-emphasis: var(--uitkPanel-background-medium-emphasis, var(--uitk-container-background));
  --panel-background-high-emphasis: var(--uitkPanel-background-high-emphasis, var(--uitk-container-background));
  --panel-color-high-emphasis: var(--uitkPanel-color-high-emphasis, var(--uitk-text-primary-color));
  --panel-color-medium-emphasis: var(--uitkPanel-color-medium-emphasis, var(--uitk-text-secondary-color));
}

/* Styles applied to the root element with default (high) emphasis */
.uitkPanel {
  box-sizing: border-box;
  height: var(--panel-height);
  overflow: auto;
  padding: var(--panel-padding);
  width: var(--panel-width);

  /* Default high emphasis values */
  background: var(--panel-background-high-emphasis);
  color: var(--panel-color-high-emphasis);
}

/* Overrides when medium emphasis applied */
.uitkEmphasisMedium {
  background: var(--panel-background-medium-emphasis);
  color: var(--panel-color-medium-emphasis);
}
