.code {
  --code-padding-vertical: 0.1rem;
  --code-padding-horizontal: 0.1rem;
}

.code {
  font-family: var(--salt-text-code-fontFamily);
  overflow-wrap: anywhere;
  vertical-align: text-bottom;
  white-space: pre-wrap;
  padding: var(--code-padding-vertical) var(--code-padding-horizontal);
}
