.code {
  --code-padding-vertical: 0.1rem;
  --code-padding-horizontal: 0.25rem;
}

.code {
  font-family: var(--salt-text-code-fontFamily);
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  padding: var(--code-padding-vertical) var(--code-padding-horizontal);
  background-color: var(--salt-container-secondary-background);
  border-radius: var(--salt-palette-corner-weaker, 0);
  vertical-align: baseline;
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-secondary-borderColor);
}
