.buttonWithDot {
  width: 100%;
  border: none;
}

.dot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background-color: var(--salt-category-2-bold-background);
  color: var(--salt-category-2-bold-foreground);
  margin-bottom: var(--salt-size-indicator);
}

.today {
  position: absolute;
  bottom: calc(var(--salt-size-indicator) * 1.5);
  left: calc(var(--salt-size-indicator) * 1.5);
  right: calc(var(--salt-size-indicator) * 1.5);
  border-bottom: var(--salt-size-indicator) var(--salt-borderStyle-solid) var(--salt-accent-borderColor);
}
