.saltSwitch {
  --switch-track-color: var(--salt-selectable-foreground);
  --switch-track-disabled-color: var(--salt-selectable-foreground-disabled);
  --switch-thumb-color: var(--salt-selectable-foreground);
  --switch-thumb-hover-color: var(--salt-selectable-foreground-hover);
  --switch-thumb-disabled-color: var(--salt-selectable-foreground-disabled);
  --switch-thumb-checked-color: var(--salt-selectable-foreground-selected);
  --switch-thumb-checked-disabled-color: var(--salt-selectable-foreground-selectedDisabled);
}

/* Styles applied to root element */
.saltSwitch {
  display: flex;
  gap: calc(var(--salt-size-unit) * 0.75);
  cursor: pointer;
  color: var(--salt-text-secondary-foreground);
  position: relative;
}

.saltSwitch-iconContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(var(--salt-size-selectable) * 2);
}

/* Styles applied to track */
.saltSwitch-track {
  background: var(--switch-track-color);
  border-radius: var(--saltSwitch-track-borderRadius, 0);
  position: absolute;
  transform: translateX(var(--salt-size-selectable));
  width: var(--salt-size-selectable);
  height: 2px;
  z-index: calc(var(--salt-zIndex-default) - 1);
}

/* Styles applied to input element */
.saltSwitch-input {
  cursor: inherit;
  height: var(--salt-size-selectable);
  width: calc(var(--salt-size-selectable) * 2);
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: var(--salt-zIndex-default);
}

/* Styles applied to thumb, and icon if `checked={true}` */
.saltSwitch-thumb,
.saltSwitch-icon {
  border-radius: var(--saltSwitch-thumb-borderRadius, 0);
  width: var(--salt-size-selectable);
  height: var(--salt-size-selectable);
  outline: 1px solid transparent;
  z-index: var(--salt-zIndex-default);
}

.saltSwitch-thumb {
  background: var(--saltSwitch-thumb-color, var(--switch-thumb-color));
}

/* Styles applied to icon when `checked={true}` */
.saltSwitch-icon {
  transform: translateX(var(--salt-size-selectable));
  fill: var(--saltSwitch-thumb-color, var(--switch-thumb-color));
}

.saltSwitch-iconTick {
  fill: white;
}

.saltSwitch-checked .saltSwitch-icon {
  fill: var(--saltSwitch-thumb-checked-color, var(--switch-thumb-checked-color));
}

.saltSwitch-checked .saltSwitch-track {
  transform: translateX(0);
}

.saltSwitch-disabled {
  cursor: var(--salt-selectable-cursor-disabled);
}

/* Styles applied to track on hover if `disabled={true}` */
.saltSwitch-disabled .saltSwitch-track,
.saltSwitch-disabled:hover .saltSwitch-track {
  background: var(--saltSwitch-track-disabled-color, var(--switch-track-disabled-color));
}

/* Styles applied to thumb if `disabled={true}` */
.saltSwitch-disabled .saltSwitch-thumb,
.saltSwitch-disabled:hover .saltSwitch-thumb {
  background: var(--saltSwitch-thumb-disabled-color, var(--switch-thumb-disabled-color));
}

/* Styles applied to thumb if `disabled={true}` and `checked={true}` */
.saltSwitch-disabled.saltSwitch-checked .saltSwitch-icon,
.saltSwitch-disabled.saltSwitch-checked:hover .saltSwitch-icon {
  fill: var(--saltSwitch-thumb-checked-disabled-color, var(--switch-thumb-checked-disabled-color));
}

/* Styles applied when `focusVisible={true}` */
.saltSwitch-input:focus-visible+.saltSwitch-iconContainer {
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-color: var(--salt-focused-outlineColor);
  outline-offset: var(--salt-focused-outlineOffset);
}