.saltSwitch {
  --switch-background: #84878E;
  /* --switch-thumb-background: var(--salt-selectable-primary-foreground-selected); */
  /* --switch-track-color: var(--salt-selectable-borderColor); */
  --switch-track-color-hover: var(--salt-selectable-borderColor-hover);
  --switch-track-color-disabled: var(--salt-selectable-borderColor-disabled);
  --switch-track-color-checked: var(--salt-selectable-borderColor-selected);
  --switch-track-color-checked-disabled: var(--salt-selectable-borderColor-selectedDisabled);
  --switch-tick-color: var(--salt-selectable-borderColor-selected);
  --switch-tick-color-disabled: var(--salt-selectable-borderColor-selectedDisabled);
}

.saltSwitch {
  display: flex;
  gap: calc(var(--salt-size-unit) * 0.75);
  cursor: pointer;
  color: var(--salt-text-secondary-foreground);
  position: relative;
}

.saltSwitch-iconContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(var(--salt-size-selectable) * 2);
}

/* Styles applied to track */
.saltSwitch-track {
  background: var(--switch-background);
  /* background: var(--salt-selectable-borderColor); */
  border-radius: var(--saltSwitch-track-borderRadius, 0);
  position: absolute;
  width: calc(var(--salt-size-selectable) * 2);
  height: 2px;
  z-index: calc(var(--salt-zIndex-default) - 1);
}

/* Styles applied to input element */
.saltSwitch-input {
  cursor: inherit;
  height: var(--salt-size-selectable);
  width: calc(var(--salt-size-selectable) * 2);
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: var(--salt-zIndex-default);
}

/* Styles applied to thumb, and icon if `checked={true}` */
.saltSwitch-thumb, .saltSwitch-icon  {
  background: var(--switch-background);
  /* background: var(--salt-selectable-borderColor); */
  border-radius: var(--saltSwitch-thumb-borderRadius, 0);
  border: var(--saltSwitch-thumb-border, none);
  box-shadow: none;
  width: var(--salt-size-selectable);
  height: var(--salt-size-selectable);
  outline: 1px solid transparent;
  z-index: var(--salt-zIndex-default);
}

.saltSwitch-thumb {
  fill: var(--saltSwitch-thumb-background, var(--switch-thumb-background));
}

/* Styles applied to icon when `checked={true}` */
.saltSwitch-icon {
  transform: translateX(var(--salt-size-selectable));
  fill: var(--saltSwitch-icon-color-checked, var(--switch-tick-color));
}
.saltSwitch-iconTick {
  fill: white;
}

/* Styles applied to track on hover  */
.saltSwitch:hover .saltSwitch-track {
  background: var(--salt-selectable-borderColor-hover);
}

/* Styles applied to track on hover if `disabled={true}` */
.saltSwitch.saltSwitch-disabled:hover .saltSwitch-track {
  background: var(--saltSwitch-track-color-disabled, var(--switch-track-color-disabled));
}

/* Styles applied to icon tick shown when `checked={true}` and `disabled={true}` */
.saltSwitch-disabled .saltSwitch-icon {
  fill: var(--saltSwitch-icon-color-checked-disabled, var(--switch-tick-color-disabled));
}

/* Styles applied when `focusVisible={true}` */
.saltSwitch-input:focus-visible + .saltSwitch-iconContainer {
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-color: var(--salt-focused-outlineColor);
  outline-offset: var(--salt-focused-outlineOffset);
}

/* Styles applied to track if `disabled={true}` */
.saltSwitch-disabled .saltSwitch-base + .saltSwitch-track {
  background: var(--switch-track-color-disabled);
  border: transparent;
}

/* Styles applied to track if `disabled={true}` and `checked={true}` */
.saltSwitch-disabled .saltSwitch-base.saltSwitch-checked + .saltSwitch-track,
.saltSwitch-label.saltSwitch-disabled:hover .saltSwitch-checked + .saltSwitch-track {
  background: var(--saltSwitch-track-color-checked-disabled, var(--switch-track-color-checked-disabled));
  border: transparent;
}

/* Styles applied to thumb and icon if `disabled={true}`  */
.saltSwitch-disabled .saltSwitch-thumb,
.saltSwitch-disabled:hover .saltSwitch-thumb,
.saltSwitch-disabled .saltSwitch-checked .saltSwitch-icon,
.saltSwitch-disabled:hover .saltSwitch-checked .saltSwitch-icon,
.saltSwitch-disabled,
.saltSwitch-disabled:hover {
  --switch-thumb-background: var(--salt-selectable-primary-foreground-selectedDisabled);
}
