/* Use of CSS Variables is not supported in Highcharts v10.2.0 (available in v11.0.0 onwards - https://code.highcharts.com/11.0.0/css/highcharts.css)*/
/* .highcharts-theme-salt {
  --highcharts-background-color: none;

  --highcharts-color-0: var(--salt-palette-categorical-3);
  --highcharts-color-1: var(--salt-palette-categorical-10);
  --highcharts-color-2: var(--salt-palette-categorical-12);
  --highcharts-color-3: var(--salt-palette-categorical-1);
  --highcharts-color-4: var(--salt-palette-categorical-16);
  --highcharts-color-5: var(--salt-palette-categorical-7);
  --highcharts-color-6: var(--salt-palette-categorical-9);
  --highcharts-color-7: var(--salt-palette-categorical-2);
  --highcharts-color-8: var(--salt-palette-categorical-20);
  --highcharts-color-9: var(--salt-palette-categorical-6);
} */

.highcharts-theme-salt .highcharts-color-0 {
  fill: var(--salt-palette-categorical-1);
  stroke: var(--salt-palette-categorical-1);
}

.highcharts-theme-salt .highcharts-color-1 {
  fill: var(--salt-palette-categorical-2);
  stroke: var(--salt-palette-categorical-2);
}

.highcharts-theme-salt .highcharts-color-2 {
  fill: var(--salt-palette-categorical-3);
  stroke: var(--salt-palette-categorical-3);
}

.highcharts-theme-salt .highcharts-color-3 {
  fill: var(--salt-palette-categorical-4);
  stroke: var(--salt-palette-categorical-4);
}

.highcharts-theme-salt .highcharts-color-4 {
  fill: var(--salt-palette-categorical-5);
  stroke: var(--salt-palette-categorical-5);
}

.highcharts-theme-salt .highcharts-color-5 {
  fill: var(--salt-palette-categorical-6);
  stroke: var(--salt-palette-categorical-6);
}

.highcharts-theme-salt .highcharts-color-6 {
  fill: var(--salt-palette-categorical-7);
  stroke: var(--salt-palette-categorical-7);
}

.highcharts-theme-salt .highcharts-color-7 {
  fill: var(--salt-palette-categorical-8);
  stroke: var(--salt-palette-categorical-8);
}

.highcharts-theme-salt .highcharts-color-8 {
  fill: var(--salt-palette-categorical-9);
  stroke: var(--salt-palette-categorical-9);
}

.highcharts-theme-salt .highcharts-color-9 {
  fill: var(--salt-palette-categorical-10);
  stroke: var(--salt-palette-categorical-10);
}

.highcharts-theme-salt .highcharts-point-inactive {
  opacity: 1;
  stroke: var(--salt-selectable-borderColor-disabled);
}

.highcharts-theme-salt .highcharts-container {
  font-family: var(--salt-text-fontFamily);
}

.highcharts-theme-salt .highcharts-grid-line {
  stroke: var(--salt-separable-tertiary-borderColor);
}

.highcharts-theme-salt .highcharts-title {
  fill: var(--salt-content-primary-foreground);
  font-size: var(--salt-text-h4-fontSize);
  font-weight: var(--salt-text-h4-fontWeight);
  line-height: var(--salt-text-h4-lineHeight);
}
.highcharts-theme-salt .highcharts-subtitle,
.highcharts-theme-salt .highcharts-axis-title,
.highcharts-theme-salt .highcharts-axis-labels {
  fill: var(--salt-content-secondary-foreground);
  font-size: var(--salt-text-label-fontSize);
  line-height: var(--salt-text-label-lineHeight);
}

/* Deselected legend state, requires !important to override default styles, which also use !important */
.highcharts-theme-salt .highcharts-legend-item-hidden * {
  stroke: revert !important;
  fill: revert !important;
  opacity: 0.2;
}

.highcharts-theme-salt .highcharts-legend-item > text,
.highcharts-theme-salt .highcharts-legend-item span {
  fill: var(--salt-content-secondary-foreground);
  font-size: var(--salt-text-label-fontSize);
  font-weight: var(--salt-text-label-fontWeight);
  line-height: var(--salt-text-label-lineHeight);
}
.highcharts-theme-salt .highcharts-axis-line {
  stroke: var(--salt-separable-primary-borderColor);
}

.highcharts-theme-salt .highcharts-data-label text,
.highcharts-theme-salt text.highcharts-data-label {
  fill: var(--salt-content-primary-foreground);
  font-weight: var(--salt-text-label-fontWeight);
  font-size: var(--salt-text-label-fontSize);
  line-height: var(--salt-text-label-lineHeight);
}

.highcharts-theme-salt .highcharts-tooltip-box {
  fill: var(--salt-container-primary-background);
}

.highcharts-theme-salt .highcharts-tooltip text,
.highcharts-theme-salt .highcharts-tooltip foreignObject span {
  fill: var(--salt-content-primary-foreground);
}

.highcharts-theme-salt .highcharts-background {
  fill: var(--salt-container-primary-background);
}

.highcharts-theme-salt .highcharts-legend-navigation {
  font-size: var(--salt-text-label-fontSize);
}

.highcharts-theme-salt path.highcharts-legend-nav-active {
  fill: var(--salt-content-secondary-foreground);
}

.highcharts-theme-salt path.highcharts-legend-nav-inactive {
  fill: var(--salt-content-secondary-foreground-disabled);
}

.highcharts-theme-salt circle.highcharts-legend-nav-active,
.highcharts-theme-salt circle.highcharts-legend-nav-inactive {
  fill: transparent;
}

.highcharts-theme-salt text.highcharts-legend-navigation {
  fill: var(--salt-content-secondary-foreground);
  font-weight: var(--salt-text-label-fontWeight);
  font-size: var(--salt-text-label-fontSize);
  line-height: var(--salt-text-label-lineHeight);
}

.highcharts-theme-salt .highcharts-point {
  stroke: var(--salt-color-white);
}
