.designCardsContainer {
  margin: calc(var(--salt-size-unit) * 2) 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(var(--salt-size-unit) * 4);
}

.card {
  --img-width: 327px;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: var(--img-width);
  margin-bottom: calc(var(--salt-size-unit));
}

.card img {
  padding: var(--salt-size-unit);
  border: 1px solid var(--image-border);
}

.textContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--salt-size-unit);
}

.textContainer p {
  font-style: var(--salt-typography-textDecoration-italic);
  font-size: var(--salt-text-label-fontSize);
  line-height: var(--salt-text-label-lineHeight);
}

.textContainer > :last-child {
  margin-bottom: 0;
}

@media not screen and (min-width: 960px) {
  .row {
    flex-direction: column;
    gap: 0;
  }
}
