/* ROW */

.ag-row {
  font-size: var(--salt-text-fontSize);
}

.ag-row-selected {
  background-color: var(--salt-selectable-background-selected);
  border-color: var(--salt-selectable-borderColor-selected);
}

.ag-row-selected:before {
  background-color: var(--salt-selectable-borderColor-selected);
  background-image: none;
  height: var(--salt-size-border);
  top: -1px;
}

/* CELL */

/* SLoooow ? */
.ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
  border-right-color: var(--salt-separable-secondary-borderColor);
}

/* SLoooow ? */
.ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left):not(.ag-cell-range-single-cell) {
  border-left-color: var(--salt-separable-secondary-borderColor);
}

/* SLoooow ? */
.ag-cell {
  border: none;
  line-height: calc(var(--ag-line-height) - 1px);
  padding-left: var(--salt-spacing-100);
  padding-right: var(--salt-spacing-100);
}

/* This is not restricted to `.editable-cell`, so any custom editor would get the same background treatment */
.ag-cell-inline-editing:focus-within {
  background: var(--salt-container-primary-background);
}

/* This makes sure custom cell editor would start from no padding. Built-in ag grid editor's padding is added below. */
.ag-cell-inline-editing {
  padding: 0;
  /* When styling option corner='rounded', we don't want this to be flipped between rounded and not between editing and normal state */
  border-radius: 0;
}

/* SLoooow ? */
.ag-cell-inline-editing.editable-cell input[class^="ag-"] {
  padding: 0 var(--salt-spacing-100);
}

.editable-cell,
.editable-numeric-cell {
  outline: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-editable-borderColor);
  outline-offset: -1px;
}

/* SLoooow ? */
.ag-cell.numeric-cell,
.editable-numeric-cell {
  text-align: right;
}

/* Special case when user finish editing and click out side of the grid. */
.ag-cell.numeric-cell.ag-cell-inline-editing .ag-cell-editor input:not(:focus) {
  text-align: right;
}

/* SLoooow yes !!!!!*/
/* changed to ag grid demo focus ring selectors */
.ag-ltr.ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
.ag-ltr.ag-ltr .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
.ag-ltr.ag-ltr .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group,
.ag-ltr.ag-ltr .ag-cell-range-single-cell,
.ag-ltr.ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle,
.ag-rtl.ag-rtl .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
.ag-rtl.ag-rtl .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
.ag-rtl.ag-rtl .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group,
.ag-rtl.ag-rtl .ag-cell-range-single-cell,
.ag-rtl.ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle {
  outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
  outline-offset: -2px;
  border-width: 0;
}
/* .ag-has-focus .ag-cell.ag-cell-focus:not(.ag-cell-range-selected), */
/* .ag-context-menu-open .ag-cell.ag-cell-focus:not(.ag-cell-range-selected), */
/* .ag-cell-range-single-cell,
.ag-cell-range-single-cell.ag-cell-range-handle,
.ag-cell-focus:not(.ag-cell-range-selected):focus-within {
  outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
  outline-offset: -2px;
  border-width: 0;
} */

.ag-cell-wrapper.ag-row-group {
  align-items: center;
}

/* SLoooow ? */
.ag-cell.editable-cell.ag-cell-focus:focus:before,
.ag-cell.editable-numeric-cell.ag-cell-focus:focus:before,
.ag-cell.editable-cell.ag-cell-focus:focus-within:before,
.editable-cell.ag-cell-inline-editing:before {
  border-bottom: calc(var(--salt-size-adornment) + 4px) solid transparent;
  border-left: calc(var(--salt-size-adornment) + 4px) solid var(--salt-editable-borderColor-hover);
  border-top: 0 solid transparent;
  content: "";
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 2;
}

/* SLoooow ? */
.editable-numeric-cell input,
input[class^="ag-"][type="number"] {
  padding: 0 var(--salt-spacing-100);
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
}

.editable-cell input,
.editable-numeric-cell input {
  border: none;
  background-color: transparent;
}

/* Ag Large Text Cell Editor  */
.ag-large-text-input {
  padding: 0;
}

/* Ag Select Cell Editor - all should be scoped with `.editable-cell` so it's not impacting users not using our class */

.editable-cell .ag-picker-field-wrapper {
  /* Allow cell focus ring to come through */
  background-color: transparent;
  border: none;
}

.ag-select .ag-picker-field-wrapper {
  border: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-editable-borderColor);
  border-radius: 0;
}

.ag-ltr .editable-cell .ag-select .ag-picker-field-wrapper,
.ag-ltr .editable-cell .ag-rich-select .ag-picker-field-wrapper {
  padding: 0 var(--salt-spacing-100);
  border-radius: 0;
}

.ag-ltr .editable-cell .ag-select .ag-icon-small-down::before,
.ag-ltr .editable-cell .ag-rich-select .ag-icon-small-down::before {
  /* Change the icon to be aligned with Salt chevron instead of triangle */
  /* We are not using different icons between collpase / expand, given only collapsed icon is available in ag salt icon font (.ag-picker-collapsed vs .ag-picker-expanded) */
  content: var(--ag-icon-font-code-contracted);
}

.ag-ltr .ag-select-list-item,
.ag-ltr .ag-rich-select-row {
  /* This can't be scoped to editable-cell given it's sitting within .ag-popup */
  padding: 0 var(--salt-spacing-100);
}

.ag-select-list,
.ag-rich-select-list {
  /* Match border to OptionList */
  border: var(--salt-size-border) var(--salt-selectable-borderStyle-selected) var(--salt-selectable-borderColor-selected);
}

.ag-select-list-item[aria-selected="true"],
.ag-rich-select-row-selected {
  /* Match selected row border to Option */
  box-shadow: inset 0px var(--salt-size-border) 0px var(--salt-selectable-borderColor-selected), inset 0px calc(var(--salt-size-border) * -1) 0px var(--salt-selectable-borderColor-selected);
}

/* Range selection cross cells "fake" outlines */

/* SLoooow ? */
.ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-top::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border-top: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}

/* SLoooow ? */
.ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-right::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border-right: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}

/* SLoooow ? */
.ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-bottom::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border-bottom: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}

/* SLoooow ?*/
.ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-left::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border-left: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}
