/* --- Background --- */
div[class*="ag-theme-salt"].ag-theme-salt-header-primary {
  --ag-header-background-color: var(--salt-container-primary-background);
  --ag-header-cell-hover-background-color: var(--ag-header-background-color);
}

div[class*="ag-theme-salt"].ag-theme-salt-header-secondary {
  --ag-header-background-color: var(--salt-container-secondary-background);
  --ag-header-cell-hover-background-color: var(--ag-header-background-color);
}

div[class*="ag-theme-salt"].ag-theme-salt-header-tertiary {
  --ag-header-background-color: var(--salt-container-tertiary-background);
  --ag-header-cell-hover-background-color: var(--ag-header-background-color);
}

/* --- Divider --- */
div[class*="ag-theme-salt"].ag-theme-salt-header-divider-primary .ag-header,
div[class*="ag-theme-salt"].ag-theme-salt-header-divider-primary .ag-advanced-filter-header {
  border-bottom-color: var(--salt-separable-primary-borderColor);
}

div[class*="ag-theme-salt"].ag-theme-salt-header-divider-secondary .ag-header,
div[class*="ag-theme-salt"].ag-theme-salt-header-divider-secondary .ag-advanced-filter-header {
  border-bottom-color: var(--salt-separable-secondary-borderColor);
}

div[class*="ag-theme-salt"].ag-theme-salt-header-divider-tertiary .ag-header,
div[class*="ag-theme-salt"].ag-theme-salt-header-divider-tertiary .ag-advanced-filter-header {
  border-bottom-color: var(--salt-separable-tertiary-borderColor);
}

div[class*="ag-theme-salt"].ag-theme-salt-header-divider-none .ag-header,
div[class*="ag-theme-salt"].ag-theme-salt-header-divider-none .ag-advanced-filter-header {
  border-bottom-color: transparent;
}
