/* INPUT */
.ag-theme-salt-light .ag-filter input[class^="ag-"][type="text"],
.ag-theme-salt-dark .ag-filter input[class^="ag-"][type="text"],
.ag-theme-salt-compact-light .ag-filter input[class^="ag-"][type="text"],
.ag-theme-salt-compact-dark .ag-filter input[class^="ag-"][type="text"],
.ag-theme-salt-light .ag-filter input[class^="ag-"][type="number"],
.ag-theme-salt-dark .ag-filter input[class^="ag-"][type="number"],
.ag-theme-salt-compact-light .ag-filter input[class^="ag-"][type="number"],
.ag-theme-salt-compact-dark .ag-filter input[class^="ag-"][type="number"],
.ag-theme-salt-light .ag-filter input[class^="ag-"][type="date"],
.ag-theme-salt-dark .ag-filter input[class^="ag-"][type="date"],
.ag-theme-salt-compact-light .ag-filter input[class^="ag-"][type="date"],
.ag-theme-salt-compact-dark .ag-filter input[class^="ag-"][type="date"],
.ag-theme-salt-light .ag-column-select input[class^="ag-"][type="text"],
.ag-theme-salt-dark .ag-column-select input[class^="ag-"][type="text"],
.ag-theme-salt-compact-light .ag-column-select input[class^="ag-"][type="text"],
.ag-theme-salt-compact-dark .ag-column-select input[class^="ag-"][type="text"],
.ag-theme-salt-light .ag-column-select input[class^="ag-"][type="number"],
.ag-theme-salt-dark .ag-column-select input[class^="ag-"][type="number"],
.ag-theme-salt-compact-light .ag-column-select input[class^="ag-"][type="number"],
.ag-theme-salt-compact-dark .ag-column-select input[class^="ag-"][type="number"],
.ag-theme-salt-light .ag-column-select input[class^="ag-"][type="date"],
.ag-theme-salt-dark .ag-column-select input[class^="ag-"][type="date"],
.ag-theme-salt-compact-light .ag-column-select input[class^="ag-"][type="date"],
.ag-theme-salt-compact-dark .ag-column-select input[class^="ag-"][type="date"] {
  border: none;
  border-bottom: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-editable-borderColor);
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding: 0 var(--salt-spacing-100);
}

.ag-theme-salt-light .ag-filter input[type="text"]::placeholder,
.ag-theme-salt-dark .ag-filter input[type="text"]::placeholder,
.ag-theme-salt-compact-light .ag-filter input[type="text"]::placeholder,
.ag-theme-salt-compact-dark .ag-filter input[type="text"]::placeholder,
.ag-theme-salt-light .ag-filter input[type="number"]::placeholder,
.ag-theme-salt-dark .ag-filter input[type="number"]::placeholder,
.ag-theme-salt-compact-light .ag-filter input[type="number"]::placeholder,
.ag-theme-salt-compact-dark .ag-filter input[type="number"]::placeholder,
.ag-theme-salt-light .ag-column-select input[type="text"]::placeholder,
.ag-theme-salt-dark .ag-column-select input[type="text"]::placeholder,
.ag-theme-salt-compact-light .ag-column-select input[type="text"]::placeholder,
.ag-theme-salt-compact-dark .ag-column-select input[type="text"]::placeholder,
.ag-theme-salt-light .ag-column-select input[type="number"]::placeholder,
.ag-theme-salt-dark .ag-column-select input[type="number"]::placeholder,
.ag-theme-salt-compact-light .ag-column-select input[type="number"]::placeholder,
.ag-theme-salt-compact-dark .ag-column-select input[type="number"]::placeholder {
  color: var(--salt-content-secondary-foreground);
  opacity: 1;
}

.ag-theme-salt-light .ag-filter input[class^="ag-"][type="text"]:focus,
.ag-theme-salt-dark .ag-filter input[class^="ag-"][type="text"]:focus,
.ag-theme-salt-compact-light .ag-filter input[class^="ag-"][type="text"]:focus,
.ag-theme-salt-compact-dark .ag-filter input[class^="ag-"][type="text"]:focus,
.ag-theme-salt-light .ag-filter input[class^="ag-"][type="number"]:focus,
.ag-theme-salt-dark .ag-filter input[class^="ag-"][type="number"]:focus,
.ag-theme-salt-compact-light .ag-filter input[class^="ag-"][type="number"]:focus,
.ag-theme-salt-compact-dark .ag-filter input[class^="ag-"][type="number"]:focus,
.ag-theme-salt-light .ag-filter input[class^="ag-"][type="date"]:focus,
.ag-theme-salt-dark .ag-filter input[class^="ag-"][type="date"]:focus,
.ag-theme-salt-compact-light .ag-filter input[class^="ag-"][type="date"]:focus,
.ag-theme-salt-compact-dark .ag-filter input[class^="ag-"][type="date"]:focus,
.ag-theme-salt-light .ag-column-select input[class^="ag-"][type="text"]:focus,
.ag-theme-salt-dark .ag-column-select input[class^="ag-"][type="text"]:focus,
.ag-theme-salt-compact-light .ag-column-select input[class^="ag-"][type="text"]:focus,
.ag-theme-salt-compact-dark .ag-column-select input[class^="ag-"][type="text"]:focus,
.ag-theme-salt-light .ag-column-select input[class^="ag-"][type="number"]:focus,
.ag-theme-salt-dark .ag-column-select input[class^="ag-"][type="number"]:focus,
.ag-theme-salt-compact-light .ag-column-select input[class^="ag-"][type="number"]:focus,
.ag-theme-salt-compact-dark .ag-column-select input[class^="ag-"][type="number"]:focus,
.ag-theme-salt-light .ag-column-select input[class^="ag-"][type="date"]:focus,
.ag-theme-salt-dark .ag-column-select input[class^="ag-"][type="date"]:focus,
.ag-theme-salt-compact-light .ag-column-select input[class^="ag-"][type="date"]:focus,
.ag-theme-salt-compact-dark .ag-column-select input[class^="ag-"][type="date"]:focus {
  outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
  outline-offset: -2px;
}

/* Large text editor, matching multiline input */
.ag-theme-salt-light .ag-popup-editor .ag-large-text textarea[class^="ag-"],
.ag-theme-salt-dark .ag-popup-editor .ag-large-text textarea[class^="ag-"],
.ag-theme-salt-compact-light .ag-popup-editor .ag-large-text textarea[class^="ag-"],
.ag-theme-salt-compact-dark .ag-popup-editor .ag-large-text textarea[class^="ag-"] {
  border-radius: var(--salt-palette-corner-weak, 0);
  padding: var(--salt-spacing-100) var(--salt-spacing-100);
}

.ag-theme-salt-light .ag-popup-editor .ag-large-text,
.ag-theme-salt-dark .ag-popup-editor .ag-large-text,
.ag-theme-salt-compact-light .ag-popup-editor .ag-large-text,
.ag-theme-salt-compact-dark .ag-popup-editor .ag-large-text,
.ag-theme-salt-light .ag-autocomplete-list-popup,
.ag-theme-salt-dark .ag-autocomplete-list-popup,
.ag-theme-salt-compact-light .ag-autocomplete-list-popup,
.ag-theme-salt-compact-dark .ag-autocomplete-list-popup {
  /* Don't apply a border, but rather textarea border below is used, otherwise focus ring position could be a problem. */
  border: none;
}

.ag-theme-salt-light .ag-popup-editor .ag-large-text textarea[class^="ag-"],
.ag-theme-salt-dark .ag-popup-editor .ag-large-text textarea[class^="ag-"],
.ag-theme-salt-compact-light .ag-popup-editor .ag-large-text textarea[class^="ag-"],
.ag-theme-salt-compact-dark .ag-popup-editor .ag-large-text textarea[class^="ag-"] {
  /* When textarea is not in focus, simulating a popup list (OptionList) border color */
  border-color: var(--salt-selectable-borderColor-selected);
}

.ag-theme-salt-light .ag-popup-editor .ag-large-text textarea[class^="ag-"]:focus,
.ag-theme-salt-dark .ag-popup-editor .ag-large-text textarea[class^="ag-"]:focus,
.ag-theme-salt-compact-light .ag-popup-editor .ag-large-text textarea[class^="ag-"]:focus,
.ag-theme-salt-compact-dark .ag-popup-editor .ag-large-text textarea[class^="ag-"]:focus {
  outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}
