/* INPUT */

/* SLoooow ? */
.ag-filter input[class^="ag-"][type="text"],
.ag-filter input[class^="ag-"][type="number"],
.ag-column-select input[class^="ag-"][type="text"],
.ag-column-select input[class^="ag-"][type="number"] {
  border: none;
  border-bottom: var(--salt-size-border) var(--salt-editable-borderStyle) var(--salt-editable-borderColor);
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding: 0 var(--salt-spacing-100);
}

/* SLoooow yes !!! `[class^="ag-"]` is slow */
/* .ag-filter input[class^="ag-"][type="text"]::placeholder,
.ag-filter input[class^="ag-"][type="number"]::placeholder,
.ag-column-select input[class^="ag-"][type="text"]::placeholder,
.ag-column-select input[class^="ag-"][type="number"]::placeholder {
  color: var(--salt-content-secondary-foreground);
  opacity: 1;
} */

/* SLoooow ? */
.ag-filter input[class^="ag-"][type="text"]:focus,
.ag-filter input[class^="ag-"][type="number"]:focus,
.ag-column-select input[class^="ag-"][type="text"]:focus,
.ag-column-select input[class^="ag-"][type="number"]:focus {
  outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
  outline-offset: -2px;
}
/* SLoooow ? */
/* Large text editor, matching multiline input */
.ag-popup-editor .ag-large-text textarea[class^="ag-"] {
  border-radius: var(--salt-palette-corner-weak, 0);
  padding: var(--salt-spacing-100) var(--salt-spacing-100);
}

.ag-popup-editor .ag-large-text,
.ag-autocomplete-list-popup {
  /* Don't apply a border, but rather textarea border below is used, otherwise focus ring position could be a problem. */
  border: none;
}
/* SLoooow ? */
.ag-popup-editor .ag-large-text textarea[class^="ag-"] {
  /* When textarea is not in focus, simulating a popup list (OptionList) border color */
  border-color: var(--salt-selectable-borderColor-selected);
}
/* SLoooow ? */

.ag-popup-editor .ag-large-text textarea[class^="ag-"]:focus {
  outline: var(--salt-focused-outlineWidth) var(--salt-focused-outlineStyle) var(--salt-focused-outlineColor);
}
