.ag-theme-salt-light .ag-menu,
.ag-theme-salt-dark .ag-menu,
.ag-theme-salt-compact-light .ag-menu,
.ag-theme-salt-compact-dark .ag-menu {
  padding: var(--salt-spacing-100);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
}
.ag-theme-salt-light .ag-tabs,
.ag-theme-salt-dark .ag-tabs,
.ag-theme-salt-compact-light .ag-tabs,
.ag-theme-salt-compact-dark .ag-tabs {
  padding: var(--salt-spacing-100);
}
.ag-theme-salt-light .ag-popup-child:not(.ag-tooltip-custom),
.ag-theme-salt-dark .ag-popup-child:not(.ag-tooltip-custom),
.ag-theme-salt-compact-light .ag-popup-child:not(.ag-tooltip-custom),
.ag-theme-salt-compact-dark .ag-popup-child:not(.ag-tooltip-custom) {
  box-shadow: var(--salt-overlayable-shadow-popout);
}
.ag-theme-salt-light .ag-menu-header,
.ag-theme-salt-dark .ag-menu-header,
.ag-theme-salt-compact-light .ag-menu-header,
.ag-theme-salt-compact-dark .ag-menu-header {
  border-bottom: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
  background-color: var(--salt-container-primary-background);
}
.ag-theme-salt-light .ag-menu-body,
.ag-theme-salt-dark .ag-menu-body,
.ag-theme-salt-compact-light .ag-menu-body,
.ag-theme-salt-compact-dark .ag-menu-body {
  padding: 0;
}
.ag-theme-salt-light .ag-menu-separator,
.ag-theme-salt-dark .ag-menu-separator,
.ag-theme-salt-compact-light .ag-menu-separator,
.ag-theme-salt-compact-dark .ag-menu-separator {
  height: var(--salt-size-fixed-100);
}
.ag-theme-salt-light .ag-menu-list,
.ag-theme-salt-dark .ag-menu-list,
.ag-theme-salt-compact-light .ag-menu-list,
.ag-theme-salt-compact-dark .ag-menu-list {
  padding: 0;
}
.ag-theme-salt-light .ag-menu-option,
.ag-theme-salt-dark .ag-menu-option,
.ag-theme-salt-compact-light .ag-menu-option,
.ag-theme-salt-compact-dark .ag-menu-option {
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
}
.ag-theme-salt-light .ag-menu-option-icon,
.ag-theme-salt-light .ag-compact-menu-option-icon,
.ag-theme-salt-dark .ag-menu-option-icon,
.ag-theme-salt-dark .ag-compact-menu-option-icon,
.ag-theme-salt-compact-light .ag-menu-option-icon,
.ag-theme-salt-compact-light .ag-compact-menu-option-icon,
.ag-theme-salt-compact-dark .ag-menu-option-icon,
.ag-theme-salt-compact-dark .ag-compact-menu-option-icon {
  padding-inline-start: var(--salt-spacing-100);
}
.ag-theme-salt-light .ag-tab,
.ag-theme-salt-dark .ag-tab,
.ag-theme-salt-compact-light .ag-tab,
.ag-theme-salt-compact-dark .ag-tab {
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  flex: 1 1 auto;
}
.ag-theme-salt-light .ag-column-select-header,
.ag-theme-salt-dark .ag-column-select-header,
.ag-theme-salt-compact-light .ag-column-select-header,
.ag-theme-salt-compact-dark .ag-column-select-header {
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  border: 0;
}
