.content-heading {
  margin: 0 0 calc(var(--salt-size-unit) / 2);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight-strong);
}

.content-body {
  font-size: var(--salt-text-fontSize);
}
