.uitk-density-touch {
  --grid-layout-gap-density-multiplier: 2;
}

/* Default variables applied to the root element */
.uitkGridLayout {
  --grid-layout-space: 1fr;
  --grid-layout-rowGap: var(--grid-layout-gap-density-multiplier, 3);
  --grid-layout-columnGap: var(--grid-layout-gap-density-multiplier, 3);
}

/* Style applied to the root element */
.uitkGridLayout {
  display: grid;
  column-gap: calc(var(--uitk-size-unit) * var(--grid-layout-columnGap));
  row-gap: calc(var(--uitk-size-unit) * var(--grid-layout-rowGap));
  grid-template-columns: repeat(var(--grid-layout-columns), var(--grid-layout-space));
  grid-template-rows: repeat(var(--grid-layout-rows), var(--grid-layout-space));
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}

.uitkGridLayout-area {
  grid-template: var(--grid-layout-gridTemplate);
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content 1fr min-content;
}
