.uitk-density-touch {
  --grid-layout-gap-density-multiplier: 2;
}

.uitkGridLayout {
  --grid-layout-space: 1fr;
  --grid-layout-row-gap: var(--grid-layout-gap-density-multiplier, 3);
  --grid-layout-column-gap: var(--grid-layout-gap-density-multiplier, 3);
}

.uitkGridLayout {
  display: grid;
  column-gap: calc(var(--uitk-size-unit) * var(--grid-layout-column-gap));
  row-gap: calc(var(--uitk-size-unit) * var(--grid-layout-row-gap));
  grid-template-columns: repeat(var(--grid-layout-columns), var(--grid-layout-space));
  grid-template-rows: repeat(var(--grid-layout-rows), var(--grid-layout-space));
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}

.uitkGridLayout-area {
  grid-template: var(--grid-layout-grid-template);
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content 1fr min-content;
}
