.uitkEmphasisHigh.uitkCard {
  --uitkCard-background: var(--uitk-container-background-high);
  --uitkCard-borderColor: var(--uitk-container-borderColor-high);
  --uitkCard-borderRadius: 10px;
  --uitkCard-borderWidth: 3px;
}
