.saltRating {
  display: inline-flex;
  box-sizing: border-box;
}

.saltFormField .saltRating-container,
.saltFormField .saltRating-label {
  min-height: var(--salt-size-base);
  padding-top: var(--salt-spacing-100);
}

.saltRating-labelTop,
.saltRating-labelBottom {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--salt-spacing-fixed-600);
}

.saltRating-labelLeft,
.saltRating-labelRight {
  flex-direction: row;
  gap: var(--salt-spacing-fixed-1200);
}

.saltRating-container {
  display: flex;
  flex-direction: row;
  gap: var(--salt-spacing-fixed-1200);
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: var(--salt-spacing-fixed-100);
  box-sizing: border-box;
}

.saltRating-label {
  color: var(--salt-content-primary-foreground);
  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
  box-sizing: border-box;
}

.saltRating-label.saltRating-label-left {
  text-align: right;
}
