.saltRating {
  width: fit-content;
}

.saltRating-container {
  gap: calc(var(--salt-spacing-100) * 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
}

.saltRating-label {
  color: var(--salt-content-primary-foreground);
  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-style: normal;
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
  width: 150px;
}

.saltRating-label.saltRating-label-top,
.saltRating-label.saltRating-label-bottom {
  text-align: center;
}

.saltRating-label.saltRating-label-left {
  text-align: right;
}
