.saltRating {
  width: fit-content;
}

.saltRating-container {
  display: flex;
  align-items: center;
}

.saltRating-label {
  color: var(--salt-content-primary-foreground);
  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-style: normal;
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.saltRating-label.saltRating-label-top, .saltRating-label.saltRating-label-bottom {
  text-align: center;
}

.saltRating-label.saltRating-label-left {
  text-align: right;
}
