.uitkBorderItem {
  --border-item-grid-area: none;
}

.uitkBorderItem {
  grid-area: var(--border-item-grid-area);
}

.uitkBorderItem-sticky {
  position: sticky;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
