.uitkCard {
  --card-background-color: var(--uitkCard-background-color, var(--uitk-container-low-emphasis-background));
  --card-border-width: var(--uitkCard-border-width, var(--uitk-container-border-width));
  --card-border-style: var(--uitkCard-border-style, var(--uitk-container-border-style));
  --card-border-color: var(--uitkCard-border-color, var(--uitk-container-low-emphasis-border-color));
  --card-border-color-disabled: var(--uitkCard-border-color-disabled, var(--uitk-container-low-emphasis-border-color-disabled));
  --card-border-color-hover: var(--uitkCard-border-color-hover, var(--uitk-container-low-emphasis-border-color-hover));
  --card-box-shadow-hover: var(--uitkCard-box-shadow-hover, var(--uitk-shadow-black-4));
  --card-box-shadow-active: var(--uitkCard-box-shadow-active, var(--uitk-shadow-black-2));
  --card-border-radius: var(--uitkCard-border-radius, var(--uitk-container-border-radius));
  --card-box-shadow: var(--uitkCard-box-shadow, var(--uitk-shadow-black-2));
  --card-color: var(--uitkCard-color, var(--uitk-text-primary-color));
  --card-padding: var(--uitkCard-padding, calc(var(--uitk-spacing-unit) * 3));
  --card-cursor-disabled: var(--uitkCard-cursor-disabled, var(--uitk-disabled-cursor));
  --content-padding: var(--uitkCard-content-padding, 0);
  --content-letter-spacing: var(--uitkCard-content-letter-spacing, 0);
  --content-line-height: var(--uitkCard-content-line-height, var(--uitk-typography-line-height));
  --content-font-size: var(--uitkCard-content-font-size, var(--uitk-typography-size-regular-unit));
}

.uitkCard {
  overflow: hidden;
  /* Should we introduce foundations/transitions? */
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--card-background-color);
  border-width: var(--card-border-width);
  border-style: var(--card-border-style);
  border-color: var(--card-border-color);
  border-radius: var(--card-border-radius);

  box-sizing: border-box;
  box-shadow: var(--card-box-shadow);
  color: var(--card-color);
  padding: var(--card-padding);
}

.uitkCard *,
*:before,
*:after {
  box-sizing: inherit;
}

.uitkCard-content {
  letter-spacing: var(--content-letter-spacing);
  line-height: var(--content-line-height);
  padding: var(--content-padding);
  font-size: var(--content-font-size);
}

.uitkCard-content:last-child {
  padding-bottom: var(--content-padding);
}

.uitkCard-disabled {
  cursor: var(--card-cursor-disabled);
  border-color: var(--card-border-color-disabled);
}

.uitkCard-disabled div {
  pointer-events: none;
}

.uitkCard-interactable {
  display: block;
  transition: none;
}

a:focus .uitkCard-interactable,
.uitkCard-interactable:hover {
  border-color: var(--card-border-color-hover);
  cursor: pointer;
  position: relative;
  box-shadow: var(--card-box-shadow-hover);
}

.uitkCard-interactable:active {
  box-shadow: var(--card-box-shadow-active);
}
