/* Styles applied to the root element */
.uitkCard {
  background-color: var(--uitkCard-background-color, var(--uitk-container-background-medium));
  border-width: var(--uitkCard-border-width, var(--uitk-container-borderWidth));
  border-style: var(--uitkCard-border-style, var(--uitk-container-borderStyle));
  border-color: var(--uitkCard-border-color, var(--uitk-container-borderColor-medium));
  border-radius: var(--uitkCard-border-radius, var(--uitk-container-borderRadius));
  box-shadow: var(--uitkCard-box-shadow, var(--uitk-overlayable-shadow));
  box-sizing: border-box;
  color: var(--uitkCard-color, var(--uitk-text-primary-foreground));
  overflow: hidden;
  padding: var(--uitkCard-padding, calc(var(--uitk-size-unit) * 3));
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.uitkCard *,
*:before,
*:after {
  box-sizing: inherit;
}

/* Styles applied to Card content */
.uitkCard-content {
  font-size: var(--uitkCard-content-font-size, var(--uitk-text-fontSize));
  letter-spacing: var(--uitkCard-content-letter-spacing, 0);
  line-height: var(--uitkCard-content-line-height, var(--uitk-text-lineHeight));
}

.uitkCard-content h1 {
  line-height: var(--uitkCard-content-h1-line-height, var(--uitk-text-h1-lineHeight));
  font-size: var(--uitkCard-content-h1-font-size, var(--uitk-text-h1-fontSize));
  font-weight: var(--uitkCard-content-h1-font-weight, var(--uitk-text-h1-fontWeight));
}

.uitkCard-content h2 {
  line-height: var(--uitkCard-content-h2-line-height, var(--uitk-text-h2-lineHeight));
  font-size: var(--uitkCard-content-h2-font-size, var(--uitk-text-h2-fontSize));
  font-weight: var(--uitkCard-content-h2-font-weight, var(--uitk-text-h2-fontWeight));
}

.uitkCard-content h3 {
  line-height: var(--uitkCard-content-h3-line-height, var(--uitk-text-h3-lineHeight));
  font-size: var(--uitkCard-content-h3-font-size, var(--uitk-text-h3-fontSize));
  font-weight: var(--uitkCard-content-h3-font-weight, var(--uitk-text-h3-fontWeight));
}

.uitkCard-content h4 {
  line-height: var(--uitkCard-content-h4-line-height, var(--uitk-text-hh41-line-height));
  font-size: var(--uitkCard-content-h4-font-size, var(--uitk-text-h4-fontSize));
  font-weight: var(--uitkCard-content-h4-font-weight, var(--uitk-text-h4-fontWeight));
}

/* Styles applied if `disabled={true}` */
.uitkCard-disabled {
  cursor: var(--uitkCard-cursor-disabled, var(--uitk-selectable-cursor-disabled));
  color: var(--uitkCard-color-disabled, var(--uitk-text-primary-foreground-disabled));
}

/* Styles applied to nested divs if `disabled={true}` */
.uitkCard-disabled div {
  pointer-events: none;
}

/* Styles applied if `interactable={true}` */
.uitkCard-interactable {
  display: block;
  transition: none;
}

/* Styles applied on hover if `interactable={true}` */
a:focus .uitkCard-interactable,
.uitkCard-interactable:hover {
  border-color: var(--uitkCard-border-color-hover, var(--uitk-selectable-borderColor-hover));
  color: var(--uitkCard-color-disabled, var(--uitk-text-primary-foreground-hover));
  cursor: var(--uitkCard-cursor-hover, var(--uitk-selectable-cursor-hover));
  position: relative;
  box-shadow: var(--uitkCard-box-shadow-hover, var(--uitk-overlayable-shadow-hover));
}

/* Styles applied on active state if `interactable={true}` */
.uitkCard-interactable:active {
  border-color: var(--uitkCard-border-color-hover, var(--uitk-selectable-borderColor-selected));
  box-shadow: var(--uitkCard-box-shadow-active, var(--uitk-overlayable-shadow-hover));
  cursor: var(--uitkCard-cursor-hover, var(--uitk-selectable-cursor-selected));
}

/* Styles applied on focus-visible */
.uitkCard:focus-visible {
  outline-style: var(--uitk-focused-outlinestyle);
  outline-width: var(--uitk-focused-outlineWidth);
  outline-color: var(--uitk-focused-outlineColor);
  outline-offset: var(--uitk-focused-outlineOffset);
}
