/* Style applied to the root element */
.saltCountrySymbol {
  --countrySymbol-size-multiplier: var(--saltCountrySymbol-size-multiplier, 1);
  --countrySymbol-base-size: var(--salt-size-base, 20px);
  --countrySymbol-size: calc(var(--countrySymbol-base-size) * var(--countrySymbol-size-multiplier));
}

.saltCountrySymbol {
  display: inline-block;
  margin: var(--saltCountrySymbol-margin, 0);
  position: relative;
  overflow: hidden;
  user-select: none;
}
.saltCountrySymbol-sharp {
  height: var(--countrySymbol-size);
  min-height: var(--countrySymbol-size);
}

.saltCountrySymbol-round {
  width: var(--countrySymbol-size);
  height: var(--countrySymbol-size);
  min-width: var(--countrySymbol-size);
  min-height: var(--countrySymbol-size);
  border-radius: 50%;
}
