/* Default variables applied to the root element */
.uitkFlexItem {
  --saltFlexItem-alignment: auto;
  --saltFlexItem-shrink: 1;
  --saltFlexItem-grow: 0;
}

/* Style applied to the root element */
.uitkFlexItem {
  position: relative;
  align-self: var(--saltFlexItem-alignment);
  flex-grow: var(--saltFlexItem-grow);
  flex-shrink: var(--saltFlexItem-shrink);
}

.uitkFlexItem-stacked {
  flex-grow: 2;
}
