.story-root {
  height: 600px;
  overflow-y: auto;
  border: solid 1px var(--uitk-container-primary-borderColor);
  padding: var(--uitk-size-base);
}

.accordion {
  width: 600px;
}

.accordion-story-details {
  padding: var(--uitk-size-base);
  border: solid 1px var(--uitk-text-primary-foreground);
}
