.story-root {
  height: 600px;
  overflow-y: auto;
  border: solid 1px var(--uitk-container-borderColor-medium);
  padding: var(--uitk-size-base);
}

.accordion {
  width: 600px;
}

.accordion-story-details {
  padding: var(--uitk-size-base);
  border: solid 1px var(--uitk-text-primary-foreground);
  box-sizing: border-box;
}

.accordion-styled {
  --uitkAccordionSummary-background: rgb(237, 237, 237);
  --uitkAccordionSummary-background-active: rgb(237, 237, 237);
  --uitkAccordionDetails-padding: 1rem;
  --uitkAccordionSection-borderColor: #6c6e6e;
  --uitkAccordionSection-borderWidth: 1px;
  --uitkAccordionSection-marginBottom: 1rem;
  --uitkAccordionSummary-icon-expand-transform: scaleY(-1);
  --uitkAccordionSummary-icon-transition: transform 300ms ease;
  --uitkAccordion-borderStyle: solid;
  --uitkAccordion-borderColor: #6c6e6e;
  --uitkAccordion-borderWidth: 2px;
  --uitkAccordion-padding: 1rem;
  --uitkAccordion-borderRadius: 4px;
}
