.carousel-container .uitkCarouselSlide-fixedContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: calc(var(--salt-size-unit) * 2) 0;
  width: 70vw;
  gap: calc(var(--salt-size-unit) * 1);
}

.carousel-container .uitkCarouselSlide-fixedContainer .uitkOrderedButton {
  margin-right: 0;
}

.carousel-container .uitkCarouselSlide-textContainerLeft {
  line-height: var(--salt-text-lineHeight);
}

.carousel-container .uitkCarouselSlide-titleContainer {
  font-size: var(--salt-text-h4-fontSize);
  font-weight: var(--salt-text-h4-fontWeight);
}

.carousel-container .uitkCarouselSlide-descriptionContainer {
  font-size: var(--salt-text-fontSize);
}

.carousel-container .uitkCarousel-prev-button,
.carousel-container .uitkCarousel-next-button {
  max-height: 520px;
}

.carousel-image-placeholder {
  height: 520px;
  width: 70vw;
  font-size: 4em;
  color: var(--salt-color-gray-200);
  white-space: normal;
}
.carousel-image-placeholder span {
  padding: calc(var(--salt-size-unit) * 3);
}

.carousel-image-placeholder-1 {
  background-color: var(--salt-color-orange-20);
}

.carousel-image-placeholder-2 {
  background-color: var(--salt-color-gray-40);
}
.carousel-image-placeholder-3 {
  background-color: var(--salt-color-teal-30);
}

.carousel-image-placeholder-4 {
  background-color: var(--salt-color-red-30);
}

.carousel-image-placeholder-5 {
  background-color: var(--salt-color-purple-30);
}
