.root {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.query-input {
  flex-shrink: 0;
}

.query-result {
  margin-top: 64px;
  border-top: solid 1px var(--uitk-separable-border-color-medium);
  flex-grow: 1;
}
