.uitkGridItem {
  justify-self: var(--grid-item-justify-self);
  align-self: var(--grid-item-align-self);
  grid-row-start: var(--grid-item-row-start);
  grid-column-start: var(--grid-item-column-start);
  grid-row-end: var(--grid-item-row-end);
  grid-column-end: var(--grid-item-column-end);
}
