/* the Tabstrip Activation Indicator, uses navigable styles */
.uitkTabstrip-activationIndicator {
  --tabs-activationIndicator-indicator-transitionDuration: 0.2s;
  --tabs-activationIndicator-indicator-transitionProperty: var(--tabs-strip-activation-indicator-transitionProperty, left);

  border: var(--uitkTabs-tabs-strip-activationIndicator-border, var(--uitk-navigable-border));
  border-style: var(--tabs-strip-activation-indicator-borderStyle);
  box-sizing: border-box;
  height: var(--tabs-strip-activation-indicator-height, auto);
  inset: var(--tabs-strip-activation-indicator-inset);
  position: absolute;
  width: var(--tabs-strip-activation-indicator-width, auto);
}

/* the Active Tab indicator, uses navigable styles */
.uitkTabstrip-activationIndicatorThumb {
  inset: var(--tabs-strip-activation-thumb-inset);
  position: absolute;
  height: var(--tabs-strip-activation-thumb-height, auto);
  background-color: var(--uitk-navigable-indicator-color-active);
  transition: var(--uitkTabs-activationIndicator-transition, var(--tabs-activationIndicator-indicator-transitionProperty) var(--tabs-activationIndicator-indicator-transitionDuration) ease);
  width: var(--tabs-strip-activation-thumb-width, auto);
  z-index: 1;
}
