/* class applied to root Tab element */
.uitkTab {
  --uitkFocusVisible-inset: 2px 2px 4px 2px;
  --uitkEditableLabel-padding: 0;
  --uitkEditableLabel-height: var(--tabstrip-height);
  --uitkInput-minWidth: 4em;
  --uitk-text-link-textDecoration: none;
  --uitk-text-link-textDecoration: none;
  --tab-bar-color: var(--uitkTab-bar-color, var(--uitk-color-grey-90));
  --tab-cursor: pointer;
  --tab-spacing: var(--uitk-size-unit);

  align-items: center;
  align-self: stretch;
  background: var(--uitkTab-background, var(--tabstrip-tab-background));
  border: none;
  border-radius: 0;
  color: var(--uitk-text-primary-foreground);
  cursor: var(--uitkTab-cursor, pointer);
  display: var(--tabstrip-tab-display);
  height: var(--uitkTab-height, var(--tabstrip-height));
  letter-spacing: var(--uitkTab-letterSpacing, 0);
  min-width: var(--uitkTab-minWidth, 40px);
  outline: none;
  position: var(--uitkTab-position, relative);
  user-select: none;
}

.uitkTab:not(.uitkTab-vertical) {
  margin: 0 var(--tab-spacing) 0 0;
}

.uitkTab[aria-selected="true"] {
  color: var(--uitk-navigable-link-color-active);
  /* should be fontWeight-active, but nor sure where that belongs */
  font-weight: var(--uitk-typography-weight-semiBold);
}

.uitkTab-dragAway {
  display: none;
}

/* main content aria of Tab */
.uitkTab-main {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: var(--uitk-size-stackable);
  outline: none;
  padding: 0 var(--tab-spacing);
  position: relative;
}

.uitkTab-closeable .uitkTab-main {
  border-right: solid transparent var(--uitk-size-unit);
}

.uitkTab .uitkTab-closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* the close Button on a closeable Tab*/
.uitkTab-close-icon {
  display: none;
}

.uitk-density-touch .uitkTab-close-icon,
.uitk-density-low .uitkTab-close-icon {
  display: block;
}

.uitk-density-touch .uitkTab-close-icon-small,
.uitk-density-low .uitkTab-close-icon-small {
  display: none;
}

.uitkTab .uitkTab-text {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  top: var(--uitkTab-top, auto);
  white-space: nowrap;
  /* ensure content sita above focus ring */
  z-index: var(--uitk-zIndex-default);
}

.uitkTab-vertical .uitkTab-text {
  text-align: left;
}

.uitkTab .uitkTab-text:before {
  height: 0;
  content: attr(data-text);
  display: block;
  visibility: hidden;
  /* must match font weight of selected tab styling */
  font-weight: var(--uitk-typography-weight-semiBold);
}

/* Editing  - these are focusVisible styles, just assign uitkFocusVisible*/
.uitkTab-editing:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  /* border: dotted cornflowerblue 2px;
   */
  outline-style: var(--uitk-focused-outlineStyle);
  outline-width: var(--uitk-focused-outlineWidth);
  outline-offset: -2px;
  /* outline-offset: var(--uitk-focused-outlineOffset); */
  outline-color: var(--uitk-focused-outlineColor);
}

.uitkTab-vertical.uitkTab-editing:after {
  right: 2px;
  bottom: 0;
}

.uitkTab-vertical .uitkFocusVisible:not([aria-selected="true"]):before {
  left: auto;
  height: auto;
  top: 0;
  width: 2px;
}

.uitkTab.uitkFocusVisible {
  background-color: var(--uitkTab-hover-background, var(--uitk-navigable-background-hover-medium));
}

.uitkTab:before {
  content: var(--tab-before-content, none);
  background: var(--tab-before-background);
  height: var(--tab-before-height);
  inset: var(--tab-before-inset);
  position: absolute;
  width: var(--tab-before-width);
  z-index: 1;
}

.uitkTabstrip-draggingTab .uitkTab[aria-selected="true"]:before {
  --tab-before-content: "";
  --tab-before-height: 2px;
  --tab-before-background: var(--uitk-navigable-indicator-color-active);
  --tab-before-height: var(--tabstrip-activation-thumb-height);
  --tab-before-inset: var(--tabstrip-activation-indicator-inset);
  --tab-before-width: var(--tabstrip-activation-thumb-width);
}

/* Hover styling */
.uitkTab:not([aria-selected="true"]).uitkFocusVisible:before,
.uitkTab:hover:not([aria-selected="true"]):before {
  --tab-before-content: "";
  --tab-before-background: var(--uitk-navigable-indicator-hover);
  --tab-before-height: var(--tabstrip-activation-thumb-height);
  --tab-before-inset: var(--tabstrip-activation-indicator-inset);
  --tab-before-width: var(--tabstrip-activation-thumb-width);
}

.uitkTab:hover:not(.uitkTab-closeHover) {
  background-color: var(--uitkTab-hover-background, var(--uitk-navigable-background-hover-medium));
}
