.uitkTabActivationIndicator-no-background {
  --tab-activationIndicator-background: transparent !important;
}

.uitkTabActivationIndicator {
  --tab-activationIndicator-background: var(--uitk-container-borderColor-medium); /* TODO: Check token */

  background: var(--uitkTab-activationIndicator-background, var(--tab-activationIndicator-background));
  bottom: 0;
  height: var(--tab-activationIndicator-height, auto);
  inset: var(--tab-activationIndicator-inset);
  position: absolute;
  width: var(--tab-activationIndicator-width, auto);
}

/* the Active Tab indicator, uses navigable styles */
.uitkTabActivationIndicator-thumb {
  inset: var(--tab-activationIndicator-thumb-inset);
  position: absolute;
  height: var(--tab-activationIndicator-thumb-height, auto);
  background: var(--uitk-navigable-indicator-active);
  transition: var(--uitkTab-activationIndicator-transition, left 0.3s ease);
  width: var(--tab-activationIndicator-thumb-width, auto);
  z-index: 1;
}
