.uitkTabActivationIndicator-no-background {
  --tabs-activationIndicator-indicator-bg: transparent !important;
}

.uitkTabActivationIndicator {
  --tabs-activationIndicator-indicator-bg: var(--uitk-container-borderColor-medium); /* TODO: Check token */

  background-color: var(--uitkTabs-tabActivationIndicator-bg, var(--tabs-activationIndicator-indicator-bg));
  bottom: 0;
  box-sizing: border-box;
  height: var(--tabs-strip-activation-indicator-height, auto);
  inset: var(--tabs-strip-activation-indicator-inset);
  position: absolute;
  width: var(--tabs-strip-activation-indicator-width, auto);
}

/* the Active Tab indicator, uses navigable styles */
.uitkTabActivationIndicator-thumb {
  inset: var(--tabs-strip-activation-thumb-inset);
  position: absolute;
  height: var(--tabs-strip-activation-thumb-height, auto);
  background-color: var(--uitk-navigable-indicator-active);
  transition: var(--uitkTabs-tabActivationIndicator-transition, left 0.3s ease);
  width: var(--tabs-strip-activation-thumb-width, auto);
  z-index: 1;
}
