.uitkTabActivationIndicator-no-background {
  --tabs-activationIndicator-background: transparent !important;
}

.uitkTabActivationIndicator {
  --tabs-activationIndicator-background: var(--uitk-container-borderColor-medium); /* TODO: Check token */

  background: var(--uitkTabs-activationIndicator-background, var(--tabs-activationIndicator-background));
  bottom: 0;
  box-sizing: border-box;
  height: var(--tabs-activationIndicator-height, auto);
  inset: var(--tabs-activationIndicator-inset);
  position: absolute;
  width: var(--tabs-activationIndicator-width, auto);
}

/* the Active Tab indicator, uses navigable styles */
.uitkTabActivationIndicator-thumb {
  inset: var(--tabs-activationIndicator-thumb-inset);
  position: absolute;
  height: var(--tabs-activationIndicator-thumb-height, auto);
  background: var(--uitk-navigable-indicator-active);
  transition: var(--uitkTabs-activationIndicator-transition, left 0.3s ease);
  width: var(--tabs-activationIndicator-thumb-width, auto);
  z-index: 1;
}
