.salt-density-touch {
  /* Component specific, what semantic concept would cover these */
  --toolbar-depth: calc(4px * 13);
}

.salt-density-low {
  /* Component specific, what semantic concept would cover these */
  --toolbar-depth: calc(4px * 11);
}

.salt-density-medium {
  /* Component specific, what semantic concept would cover these */
  --toolbar-depth: calc(4px * 9);
}

.salt-density-high {
  /* Component specific, what semantic concept would cover these */
  --toolbar-depth: calc(4px * 7);
}
