.salt-density-touch {
  /* Component specific, what semantic concept would cover these */
  --toolbar-depth: calc(var(--salt-size-basis-unit) * 13);
}

.salt-density-low {
  /* Component specific, what semantic concept would cover these */
  --toolbar-depth: calc(var(--salt-size-basis-unit) * 11);
}

.salt-density-medium {
  /* Component specific, what semantic concept would cover these */
  --toolbar-depth: calc(var(--salt-size-basis-unit) * 9);
}

.salt-density-high {
  /* Component specific, what semantic concept would cover these */
  --toolbar-depth: calc(var(--salt-size-basis-unit) * 7);
}
