/* Styles applied to RadioButton container */
.saltRadioButton {
  display: flex;
  gap: var(--salt-size-adornmentGap);
  position: relative;
  user-select: none;
  cursor: pointer;
}

/* Styles applied when RadioButton is disabled */
.saltRadioButton-disabled {
  color: var(--salt-text-primary-foreground-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
  pointer-events: visible;
}

/* Styles applied to input component */
.saltRadioButton-input {
  cursor: inherit;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: var(--salt-zIndex-default);
}

/* Styles applied to icon when :focus-visible */
.saltRadioButton-input:focus-visible + .saltRadioButtonIcon {
  outline: var(--salt-focused-outline);
  outline-offset: var(--salt-focused-outlineOffset);
}
