/* Styles applied to root component (RadioButton) */
.uitk-density-medium .uitkRadioButton {
  --radio-button-label-margin-left: 6px;
  --radio-button-label-margin-top: 6px;
}

.uitk-density-high .uitkRadioButton {
  --radio-button-label-margin-left: 3px;
  --radio-button-label-margin-top: 3px;
}

.uitk-density-low .uitkRadioButton {
  --radio-button-label-margin-left: 9px;
  --radio-button-label-margin-top: 9px;
}

.uitk-density-touch .uitkRadioButton {
  --radio-button-label-margin-left: 12px;
  --radio-button-label-margin-top: 12px;
}

.uitkRadioButton {
  cursor: pointer;
  display: block;
}

/* Styles applied to root component on hover */
.uitkRadioButton:hover {
  background-color: var(--uitkRadioButton-background-hover, transparent);
}

/* Styles applied to root component on hover if `checked={true}` */
.uitkRadioButton-checked:hover {
  background-color: var(--uitkRadioButton-checked-background-hover, transparent);
}

/* Styles applied to root component on hover if `disabled={true}` or FormField disabled */
.uitkRadioButton-disabled,
.uitkFormField-disabled .uitkRadioButton {
  cursor: var(--uitk-disabled-cursor);
}

.uitkRadioButton-disabled {
  opacity: var(--uitk-opacity-foreground);
  pointer-events: visible;
}

/* Styles applied to container of label and Radio component */
.uitkRadioButton-labelContainer {
  display: inline-flex;
  align-items: flex-start;
  margin-left: 0;
  margin-right: 0;
  margin-top: var(--uitkRadioButton-radio-label-margin-top, var(--radio-button-label-margin-top));
  vertical-align: baseline;
}

.uitkRadioButton-labelContainer .uitkRadioButton {
  display: inline-flex;
  align-content: flex-start;
  vertical-align: baseline;
}

/* Styles applied to RadioButton displayed in group when `row=true` */
.uitk-density-medium .uitkFormGroup-row .uitkRadioButton {
  --radio-button-horizontal-label-container-margin-right: 24px;
}
.uitk-density-high .uitkFormGroup-row .uitkRadioButton {
  --radio-button-horizontal-label-container-margin-right: 12px;
}
.uitk-density-low .uitkFormGroup-row .uitkRadioButton {
  --radio-button-horizontal-label-container-margin-right: 36px;
}
.uitk-density-touch .uitkFormGroup-row .uitkRadioButton {
  --radio-button-horizontal-label-container-margin-right: 48px;
}

.uitkFormGroup.uitkFormGroup-row > .uitkRadioButton {
  margin-right: var(--uitkRadioButton-label-container-margin-right, var(--radio-button-horizontal-label-container-margin-right));
}

/* Styles applied to label */
.uitkRadioButton-labelText {
  color: var(--uitkRadioButton-label-text-color, var(--uitk-text-primary-color));
  flex-grow: 1;
  font-size: var(--uitkRadioButton-label-font-size, var(--uitk-text-font-size));
  letter-spacing: 0;
  line-height: var(--uitkRadioButton-label-line-height, var(--uitk-typography-line-height));
  margin-left: var(--uitkRadioButton-radio-label-margin-left, var(--radio-button-label-margin-left));
  min-height: var(--uitkRadioButton-label-min-height, var(--uitk-text-min-height));
}
