.uitk-light .uitkRadioIcon {
  --border-stroke: var(--uitk-color-grey-90);
  --border-stroke-checked: var(--uitk-color-blue-500);
  --border-stroke-hover: var(--uitk-color-blue-400);
  --border-stroke-width: 1px;

  --border-fill: var(--uitk-color-white);
  --border-fill-checked: var(--uitk-color-blue-400);

  --check-stroke: var(--uitk-color-white);
  --check-fill: var(--uitk-color-white);

  /* --icon-background-filled: var(--uitk-color-grey-20); */
  /* --icon-background-theme: var(--uitk-color-white); */
}

.uitk-dark .uitkRadioIcon {
  --border-stroke: var(--uitk-color-grey-100);
  --border-stroke-checked: var(--uitk-color-blue-400);
  --border-stroke-hover: var(--uitk-color-blue-300);
  --border-stroke-width: 1px;

  --border-fill: var(--uitk-color-grey-800);
  --border-fill-checked: var(--uitk-color-grey-800);

  --check-stroke: var(--uitk-color-blue-400);
  --check-fill: var(--uitk-color-blue-400);

  /* --icon-background-filled: var(--uitk-color-grey-900); */
  /* --icon-background-theme: var(--uitk-color-grey-800); */
}

.uitk-density-medium .uitkRadioIcon {
  --svg-size: 14px;
}

.uitk-density-high .uitkRadioIcon {
  --svg-size: 12px;
}

.uitk-density-low .uitkRadioIcon {
  --svg-size: 16px;
}

.uitk-density-touch .uitkRadioIcon {
  --svg-size: 18px;
}

.uitkRadioIcon {
  width: var(--svg-size);
  height: var(--svg-size);
}

.uitkRadioIcon-border {
  stroke: var(--border-stroke);
  stroke-width: var(--border-stroke-width);
  fill: var(--border-fill);
}

.uitkRadioIcon-checked .uitkRadioIcon-border {
  stroke: var(--border-stroke-checked);
  fill: var(--border-fill-checked);
}

.uitkRadio:hover .uitkRadioIcon-border {
  stroke: var(--border-stroke-hover);
}

.uitkRadioButton:hover .uitkRadioIcon-border {
  stroke: var(--border-stroke-hover);
}

.uitkRadio-disabled:hover .uitkRadioIcon-border {
  stroke: var(--border-stroke);
}

.uitkRadioButton-disabled:hover .uitkRadioIcon-border {
  stroke: var(--border-stroke);
}

/* .uitkRadio-filled .uitkRadioIcon-border {
  fill: var(--icon-background-filled);
} */

/* .uitkRadio-theme .uitkRadioIcon-border {
  fill: var(--icon-background-theme);
} */

/* .uitkRadio-transparent .uitkRadioIcon-border {
  fill: transparent;
} */

.uitkRadioIcon-check {
  stroke: var(--check-stroke);
  fill: var(--check-fill);
}
