/* Styles applied to root element */
.saltRadioButtonGroup {
  border: none;
}

/* Styles applied to the FormField FormLabel component */
.saltRadioButtonGroup-legend.saltFormLabel {
  margin-bottom: var(--saltRadioButton-group-vertical-label-marginBottom, calc(var(--salt-size-unit) * 2));
  --saltFormField-label-transform: var(--radioButton-group-formLabel-transform);
}
