/* Styles applied to root element */
.saltRadioButtonGroup {
  border: none;
  margin: 0;
  padding: 0;
}

.saltRadioButtonGroup-vertical {
  display: flex;
  gap: var(--salt-size-unit);
  flex-direction: column;
}

.saltRadioButtonGroup-horizontal {
  display: flex;
  gap: var(--salt-size-unit);
  flex-direction: row;
}

/* Styles applied to the FormField FormLabel component */
.saltRadioButtonGroup-legend {
  display: inline-block;
  font-size: var(--formField-label-fontSize);
  color: var(--salt-text-primary-foreground);
  margin-bottom: calc(var(--salt-size-unit) * 2);
}
