/* Styles applied to root component */
.saltBanner {
  --banner-background: var(--salt-container-primary-background);

  background: var(--saltBanner-background, var(--banner-background));
  border-color: var(--saltBanner-borderColor, var(--banner-status-borderColor));
  border-width: var(--saltBanner-borderWidth, var(--salt-size-border));
  border-style: var(--saltBanner-borderStyle, var(--salt-container-borderStyle));
  box-sizing: border-box;
  display: flex;
  gap: var(--salt-size-unit);
  padding: var(--saltBanner-padding, var(--salt-size-unit));
  position: relative;
  width: 100%;
}

/* Styles applied to icon */
.saltBanner-icon {
  --saltIcon-margin: calc((var(--salt-text-lineHeight) - 12px) / 2) 0 0 0;
}

/* Styles applied to close button */
.saltBanner-closeButton {
  margin: calc(var(--salt-size-unit) * -0.5) auto calc(var(--salt-size-unit) * -0.5) var(--salt-size-unit);
}

/* Styles applied to content */
.saltBanner-content {
  flex: 1 0;
  align-self: center;
}

/* Styles applied when state = "info" */
.saltBanner-info {
  --banner-status-borderColor: var(--salt-status-info-borderColor);
}

/* Styles applied when state = "error" */
.saltBanner-error {
  --banner-status-borderColor: var(--salt-status-error-borderColor);
}

/* Styles applied when state = "warning" */
.saltBanner-warning {
  --banner-status-borderColor: var(--salt-status-warning-borderColor);
}

/* Styles applied when state = "success" */
.saltBanner-success {
  --banner-status-borderColor: var(--salt-status-success-borderColor);
}

.saltBanner-emphasize.saltBanner-info {
  --banner-background: var(--salt-status-info-background);
}

.saltBanner-emphasize.saltBanner-error {
  --banner-background: var(--salt-status-error-background);
}

.saltBanner-emphasize.saltBanner-warning {
  --banner-background: var(--salt-status-warning-background);
}

.saltBanner-emphasize.saltBanner-success {
  --banner-background: var(--salt-status-success-background);
}
