/* Styles applied to root component */
.saltBanner {
  --banner-background: var(--saltBanner-background, var(--salt-container-primary-background));
  --banner-fontSize: var(--saltBanner-fontSize, var(--salt-text-fontSize));
  --banner-lineHeight: var(--saltBanner-lineHeight, var(--salt-text-lineHeight));
  --banner-padding: var(--saltBanner-padding, var(--salt-size-unit));
  --banner-label-color: var(--saltBanner-label-color, var(--salt-text-primary-foreground));
}

.saltBanner {
  background: var(--banner-background);
  border-color: var(--saltBanner-borderColor, var(--banner-status-borderColor));
  border-width: var(--saltBanner-borderWidth, var(--salt-size-border));
  border-style: var(--saltBanner-borderStyle, var(--salt-container-borderStyle));
  border-bottom: 2px solid var(--saltBanner-borderColor, var(--banner-status-borderColor));
  box-sizing: border-box;
  display: flex;
  gap: var(--salt-size-unit);
  padding: var(--banner-padding);
  position: relative;
  width: 100%;
  align-items: baseline;
}

.saltBanner-closeButton {
  padding: 0;
  height: var(--salt-text-lineHeight);
}

.saltBanner-content {
  flex: 1 0;
  font-weight: var(--salt-text-label-fontWeight);
  font-size: var(--salt-text-fontSize);
  line-height: var(--salt-text-lineHeight);
  color: var(--banner-label-color);
}

/* Styles applied when state = "info" */
.saltBanner-info {
  --banner-status-borderColor: var(--salt-status-info-borderColor);
}

/* Styles applied when state = "error" */
.saltBanner-error {
  --banner-status-borderColor: var(--salt-status-error-borderColor);
}

/* Styles applied when state = "warning" */
.saltBanner-warning {
  --banner-status-borderColor: var(--salt-status-warning-borderColor);
}

/* Styles applied when state = "success" */
.saltBanner-success {
  --banner-status-borderColor: var(--salt-status-success-borderColor);
}

.saltBanner-emphasize.saltBanner-info {
  --banner-background: var(--salt-status-info-background);
}

.saltBanner-emphasize.saltBanner-error {
  --banner-background: var(--salt-status-error-background);
}

.saltBanner-emphasize.saltBanner-warning {
  --banner-background: var(--salt-status-warning-background);
}

.saltBanner-emphasize.saltBanner-success {
  --banner-background: var(--salt-status-success-background);
}
