.parent-child-layout {
  width: 20vw;
  max-width: 250px;
  height: 200px;
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-secondary-borderColor);
}

.parentContent {
  padding: var(--salt-spacing-300);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85px;
  height: 100%;
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-secondary-borderColor);
}

.childContent {
  padding: var(--salt-spacing-300);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-secondary-borderColor);
}
