.navigation {
  position: relative;
  min-width: 160px;
}

.navList {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.parent-child-composite-container {
  max-width: 545px;
  width: 100%;
  min-height: 328px;
  padding: var(--salt-spacing-300);
}

.parent-child-composite-container .child {
  padding: var(--salt-spacing-200);
}