/* Styles applied to the root element if variant="cta" */
.saltButton-cta {
  --button-background: var(--salt-actionable-cta-background);
  --button-background-active: var(--salt-actionable-cta-background-active);
  --button-background-disabled: var(--salt-actionable-cta-background-disabled);
  --button-background-hover: var(--salt-actionable-cta-background-hover);
  --button-text-color: var(--salt-actionable-cta-foreground);
  --button-text-color-active: var(--salt-actionable-cta-foreground-active);
  --button-text-color-disabled: var(--salt-actionable-cta-foreground-disabled);
  --button-text-color-hover: var(--salt-actionable-cta-foreground-hover);
}

/* Icon API in "CTA" variant @ignore */
.saltButton-cta {
  --saltIcon-color: var(--salt-actionable-cta-foreground);
}
.saltButton-cta:hover {
  --saltIcon-color: var(--salt-actionable-cta-foreground-hover);
}
.saltButton-cta:active,
.saltButton-cta.saltButton-active {
  --saltIcon-color: var(--salt-actionable-cta-foreground-active);
}
.saltButton-cta.saltButton-disabled {
  --saltIcon-color: var(--salt-actionable-cta-foreground-disabled);
}

/* Styles applied to the root element if variant="primary" (or no variant specified) */
.saltButton-primary {
  --button-background: var(--salt-actionable-primary-background);
  --button-background-active: var(--salt-actionable-primary-background-active);
  --button-background-disabled: var(--salt-actionable-primary-background-disabled);
  --button-background-hover: var(--salt-actionable-primary-background-hover);
  --button-text-color: var(--salt-actionable-primary-foreground);
  --button-text-color-active: var(--salt-actionable-primary-foreground-active);
  --button-text-color-disabled: var(--salt-actionable-primary-foreground-disabled);
  --button-text-color-hover: var(--salt-actionable-primary-foreground-hover);
}

/* Icon API in "primary" variant @ignore */
.saltButton-primary {
  --saltIcon-color: var(--salt-actionable-primary-foreground);
}
.saltButton-primary:hover {
  --saltIcon-color: var(--salt-actionable-primary-foreground-hover);
}
.saltButton-primary:active,
.saltButton-primary.saltButton-active {
  --saltIcon-color: var(--salt-actionable-primary-foreground-active);
}
.saltButton-primary.saltButton-disabled {
  --saltIcon-color: var(--salt-actionable-primary-foreground-disabled);
}

/* Styles applied to the root element if variant="secondary" */
.saltButton-secondary {
  --button-background: var(--salt-actionable-secondary-background);
  --button-background-active: var(--salt-actionable-secondary-background-active);
  --button-background-disabled: var(--salt-actionable-secondary-background-disabled);
  --button-background-hover: var(--salt-actionable-secondary-background-hover);
  --button-text-color: var(--salt-actionable-secondary-foreground);
  --button-text-color-active: var(--salt-actionable-secondary-foreground-active);
  --button-text-color-disabled: var(--salt-actionable-secondary-foreground-disabled);
  --button-text-color-hover: var(--salt-actionable-secondary-foreground-hover);
}

/* Icon API in "secondary" variant @ignore */
.saltButton-secondary {
  --saltIcon-color: var(--salt-actionable-secondary-foreground);
}

.saltButton-secondary:hover {
  --saltIcon-color: var(--salt-actionable-secondary-foreground-hover);
}
.saltButton-secondary:active,
.saltButton-secondary.saltButton-active {
  --saltIcon-color: var(--salt-actionable-secondary-foreground-active);
}
.saltButton-secondary.saltButton-disabled {
  --saltIcon-color: var(--salt-actionable-secondary-foreground-disabled);
}

.saltButton {
  align-items: var(--saltButton-alignItems, center);
  appearance: none;
  background: var(--saltButton-background, var(--button-background));
  border-color: var(--saltButton-borderColor, transparent);
  border-style: var(--saltButton-borderStyle, solid);
  border-width: var(--saltButton-borderWidth, 0);
  border-radius: var(--saltButton-borderRadius, 0);
  color: var(--saltButton-text-color, var(--button-text-color));
  cursor: var(--saltButton-cursor, pointer);
  display: inline-flex;
  gap: var(--salt-spacing-50);
  justify-content: var(--saltButton-justifyContent, center);
  font-size: var(--saltButton-fontSize, var(--salt-text-fontSize));
  font-family: var(--saltButton-fontFamily, var(--salt-text-fontFamily));
  line-height: var(--saltButton-lineHeight, var(--salt-text-lineHeight));
  letter-spacing: var(--saltButton-letterSpacing, var(--salt-text-action-letterSpacing));
  text-transform: var(--saltButton-textTransform, var(--salt-text-action-textTransform));
  padding: 0 var(--saltButton-padding, var(--salt-size-unit));
  margin: var(--saltButton-margin, 0);
  height: var(--saltButton-height, var(--salt-size-base));
  min-width: var(--saltButton-minWidth, unset);
  position: relative;
  text-align: var(--saltButton-textAlign, var(--salt-actionable-textAlign));
  text-decoration: none;
  transition: none;
  width: var(--saltButton-width, auto);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  /* Styles applied to align children*/
  font-weight: var(--saltButton-fontWeight, var(--salt-text-action-fontWeight));
}

/* Pseudo-class applied to the root element on focus */
.saltButton:focus-visible {
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-color: var(--salt-focused-outlineColor);
  outline-offset: var(--salt-focused-outlineOffset);
  background: var(--saltButton-background-hover, var(--button-background-hover));
  color: var(--saltButton-text-color-hover, var(--button-text-color-hover));
}

/* Pseudo-class applied to the root element on focus when Button is active */
.saltButton.saltButton-active:focus-visible,
.saltButton:focus-visible(:active) {
  background: var(--saltButton-background-active-hover, var(--button-background));
  color: var(--saltButton-text-color-active-hover, var(--button-text-color));
}

/* Pseudo-class applied to the root element on hover when Button is not active or disabled */
.saltButton:hover {
  background: var(--saltButton-background-hover, var(--button-background-hover));
  color: var(--saltButton-text-color-hover, var(--button-text-color-hover));
}

/* Pseudo-class applied to the root element when Button is active and not disabled */
.saltButton:active,
.saltButton.saltButton-active {
  background: var(--saltButton-background-active, var(--button-background-active));
  color: var(--saltButton-text-color-active, var(--button-text-color-active));
}

/* Pseudo-class applied to the root element if disabled={true} */
.saltButton:disabled,
.saltButton-disabled,
  /* Overrides to apply the disabled style when the button is focusable while also disabled */
.saltButton-disabled:active,
.saltButton-disabled:focus-visible,
.saltButton-disabled:hover {
  background: var(--saltButton-background-disabled, var(--button-background-disabled));
  color: var(--saltButton-text-color-disabled, var(--button-text-color-disabled));
  cursor: var(--saltButton-cursor-disabled, var(--salt-actionable-cursor-disabled));
}

.saltButton[href] {
  display: inline-flex;
}
