/*
  Deprecated Variables Notice:

The CSS variables listed below are deprecated and should be replaced with their corresponding SaltStyleContract variables.
If you are currently overriding these variables, please create a SaltStyleContract that utilizes the --saltButton-contract- prefixed variables.
This approach allows us to share contracts that manage style tokens and provide a structured way for users to implement known levels of customization.

--saltButton-alignItems
--saltButton-background
--saltButton-background-active
--saltButton-background-active-hover
--saltButton-background-disabled
--saltButton-background-hover
--saltButton-borderColor
--saltButton-borderColor-active
--saltButton-borderColor-disabled
--saltButton-borderColor-hover
--saltButton-borderRadius
--saltButton-borderStyle
--saltButton-borderWidth
--saltButton-cursor
--saltButton-cursor-disabled
--saltButton-fontFamily
--saltButton-fontSize
--saltButton-fontWeight
--saltButton-height
--saltButton-justifyContent
--saltButton-letterSpacing
--saltButton-lineHeight
--saltButton-margin
--saltButton-minWidth
--saltButton-padding
--saltButton-text-color
--saltButton-text-color-active
--saltButton-text-color-active-hover
--saltButton-text-color-disabled
--saltButton-text-color-hover
--saltButton-textAlign
--saltButton-textTransform
--saltButton-width

  Please transition to using the `--saltButton-contract-` variables to ensure compatibility with future updates.
*/

.saltButton {
  --button-alignItems: center;
  --button-background: var(--button-background-default);
  --button-borderColor: var(--button-borderColor-default, transparent);
  --button-borderRadius: var(--salt-palette-corner-weak, 0);
  --button-borderStyle: solid;
  --button-borderWidth: var(--salt-size-border, 0);
  --button-color: var(--button-color-default, inherit);
  --button-cursor: pointer;
  --button-fontFamily: var(--salt-text-action-fontFamily);
  --button-fontSize: var(--salt-text-fontSize);
  --button-fontWeight: var(--salt-text-action-fontWeight);
  --button-gap: var(--salt-spacing-50);
  --button-height: var(--salt-size-base);
  --button-justifyContent: center;
  --button-letterSpacing: var(--salt-text-action-letterSpacing);
  --button-lineHeight: var(--salt-text-lineHeight);
  --button-margin: 0;
  --button-minWidth: unset;
  --button-padding: 0 calc(var(--salt-spacing-100) - var(--salt-size-border, 0));
  --button-textAlign: var(--salt-text-action-textAlign);
  --button-textTransform: var(--salt-text-action-textTransform);
  --button-width: auto;

  --button-outlineStyle: none;
  --button-outlineWidth: var(--salt-focused-outlineWidth);
  --button-outlineColor: var(--salt-focused-outlineColor);
  --button-outlineOffset: var(--salt-focused-outlineOffset);

  /* Properties with contract variable support */
  align-items: var(--button-alignItems);
  background: var(--button-background);
  border-color: var(--button-borderColor);
  border-radius: var(--button-borderRadius);
  border-style: var(--button-borderStyle);
  border-width: var(--button-borderWidth);
  color: var(--button-color);
  cursor: var(--button-cursor);
  font-family: var(--button-fontFamily);
  font-size: var(--button-fontSize);
  font-weight: var(--button-fontWeight);
  gap: var(--button-gap);
  height: var(--button-height);
  justify-content: var(--button-justifyContent);
  letter-spacing: var(--button-letterSpacing);
  line-height: var(--button-lineHeight);
  margin: var(--button-margin);
  min-width: var(--button-minWidth);
  outline: var(--button-outlineColor) var(--button-outlineStyle) var(--button-outlineWidth);
  outline-offset: var(--button-outlineOffset);
  padding: var(--button-padding);
  text-align: var(--button-textAlign);
  text-transform: var(--button-textTransform);
  width: var(--button-width);

  /* Other properties */
  appearance: none;
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  text-decoration: none;
  transition: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.saltButton-accented.saltButton-solid {
  --button-color-default: var(--salt-actionable-accented-bold-foreground);
  --button-color-hover: var(--salt-actionable-accented-bold-foreground-hover);
  --button-color-active: var(--salt-actionable-accented-bold-foreground-active);
  --button-color-disabled: var(--salt-actionable-accented-bold-foreground-disabled);
  --button-background-default: var(--salt-actionable-accented-bold-background);
  --button-background-active: var(--salt-actionable-accented-bold-background-active);
  --button-background-disabled: var(--salt-actionable-accented-bold-background-disabled);
  --button-background-hover: var(--salt-actionable-accented-bold-background-hover);
  --button-borderColor-default: var(--salt-actionable-accented-bold-borderColor);
  --button-borderColor-hover: var(--salt-actionable-accented-bold-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-accented-bold-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-accented-bold-borderColor-disabled);
}

.saltButton-accented.saltButton-bordered {
  --button-color-default: var(--salt-actionable-accented-foreground);
  --button-color-hover: var(--salt-actionable-accented-foreground-hover);
  --button-color-active: var(--salt-actionable-accented-foreground-active);
  --button-color-disabled: var(--salt-actionable-accented-foreground-disabled);
  --button-background-default: var(--salt-actionable-accented-background);
  --button-background-hover: var(--salt-actionable-accented-background-hover);
  --button-background-active: var(--salt-actionable-accented-background-active);
  --button-background-disabled: var(--salt-actionable-accented-background-disabled);
  --button-borderColor-default: var(--salt-actionable-accented-borderColor);
  --button-borderColor-hover: var(--salt-actionable-accented-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-accented-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-accented-borderColor-disabled);
}

.saltButton-accented.saltButton-transparent {
  --button-color-default: var(--salt-actionable-accented-subtle-foreground);
  --button-color-hover: var(--salt-actionable-accented-subtle-foreground-hover);
  --button-color-active: var(--salt-actionable-accented-subtle-foreground-active);
  --button-color-disabled: var(--salt-actionable-accented-subtle-foreground-disabled);
  --button-background-default: var(--salt-actionable-accented-subtle-background);
  --button-background-hover: var(--salt-actionable-accented-subtle-background-hover);
  --button-background-active: var(--salt-actionable-accented-subtle-background-active);
  --button-background-disabled: var(--salt-actionable-accented-subtle-background-disabled);
  --button-borderColor-default: var(--salt-actionable-accented-subtle-borderColor);
  --button-borderColor-hover: var(--salt-actionable-accented-subtle-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-accented-subtle-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-accented-subtle-borderColor-disabled);
}

.saltButton-accented.saltButton-loading {
  --button-color-default: var(--salt-actionable-accented-background);
  --button-color-hover: var(--salt-actionable-accented-background);
  --button-color-active: var(--salt-actionable-accented-background);
  --button-color-disabled: var(--salt-actionable-accented-background);
  --button-background-default: var(--salt-actionable-accented-background);
  --button-background-hover: var(--salt-actionable-accented-background);
  --button-background-active: var(--salt-actionable-accented-background);
  --button-background-disabled: var(--salt-actionable-accented-background);
  --button-borderColor-default: var(--salt-actionable-accented-borderColor);
  --button-borderColor-hover: var(--salt-actionable-accented-borderColor);
  --button-borderColor-active: var(--salt-actionable-accented-borderColor);
  --button-borderColor-disabled: var(--salt-actionable-accented-borderColor);
  --button-cursor: progress;
}

.saltButton-neutral.saltButton-solid {
  --button-color-default: var(--salt-actionable-bold-foreground);
  --button-color-hover: var(--salt-actionable-bold-foreground-hover);
  --button-color-active: var(--salt-actionable-bold-foreground-active);
  --button-color-disabled: var(--salt-actionable-bold-foreground-disabled);
  --button-background-default: var(--salt-actionable-bold-background);
  --button-background-hover: var(--salt-actionable-bold-background-hover);
  --button-background-active: var(--salt-actionable-bold-background-active);
  --button-background-disabled: var(--salt-actionable-bold-background-disabled);
  --button-borderColor-default: var(--salt-actionable-bold-borderColor);
  --button-borderColor-hover: var(--salt-actionable-bold-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-bold-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-bold-borderColor-disabled);
}

.saltButton-neutral.saltButton-bordered {
  --button-color-default: var(--salt-actionable-foreground);
  --button-color-hover: var(--salt-actionable-foreground-hover);
  --button-color-active: var(--salt-actionable-foreground-active);
  --button-color-disabled: var(--salt-actionable-foreground-disabled);
  --button-background-default: var(--salt-actionable-background);
  --button-background-hover: var(--salt-actionable-background-hover);
  --button-background-active: var(--salt-actionable-background-active);
  --button-background-disabled: var(--salt-actionable-background-disabled);
  --button-borderColor-default: var(--salt-actionable-borderColor);
  --button-borderColor-hover: var(--salt-actionable-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-borderColor-disabled);
}

.saltButton-neutral.saltButton-transparent {
  --button-color-default: var(--salt-actionable-subtle-foreground);
  --button-color-hover: var(--salt-actionable-subtle-foreground-hover);
  --button-color-active: var(--salt-actionable-subtle-foreground-active);
  --button-color-disabled: var(--salt-actionable-subtle-foreground-disabled);
  --button-background-default: var(--salt-actionable-subtle-background);
  --button-background-hover: var(--salt-actionable-subtle-background-hover);
  --button-background-active: var(--salt-actionable-subtle-background-active);
  --button-background-disabled: var(--salt-actionable-subtle-background-disabled);
  --button-borderColor-default: var(--salt-actionable-subtle-borderColor);
  --button-borderColor-hover: var(--salt-actionable-subtle-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-subtle-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-subtle-borderColor-disabled);
}

.saltButton-neutral.saltButton-loading {
  --button-color-default: var(--salt-actionable-background);
  --button-color-hover: var(--salt-actionable-background);
  --button-color-active: var(--salt-actionable-background);
  --button-color-disabled: var(--salt-actionable-background);
  --button-background-default: var(--salt-actionable-background);
  --button-background-hover: var(--salt-actionable-background);
  --button-background-active: var(--salt-actionable-background);
  --button-background-disabled: var(--salt-actionable-background);
  --button-borderColor-default: var(--salt-actionable-borderColor);
  --button-borderColor-hover: var(--salt-actionable-borderColor);
  --button-borderColor-active: var(--salt-actionable-borderColor);
  --button-borderColor-disabled: var(--salt-actionable-borderColor);
  --button-cursor: progress;
}

.saltButton-negative.saltButton-solid {
  --button-color-default: var(--salt-actionable-negative-bold-foreground);
  --button-color-hover: var(--salt-actionable-negative-bold-foreground-hover);
  --button-color-active: var(--salt-actionable-negative-bold-foreground-active);
  --button-color-disabled: var(--salt-actionable-negative-bold-foreground-disabled);
  --button-background-default: var(--salt-actionable-negative-bold-background);
  --button-background-hover: var(--salt-actionable-negative-bold-background-hover);
  --button-background-active: var(--salt-actionable-negative-bold-background-active);
  --button-background-disabled: var(--salt-actionable-negative-bold-background-disabled);
  --button-borderColor-default: var(--salt-actionable-negative-bold-borderColor);
  --button-borderColor-hover: var(--salt-actionable-negative-bold-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-negative-bold-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-negative-bold-borderColor-disabled);
}

.saltButton-negative.saltButton-bordered {
  --button-color-default: var(--salt-actionable-negative-foreground);
  --button-color-hover: var(--salt-actionable-negative-foreground-hover);
  --button-color-active: var(--salt-actionable-negative-foreground-active);
  --button-color-disabled: var(--salt-actionable-negative-foreground-disabled);
  --button-background-default: var(--salt-actionable-negative-background);
  --button-background-hover: var(--salt-actionable-negative-background-hover);
  --button-background-active: var(--salt-actionable-negative-background-active);
  --button-background-disabled: var(--salt-actionable-negative-background-disabled);
  --button-borderColor-default: var(--salt-actionable-negative-borderColor);
  --button-borderColor-hover: var(--salt-actionable-negative-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-negative-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-negative-borderColor-disabled);
}

.saltButton-negative.saltButton-transparent {
  --button-color-default: var(--salt-actionable-negative-subtle-foreground);
  --button-color-hover: var(--salt-actionable-negative-subtle-foreground-hover);
  --button-color-active: var(--salt-actionable-negative-subtle-foreground-active);
  --button-color-disabled: var(--salt-actionable-negative-subtle-foreground-disabled);
  --button-background-default: var(--salt-actionable-negative-subtle-background);
  --button-background-hover: var(--salt-actionable-negative-subtle-background-hover);
  --button-background-active: var(--salt-actionable-negative-subtle-background-active);
  --button-background-disabled: var(--salt-actionable-negative-subtle-background-disabled);
  --button-borderColor-default: var(--salt-actionable-negative-subtle-borderColor);
  --button-borderColor-hover: var(--salt-actionable-negative-subtle-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-negative-subtle-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-negative-subtle-borderColor-disabled);
}

.saltButton-negative.saltButton-loading {
  --button-color-default: var(--salt-actionable-negative-background);
  --button-color-hover: var(--salt-actionable-negative-background);
  --button-color-active: var(--salt-actionable-negative-background);
  --button-color-disabled: var(--salt-actionable-negative-background);
  --button-background-default: var(--salt-actionable-negative-background);
  --button-background-hover: var(--salt-actionable-negative-background);
  --button-background-active: var(--salt-actionable-negative-background);
  --button-background-disabled: var(--salt-actionable-negative-background);
  --button-borderColor-default: var(--salt-actionable-negative-borderColor);
  --button-borderColor-hover: var(--salt-actionable-negative-borderColor);
  --button-borderColor-active: var(--salt-actionable-negative-borderColor);
  --button-borderColor-disabled: var(--salt-actionable-negative-borderColor);
  --button-cursor: progress;
}

.saltButton-positive.saltButton-solid {
  --button-color-default: var(--salt-actionable-positive-bold-foreground);
  --button-color-hover: var(--salt-actionable-positive-bold-foreground-hover);
  --button-color-active: var(--salt-actionable-positive-bold-foreground-active);
  --button-color-disabled: var(--salt-actionable-positive-bold-foreground-disabled);
  --button-background-default: var(--salt-actionable-positive-bold-background);
  --button-background-hover: var(--salt-actionable-positive-bold-background-hover);
  --button-background-active: var(--salt-actionable-positive-bold-background-active);
  --button-background-disabled: var(--salt-actionable-positive-bold-background-disabled);
  --button-borderColor-default: var(--salt-actionable-positive-bold-borderColor);
  --button-borderColor-hover: var(--salt-actionable-positive-bold-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-positive-bold-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-positive-bold-borderColor-disabled);
}

.saltButton-positive.saltButton-bordered {
  --button-color-default: var(--salt-actionable-positive-foreground);
  --button-color-hover: var(--salt-actionable-positive-foreground-hover);
  --button-color-active: var(--salt-actionable-positive-foreground-active);
  --button-color-disabled: var(--salt-actionable-positive-foreground-disabled);
  --button-background-default: var(--salt-actionable-positive-background);
  --button-background-hover: var(--salt-actionable-positive-background-hover);
  --button-background-active: var(--salt-actionable-positive-background-active);
  --button-background-disabled: var(--salt-actionable-positive-background-disabled);
  --button-borderColor-default: var(--salt-actionable-positive-borderColor);
  --button-borderColor-hover: var(--salt-actionable-positive-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-positive-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-positive-borderColor-disabled);
}

.saltButton-positive.saltButton-transparent {
  --button-color-default: var(--salt-actionable-positive-subtle-foreground);
  --button-color-hover: var(--salt-actionable-positive-subtle-foreground-hover);
  --button-color-active: var(--salt-actionable-positive-subtle-foreground-active);
  --button-color-disabled: var(--salt-actionable-positive-subtle-foreground-disabled);
  --button-background-default: var(--salt-actionable-positive-subtle-background);
  --button-background-hover: var(--salt-actionable-positive-subtle-background-hover);
  --button-background-active: var(--salt-actionable-positive-subtle-background-active);
  --button-background-disabled: var(--salt-actionable-positive-subtle-background-disabled);
  --button-borderColor-default: var(--salt-actionable-positive-subtle-borderColor);
  --button-borderColor-hover: var(--salt-actionable-positive-subtle-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-positive-subtle-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-positive-subtle-borderColor-disabled);
}

.saltButton-positive.saltButton-loading {
  --button-color-default: var(--salt-actionable-positive-background);
  --button-color-hover: var(--salt-actionable-positive-background);
  --button-color-active: var(--salt-actionable-positive-background);
  --button-color-disabled: var(--salt-actionable-positive-background);
  --button-background-default: var(--salt-actionable-positive-background);
  --button-background-hover: var(--salt-actionable-positive-background);
  --button-background-active: var(--salt-actionable-positive-background);
  --button-background-disabled: var(--salt-actionable-positive-background);
  --button-borderColor-default: var(--salt-actionable-positive-borderColor);
  --button-borderColor-hover: var(--salt-actionable-positive-borderColor);
  --button-borderColor-active: var(--salt-actionable-positive-borderColor);
  --button-borderColor-disabled: var(--salt-actionable-positive-borderColor);
  --button-cursor: progress;
}

.saltButton-caution.saltButton-solid {
  --button-color-default: var(--salt-actionable-caution-bold-foreground);
  --button-color-hover: var(--salt-actionable-caution-bold-foreground-hover);
  --button-color-active: var(--salt-actionable-caution-bold-foreground-active);
  --button-color-disabled: var(--salt-actionable-caution-bold-foreground-disabled);
  --button-background-default: var(--salt-actionable-caution-bold-background);
  --button-background-hover: var(--salt-actionable-caution-bold-background-hover);
  --button-background-active: var(--salt-actionable-caution-bold-background-active);
  --button-background-disabled: var(--salt-actionable-caution-bold-background-disabled);
  --button-borderColor-default: var(--salt-actionable-caution-bold-borderColor);
  --button-borderColor-hover: var(--salt-actionable-caution-bold-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-caution-bold-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-caution-bold-borderColor-disabled);
}

.saltButton-caution.saltButton-bordered {
  --button-color-default: var(--salt-actionable-caution-foreground);
  --button-color-hover: var(--salt-actionable-caution-foreground-hover);
  --button-color-active: var(--salt-actionable-caution-foreground-active);
  --button-color-disabled: var(--salt-actionable-caution-foreground-disabled);
  --button-background-default: var(--salt-actionable-caution-background);
  --button-background-hover: var(--salt-actionable-caution-background-hover);
  --button-background-active: var(--salt-actionable-caution-background-active);
  --button-background-disabled: var(--salt-actionable-caution-background-disabled);
  --button-borderColor-default: var(--salt-actionable-caution-borderColor);
  --button-borderColor-hover: var(--salt-actionable-caution-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-caution-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-caution-borderColor-disabled);
}

.saltButton-caution.saltButton-transparent {
  --button-color-default: var(--salt-actionable-caution-subtle-foreground);
  --button-color-hover: var(--salt-actionable-caution-subtle-foreground-hover);
  --button-color-active: var(--salt-actionable-caution-subtle-foreground-active);
  --button-color-disabled: var(--salt-actionable-caution-subtle-foreground-disabled);
  --button-background-default: var(--salt-actionable-caution-subtle-background);
  --button-background-hover: var(--salt-actionable-caution-subtle-background-hover);
  --button-background-active: var(--salt-actionable-caution-subtle-background-active);
  --button-background-disabled: var(--salt-actionable-caution-subtle-background-disabled);
  --button-borderColor-default: var(--salt-actionable-caution-subtle-borderColor);
  --button-borderColor-hover: var(--salt-actionable-caution-subtle-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-caution-subtle-borderColor-active);
  --button-borderColor-disabled: var(--salt-actionable-caution-subtle-borderColor-disabled);
}

.saltButton-caution.saltButton-loading {
  --button-color-default: var(--salt-actionable-caution-background);
  --button-color-hover: var(--salt-actionable-caution-background);
  --button-color-active: var(--salt-actionable-caution-background);
  --button-color-disabled: var(--salt-actionable-caution-background);
  --button-background-default: var(--salt-actionable-caution-background);
  --button-background-hover: var(--salt-actionable-caution-background);
  --button-background-active: var(--salt-actionable-caution-background);
  --button-background-disabled: var(--salt-actionable-caution-background);
  --button-borderColor-default: var(--salt-actionable-caution-borderColor);
  --button-borderColor-hover: var(--salt-actionable-caution-borderColor);
  --button-borderColor-active: var(--salt-actionable-caution-borderColor);
  --button-borderColor-disabled: var(--salt-actionable-caution-borderColor);
  --button-cursor: progress;
}

/* Pseudo-class applied to the root element on hover when Button is not active or disabled */
.saltButton:hover {
  --button-background: var(--button-background-hover);
  --button-borderColor: var(--button-borderColor-hover);
  --button-color: var(--button-color-hover);
}

/* Pseudo-class applied to the root element on focus */
.saltButton:focus-visible {
  --button-background: var(--button-background-hover);
  --button-borderColor: var(--button-borderColor-hover);
  --button-outlineStyle: var(--salt-focused-outlineStyle);
  --button-color: var(--button-color-hover);
}

/* Pseudo-class applied to the root element on focus when Button is active */
.saltButton.saltButton-active:focus-visible,
.saltButton:focus-visible:active {
  --button-borderColor: var(--button-borderColor-hover);
}

/* Pseudo-class applied to the root element when Button is active and not disabled */
.saltButton:active,
.saltButton.saltButton-active {
  --button-background: var(--button-background-active);
  --button-borderColor: var(--button-borderColor-active);
  --button-color: var(--button-color-active);
}

/* Styles applied when the button triggers a dialog or menu */
.saltButton[aria-expanded="true"][aria-haspopup="menu"],
.saltButton[aria-expanded="true"][aria-haspopup="dialog"] {
  --button-background: var(--button-background-active);
  --button-borderColor: var(--button-borderColor-active);
  --button-color: var(--button-color-active);
}

/* Pseudo-class applied to the root element if disabled={true} */
.saltButton:disabled,
.saltButton-disabled,
.saltButton-disabled:active,
.saltButton-disabled:focus-visible,
.saltButton-disabled:focus-visible:active,
.saltButton-disabled:hover {
  --button-background: var(--button-background-disabled);
  --button-borderColor: var(--button-borderColor-disabled);
  --button-color: var(--button-color-disabled);
  --button-cursor: var(--salt-actionable-cursor-disabled);
}

.saltButton-spinner {
  position: absolute;
  inset: 0;
  display: flex;
  --button-alignItems: center;
  --button-justifyContent: center;
}

.saltButton-sr-only {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}
