.saltButton {
  --button-borderWidth: var(--salt-size-fixed-100);

  align-items: var(--saltButton-alignItems, center);
  appearance: none;
  background: var(--saltButton-background, var(--button-background));
  border-color: var(--saltButton-borderColor, var(--button-borderColor, transparent));
  border-style: var(--saltButton-borderStyle, solid);
  border-width: var(--saltButton-borderWidth, var(--button-borderWidth));
  border-radius: var(--saltButton-borderRadius, var(--salt-palette-corner-weak, 0));
  color: var(--saltButton-text-color, var(--button-text-color));
  display: inline-flex;
  gap: var(--salt-spacing-50);
  justify-content: var(--saltButton-justifyContent, center);
  font-size: var(--saltButton-fontSize, var(--salt-text-fontSize));
  font-family: var(--saltButton-fontFamily, var(--salt-text-action-fontFamily));
  line-height: var(--saltButton-lineHeight, var(--salt-text-lineHeight));
  letter-spacing: var(--saltButton-letterSpacing, var(--salt-text-action-letterSpacing));
  text-transform: var(--saltButton-textTransform, var(--salt-text-action-textTransform));
  padding: 0 var(--saltButton-padding, calc(var(--salt-spacing-100) - var(--saltButton-borderWidth, var(--button-borderWidth))));
  margin: var(--saltButton-margin, 0);
  height: var(--saltButton-height, var(--salt-size-base));
  min-width: var(--saltButton-minWidth, unset);
  position: relative;
  text-align: var(--saltButton-textAlign, var(--salt-text-action-textAlign));
  text-decoration: none;
  transition: none;
  width: var(--saltButton-width, auto);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  /* Styles applied to align children*/
  font-weight: var(--saltButton-fontWeight, var(--salt-text-action-fontWeight));
}

/* Pseudo-class applied to the root element on focus */
.saltButton:focus-visible {
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-color: var(--salt-focused-outlineColor);
  outline-offset: var(--salt-focused-outlineOffset);
  background: var(--saltButton-background-hover, var(--button-background-hover));
  color: var(--saltButton-text-color-hover, var(--button-text-color-hover));
  border-color: var(--saltButton-borderColor-hover, var(--button-borderColor-hover));
}

@media (hover: hover) {
  /* Pseudo-class applied to the root element on hover when Button is not active or disabled */
  .saltButton:hover {
    background: var(--saltButton-background-hover, var(--button-background-hover));
    color: var(--saltButton-text-color-hover, var(--button-text-color-hover));
    border-color: var(--saltButton-borderColor-hover, var(--button-borderColor-hover));
    cursor: var(--salt-cursor-hover);
  }
}

/* Pseudo-class applied to the root element when Button is active and not disabled */
.saltButton.saltButton-active:focus-visible,
.saltButton:focus-visible:active,
.saltButton:active,
.saltButton.saltButton-active {
  background: var(--saltButton-background-active, var(--button-background-active));
  color: var(--saltButton-text-color-active, var(--button-text-color-active));
  border-color: var(--saltButton-borderColor-active, var(--button-borderColor-active));
  cursor: var(--salt-cursor-active);
}

/* Styles applied when the button triggers a dialog or menu */
.saltButton[aria-expanded="true"][aria-haspopup="menu"],
.saltButton[aria-expanded="true"][aria-haspopup="dialog"] {
  background: var(--saltButton-background-active, var(--button-background-active));
  color: var(--saltButton-text-color-active, var(--button-text-color-active));
  border-color: var(--saltButton-borderColor-active, var(--button-borderColor-active));
}

/* Pseudo-class applied to the root element if disabled={true} */
.saltButton:disabled,
.saltButton.saltButton-disabled,
.saltButton.saltButton-disabled:active,
.saltButton.saltButton-disabled:focus-visible,
.saltButton.saltButton-disabled:focus-visible:active,
.saltButton.saltButton-disabled:hover {
  background: var(--saltButton-background-disabled, var(--button-background));
  color: var(--saltButton-text-color-disabled, var(--button-text-color));
  cursor: var(--saltButton-cursor-disabled, var(--salt-cursor-disabled));
  border-color: var(--saltButton-borderColor-disabled, var(--button-borderColor));

  opacity: 0.4;
}

.saltButton-accented.saltButton-solid {
  --button-text-color: var(--salt-actionable-accented-bold-foreground);
  --button-text-color-hover: var(--salt-actionable-accented-bold-foreground-hover);
  --button-text-color-active: var(--salt-actionable-accented-bold-foreground-active);
  --button-background: var(--salt-actionable-accented-bold-background);
  --button-background-active: var(--salt-actionable-accented-bold-background-active);
  --button-background-hover: var(--salt-actionable-accented-bold-background-hover);
  --button-borderColor: var(--salt-actionable-accented-bold-borderColor);
  --button-borderColor-hover: var(--salt-actionable-accented-bold-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-accented-bold-borderColor-active);
}

.saltButton-accented.saltButton-bordered {
  --button-text-color: var(--salt-actionable-accented-foreground);
  --button-text-color-hover: var(--salt-actionable-accented-foreground-hover);
  --button-text-color-active: var(--salt-actionable-accented-foreground-active);
  --button-background: var(--salt-actionable-accented-background);
  --button-background-hover: var(--salt-actionable-accented-background-hover);
  --button-background-active: var(--salt-actionable-accented-background-active);
  --button-borderColor: var(--salt-actionable-accented-borderColor);
  --button-borderColor-hover: var(--salt-actionable-accented-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-accented-borderColor-active);
}

.saltButton-accented.saltButton-transparent {
  --button-text-color: var(--salt-actionable-accented-subtle-foreground);
  --button-text-color-hover: var(--salt-actionable-accented-subtle-foreground-hover);
  --button-text-color-active: var(--salt-actionable-accented-subtle-foreground-active);
  --button-background: var(--salt-actionable-accented-subtle-background);
  --button-background-hover: var(--salt-actionable-accented-subtle-background-hover);
  --button-background-active: var(--salt-actionable-accented-subtle-background-active);
  --button-borderColor: var(--salt-actionable-accented-subtle-borderColor);
  --button-borderColor-hover: var(--salt-actionable-accented-subtle-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-accented-subtle-borderColor-active);
}

.saltButton-accented.saltButton-loading {
  --button-text-color: var(--salt-actionable-accented-background);
  --button-text-color-hover: var(--salt-actionable-accented-background);
  --button-text-color-active: var(--salt-actionable-accented-background);
  --button-background: var(--salt-actionable-accented-background);
  --button-background-hover: var(--salt-actionable-accented-background);
  --button-background-active: var(--salt-actionable-accented-background);
  --button-borderColor: var(--salt-actionable-accented-borderColor);
  --button-borderColor-hover: var(--salt-actionable-accented-borderColor);
  --button-borderColor-active: var(--salt-actionable-accented-borderColor);
  cursor: var(--salt-cursor-pending);
}

.saltButton-neutral.saltButton-solid {
  --button-text-color: var(--salt-actionable-bold-foreground);
  --button-text-color-hover: var(--salt-actionable-bold-foreground-hover);
  --button-text-color-active: var(--salt-actionable-bold-foreground-active);
  --button-background: var(--salt-actionable-bold-background);
  --button-background-hover: var(--salt-actionable-bold-background-hover);
  --button-background-active: var(--salt-actionable-bold-background-active);
  --button-borderColor: var(--salt-actionable-bold-borderColor);
  --button-borderColor-hover: var(--salt-actionable-bold-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-bold-borderColor-active);
}

.saltButton-neutral.saltButton-bordered {
  --button-text-color: var(--salt-actionable-foreground);
  --button-text-color-hover: var(--salt-actionable-foreground-hover);
  --button-text-color-active: var(--salt-actionable-foreground-active);
  --button-background: var(--salt-actionable-background);
  --button-background-hover: var(--salt-actionable-background-hover);
  --button-background-active: var(--salt-actionable-background-active);
  --button-borderColor: var(--salt-actionable-borderColor);
  --button-borderColor-hover: var(--salt-actionable-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-borderColor-active);
}

.saltButton-neutral.saltButton-transparent {
  --button-text-color: var(--salt-actionable-subtle-foreground);
  --button-text-color-hover: var(--salt-actionable-subtle-foreground-hover);
  --button-text-color-active: var(--salt-actionable-subtle-foreground-active);
  --button-background: var(--salt-actionable-subtle-background);
  --button-background-hover: var(--salt-actionable-subtle-background-hover);
  --button-background-active: var(--salt-actionable-subtle-background-active);
  --button-borderColor: var(--salt-actionable-subtle-borderColor);
  --button-borderColor-hover: var(--salt-actionable-subtle-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-subtle-borderColor-active);
}

.saltButton-neutral.saltButton-loading {
  --button-text-color: var(--salt-actionable-background);
  --button-text-color-hover: var(--salt-actionable-background);
  --button-text-color-active: var(--salt-actionable-background);
  --button-background: var(--salt-actionable-background);
  --button-background-hover: var(--salt-actionable-background);
  --button-background-active: var(--salt-actionable-background);
  --button-borderColor: var(--salt-actionable-borderColor);
  --button-borderColor-hover: var(--salt-actionable-borderColor);
  --button-borderColor-active: var(--salt-actionable-borderColor);
  cursor: var(--salt-cursor-pending);
}

.saltButton-negative.saltButton-solid {
  --button-text-color: var(--salt-actionable-negative-bold-foreground);
  --button-text-color-hover: var(--salt-actionable-negative-bold-foreground-hover);
  --button-text-color-active: var(--salt-actionable-negative-bold-foreground-active);
  --button-background: var(--salt-actionable-negative-bold-background);
  --button-background-hover: var(--salt-actionable-negative-bold-background-hover);
  --button-background-active: var(--salt-actionable-negative-bold-background-active);
  --button-borderColor: var(--salt-actionable-negative-bold-borderColor);
  --button-borderColor-hover: var(--salt-actionable-negative-bold-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-negative-bold-borderColor-active);
}

.saltButton-negative.saltButton-bordered {
  --button-text-color: var(--salt-actionable-negative-foreground);
  --button-text-color-hover: var(--salt-actionable-negative-foreground-hover);
  --button-text-color-active: var(--salt-actionable-negative-foreground-active);
  --button-background: var(--salt-actionable-negative-background);
  --button-background-hover: var(--salt-actionable-negative-background-hover);
  --button-background-active: var(--salt-actionable-negative-background-active);
  --button-borderColor: var(--salt-actionable-negative-borderColor);
  --button-borderColor-hover: var(--salt-actionable-negative-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-negative-borderColor-active);
}

.saltButton-negative.saltButton-transparent {
  --button-text-color: var(--salt-actionable-negative-subtle-foreground);
  --button-text-color-hover: var(--salt-actionable-negative-subtle-foreground-hover);
  --button-text-color-active: var(--salt-actionable-negative-subtle-foreground-active);
  --button-background: var(--salt-actionable-negative-subtle-background);
  --button-background-hover: var(--salt-actionable-negative-subtle-background-hover);
  --button-background-active: var(--salt-actionable-negative-subtle-background-active);
  --button-borderColor: var(--salt-actionable-negative-subtle-borderColor);
  --button-borderColor-hover: var(--salt-actionable-negative-subtle-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-negative-subtle-borderColor-active);
}

.saltButton-negative.saltButton-loading {
  --button-text-color: var(--salt-actionable-negative-background);
  --button-text-color-hover: var(--salt-actionable-negative-background);
  --button-text-color-active: var(--salt-actionable-negative-background);
  --button-background: var(--salt-actionable-negative-background);
  --button-background-hover: var(--salt-actionable-negative-background);
  --button-background-active: var(--salt-actionable-negative-background);
  --button-borderColor: var(--salt-actionable-negative-borderColor);
  --button-borderColor-hover: var(--salt-actionable-negative-borderColor);
  --button-borderColor-active: var(--salt-actionable-negative-borderColor);
  cursor: var(--salt-cursor-pending);
}

.saltButton-positive.saltButton-solid {
  --button-text-color: var(--salt-actionable-positive-bold-foreground);
  --button-text-color-hover: var(--salt-actionable-positive-bold-foreground-hover);
  --button-text-color-active: var(--salt-actionable-positive-bold-foreground-active);
  --button-background: var(--salt-actionable-positive-bold-background);
  --button-background-hover: var(--salt-actionable-positive-bold-background-hover);
  --button-background-active: var(--salt-actionable-positive-bold-background-active);
  --button-borderColor: var(--salt-actionable-positive-bold-borderColor);
  --button-borderColor-hover: var(--salt-actionable-positive-bold-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-positive-bold-borderColor-active);
}

.saltButton-positive.saltButton-bordered {
  --button-text-color: var(--salt-actionable-positive-foreground);
  --button-text-color-hover: var(--salt-actionable-positive-foreground-hover);
  --button-text-color-active: var(--salt-actionable-positive-foreground-active);
  --button-background: var(--salt-actionable-positive-background);
  --button-background-hover: var(--salt-actionable-positive-background-hover);
  --button-background-active: var(--salt-actionable-positive-background-active);
  --button-borderColor: var(--salt-actionable-positive-borderColor);
  --button-borderColor-hover: var(--salt-actionable-positive-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-positive-borderColor-active);
}

.saltButton-positive.saltButton-transparent {
  --button-text-color: var(--salt-actionable-positive-subtle-foreground);
  --button-text-color-hover: var(--salt-actionable-positive-subtle-foreground-hover);
  --button-text-color-active: var(--salt-actionable-positive-subtle-foreground-active);
  --button-background: var(--salt-actionable-positive-subtle-background);
  --button-background-hover: var(--salt-actionable-positive-subtle-background-hover);
  --button-background-active: var(--salt-actionable-positive-subtle-background-active);
  --button-borderColor: var(--salt-actionable-positive-subtle-borderColor);
  --button-borderColor-hover: var(--salt-actionable-positive-subtle-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-positive-subtle-borderColor-active);
}

.saltButton-positive.saltButton-loading {
  --button-text-color: var(--salt-actionable-positive-background);
  --button-text-color-hover: var(--salt-actionable-positive-background);
  --button-text-color-active: var(--salt-actionable-positive-background);
  --button-background: var(--salt-actionable-positive-background);
  --button-background-hover: var(--salt-actionable-positive-background);
  --button-background-active: var(--salt-actionable-positive-background);
  --button-borderColor: var(--salt-actionable-positive-borderColor);
  --button-borderColor-hover: var(--salt-actionable-positive-borderColor);
  --button-borderColor-active: var(--salt-actionable-positive-borderColor);
  cursor: var(--salt-cursor-pending);
}

.saltButton-caution.saltButton-solid {
  --button-text-color: var(--salt-actionable-caution-bold-foreground);
  --button-text-color-hover: var(--salt-actionable-caution-bold-foreground-hover);
  --button-text-color-active: var(--salt-actionable-caution-bold-foreground-active);
  --button-background: var(--salt-actionable-caution-bold-background);
  --button-background-hover: var(--salt-actionable-caution-bold-background-hover);
  --button-background-active: var(--salt-actionable-caution-bold-background-active);
  --button-borderColor: var(--salt-actionable-caution-bold-borderColor);
  --button-borderColor-hover: var(--salt-actionable-caution-bold-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-caution-bold-borderColor-active);
}

.saltButton-caution.saltButton-bordered {
  --button-text-color: var(--salt-actionable-caution-foreground);
  --button-text-color-hover: var(--salt-actionable-caution-foreground-hover);
  --button-text-color-active: var(--salt-actionable-caution-foreground-active);
  --button-background: var(--salt-actionable-caution-background);
  --button-background-hover: var(--salt-actionable-caution-background-hover);
  --button-background-active: var(--salt-actionable-caution-background-active);
  --button-borderColor: var(--salt-actionable-caution-borderColor);
  --button-borderColor-hover: var(--salt-actionable-caution-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-caution-borderColor-active);
}

.saltButton-caution.saltButton-transparent {
  --button-text-color: var(--salt-actionable-caution-subtle-foreground);
  --button-text-color-hover: var(--salt-actionable-caution-subtle-foreground-hover);
  --button-text-color-active: var(--salt-actionable-caution-subtle-foreground-active);
  --button-background: var(--salt-actionable-caution-subtle-background);
  --button-background-hover: var(--salt-actionable-caution-subtle-background-hover);
  --button-background-active: var(--salt-actionable-caution-subtle-background-active);
  --button-borderColor: var(--salt-actionable-caution-subtle-borderColor);
  --button-borderColor-hover: var(--salt-actionable-caution-subtle-borderColor-hover);
  --button-borderColor-active: var(--salt-actionable-caution-subtle-borderColor-active);
}

.saltButton-caution.saltButton-loading {
  --button-text-color: var(--salt-actionable-caution-background);
  --button-text-color-hover: var(--salt-actionable-caution-background);
  --button-text-color-active: var(--salt-actionable-caution-background);
  --button-background: var(--salt-actionable-caution-background);
  --button-background-hover: var(--salt-actionable-caution-background);
  --button-background-active: var(--salt-actionable-caution-background);
  --button-borderColor: var(--salt-actionable-caution-borderColor);
  --button-borderColor-hover: var(--salt-actionable-caution-borderColor);
  --button-borderColor-active: var(--salt-actionable-caution-borderColor);
  cursor: var(--salt-cursor-pending);
}

.saltButton strong {
  font-weight: var(--salt-text-action-fontWeight-strong);
}

.saltButton small {
  font-size: inherit;
  font-weight: var(--salt-text-action-fontWeight-small);
}

.saltButton-spinner {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saltButton-sr-only {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}
