.saltToggleButton {
  align-items: center;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  background: var(--salt-actionable-secondary-background);
  border-color: var(--salt-actionable-secondary-borderColor, transparent);
  border-style: solid;
  border-width: var(--salt-actionable-borderWidth, 0);
  border-radius: var(--salt-palette-corner-weak, 0);
  height: var(--salt-size-base);
  color: var(--salt-actionable-secondary-foreground);
  text-transform: var(--salt-text-action-textTransform);
  font-weight: var(--salt-text-action-fontWeight);
  font-family: var(--salt-text-action-fontFamily);
  text-align: var(--salt-text-action-textAlign);
  letter-spacing: var(--salt-text-action-letterSpacing);
  line-height: var(--salt-text-lineHeight);
  font-size: var(--salt-text-fontSize);
  padding-left: var(--salt-spacing-100);
  padding-right: var(--salt-spacing-100);
  gap: var(--salt-spacing-50);
}

.saltToggleButton:hover {
  background: var(--salt-actionable-secondary-background-hover);
  color: var(--salt-actionable-secondary-foreground-hover);
  cursor: var(--salt-actionable-cursor-hover);
}

.saltToggleButton:focus-visible {
  outline: var(--salt-focused-outline);
  background: var(--salt-actionable-secondary-background-hover);
  color: var(--salt-actionable-secondary-foreground-hover);
  cursor: var(--salt-actionable-cursor-hover);
}

.saltToggleButton[aria-checked="true"]:focus-visible,
.saltToggleButton[aria-pressed="true"]:focus-visible {
  background: var(--salt-actionable-secondary-background-active);
  color: var(--salt-actionable-secondary-foreground-active);
  cursor: var(--salt-actionable-cursor-active);
  border-color: var(--salt-actionable-secondary-borderColor-active, transparent);
}

.saltToggleButton[aria-checked="true"],
.saltToggleButton[aria-pressed="true"] {
  background: var(--salt-actionable-secondary-background-active);
  color: var(--salt-actionable-secondary-foreground-active);
  cursor: var(--salt-actionable-cursor-active);
  border-color: var(--salt-actionable-secondary-borderColor-active, transparent);
}

.saltToggleButton:disabled {
  background: var(--salt-actionable-secondary-background-disabled);
  cursor: var(--salt-actionable-cursor-disabled);
  color: var(--salt-actionable-secondary-foreground-disabled);
}
