.saltListItemNext {
  /* Color */
  --list-item-text-color: var(--salt-text-primary-foreground);
  --list-item-height: var(--salt-size-stackable);
  --list-item-background: none;
}

.saltListItemNext {
  color: var(--list-item-text-color);
  background: var(--list-item-background);
  height: var(--list-item-height, auto);
  padding-inline: var(--salt-size-unit);
  display: flex;
  gap: var(--salt-size-unit);
  position: relative;
  align-items: center;
  white-space: nowrap;
  --saltCheckbox-icon-stroke: var(--salt-selectable-foreground);
  transition: background var(--salt-duration-perceptible) ease-in-out;
}

.saltListItemNext > * {
  pointer-events: none;
}

.saltListItemNext[role="presentation"] {
  cursor: default;
}

/* Pseudo-class applied to the root element on focus */
.saltListItemNext:focus-visible {
  outline: var(--salt-focused-outline);
  outline-offset: var(--salt-focused-outlineOffset);
}

.saltListItemNext:hover:not([role="presentation"]),
.saltListItemNext:focus-visible {
  --list-item-background: var(--salt-selectable-background-hover);
  --saltCheckbox-icon-stroke: var(--salt-selectable-foreground-hover);
  --saltCheckbox-icon-fill: var(--salt-selectable-background-hover);
  cursor: var(--salt-selectable-cursor-hover);
}

.saltListItemNext[aria-selected="true"]:not(:has(input[type='checkbox'])) {
  --list-item-background: var(--salt-selectable-background-selected);
}

@supports not selector(:has(*)

) {
  .saltListItemNext[aria-selected="true"]:not(.saltListItemNext-checkbox) {
    --list-item-background: var(--salt-selectable-background-selected);
  }
}

.saltListItemNext[aria-selected="true"]:not(.saltListItemNext-disabled) {
  --saltIcon-color: var(--salt-selectable-foreground-selected);
}

.saltListItemNext-disabled:hover:not([role="presentation"]),
.saltListItemNext-disabled:focus-visible {
  --list-item-background: var(--salt-selectable-background-disabled);
  --saltCheckbox-icon-fill: var(--salt-selectable-background-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}

.saltListItemNext-textWrapper {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
