.saltList {
  --list-background: var(--salt-container-primary-background);
  --list-borderStyle: var(--salt-container-borderStyle);
  --list-borderWidth: var(--salt-size-border);
  --list-height: calc(var(--salt-size-stackable) * var(--list-displayedItemCount));
}

.saltList {
  margin: 0;
  background: var(--list-background);
  border-color: var(--salt-container-primary-borderColor);
  border-style: var(--list-borderStyle);
  border-width: var(--list-borderWidth);
  height: var(--list-height);
  outline: none;
  overflow-y: auto;
  position: relative;
  user-select: none;
  padding-inline-start: 0;
  box-sizing: content-box;
}

.saltList-borderless {
  --list-borderStyle: none;
}

/* Pseudo-class applied to the root element on focus */
.saltList-focusable:focus-visible {
  outline: var(--salt-focused-outline);
  outline-offset: calc(0 - var(--salt-focused-outlineWidth));
}
