/**
 * Have some global styles to simulate more realistic app. Currently only for Storybook.
 */

.salt-theme {
  color: var(--salt-content-primary-foreground);
  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  letter-spacing: var(--salt-text-letterSpacing);
  line-height: var(--salt-text-lineHeight);
}

.salt-theme[data-mode="light"] {
  color-scheme: light;
}

.salt-theme[data-mode="dark"] {
  color-scheme: dark;
}

.salt-visuallyHidden {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
