/* OpenSans-Light */
@font-face {
  font-family: "uitk-sans";
  font-style: normal;
  font-weight: 200;
  src: url("fonts/OpenSans-Light.ttf") format("truetype");
}
/* OpenSans-LightItalic */
@font-face {
  font-family: "uitk-sans";
  font-style: italic;
  font-weight: 200;
  src: url("fonts/OpenSans-LightItalic.ttf") format("truetype");
}

/* OpenSans-Regular */
@font-face {
  font-family: "uitk-sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}
/* OpenSans-Italic */
@font-face {
  font-family: "uitk-sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/OpenSans-Italic.ttf") format("truetype");
}

/* OpenSans-SemiBold */
@font-face {
  font-family: "uitk-sans";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/OpenSans-Semibold.ttf") format("truetype");
}
/* OpenSans-SemiBoldItalic */
@font-face {
  font-family: "uitk-sans";
  font-style: italic;
  font-weight: 600;
  src: url("fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
}

/* OpenSans-Bold */
@font-face {
  font-family: "uitk-sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/OpenSans-Bold.ttf") format("truetype");
}
/* OpenSans-BoldItalic */
@font-face {
  font-family: "uitk-sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

/* OpenSans-ExtraBold */
@font-face {
  font-family: "uitk-sans";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/OpenSans-ExtraBold.ttf") format("truetype");
}
/* OpenSans-ExtraBoldItalic */
@font-face {
  font-family: "uitk-sans";
  font-style: italic;
  font-weight: 800;
  src: url("fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}
