/* Styles applied to root component */
.saltTooltip {
  --tooltip-background: var(--saltTooltip-background, var(--salt-container-primary-background));
  --tooltip-zIndex: var(--saltTooltip-zIndex, var(--salt-zIndex-flyover));
  /* apply icon margin based on the text line height so it's aligned on all densities */
  --tooltip-icon-marginTop: calc((var(--salt-text-lineHeight) - max(var(--salt-icon-size-base), 12px)) / 2);
}

.saltTooltip {
  background: var(--tooltip-background);
  border-color: var(--saltTooltip-borderColor, var(--tooltip-status-borderColor));
  border-style: var(--saltTooltip-borderStyle, var(--salt-container-borderStyle));
  border-width: var(--saltTooltip-borderWidth, var(--salt-size-border));
  box-shadow: var(--saltTooltip-shadow, var(--salt-overlayable-shadow-popout));
  color: var(--saltTooltip-text-color, var(--salt-text-primary-foreground));
  font-size: var(--saltTooltip-fontSize, var(--salt-text-fontSize));
  font-weight: var(--saltTooltip-fontWeight, var(--salt-text-fontWeight));
  line-height: var(--saltTooltip-lineHeight, var(--salt-text-lineHeight));
  max-width: var(--saltTooltip-maxWidth, 230px);
  padding: var(--saltTooltip-padding, var(--salt-size-unit));
  position: relative;
  text-align: var(--saltTooltip-textAlign, left);
  z-index: var(--tooltip-zIndex);
}

/* Styles applied to container */
.saltTooltip-container {
  display: flex;
  align-items: baseline;
  position: relative;
}

/* Styles applied to content */
.saltTooltip-content {
  overflow: hidden;
}

/* Styles applied to status indicator */
.saltTooltip-icon {
  --saltIcon-margin: var(--tooltip-icon-marginTop) var(--saltTooltip-icon-marginRight, 6px) 0 0;
  vertical-align: top;
  align-self: flex-start;
}

/* Styles applied when status = "info" */
.saltTooltip-info {
  --tooltip-status-borderColor: var(--salt-status-info-borderColor);
}

/* Styles applied when status = "error" */
.saltTooltip-error {
  --tooltip-status-borderColor: var(--salt-status-error-borderColor);
}

/* Styles applied when status = "warning" */
.saltTooltip-warning {
  --tooltip-status-borderColor: var(--salt-status-warning-borderColor);
}

/* Styles applied when status = "success" */
.saltTooltip-success {
  --tooltip-status-borderColor: var(--salt-status-success-borderColor);
}
