/* Styles applied to root component */
.saltTooltip {
  --tooltip-background: var(--saltTooltip-background, var(--salt-container-primary-background));
  --tooltip-zIndex: var(--saltTooltip-zIndex, var(--salt-zIndex-flyover));
  /* apply icon margin based on the text line height so it's aligned on all densities */
  --tooltip-icon-marginTop: calc((var(--salt-text-lineHeight) - max(var(--salt-size-icon), 12px)) / 2);
  --tooltip-status-borderColor: var(--salt-container-primary-borderColor);
  /* Single line height should be size-base */
  --tooltip-borderWidth: var(--salt-size-fixed-100);
  --tooltip-padding: calc(var(--salt-spacing-75) - var(--tooltip-borderWidth)) var(--salt-spacing-100);
}

.saltTooltip {
  box-sizing: border-box;
  background: var(--tooltip-background);
  border-color: var(--saltTooltip-borderColor, var(--tooltip-status-borderColor));
  border-style: var(--saltTooltip-borderStyle, var(--salt-borderStyle-solid));
  border-width: var(--saltTooltip-borderWidth, var(--tooltip-borderWidth));
  border-radius: var(--saltTooltip-borderRadius, var(--salt-palette-corner-weak, 0));
  box-shadow: var(--saltTooltip-shadow, var(--salt-overlayable-shadow-popout));
  color: var(--saltTooltip-text-color, var(--salt-content-primary-foreground));
  font-family: var(--salt-text-fontFamily);
  font-size: var(--saltTooltip-fontSize, var(--salt-text-fontSize));
  font-weight: var(--saltTooltip-fontWeight, var(--salt-text-fontWeight));
  line-height: var(--saltTooltip-lineHeight, var(--salt-text-lineHeight));
  max-width: var(--saltTooltip-maxWidth, 60ch);
  padding: var(--saltTooltip-padding, var(--tooltip-padding));
  position: relative;
  text-align: var(--saltTooltip-textAlign, left);
  z-index: var(--tooltip-zIndex);
}

/* Styles applied to container */
.saltTooltip-container {
  display: flex;
  align-items: baseline;
  position: relative;
}

/* Styles applied to content */
.saltTooltip-content {
  overflow: hidden;
}

/* Styles applied to status indicator */
.saltTooltip-icon {
  --saltIcon-margin: var(--tooltip-icon-marginTop) var(--salt-spacing-75) 0 0;
  vertical-align: top;
  align-self: flex-start;
}

/* Styles applied when status = "info" */
.saltTooltip-info {
  --tooltip-status-borderColor: var(--salt-status-info-borderColor);
}

/* Styles applied when status = "error" */
.saltTooltip-error {
  --tooltip-status-borderColor: var(--salt-status-error-borderColor);
}

/* Styles applied when status = "warning" */
.saltTooltip-warning {
  --tooltip-status-borderColor: var(--salt-status-warning-borderColor);
}

/* Styles applied when status = "success" */
.saltTooltip-success {
  --tooltip-status-borderColor: var(--salt-status-success-borderColor);
}
