.saltSvgSpinner-gradientStop1,
.saltSvgSpinner-gradientStop2,
.saltSvgSpinner-gradientStop3,
.saltSvgSpinner-gradientStop4 {
  stop-color: var(--saltSpinner-gradient-color, var(--spinner-gradient-color));
}

.saltSvgSpinner {
  --spinner-gradient-color: var(--salt-measured-fill);

  position: relative;
}

.saltSvgSpinner-small {
  height: var(--salt-size-graphic-small);
  width: var(--salt-size-graphic-small);
}

.saltSvgSpinner-medium {
  height: var(--salt-size-graphic-medium);
  width: var(--salt-size-graphic-medium);
}

.saltSvgSpinner-large {
  height: var(--salt-size-graphic-large);
  width: var(--salt-size-graphic-large);
}

.saltSvgSpinner-spinner {
  animation: spinner 0.9s linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
