.uitkSvgSpinner-gradientStop1,
.uitkSvgSpinner-gradientStop2,
.uitkSvgSpinner-gradientStop3,
.uitkSvgSpinner-gradientStop4 {
  stop-color: var(--uitk-measured-fill);
}

.uitkSvgSpinner {
  position: relative;
}

.uitkSvgSpinner-small {
  height: var(--uitk-size-graphic-small);
  width: var(--uitk-size-graphic-small);
}

.uitkSvgSpinner-medium {
  height: var(--uitk-size-graphic-medium);
  width: var(--uitk-size-graphic-medium);
}

.uitkSvgSpinner-large {
  height: var(--uitk-size-graphic-large);
  width: var(--uitk-size-graphic-large);
}

.uitkSvgSpinner-spinner {
  animation: spinner 0.9s linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TK1 Backwards compatibility */
.backwardsCompat.uitkSvgSpinner .uitkSvgSpinner-gradientStop1,
.backwardsCompat.uitkSvgSpinner .uitkSvgSpinner-gradientStop3 {
  stop-color: var(--backwardsCompat-measure-fill-stopColor);
}

.backwardsCompat.uitkSvgSpinner .uitkSvgSpinner-gradientStop2,
.backwardsCompat.uitkSvgSpinner .uitkSvgSpinner-gradientStop4 {
  stop-color: var(--backwardsCompat-measure-fill-startColor);
}
