.uitkSvgSpinner-gradientStop1 {
  stop-color: var(--uitk-measured-fill-stopColor);
}
.uitkSvgSpinner-gradientStop2 {
  stop-color: var(--uitk-measured-fill-stopColor);
}
.uitkSvgSpinner-gradientStop3 {
  stop-color: var(--uitk-measured-fill-startColor);
}
.uitkSvgSpinner-gradientStop4 {
  stop-color: var(--uitk-measured-fill-startColor);
}

/* Not yet sure about procedure for implementing themes */

/* .uitk-dark .uitkSvgSpinner-gradientStop1 {
  stop-color: var(--uitk-measured-fill-stopColor);
}
.uitk-dark .uitkSvgSpinner-gradientStop2 {
   stop-color: var(--uitk-measured-fill-startColor);
}
.uitk-dark .uitkSvgSpinner-gradientStop3 {
 stop-color: var(--uitk-measured-fill-stopColor);
}
.uitk-dark .uitkSvgSpinner-gradientStop4 {
stop-color: var(--uitk-measured-fill-startColor);
} */

.uitkSvgSpinner {
  position: relative;
}

.uitkSvgSpinner-small {
  height: var(--uitk-size-graphic-small);
  width: var(--uitk-size-graphic-small);
}

.uitkSvgSpinner-medium {
  height: var(--uitk-size-graphic-medium);
  width: var(--uitk-size-graphic-medium);
}

.uitkSvgSpinner-large {
  height: var(--uitk-size-graphic-large);
  width: var(--uitk-size-graphic-large);
}

.uitkSvgSpinner-spinner {
  animation: spinner 0.9s linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
