.result {
  overflow: hidden;
  padding: var(--salt-spacing-100);
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-50);
  align-items: flex-start;
}

.resultDescription {
  max-width: 50vw;
}

.statusOption {
  display: flex;
  align-items: center;
  font-style: var(--salt-typography-textDecoration-italic);
  color: var(--salt-content-secondary-foreground);
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding: calc(var(--salt-spacing-100) + var(--salt-spacing-25)) var(--salt-spacing-100);
}
