.container {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-300);
  align-items: center;
}

.active {
  background: var(--salt-container-secondary-background);
  padding: var(--salt-spacing-200);
}
