.link {
  display: flex;
  gap: var(--salt-spacing-100);
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 18em;
  padding-inline: var(--salt-spacing-200);
}

.linkImage {
  height: var(--salt-text-lineHeight);
  margin: 0;
}

.list {
  display: flex;
  gap: var(--salt-spacing-100);
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.heading {
  margin-bottom: var(--salt-spacing-100);
}

.root {
  margin-top: var(--salt-spacing-200);
  margin-bottom: var(--salt-spacing-200);
}

.subheader {
  font-style: var(--salt-typography-textDecoration-italic);
  margin-top: var(--salt-spacing-100);
  margin-bottom: var(--salt-spacing-200);
}
