/* Styles applied to the Pill checkbox */
.uitkPill-checkbox {
  height: var(--pill-checkbox-size);
  margin-left: 1px;
  padding-right: 0;
  width: var(--pill-checkbox-size);

  --uitkCheckboxIcon-stroke: var(--uitk-selectable-borderColor);
  --uitkCheckboxIcon-stroke-hover: var(--uitk-selectable-borderColor);
  --uitkCheckboxIcon-fill: none;
  --uitkCheckboxIcon-fill-checked: none;
  --uitkCheckboxIcon-borderWidth-checked: var(--uitk-selectable-borderWidth);
  --uitkCheckboxIcon-tick-color: var(--uitk-taggable-foreground);
}

/* Backwards compat styling to match TK1 */
.uitk-light .backwardsCompat.uitkPill .uitkPill-checkbox {
  --uitkCheckboxIcon-stroke: var(--uitk-color-grey-100);
  --uitkCheckboxIcon-tick-color: var(--uitk-color-grey-300);
}

.uitk-dark .backwardsCompat.uitkPill .uitkPill-checkbox {
  --uitkCheckboxIcon-stroke: var(--uitk-color-grey-80);
  --uitkCheckboxIcon-tick-color: var(--uitk-color-grey-60);
}
