/* Styles applied to the Pill checkbox */
.uitkPill-checkbox {
  height: var(--pill-checkbox-size);
  margin-left: 1px;
  padding-right: 0;
  width: var(--pill-checkbox-size);

  --uitkCheckbox-icon-stroke: var(--uitk-selectable-borderColor);
  --uitkCheckbox-icon-stroke-hover: var(--uitk-selectable-borderColor);
  --uitkCheckbox-icon-fill: none;
  --uitkCheckbox-icon-fill-checked: none;
  --uitkCheckbox-icon-borderWidth-checked: var(--uitk-selectable-borderWidth);
  --uitkCheckbox-icon-tick-color: var(--uitk-taggable-foreground);
}

/* TK1 Backwards compat styling */

.uitk-light {
  --backwardsCompat-pill-checkbox-icon-stroke: var(--uitk-color-grey-100);
  --backwardsCompat-pill-checkbox-icon-tick-color: var(--uitk-color-grey-300);
}
.uitk-dark {
  --backwardsCompat-pill-checkbox-icon-stroke: var(--uitk-color-grey-80);
  --backwardsCompat-pill-checkbox-icon-tick-color: var(--uitk-color-grey-60);
}

.backwardsCompat.uitkPill .uitkPill-checkbox {
  --uitkCheckbox-icon-stroke: var(--backwardsCompat-pill-checkbox-icon-stroke);
  --uitkCheckbox-icon-tick-color: var(--backwardsCompat-pill-checkbox-icon-tick-color);
}
