.saltLinearProgress {
  align-items: center;
  color: var(--salt-content-primary-foreground);
  display: flex;
  min-width: 400px;
  font-size: var(--linearProgress-fontSize);
  box-sizing: border-box;
}

.saltLinearProgress-barContainer {
  background: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: var(--salt-size-bar-strong);
}

.saltLinearProgress-bar,
.saltLinearProgress-buffer {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition: transform 0.2s linear;
  transform-origin: left;
}

.saltLinearProgress-buffer {
  width: 0;
  background: var(--salt-container-primary-background);
  outline: solid var(--salt-size-fixed-100) var(--salt-accent-background);
  z-index: var(--salt-zIndex-default);
  outline-offset: calc(var(--salt-size-fixed-100) * -1);
}

.saltLinearProgress-bar {
  width: 100%;
  background: var(--salt-accent-background);
  z-index: calc(var(--salt-zIndex-default) * 2);
}

.saltLinearProgress-track {
  background: var(--salt-sentiment-neutral-track);
  width: 100%;
  height: var(--salt-size-bar);
  position: absolute;
  top: calc((var(--salt-size-bar-strong) - var(--salt-size-bar)) / 2);
  right: 0;
  transition: transform 0.2s linear;
  transform-origin: left;
}

.saltLinearProgress-progressLabel {
  color: inherit;
  margin: 0;
  white-space: nowrap;
  padding-left: var(--salt-spacing-100);
}

.saltLinearProgress-indeterminate.saltLinearProgress-bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  transform-origin: left center;
  width: 66%;
  animation: 1.8s ease-in-out infinite salt-indeterminate-progress-bar;
}

@keyframes salt-indeterminate-progress-bar {
  0% {
    transform: translateX(-100%);
  }
  60% {
    /* 155% is slightly more than moving the bar off screen (with width of 66%) */
    transform: translateX(155%);
  }
  100% {
    transform: translateX(200%);
  }
}
