.saltLinearProgress {
  align-items: center;
  color: var(--salt-content-primary-foreground);
  display: flex;
  min-width: 400px;
  font-size: var(--linearProgress-fontSize);
  box-sizing: border-box;
}

.saltLinearProgress-barContainer {
  background: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: var(--salt-size-bar-strong);
}

.saltLinearProgress-bar,
.saltLinearProgress-buffer {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition: transform 0.2s linear;
  transform-origin: left;
}

.saltLinearProgress-buffer {
  width: 0;
  background: var(--salt-container-primary-background);
  outline: solid var(--salt-size-border) var(--salt-accent-background);
  z-index: var(--salt-zIndex-default);
  outline-offset: calc(var(--salt-size-border) * -1);
}

.saltLinearProgress-bar {
  width: 100%;
  background: var(--salt-accent-background);
  z-index: calc(var(--salt-zIndex-default) * 2);
}

.saltLinearProgress-track {
  background: var(--salt-track-borderColor);
  width: 100%;
  height: var(--salt-size-bar);
  position: absolute;
  top: calc((var(--salt-size-bar-strong) - var(--salt-size-bar)) / 2);
  right: 0;
  transition: transform 0.2s linear;
  transform-origin: left;
}

.saltLinearProgress-progressLabel {
  color: inherit;
  margin: 0;
  white-space: nowrap;
  padding-left: var(--salt-spacing-100);
}

.saltLinearProgress-indeterminate.saltLinearProgress-bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  transition: transform 0.2s linear 0s;
  transform-origin: left center;
  width: auto;
  animation: 2s cubic-bezier(0.65, 0.815, 0.735, 0.395) 0s infinite normal none running indeterminate-progress-bar;
  /* animation: 2s linear infinite indeterminate-progress-bar; */
}

@keyframes indeterminate-progress-bar {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

/* .saltLinearProgress-indeterminate .saltLinearProgress-track {
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  transition: transform 0.2s linear 0s;
  transform-origin: left center;
  width: auto;
  animation: 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite normal none running track-animation;
}

@keyframes track-animation {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
} */
