.saltLinearProgress {
  align-items: center;
  color: var(--salt-content-primary-foreground);
  display: flex;
  min-width: 400px;
  font-size: var(--linearProgress-fontSize);
  box-sizing: border-box;
}

.saltLinearProgress-barContainer {
  background: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: var(--salt-size-bar-strong);
}

.saltLinearProgress-bar {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition: transform 0.2s linear;
  transform-origin: left;
  background: var(--salt-accent-background);
  z-index: 2;
}

.saltLinearProgress-track {
  background: var(--salt-track-borderColor);
  width: 100%;
  height: var(--salt-size-bar-small);
  position: absolute;
  top: calc((var(--salt-size-bar-strong) - var(--salt-size-bar-small)) / 2);
  transition: transform 0.2s linear;
  transform-origin: left;
}

.saltLinearProgress-progressLabel {
  color: inherit;
  margin: 0;
  white-space: nowrap;
  padding-left: var(--salt-spacing-100);
}
