.saltTargetBlankNoIcon-Link .saltLink-icon {
  display: none;
}

.goalsList {
  font-size: var(--salt-text-fontSize);
  font-family: var(--salt-palette-text-fontFamily);
  line-height: var(--salt-text-lineHeight);
}
