.app-header {
  z-index: var(--salt-zIndex-appHeader);
}
.header {
  padding-left: var(--salt-spacing-300);
  padding-right: var(--salt-spacing-300);
  background-color: var(--salt-container-primary-background);
  border-bottom: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-separable-primary-borderColor);
}
.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.center {
  margin: calc(var(--salt-spacing-300) * 2) auto;
  max-width: 700px;
}
.content-header {
  padding-top: calc(var(--salt-spacing-300) * 2);
}
