.saltCalendarNavigation {
  display: grid;
  grid-template-columns: min-content auto auto min-content;
  padding-bottom: var(--salt-spacing-100);
  grid-gap: var(--salt-spacing-50);
}

.saltCalendarNavigation-hideYearDropdown {
  grid-template-columns: min-content auto min-content;
  grid-gap: var(--salt-spacing-300);
}
