.saltCalendarNavigation {
  display: grid;
  grid-template-columns: min-content auto min-content;
  padding-bottom: var(--salt-spacing-100);
  grid-gap: 0;
  align-items: center;
  height: var(--salt-size-base);
}

.saltCalendarNavigation-hideYearDropdown {
  grid-template-columns: min-content auto min-content;
  grid-gap: var(--salt-spacing-300);
}

.saltCalendarNavigation-dropdowns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--salt-spacing-100);
}
