.saltCalendarWeekHeader {
  display: grid;
  gap: var(--salt-size-border);
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.saltCalendarWeekHeader-dayOfWeek {
  width: var(--salt-size-base);
  height: var(--salt-size-base);
  color: var(--salt-content-secondary-foreground);
  font-family: var(--salt-text-fontFamily);
  font-weight: var(--salt-text-fontWeight);
  font-size: var(--salt-text-fontSize);
}
