.saltCalendarDay {
  font-family: var(--salt-text-fontFamily);
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
  font-size: var(--salt-text-fontSize);
  width: var(--salt-size-base);
  height: var(--salt-size-base);
  color: var(--salt-content-primary-foreground);
  background: var(--salt-selectable-background);
  cursor: var(--salt-cursor-hover);
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.saltCalendarDay-content {
  margin: 0 var(--salt-spacing-50);
  width: 100%;
}

.saltCalendarDay-focused,
.saltCalendarDay.saltCalendarDay:focus,
.saltCalendarDay.saltCalendarDay:focus-visible {
  outline: none;
}

.saltCalendarDay-focused:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--salt-focused-outline);
  border-radius: var(--salt-palette-corner-weak, 0);
}

.saltCalendarDay-focused.saltCalendarDay-hoveredSpan:after,
.saltCalendarDay-focused.saltCalendarDay-hoveredEnd:after,
.saltCalendarDay.saltCalendarDay-focused.saltCalendarDay-selectedSpan:after {
  content: "";
  position: absolute;
  top:  var(--salt-size-fixed-100);
  left: 0;
  right: 0;
  bottom: var(--salt-size-fixed-100);
  border: var(--salt-focused-outline);
  border-radius: 0;
}

.saltCalendarDay-focused.saltCalendarDay-selectedStart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--salt-focused-outline);
  border-radius: var(--salt-palette-corner-weak, 0) 0 0 var(--salt-palette-corner-weak, 0);
}

.saltCalendarDay.saltCalendarDay-focused.saltCalendarDay-selectedEnd:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--salt-focused-outline);
  border-radius: 0 var(--salt-palette-corner-weak, 0) var(--salt-palette-corner-weak, 0) 0;
}

.saltCalendarDay-selectedStart,
.saltCalendarDay-selectedSpan,
.saltCalendarDay-selectedEnd,
.saltCalendarDay-hoveredStart,
.saltCalendarDay-hoveredSpan,
.saltCalendarDay-hoveredEnd {
  position: relative;
  z-index: var(--salt-zIndex-default, 1);
}

.saltCalendarDay-selectedSpan:not(.saltCalendarDay-selectedStart):not(.saltCalendarDay-selectedEnd):before,
.saltCalendarDay-hoveredSpan:not(.saltCalendarDay-selectedSpan):not(.saltCalendarDay-selectedStart):not(.saltCalendarDay-selectedEnd):before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(var(--calendar-gap) * -1);
  right: calc(var(--calendar-gap) * -1);
  bottom: 0;
  background-color: var(--salt-selectable-background-hover);
  z-index: calc(var(--salt-zIndex-default, 1) - 2);
  border-top: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
  border-bottom: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
}

.saltCalendarDay-selectedStart,
.saltCalendarDay-selectedStart.saltCalendarDay-hoveredStart,
.saltCalendarDay-selectedEnd,
.saltCalendarDay-selectedEnd.saltCalendarDay-hoveredEnd {
  background: var(--salt-selectable-background-selected);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
  z-index: calc(var(--salt-zIndex-default, 1) + 1);
}

.saltCalendarDay-hoveredStart,
.saltCalendarDay-selectedStart.saltCalendarDay-hoveredStart,
.saltCalendarDay-selectedStart {
  border-radius: var(--salt-palette-corner-weak, 0) 0 0 var(--salt-palette-corner-weak, 0);
}

.saltCalendarDay-hoveredSpan:not(.saltCalendarDay-selectedStart):not(.saltCalendarDay-selectedEnd),
.saltCalendarDay-selectedSpan:not(.saltCalendarDay-selectedStart):not(.saltCalendarDay-selectedEnd) {
  border-radius: 0;
}

.saltCalendarDay-hoveredEnd,
.saltCalendarDay-selectedEnd,
.saltCalendarDay-selectedEnd.saltCalendarDay-hoveredEnd {
  border-radius: 0 var(--salt-palette-corner-weak, 0) var(--salt-palette-corner-weak, 0) 0;
}

.saltCalendarDay-selectedStart.saltCalendarDay-selectedEnd {
  border-radius: var(--salt-palette-corner-weak, 0);
}

/**
  * The following namespaced styles are used to highlight the hovered days in different selection modes.
 */
.saltCalendarMonth-single {
  .saltCalendarDay:hover:not(.saltCalendarDay-selected) {
    color: var(--salt-content-primary-foreground);
    background: var(--salt-selectable-background-hover);
  }
  .saltCalendarDay-selected {
    color: var(--salt-content-primary-foreground);
    background: var(--salt-selectable-background-selected);
    border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
    border-radius: var(--salt-palette-corner-weak, 0);
  }
}

.saltCalendarMonth-range {
  .saltCalendarDay-hoveredEnd:not(.saltCalendarDay-selectedStart):not(.saltCalendarDay-selectedEnd):before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(var(--calendar-gap) * -1);
    right: calc(var(--calendar-gap) * -1);
    bottom: 0;
    background-color: var(--salt-selectable-background-hover);
    z-index: calc(var(--salt-zIndex-default, 1) - 2);
    border-radius: 0;
    border-top: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
    border-bottom: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
  }

  .saltCalendarDay-hoveredSpan:not(.saltCalendarDay-selectedStart):not(.saltCalendarDay-selectedEnd):not(:nth-child(7n)):before {
    border-radius: 0;
  }

  .saltCalendarDay-selectedStart + .saltCalendarDay-selectedEnd:before {
    content: "";
    position: absolute;
    top: calc(var(--salt-size-fixed-100) * -1);
    left: calc(calc(var(--calendar-gap) * -1) - calc(var(--salt-size-fixed-100) * 2));
    right: calc(var(--calendar-day-size) - calc(var(--salt-size-fixed-100) * 2));
    bottom: calc(var(--salt-size-fixed-100) * -1);
    background-color: var(--salt-selectable-background-hover);
    border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor-selected);
  }
}

.saltCalendarMonth-offset {
  .saltCalendarDay:hover,
  .saltCalendarDay-hoveredStart,
  .saltCalendarDay-hoveredSpan,
  .saltCalendarDay-hoveredEnd {
    color: var(--salt-content-primary-foreground);
    background: var(--salt-selectable-background-hover);
  }

  .saltCalendarDay-hoveredSpan:not(.saltCalendarDay-selectedStart):not(.saltCalendarDay-selectedSpan):not(.saltCalendarDay-selectedEnd):before {
    border: none;
  }
  .saltCalendarDay-hoveredStart,
  .saltCalendarDay-selectedStart {
    border-radius: var(--salt-palette-corner-weak, 0) 0 0 var(--salt-palette-corner-weak, 0);
  }

  .saltCalendarDay.saltCalendarDay-hoveredEnd,
  .saltCalendarDay-selectedEnd {
    border-radius: 0 var(--salt-palette-corner-weak, 0) var(--salt-palette-corner-weak, 0) 0;
  }

  .saltCalendarDay-hoveredSpan,
  .saltCalendarDay-selectedSpan {
    border-radius: 0;
  }

  .saltCalendarDay-selectedStart.saltCalendarDay-selectedEnd {
    border-radius: var(--salt-palette-corner-weak, 0);
  }

  .saltCalendarDay-hoveredStart.saltCalendarDay-selectedStart,
  .saltCalendarDay-hoveredEnd.saltCalendarDay-selectedEnd {
    color: var(--salt-content-primary-foreground);
    background: var(--salt-selectable-background-selected);
  }

  .saltCalendarDay-hoveredStart.saltCalendarDay-hoveredEnd.saltCalendarDay-selectedStart.saltCalendarDay-selectedEnd {
    border-radius: var(--salt-palette-corner-weak, 0);
  }
}

.saltCalendarDay-outOfRange {
  color: var(--salt-content-secondary-foreground);
}
.saltCalendarDay-outOfRange:hover {
  color: var(--salt-content-primary-foreground);
}
.saltCalendarDay-outOfRange .saltCalendarDay-today > span:last-of-type {
  border-bottom: var(--salt-size-indicator) var(--salt-borderStyle-solid) var(--salt-content-secondary-foreground);
}

.saltCalendarDay-outOfRange.saltCalendarDay-highlighted:before {
  background: var(--salt-content-secondary-foreground);
}

.saltCalendarDay-disabled,
.saltCalendarDay-disabled:hover,
.saltCalendarDay-unselectable,
.saltCalendarDay-unselectable:hover {
  background: var(--salt-selectable-background-disabled);
  cursor: var(--salt-cursor-disabled);
}

.saltCalendarDay-highlighted:before,
.saltCalendarDay-highlighted:hover:before {
  content: "";
  height: var(--salt-spacing-200); /* TODO: change for size-modifier when available */
  width: var(--salt-spacing-200);
  top: calc(var(--salt-spacing-100) * -1);
  right: calc(var(--salt-spacing-100) * -1);
  transform: rotate(45deg);
  background: var(--salt-accent-background);
  position: absolute;
}

.saltCalendarDay-unselectable:after {
  content: "";
  height: var(--salt-size-fixed-100);
  width: calc(100% - var(--salt-spacing-100));
  background: var(--salt-content-secondary-foreground);
  position: absolute;
}

.saltCalendarDay-today > span:last-of-type::after {
  content: "";
  display: block;
  width: calc(100% - calc(var(--salt-spacing-50) * 2));
  height: var(--salt-size-indicator);
  background-color: var(--salt-accent-borderColor);
  border-radius: var(--salt-palette-corner-weak);
  position: absolute;
  bottom: var(--salt-spacing-50);
  left: var(--salt-spacing-50);
  right: var(--salt-spacing-50);
}

.saltCalendarDay-disabled,
.saltCalendarDay-disabled:hover {
  color: var(--salt-content-secondary-foreground-disabled);
}

.saltCalendarDay-hidden {
  visibility: hidden;
}
