.uitk-light .uitkCalendarDay {
  --calendar-day-current-day-border-color: var(--uitk-grey-900);
}

.uitk-dark .uitkCalendarDay {
  --calendar-day-current-day-border-color: var(--uitk-white);
}

.uitkCalendarDay {
  --calendar-day-text-color: var(--uitk-text-primary-color);
  --calendar-day-background: var(--uitk-selectable-background);
  --calendar-day-background-hover: var(--uitk-selectable-background-hover);
  --calendar-day-text-color-hover: var(--uitk-selectable-text-color);
  --calendar-day-out-of-range-text-color: var(--uitk-grey-70);
  --calendar-day-blocked-text-color: var(--uitk-selectable-text-color);
  --calendar-day-blocked-cursor: var(--uitk-disabled-cursor);
  --calendar-day-blocked-icon-color: var(--uitk-status-error-icon-color);
  --calendar-day-blocked-background: var(--calendar-day-background);
  --calendar-day-unselectable-text-color: var(--uitk-text-secondary-color-disabled);
  --calendar-day-unselectable-background: var(--calendar-day-background);
  --calendar-day-unselectable-cursor: var(--uitk-disabled-cursor);

  --calendar-day-selected-background: var(--uitk-selectable-background-active);
  --calendar-day-selected-text-color: var(--uitk-selectable-text-color-active);
  --calendar-day-selected-focused-outline-color: var(--uitk-white);

  --calendar-day-selected-start-background: var(--uitk-selectable-background-active);
  --calendar-day-selected-start-text-color: var(--uitk-selectable-text-color-active);
  --calendar-day-selected-start-focused-outline-color: var(--uitk-white);

  --calendar-day-selected-end-background: var(--uitk-selectable-background-active);
  --calendar-day-selected-end-text-color: var(--uitk-selectable-text-color-active);
  --calendar-day-selected-end-focused-outline-color: var(--uitk-white);

  --calendar-day-selected-span-background: var(--uitk-selectable-background-hover);
  --calendar-day-selected-span-text-color: var(--uitk-selectable-text-color);

  --calendar-day-hovered-span-background: var(--uitk-selectable-background-hover);
  --calendar-day-hovered-span-text-color: var(--uitk-selectable-text-color);

  --calendar-day-hovered-offset-background: var(--uitk-selectable-background-hover);
  --calendar-day-hovered-offset-text-color: var(--uitk-selectable-text-color);

  /* Focus */
  --calendar-day-focused-outline: var(--uitk-focused-outline);
  --calendar-day-size: var(--uitk-size-regular-unit);
  --calendar-day-font-size: var(--uitk-text-font-size);
}

.uitkCalendarDay {
  width: var(--calendar-day-size);
  height: var(--calendar-day-size);
  color: var(--calendar-day-text-color);
  background-color: var(--calendar-day-background);
  font-size: var(--calendar-day-font-size);
  border: 0;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uitkCalendarDay:focus-visible {
  outline: var(--calendar-day-focused-outline);
  outline-offset: calc(0px - var(--uitk-focused-line-width));
}

.uitkCalendarDay-outOfRange {
  color: var(--calendar-day-out-of-range-text-color);
}

.uitkCalendarDay:hover {
  background: var(--calendar-day-background-hover);
  color: var(--calendar-day-text-color-hover);
}

.uitkCalendarDay-unselectableHighEmphasis,
.uitkCalendarDay-unselectableHighEmphasis:hover {
  color: var(--calendar-day-blocked-text-color);
  cursor: var(--calendar-day-blocked-cursor);
  background: var(--calendar-day-blocked-background-color);
}

.uitkCalendarDay-today {
  border: 1px solid var(--calendar-day-current-day-border-color);
}

.uitkCalendarDay-selectedSpan,
.uitkCalendarDay-selectedSpan:hover {
  background: var(--calendar-day-selected-span-background-color);
  color: var(--calendar-day-selected-span-text-color);
}

.uitkCalendarDay-hoveredSpan,
.uitkCalendarDay-hoveredSpan:hover {
  background-color: var(--calendar-day-hovered-span-background-color);
  color: var(--calendar-day-hovered-span-text-color);
}

.uitkCalendarDay-hoveredOffset,
.uitkCalendarDay-hoveredOffset:hover {
  background-color: var(--calendar-day-hovered-offset-background-color);
  color: var(--calendar-day-hovered-offset-text-color);
}

.uitkCalendarDay-selected,
.uitkCalendarDay-selected:hover {
  background: var(--calendar-day-selected-background-color);
  color: var(--calendar-day-selected-text-color);
}

.uitkCalendarDay-selectedStart,
.uitkCalendarDay-selectedStart:hover {
  background: var(--calendar-day-selected-start-background-color);
  color: var(--calendar-day-selected-start-text-color);
}

.uitkCalendarDay-selectedEnd,
.uitkCalendarDay-selectedEnd:hover {
  background: var(--calendar-day-selected-end-background-color);
  color: var(--calendar-day-selected-end-text-color);
}

.uitkCalendarDay-selected:focus-visible {
  outline-color: var(--calendar-day-selected-focused-outline-color);
}

.uitkCalendarDay-selectedStart:focus-visible {
  outline-color: var(--calendar-day-selected-start-focused-outline-color);
}

.uitkCalendarDay-selectedEnd:focus-visible {
  outline-color: var(--calendar-day-selected-end-focused-outline-color);
}

.uitkCalendarDay-unselectableLowEmphasis,
.uitkCalendarDay-unselectableLowEmphasis:hover {
  color: var(--calendar-day-unselectable-text-color);
  background: var(--calendar-day-unselectable-background-color);
  cursor: var(--calendar-day-unselectable-cursor);
  text-decoration: line-through;
}

.uitk-density-high .uitkCalendarDay-blockedIcon {
  --calendar-day-blocked-icon-size: 14px;
}

.uitk-density-medium .uitkCalendarDay-blockedIcon {
  --calendar-day-blocked-icon-size: 18px;
}

.uitk-density-low .uitkCalendarDay-blockedIcon {
  --calendar-day-blocked-icon-size: 24px;
}

.uitk-density-touch .uitkCalendarDay-blockedIcon {
  --calendar-day-blocked-icon-size: 28px;
}

.uitkCalendarDay-blockedIcon {
  fill: var(--calendar-day-blocked-icon-color);
  position: absolute;
  --icon-size: var(--calendar-day-blocked-icon-size);
  pointer-events: none;
  line-height: 1.29;
}

.uitkCalendarDay-hidden {
  visibility: hidden;
}
