.uitkCalendarWeekHeader {
  --calendar-week-header-underline-color: var(--uitk-separable-secondary-borderColor);
  --calendar-week-header-text-color: var(--uitk-text-secondary-foreground);
  --calendar-week-header-size: var(--uitk-size-base);
  --calendar-week-header-fontSize: var(--uitk-text-caption-fontSize);
}

.uitkCalendarWeekHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  box-shadow: inset 0 -1px 0 var(--calendar-week-header-underline-color);
}

.uitkCalendarWeekHeader-dayOfWeek {
  width: var(--calendar-week-header-size);
  height: var(--calendar-week-header-size);
  color: var(--calendar-week-header-text-color);
  line-height: var(--calendar-week-header-size);
  font-size: var(--calendar-week-header-fontSize);
}
