.saltCalendarCarousel-track {
  display: grid;
  grid-auto-flow: column;
}

.saltCalendarCarousel-track > * {
  position: absolute;
  left: 0;
  width: 100%;
}

.saltCalendarCarousel-track > :nth-child(2) {
  position: relative;
}

.saltCalendarCarousel-shouldAnimate {
  transition: none;
}
