.saltCalendarWeekHeader {
  --calendar-week-header-underline-color: var(--salt-separable-secondary-borderColor);
  --calendar-week-header-text-color: var(--salt-content-secondary-foreground);
  --calendar-week-header-size: var(--salt-size-base);
  --calendar-week-header-fontSize: var(--saltCalendar-week-header-fontSize, var(--salt-text-label-fontSize));
}

.saltCalendarWeekHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  box-shadow: inset 0 -1px 0 var(--calendar-week-header-underline-color);
}

.saltCalendarWeekHeader-dayOfWeek {
  width: var(--calendar-week-header-size);
  height: var(--calendar-week-header-size);
  color: var(--calendar-week-header-text-color);
  line-height: var(--calendar-week-header-size);
  font-size: var(--calendar-week-header-fontSize);
}
