.uitkTooltray {
  --tooltray-height: var(--toolbar-size);
}

.uitkTooltray {
  background-color: inherit;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.uitkTooltray-horizontal {
  height: var(--tooltray-height);
}

.uitkTooltray > .Responsive-inner > .uitkToolbarField {
  /* --uitkButton-focused-outlineStyle: none; */
  flex-shrink: 0;
  flex-grow: 0;
}
.uitkTooltray > .Responsive-inner {
  align-items: center;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  gap: 0 !important;
  justify-content: inherit;
}

/* .uitkTooltray-horizontal > .Responsive-inner > :not(:last-child) { */
.uitkTooltray-horizontal > .Responsive-inner > * {
  margin-top: var(--uitk-size-unit);
  margin-right: var(--uitk-size-unit);
}

/* .uitkTooltray-horizontal:first-child {
  padding-left: var(--uitk-size-unit);
} */
/* .uitkTooltray-horizontal:last-child {
  padding-right: var(--uitk-size-unit);
} */

.uitkTooltray-horizontal:not(:first-child) {
  margin-left: var(--uitk-size-unit);
  padding-left: calc(var(--uitk-size-unit) * 2);
}
.uitkTooltray-horizontal:not(:first-child):before {
  content: "";
  position: absolute;
  background: #c5c9d0;
  top: 8px;
  left: 0;
  width: 1px;
  height: 28px;
}

.uitkTooltray > .Responsive-inner > .uitkToolbarField {
  flex: 0 0 auto;
}

.uitkTooltray > .Responsive-inner > *[data-pad-start="true"] {
  margin-left: auto;
}

.uitkTooltray[data-collapsible="dynamic"] {
  flex-shrink: 0;
}
.uitkTooltray[data-collapsible="dynamic"] > .Responsive-inner {
  flex-wrap: wrap;
}
.uitkTooltray[data-collapsing="true"] {
  flex-shrink: 1;
}

.uitkTooltray[data-collapsed="true"] {
  flex-shrink: 1;
}

.uitkTooltray[data-collapsible="dynamic"][data-collapsed="true"] {
  flex-basis: 0;
}
