.uitkToolbar {
  --toolbar-background: var(--uitk-container-background-medium);
  --toolbar-font-size: var(--uitk-text-fontSize);
  /* --uitkFormActivationIndicator-size: 0; */
}

.uitkToolbar [data-activation-indicator] {
  --uitkFormActivationIndicator-size: 1px;
}

.uitkToolbar {
  background-color: var(--uitkToolbar-background-color, var(--toolbar-background));
  box-sizing: border-box;
  font-size: var(--toolbar-font-size);
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

/* .uitkToolbarField:not([data-overflow-indicator]) > .uitkButton {
  --uitkButton-fontSize: 0;
  --uitkButton-letterSpacing: 0;
} */

.uitkToolbar > .Responsive-inner {
  align-items: flex-start;
  flex: 1;
  flex-wrap: wrap;
  justify-content: inherit;
  margin: 0 !important;
  overflow: hidden;
  padding: 0 !important;
}

.uitkToolbar[aria-orientation="horizontal"] {
  display: flex;
  height: var(--uitkToolbar-height, var(--uitk-size-toolbar));
  line-height: normal;
  min-width: 0;
  white-space: nowrap;
  width: var(--uitkToolbar-width, 100%);
}

.uitkToolbar[aria-orientation="horizontal"] > .Responsive-inner {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.uitkToolbar[aria-orientation="horizontal"] > .Responsive-inner > * {
  padding-top: var(--uitk-size-unit);
  padding-right: var(--uitk-size-unit);
}

.uitkToolbar[aria-orientation="horizontal"] > .Responsive-inner > *:first-child {
  padding-left: var(--uitk-size-unit);
}

.uitkToolbar[aria-orientation="vertical"] {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.uitkToolbar[aria-orientation="vertical"] > .Responsive-inner {
  display: inline-flex;
  flex-direction: column;
  max-height: 100%;
}

.uitkToolbar > .Responsive-inner[data-collapsing="true"] {
  flex-wrap: nowrap;
}

.uitkToolbar > .Responsive-inner[data-collapsing="true"] > *[data-overflowed="true"] {
  min-width: 0;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 0;
  margin: 0;
  visibility: visible;
}

.uitkToolbar > .Responsive-inner > *[data-pad-start="true"] {
  margin-left: auto;
}

.uitkToolbarField-start {
  margin-left: 0 !important;
  order: -1;
}

.uitkToolbar > .Responsive-inner > .uitkToolbarField {
  --uitkButton-focused-outline-style: none;
  flex-shrink: 0;
  flex-grow: 0;
}
