
.uitkToolbarButton:not([data-is-inside-panel]):not(.uitkToolbarButton-vertical) {
  --uitkButton-fontSize: 0;
  --uitkButton-letterSpacing: 0;
}

.uitkToolbar-buttonOnly[aria-orientation="vertical"] .uitkToolbarButton {
  --uitkButton-fontSize: 0;
  --uitkButton-letterSpacing: 0;
}
