.saltInlaidPanel {
  overflow: hidden;
  flex-shrink: 0;
  align-self: stretch;
  background-color: var(--salt-container-primary-background);
  --saltInlaidPanel-width: 16rem;
  --saltInlaidPanel-height: 16rem;
}

.saltInlaidPanel.saltInlaidPanel-left {
  border-right: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
}
.saltInlaidPanel.saltInlaidPanel-right {
  border-left: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
}
.saltInlaidPanel.saltInlaidPanel-top {
  border-bottom: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
}
.saltInlaidPanel.saltInlaidPanel-bottom {
  border-top: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
}

.saltInlaidPanel.saltInlaidPanel-left,
.saltInlaidPanel.saltInlaidPanel-right {
  width: var(--saltInlaidPanel-width);
  height: 100%;
}

.saltInlaidPanel.saltInlaidPanel-top,
.saltInlaidPanel.saltInlaidPanel-bottom {
  height: var(--saltInlaidPanel-height);
  width: 100%;
}

.saltInlaidPanel.saltInlaidPanel-left.saltInlaidPanel-enterAnimation,
.saltInlaidPanel.saltInlaidPanel-right.saltInlaidPanel-enterAnimation {
  animation: saltInlaidPanel-expandWidth var(--salt-animation-duration) var(--salt-animation-timing-function);
}

.saltInlaidPanel.saltInlaidPanel-left.saltInlaidPanel-exitAnimation,
.saltInlaidPanel.saltInlaidPanel-right.saltInlaidPanel-exitAnimation {
  animation: saltInlaidPanel-collapseWidth var(--salt-animation-duration) var(--salt-animation-timing-function) both;
}

.saltInlaidPanel.saltInlaidPanel-top.saltInlaidPanel-enterAnimation,
.saltInlaidPanel.saltInlaidPanel-bottom.saltInlaidPanel-enterAnimation {
  animation: saltInlaidPanel-expandHeight var(--salt-animation-duration) var(--salt-animation-timing-function);
}

.saltInlaidPanel.saltInlaidPanel-top.saltInlaidPanel-exitAnimation,
.saltInlaidPanel.saltInlaidPanel-bottom.saltInlaidPanel-exitAnimation {
  animation: saltInlaidPanel-collapseHeight var(--salt-animation-duration) var(--salt-animation-timing-function) both;
}

.saltInlaidPanel.saltInlaidPanel-exitAnimation {
  pointer-events: none;
}

.saltInlaidPanel-inner {
  box-sizing: border-box;
  overflow: auto;
  padding: var(--salt-spacing-300);
}

.saltInlaidPanel:focus-visible {
  outline: var(--salt-focused-outline);
}

.saltInlaidPanel:focus:not(:focus-visible) {
  outline: 0;
}

.saltInlaidPanel.saltInlaidPanel-left .saltInlaidPanel-inner,
.saltInlaidPanel.saltInlaidPanel-right .saltInlaidPanel-inner {
  width: var(--saltInlaidPanel-width);
  height: 100%;
}

.saltInlaidPanel.saltInlaidPanel-top .saltInlaidPanel-inner,
.saltInlaidPanel.saltInlaidPanel-bottom .saltInlaidPanel-inner {
  height: var(--saltInlaidPanel-height);
  width: 100%;
}

@keyframes saltInlaidPanel-expandWidth {
  from {
    width: 0;
  }
}
@keyframes saltInlaidPanel-collapseWidth {
  to {
    width: 0;
  }
}
@keyframes saltInlaidPanel-expandHeight {
  from {
    height: 0;
  }
}
@keyframes saltInlaidPanel-collapseHeight {
  to {
    height: 0;
  }
}
