.saltOverlayFooter {
  padding: var(--saltOverlay-footer-padding, var(--salt-spacing-100));
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--salt-spacing-100);
  flex-shrink: 0;
  box-sizing: border-box;
}
