.saltOverlayPanelContent {
  animation: var(--salt-animation-fade-in-center);
  position: relative;
  overflow: hidden;
  padding: var(--saltOverlay-content-padding, var(--salt-spacing-100));
}

.saltOverlayPanelContent-overflow {
  padding-right: var(--salt-spacing-100);
  border-top: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) transparent;
  border-bottom: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) transparent;
  overflow-y: auto;
}
.saltOverlayPanelContent-overflow.saltOverlayPanelContent-scroll-top {
  border-top: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-separable-tertiary-borderColor);
}
