.saltOverlayPanelCloseButton {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.saltOverlayPanel-inner {
  display: grid;
  grid-template-columns: 1fr auto;
}

.saltOverlayPanelContent {
  grid-row: 1 / 1;
}
