.saltOverlayPanel {
  --overlay-borderColor: var(--saltOverlay-borderColor, var(--salt-container-bold-borderColor));
  --overlay-background: var(--saltOverlay-background, var(--salt-container-primary-background));
  font-family: var(--salt-text-fontFamily);
  font-size: var(--saltOverlay-fontSize, var(--salt-text-fontSize));
  font-weight: var(--saltOverlay-fontWeight, var(--salt-text-fontWeight));
  line-height: var(--saltOverlay-lineHeight, var(--salt-text-lineHeight));
  letter-spacing: var(--salt-text-letterSpacing);

  border-color: var(--overlay-borderColor);
  border-style: var(--saltOverlay-borderStyle, var(--salt-borderStyle-solid));
  border-width: var(--saltOverlay-borderWidth, var(--salt-size-fixed-100));
  border-radius: var(--saltOverlay-borderRadius, var(--salt-palette-corner, 0));

  background: var(--overlay-background);
  box-shadow: var(--saltOverlay-boxShadow, var(--salt-overlayable-shadow-popout));

  color: var(--saltOverlay-text-color, var(--salt-content-primary-foreground));
  z-index: var(--saltOverlay-zIndex, var(--salt-zIndex-flyover));
  width: max-content;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
}

.saltOverlayPanel-content {
  max-width: inherit;
  max-height: inherit;
  overflow-y: auto;
  box-sizing: border-box;
}

.saltOverlayPanel-content.saltOverlayPanel-sectioned {
  display: flex;
  flex-direction: column;
}

@supports selector(:has(*)) {
  .saltOverlayPanel-content:has(> .saltOverlayHeader, > .saltOverlayPanelContent, > .saltOverlayFooter) {
    display: flex;
    flex-direction: column;
  }
}
