.saltOverlayPanelContent {
  animation: var(--salt-animation-fade-in-center);
  position: relative;
  overflow: hidden;
  padding: var(--saltOverlay-content-padding, var(--salt-spacing-100));
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
}

.saltOverlayHeader ~ .saltOverlayPanelContent {
  padding-top: 0;
}

.saltOverlayPanelContent:not(:last-child) {
  padding-bottom: 0;
}

.saltOverlayPanelContent-container {
  flex: 1;
  min-width: 0;
}

.saltOverlayPanelContent-overflow {
  padding-right: var(--salt-spacing-100);
  border-top: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) transparent;
  border-bottom: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) transparent;
  overflow-y: auto;
}
.saltOverlayPanelContent-overflow.saltOverlayPanelContent-scroll-top {
  border-top-color: var(--salt-separable-tertiary-borderColor);
}

.saltOverlayPanelContent-overflow.saltOverlayPanelContent-scroll-bottom {
  border-bottom-color: var(--salt-separable-tertiary-borderColor);
}
