:root {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  background: var(--salt-container-primary-background);
}

::selection {
  background: var(--salt-content-foreground-highlight);
}
