/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: var(--uitk-color-gray-900);
  --ifm-font-family-base: var(--uitk-typography-fontFamily);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] .uitk-theme {
  --ifm-heading-color: var(--uitk-color-white);
  --ifm-link-hover-color: var(--uitk-text-link-foreground-hover);
  --ifm-footer-link-hover-color: var(--uitk-text-link-foreground-hover);
  --ifm-menu-color: var(--uitk-color-gray-900);
  --ifm-menu-color-active: var(--uitk-color-gray-900);
  --ifm-menu-link-padding-horizontal: calc(var(--uitk-size-unit) * 2);
  --ifm-menu-link-padding-vertical: var(--uitk-size-unit);
  --ifm-toc-border-color: var(--uitk-separable-tertiary-borderColor);
}

.main-wrapper {
  background-color: var(--uitk-color-gray-900);
}

.navbar {
  --ifm-navbar-height: 60px;
  --ifm-navbar-background-color: var(--uitk-color-gray-900);
  --ifm-navbar-padding-vertical: var(--uitk-size-unit);
  --ifm-navbar-padding-horizontal: calc(var(--uitk-size-unit) * 3);
}

.navbar__item {
  --ifm-navbar-item-padding-vertical: calc(var(--uitk-size-unit) * 1);
}

.navbar__logo {
  height: 26px;
}

.navbar__logo__separator {
  border-right: 1px solid var(--uitk-color-gray-400);
  height: 14px;
  margin: 0px calc(var(--uitk-size-unit) * 2);
}

.navbar__items {
  gap: var(--uitk-size-unit);
}

.navbar__link {
  font-weight: inherit;
  height: 100%;
}

.navbar__link--active {
  font-weight: var(--uitk-navigable-fontWeight-active);
  border-bottom: 2px solid var(--uitk-navigable-indicator-active);
  color: inherit;
}

.navbar__link:hover {
  color: inherit;
}

.navbar__link:hover:not(.navbar__link--active):not(.header-github-link) {
  background-color: var(--uitk-palette-navigate-background-hover-high);
  border-bottom: 2px solid var(--uitk-navigable-indicator-hover);
}

.theme-doc-sidebar-container {
  background-color: var(--uitk-color-white);
}

.theme-doc-sidebar-container .menu {
  padding: 0;
}

.theme-doc-sidebar-container .menu__link {
  border-radius: 0;
}

.theme-doc-sidebar-container .menu__link--active {
  font-weight: var(--uitk-navigable-fontWeight-active);
  border-left: 4px solid var(--uitk-navigable-indicator-active);
}

.theme-doc-sidebar-container .menu__link:hover {
  background-color: var(--uitk-color-gray-20);
}

.docs-wrapper .main-wrapper {
  background-image: url(@site/static/img/background_gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.docs-wrapper .container .col {
  padding: 0;
}

.docs-wrapper .pagination-nav {
  background-color: #10212b;
  padding: 0 calc(var(--uitk-size-unit) * 3);
  margin-top: 0;
}

.docs-wrapper .pagination-nav__link {
  padding: calc(var(--uitk-size-unit) * 3);
  text-align: left;
  border: none;
  border-radius: unset;
}

.docs-wrapper .pagination-nav__link:hover {
  --ifm-link-hover-color: none;
}

.docs-wrapper .pagination-nav__link:hover {
  background-color: var(--uitk-color-teal-900);
}

.docs-wrapper .pagination-nav .pagination-nav__sublabel {
  font-size: var(--uitk-text-h2-fontSize);
  font-weight: var(--uitk-text-h2-fontWeight);
  margin-bottom: var(--uitk-size-unit);
}

.docs-wrapper .pagination-nav .pagination-label {
  font-size: var(--uitk-text-h3-fontSize);
  font-weight: var(--uitk-text-h3-fontWeight);
}

.docs-wrapper .pagination-nav__link--next .pagination-nav__label::after,
.docs-wrapper .pagination-nav__link--prev .pagination-nav__label::before {
  content: "";
}

.docs-wrapper main .container {
  max-width: none;
  /* using !important here is not ideal but this is required to override docusauros own !important style */
  padding-bottom: 0 !important;
}

.docs-page-content {
  background-color: var(--uitk-color-white);
  color: var(--uitk-color-gray-900);
  padding: calc(var(--uitk-size-unit) * 3);
}

.docs-page-content h2 {
  --ifm-h2-font-size: var(--uitk-text-h2-fontSize);
  --ifm-heading-font-weight: var(--uitk-text-h2-fontWeight);
  --ifm-heading-line-height: var(--uitk-text-h2-lineHeight);
  --ifm-heading-color: var(--uitk-color-gray-900);
}

.theme-doc-markdown.markdown > h1:first-child {
  --ifm-h1-font-size: var(--uitk-text-display1-fontSize);
  --ifm-heading-font-weight: var(--uitk-text-display1-fontWeight);
  --ifm-heading-line-height: var(--uitk-text-display1-lineHeight);
}

.theme-doc-markdown.markdown > h1:first-child {
  margin: calc(var(--uitk-size-unit) * 7) calc(var(--uitk-size-unit) * 3) calc(var(--uitk-size-unit) * 3) calc(var(--uitk-size-unit) * 3);
}

.footer {
  --ifm-footer-background-color: var(--uitk-color-gray-900);
}

.header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: "";
  display: block;
  height: 14px;
  width: 14px;
}
