/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

pre {
  --pre-background-color: var(--salt-container-secondary-background);
  --pre-border-radius: 0.4rem;
  --pre-color: var(--salt-content-primary-foreground);
  --code-font-size: 90%;
  --pre-line-height: 1.45;
  --font-family-monospace: var(--salt-text-code-fontFamily);
  --pre-shadow: 0 1px 2px 0 #0000001a;
}

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  text-shadow: 0 1px white;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: var(--salt-spacing-200);
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--pre-background-color);
  border-radius: var(--pre-border-radius);
  color: var(--pre-color);
  font: var(--code-font-size) / var(--pre-line-height) var(--font-family-monospace);
  box-shadow: var(--pre-shadow);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--salt-category-15-subtle-foreground);
}

.token.punctuation,
.token.attr-value.token.punctuation,
.token.tag.token.punctuation {
  color: var(--salt-category-15-subtle-foreground);
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--salt-category-8-subtle-foreground);
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted,
.token.keyword {
  color: var(--salt-category-14-subtle-foreground);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--salt-category-18-subtle-foreground);
  /* This background color was intended by the author of this theme. */
  background: transparent;
}

.token.atrule,
.token.attr-value,
.token.string {
  color: var(--salt-category-1-subtle-foreground);
}

.token.function,
.token.class-name {
  color: var(--salt-category-8-subtle-foreground);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--salt-category-10-subtle-foreground);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
