.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--salt-spacing-200);
}

.container {
  margin-inline-start: var(--salt-spacing-400);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
}
