.accordion {
  --saltAccordion-section-borderColor: rgba(255, 255, 255, 0.1);
  --saltAccordion-summary-background-hover: var(--salt-color-gray-20);
  --saltAccordion-summary-background: none;
  --saltAccordion-summary-background-active: none;
  --saltAccordion-summary-paddingLeft: 0;
  --saltAccordion-summary-background-hover: transparent;
  --accordion-padding-left: var(--salt-size-unit);
  --accordion-section-padding: calc(var(--salt-size-unit) * 2) 0;
  --ifm-link-decoration: var(--salt-text-link-textDecoration);
  --ifm-heading-margin-bottom: 0;

  height: calc(100% - var(--keyline-height));
}

.accordion .section {
  padding: var(--accordion-section-padding);
}
.accordion .section:last-of-type {
  border: none;
}

.accordion .summary h2 {
  padding-left: var(--accordion-padding-left);
}

.accordion .summary {
  line-height: initial;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* Override Salt accordion styles */

.summary :global(.saltAccordionSummary-icon:hover) {
  background: var(--accordion-summary-background-hover);
}

.summary :global(.saltIcon) {
  --salt-size-icon-base: calc(var(--salt-size-unit) * 2);
}

.accordion :global(.saltAccordionDetails .saltAccordionDetails-content) {
  padding-left: var(--salt-size-unit);
}

/* ----------------------------- */

@media screen and (max-width: 768px) {
  .summary :global(.saltIcon) {
    --salt-size-icon-base: var(--salt-size-unit);
  }
}
