.accordion .header {
  padding: var(--salt-spacing-200);
}

.group .accordion:last-of-type {
  border: none;
}

.accordion .header h2 {
  padding-left: var(--salt-spacing-100);
}

.accordion a {
  text-decoration: var(--salt-navigable-textDecoration);
}

.accordion :global(.saltIcon) {
  --salt-size-icon: var(--salt-spacing-200);
}

.accordion .panel {
  padding-left: var(--salt-spacing-100);
}

/* ----------------------------- */

@media screen and (max-width: 768px) {
  .accordion :global(.saltIcon) {
    --salt-size-icon: var(--salt-spacing-100);
  }
}
