.uitkColorChooser-overlayButtonSwatch {
  margin-right: 10px;
  height: calc(2 * var(--salt-size-unit));
  width: calc(2 * var(--salt-size-unit));
}

.uitkColorChooser-overlayButtonSwatchWithBorder {
  border: 0.2px solid var(--salt-editable-borderColor);
}

.uitkColorChooser-overlayButtonSwatchTransparent {
  height: calc(3 * var(--salt-size-unit) - 2px) !important;
  width: calc(3 * var(--salt-size-unit) - 2px) !important;
  border: 1px solid var(--salt-differential-negative-foreground);
  /* RGBA using red-700 */
  background: linear-gradient(
    to top left,
    rgba(166, 21, 11, 0) 0%,
    rgba(166, 21, 11, 0) calc(50% - 0.8px),
    rgba(166, 21, 11, 1) 50%,
    rgba(166, 21, 11, 0) calc(50% + 0.8px),
    rgba(166, 21, 11, 0) 100%
  );
}

.uitkColorChooser-overlayButtonText {
  font-weight: var(--salt-text-fontWeight);
  font-family: var(--saltButton-fontFamily, var(--salt-text-fontFamily));
  font-size: var(--salt-text-fontSize);
  letter-spacing: normal;
}

.uitkColorChooser-overlayButton {
  background: transparent;
  text-transform: none;
  justify-content: flex-start;
}

.uitkColorChooser-overlayButtonHiddenLabel {
  width: calc(var(--salt-size-unit) * 3);
  display: contents;
}

.uitkColorChooser-overlayButtonClose {
  margin: 5px;
}

.uitkColorChooser-defaultButton {
  float: right;
  background: transparent;
  padding: 6px 2px 6px 2px;
  height: var(--salt-size-stackable);
}

.uitkColorChooser-defaultButton {
  border-bottom: var(--salt-size-border) var(--salt-editable-borderStyle) var(--salt-editable-borderColor);
}

.uitkColorChooser-overlayContent {
  max-width: 100%;
}

.uitkColorChooser-refreshIcon {
  padding-right: 5px;
}
