/* TODO: get rid of this once Tabs is compatible with dark theme */
.uitk-light .uitkColorChooserDictTabs-text {
  background-color: transparent;
  color: var(--uitk-grey-400) !important;
}
.uitk-dark .uitkColorChooserDictTabs-text {
  background-color: transparent;
  color: var(--uitk-white) !important;
}
