.uitkColorChooserHexInput {
  display: flex;
  flex-direction: row;
  padding: 0px 0px calc(3 * var(--uitk-size-unit)) 0px;
}

.uitkColorChooserHexInput-hashSign {
  margin-top: 5px;
  font-size: var(--uitk-text-caption-fontSize);
  padding-right: 6px;
  color: var(--uitk-text-secondary-foreground);
  padding-left: 6px;
}

.uitkColorChooserHexInput-input {
  width: var(--uitk-size-unit);
  border-bottom: var(--uitk-editable-borderWidth) var(--uitk-editable-borderStyle) var(--uitk-editable-borderColor);
}
