.saltColorChooserHexInput {
  display: flex;
  flex-direction: row;
  padding: 0px 0px calc(3 * var(--salt-size-unit)) 0px;
}

.saltColorChooserHexInput-hashSign {
  margin-top: 5px;
  font-size: var(--salt-text-label-fontSize);
  padding-right: 6px;
  color: var(--salt-text-secondary-foreground);
  padding-left: 6px;
}

.saltColorChooserHexInput-input {
  width: var(--salt-size-unit);
  border-bottom: var(--salt-size-border) var(--salt-editable-borderStyle) var(--salt-editable-borderColor);
}
