.uitk-dark .uitkColorChooser-rgbaInput {
  width: var(--uitk-spacing-unit);
  border-bottom: 1px solid var(--uitk-color-white);
  padding-top: 4px;
}

.uitk-light .uitkColorChooser-rgbaInput {
  width: var(--uitk-spacing-unit);
  border-bottom: 1px solid var(--uitk-color-black);
  padding-top: var(--uitk-spacing-unit);
}

.uitkColorChooser-rgbaText {
  margin-top: 5px;
  font-size: var(--uitk-text-caption-font-size);
  color: var(--uitk-text-color);
  padding-top: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

.uitkColorChooser-rgbaInputDiv {
  display: flex;
  flex-direction: row;
  padding: 0px 0px var(--uitk-spacing-unit) 0px;
}

.uitkColorChooser-overrideInput {
  min-width: 0em;
  background: transparent !important;
  color: var(--uitk-text-color);
  border-bottom: 1px solid var(--uitk-text-color);
}

.uitkColorChooser-alphaSpacerDiv {
  height: 24px;
}

.uitkColorChooser-textDivOverrides {
  font-size: var(--uitk-text-caption-font-size);
  font-weight: var(--uitk-typography-weight-bold);
  color: var(--uitk-text-color);
  padding: 0px !important;
}
