.uitkColorChooser-rgbaInput {
  width: var(--uitk-size-unit);
  border-bottom: var(--uitk-editable-border-width) var(--uitk-editable-border-style) var(--uitk-editable-border-color);
  padding-top: var(--uitk-size-unit);
}

.uitkColorChooser-opacityInput {
  min-width: 40px !important;
  width: 40px !important;
  min-height: unset !important;
  border-bottom: var(--uitk-editable-border-width) var(--uitk-editable-border-style) var(--uitk-editable-border-color);
}

.uitkColorChooser-rgbaText {
  margin-top: 5px;
  font-size: var(--uitk-text-caption-font-size);
  color: var(--uitk-text-secondary-color);
  padding-top: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

.uitkColorChooser-rgbaInputDiv {
  display: flex;
  flex-direction: row;
  padding: 0px 0px var(--uitk-size-unit) 0px;
}

.uitkColorChooser-overrideInput {
  min-width: 0em;
  background: transparent !important;
  color: var(--uitk-text-primary-color);
  border-bottom: 1px solid var(--uitk-text-primary-color);
}

.uitkColorChooser-alphaSpacerDiv {
  height: 24px;
}

.uitkColorChooser-textDivOverrides {
  font-size: var(--uitk-text-caption-font-size);
  font-weight: var(--uitk-typography-weight-bold);
  color: var(--uitk-text-primary-color);
  padding: 0px !important;
}
