/*TODO: New component; needs complete restyling to use characteristics properly */
.uitkColorChooserSwatch-swatch,
.uitkColorChooserSwatch-graySwatch {
  margin-bottom: 1px;
  margin-left: 1px;
  cursor: pointer;
}

.uitk-density-touch,
.uitk-density-low,
.uitk-density-medium,
.uitk-density-high {
  --colorChooser-swatch-density-high-size: calc(5 * var(--uitk-size-unit));
  --colorChooser-swatch-density-medium-size: calc(3 * var(--uitk-size-unit));
  --colorChooser-swatch-density-low-size: calc(3 * var(--uitk-size-unit));
  --colorChooser-swatch-density-touch-size: calc(2 * var(--uitk-size-unit));
}

.uitk-density-touch {
  --colorChooser-swatch-size-unit: var(--colorChooser-swatch-density-touch-size);
}
.uitk-density-low {
  --colorChooser-swatch-size-unit: var(--colorChooser-swatch-density-low-size);
}
.uitk-density-medium {
  --colorChooser-swatch-size-unit: var(--colorChooser-swatch-density-medium-size);
}
.uitk-density-high {
  --colorChooser-swatch-size-unit: var(--colorChooser-swatch-density-high-size);
}

.uitkColorChooserSwatch-swatch,
.uitk-theme[data-mode="light"] .uitkColorChooserSwatch-graySwatch {
  width: var(--colorChooser-swatch-size-unit);
  height: var(--colorChooser-swatch-size-unit);
}

.uitkColorChooserSwatch-whiteSwatch {
  margin-bottom: 1px;
  margin-left: 1px;
  cursor: pointer;
}

.uitk-theme[data-mode="light"] .uitkColorChooserSwatch-whiteSwatch {
  border: var(--uitk-size-border) var(--uitk-container-borderColor-style) var(--uitk-container-primary-borderColor);
}

.uitk-theme[data-mode="light"] .uitkColorChooserSwatch-whiteSwatch,
.uitk-theme[data-mode="dark"] .uitkColorChooserSwatch-graySwatch {
  width: calc(var(--colorChooser-swatch-size-unit) - 2);
  height: calc(var(--colorChooser-swatch-size-unit) - 2);
}

.uitk-theme[data-mode="dark"] .uitkColorChooserSwatch-whiteSwatch,
.uitkColorChooserSwatch-graySwatch {
  border: 0px;
}

.uitk-theme[data-mode="dark"] .uitkColorChooserSwatch-whiteSwatch {
  width: calc(var(--colorChooser-swatch-size-unit) - 2);
  height: calc(var(--colorChooser-swatch-size-unit) - 2);
}

.uitk-theme[data-mode="dark"] .uitkColorChooserSwatch-graySwatch {
  border: var(--uitk-size-border) var(--uitk-container-borderColor-style) var(--uitk-container-primary-borderColor);
}

.uitkColorChooserSwatch-active {
  outline: var(--uitk-size-border) var(--uitk-container-borderColor-style) var(--uitk-container-primary-borderColor);
  border: var(--uitk-focused-outlineWidth) var(--uitk-container-borderStyle) var(--uitk-actionable-cta-foreground-active) !important;
  margin-bottom: 1px;
  margin-left: 1px;
  cursor: pointer;
}

.uitkColorChooserSwatch-transparent {
  border: var(--uitk-size-border) var(--uitk-container-borderStyle) var(--uitk-negative-foreground) !important;
  width: calc(var(--colorChooser-swatch-size-unit) - 2px) !important;
  height: calc(var(--colorChooser-swatch-size-unit) - 2px) !important;
  margin-bottom: 1px;
  margin-left: 1px;
  background: linear-gradient(
    to top left,
    rgba(166, 21, 11, 0) 0%,
    rgba(166, 21, 11, 0) calc(50% - 0.8px),
    rgba(166, 21, 11, 1) 50%,
    rgba(166, 21, 11, 0) calc(50% + 0.8px),
    rgba(166, 21, 11, 0) 100%
  ) !important;
}
