.uitkColorChooserSwatches-colorNameTextDiv {
  font-size: var(--uitk-text-font-size);
  font-weight: var(--uitk-typography-weight-bold);
}

.uitk-light .uitkColorChooserSwatches-colorNameTextDiv {
  color: var(--uitk-color-grey-200);
}

.uitk-dark .uitkColorChooserSwatches-colorNameTextDiv {
  color: var(--uitk-color-white);
}

.uitkColorChooserSwatches-colorTextDiv {
  font-size: var(--uitk-text-font-size);
  margin-right: var(--uitk-size-unit);
}

.uitk-light .uitkColorChooserSwatches-colorTextDiv {
  color: var(--uitk-color-grey-200);
}

.uitk-dark .uitkColorChooserSwatches-colorTextDiv {
  color: var(--uitk-color-grey-70);
}

.uitkColorChooserSwatches-alphaTextDiv {
  font-size: var(--uitk-typography-size-regular-unit);
  margin-right: var(--uitk-size-unit);
}

.uitk-light .uitkColorChooserSwatches-alphaTextDiv {
  color: var(--uitk-color-grey-200);
}

.uitk-dark .uitkColorChooserSwatches-alphaTextDiv {
  color: var(--uitk-color-grey-70);
}

.uitkColorChooserSwatches-textDiv {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 0px 8px;
}

.uitkColorChooserSwatches-pickerDiv {
  padding-top: calc(2 * var(--uitk-size-unit));
}
