/*TODO: New component; needs complete restyling to use characteristics properly */
.saltColorChooserSwatch-swatch,
.saltColorChooserSwatch-graySwatch {
  margin-bottom: 1px;
  margin-left: 1px;
  cursor: var(--salt-cursor-hover);
}

.salt-density-touch,
.salt-density-low,
.salt-density-medium,
.salt-density-high {
  --colorChooser-swatch-density-high-size: calc(5 * var(--salt-size-unit));
  --colorChooser-swatch-density-medium-size: calc(3 * var(--salt-size-unit));
  --colorChooser-swatch-density-low-size: calc(3 * var(--salt-size-unit));
  --colorChooser-swatch-density-touch-size: calc(2 * var(--salt-size-unit));
}

.salt-density-touch {
  --colorChooser-swatch-size-unit: var(--colorChooser-swatch-density-touch-size);
}
.salt-density-low {
  --colorChooser-swatch-size-unit: var(--colorChooser-swatch-density-low-size);
}
.salt-density-medium {
  --colorChooser-swatch-size-unit: var(--colorChooser-swatch-density-medium-size);
}
.salt-density-high {
  --colorChooser-swatch-size-unit: var(--colorChooser-swatch-density-high-size);
}

.saltColorChooserSwatch-swatch,
.salt-theme[data-mode="light"] .saltColorChooserSwatch-graySwatch {
  width: var(--colorChooser-swatch-size-unit);
  height: var(--colorChooser-swatch-size-unit);
}

.saltColorChooserSwatch-whiteSwatch {
  margin-bottom: 1px;
  margin-left: 1px;
  cursor: var(--salt-cursor-hover);
}

.salt-theme[data-mode="light"] .saltColorChooserSwatch-whiteSwatch {
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
}

.salt-theme[data-mode="light"] .saltColorChooserSwatch-whiteSwatch,
.salt-theme[data-mode="dark"] .saltColorChooserSwatch-graySwatch {
  width: calc(var(--colorChooser-swatch-size-unit) - 2);
  height: calc(var(--colorChooser-swatch-size-unit) - 2);
}

.salt-theme[data-mode="dark"] .saltColorChooserSwatch-whiteSwatch,
.saltColorChooserSwatch-graySwatch {
  border: 0px;
}

.salt-theme[data-mode="dark"] .saltColorChooserSwatch-whiteSwatch {
  width: calc(var(--colorChooser-swatch-size-unit) - 2);
  height: calc(var(--colorChooser-swatch-size-unit) - 2);
}

.salt-theme[data-mode="dark"] .saltColorChooserSwatch-graySwatch {
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
}

.saltColorChooserSwatch-active {
  outline: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-container-primary-borderColor);
  border: var(--salt-focused-outlineWidth) var(--salt-borderStyle-solid) var(--salt-actionable-cta-foreground-active) !important;
  margin-bottom: 1px;
  margin-left: 1px;
  cursor: var(--salt-cursor-active);
}

.saltColorChooserSwatch-transparent {
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-sentiment-negative-foreground-decorative) !important;
  width: calc(var(--colorChooser-swatch-size-unit) - 2px) !important;
  height: calc(var(--colorChooser-swatch-size-unit) - 2px) !important;
  margin-bottom: 1px;
  margin-left: 1px;
  background: linear-gradient(to top left, rgba(166, 21, 11, 0) 0%, rgba(166, 21, 11, 0) calc(50% - 0.8px), rgba(166, 21, 11, 1) 50%, rgba(166, 21, 11, 0) calc(50% + 0.8px), rgba(166, 21, 11, 0) 100%) !important;
}
