.uitkGridTextCellEditor {
}

.uitkGridTextCellEditor {
  border-collapse: collapse;
  box-sizing: border-box;
  height: var(--uitkGrid-rowHeight);
  margin: 0;
  padding: 0;
}

.uitkGridTextCellEditor input {
  height: var(--uitkGrid-rowHeight);
  width: 100%;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: var(--uitkGrid-cell-padding);
  border: dotted 2px #184c6f;
}
