.container {
  width: 730px;
  height: 588px;
  padding: var(--salt-spacing-300) 0;
}

.header {
  padding: 0 var(--salt-spacing-300) var(--salt-spacing-300);
}

.content {
  overflow-y: auto;
  flex: 1;
  padding: 0 var(--salt-spacing-300) 0;
}

.actions {
  padding: var(--salt-spacing-300) var(--salt-spacing-300) 0;
}
