.saltTag {
  height: calc(var(--salt-size-base) - var(--salt-spacing-100));
  min-height: var(--salt-text-minHeight);
  display: flex;
  column-gap: var(--salt-spacing-50);
  align-items: center;
  padding: var(--salt-spacing-25) var(--salt-spacing-100);
  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
  overflow: hidden;
  border-radius: var(--saltTag-borderRadius, var(--salt-palette-corner-strongest, 9999px));
}

.saltTag-bold {
  background: var(--salt-tag-bold-background, var(--salt-category-1-bold-background));
  color: var(--salt-tag-bold-foreground, var(--salt-category-1-bold-foreground));
  border: var(--salt-size-border) var(--salt-selectable-borderStyle) transparent;
}
.saltTag-subtle {
  background: var(--salt-tag-subtle-background, var(--salt-category-1-subtle-background));
  color: var(--salt-tag-subtle-foreground, var(--salt-category-1-subtle-foreground));
  border: var(--salt-size-border) var(--salt-selectable-borderStyle) transparent;
}

.saltTag-bordered {
  border: var(--salt-size-border) var(--salt-selectable-borderStyle) var(--salt-tag-subtle-borderColor, var(--salt-category-1-subtle-borderColor));
}

.saltTag-category-1 {
  --salt-tag-bold-background: var(--salt-category-1-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-1-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-1-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-1-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-1-subtle-borderColor);
}

.saltTag-category-2 {
  --salt-tag-bold-background: var(--salt-category-2-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-2-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-2-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-2-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-2-subtle-borderColor);
}

.saltTag-category-3 {
  --salt-tag-bold-background: var(--salt-category-3-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-3-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-3-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-3-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-3-subtle-borderColor);
}

.saltTag-category-4 {
  --salt-tag-bold-background: var(--salt-category-4-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-4-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-4-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-4-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-4-subtle-borderColor);
}

.saltTag-category-5 {
  --salt-tag-bold-background: var(--salt-category-5-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-5-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-5-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-5-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-5-subtle-borderColor);
}

.saltTag-category-6 {
  --salt-tag-bold-background: var(--salt-category-6-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-6-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-6-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-6-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-6-subtle-borderColor);
}

.saltTag-category-7 {
  --salt-tag-bold-background: var(--salt-category-7-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-7-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-7-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-7-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-7-subtle-borderColor);
}

.saltTag-category-8 {
  --salt-tag-bold-background: var(--salt-category-8-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-8-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-8-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-8-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-8-subtle-borderColor);
}
.saltTag-category-9 {
  --salt-tag-bold-background: var(--salt-category-9-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-9-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-9-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-9-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-9-subtle-borderColor);
}
.saltTag-category-10 {
  --salt-tag-bold-background: var(--salt-category-10-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-10-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-10-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-10-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-10-subtle-borderColor);
}
.saltTag-category-11 {
  --salt-tag-bold-background: var(--salt-category-11-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-11-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-11-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-11-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-11-subtle-borderColor);
}
.saltTag-category-12 {
  --salt-tag-bold-background: var(--salt-category-12-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-12-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-12-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-12-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-12-subtle-borderColor);
}
.saltTag-category-13 {
  --salt-tag-bold-background: var(--salt-category-13-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-13-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-13-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-13-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-13-subtle-borderColor);
}
.saltTag-category-14 {
  --salt-tag-bold-background: var(--salt-category-14-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-14-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-14-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-14-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-14-subtle-borderColor);
}
.saltTag-category-15 {
  --salt-tag-bold-background: var(--salt-category-15-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-15-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-15-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-15-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-15-subtle-borderColor);
}
.saltTag-category-16 {
  --salt-tag-bold-background: var(--salt-category-16-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-16-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-16-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-16-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-16-subtle-borderColor);
}
.saltTag-category-17 {
  --salt-tag-bold-background: var(--salt-category-17-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-17-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-17-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-17-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-17-subtle-borderColor);
}
.saltTag-category-18 {
  --salt-tag-bold-background: var(--salt-category-18-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-18-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-18-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-18-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-18-subtle-borderColor);
}
.saltTag-category-19 {
  --salt-tag-bold-background: var(--salt-category-19-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-19-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-19-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-19-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-19-subtle-borderColor);
}
.saltTag-category-20 {
  --salt-tag-bold-background: var(--salt-category-20-bold-background);
  --salt-tag-bold-foreground: var(--salt-category-20-bold-foreground);
  --salt-tag-subtle-background: var(--salt-category-20-subtle-background);
  --salt-tag-subtle-foreground: var(--salt-category-20-subtle-foreground);
  --salt-tag-subtle-borderColor: var(--salt-category-20-subtle-borderColor);
}
