.root {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header header" "left middle" "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  position: relative;
}

.oneColumn {
  grid-template-areas: "header" "middle" "footer";
  grid-template-columns: 100%;
}

.middle {
  grid-area: middle;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.twoColumn {
  display: flex;
  height: 100%;
}

.content {
  flex: 1;
  min-width: 1px;
  padding-inline: var(--salt-spacing-300);
  padding-block: var(--salt-spacing-200);
}

@media not screen and (min-width: 960px) {
  .content {
    padding-inline: var(--salt-spacing-100);
  }
}
