.root {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-100);
  padding: var(--salt-spacing-200) var(--salt-spacing-300);
  background: var(--salt-container-secondary-background);
}

.root h1 {
  margin: 0;
}

@media screen and (min-width: 960px) {
  .root .description {
    max-width: 70%;
  }
}

.description p {
  margin: 0;
}
