.root {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-200);
  padding-top: var(--salt-spacing-200);
  position: sticky;
  top: 0;
  height: fit-content;
  max-height: calc(100vh - 103px); /* footer 43, header 60*/
  overflow: auto;
}
