.salt-density-touch {
  --gridLayout-gap-density-multiplier: 2;
}

/* Default variables applied to the root element */
.saltGridLayout {
  --gridLayout-space: 1fr;
  --gridLayout-rowGap: var(--gridLayout-gap-density-multiplier, 3);
  --gridLayout-columnGap: var(--gridLayout-gap-density-multiplier, 3);
}

/* Style applied to the root element */
.saltGridLayout {
  display: grid;
  column-gap: calc(var(--salt-size-unit) * var(--gridLayout-columnGap));
  row-gap: calc(var(--salt-size-unit) * var(--gridLayout-rowGap));
  grid-template-columns: var(--gridLayout-columnTemplate, repeat(var(--gridLayout-columns), var(--gridLayout-space)));
  grid-template-rows: repeat(var(--gridLayout-rows), var(--gridLayout-space));
  grid-auto-columns: auto;
  grid-auto-rows: var(--gridLayout-autoRows);
}

.saltGridLayout-area {
  grid-template: var(--gridLayout-gridTemplate);
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content 1fr min-content;
}
