/* Style applied to the root element */
.saltGridLayout {
  display: grid;
  column-gap: var(--gridLayout-columnGap);
  row-gap: var(--gridLayout-rowGap);
  grid-template-columns: var(--gridLayout-columns);
  grid-template-rows: var(--gridLayout-rows);
  margin: var(--gridLayout-margin);
  padding: var(--gridLayout-padding);
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}

.saltGridLayout-area {
  grid-template: var(--gridLayout-gridTemplate);
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content 1fr min-content;
}
