.saltSwitch {
  display: flex;
  gap: var(--salt-spacing-100);
  position: relative;
  cursor: var(--salt-cursor-hover);
  color: var(--salt-content-primary-foreground);

  font-family: var(--salt-text-fontFamily);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  line-height: var(--salt-text-lineHeight);
}

.saltSwitch-disabled {
  color: var(--salt-content-primary-foreground-disabled);
  cursor: var(--salt-cursor-disabled);
}

.saltSwitch-track {
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor);
  --saltIcon-size: 100%;
  border-radius: var(--salt-palette-corner-weak, 0);
  display: flex;
  flex-shrink: 0;
  height: calc(var(--salt-size-base) - var(--salt-spacing-100));
  width: calc((var(--salt-size-selectable) + var(--salt-spacing-25) + var(--salt-size-fixed-100)) * 2);
  align-items: center;
  color: var(--salt-selectable-foreground);
  background: var(--salt-container-primary-background);
  box-sizing: border-box;
}

.saltSwitch-label {
  padding-top: var(--salt-spacing-25);
}

/* Styles applied to the icon component if focused */
.saltSwitch-input:focus-visible + .saltSwitch-track {
  outline-offset: var(--salt-focused-outlineOffset);
  outline: var(--salt-focused-outline);
  border-color: var(--salt-selectable-borderColor-hover);
  color: var(--salt-selectable-foreground-hover);
}

.saltSwitch:hover .saltSwitch-track {
  border-color: var(--salt-selectable-borderColor-hover);
  color: var(--salt-selectable-foreground-hover);
}

.saltSwitch-checked .saltSwitch-track,
.saltSwitch-checked:hover .saltSwitch-track {
  border-color: var(--salt-selectable-borderColor-selected);
  color: var(--salt-selectable-foreground-selected);
}

.saltSwitch-disabled .saltSwitch-track,
.saltSwitch-disabled:hover .saltSwitch-track {
  border-color: var(--salt-selectable-borderColor-disabled);
  color: var(--salt-selectable-foreground-disabled);
  background: var(--salt-container-primary-background-disabled);
}

.saltSwitch-checked.saltSwitch-disabled .saltSwitch-track,
.saltSwitch-checked.saltSwitch-disabled:hover .saltSwitch-track {
  border-color: var(--salt-selectable-borderColor-selectedDisabled);
  color: var(--salt-selectable-foreground-selectedDisabled);
}

.saltSwitch-thumb {
  display: flex;
  aspect-ratio: 1;
  height: var(--salt-size-selectable);
  background: currentColor;
  margin: var(--salt-spacing-25);
  border: var(--salt-size-fixed-100) var(--salt-borderStyle-solid) var(--salt-selectable-borderColor);
  box-sizing: border-box;
  border-radius: var(--salt-palette-corner-weaker, 0);
}

.saltSwitch-input:focus-visible + .saltSwitch-track .saltSwitch-thumb,
.saltSwitch:hover .saltSwitch-thumb {
  border-color: var(--salt-selectable-borderColor-hover);
  transition: transform var(--salt-duration-perceptible) ease-in-out;
}

.saltSwitch-checked .saltSwitch-thumb,
.saltSwitch-checked:hover .saltSwitch-thumb {
  background: transparent;
  border-color: var(--salt-selectable-borderColor-selected);
  transform: translateX(100%);
}

.saltSwitch-disabled .saltSwitch-thumb,
.saltSwitch-disabled:hover .saltSwitch-thumb {
  border: 0;
}

/* Styles applied to input element */
.saltSwitch-input {
  cursor: inherit;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: var(--salt-zIndex-default);
  height: calc(var(--salt-size-base) - var(--salt-spacing-100));
  width: calc((var(--salt-size-selectable) + var(--salt-spacing-25) + var(--salt-size-fixed-100)) * 2);
}

@media (prefers-reduced-motion) {
  .saltSwitch-input:focus-visible + .saltSwitch-track .saltSwitch-thumb,
  .saltSwitch:hover .saltSwitch-thumb {
    transition: none;
  }
}

.salt-density-high .saltSwitch-thumb {
  border: 0;
}

/* Styles applied when switch is inside a form field with label left or right, ensuring alignment with base / input height */
.saltFormField-labelRight .saltSwitch,
.saltFormField-labelLeft .saltSwitch {
  padding-top: var(--salt-spacing-50);
  padding-bottom: var(--salt-spacing-50);
}
