.componentList {
  margin: calc(var(--uitk-size-unit) * 3) 0;
}

.componentList table {
  table-layout: fixed;
}

.componentList a span {
  text-decoration: underline;
}

.componentList td :first-child {
  display: flex;
  align-items: baseline;
  gap: calc(var(--uitk-size-unit) / 2);
}

.componentList th button {
  /* Remove button default styles so it's not visible but we retain its functionality for ADA purposes */
  --uitkButton-background-hover: transparent;
  --uitkButton-background: transparent;
  --uitkButton-background-active: transparent;
  --button-text-color-active: var(--button-text-color-hover);
  --uitkButton-width: 100%;
  --uitkButton-padding: 0;
  --uitkButton-text-color: none;
  --uitkButton-textTransform: none;
  --uitkButton-fontWeight: none;
  --uitkButton-letterSpacing: normal;
  --uitkButton-height: auto;
  --uitkIcon-color: inherit;
  --uitk-actionable-primary-foreground-active: var(--button-text-color-hover);

  display: inline;
}

.componentList th .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.componentList th .headerContainer div {
  display: flex;
  gap: calc(var(--uitk-size-unit) / 2);
}

.componentList .status svg {
  --icon-size: 12px;
}

.componentList .status.ready {
  --uitkIcon-color: var(--uitk-status-success-foreground);
}

.componentList .status.progress {
  --uitkIcon-color: var(--uitk-status-warning-foreground);
}

.componentList .status.backlog {
  --uitkIcon-color: var(--uitk-status-error-foreground);
}
