.uitkThemeEditor {
  border-right: 1px solid var(--uitk-container-border-color);
  background-color: var(--uitk-container-background);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.uitkThemeEditorAppOutputHeader {
  color: var(--uitk-text-primary-color);
  background-color: var(--uitk-container-background);
  flex: 240 0;
}

.uitkThemeEditor h1 {
  padding: 20px 20px 0px 20px;
}
