.saltThemeEditor {
  border-right: 1px solid var(--salt-container-primary-borderColor);
  background-color: var(--salt-container-primary-background);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.saltThemeEditorAppOutputHeader {
  color: var(--salt-foreground-primary);
  background-color: var(--salt-container-primary-background);
  flex: 240 0;
}

.saltThemeEditor h1 {
  padding: 20px 20px 0px 20px;
}
